<div class="page-content" [class.ml0]="authenticationService.isSuperAdmin()">
	<div class="page-bar" style="margin-bottom:0px!important">
		<ul class="page-breadcrumb">
			<li>
				<i class="fa fa-home" aria-hidden="true"></i>
				<a [routerLink]="['/home/dashboard/admin-report']">Admin Report</a>
				<i class="fa fa-angle-right" aria-hidden="true"></i>
			</li>
			<li>
				<i class="fa fa-pencil-square-o" aria-hidden="true"></i>Module Access
			</li>
		</ul>
	</div>

	<div class="portlet light">
		<div class="portlet-body clearfix">
			<ngx-loading [show]="ngxLoading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
			<app-dashboard-loader *ngIf="companyLoader"></app-dashboard-loader>
			<div class="table-responsive" *ngIf="!companyLoader">
				<table class='table tgrid' aria-describedby="company-details-table">
				  <thead>
					<tr>
					  <th style="width: 20%;" scope="row">NAME</th>
					  <th scope="row">COMPANY</th>
					  <th scope="row">STATUS</th>
					  <th class='text-center' scope="row">REGISTRATION DATE</th>
					  <th class='text-center' scope="row">LAST LOGIN</th>
					  <th class='text-center' scope="row">UPDATED TIME</th>
					  <th class='text-center' scope="row">Role</th>
					</tr>
				  </thead>
				  <tbody>
					<ng-container>
					  <tr>
						<td>
						  <app-user-info [userInfo]="companyAndUserDetails">
						  </app-user-info>
						</td>
						<td>{{companyAndUserDetails.companyName}}</td>
						<td>{{companyAndUserDetails.userStatus}}</td>
						<td class='text-center'>
						  <app-timestamp [dateAndTime]="companyAndUserDetails.dateReg"> </app-timestamp>
						</td>
						<td class='text-center'>
						  <app-timestamp [dateAndTime]="companyAndUserDetails.dateLastLogin"> </app-timestamp>
						</td>
						<td class='text-center'>
						  <app-timestamp [dateAndTime]="companyAndUserDetails.updatedTime"> </app-timestamp>
						</td>
						<td class='text-center'>
							{{companyAndUserDetails.roleName}}
						  </td>
					  </tr>
					</ng-container>
				  </tbody>
				</table>
			  </div>
			  
			  <app-response-message [customResponse]="customResponse"
			  *ngIf="customResponse.isVisible"></app-response-message>
			<fieldset style="margin: 20px 2px;">
				<legend>Module Access</legend>
				<app-modal-popup-loader *ngIf="moduleLoader"></app-modal-popup-loader>
				<div *ngIf="!moduleLoader" class="table-responsive" style="overflow-x: inherit; padding:15px;">
					<table class='table tgrid table-hover' aria-describedby="Module-Table">
						<thead>
							<tr>
								<th scope="row">Module Name</th>
								<th scope="row">Access</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">Select Role</th>
								<td>
									<select class="form-control" id="roleId" [(ngModel)]="roleId">
										<option value="13" [selected]="roleId ==13">Vendor</option>
										<option value="19" [selected]="roleId ==19">Vendor-Tier</option>
										<option value="18" [selected]="roleId ==18">Marketing</option>
										<option value="2" [selected]="roleId ==2">Org Admin</option>
									</select>
							</tr>
							<tr>
								<th scope="row">Select source as ALLBOUND</th>
								<td><input type="checkbox" [(ngModel)]="campaignAccess.allBoundSource"
										[ngModelOptions]="{standalone: true}"></td>
							</tr>
							<tr>
								<th scope="row">Email Campaign</th>
								<td><input disabled="disabled" type="checkbox"
										[(ngModel)]="campaignAccess.emailCampaign"
										[ngModelOptions]="{standalone: true}"></td>
							</tr>
							<tr>
								<th scope="row">Video Campaign</th>
								<td><input disabled="disabled" type="checkbox"
										[(ngModel)]="campaignAccess.videoCampaign"
										[ngModelOptions]="{standalone: true}"></td>
							</tr>
							<tr>
								<th scope="row">Social Campaign</th>
								<td><input disabled="disabled" type="checkbox"
										[(ngModel)]="campaignAccess.socialCampaign"
										[ngModelOptions]="{standalone: true}"></td>
							</tr>
							<tr>
								<th scope="row">Event Campaign</th>
								<td><input type="checkbox" [(ngModel)]="campaignAccess.eventCampaign"
										[ngModelOptions]="{standalone: true}"></td>
							</tr>
							<tr>
								<th scope="row">Leads</th>
								<td><input type="checkbox" [(ngModel)]="campaignAccess.leads"
										[ngModelOptions]="{standalone: true}"></td>
							</tr>
							<tr>
								<th scope="row">Form Builder</th>
								<td><input type="checkbox" [(ngModel)]="campaignAccess.formBuilder"
										[ngModelOptions]="{standalone: true}"></td>
							</tr>
							<tr>
								<th scope="row">Page</th>
								<td><input type="checkbox" [(ngModel)]="campaignAccess.landingPage"
										[ngModelOptions]="{standalone: true}"></td>
							</tr>
							<tr>
								<th scope="row">Page Campaign</th>
								<td><input type="checkbox" [(ngModel)]="campaignAccess.landingPageCampaign"
										[ngModelOptions]="{standalone: true}"></td>
							</tr>
							<tr>
								<th scope="row">Login As Team Member</th>
								<td><input type="checkbox" [(ngModel)]="campaignAccess.loginAsTeamMember"
										[ngModelOptions]="{standalone: true}"></td>
							</tr>
							<tr>
								<th scope="row">Vanity URL</th>
								<td><input type="checkbox" [(ngModel)]="campaignAccess.vanityUrlDomain"
										[ngModelOptions]="{standalone: true}"></td>
							</tr>
							<tr>
								<th scope="row">MDF</th>
								<td><input type="checkbox" [(ngModel)]="campaignAccess.mdf"
										[ngModelOptions]="{standalone: true}"></td>
							</tr>
							<tr>
								<th scope="row">Rss Feeds</th>
								<td><input type="checkbox" [(ngModel)]="campaignAccess.rssFeeds"
										[ngModelOptions]="{standalone: true}"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<button *ngIf="!moduleLoader" type="button" (click)="updateModuleAccess()" class="btn green-haze pull-right">Update</button>
			</fieldset>
		</div>
	</div>
</div>