<div class="xamplify-welcome-page-header navbar zero-padding">
  <div class="page-header-inner">
    <!--Company Logo-->
    <div class="xamplify-welcome-page-logo">
      <div class="xamplify-company-logo-thumbnail-wrapper">
        <img class="xamplify-welcome-page-image-c"  src="../../../assets/images/xamplify-logo.png"
          onerror="this.src='assets/images/xamplify-logo.png';" />
      </div>
    </div>
    <!---->
    <div class="xamplify-welcome-page-top">
      <div class="xamplify-welcome-page-top-menu">
        <ul class="xamplify-welcome-page-ul" style="display: -webkit-inline-box;padding-right: 6px;">
        </ul>
      </div>
    </div>
  </div>
</div>