<div class="page-content" *ngIf="!authenticationService?.module?.prmDashboard">
   <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
   <div class="page-bar mPageBar mb-height_auto" style="height:48px;">
      <ul class="page-breadcrumb">
         <li>
            <i class="fa fa-home" aria-hidden="true"></i>
            <a [routerLink]="referenceService?.homeRouter" translate>Home</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
         </li>
         <li><a translate>Select Module</a></li>
      </ul>
      <div style="padding: 3px 3px 0px 0px;">
      <app-user-guide-help-button [searchForGuides]="searchWithModuleName"></app-user-guide-help-button>
   </div>
   </div>
   <div *ngIf="authenticationService?.module?.contentLoader">
      <app-modal-popup-loader></app-modal-popup-loader>
   </div>
   <div class="alert alert-info"
      *ngIf="!authenticationService?.module?.showContent && !authenticationService?.module?.contentLoader && !loadModules">
      <strong>No Modules Found</strong>
   </div>
   <div class="row" *ngIf="authenticationService?.module?.showContent && !authenticationService?.module?.contentLoader">
      <div class="col-md-12">
         <div class="padding">
            <!-- <div class="portlet-title">
               <div class="caption" translate style="font-size:20px !important;">
                  Select Module
               </div>
            </div> -->
            <div class="portlet-body">

               <div class="row mt5" *ngIf="!httpRequestLoader.isLoading">
                  <!-- Digital Asset Library -->
                  <div class="asset-cols col-lg-4 col-md-4 col-sm-12"
                     *ngIf="authenticationService?.module?.damAccess || authenticationService?.module?.damAccessAsPartner">
                     <div class="section-column">
                        <div class="count_header">
                           <div class="section-title mb0">Digital Asset Library</div>
                           <a *ngIf="authenticationService?.module?.damAccess" class="action-button" (click)="navigate('dam/select')">Design / Upload</a>
                        </div>
               
                        <div class="stats-row" *ngIf="authenticationService?.module?.damAccess">
                           <div class="stat-card"  (click)="navigate('dam/manage')">
                              <div class="stat-content">
                                 <div class="stat-label">Total Assets</div>
                                 <div class="stat-value">
                                    <span class="stat-number">{{contentCounts.assetsCount}}</span>
                                    <span class="stat-unit">Records</span>
                                 </div>
                              </div>
                              <div class="stat-icon library-icon">
                                 <i class="fa fa-folder"></i>
                              </div>
                           </div>
                        </div>
               
                        <div class="stats-row mt10" *ngIf ="authenticationService?.module?.damAccessAsPartner">
                                          <div class="stat-card" (click)="navigate('dam/shared')">
                                             <div class="stat-content">
                                                <div class="stat-label">Shared Assets </div>
                                                <div class="stat-value">
                                                   <span class="stat-number">{{contentCounts.sharedAssetsCount}}</span>
                                                   <span class="stat-unit">Records</span>
                                                </div>
                                             </div>
                                             <div class="stat-icon library-icon">
                                                 <img  width="17px" height="17px" src="assets/admin/pages/media/works/Grid_View_Icons/shared-asset.svg" alt="Shared Assets">
                                             </div>
                                          </div>
                                       </div>
                     </div>
                  </div>
                  <!-- Track Builder (with playbook-icon style) -->
                  <div class="asset-cols col-lg-4 col-md-4 col-sm-12"
                     *ngIf="authenticationService?.module?.lmsAccess || authenticationService?.module?.lmsAccessAsPartner">
                     <div class="section-column">
                        <div class="count_header">
                           <div class="section-title mb0">Track Builder</div>
                           <a *ngIf="authenticationService?.module?.lmsAccess" class="action-button" (click)="navigate('tracks/add')">Add Tracks</a>
                        </div>
               
                        <div class="stats-row" *ngIf="authenticationService?.module?.lmsAccess">
                           <div class="stat-card" (click)="navigate('tracks/manage')">
                              <div class="stat-content">
                                 <div class="stat-label">Total Tracks</div>
                                 <div class="stat-value">
                                    <span class="stat-number">{{contentCounts.tracksCount}}</span>
                                    <span class="stat-unit">Records</span>
                                 </div>
                              </div>
                              <div class="stat-icon library-icon-share">
                                 <i class="fa fa-list"></i>
                              </div>
                           </div>
                        </div>
               
                        <div class="stats-row mt10" *ngIf ="authenticationService?.module?.lmsAccessAsPartner">
                           <div class="stat-card" (click)="navigate('tracks/shared')">
                             <div class="stat-content">
                               <div class="stat-label">Shared Tracks </div>
                               <div class="stat-value">
                                 <span class="stat-number">{{contentCounts.sharedTracksCount}}</span>
                                 <span class="stat-unit">Records</span>
                               </div>
                             </div>
                             <div class="stat-icon library-icon-share">
                               <img  width="17px" height="17px" src="assets/admin/pages/media/works/Grid_View_Icons/Shared-Tracks.svg" alt="Shared Tracks">
                             </div>
                           </div>
                         </div>
                     </div>
                  </div>
                  <!-- Playbooks -->
                  <div class="asset-cols col-lg-4 col-md-4 col-sm-12"
                     *ngIf="authenticationService?.module?.playbookAccess || authenticationService?.module?.playbookAccessAsPartner">
                     <div class="section-column">
                        <div class="count_header">
                           <div class="section-title mb0">Playbook</div>
                           <a *ngIf="authenticationService?.module?.playbookAccess" class="action-button" (click)="navigate('playbook/add')">Add Playbooks</a>
                        </div>
               
                        <div class="stats-row" *ngIf="authenticationService?.module?.playbookAccess">
                           <div class="stat-card" (click)="navigate('playbook/manage')">
                              <div class="stat-content">
                                 <div class="stat-label">Total Playbooks</div>
                                 <div class="stat-value">
                                    <span class="stat-number">{{contentCounts.playbooksCount}}</span>
                                    <span class="stat-unit">Records</span>
                                 </div>
                              </div>
                              <div class="stat-icon playbook-icon">
                                 <i class="fa fa-book"></i>
                              </div>
                           </div>
                        </div>
               
                        <div class="stats-row mt10" *ngIf ="authenticationService?.module?.playbookAccessAsPartner">
                                          <div class="stat-card" (click)="navigate('playbook/shared')">
                                             <div class="stat-content">
                                                <div class="stat-label">Shared Playbooks </div>
                                                <div class="stat-value">
                                                   <span class="stat-number">{{contentCounts.sharedPlaybooksCount}}</span>
                                                   <span class="stat-unit">Records</span>
                                                </div>
                                             </div>
                                             <div class="stat-icon playbook-icon">
                                                <img class="mr5" width="17px" height="17px" src="assets/admin/pages/media/works/Grid_View_Icons/Shared-Playbooks.svg" alt="Shared Playbooks">
                                             </div>
                                          </div>
                                       </div>
                     </div>
                  </div>
               </div>

   <div class="row mt10 mrg_top15" *ngIf="authenticationService?.user?.hasCompany">
      <div class="asset-row">
   
         <!-- Digital Asset Library -->
         <div
            [className]="(authenticationService?.module?.contentDivsCount==1) ? 'asset-col col-md-4 col-centered' :
                            (authenticationService?.module?.contentDivsCount==2) ? 'asset-col col-md-4' :
                            (authenticationService?.module?.contentDivsCount==3) ? 'asset-col col-md-4' :
                            (authenticationService?.module?.contentDivsCount==4) ? 'asset-col col-md-3' : 'asset-col col-md-3'"
            *ngIf="authenticationService?.module?.damAccess || authenticationService?.module?.damAccessAsPartner">
            <div class="asset-card">
               <div class="asset-header">
                  <img src="assets/admin/pages/media/works/Grid_View_Icons/assets_image.svg" alt="Library Icon">
                  <div>
                     <h4>Digital Asset Library</h4>
                     <div class="asset-description">
                        <ng-container
                           *ngIf="authenticationService?.module?.damAccess && !authenticationService?.marketingModulesAccessToPartner">
                           Create Manuals, Instructions, Sales / Marketing content your {{
                           authenticationService?.partnerModule?.customName }} can access any time.
                        </ng-container>
                        <ng-container
                           *ngIf="authenticationService?.module?.damAccess && authenticationService?.marketingModulesAccessToPartner">
                           Create Manuals, Instructions, Sales / Marketing content your Team Members can access any time.
                        </ng-container>
                        <ng-container
                           *ngIf="authenticationService?.module?.damAccessAsPartner && !authenticationService?.module?.damAccess && !authenticationService?.marketingModulesAccessToPartner">
                           A library of vendor-given manuals, instructions, sales decks, one-pagers, and other sales and
                           marketing content that you can access at any time.
                        </ng-container>
                     </div>
                  </div>
               </div>
   
   
               <ng-container *ngIf="authenticationService?.module?.damAccess">
                  <a class="asset-button" (click)="navigate('dam/select')">
                     <span><i class="fa fa-pencil label-icon"></i> Design / Upload</span>
                     <i class="fa fa-arrow-right"></i>
                  </a>
   
                  <a class="asset-button" (click)="navigate('dam/manage')">
                     <span><i class="fa fa-folder-open label-icon"></i> Manage Assets</span>
                     <i class="fa fa-arrow-right"></i>
                  </a>
               </ng-container>
   
               <a *ngIf="authenticationService?.module?.damAccessAsPartner" class="asset-button mb0"
                  (click)="navigate('dam/shared')">
                  <span>
                     <svg class="unlock-icon" viewBox="-7.5 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <path
                           d="M14.625 15.156h2.094c0.281 0 0.5 0.25 0.5 0.531v11c0 0.281-0.219 0.5-0.5 0.5h-16.219c-0.281 0-0.5-0.219-0.5-0.5v-11c0-0.281 0.219-0.531 0.5-0.531h11.5v-4.875c0-1.594-1.313-2.938-2.938-2.938h-0.969c-1.594 0-2.906 1.344-2.906 2.938v1.844h-2.656v-2.094c0-2.875 1.844-5.25 4.688-5.25h2.688c2.875 0 4.719 2.375 4.719 5.25v5.125zM7.125 24h2.938l-0.719-3.156c0.5-0.25 0.844-0.781 0.844-1.375 0-0.906-0.719-1.594-1.594-1.594s-1.563 0.688-1.563 1.594c0 0.594 0.344 1.125 0.844 1.375z">
                        </path>
                     </svg>
                     Access Shared Assets</span>
                  <i class="fa fa-arrow-right"></i>
               </a>
            </div>
         </div>
   
         <!-- Track Builder -->
         <div
            [className]="(authenticationService?.module?.contentDivsCount==1) ? 'asset-col col-md-4 col-centered' :
                            (authenticationService?.module?.contentDivsCount==2) ? 'asset-col col-md-4' :
                            (authenticationService?.module?.contentDivsCount==3) ? 'asset-col col-md-4' :
                            (authenticationService?.module?.contentDivsCount==4) ? 'asset-col col-md-3' : 'asset-col col-md-3'"
            *ngIf="authenticationService?.module?.lmsAccess || authenticationService?.module?.lmsAccessAsPartner">
            <div class="asset-card">
               <div class="asset-header">
                  <img src="assets/admin/pages/media/works/Grid_View_Icons/tracks_image.svg" alt="Track Icon">
                  <div>
                     <h4>Track Builder</h4>
                     <div class="asset-description">
                        <ng-container *ngIf="authenticationService?.module?.lmsAccess">
                           Create training and certification programs to help {{
                           authenticationService?.partnerModule?.customName }} understand your product(s).
                        </ng-container>
                        <ng-container
                           *ngIf="!authenticationService?.module?.lmsAccess && authenticationService?.module?.lmsAccessAsPartner">
                           Vendor-created training and certification programs to help you better understand the products
                           you market and sell.
                        </ng-container>
                     </div>
                  </div>
               </div>
   
   
               <ng-container *ngIf="authenticationService?.module?.lmsAccess">
                  <a class="asset-button" (click)="navigate('tracks/add')">
                     <span><i class="fa fa-pencil label-icon"></i> Add Tracks</span>
                     <i class="fa fa-arrow-right"></i>
                  </a>
   
                  <a class="asset-button" (click)="navigate('tracks/manage')">
                     <span><i class="fa fa-folder-open label-icon"></i> Manage Tracks</span>
                     <i class="fa fa-arrow-right"></i>
                  </a>
               </ng-container>
               <a *ngIf="authenticationService?.module?.lmsAccessAsPartner" class="asset-button mb0"
                  (click)="navigate('tracks/shared')">
                  <span>
                    <svg class="unlock-icon" viewBox="-7.5 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <path
                           d="M14.625 15.156h2.094c0.281 0 0.5 0.25 0.5 0.531v11c0 0.281-0.219 0.5-0.5 0.5h-16.219c-0.281 0-0.5-0.219-0.5-0.5v-11c0-0.281 0.219-0.531 0.5-0.531h11.5v-4.875c0-1.594-1.313-2.938-2.938-2.938h-0.969c-1.594 0-2.906 1.344-2.906 2.938v1.844h-2.656v-2.094c0-2.875 1.844-5.25 4.688-5.25h2.688c2.875 0 4.719 2.375 4.719 5.25v5.125zM7.125 24h2.938l-0.719-3.156c0.5-0.25 0.844-0.781 0.844-1.375 0-0.906-0.719-1.594-1.594-1.594s-1.563 0.688-1.563 1.594c0 0.594 0.344 1.125 0.844 1.375z">
                        </path>
                     </svg>
                      Access Shared Tracks</span>
                  <i class="fa fa-arrow-right"></i>
               </a>
            </div>
         </div>
   
         <!-- Playbooks -->
         <div
            [className]="(authenticationService?.module?.contentDivsCount==1) ? 'asset-col col-md-4 col-centered' :
                                     (authenticationService?.module?.contentDivsCount==2) ? 'asset-col col-md-4' :
                                     (authenticationService?.module?.contentDivsCount==3) ? 'asset-col col-md-4' :
                                     (authenticationService?.module?.contentDivsCount==4) ? 'asset-col col-md-3' : 'asset-col col-md-3'"
            *ngIf="authenticationService?.module?.playbookAccess || authenticationService?.module?.playbookAccessAsPartner">
            <div class="asset-card">
               <div class="asset-header">
                  <img src="assets/admin/pages/media/works/Grid_View_Icons/playbooks_image.svg" alt="Playbooks Icon">
                  <div>
                     <h4>Playbooks</h4>
                     <div class="asset-description">
                        <ng-container *ngIf="authenticationService?.module?.playbookAccess">
                           Create guides to help your {{ authenticationService?.partnerModule?.customName }} understand how
                           to sell, negotiate, and close deals.
                        </ng-container>
                        <ng-container
                           *ngIf="!authenticationService?.module?.playbookAccess && authenticationService?.module?.playbookAccessAsPartner">
                           Vendor-created guides on how to sell, negotiate, and close deals.
                        </ng-container>
                     </div>
                  </div>
               </div>
   
               <ng-container *ngIf="authenticationService?.module?.playbookAccess">
                  <a class="asset-button" (click)="navigate('playbook/add')">
                     <span><i class="fa fa-pencil label-icon"></i> Add Playbooks</span>
                     <i class="fa fa-arrow-right"></i>
                  </a>
   
                  <a class="asset-button" (click)="navigate('playbook/manage')">
                     <span><i class="fa fa-folder-open label-icon"></i> Manage Playbooks</span>
                     <i class="fa fa-arrow-right"></i>
                  </a>
               </ng-container>
               <a *ngIf="authenticationService?.module?.playbookAccessAsPartner" class="asset-button mb0"
                  (click)="navigate('playbook/shared')">
                  <span>
                    <svg class="unlock-icon" viewBox="-7.5 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <path
                           d="M14.625 15.156h2.094c0.281 0 0.5 0.25 0.5 0.531v11c0 0.281-0.219 0.5-0.5 0.5h-16.219c-0.281 0-0.5-0.219-0.5-0.5v-11c0-0.281 0.219-0.531 0.5-0.531h11.5v-4.875c0-1.594-1.313-2.938-2.938-2.938h-0.969c-1.594 0-2.906 1.344-2.906 2.938v1.844h-2.656v-2.094c0-2.875 1.844-5.25 4.688-5.25h2.688c2.875 0 4.719 2.375 4.719 5.25v5.125zM7.125 24h2.938l-0.719-3.156c0.5-0.25 0.844-0.781 0.844-1.375 0-0.906-0.719-1.594-1.594-1.594s-1.563 0.688-1.563 1.594c0 0.594 0.344 1.125 0.844 1.375z">
                        </path>
                     </svg>
                     Access Shared Playbooks</span>
                  <i class="fa fa-arrow-right"></i>
               </a>
            </div>
         </div>
   
      </div>
   </div>
   </div>   
</div>
      </div>
   </div>
</div>
<!--XNFR-130 Dashboard For PRM-->
<div class="page-content" *ngIf="authenticationService?.module?.prmDashboard">
   <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
   <!--Page Bar-->
   <div class="page-bar mPageBar">
      <ul class="page-breadcrumb">
         <li>
            <i class="fa fa-home" aria-hidden="true"></i>
            <a [routerLink]="referenceService?.homeRouter" translate>Home</a>
         </li>
      </ul>
      <!-- User Guide for vanity -->
      <app-user-guide-help-button [searchForGuides]="searchWithModuleName"></app-user-guide-help-button>
      <!-- User Guide-->
   </div>
   <div>
      <!--Top 4 Assets--------------->
      <app-top-4-assets [isPartnerView]="false" [hideRowClass]="false"
         *ngIf="authenticationService?.module?.damAccess"></app-top-4-assets>
      <!--Top 4 Shared Assets--------------->
      <app-top-4-assets [isPartnerView]="true" [hideRowClass]="false"
         *ngIf="authenticationService?.module?.damAccessAsPartner"></app-top-4-assets>
      <!--Top 4 Tracks--------------->
      <app-top-4-tracks-and-play-books [isPartnerView]="false" [hideRowClass]="false" [tracks]="true"
         *ngIf="authenticationService?.module?.lmsAccess"></app-top-4-tracks-and-play-books>
      <!--Top 4 Shared Tracks--------------->
      <app-top-4-tracks-and-play-books [isPartnerView]="true" [hideRowClass]="false" [tracks]="true"
         *ngIf="authenticationService?.module?.lmsAccessAsPartner"></app-top-4-tracks-and-play-books>
      <!--Top 4 PlayBooks--------------->
      <app-top-4-tracks-and-play-books [isPartnerView]="false" [hideRowClass]="false" [tracks]="false"
         *ngIf="authenticationService?.module?.playbookAccess"></app-top-4-tracks-and-play-books>
      <!--Top 4 Shared PlayBooks--------------->
      <app-top-4-tracks-and-play-books [isPartnerView]="true" [hideRowClass]="false" [tracks]="false"
         *ngIf="authenticationService?.module?.playbookAccessAsPartner"></app-top-4-tracks-and-play-books>
   </div>
</div>