<style type="text/css">
a.disable {
   pointer-events: none;
   cursor: not-allowed; 
   
}
.col-md-2 { cursor:none; }
a {
    text-decoration: none;
}

/* table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
 */
#myTable { 
  width: 100%;
  text-align: left;
  background-color: lemonchiffon;
  border-collapse: collapse; 
  }
#myTable th { 
  background-color: goldenrod;
  color: white; 
  }
#myTable td, 
#myTable th { 
  padding: 10px;
  border: 1px solid goldenrod; 
  }
</style>

<div class="page-content">

				<!-- BEGIN PAGE CONTENT-->
<!-- Steps Progress and Details - START -->
<div class="container" style="width: 100%;border: 1px solid #999999;border-radius: 5px;">
    <div class="row" style="padding-left:0px;padding-right:0px;margin-right: 0px; margin-left: 0px;">
        <div class="row step">
		 <div  id="tab1" class="col-md-2 activestep" (click) ="resetActive($event, 0, 'step-1');">
                <span class="fa fa-rocket"></span>
                <p>Publish As</p>
            </div>
            
            <div *ngIf="!publishAsForm.valid" class="col-md-2" id="disableTab" >
                <span class="fa fa-th-list"></span>
                <p>Publishing Details</p>
            </div>
            
             <div  *ngIf="publishAsForm.valid"  class="col-md-2" (click)="resetActive($event, 40, 'step-2');" >
                <span class="fa fa-th-list"></span>
                <p>Publishing Details</p>
            </div>
            
           <div *ngIf="!campaignForm.valid" class="col-md-2" id="disableTab">
          	 <span class="fa fa-video-camera"></span>
                <p>Select a Video</p>
           </div>
            <div  *ngIf="campaignForm.valid" class="col-md-2" (click)="resetActive($event, 40, 'step-3');">
                <span class="fa fa-video-camera"></span>
                <p>Select a Video</p>
            </div>
            
            <div *ngIf="!campaignForm.valid || !videoForm.valid" class="col-md-2" id="disableTab">
          	<span class="fa fa-users"></span>
                <p>Contact Lists</p>
           </div>
            <div *ngIf="campaignForm.valid && videoForm.valid"  class="col-md-2" (click)="resetActive($event, 60, 'step-4');">
                <span class="fa fa-users"></span>
                <p>Contact Lists</p>
            </div>
            
            
            <div *ngIf="!isContactListSelected || !campaignForm.valid || !videoForm.valid " class="col-md-2" id="disableTab">
          	<span class="fa fa-envelope"></span>
                <p>Email Template</p>
           </div>
            <div *ngIf="isContactListSelected &&campaignForm.valid && videoForm.valid" class="col-md-2" (click)="resetActive($event, 80, 'step-5');">
                <span class="fa fa-envelope"></span>
                <p>Email Template</p>
            </div>
            
            <div *ngIf="!isContactListSelected || !campaignForm.valid || !videoForm.valid || !isEmailTemplateSelected" class="col-md-2" id="disableTab">
          		 <span class="fa fa-flag"></span>
                <p>Launch</p>
           </div>
            <div *ngIf="isContactListSelected &&campaignForm.valid && videoForm.valid && isEmailTemplateSelected" class="col-md-2" (click)="resetActive($event, 100, 'step-6');">
                <span class="fa fa-flag"></span>
                <p>Launch</p>
            </div>
        </div>
    </div>
    
    
    <!-- <button type="button" class="btn btn-default" (click)="previous()">FORWARD</button>  -->
    <!--  <button style="margin-right:50%" class="btn btn-default" 
      (ngSubmit)="validate(event)" [disabled]="!videoForm.valid">Forward</button> -->
    
    <div class="row setup-content step activeStepInfo" id="step-1">
        <div class="col-xs-12">
        	<form  role="form" [formGroup]="publishAsForm" class="form-horizontal form-bordered form-label-stripped">
        	 <button type="button"  style="float: right" class="btn btn-default" (click)="resetActive($event, 40, 'step-2')" [disabled]="!publishAsForm.valid" >FORWARD</button>
            <div class="col-md-12 well text-center" style="margin-top: 10px;">
            	   <div *ngIf="launchSuccess" id="lanchSuccess" class="alert alert-success alert-dismissable fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Campaign Created Successfully</strong></div>
					<div *ngIf="!isPublishAsSelected"  class="alert alert-danger alert-dismissable fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        				<strong>Please Select Email Template Type</strong>
        			</div>
        			
                	
					<div class="row">
					    <div>
					    <table cellspacing="10" align="center">
					    	<thead>
					    		<tr>
					    			<th style="padding: 3px;">
					    				 <a href="#" class="btn btn-squared-default btn-primary">
								            <i class="fa fa-file-video-o fa-5x" style="font-size: 60px;"></i>
											<br>
								            As a Video Email
					       				 </a>
					        
					    			</th>
					    			
					    			<th style="padding: 3px;">
					    				<a href="#" class="btn btn-squared-default btn-success">
								          <i class="fa fa-envelope fa-5x" style="font-size: 60px;"></i>
										  <br> 
								          As a Regular Email
								        </a>
					    			</th>
					    		</tr>
					    	</thead>
					    	<tbody>
					    		<tr>
					    			<td *ngFor="let type of emailTypes" style="padding: 3px;">
					    			 <input type="radio" name="publishAs" [value]="type"  title="{{type}}" formControlName="publishAs" (click)="getEmailTemplates(type)" ngDefaultControl/>
					    			</td>
					    		</tr>
					    	
					    	</tbody>
					    </table>
					    </div>
					</div>
		</div>
		</form>
        </div>
    </div>

	<div class="row setup-content step hiddenStepInfo" id="step-2">
        <div class="col-xs-12">
         <form  role="form" [formGroup]="campaignForm"
					
			class="form-horizontal form-bordered form-label-stripped">
        
        <button type="button" style="float:left" class="btn btn-default" (click)="resetActive($event, 40, 'step-1')">PREVIOUS</button>
        <button type="submit"  style="float: right" 
         class="btn btn-default btn green"  [disabled]="!campaignForm.valid"
          (click)="resetActive($event, 40, 'step-3');">FORWARD</button>
            <div class="col-md-12 well text-center" style="margin-top: 10px;">
                <div class="portlet box">
										<div class="portlet-body form">
											<!-- BEGIN FORM-->
											<!-- <form action="#" 
											  class="form-horizontal form-bordered form-label-stripped"> -->
												<div class="form-body" style="text-align: left;">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Publish As<small>(Save as)</small></label>
                                                        <div class="col-md-9">
                                                            <input type="text"  formControlName="campaignName"  placeholder="Campaign Name"  class="form-control"/>
                                                        <div *ngIf="formErrors.campaignName" class="alert alert-danger">{{formErrors.campaignName}} </div>
                                                       <div *ngIf="campaignForm.hasError('duplicateCampaignName')" class="alert alert-danger">Already Exists.</div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">From Name<small></small></label>
                                                        <div class="col-md-9">
                                                            <input type="text" formControlName="fromName"   placeholder="From Name" class="form-control"/>
                                                            <div *ngIf="formErrors.fromName" class="alert alert-danger">{{formErrors.fromName}}
                                                       </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Subject Line</label>
                                                        <div class="col-md-9">
                                                            <input type="text" formControlName="subjectLine" placeholder="Subject Line" class="form-control"/>
                                                            <div *ngIf="formErrors.subjectLine" class="alert alert-danger">{{formErrors.subjectLine}}
                                                       </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">From Email</label>
                                                        <div class="col-md-9">
                                                            <input type="text" formControlName="email" placeholder="Email" class="form-control"/>
                                                            <div *ngIf="formErrors.email" class="alert alert-danger">{{formErrors.email}}
                                                       </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">PREHEADER</label>
                                                        <div class="col-md-9">
                                                            <input type="text" formControlName="preHeader" placeholder="Pre Header" class="form-control"/>
                                                       <div *ngIf="formErrors.preHeader" class="alert alert-danger">{{formErrors.preHeader}}
                                                       </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Notify Me When</label>
                                                        <div class="col-md-9">
                                                            <div class="email-options-checkbox-group email-options-notify">
                                                            <div class="email-options-checkbox clearfix">
                                                           		 <input *ngIf="campaignForm.value.emailOpened==true" type="checkbox"  formControlName="emailOpened"  checked="checked">
                                                         		 <input *ngIf="campaignForm.value.emailOpened==false || campaignForm.value.emailOpened==null"  type="checkbox"  formControlName="emailOpened">
                                                            <label>email is opened</label>
                                                            </div>
                                                            <div class="email-options-checkbox clearfix" *ngIf="emailType==emailTypes[0]">
	                                                            <input *ngIf="campaignForm.value.videoPlayed==true" type="checkbox"  formControlName="videoPlayed"  checked="checked">
	                                                         	<input *ngIf="campaignForm.value.videoPlayed==false || campaignForm.value.videoPlayed==null"  type="checkbox"  formControlName="videoPlayed">
                                                            <label>video is played</label>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Sharing Options</label>
                                                        <div class="col-md-9">
                                                            <div class="email-options-checkbox-group email-options-notify">
                                                            <div class="email-options-checkbox clearfix" *ngIf="emailType==emailTypes[0]">
                                                            	<input *ngIf="campaignForm.value.replyVideo==true" type="checkbox"  formControlName="replyVideo"  checked="checked">
	                                                         	<input *ngIf="campaignForm.value.replyVideo==false || campaignForm.value.replyVideo==null"  type="checkbox"  formControlName="replyVideo">
                                                            <label>Reply with Video</label>
                                                            </div>
                                                            <div class="email-options-checkbox clearfix">
                                                            	<input *ngIf="campaignForm.value.socialSharingIcons==true" type="checkbox"  formControlName="socialSharingIcons"  checked="checked">
	                                                         	<input *ngIf="campaignForm.value.socialSharingIcons==false || campaignForm.value.socialSharingIcons==null"  type="checkbox"  formControlName="socialSharingIcons">
                                                            <label>Social Sharing Icons</label>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group last">
                                                        <label class="control-label col-md-3">Notification Message</label>
                                                        <div class="col-md-9">
                                                       	 <input type="text" formControlName="message"  placeholder="Notification Message" class="form-control"/>
                                                      <div *ngIf="formErrors.message" class="alert alert-danger">{{formErrors.message}}
                                                       </div>
                                                        </div>
                                                    </div>
                                                </div>
											<!-- </form> -->
											<!-- END FORM-->
										</div>
									</div>
                            </div>
                            </form>
                  </div>
       </div>

    <div class="row setup-content step hiddenStepInfo" id="step-3">
        <div class="col-xs-12">
        <form  role="form" [formGroup]="videoForm"	class="form-horizontal form-bordered form-label-stripped">
         <button type="button" style="float:left" class="btn btn-default"  
         (click)="resetActive($event, 40, 'step-2')">PREVIOUS</button>
        <button type="button"  style="float: right" class="btn btn-default btn green" 
        (click)="resetActive($event, 40, 'step-4')"  [disabled]="!videoForm.valid" >FORWARD</button><!-- *ngIf="userActive" -->
            <div class="col-md-12 well text-center" style="margin-top: 10px;">
            <div *ngIf="!isVideoSelected"  class="alert alert-danger alert-dismissable fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        		<strong>Please Select a video file</strong>
        	</div>
				<div class="row" id="user_list_table_view">
				          <div class="col-lg-12" style="padding-left: 0px;padding-right: 0px;">
				            <div class="portlet box blue-hoki">
				            <div class="portlet-title">
       		 					<div class="caption">Video: Pick your video to be streamed
								</div>
								</div> 
								<div class="portlet-body" style="background-color: white;">
							<div id="home" class="tab-pane fade in active">
						    <!-- <h3>HOME</h3> -->
						    <div id="videos_table_new_wrapper" class="dataTables_wrapper form-inline no-footer">
						    <div class="row-fluid"><div class="span6"><div class="dataTables_length" id="videos_table_new_length">
						    <label>
						<!--     <div class="select2-container span12" id="s2id_autogen19">
						    <a href="javascript:void(0)" class="select2-choice" tabindex="-1"> 
						      <span class="select2-chosen" id="select2-chosen-20">5</span>
						      <abbr class="select2-search-choice-close"></abbr> 
						      <span class="select2-arrow" role="presentation"><b role="presentation"></b></span></a>
						      <label for="s2id_autogen20" class="select2-offscreen"></label>
						      <input class="select2-focusser select2-offscreen" type="text" aria-haspopup="true" role="button" aria-labelledby="select2-chosen-20" id="s2id_autogen20">
						      <div class="select2-drop select2-display-none">  
						       <div class="select2-search select2-search-hidden select2-offscreen">
						       <label for="s2id_autogen20_search" class="select2-offscreen"></label> 
						        <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input" role="combobox" aria-expanded="true" aria-autocomplete="list" aria-owns="select2-results-20" id="s2id_autogen20_search" placeholder="">
						           </div>   <ul class="select2-results" role="listbox" id="select2-results-20"> </ul></div></div> -->
						          <select name="videos_table_new_length" aria-controls="videos_table_new" class="select2-wrapper span12" tabindex="-1" title="" style="display: none;">
						           <option value="5">5</option>
						           <option value="10">10</option>
						           <option value="15">15</option>
						           <option value="20">20</option>
						           <option value="-1">All</option>
						          </select> 
						          
						          </label></div></div><div class="span6">
						        <!--   <div id="videos_table_new_filter" class="dataTables_filter">
						          <label>Search:<input type="search" class="input-medium" placeholder="" aria-controls="videos_table_new"></label>
						          </div> -->
						           <div style="display:inline;margin-left: 506px;" >
                                              <label >Sort By:</label>
										       <select  class="btn btn-primary"  formControlName="sortingVideo" id="sortingVideo" (change)="getVideoSortValue($event.target.value)">
													 <option  [attr.value]="sort.value" *ngFor="let sort of sortVideos;  let i = index;" [selected]="i == 0"> 
														{{sort.name}}
													 </option>
											   </select>
										</div>
						          <div class="inputs" align="right"  style="display:inline; float:right;margin-right: 10px;margin-bottom: 10px;">
											<div class="portlet-input input-inline input-small">
												<div class="input-icon right">
													<i class="icon-magnifier" style="cursor:pointer;font-size:18px;" (click)="searchVideoTitelName()"></i>
													<input type="text" [(ngModel)]="searchKey" [ngModelOptions]="{standalone: true}" 
													 class="form-control input-circle" placeholder="search..." style="width: 145px;">
												</div>
											</div>
										</div>
										
      		
						          
						          </div>
						          </div>
						     <table class="table no-more-tables no-footer dataTable" cellspacing="0" width="100%" id="videos_table_new" style="background-color: rgb(255, 255, 255);" role="grid" aria-describedby="videos_table_new_info">
							   	<thead style="background-color: #B7B7B7;">
									<tr role="row"><th style="text-align: center; background: url(assets/global/plugins/datatable/media/images/sort_both.png&quot;) 100% 50% / auto no-repeat scroll padding-box border-box rgba(0, 0, 0, 0);" class="sorting_disabled" rowspan="1" colspan="1" aria-label="Thumbnail">Thumbnail</th>
									<th style="text-align: center;" class="sorting" tabindex="0" aria-controls="videos_table_new" rowspan="1" colspan="1" aria-label="Title: activate to sort column ascending">Title</th><th style="text-align: center; background: url(&quot;https://aravindu.com/MobinarApp/admin/assets/plugins/jquery-datatable/images/sort_both.png&quot;) 100% 50% / auto no-repeat scroll padding-box border-box rgba(0, 0, 0, 0);" class="sorting_disabled" rowspan="1" colspan="1" aria-label="CategoryAccountingAgriculture and FisheryAlternative MedicineApparel and FashionAutomotiveAviation and AerospaceLeisure,Travel and TourismManufacturingMediaNon-profitReal EstateSecurity and InvestigationsSportsTechnology (General)"><span class="filter_column filter_select">
								  <select id="cate" class="btn btn-primary" 
                                                  (change)="getCategoryNumber($event)">
                                                <option  class="colorSelect" value="0">All Categories</option>
                                               <option *ngFor="let category of categories" 
                                                class="colorSelect" value="{{category.id}}">{{category.name}}</option>
                                             </select>
									</span></th>
									<!-- <th style="text-align: center;" class="sorting" tabindex="0" aria-controls="videos_table_new" rowspan="1" colspan="1" aria-label="Published to: activate to sort column ascending">Published to</th>
									<th style="text-align: center;" class="sorting" tabindex="0" aria-controls="videos_table_new" rowspan="1" colspan="1" aria-label="Views: activate to sort column ascending">Views</th>
									<th style="text-align: center;" class="sorting" tabindex="0" aria-controls="videos_table_new" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Status</th></tr> -->
								</thead>
						<tbody class="row_selected">
							<tr *ngIf="!isAdd">
								 <td style="text-align: center;">
							       <div class="form-group">
									   <input type="radio" [checked]="campaign.campaignVideoFile.id===videoId" name="videoFileId" [value]="campaign.campaignVideoFile.id" formControlName="videoFileId" (click)="addVideoIdFile(campaign.campaignVideoFile)">
								      <a href="javascript:void(0)" onclick="showCampaignMobinarPreview(campaign.campaignVideoFile)"> 
								       <img class="img-responsive" src="{{campaign.campaignVideoFile}}" alt="" style="width: 100px;height: 50px">
								       </a>
							       </div>
							     </td>
							   
							     <td style="text-align: center">
							      <div class="row">
							       <div class="col-md-12"><p style="margin: 0;">
							        <a href="javascript:void(0)">
							        <b style="font-size: 13px;" class="shortenLength shortened">{{campaign.campaignVideoFile.title}}</b></a></p>
							      <p>by <b>Demo Nokia</b> </p>
							       <p> 
							         <span style="float:right">{{campaign.campaignVideoFile.uploadedDate}}</span>
							      </p>
							      </div>
							      </div>
							     </td>
							    <td style="text-align: center;">Category</td>
							  <!--   <td style="text-align: center;">
							    <a href="javascript:void(0)">
							    <span class="label label-blue">7</span></a></td>
							    
							    <td style="text-align: center;">7</td>
							    <td style="text-align: center;">
							    <img src="../../assets/images/success.png"></td> -->
							</tr>
						
							<tr role="row" class="odd" *ngFor="let videoFile of videosPagination.pagedItems;let i =  index">
							     <td style="text-align: center;" *ngIf="videoFile.id!==videoId">
							     	<div class="form-group">
									   <input type="radio" name="videoFileId" [value]="videoFile.id" formControlName="videoFileId" ngDefaultControl (click)="addVideoIdFile(videoFile)">
								      <a href="javascript:void(0)" onclick="showCampaignMobinarPreview(videoFile)"> 
								      <img class="img-responsive" src="{{videoFile.imagePath}}" alt="" style="width: 100px;height: 50px">
								       </a>
							       </div>
							     </td>
							   
							     <td style="text-align: center" *ngIf="videoFile.id!==videoId">
							      <div class="row">
							       <div class="col-md-12"><p style="margin: 0;">
							        <a href="javascript:void(0)">
							        <b style="font-size: 13px;" class="shortenLength shortened">{{videoFile.title}}</b></a></p>
							      <p>by <b>Demo Nokia</b> </p>
							       <p> 
							         <span style="float:right">{{videoFile.uploadedDate}}</span>
							      </p>
							      </div>
							      </div>
							     </td>
							    <td style="text-align: center;" *ngIf="videoFile.id!==videoId">Category</td>
							    <!-- <td style="text-align: center;" *ngIf="videoFile.id!==videoId">
							    <a href="javascript:void(0)">
							    <span class="label label-blue">5</span></a></td>
							    
							    <td style="text-align: center;" *ngIf="videoFile.id!==videoId">5</td>
							    <td style="text-align: center;" *ngIf="videoFile.id!==videoId">
							    <img src="../../assets/images/success.png"></td> -->
					       </tr>
					       
						  
					 </tbody>
							</table>
							<!-- <div class="dataTables_info" id="videos_table_new_info" role="status" aria-live="polite">
							Showing <b>1 to 5</b> of 20 entries</div> -->
							
								<div *ngIf="!isvideoThere">   
								<!--pager here  -->
									    <ul *ngIf="videosPagination.pager.pages && videosPagination.pager.pages.length" class="pagination">
                                             <li [ngClass]="{disabled:videosPagination.pager.currentPage === 1}">
                                                <a (click)="setPage(1,'videos')">First</a>
                                             </li>
                                             <li [ngClass]="{disabled:videosPagination.pager.currentPage === 1}">
                                                 <a (click)="setPage(videosPagination.pager.currentPage - 1,'videos')">Previous</a>
                                              </li>
                                              <li *ngFor="let page of videosPagination.pager.pages" [ngClass]="{active:videosPagination.pager.currentPage === page}">
                                                 <a (click)="setPage(page,'videos')">{{page}}</a>
                                              </li>
                                              <li [ngClass]="{disabled:videosPagination.pager.currentPage === videosPagination.pager.totalPages}">
                                                  <a (click)="setPage(videosPagination.pager.currentPage + 1,'videos')">Next</a>
                                              </li>
                                               <li [ngClass]="{disabled:videosPagination.pager.currentPage === videosPagination.pager.totalPages}">
                                                  <a (click)="setPage(videosPagination.pager.totalPages,'videos')">Last</a>
                                              </li>
                                          </ul>
										<!-- pager end here -->
										</div>
							
							
							
							</div>
						    </div>
                    </div></div></div></div>
                  </div>
       </form>
        </div>
    </div>
    
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
  					<div class="modal-dialog" role="document">
    					<div class="modal-content">
      						<div class="modal-header">
        						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        							<div>
        							<h4 class="modal-title" id="myModalLabel" align="center"><b>List Of Users</b></h4>
        							</div>
     						 </div>
     					 <div class="modal-body">
     					 
     					 <table class="table table-striped table-hover table-bordered" id="sample_editable_1" *ngIf="contactListItems">
							<thead >
								<tr >
									<th>
										 USERNAME
									</th>
									<th>
										 EMAILID
									</th>
									<th>
										 FIRSTNAME
									</th>
									<th>
										 LASTNAME
									</th>
								</tr>
								</thead>
								<tbody>
								<tr *ngFor="let allcontacts of contactsUsersPagination.pagedItems;let i = index">
									<td>
										 {{allcontacts.userName}}
									</td>
									<td>
										 {{allcontacts.emailId}}
									</td>
									<td>
										  {{allcontacts.firstName}}
									</td>
									<td class="center">
										 {{allcontacts.lastName}}
									</td>
								</tr>
								</tbody>
								</table>	
      					</div>
      					<ul *ngIf="contactsUsersPagination.pager.pages && contactsUsersPagination.pager.pages.length" class="pagination">
                                             <li [ngClass]="{disabled:contactsUsersPagination.pager.currentPage === 1}">
                                                <a (click)="setPage(1,'contactUsers')">First</a>
                                             </li>
                                             <li [ngClass]="{disabled:contactsUsersPagination.pager.currentPage === 1}">
                                                 <a (click)="setPage(contactsUsersPagination.pager.currentPage - 1,'contactUsers')">Previous</a>
                                              </li>
                                              <li *ngFor="let page of contactsUsersPagination.pager.pages" [ngClass]="{active:contactsUsersPagination.pager.currentPage === page}">
                                                 <a (click)="setPage(page,'contactUsers')">{{page}}</a>
                                              </li>
                                              <li [ngClass]="{disabled:contactsUsersPagination.pager.currentPage === contactsUsersPagination.pager.totalPages}">
                                                  <a (click)="setPage(contactsUsersPagination.pager.currentPage + 1,'contactUsers')">Next</a>
                                              </li>
                                               <li [ngClass]="{disabled:contactsUsersPagination.pager.currentPage ===contactsUsersPagination.pager.totalPages}">
                                                  <a (click)="setPage(contactsUsersPagination.pager.totalPages,'contactUsers')">Last</a>
                                              </li>
                                          </ul>
  				
      					<div class="modal-footer">
        					<button type="button" (click)="closeModelPopup()" class="btn btn-default" data-dismiss="modal">Close</button>
     		 			</div>
    				</div>
  				</div>
			</div>
    
    <div class="row setup-content step hiddenStepInfo" id="step-4">
        <div class="col-xs-12">
         <button type="button" style="float:left" class="btn btn-default"
          (click)="resetActive($event, 40, 'step-3')">PREVIOUS</button>
       <button type="submit"  style="float: right" class="btn btn-default btn green" 
        (click)="resetActive($event, 40, 'step-5');" [disabled]="!isContactListSelected" >FORWARD</button>
            <div class="col-md-12 well text-center" style="margin-top: 10px;">
                <div class="row" id="user_list_table_view">
				          <div class="col-lg-12" style="padding-left: 0px;padding-right: 0px;">
				            <div class="portlet box blue-hoki">
				            <div class="portlet-title">
       		 					<div class="caption">Contact Lists</div>
								</div> 
								<div class="portlet-body" style="background-color: white;">
				                <div id="user_list_tb_wrapper" class="dataTables_wrapper form-inline no-footer">
								<div class="row-fluid">
								 <div *ngIf="!isContactListSelected" class="alert alert-danger">Please Select atleast one contact</div>
								<table class="table table-bordered no-more-tables dataTable no-footer" id="user_list_tb" role="grid" aria-describedby="user_list_tb_info">
				                 <thead>
				                  <tr>
				                    <td align="center">
				                    <!-- <input type="checkbox" class="" id="checkAllExistingContacts"   (change)="checked($event.target.checked)"> -->
				                    <input type="checkbox" name="all" [checked]="isAllChecked()" (change)="checkAll($event)" class="" id="checkAllExistingContacts"  />
				                    </td>
				                    <th style="text-align: center;" class="sorting_desc" tabindex="0" aria-controls="user_list_tb" rowspan="1" colspan="1" aria-sort="descending" aria-label="Date Uploaded: activate to sort column ascending">
				                    Date Uploaded
				                    </th>
				                    <th style="text-align: center;" class="sorting" tabindex="0" aria-controls="user_list_tb" rowspan="1" colspan="1" aria-label="List Name: activate to sort column ascending">
				                    List Name
				                    </th>
				                    <th style="text-align: center;" class="sorting" tabindex="0" aria-controls="user_list_tb" rowspan="1" colspan="1" aria-label="Download: activate to sort column ascending">
				                    Preview
				                    </th>
				                  </tr>
				                 </thead>
				                	<tbody>
									 <tr role="row" class="odd" *ngFor ="let contacts of contactsPagination.pagedItems;let i = index">
					                     <td *ngIf="isAdd">
					                      <div class="form-group">
						                     <!-- input type="checkbox"  name ="isChecked"  class="form-control">(change)="checked($event.target.checked,contacts.id)" -->
						                     <input type="checkbox"  name="campaignContact[]" value="{{contacts.id}}" [(ngModel)]="contacts.state" (click)="addIds($event,contacts.id)"/>
						                     
					                      </div>
					                     </td>
					                     <td *ngIf="!isAdd">
					                     	<div class="form-group">
						                     <input type="checkbox" [checked]="contacts.id===contactsPagination.campaignUserListIds[i]"  name="campaignContact[]" value="{{contacts.id}}" [(ngModel)]="contacts.state" (click)="addIds($event,contacts.id)">
					                      </div>
					                     </td>
					                     
					                      <td class="text-center sorting_1">{{contacts.createdDate}}</td>
					                      <td class="text-center">{{contacts.name}}</td>
					                      <td class="text-center" >
					                      	<a  class="btn btn-warning" (click)="loadUsers(contactsPagination.pagedItems[i].id,contactsUsersPagination)">
					                      	<i class="fa fa-eye" style="padding-top: 3px; font-size: 20px;" title="" data-original-title="Download" data-toggle="modal" data-target="#myModal">Preview</i></a>
					                      </td>
					                  </tr>
					                </tbody>
                             </table>
                             <div>   
									    <ul *ngIf="contactsPagination.pager.pages && contactsPagination.pager.pages.length" class="pagination">
                                             <li [ngClass]="{disabled:contactsPagination.pager.currentPage === 1}">
                                                <a (click)="setPage(1,'contacts',contactUsers)">First</a>
                                             </li>
                                             <li [ngClass]="{disabled:contactsPagination.pager.currentPage === 1}">
                                                 <a (click)="setPage(contactsPagination.pager.currentPage - 1,'contacts',contactUsers)">Previous</a>
                                              </li>
                                              <li *ngFor="let page of contactsPagination.pager.pages" [ngClass]="{active:contactsPagination.pager.currentPage === page}">
                                                 <a (click)="setPage(page,'contacts',contactUsers)">{{page}}</a>
                                              </li>
                                              <li [ngClass]="{disabled:contactsPagination.pager.currentPage === contactsPagination.pager.totalPages}">
                                                  <a (click)="setPage(contactsPagination.pager.currentPage + 1,'contacts',contactUsers)">Next</a>
                                              </li>
                                               <li [ngClass]="{disabled:contactsPagination.pager.currentPage === contactsPagination.pager.totalPages}">
                                                  <a (click)="setPage(contactsPagination.pager.totalPages,'contacts',contactUsers)">Last</a>
                                              </li>
                                          </ul>
										</div>
								<div class="col-xs-1" style="float: right;margin-top: 10px;">			
									<select class="btn btn-primary"
													    [(ngModel)]="contactItemsSize" 
													    (ngModelChange)="getNumberOfContactItemsPerPage($event)">
													  <option *ngFor="let itemPerPage of numberOfContactsPerPage" [ngValue]="itemPerPage">
													    {{itemPerPage.name}}
													  </option>
											</select> 		
									</div>	
										
										<hr>
                         </div>
                       </div>
                    </div>
                 </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="row setup-content step hiddenStepInfo" id="step-5">
        <div class="col-xs-12">
        <form  role="form" [formGroup]="emailTemplateForm"
			class="form-horizontal form-bordered form-label-stripped">
         <button type="button" style="float:left" class="btn btn-default"
          (click)="resetActive($event, 40, 'step-4')">PREVIOUS</button>
        <button type="submit"  style="float: right"
         class=" btn green" 
         (click)="resetActive($event, 40, 'step-6')">FORWARD</button>
            <div class="col-md-12 well text-center" style="margin-top: 10px;">
             <div *ngIf="!isEmailTemplateSelected"  class="alert alert-danger alert-dismissable fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        		<strong>Please Select Email Template</strong>
        	</div>
                <div class="row" id="user_list_table_view">
				          <div class="col-lg-12" style="padding-left: 0px;padding-right: 0px;">
				            <div class="portlet box blue-hoki">
				            <div class="portlet-title">
       		 					<div class="caption">List of Available Email Tempaltes</div>
								</div> 
								<div class="portlet-body" style="background-color: white;">
				                <div id="user_list_tb_wrapper" class="dataTables_wrapper form-inline no-footer">
								<div class="row-fluid">
								
								<div class="row mix-grid" style="margin-top: 10px">
								
								
								<div *ngIf="!isAdd">
											<div class="col-md-3 col-sm-4 mix category_1 mix_all"  style="display: block; opacity: 1; margin-top: -11px;">
											    <div id="container"> <h3>{{campaign.emailTemplate.description}}<span class="arrow"></span> </h3> </div>
												<div class="mix-inner" style="background-color: #536372">
													<img class="img-responsive" src="{{campaign.emailTemplate.subject}}" alt="" style="margin-left: 85px;">
													<div class="mix-details" style="z-index: 700;">
														<h4>{{campaign.emailTemplate.name}}</h4>
														<div style="top: 31%; position: relative;">
														</div>
														<span align="right" style="bottom: -1px; float: right; position: absolute; right: 10px;"><b>Created By</b><br>{{campaign.emailTemplate.createdBy}}</span>
														<span align="left" style="bottom: -1px; left: 10px; position: absolute;"><b>Created Date</b><br>{{campaign.emailTemplate.createdDate}}</span>
														<input type="radio" [checked]="emailTemplateId==campaign.emailTemplate.id" name="emailTemplateId" [value]="campaign.emailTemplate.id" formControlName="emailTemplateId" ngDefaultControl (click)="getEmailTemplatePreview(campaign.emailTemplate)">
													</div>
												</div>
											</div>
											</div>
											
								
										  <div *ngFor="let emailTemplate of emailTemplatesPagination.pagedItems ;let i =index">
											<div *ngIf="emailTemplateId!=emailTemplate.id" class="col-md-3 col-sm-4 mix category_1 mix_all"  style="display: block; opacity: 1; margin-top: -11px;" id="emailTemplateListDiv_{{emailTemplate.id}}">
											    <div id="container"> <h3>{{emailTemplate.description}}<span class="arrow"></span> </h3> </div>
												<div class="mix-inner" style="background-color: #536372">
													<img class="img-responsive" src="{{emailTemplate.subject}}" alt="" style="margin-left: 85px;">
													<div class="mix-details" style="z-index: 700;">
														<h4>{{emailTemplate.name}}</h4>
														<div style="top: 31%; position: relative;">
														</div>
														<span align="right" style="bottom: -1px; float: right; position: absolute; right: 10px;"><b>Created By</b><br>{{emailTemplate.createdBy}}</span>
														<span align="left" style="bottom: -1px; left: 10px; position: absolute;"><b>Created Date</b><br>{{emailTemplate.createdDate}}</span>
														<input type="radio" name="emailTemplateId" [value]="emailTemplate.id" formControlName="emailTemplateId" ngDefaultControl (click)="getEmailTemplatePreview(emailTemplate)">
													</div>
												</div>
											</div>
											</div>
											
										</div>
										 <div *ngIf="emailTemplatesPagination.totalRecords<=0"  class="alert alert-danger"><strong>No Templates Found</strong></div>
										 <ul *ngIf="emailTemplatesPagination.pager.pages && emailTemplatesPagination.pager.pages.length" class="pagination">
                                             <li [ngClass]="{disabled:emailTemplatesPagination.pager.currentPage === 1}">
                                                <a (click)="setPage(1,'emailTemplates')">First</a>
                                             </li>
                                             <li [ngClass]="{disabled:emailTemplatesPagination.pager.currentPage === 1}">
                                                 <a (click)="setPage(emailTemplatesPagination.pager.currentPage - 1,'emailTemplates')">Previous</a>
                                              </li>
                                              <li *ngFor="let page of emailTemplatesPagination.pager.pages" [ngClass]="{active:emailTemplatesPagination.pager.currentPage === page}">
                                                 <a (click)="setPage(page,'emailTemplates')">{{page}}</a>
                                              </li>
                                              <li [ngClass]="{disabled:emailTemplatesPagination.pager.currentPage === emailTemplatesPagination.pager.totalPages}">
                                                  <a (click)="setPage(emailTemplatesPagination.pager.currentPage + 1,'emailTemplates')">Next</a>
                                              </li>
                                               <li [ngClass]="{disabled:emailTemplatesPagination.pager.currentPage === emailTemplatesPagination.pager.totalPages}">
                                                  <a (click)="setPage(emailTemplatesPagination.pager.totalPages,'emailTemplates')">Last</a>
                                              </li>
                                          </ul>

                         </div>
                       </div>
                     </div>
                  	</div>
                  	</div>
                   </div>
                </div>
                </form>
        </div>
    </div>
    <div class="row setup-content step hiddenStepInfo" id="step-6">
        <div class="col-xs-12">
        <form  role="form" [formGroup]="campaignLaunchForm" (ngSubmit)="launchCampaign();resetActive($event, 40, 'step-1');"
			class="form-horizontal form-bordered form-label-stripped">
        
         <button type="button" style="float:left"
          class="btn btn-default" (click)="resetActive($event, 40, 'step-5')">PREVIOUS</button>
            <div class="col-md-12 well text-center" style="margin-top: 10px;">
            	<h4>Selected Campaign Details.</h4>
                 <!-- <table style="width:100%" class="table table-striped table-bordered table-hover" id="myTable">
					  <tr>
					    <th>Selected Video:</th>
					    <td> 
						<video id="campaignVideo" class="video-js vjs-default-skin" controls width="542" height="299" poster="{{defaultImagePath}}"
							data-setup='{"example_option":true }' [src]=selectedVideoFilePath>
						<source [src]=selectedVideoFilePath type="video/mp4" />
					</video>
						
						</td>
					  </tr>
					  <tr>
					    <th>Selected Contact List</th>
					    <td>Contact List-7,Contact List 8</td>
					  </tr>
					  <tr>
					    <th>Selected Email Template</th>
					    <td>N1</td>
					  </tr>
			</table> -->
			
			<table id="myTable">
				<tr>
					<th>Selected Video</th>
					<th>
					<video id="campaignVideo" class="video-js vjs-default-skin" controls width="542" height="299" poster="{{defaultImagePath}}"
							data-setup='{"example_option":true }' [src]=selectedVideoFilePath>
						<source [src]=selectedVideoFilePath type="video/mp4" /></video>
						</th>
				</tr>
				<tr>
					<td>Selected Contact List</td>
					<td>Contact List-7,Contact List 8</td>
				</tr>
				<tr>
					<td>Selected Email Template</td>
					<td>N1</td>
				</tr>
			</table>
			          
            <hr>
            <br>
            
            
            
             <div *ngIf="!isScheduleSelected"  class="alert alert-danger alert-dismissable fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        		<strong>Please Select a schedule</strong>
        	</div>
        	 <div *ngIf="campaignLaunchForm.hasError('invalidSchedule')"  class="alert alert-danger alert-dismissable fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        		<strong>Please Select Date</strong>
        	</div>
                <div class="row">
                <div class="form-group">
                	<div class="col-md-4" *ngFor="let schedule of sheduleCampaignValues">
                		 <input type="radio" name="scheduleCampaign" [value]="schedule"  formControlName="scheduleCampaign" ngDefaultControl/>
                		   <p>{{schedule}}</p>
                	</div>
              </div>
                
                 </div> 
				  <div class="row">
                	<div class="col-md-4 col-md-offset-4">                    
                      <!--  <datetime [timepicker]="false" formControlName="launchTime"></datetime> -->
                      </div>
                    </div>  
                </div>
                   <div style="float: right">
				    <button type="submit" class="btn green" 
				    [disabled]="!campaignLaunchForm.valid">
					  LaunchCampaign</button>
				</div>	
				</form>
            </div><hr><br>
            <hr>
           <!--  <div style="float: left;">
				    <button type="submit" class="btn green" (click)="addEmailId()">Send Test Email</button>
				</div>
             <div [innerHtml]="emailTemplateHtmlPreivew"></div> -->
        </div>
        
    </div>
    
</div>

<!-- Steps Progress and Details - END -->
<!-- 
</div>

		END CONTENT
</div> -->