<form>
  <fieldset>
    <legend>Add Button</legend>
    <div class="form-row">
      <div class="form-group col-md-12">
        <app-response-message [customResponse]="customResponse" *ngIf="customResponse.isVisible"></app-response-message>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Title</label>        
        <input type="text" class="form-control" name="buttonTitle" placeholder="Title"
          [(ngModel)]="dashboardButton.buttonTitle" maxlength="20" required>
      </div>
      <div class="form-group col-md-6">
        <label>Subtitle</label>
        <input type="text" class="form-control" name="buttonSubTitle" placeholder="Subtitle"
          [(ngModel)]="dashboardButton.buttonSubTitle" maxlength="40">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Link</label>
        <input type="text" class="form-control" name="buttonLink" placeholder="Link"
          [(ngModel)]="dashboardButton.buttonLink" maxlength="2083" required>
      </div>
      <div class="form-group col-md-5">
        <label>Icon</label>
        <select name="buttonIcon" class="form-control IconSelectFont" [(ngModel)]="dashboardButton.buttonIcon"
          (change)="selectedIconName()">
          <option [ngValue]="undefined" disabled selected> Please select icon </option>
          <option [ngValue]="icon.id" *ngFor="let icon of iconsList">{{icon.name}}</option>
        </select>
      </div>
      <div class="form-group col-md-1">
        <span><i class="fa {{dashboardButton.buttonIcon}}" style="padding-top: 35px;"></i></span>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="form-check">
          <input type="checkbox" class="form-check-input checkBox_shadow" name="newTab" [(ngModel)]="dashboardButton.openInNewTab">
          <label class="form-check-label" for="gridCheck" style="padding-top: 5px;">
            Open in new tab?
          </label>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label>Description</label>
        <textarea name="buttonDescription" maxlength="120" class="form-control" placeholder="Description"
          maxlength="120" [(ngModel)]="dashboardButton.buttonDescription"></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <button *ngIf="buttonActionType" type="submit" class="btn btn-primary"
          [disabled]="!dashboardButton.buttonTitle || !dashboardButton.buttonLink || saving" (click)="save()">Save</button>
        <button *ngIf="!buttonActionType" type="submit" class="btn btn-primary"
          [disabled]="!dashboardButton.buttonTitle || !dashboardButton.buttonLink" (click)="update()">Update</button>
        <button *ngIf="!buttonActionType" type="submit" class="btn btn-danger" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </fieldset>
</form>

<fieldset *ngIf="pagination.totalRecords!==0" style="margin: 20px 2px;">
  <legend>Your Dashboard Button's List</legend>
  <div *ngIf="pagination.totalRecords!==0" class="table-responsive" style="overflow-x: inherit; padding:15px;">
    <table class='table tgrid table-hover'>
      <thead>
        <tr>
          <th class="dashboardButtonTablewidth">Title</th>
          <th class="dashboardButtonTablewidth1">Link</th>
          <!-- <th>Icon</th> -->
          <th class="text-center dashboardButtonTablewidth2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of pagination.pagedItems">
          <td Class="brnTitleTextCu"><span><i class="fa {{item.buttonIcon}}"></i></span>
            {{item.buttonTitle}}</td>
          <td>{{item.buttonLink}}</td>
          <td>
            <div class="actions-block override-actions">
              <a (click)="edit(item.id)" data-toggle="tooltip" data-placement="top" title="edit"> <i
                  class="fa fa-pencil-square-o"></i>
              </a>
              <a (click)="showAlert(item.id)" data-toggle="tooltip" data-placement="top" title="delete">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="form-group col-md-12" *ngIf="pagination.pagedItems.length !== 0">
    <app-pagination [pagination]="pagination" (notifyParent)="setPage($event)"
      (notifyParentDropDown)="getDashboardButtons($event)" [hidden]="httpRequestLoader.isLoading"></app-pagination>
  </div>
</fieldset>