
.top-section {
  margin-bottom:25px;
}

.main-heading {
  font-size: 25px;
  margin-bottom: 0px!important;
  font-weight: bold;
  margin-bottom: 10px;
  color: rgba(2, 118, 255, 1);
}

.agent-sub-text{
  margin: 0px 0px 20px 0px;
  color: #002b87;
  font-size: 15px;
}
.agent-search-wrapper {
  /* max-width: 600px; */
  margin: 0 auto;
  position: relative;
}

.agent-search-input {
  padding: 24px 45px 24px 20px;
  border-radius:11px !important;
  width: 100%;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
  font-size: 16px;
  outline: none;
}
.agent-search-input:hover {box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);}
.agent_search{
  right: 18px !important;
  top: 17px !important;
}
.agent-search-wrapper::before {
  /* content: '\f002';
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 16px; */
}

.agent-card-section .col-sm-6 {
  margin-bottom: 20px;
}
.agent-card-section {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  padding-right: 6px;
  /* height: calc(60vh - 20px); */
}

.agent-card {
  background-color: #fff;
  border-radius: 16px;
  padding: 17px;
  display: flex;
  align-items: center;
  min-height: 125px;
}

.agent-card-border-shadow {
  box-shadow: 0 2px 4px rgb(0 0 0 / 11%);
  border: 1px solid #ddd;
}

.agent-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.agent-checkbox {
  position: absolute;
  top: 7px;
  left: 7px;
  margin: 0px;
  transform: scale(1.2);
  transform-origin: top left;
}
.agent-icon {
  width: 68px;
  height: 68px;
  margin-right: 16px;
  border-radius: 50%;
  object-fit: contain;
  background: #f1f1f1;
}
.agent-info {
  background-color: #e2eeff;
  padding: 8px;
  border-radius: 8px;
  flex: 1;
  min-height: 91px;
}
.agent-info h5 {
  margin-top: 0;
  font-weight: bold;
  font-size: 17px !important;
  margin-bottom: 5px;
}

.agent-info p {
  margin-bottom: 0;
  font-size: 12px;
  color: #444;
}

@media (max-width: 767px) {
 
 .agent-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .agent-checkbox {
    top: 10px;
    left: 10px;
  }
  .agent-icon {
    margin-bottom: 15px;
  }

}
.fixed-update-button {
  position: fixed;
  bottom: 20px;
  right: 45px;
  z-index: 1000;
}
.agent-card-align{
  padding-right: 12px!important;
  padding-left: 12px!important;
}
.settings-heading-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}
.agent-settings-icon {
  width: 25px;
  height: 25px;
}

 .oliver_text{
  font-size: 12px;
  color: #007bff;
  margin-top: 10px;
}
.writing-card{
  background: white;
  border-radius: 15px;
  padding:13px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.oliver-input:focus,.oliver-focus:focus{
  background: #eef5ff;
  box-shadow: none;
}

.submit-section{
  flex-direction: column;
    display: flex;
    margin-left: 20px;
}