ul.drag-menu-cu li:hover { background-color: #ddd;cursor: pointer;}
.custome-portlet {border-radius: 0px !important;border: none !important;padding: 0px !important;margin: 0px !important}
.drag-menu-cu li {margin-bottom: 2px;}
.dragdrop-graph-bg { padding-top: 0px;padding-right: 20px;padding-bottom: 0px;padding-left: 5px;}
.drap-arrow-cu { padding: 4px 0px;font-size: 10px;color: #333;}
/* .add-graph-bg {background-image: url(/assets/images/graph.png);padding: 28px !important;background-repeat: round;background-size: 100%;} */
.list-group {padding-left: 0;margin-bottom: 0px;}
img.draganddrop-image-cu {height: 300px;object-fit: contain;}
.btn-top-space {margin-top: 20px;}
.dragdrop-gif-cu {border: 1px solid #ddd;padding: 15px;border-radius: 5px;}
h4.boltext-dr {font-weight: 600;margin-top: 0px;}
p.contentwrap-dr {padding-top: 0px;padding-right: 6px;padding-bottom: 6px;padding-left: 6px;}


@media (min-width: 300px) and (max-width: 992px)  {
    .dragdrop-graph-bg { padding: 0px;}
    .dragdrop-gif-cu{
        margin-top: 14px;
        margin-right: 0px;
        margin-bottom: 15px;
        margin-left: 15px;
        width: 91%;
    }
}
