<div class="my-container">
    <ngx-loading [show]="ngxloading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<div class="col-xs-12" style="padding: 0">
    <div class="portlet light border-radius-0">
        <div class="gu-block">
            <h6 class="gu-block-content"></h6>
        </div>
        <ul class="list-group" [dragula]="leftSideMenuDragula" [dragulaModel]="menuItems">
            <li class="list-group-item" *ngFor="let menu of menuItems"
                style="border-color: rgb(114, 212, 251); margin-top: 2px; margin-right: 50%;">{{menu.customName}}</li>
        </ul>
    </div>
    <button class="btn green-haze" style="float: right;" (click)="updateMenuItems()">Submit</button>
</div>