label {
  font-weight: 600;
}
fieldset {
  padding: 10px 20px;
}
.portlet.light.dashboard-stat2.border-error {
  border-color: red;
}
@media screen and (min-width: 601px) {
  .modal-css {
    width: 52% !important;
    right: 0 !important;
  }
  .modal-template {
    width: 52% !important;
  }
  .modal-user {
    width: 52% !important;
  }
}
@media screen and (max-width: 600px) {
  .modal-css {
    width: 100% !important;
    right: 0 !important;
  }
  .modal-template {
    width: 95% !important;
  }
  .modal-user {
    width: 100% !important;
  }
}
h5 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
  word-break: break-all;
  color: #2874f0;
}
h6 {
  font-size: 12px;
  margin-top: 7px;
}
.campaign-label {
  text-transform: uppercase;
  border: 1px solid #4b96db;
  color: #4b96db;
  padding: 3px 10px;
  font-size: 9px;
  letter-spacing: 1px;
  font-weight: 600;
}
fieldset {
  margin: 10px;
}
fieldset img {
  height: 137px;
}
.actions-block {
  float: none;
}
.campaign-label.now {
  background: #28a745;
  color: white;
  border: 1px solid #28a745;
}
.campaign-label.save {
  background: #6c757d;
  color: white;
  border: 1px solid #6c757d;
}
.campaign-label.schedule {
  background: #007bff;
  color: white;
  border: 1px solid #007bff;
}
@media screen and (min-width: 601px) {
  .modal-css {
    width: 52% !important;
    right: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  .modal-css {
    width: 100% !important;
    right: 0 !important;
  }
  .mb_border_none{
  border:none!important;
  }
}
:host /deep/.video-js .vjs-big-play-button {
  top: 51px !important;
  left: 93px !important;
}
.sort-dropdown {
  margin: -20px 71px;
}
.th-size {
  font-size: 12px;
  font-weight: 500;
}
.pointer {
  cursor: pointer;
}
.preview-btn {
  padding-top: 5px !important;
  font-size: 15px;
  color: #5a5a5a;
}
.auto-resp {
  font-size: 13px;
  color: #3d3c4c;
  font-weight: 600;
}
.message-auto {
  border: 1px solid #b7b5b5;
  padding: 5px 8px;
  background: #ebebe4;
  overflow: auto;
}
.workflow-style {
  border-radius: 3px !important;
}
.pause-style {
  border-color: #ac2925;
}
.pause-text-style {
  color: #ac2925;
}
.resume-style {
  border-color: #008fd5;
}
.resume-text-style {
  color: #008fd5;
}
fieldset.scheduler-border {
  border: 1px solid silver;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  box-shadow: 0px 0px 0px 0px #000;
}
legend.scheduler-border {
  width: auto;
  padding: 0 10px;
  color: #00a6e8;
  font-weight: 600;
  font-size: 15px;
  border-bottom: none;
}
.preview-edit-color {
  color: #5a5a5a;
}
@media only screen and (max-width:991px){
  .mb_mr0{
    margin-right: 0px!important;
  }
}

.ml25{
  margin-left: 25px !important;
}