label {font-weight: 600;}
.thumb-vid, .thumb-bg {height: 100px}
.fa.fa-users.disabled{
    background: gray;
}
.fa.fa-users{
    padding: 1em;
    font-size: 1.8em;
    line-height: 1em;
    background: #00a6e8;
    color: white;
    border-radius: 100%;
    margin-left: 1em;
}
fieldset {
    padding: 10px 20px;
}
.dashboard-stat.yellow-gold {
    text-align: center;
    padding: 15px;
    color: #fff;
    font-size: 14px;
}

.portlet.light.dashboard-stat2.border-error{
	border-color: red
}

.table tr.contact-list-selected td {
	background-color: #00a6e8 !important;
	color: white;
}
  .blur {
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
	cursor: default;
}
.custom-change-css{
  width: 100%;
  background: #eaeaea;
  border-radius: 0;
  padding: 10px 20px;
}
.time-picker-css{
  margin-top: 30px;
  margin-right: 10px;
  position: relative;
  right: -4px;
}
.button-blue{
  position: relative;
  background: #8395a7 !important;
  top: 6px;
  font-size: 4px;
}
.switch-choose{
  position: relative;
  top: 6px;
}
