@media screen and (max-width:600px) { .modal-css{ width:100% !important}}
@media screen and (min-width:601px) { .modal-css{ width:52% !important}}
.text-css{
  font-size: 16px;
  margin-bottom: 17px;
  margin-top: 18px;
}
.text-new{
  margin-bottom: 17px;
  margin-top: 18px;
}
