.custom-padding {
	padding-top: 5px !important;
}

.custp {
	padding-top: 0px !important;
	padding-left: 50px !important;
}

@media screen and (max-width:600px){
	.mPad{
		padding-bottom: 5px;
	}
}


.portlet .dashboard-stat:last-child {
	margin-bottom: 20px !important;
}
.dashboard-stat .details .desc {
	font-size: 13px !important;
}
.portlet.light > .portlet-title > .caption > .caption-subject {
	font-weight: 600 !important;
}
.pjCardTitlebg{    
    background-color: #d9edf7b0;
    border-bottom: 1px solid #ddd;
    padding: 10px 16px 0px 16px !important;
    margin: -10px -10px 0px -10px;
  }

.portlet .dashboard-stat:last-child {
    margin-bottom: 12px !important;
}
.portlet.light .portlet-body {
    padding-top: 25px;
}

.icon-customize{
	font-size: 20px;
    margin-top: 5px;
}


i:hover::after {
    content: attr(data-title);
    background-color: #eee;
    color: #080808;
    padding: 10px;
    border-radius: 4px;
    font-size: 12px;
	font-weight: bold;
    line-height: 10px;
    display: block;
    top: 5px;
    right: 40px;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
}
