			<div class="page-content">
				<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
				<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
								<h4 class="modal-title">Modal title</h4>
							</div>
							<div class="modal-body">
								 Widget settings form goes here
							</div>
							<div class="modal-footer">
								<button type="button" class="btn blue">Save changes</button>
								<button type="button" class="btn default" data-dismiss="modal">Close</button>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->
				
				<!-- END STYLE CUSTOMIZER -->
				<!-- BEGIN PAGE HEADER-->
				<h3 class="page-title">
				User Account <small>user account page sample</small>
				<app-topnavbar [displayName]="displayName"></app-topnavbar>
						 <app-topnavbar [profilePicutrePath]="profilePicutrePath"></app-topnavbar>
				</h3>
				<div class="page-bar">
					<ul class="page-breadcrumb">
						<li>
							<i class="fa fa-home"></i>
							<a routerLink="../../dashboard">Home</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li>
							<a href="#">Pages</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li>
							<a href="#">User Account</a>
						</li>
					</ul>
					<div class="page-toolbar">
						<div class="btn-group pull-right">
							<button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
							Actions <i class="fa fa-angle-down"></i>
							</button>
							<ul class="dropdown-menu pull-right" role="menu">
								<li>
									<a href="#">Action</a>
								</li>
								<li>
									<a href="#">Another action</a>
								</li>
								<li>
									<a href="#">Something else here</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">Separated link</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- END PAGE HEADER-->
				<!-- BEGIN PAGE CONTENT-->
				<div class="row">
					<div class="col-md-12">
						<!-- BEGIN PROFILE SIDEBAR -->
						<div class="profile-sidebar" style="width:250px;" *ngIf="userData">
							<!-- PORTLET MAIN -->
							<div class="portlet light profile-sidebar-portlet">
								<!-- SIDEBAR USERPIC -->
								<div class="profile-userpic">
									<img src="{{userProfileImage}}" class="img-responsive" alt="">
								</div>
								<!-- END SIDEBAR USERPIC -->
								<!-- SIDEBAR USER TITLE -->
								<div class="profile-usertitle">
									<div class="profile-usertitle-name" style="overflow: auto">
										 {{userData.displayName}}
									</div>
									<div class="profile-usertitle-job">
										{{userData.occupation}}
									</div>
								</div>
								<!-- END SIDEBAR USER TITLE -->
								<!-- SIDEBAR BUTTONS -->
								<!--<div class="profile-userbuttons">
									<button type="button" class="btn btn-circle green-haze btn-sm">Follow</button>
									<button type="button" class="btn btn-circle btn-danger btn-sm">Message</button>
								</div>-->
								<!-- END SIDEBAR BUTTONS -->
								<!-- SIDEBAR MENU -->
								<div class="profile-usermenu">
									<ul class="nav">
										<li class="active">
											<a routerLink="../myprofile">
											<i class="icon-settings"></i>
											Account Settings </a>
										</li>
										<li>
											<a routerLink="../profilehelp">
											<i class="icon-info"></i>
											Help </a>
										</li>
									</ul>
								</div>
								<!-- END MENU -->
							</div>
							<!-- END PORTLET MAIN -->
							<!-- PORTLET MAIN -->
							<div class="portlet light">
								<!-- STAT -->
								<div class="row list-separated profile-stat">
									<div class="col-md-4 col-sm-4 col-xs-6">
										<div class="uppercase profile-stat-title">
											 37
										</div>
										<div class="uppercase profile-stat-text">
											 Projects
										</div>
									</div>
									<div class="col-md-4 col-sm-4 col-xs-6">
										<div class="uppercase profile-stat-title">
											 51
										</div>
										<div class="uppercase profile-stat-text">
											 Tasks
										</div>
									</div>
									<div class="col-md-4 col-sm-4 col-xs-6">
										<div class="uppercase profile-stat-title">
											 61
										</div>
										<div class="uppercase profile-stat-text">
											 Uploads
										</div>
									</div>
								</div>
								<!-- END STAT -->
								<div>
									<h4 class="profile-desc-title">About {{userData.displayName}}</h4>
									<span class="profile-desc-text"> {{userData.description}} </span>
									<div class="margin-top-20 profile-desc-link">
										<i class="fa fa-globe"></i>
										<a href="http://www.keenthemes.com">www.keenthemes.com</a>
									</div>
									<div class="margin-top-20 profile-desc-link">
										<i class="fa fa-twitter"></i>
										<a href="http://www.twitter.com/keenthemes/">@keenthemes</a>
									</div>
									<div class="margin-top-20 profile-desc-link">
										<i class="fa fa-facebook"></i>
										<a href="http://www.facebook.com/keenthemes/">keenthemes</a>
									</div>
								</div>
							</div>
							<!-- END PORTLET MAIN -->
						</div>
						<!-- END BEGIN PROFILE SIDEBAR -->
						<!-- BEGIN PROFILE CONTENT -->
						<div class="profile-content">
							<div class="row">
								<div class="col-md-12">
									<div class="portlet light">
										<div class="portlet-title tabbable-line">
											<div class="caption caption-md">
												<i class="icon-globe theme-font hide"></i>
												<span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
											</div>
											<ul class="nav nav-tabs">
												<li class="active">
													<a href="#tab_1_1" data-toggle="tab">Personal Info</a>
												</li>
												<li>
													<a href="#tab_1_2" data-toggle="tab">Change Avatar</a>
												</li>
												<li>
													<a href="#tab_1_3" data-toggle="tab">Change Password</a>
												</li>
												<li>
													<a href="#tab_1_4" data-toggle="tab">Privacy Settings</a>
												</li>
											</ul>
										</div>
										<div class="portlet-body">
											<div class="tab-content">
												<!-- PERSONAL INFO TAB -->
												<div class="tab-pane active" id="tab_1_1">
													<div *ngIf="updateProfileSuccess"  class="alert alert-success alert-dismissable fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Profile Updated Successfully</strong></div>
													<form role="form" [formGroup]="updateUserProfileForm" (ngSubmit)="updateUserProfile()">
														<div class="form-group">
															<label class="control-label">First Name</label>
															<input type="text"   placeholder="First Name" class="form-control" formControlName="firstName" required/>
															<div *ngIf="formErrors.firstName" class="alert alert-danger">{{ formErrors.firstName }}</div>
														</div>
														<div class="form-group">
															<label class="control-label">Last Name</label>
															<input type="text"  placeholder="Last Name" class="form-control" formControlName="lastName"  required/>
															<div *ngIf="formErrors.lastName" class="alert alert-danger">{{ formErrors.lastName }}</div>
														</div>
														<div class="form-group">
															<label class="control-label">Mobile Number</label>
															<input type="text"    placeholder="Mobile Number" class="form-control" formControlName="mobileNumber"  required/>
															<div *ngIf="formErrors.mobileNumber" class="alert alert-danger">{{ formErrors.mobileNumber }}</div>
														</div>
														<div class="form-group">
															<label class="control-label">Interests</label>
															<input type="text"   placeholder="Interests" class="form-control" formControlName="interests"  required/>
															<div *ngIf="formErrors.interests" class="alert alert-danger">{{ formErrors.interests }}</div>
														</div>
														<div class="form-group">
															<label class="control-label">Occupation</label>
															<input type="text"  placeholder="Occupation" class="form-control" formControlName="occupation"  required/>
															<div *ngIf="formErrors.occupation" class="alert alert-danger">{{ formErrors.occupation }}</div>
														</div>
														<div class="form-group">
															<label class="control-label">About</label>
															<textarea class="form-control" rows="3" placeholder="About You" formControlName="description"  required></textarea>
															<div *ngIf="formErrors.description" class="alert alert-danger">{{ formErrors.description }}</div>
														</div>
														<div class="form-group">
															<label class="control-label">Website Url</label>
															<input type="text"  placeholder="WebSite Url" class="form-control" formControlName="websiteUrl"  required/>
															<div *ngIf="formErrors.websiteUrl" class="alert alert-danger">{{ formErrors.websiteUrl }}</div>
														</div>
														<button type="submit"   [disabled]="!updateUserProfileForm.valid" class="btn green-haze">Save Changes</button>
														<input type="reset"  class="btn default" value="Cancel">
													</form>
												</div>
												<!-- END PERSONAL INFO TAB -->
												<!-- CHANGE AVATAR TAB -->
												<div class="tab-pane" id="tab_1_2">
													<div *ngIf="profileUploadSuccess" class="alert alert-success alert-dismissable fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Profile Picture Updated Successfully</strong></div>
													
													<p>
														 Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
													</p>
													<form action="#" role="form">
														<div class="form-group">
															<div class="fileinput fileinput-new" data-provides="fileinput">
																<div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
																	<img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" id="priview"/>
																</div>
																<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;" id="previewImage">
																</div>
																<div>
																	<span class="btn default btn-file">Select image
																	<input type="file" ng2FileSelect [uploader]="uploader" 
																	*ngIf="uploader.queue.length==0" (change)="fileChange(input)" #input/> 
																	</span>
																	
																</div>
															</div>
															
															<div class="clearfix margin-top-10">
																<span class="label label-danger">NOTE! </span>
																<span>Attached image thumbnail is supported in Latest Firefox, Chrome, Opera, Safari and Internet Explorer 10 only </span>
															</div>
														</div>
														
														<table class="table">
													
															<tbody>
															
																<tr *ngFor="let item of uploader.queue">
																	<td><strong>{{ item?.file?.name }}</strong></td>
																	<!-- <td *ngIf="uploader.isHTML5" nowrap>{{
																		item?.file?.size/1024/1024 | number:'.2' }} MB</td> -->
																    <td nowrap>{{ (item?.file?.size/1024/1024).toFixed(2) }} MB</td>		
																	<td >
																		<div class="progress" style="margin-bottom: 0;">
																			<div class="progress-bar" role="progressbar"
																				[ngStyle]="{ 'width': item.progress + '%' }"></div>
																		</div>
																	</td>
																	<td class="text-center"><span *ngIf="item.isSuccess"><i
																			class="glyphicon glyphicon-ok"></i></span> <span
																		*ngIf="item.isCancel"><i
																			class="glyphicon glyphicon-ban-circle"></i></span> <span
																		*ngIf="item.isError"><i
																			class="glyphicon glyphicon-remove"></i></span></td>
																	<td nowrap>
																		<button type="button" class="btn btn-success btn-xs"
																			(click)="item.upload()"
																			[disabled]="item.isReady || item.isUploading || item.isSuccess">
																			<span class="glyphicon glyphicon-upload"></span> Upload
																		</button>
																		 <button type="button" class="btn btn-danger btn-xs"
								                                (click)="item.remove();clearImage()" data-dismiss="fileinput">
								                            <span class="glyphicon glyphicon-trash"></span> Remove
								                        </button>
																	</td>
																</tr>
															</tbody>
														</table>
													</form>
												</div>
												<!-- END CHANGE AVATAR TAB -->
												<!-- CHANGE PASSWORD TAB -->
												<div class="tab-pane" id="tab_1_3">
													<div *ngIf="updatePasswordSuccess"  class="alert alert-success alert-dismissable fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Password Updated Successfully</strong></div>
													<form [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()">
														<div class="form-group">
															<label class="control-label">Current Password</label>
															<input type="password" class="form-control"  formControlName="oldPassword" required="required"/>
															<div *ngIf="formErrors.oldPassword" class="alert alert-danger">{{formErrors.oldPassword}}</div>
														</div>
														<div class="form-group">
															<label class="control-label">New Password</label>
															<input type="password" class="form-control"  formControlName="newPassword" required="required"/>
															<div *ngIf="formErrors.newPassword" class="alert alert-danger">{{formErrors.newPassword}}</div>
														</div>
														<div class="form-group">
															<label class="control-label">Re-type New Password</label>
															<input type="password" class="form-control"  formControlName="confirmNewPassword" required="required"/>
															<div *ngIf="formErrors.confirmNewPassword" class="alert alert-danger">{{formErrors.confirmNewPassword}}</div>
															<div *ngIf="updatePasswordForm.hasError('mismatchedPasswords')" class="alert alert-danger">Passwords do not match.</div>
														</div>
														<div class="margin-top-10">
															<button type="submit"  id="register-submit-btn" [disabled]="!updatePasswordForm.valid" class="btn green-haze">Change Password</button>
															<input type="reset"  class="btn default" value="Cancel">
														</div>
													</form>
												</div>
												<!-- END CHANGE PASSWORD TAB -->
												<!-- PRIVACY SETTINGS TAB -->
												<div class="tab-pane" id="tab_1_4">
													<form action="#">
														<table class="table table-light table-hover">
														<tr>
															<td>
																 Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus..
															</td>
															<td>
																<label class="uniform-inline">
																<input type="radio" name="optionsRadios1" value="option1"/>
																Yes </label>
																<label class="uniform-inline">
																<input type="radio" name="optionsRadios1" value="option2" checked/>
																No </label>
															</td>
														</tr>
														<tr>
															<td>
																 Enim eiusmod high life accusamus terry richardson ad squid wolf moon
															</td>
															<td>
																<label class="uniform-inline">
																<input type="checkbox" value=""/> Yes </label>
															</td>
														</tr>
														<tr>
															<td>
																 Enim eiusmod high life accusamus terry richardson ad squid wolf moon
															</td>
															<td>
																<label class="uniform-inline">
																<input type="checkbox" value=""/> Yes </label>
															</td>
														</tr>
														<tr>
															<td>
																 Enim eiusmod high life accusamus terry richardson ad squid wolf moon
															</td>
															<td>
																<label class="uniform-inline">
																<input type="checkbox" value=""/> Yes </label>
															</td>
														</tr>
														</table>
														<!--end profile-settings-->
														<div class="margin-top-10">
															<a href="javascript:;" class="btn green-haze">
															Save Changes </a>
															<a href="javascript:;" class="btn default">
															Cancel </a>
														</div>
													</form>
												</div>
												<!-- END PRIVACY SETTINGS TAB -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- END PROFILE CONTENT -->
					</div>
				</div>
				<!-- END PAGE CONTENT-->
			</div>
		
