  /deep/.video-js .vjs-big-play-button {
        top: 57px !important;
        left: 120px !important;
    }
  .videoCssDefault{ 
        position: absolute;
        right: 34px;
        top: 89px; 
        z-index: 600;
    }