<div class="col-xs-12 col-sm-5 col-lg-5" style="padding: 0">
  <div class="col-xs-12 pr5">
    <div class="portlet light overflow-x-auto" style="min-height: 480px;margin-bottom:20px">
      <div class="portlet-title minheight-zero-px" [hidden]="loader">
        <div class="caption">
            <span class="caption-subject font-red-sunglo uppercase" translate>{{headerText}}</span>
        </div>
      </div>
      <div class="portlet-body">
        <app-modal-popup-loader [showCircle]="true" [height]="460" [hidden]="!loader"></app-modal-popup-loader>
        <ng-container *ngIf="!loader && statusCode==500">
          <div class="alert alert-danger">
            <strong>{{properties?.serverErrorMessage}}</strong>
          </div>
        </ng-container>
        <div class="text-center" *ngIf="statusCode==404 && !loader">
          <div class="alert alert-info text-center">
            <strong>No Data Found</strong>
          </div>
        </div>
        <figure [hidden]="loader" class="highcharts-figure">        
          <div id="{{chartId}}">          
          </div>
        </figure>
      </div>
    </div>   
  </div>
</div>