<div class="modal fade right" id="send-test-email-modal-popup" tabindex="-1"
   role="dialog" aria-labelledby="myModalLabel" data-backdrop="static"
   data-keyboard="false">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <a class="close-circle" (click)="callEventEmitter()" data-dismiss="modal"> <i class="fa fa-times"></i></a>
            <h4 class="modal-title left" id="myModalLabel">Send Test Email</h4>
         </div>
         <div class="modal-body">
            <div *ngIf="sent">
               <app-response-message [customResponse]="customResponse" *ngIf="customResponse.isVisible"></app-response-message>
            </div>
            <div id="modal-content" *ngIf="!sent">
               <app-modal-popup-loader *ngIf="processing"></app-modal-popup-loader>
               <div class="form-group" *ngIf="!processing">
                  <label for="exampleInputEmail1">To <span class="text-danger">*</span></label>
                  <tag-input [(ngModel)]='emailIds'
                  #tagInput
                  name="emails"
                  #email="ngModel"
                  [errorMessages]="errorMessages"
                  [validators]="validators"
                  [separatorKeyCodes]="[32,188,186,13,9]"
                  [placeholder]="'Add email'"
                  [secondaryPlaceholder]="'Enter email address(es)'"
                  [clearOnBlur]="true"
                  [addOnPaste]="true"
                  [addOnBlur]="true"
                  [pasteSplitPattern]="splitPattern"
                  [onAdding]="onAddedFunc"
                  theme='bootstrap'
                  [onTextChangeDebounce]="40"
                  required >
                  </tag-input>
               </div>
               <div class="alert alert-info">
                  <strong>This is the preview of your email</strong>
               </div>
               <hr>
               <div id="sendTestEmailHtmlBody"></div>
            </div>
            
         </div>
         <div class="modal-footer" *ngIf="!processing">
            <button class="btn btn-default" (click)="callEventEmitter()" data-dismiss="modal">Close</button>
            <button type="submit" class="btn green" [disabled]="emailIds.length ==0 && subject?.length==0" (click)="send()" *ngIf="!sent">
               <i class="fa fa-paper-plane mr5" aria-hidden="true"></i>Send Test
            </button>
         </div>
      </div>
   </div>
</div>