<div class="col-xs-12 col-sm-6" style="padding-right: 5px;">
    <div class="portlet light" style="min-height: 501px;margin-bottom: 20px;">
      <div class="portlet-title pjCardTitlebg" style="min-height: 44px;">
        <div class="caption pjCardTitleCenterAlignment">
          <div class="caption-subject font-red-sunglo uppercase responsiveTitleCu" title="Campaigns  Launched By Active {{authenticationService?.partnerModule?.customName}}"  translate>
            Campaigns  Launched By Active {{authenticationService?.partnerModule?.customName |  slice:0:8}}
            <span *ngIf="authenticationService?.partnerModule?.customName?.length>10">...</span>
          </div>
        </div>
        <div class="inputs" id="right">
          <div class="portlet-input input-inline">
            <div class="input-icon right" style="position: relative; margin: -5px 0 0 0;">
              <input type="text" style="height: 34px;" class="form-control responsiveSearch" [(ngModel)]="activePartnersSearchKey" [ngModelOptions]="{standalone: true}"
              placeholder="Search" (keypress)="activePartnerSearch($event.keyCode)">
              <button class="glyphicon glyphicon-remove search-box-item-clear" *ngIf="activePartnersSearchKey" (click)="activePartnersSearchKey='';searchActivePartnerAnalytics();"></button>
              <button type="submit" class="search-box-item-click" (click)="searchActivePartnerAnalytics()"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="portlet-body clearfix table-responsive">
        <app-list-loader *ngIf="activeParnterHttpRequestLoader.isLoading" [rowsCount]="3"></app-list-loader>
        <table class="table tgrid" *ngIf="!activeParnterHttpRequestLoader.isLoading" aria-describedby="redistributedCampaignsAndPartners">
          <thead>
            <tr>
            <th scope="col">Company Name</th>
            <th scope="col" class="text-center">Campaigns</th>
            <th scope="col" class="text-center">Type</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of activePartnersPagination.pagedItems">
              <!-- <td> -->
                <!-- <strong>{{item?.partnerCompanyName | slice:0:20}}</strong>
                <span *ngIf="item?.partnerCompanyName.length>20">...</span> -->
                <td><a class="detailstext" data-rel="fancybox-button" (click)="viewAnalytics(item.companyId)"><app-user-info [isPartnerAnalyticsCompany]="true" [userInfo]="item"></app-user-info></a></td>
              <!-- </td> -->
              <td class="text-center">
              <div>
                <button class="btn btn-default btn-xs re-distributed-high-level TableDataBtn">
                  <div class="portlet-body text-center equal-spacein-allsides">
                    <h4>
                      <strong class="sky-blue">{{item?.count}}</strong>
                    </h4>
                  </div>
                </button>
              </div>
              </td>
              <td class="text-center">
                <app-pie-chart [partnerCompanyId]="item.companyId"></app-pie-chart>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="activePartnersPagination.totalRecords==0 && !activeParnterHttpRequestLoader.isLoading" class="alert alert-info">
          <strong>No campaigns found</strong>
        </div>
      </div>
      <div *ngIf="activePartnersPagination.totalRecords>0 && !activeParnterHttpRequestLoader.isLoading &&!activeParnterHttpRequestLoader.isServerError">
          <app-pagination [pagination]="activePartnersPagination" [type]="'ActivePartnerPagination'" [isDropdown]="true" (notifyParent)="setPage($event)"></app-pagination>
        </div>
    </div>
</div>