.mix-filter {
  margin: 5px;
}

.mix-filter li {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 5px 12px;
}

.portlet > .portlet-title > .caption {
  float: none;
  display: inherit;
}

.portlet.light .portlet-body {
  padding: 1em;
}

.portlet.light.block:hover {
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-0.5rem);
  -ms-transform: translateY(-0.5rem);
  transform: translateY(-0.5rem);
  cursor: pointer;
  cursor: hand;
}

[type="checkbox"] {
  vertical-align: sub;
  width: 16px;
  height: 16px;
}

.grid-box img {
  margin: 0 auto;
  height: 390px !important;
  width: 100% !important;
  /* border-radius: 5px; */
}

.landing-page-selected {
  background-color: #6dcff6;
}

.ribbon1 {
  position: absolute;
  top: -6.1px;
  right: 10px;
}
.ribbon1:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  margin-left: -44px;
  border-left: 44px solid transparent;
  border-right: 44px solid transparent;
  border-top: 10px solid #8dd8f8;
}
.ribbon1 span {
  position: relative;
  display: block;
  text-align: center;
  background: #8dd8f8;
  font-size: 14px;
  color: #ffffff;
  line-height: 1;
  padding: 12px 8px 10px;
  border-top-right-radius: 8px;
  width: 90px;
}
.ribbon1 span:before,
.ribbon1 span:after {
  position: absolute;
  content: "";
}
.ribbon1 span:before {
  height: 6px;
  width: 6px;
  left: -6px;
  top: 0;
  background: #8dd8f8;
}
.ribbon1 span:after {
  height: 6px;
  width: 8px;
  left: -8px;
  top: 0;
  border-radius: 8px 8px 0 0;
  background: #65b4d6;
}
.grid-box {
  padding-bottom: 0px !important;
}
.pg8 {
  top: 0px !important;
}
/* 6-6-2023 sudha sri */
.grid-box img {
  object-fit: cover;
}
