.description-width {
    width: 700px;
    text-transform: capitalize;
}

.title-width {
    width: 500px;
    text-transform: capitalize;
}

.carousel-caption {
    top: -11px;
}

.carousel-caption .btn {
    position: fixed!important;
    bottom: 36px;
}

.dashboard-ellipsis {
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media screen and (max-width:1024px){
    .title-custom-font{
        width: auto!important;
    }
    .description-width {
        width: auto!important;
    }
}