
.child-table-xamp{
	background-color: #463c2c24
}

.custom-response-padding{
	position: relative; 
	top:-10px;
}

.full-width{
    width: 100% !important;
}

.custom-user-width{
    width:459px;
}

.mb10p{
	margin-bottom: 10px !important;
}

.float-right{
	float: right;
}