p {
  font-weight: 400;
  color: #4c4c4c;
  font-size: 17px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #4c4c4c;
}

h4 {
  font-size: 20px;
  margin: 12px 0;
}

a {
  color: #f56363;
  transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
  color: #f56363c7;
  text-decoration: none;
}

a:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

b,
strong {
  font-weight: 600;
}

/* ==========================================================================
   2.Hero section
   ========================================================================== */
   .row {
    margin-right: 0px;
    margin-left: 0px;
}

.hero-section {
  background: #ffffff;
  background-size: cover;
  padding: 0 0 0em;
  position: relative;
  color: #fff;
  overflow: hidden;
}

.hero-section::before,
.video-tour::before,
.pricing::before,
.twitter-feed::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.hero-section::before {
  background: rgba(0, 0, 0, 0.3);
}

.btn {
  padding: 1em 1em;
  color: #fff;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  background-color: #f56363;
  line-height: 1.5;
  border: none;
  border-radius: 5px !important;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  color: #fff;
  background-color: #f56363c7;
}

.btn:active,
.btn:focus,
.btn:active:hover,
.btn:active:focus {
  color: #fff;
  outline: none;
  background-color: #f56363c7;
}

/* ==========================================================================
   3.Navbar
   ========================================================================== */

.navbar-default {
  background-color: rgba(255, 255, 255, 255);
  border: none;
  margin-bottom: 0;
  border-radius: 0;
  padding: 1.4em 0 1.4em;
}

.nav > li {
  text-align: center;
}

.nav > li > a > i {
  padding-right: 0.2em;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #f56363;
  transition: all 0.3s ease-in-out;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #fff;
}

.navbar-brand {
  padding: 0 0 0 1em;
}

.navbar-brand .logo-nav,
.nav-left {
  display: none;
}

.navbar-default.stuck .logo-head {
  display: none;
}

.navbar-default.stuck .logo-nav,
.navbar-default.stuck .nav-left {
  display: block;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #4c4c4c;
  font-size: 15px;
}

.navbar-default.stuck .navbar-nav > li > a {
  color: #4c4c4c;
}

.navbar-default.stuck .navbar-nav > li > a:hover,
.navbar-default.stuck .navbar-nav > li > a:focus {
  color: #f56363;
}

.navbar-default .btn {
  font-size: 15px;
}

.navbar-default.stuck .navbar-nav .btn {
  display: inline-block;
  color: #fff !important;
  border-color: #5aa1e3;
  background-color: #5aa1e3 !important;
  border-radius: 30px !important;
}

.navbar-default.stuck .navbar-nav .btn:hover,
.navbar-default.stuck .navbar-nav .btn:focus {
  background: #f56363c7 !important;
  color: #fff;
}

.navbar-default.stuck {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0 1px 12px 0px rgba(51, 51, 51, 0.23);
  -webkit-animation: fadeInDown 1s both;
  animation: fadeInDown 1s both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

/* ==========================================================================
   4.Play button
   ========================================================================== */

.play-btn {
  margin: 2.25em 0;
}

.hero-section .play-btn img {
  transition: opacity 0.3s linear;
}

.play-btn img:hover {
  opacity: 0.8;
}

.paddingLeftZero {padding-left: 0px;}
.paddingRightZero {padding-right: 0px;}

/* ==========================================================================
   5.Featured on
   ========================================================================== */

.section-header {
  margin-bottom: 3em;
}

.section-header h2 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
}

.section-header h3 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

.features,
.tour,
.site-footer {
  background-color: rgba(0, 0, 0, 0.03);
}

.section-spacing,
.section-spacing.featured-on,
.section-spacing.tour,
.section-spacing.site-footer {
  padding: 3.75em 0;
}

.featured-on .section-header {
  margin-bottom: 1.5em;
}

/* ==========================================================================
   6.Benefits
   ========================================================================== */

.benefits img {
  margin-bottom: 0.75em;
}

.benefits p {
  color: #8a8a8a;
}

.benefits div[class^="col-"]:nth-child(1),
.benefits div[class^="col-"]:nth-child(2),
.reviews div[class^="col-"]:nth-child(1),
.reviews div[class^="col-"]:nth-child(2),
.team div[class^="col-"]:nth-child(1),
.team div[class^="col-"]:nth-child(2) {
  padding-bottom: 1.5em;
}

.benefits div[class^="col-"] > p:last-child {
  margin-bottom: 0;
}

/* ==========================================================================
   7.Features
   ========================================================================== */

.features {
  overflow: hidden;
}

.features div[class="row"]:nth-child(1),
.features div[class="row"]:nth-child(2) {
  margin-bottom: 3em;
}

.features article {
  margin-top: 1.5em;
}

.features article h2 {
  font-size: 24px;
  margin: 24px 0 12px;
}

.features article li {
  font-size: 17px;
  color: #8a8a8a;
  padding-left: 1em;
  text-indent: -0.7em;
  padding-bottom: 0.2em;
}

.features article li:last-child {
  padding-bottom: 0;
}

.features article li:before {
  content: "� ";
  color: #f56363;
  padding-right: 0.5em;
}

.features div[class="row"]:nth-child(3) .col-md-4 article {
  margin-bottom: 1.5em;
}

/* ==========================================================================
   8.video tour
   ========================================================================== */

.video-tour {
  position: relative;
  height: 400px;
  overflow: hidden;
  background: #333 url(/assets/images/poster.jpg) center center no-repeat scroll;
  background-size: cover;
  -webkit-perspective: 1000;
  perspective: 1000;
}

.video-tour::before {
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.video-tour h2 {
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 0;
}

/* #bgvid-hero, */
#bgvid {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
  display: none;
  object-fit: cover;
}

.video-tour .play-btn {
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  margin: 0;
}

/* ==========================================================================
   9.tour
   ========================================================================== */

.center-block {
  float: none;
}

.tour h2 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

.tour .btn {
  margin-top: 1em;
  vertical-align: initial;
}

.tour .btn i,
.sub-form .btn i {
  padding-left: 0.5em;
}

/* ==========================================================================
   10.Pricing
   ========================================================================== */

.pricing {
  background: url(/assets/images/bg-pricing.jpg) center center no-repeat scroll;
  background-size: cover;
  position: relative;
}

.pricing::before {
  background: rgba(0, 0, 0, 0.3);
}

.pricing .section-header h2,
.pricing .section-header h3 {
  position: relative;
  color: #fff;
}

.plan {
  background-color: #fff;
  width: 350px;
  display: inline-block;
  margin: 0 0 1.5em;
  max-width: 100%;
}

.plan:last-child {
  margin-bottom: 0;
}

.plan .header,
.price,
.plan-features {
  padding: 1.5em 1em;
}

.plan .header h4 {
  font-size: 21px;
  margin: 0;
}

.price {
  background-color: #0195da;
  color: #fff;
}

.price-amount {
  font-size: 110px;
  line-height: 1;
}

.period {
  font-size: 30px;
}

.currency {
  font-size: 30px;
  vertical-align: top;
  top: 30px;
}

.plan-features li {
  padding-bottom: 0.75em;
  font-size: 17px;
}

.plan-features li:last-child {
  padding-bottom: 0;
}

.plan-features li span {
  font-weight: 700;
}

.plan-features li i {
  padding-left: 0.5em;
  color: #f56363;
}

.buy-button {
  padding-bottom: 1.5em;
}

.buy-button p {
  margin: 12px 0 0;
  font-weight: 300;
}

/* ==========================================================================
  11.reviews
   ========================================================================== */
/* ==========================================================================
  12.cta section
   ========================================================================== */
/* ==========================================================================
   13.Team
   ========================================================================== */

/* ==========================================================================
   14.Twitter feed
   ========================================================================== */

/* ==========================================================================
   15.Contact us
   ========================================================================== */

.contact.section-spacing {
  padding: 3.75em 0 0;
}

/* ==========================================================================
   16.Subscription form styles
   ========================================================================== */

.form-control::-webkit-input-placeholder {
  color: #8a8a8a;
}

.form-control:-moz-placeholder {
  color: #8a8a8a;
}

.form-control::-moz-placeholder {
  color: #8a8a8a;
}

.form-control:-ms-input-placeholder {
  color: #8a8a8a;
}

.form-control {
  background-color: #fff;
  border: 1px solid #f56363;
  color: #4c4c4c;
  box-shadow: none;
  height: 60px;
  font-weight: 400;
  font-size: 16px;
  padding: 0 1.5em;
}

.form-control:focus {
  border-color: #f56363c7;
  outline: 0;
  box-shadow: none;
}

/* ==========================================================================
   17.site footer
   ========================================================================== */

.site-footer small {
  display: inline-block;
}

.footer-links,
.site-footer small {
  margin: 0 0 0.75em;
}

.site-footer small,
.footer-links a {
  color: #8a8a8a;
  font-weight: 300;
  font-size: 18px;
}

.footer-links a:hover {
  color: #f56363c7;
}

.footer-links a:first-child {
  padding-right: 0.4em;
}

.chat-btn.fixed {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #f56363 url(/assets/images/chat-icon.svg) center center no-repeat;
  position: fixed;
  bottom: 120px;
  right: 30px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  z-index: 2;
}

.chat-btn.fixed {
  display: none;
}

.chat-btn:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.chat-btn.fixed {
  display: block;
}

#modal-contact-form .modal-body {
  padding: 3em 1em;
}

.contact-form .section-header h2 {
  margin: 24px 0 12px;
}

.contact-form .form-control {
  border-radius: 4px;
  height: 49px;
  padding: 10px 16px;
  border-color: #dadddf;
}

.contact-form .form-control:focus {
  border-color: #fab1b1;
}

.contact-form textarea.input-lg {
  height: auto;
}

.cta-form .form-group {
  margin-bottom: 24px;
}

.contact-form .form-control.input-error {
  border-color: #f44336;
}

.contact-form-success {
  text-align: center;
  padding: 12px;
  margin: 0;
  font-size: 20px;
  display: none;
}

.contact-form-success i {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto 12px;
  border: 3px solid #2dbf5b;
  line-height: 74px;
  border-radius: 50%;
  font-size: 38px;
  text-align: center;
  color: #2dbf5b;
  background: transparent;
}

.contact-form-success {
  color: #949494;
}

.contact-form-success span {
  display: block;
  margin-bottom: 6px;
  color: #4c4c4c;
  font-size: 30px;
}

.modal {
  padding-right: 0 !important;
}

.modal button.close {
  position: absolute;
  top: -33px;
  right: 15px;
  font-size: 30px;
  color: #fff;
  opacity: 0.9;
  text-shadow: none;
  transition: all 0.3s ease-in-out;
  font-weight: 800;
}

.modal .close:hover,
.modal .close:focus {
  opacity: 1;
  outline: none;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.modal .modal-dialog {
  margin: 70px auto;
}

.modal .modal-content {
  border-radius: 3px;
}

/* ==========================================================================
   18.Social
   ========================================================================== */

.social li {
  display: inline-block;
  padding-right: 0.5em;
  text-align: center;
}

.social li:last-child {
  padding-right: 0;
}

.social li a {
  display: block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  border-radius: 50%;
  position: relative;
  transition: all 0.8s ease;
  font-size: 1.3em;
  background: #d6d6d6;
}

.social li a:hover {
  color: #fff;
  background: #f56363;
}

/* ==========================================================================
   Language switcher
   ========================================================================== */

/* ==========================================================================
   19.Small devices (tablets, 768px and up)
   ========================================================================== */

@media (min-width: 768px) {
  /* .hero-section {
    padding: 0 0 7.5em;
  } */

  .section-spacing {
    padding: 3em 0;
  }

  .contact.section-spacing {
    padding: 4.5em 0 0;
  }

  .section-header h3 {
    font-size: 26px;
  }

  .benefits div[class^="col-"]:nth-child(1),
  .benefits div[class^="col-"]:nth-child(2) {
    padding-bottom: 0;
  }

  .tour .btn {
    margin: 0 0 0 1em;
  }

  .video-tour {
    height: 450px;
  }

  .plan {
    width: 325px;
    margin: 0 1em 0;
  }

  #modal-contact-form .modal-body {
    padding: 3em;
  }

  /*   
  .modal button.close { right: 0; } */
}

/* ==========================================================================
   20.Medium devices (desktops, 992px and up)
   ========================================================================== */

@media (min-width: 992px) {
  .hero-section {
    /* padding: 0em 0 0em; */
    background: none;
  }

  .hero-section::before {
    display: none;
  }

  .overlay {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background: #ffffff;
    top: 0;
  }

  /* .navbar-default .btn {
    color: #fff !important;
    border-color: #5aa1e3 !important;
    background-color: #5aa1e3 !important;
    border-radius: 30px !important;
    padding: 0.75em 1.5em;
  } */

  /* .navbar-default .btn:hover {
    background-color: #f56363c7 !important;
  } */

  .navbar-brand {
    padding: 0;
  }

  .play-btn {
    margin: 4.5em 0;
  }

  /* .section-spacing {
    padding: 3em 0;
  } */

  .contact.section-spacing {
    padding: 6em 0 0;
  }

  /* .features div[class="row"]:nth-child(1),
  .features div[class="row"]:nth-child(2) {
    margin-bottom: 7.5em;
  } */

  .features article {
    margin-top: 6em;
  }

  .features img {
    max-width: none;
    width: 100%;
  }

  .features div[class="row"]:nth-child(2) .col-md-7 img {
    left: -277px;
  }

  .video-tour {
    height: 600px;
    background: none;
  }

  .video-tour::before {
    background: rgba(0, 0, 0, 0.1);
  }

  #bgvid {
    display: block;
  }

  .plan {
    margin: 0 1.5em 0;
    width: 310px;
  }

  .footer-links,
  .site-footer small {
    margin: 0;
  }

  .section-spacing.site-footer {
    padding: 3em 0;
  }
}

@media (max-width: 460px) {
  .video-tour .play-btn img {
    width: 45%;
  }
}

.contact.section-spacing,
.sub-form.section-spacing,
.benefits.section-spacing,
.tour.section-spacing {
  background: #fff;
}

.site-footer.section-spacing,
.features.section-spacing {
  background: #f7f7f7;
}

nav a {
  background: none !important;
}

.navbar-default.stuck .navbar-nav > li > a.btn:hover,
.navbar-default.stuck .navbar-nav > li > a.btn:focus {
  color: #f8f8f8;
}

@media screen and (max-width: 600px) {
  .size {
    font-size: 30px !important;
  }

  .size-p {
    font-size: 15px !important;
  }

  .size-try-xamplify {
    font-size: 17px !important;
  }
}

.fbg {
  background: #ffffff !important;
}

.form-control[_ngcontent-c1] {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #4c4c4c;
  box-shadow: none;
  height: 35px;
  font-weight: 400;
  font-size: 14px;
  padding: 0 1.5em;
}

.required {
  color: red;
}

#demo-timezoneId {
  width: 100%;
}

#wrapper {
  text-align: center;
}

#demo-button {
  top: 50%;
}

/* ==========================================================================
                                      mega menu start
   ========================================================================== */

.XamolifyLogoWidth {
  max-width: 150px !important;
  height: auto;
}
a.desktop-item {
  margin-top: 10px !important;
}
nav{
position: fixed;
z-index: 99;
width: 100%;
}
i.fa.fa-angle-down {
  /* color: #101010; */
  font-size: 14px;
}
nav .wrapper{
position: relative;
display: flex;
align-items: center;
justify-content: space-between;
}
.wrapper .logo a{
color: #f2f2f2;
font-size: 30px;
font-weight: 600;
text-decoration: none;
}
.wrapper .nav-links{
display: inline-flex;
}
.nav-links li{
list-style: none;
font-size: 15px;
}
.nav-links li a{
  color: #333;
  background-color: transparent;
  font-family: 'Gantari';
}
.nav-links li a:hover{
  color: #039be5;
  background-color: transparent;
}
nav a:hover {
  color: #039be5;
  background-color: transparent;
}
nav a {
  background-color: transparent !important;
  margin: 0px;
}
.nav-links .mobile-item{
display: none;
}
.nav-links .drop-menu{
  position: absolute;
  background: #fff;
  width: auto;
  line-height: 29px;
  top: 50px !important;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  padding: 9px 15px;
  margin: 0px;
  border-radius: 4px;
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
transition: all 0.3s ease;
top: 60px;
opacity: 1;
visibility: visible;
}
.drop-menu li a{
width: 100%;
display: block;
padding: 0px;
margin: 0px;
font-weight: 400;
border-radius: 0px;
}
.mega-box{
position: absolute;
left: 0;
width: 100%;
padding: 0 0px;
top: 53px !important;
opacity: 0;
visibility: hidden;
}
.mega-box .content{
background: #fff;
padding: 15px 20px;
display: flex;
width: 100%;
justify-content: space-between;
margin: 0px !important;
position: relative;
border:1px solid #1a1f4a;
border-radius: 10px 10px 10px 10px;
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.mega-box .content .row{
width: calc(25% - 30px);
line-height: 45px;
}
.content .row img{
width: 100%;
height: 100%;
object-fit: fill;
border-radius: 5px;
}
.content .row header{
  background: #e4f6ff;
  font-size: 15px;
  font-weight: 500;
  color: #039be5;
  padding: 10px 10px !important;
  line-height: 1;
  border-radius: 6px;
}
.content .row header i {
  width: 100%;
  text-align: left;
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}
/* .content .row .mega-links{
margin-left: -65px;
border-left: 1px solid rgba(255,255,255,0.09);
} */
/* .row .mega-links li{
padding: 0 20px;
} */
.row .mega-links li a{
padding: 0px;
padding: 0 10px;
color: #333;
display: block;
font-size: 14px;
line-height: 1.7;
}
.row .mega-links li a:hover{
color: #039be5;
}
.wrapper .btn{
color: #333;
font-size: 20px;
cursor: pointer;
display: none;
}
.wrapper .btn.close-btn{
position: absolute;
right: 30px;
top: 10px;
}
.columnBg1 {
background-color: transparent !important;    
}
.columnBg{
  background-color: #D937300F !important;
  border-radius: 5px;
  padding-bottom: 15px;
}
.eqailColumn {
  position: absolute;
  display: flex;
}
.wrapper button.btn.btn-primary {
  display: block !important;
  font-size: 14px !important;
  color: #fff;
}
@media screen and (max-width: 970px) {
.wrapper .btn{
  display: block;
}
.wrapper .nav-links{
  position: fixed;
  height: 100vh;
  width: 100%;
  max-width: 350px;
  top: 0;
  left: -100%;
  background: #ffffff;
  display: block;
  padding: 10px 10px;
  line-height: 13px;
  overflow-y: auto;
  box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
  transition: all 0.3s ease;
}
/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #242526;
}
::-webkit-scrollbar-thumb {
  background: #3A3B3C;
}
#menu-btn:checked ~ .nav-links{
  left: 0%;
}
#menu-btn:checked ~ .btn.menu-btn{
  display: none;
}
#close-btn:checked ~ .btn.menu-btn{
  display: block;
}
.nav-links li{
  margin: 25px 10px;
}
.nav-links li a{
  padding: 0 20px;
  display: block;
  font-size: 20px;
}
/* .nav-links .drop-menu{
  position: static;
  opacity: 1;
  top: 65px;
  visibility: visible;
  padding-left: 20px;
  width: 100%;
  max-height: 0px;
  overflow: hidden;
  box-shadow: none;
  transition: all 0.3s ease;
} */
#showDrop:checked ~ .drop-menu,
#showDrop1:checked ~ .drop-menu,
#showMega:checked ~ .mega-box,
#showMega1:checked ~ .mega-box{
  max-height: 100%;
}
.nav-links .desktop-item{
  display: none;
}
.nav-links .mobile-item{
  display: block;
  color: #f2f2f2;
  /* font-size: 20px; */
  font-weight: 500;
  /* padding-left: 20px; */
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links .mobile-item:hover{
  background: #3A3B3C;
}
.drop-menu li{
  margin: 0;
}
.drop-menu li a{
  border-radius: 5px;
  font-size: 18px;
}
.mega-box{
  position: static;
  top: 65px;
  opacity: 1;
  visibility: visible;
  padding: 0 20px;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.3s ease;
}
.mega-box .content{
  box-shadow: none;
  flex-direction: column;
  padding: 20px 20px 0 20px;
}
.mega-box .content .row{
  width: 100%;
  margin-bottom: 15px;
  border-top: 1px solid rgba(255,255,255,0.08);
}
.mega-box .content .row:nth-child(1),
.mega-box .content .row:nth-child(2){
  border-top: 0px;
}
.content .row .mega-links{
  border-left: 0px;
  padding-left: 15px;
}
.row .mega-links li{
  margin: 0;
}
.content .row header{
  font-size: 19px;
}
}
nav input{
display: none;
}
.body-text{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 100%;
text-align: center;
padding: 0 30px;
}
.body-text div{
font-size: 45px;
font-weight: 600;
}
img.ResourcesImage {
  width: 100% !important;
  height: 183px !important;
}
@media (min-width: 200px) and (max-width: 767px)  { 
  .sidePaddings {
      padding: 0px 10px;
  }
}
ul.nav-links {
  margin-bottom: 0px;
}
button.btn.RequestDemoBtn {
/* font-family: "Open Sans", Sans-serif; */
font-size: 16px;
font-weight: 400;
fill: #fff;
color: #fff;
background-color: #4193cf;
border-style: none;
border-radius: 5px 5px 5px 5px;
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
padding: 10px 20px 10px 20px;
}

button.btn.RequestDemoBtn:hover {
color: #fff !important;
background-color: #1a1f4a !important; 
border-color: #1a1f4a !important;
}
/* mega menu end*/
header.hero-section {
  padding: 0 0 6.8em;
}
/* span.menuDisplayLine {
  position: absolute;
  top: 32px;
}
span.menuDisplayLine1 {
  position: relative;
  left: 28px;
} */
li.SpaceForLeftSide {
  margin-left: 33px;
}
.menuMarginB{
  margin-bottom: 10px;
}
 
.mega-box .row {
  margin-right: 0px;
  margin-left: 0px;
}
i.menuIconSize {
  font-size: 13px !important;
}
hr.hrcustimization {
  border-color: #231f20;
  width: 80%;
  margin: 0 auto;
  display: block;
  padding: 4px 0px;
}
.BlogcardImg{
  width: 100%;
  height: 158px;
  overflow: hidden;
  margin: 0 auto;
}
.Blogcardimagediv img {
  width: 100%;
  transition: 0.5s all ease-in-out;
  /* border-radius: 15px 15px 0px 0px; */
}
.Blogcardimagediv {
  overflow: hidden;
  /* border-radius: 15px 15px 0px 0px; */
}
.Blogcardimagediv:hover img {
  transform: scale(1.2);
}

.Blogcard {
  /* border-radius: 15px 15px 15px 15px; */
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.Blogbody {
  padding: 25px 25px;
}
h3.Blogtitle {
  text-align: left;
  font-size: 14px;
  margin-top: 0px !important;
  color: #000 !important;
  /* font-family: "Open Sans", Sans-serif; */
  font-weight: 500 !important;
}
a.btn.btn-danger.Custimization {
  color: #d93730 !important;
  border: 2px solid #d93730;
  background: transparent !important;
  display: block;
  padding: 4px 10px;
  width: 100px;
  font-size: 14px;
}
a.btn.btn-danger.Custimization:hover {
  color: #fff !important;
  border: 2px solid #d93730 !important;
  background: #d93730 !important;
}
.Blogcardimagediv a {
  margin: 0px;
  padding: 0px;
}
p.Blogtext {
  /* font-family: "Open Sans", Sans-serif; */
  font-size: 14px !important;
  font-weight: 400;
  line-height: 1.1em;
}
.sidePaddings0 {
  padding-right: 0px;
  padding-left: 0px;
}
.sidePaddings1 {
  padding-right: 0px;
  padding-left: 0px;
}
.sidePaddings2 {
  padding-left: 0px;
}
ul.resourcemenuliBg li{
  background-color: #4193CF0F;
  font-size: 15px;
  font-weight: 500;
  color: #039be5;
  padding: 10px 10px !important;
  line-height: 1;
  border-radius: 6px;
  margin: 8px 0px;
}
.drop-menu.resourcemenuliBg  li  a  {
  color: #4193cf;
}
.drop-menu.resourcemenuliBg  li  a:hover {
  color: #d93730;
}
hr.transformHrLine{
  border-right: 1px dotted #e4e4e3;
  transform: rotate(360deg);
  height: 169px;
  border-bottom: none;
  border-top: none;
  border-left: none;
}
hr.transformHrLine1{
  position: relative;
  left: 13px;
  border-right: 1px dotted #e4e4e3;
  transform: rotate(360deg);
  height: 169px;
  border-bottom: none;
  border-top: none;
  border-left: none;
}

.allCardsWidth {
  position: relative;
  left: 18px;
}
header.menuMarginB a {
  font-weight: 600;
}
span.KeyFontFamuly {
  font-family: 'Gantari';
  font-weight: 600;
}


/* ==========================================================================
                                      mega menu End
   ========================================================================== */


/* ==========================================================================
                                      footer start
   ========================================================================== */   

/* Main Footer */
footer ul{  padding-left: 0;  list-style: none;}

/* Copy Right Footer */
.footer-copyright .logo {    display: inherit;}
.footer-copyright nav {    float: right;    margin-top: 5px;}
.footer-copyright nav ul {  list-style: none; margin: 0;  padding: 0;}
.footer-copyright nav ul li { border-left: 1px solid #505050; display: inline-block;  line-height: 12px;  margin: 0;  padding: 0 8px;}
.footer-copyright nav ul li a{  color: #969696;}
.footer-copyright nav ul li:first-child { border: medium none;  padding-left: 0;}
.footer-copyright p { color: #969696; margin: 2px 0 0;}
/* Footer Top */
.footer-top{  background: #252525;  padding-bottom: 30px; margin-bottom: 30px;  border-bottom: 3px solid #222;}
/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer{  background: transparent;}
footer.transparent .footer-copyright{ background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;}
/* Footer light */
footer.light .footer-top{ background: #f9f9f9;}
footer.light .main-footer{  background: #f9f9f9;}
footer.light .footer-copyright{ background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;}
/* Footer 4 */
.footer- .logo {    display: inline-block;}
.rowBlueBgColor1{
  background-color: #1A1F4A;
}
.widget{  padding: 20px;  margin-bottom: 40px;}
.widget.widget-last{  margin-bottom: 0px;}
.widget.no-box{ padding: 0; background-color: transparent;  margin-bottom: 0px;
  box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.widget.subscribe p{  margin-bottom: 6px;}
.widget li a{     color: #e3e3e3;
  font-size: 14px !important;
  line-height: 2;}
.widget li a:hover{ color: #fff;}
.widget-title {margin-bottom: 20px;}
.widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
.widget .badge{ float: right; background: #7f7f7f;}

h5.widget-title {
  color: #fff !important;
  font-size: 16px !important;
  font-weight: 500;
  text-transform: capitalize;
}
ul.social-footer2 { margin: 0;padding: 0; width: auto;}
ul.social-footer2 li {display: inline-block;padding: 0;}
ul.social-footer2 li a:hover {background-color:#fff;}
ul.social-footer2 li a {display: block; height:30px;width: 30px;text-align: center;}
.btn{background-color: #ff8d1e; color:#fff;}
.btn:hover, .btn:focus, .btn.active {background: #4b92dc;color: #fff;
-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-webkit-transition: all 250ms ease-in-out 0s;
-moz-transition: all 250ms ease-in-out 0s;
-ms-transition: all 250ms ease-in-out 0s;
-o-transition: all 250ms ease-in-out 0s;
transition: all 250ms ease-in-out 0s;

}
.footerrowpaddings  {
  padding-top: 40px;
  padding-right: 80px;
  padding-bottom: 40px;
  padding-left: 80px;
}
i.far.fa-envelope {
  color: #d93730;
  transition: color 0.3s;
  font-size: 17px;
  padding-right: 7px;
}
span.emailtext {
  position: relative;
  bottom: 2px;
  color: #fff !important;
}
button.btn.btn-theme {
  background-color: #4193cf;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  border-radius: 0px 10px 10px 0px !important;
  padding: 7px 15px 7px 15px;
}
button.btn.btn-theme:hover{
opacity: 0.8;
}

p.textTBpaddings {
  color: #fff;
  text-align: left;
  font-family: "Open Sans", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8em;
  padding: 20px 0px;
}
.textTBpaddings1 {
  padding-top: 20px;
}
.textTBpaddings1 p {
  margin-bottom: 6px !important;
  color: #fff !important;
  font-family: "Open Sans", Sans-serif;
  font-size: 13px;
  font-weight: 500;
}
.footer-social-link a i {
  background-color: #231F20;
  border-radius: 50%;
  padding: 9px 10px;
  color: #fff;
  outline: 1px solid #767676;
    outline-offset: -3px;
}
.footer-social-link a i:hover {
  outline: 1px solid #fff;
}
.footer-social-link {
  float: left !important;
}
.footerTBpaddingd {
  padding: 10px 80px;
}
.copyright-menu a {
  color: #231f20;
  font-family: "Open Sans", Sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5em;
}
.copyright-menu {
  float: right !important;
  padding-top: 6px;
}
p.footerbelowtext {
  color: #FFFFFE !important;
  font-family: "Open Sans", Sans-serif;
  font-size: 10px !important;
  font-weight: 300 !important;
  line-height: 1.5em;
  text-align: center;
  margin-bottom: 0px !important;
}
p.Copyrightstext {
  color: #FFFFFF;
  font-family: "Open Sans", Sans-serif;
  font-size: 13px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 0px !important;
}
i.fa.fa-facebook.facebookCu {
  padding: 9px 12px !important;
}
input.form-control.emailFiled {
  border-radius: 10px 0px 0px 10px !important;
}
/* ==========================================================================
                                      footer end
   ========================================================================== */   

/* ==========================================================================
                                      Responsive start
   ========================================================================== */   
@media (min-width: 992px) and (max-width: 1400px)  { 
  .footerTBpaddingd {padding: 10px 50px;}
  .footerrowpaddings  {padding-right: 50px;padding-bottom: 50px;padding-left: 50px;}
}
/* Responsive For Tab&mobile Start */
@media (min-width: 200px) and (max-width: 991px)  { 
  a.MobileDN {display: none !important;}
  .nav-links .mobile-item:hover { background: transparent;}
  .nav-links .mobile-item {color: #333;}
  label.btn.menu-btn {background-color: #4193cf;color: #fff !important;padding: 3px 14px !important;}
  label.btn.close-btn {background-color: #4193cf;color: #fff !important;padding: 3px 14px !important;}
  .nav-links li a {display: inline-block;font-size: 12px;padding: 8px 8px;}
  .sidePaddings0{
    padding-right: 0px;
    padding-left: 0px;
  }
  .sidePaddings2 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .mega-box .content  {
    padding: 15px;
  }
  .Blogcardimagediv a  {
    margin: 0px;
    padding: 0px !important;
  }
  .BlogcardImg  {
    height: 115px;
  }
  a.desktop-item  {
    font-size: 14px !important;
    padding: 0px !important;
}
hr.transformHrLine {
  display: none;
}
hr.transformHrLine1 {
  display: none;
}
.allCardsWidth {
  position: relative;
  left: 0px;
}

}
@media (min-width: 768px) and (max-width: 991px)  { 
  .footerTBpaddingd {padding: 10px 30px;}
  .footerrowpaddings  {    
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-top: 30px;}
  ul.SectionTwoalign li {width: 100%;}
  .footerlastColumn{ position: absolute;bottom: 25px;}
  ul.SectionsixTextul{padding-left: 0px;}
  ul.SectionsixTextul1 {padding-left: 0px;}
  .widget.no-box {margin-bottom: 0px;}
  .widget-title {
    margin-bottom: 0px;
    margin-top: 20px;
}
.paddingLeftZero {padding: 0px;}
.paddingRightZero {padding: 0px;}
}
/* Responsive For Tab End */

/* Responsive For Mobile Start */
@media (min-width: 300px) and (max-width: 767px)  { 
 
  .footerTBpaddingd {padding: 10px 10px;}
  .footerrowpaddings  {padding-right: 10px;padding-bottom: 20px;padding-left: 10px;}
  ul.SectionTwoalign li {width: 100%;}
  div#shiva span{font-size: 30px;}
  .SectionsixText {font-size: 20px;}
  ul.SectionsixTextul{padding-left: 0px;}
  ul.SectionsixTextul1 {padding-left: 0px;}
   .rowflex {display: initial !important;}
  .nav-tabs {display: -ms-inline-flexbox;display: inline-flex;flex-direction: column;}
.nav-tabs > li{width: 100%;}
 .widget.subscribe p{margin-bottom: 0px;}
.textTBpaddings1{padding-top: 15px;}
.footer-social-link {float: none !important;text-align: center !important;}
.copyright-menu{float: none !important;text-align: center !important;}
.widget.no-box {margin-bottom: 0px;}
  .section-spacing{
    padding: 10px 0;
  }
  .paddingLeftZero {padding: 0px;}
.paddingRightZero {padding: 0px;}
 }
/* Responsive For Mobile End */

/* ==========================================================================
                                      Responsive End
   ========================================================================== */   