thead tr th {
    position: relative;
}

span.ui-column-resizer {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    width: 8px;
    height: 100%;
    padding: 0;
    cursor: e-resize;
    border: 1px solid transparent;
    background: lightgrey;
}

.gray {
    background: lightgrey;
}

.moreipsis {
    position: relative;
}

.moreipsis:before {
    content: '&nbsp;';
    visibility: hidden;
}

.moreipsis span {
    position: absolute;
    left: 0;
    right: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#border-bottom-padding {
    border-bottom: 0px;
}

.disabled-event {
    cursor: not-allowed;
}

.custom-icon-width {
    width: 10%;
}

#right {
    float: right;
}

.margin-space {
    margin-left: 3px !important;
}

.display-ib {
    display: inline-block;
}

.alert-top-padding-xamplify {
    margin-top: 10px;
}