a.xamplify-dropdown-toggle.circlebg-color-bell-v {
    border: 0px solid #2f4857 !important;
    color: #fff !important;
    background: #2c2f33 !important;
    box-shadow: -3px -3px 5px #3e4247, 7px 7px 7px #1d1f23 !important;  }
  .xamplify-welcome-page-header.navbar .xamplify-welcome-page-top {
    background: #2c2f33 !important;
    box-shadow: 6.223021507263184px 6.223021507263184px 18.669065475463867px 0px #000, -6.223021507263184px -6.223021507263184px 18.669065475463867px 0px #3b4451;
    border-bottom:0px solid #2f4857 !important ;
}
.horizontal-navbar .navbar-navs .link li a{
    color: #fff;
}
.horizontal-navbar .navbar-navs .link li a:active,.horizontal-navbar .navbar-navs .link li a:hover{
  color:#4193cf;
}
.horizontal-navbar .navbar-navs .link li .sub-menu-bar,
.xamplify-dropdown-menu {
  background-color: #2c2f33 !important;
    border: 1px solid #191b1e !important;
    box-shadow: inset 2px 2px 5px #000, inset -3px -3px 7px #3b4451 !important;
}

.xamplify-dropdown .xamplify-dropdown-toggle.circlebg-color-bell-v:hover, .xamplify-dropdown-user .xamplify-dropdown-menu>li>a:hover {
  box-shadow: inset 2px 2px 5px #000, inset -3px -3px 7px #3b4451 !important;
    background-color: #2c2f33 !important;
    color: #fff;
}