body {
    background-image: var(--body-background-image);  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover !important; 
}
.xamplify-welcome-page-top {
    border-bottom: 1px solid rgb(255 255 255 / 35%) !important;
    background: #af9a9a59;
}
.xamplify-dropdown-user .xamplify-dropdown-menu>li>a:hover {
    background-color: rgb(255 253 253 / 35%) !important;
}
a.xamplify-dropdown-toggle.circlebg-none-v,
a.xamplify-dropdown-toggle.circlebg-color-bell-v {
    border: 1px solid rgb(255 255 255 / 35%) !important;
    background: rgb(255 255 255 / 31%) !important;
    color: #000000 !important;
}
.xamplify-dropdown-menu {
    background-color: rgb(255 255 255 / 90%) !important;
    border: 1px solid rgb(208 207 199) !important;
    border-radius: 10px;
}
a.moduleTextColor:hover,.horizontal-navbar .navbar-navs .link li .arrow:hover,
span.xamplify-submenu-flex>a.moduleTextColor:hover {
    color: #5473e3 !important;
}
.whiteHeader {
    background-color: rgb(255 255 255 / 88%) !important;
}
li>a.moduleTextColor,
span.xamplify-submenu-flex>a.moduleTextColor,
  .horizontal-navbar .navbar-navs .link li .arrow {
    color: #000000 !important;
  }
  @media (max-width: 767px) {
    .xamplify-welcome-page-header.navbar {
        height: 126px!important;
    }
    .xamplify-welcome-page-top-menu {
        border-bottom: 1px solid rgb(255 255 255 / 35%) !important;
        background: #af9a9a59 !important;
    }
  }
  @media (max-width: 1024px) {
    .horizontal-navbar .navbar-navs .nav-link {
        background-color: #af9a9a59 !important;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        border-right: 1px solid rgb(255 255 255 / 35%) !important;
        box-shadow: none !important;
    }
    .horizontal-navbar .navbar-navs .link li .sub-menu-bar {
        background-color: #ddd !important;
    }
  }
/*** Universal Search *******/
/*** XNFR-758 ***/
.universal-search-bar-container,
.universal-dropdown-label {
    color: #000 !important;
    background-color: rgb(255 255 255 / 31%) !important;
    border: 1px solid rgb(255 255 255 / 35%) !important;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
.universal-search-input {
color: #000 !important;
}
.universal-dropdown-menu {
    background-color: rgb(255 255 255 / 90%) !important;
    border: 1px solid rgb(208 207 199) !important;
    border-radius: 10px !important;
}
.universal-dropdown-menu li {
    border-bottom: 1px solid #d0d5db;
}
.clear-icon,.universal-search-input {
    color: #000 !important;
  }
/*** Universal Search *******/
/* oliver AI css*/
.pdf_body,
.summarize-pdf-card,
.summarize-pdf-cards {
    background: rgb(255 255 255 / 17%) !important;
    border: 1px solid rgb(255 255 255 / 35%) !important;
    backdrop-filter: blur(5px);
}
.pdf_card,
.content-card,
.fixed-card {
    background-color: rgb(255 255 255 / 17%) !important;
    border: 1px solid rgb(255 255 255 / 35%) !important;
}
.pdf_child {
    background: rgb(255 255 255 / 31%) !important;
    border: 1px solid rgb(255 255 255 / 35%) !important;
}
.input-section {
    border-top: none !important;
}
.btn-group button.btn-pdf,
.share-btn,
.action-btn {
    background-color: transparent !important;
}
.btn-group button.btn-pdf:hover,
.share-btn:hover,
.action-btn:hover {
    background-color: rgb(255 234 234 / 51%) !important;
}
.panel-default.accordion_card,
.panel-default.accordion_card>.panel-heading.accordion_card {
    background: rgb(255 255 255 / 31%) !important;
    border: 1px solid rgb(255 255 255 / 35%) !important;
}
.modal-body.oliver-header {
    background: hsla(0, 0%, 100%, .35) !important;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .37);
    backdrop-filter: blur(13.5px);
    border: 1px solid hsla(0, 0%, 100%, .1) !important;
}
.side_bar {
    border: 1px solid rgb(255 255 255 / 35%) !important;
    background: hsl(0deg 0% 100% / 10%) !important;
    backdrop-filter: blur(5px);
}
.writing-card,
.phara-card,
.oliver_input,
.textarea-card,
.custom-card,
.history-entry,
.agent-card,
.agent-info {
    border: 1px solid rgb(255 255 255 / 35%) !important;
    background: rgb(255 255 255 / 27%) !important;
}

.nav-pills.nav-stacked.oliver_tab>li.active>a,
.nav-pills.nav-stacked.oliver_tab>li.active>a:hover,
.nav-pills.nav-stacked.oliver_tab>li.active>a:focus,
.nav-pills.nav-stacked.oliver_tab>li>a:hover,
.upload-box,
.open>.submenu-toggle,
.submenu a.active,
.nav .submenu-parent.open>.submenu-toggle:focus,
.submenu li a,
.nav .submenu-parent.open>.submenu-toggle,
.submenu-toggle:focus {
    background-color: rgb(255 255 255 / 75%) !important;
    color: #1b66a5 !important;
}
.oliver_input input {
    color: #000;
}
textarea.textarea.h-350 {
    box-shadow: unset !important;
}
.btn-plus {
    background: rgb(255 255 255 / 75%) !important;
}

.history-divider {
    border-top: 1px solid rgb(255 255 255 / 62%);
}
.history-header {
    color: rgba(2, 118, 255, 1) !important;
}
.fixed-update-button {
    bottom: 44px !important;
}
.templateui {
    padding: 20px 100px 12px 54px !important;
}
.modal-content{
    background: rgba(255, 255, 255, 0.35) !important;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13.5px);
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    transform: translate3d(0%, 0, 0) !important;
}
.form-control{color: #000 !important;
    background-color: rgb(255 255 255 / 31%) !important;
    border: 1px solid rgb(255 255 255 / 35%) !important;
    backdrop-filter: blur(5px);}