.alert-danger {
  background: #fff;
  border: none;
  color: #ff0600;
  padding: 10px;
}

.fa-question-circle {
  color: #4ba79a;
  position: absolute;
  top: 15px;
  right: 5px;
  font-size: 22px;
  cursor: pointer;
}

.agree-link {
  color: white;
  cursor: pointer;
}

.agree-link:hover {
  color: #5b9bd1;
}
/**** XBI-2362 ****/
.bg_image {
	background-image: var(--login-bg-image-style1);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	position: sticky;
	top:0;
	min-height: 100vh;
	overflow: hidden;
}
.bg_color{
	background: var(--login-bg-color-style1);
	position: sticky;
	top:0;
	min-height: 100vh;
	overflow: hidden;
}
.bg_image2 {
    background-image: var(--login-bg-image);
}
.bg_color2 {
	background: var(--login-bg-color);
}