#folder-margin-xamp {
  margin-top: 2px;
  margin-right: 2px;
}

.btn-abjustmentin-breadcrumbs {
  float: right;
}
.btn-abjustmentin-breadcrumbs {
  padding-top: 6px !important;
  padding-right: 5px !important;
}