#folder-margin-xamp {
  margin-top: 2px;
  margin-right: 2px;
}
/* .custom{
    background-color: #008fd5 ;
    color: #fff;
    border: 1px solid #3575b5;
  } */

.btn-abjustmentin-breadcrumbs {
  margin: 2px 4px;
  float: right;
}
