<div class="modal right fade" id="connectAccountsModal" tabindex="-1"
	role="dialog" aria-labelledby="connectAccountsLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content rounded-0" >
			<div class="modal-header">
				<a class="close-circle" data-dismiss="modal">
					<i class="fa fa-times" aria-hidden="true"></i></a>
				<h4 class="modal-title" id="connectAccountsLabel">Select the Account</h4>
			</div>
			<div class="modal-body">
				<div class="clearfix">
					<div class="col-sm-6 hidden-xs">
						<img class="img-responsive" alt="Connect Accounts" style="margin-top: 5px;"
							src="assets/images/social/connect-accounts.jpg">
					</div>
					<div class="col-xs-12 col-sm-6">
						<div>
							<a class="btn btn-social btn-facebook" (click)="socialLogin('facebook')">
								<i class="fa fa-facebook" aria-hidden="true"></i>
								Connect Facebook
							</a>
						</div>
						<div>
							<a class="btn btn-social btn-twitter" (click)="socialLogin('twitter')">
								<i class="fa fa-twitter" aria-hidden="true"></i>
								Connect Twitter
							</a>
						</div>
						<div class="hidden">
							<a class="btn btn-social btn-google" (click)="socialLogin('google')">
								<i class="fa fa-google" aria-hidden="true"></i>
								Connect Google
							</a>
						</div>
						<div>
							<a class="btn btn-social btn-linkedin" (click)="socialLogin('linkedin')">
								<i class="fa fa-linkedin" aria-hidden="true"></i>
								Connect Linkedin
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
