.special-progress-bar {
	width: 100% !important;
	height: 0;
}

.special-progress-bar span {
	color: black;
}

.modal-title {
	font-weight: 600;
	color: #888;
}

a.disabled {
	pointer-events: none;
	cursor: not-allowed;
}

.cancel-alert-class {
	margin-left: 10px;
	margin-right: 10px;
}

.heatmap {
	min-width: 100%;
	background: rgba(0, 166, 232, 0.5);
	min-height: 35px;
	margin-top: 2em;
	display: flex;
}

.play-rect {
	fill: #00a6e8
}

.skip-rect {
	fill: #FFF
}

rect:hover {
	cursor: pointer;
}

.heatmap>a {
	position: absolute;
}

.heatmap>.play {
	background: #00a6e8;
	display: table-cell;
}

.heatmap>.pause {
	background: #ff0000;
	display: table-cell;
}

.heatmap>.skip {
	background: #FFF;
	display: table-cell;
}

.heatmap-timeline>div {
	padding-top: 10px;
	width: 20%;
	text-align: center;
}

.play-box {
	background: #00a6e8;
}

.pause-box {
	background: #ff0000;
}

.skip-box {
	background: #FFF;
}

.small-box {
	width: 15px;
	height: 15px;
	display: table-cell;
	margin: 10px;
}

tr:hover {
	cursor: pointer;
}

.text-center {
	text-align: center;
}

.block-1 {
	width: 25%;
}

.p-5x {
	padding: 2px 5px;
}

.c100>span {
	top: 50px;
	line-height: 10px;
	color: #307bbb;
}

.portlet.light>.portlet-title {
	padding: 0;
	margin: 0;
	min-height: auto;
}

.image-icon {
	margin-right: 10px;
}

.number {
	font-size: 15px;
	font-weight: bold
}

.dashboard-stat2 {
	border-radius: 1px;
	background: #fff;
	padding: 15px 15px 1px 15px;
	margin-bottom: 20px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.p0 {
	padding: 0 !important;
}

.m0 {
	margin: 0 !important;
}

.row-dashed {
	border-bottom: 1px dashed #f1f1f1;
}

.campaign-number {
	margin: 0.5em;
	font-size: 2em;
	font-weight: 400;
	color: #8c8c8c;
	text-align: center;
}

.text-color-1 {
	color: #76c9ff !important;
}

.text-color-2 {
	color: #00B3B3 !important;
}

.text-color-3 {
	color: #827596 !important;
}

.text-color-4 {
	color: #fbb23e !important;
}

.semi-circle {
	border-radius: 0 15px;
	border: 1px solid;
}

.custom-anchor {}

.fa-line-chart {
	font-size: 1em;
}

h3 {
	font-size: 1.5em;
}

.carousel-control {
	display: none;
}

.modal-content, .border-radius-0 {
	border-radius: 0;
}

.icon-div {
	/* margin-left: -1em; */
	margin-top: 0em;
}

.portlet.light {
	box-shadow: 0px 0px 0 rgba(0, 0, 0, 0.4);
	border-radius: 3px !important;
}

p {
	margin: 0 0 10px;
	font-size: 20px;
	color: rgba(119, 119, 119, 0.7);
	text-align: justify;
	padding: 1em;
}

.p5 {
	padding: 2em;
}

.page-bar {
	padding: 0;
	border-radius: 0;
}

h1.bold {
	font-weight: bolder;
	font-size: 3.2em;
	text-transform: lowercase;
	margin: 0
}

.padding-top-bottom-5 {
	padding: 2em 0;
	min-height: 11em;
}

.flex {
	display: flex;
	width: 100%;
}

.header-text {
	text-transform: lowercase;
	background: rgb(38, 204, 204);
	color: #fff;
	font-weight: 500;
	border-radius: 0;
	padding: 0.2em 1em;
	margin-bottom: 1em;
}

.center {
	text-align: center;
}

.sort-dropdown {
	position: absolute;
	left: -144px;
	top: -22px;
}

.glyphicon, .fa-3 {
	font-size: 2em;
}

.color1, .color1-invert:hover {
	background-color: #00a6e8;
	color: #fff;
	border: 1px solid #00a6e8;
	border-radius: 3px !important;
}

.color1:hover, .color1-invert {
	color: #00a6e8;
	background-color: #fff;
	border: 1px solid #00a6e8;
	border-radius: 3px !important;
}

/*.color2, .color2-invert:hover {
	background-color: #00B3B3;
	color: #fff;
	border: 1px solid #00B3B3;
}

 .color2:hover, .color2-invert {
	background-color: #fff;
	color: #00B3B3;
	border: 1px solid #00B3B3;
}

.color3, .color3-invert:hover {
	background-color: #827596;
	color: #fff;
	border: 1px solid #827596;
}

.color3:hover, .color3-invert {
	color: #827596;
	background-color: #fff;
	border: 1px solid #827596;
}

.color4, .color4-invert:hover {
	background-color: #fbb23e;
	color: #fff;
	border: 1px solid #fbb23e;
}

.color4:hover, .color4-invert {
	color: #fbb23e;
	background-color: #fff;
	border: 1px solid #fbb23e;
} */

.color1:hover, .color2:hover, .color3:hover, .color4:hover {
	cursor: pointer;
}

.img-responsive {
	height: 180px;
	min-width: 100%;
}

tr>td>h6 {
	margin: 5px 0;
	text-align: center;
}

.table thead tr th {
	font-size: 14px;
	font-weight: 600;
	color: rgba(102, 102, 102, 0.65);
	text-align: center;
}

/* Campaign Report Count Block*/

.crcb {
	width: 100%;
}

.bg-color {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: lightseagreen;
	z-index: 0;
	text-align: center;
}

.headerCss {
	font-size: 12px;
	font-weight: 500;
}

.td-chart {
	position: relative;
}

.dashboard-stat .visual>i {
	line-height: normal !important;
	-webkit-transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
	transform: rotate(-15deg);
	position: absolute;
	bottom: 12px;
	font-size: 78px !important;
}

.dashboard-stat {
	height: auto !important;
	border-radius: 3px !important;
	margin-bottom: 9px !important;
}

.camp-details {
	float: left;
	padding: 10px;
}

.camp-desc, .camp-title, .camp-number {
	color: #FFF;
	font-size: 12px;
}

.camp-title {
	font-size: 14px;
}

.camp-number {
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 3px;
	font-weight: bold;
}

.emails-info i {
	font-size: 20px;
	display: block;
	text-align: center;
}

.emails-info h1 {
	margin-bottom: 15px;
}

.emails-info h5 {
	margin: 0;
}

.blur {
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
	cursor: default;
}

.forbidden {
	cursor: not-allowed;
}

.user-profile-image {
	width: 48px;
	height: auto;
	float: left;
	margin: 0 10px 0 -10px;
}

.timeline {
	list-style: none;
	padding: 0;
	position: relative;
}

.timeline:before {
	top: 15px;
	bottom: -35px;
	position: absolute;
	content: " ";
	width: 2px;
	background-color: #eeeeee;
	margin-left: -1.5px;
}

.timeline:last-child:before {
	display: none;
}

.timeline>li {
	margin-bottom: 10px;
	position: relative;
}

.timeline>li:before, .timeline>li:after {
	content: " ";
	display: table;
}

.timeline>li:after {
	clear: both;
}

.timeline>li:before, .timeline>li:after {
	content: " ";
	display: table;
}

.timeline>li:after {
	clear: both;
}

.timeline>li>.timeline-panel {
	width: 90%;
	float: left;
	border: 1px solid #d4d4d4;
	padding: 15px;
	position: relative;
	-webkit-box-shadow: 0 0 2px #f1f1f1;
	box-shadow: 0 0 2px #f1f1f1;
}

.timeline>li>.timeline-panel:before {
	position: absolute;
	top: 26px;
	right: -15px;
	display: inline-block;
	border-top: 15px solid transparent;
	border-left: 15px solid #ccc;
	border-right: 0 solid #ccc;
	border-bottom: 15px solid transparent;
	content: " ";
}

.timeline>li>.timeline-panel:after {
	position: absolute;
	top: 27px;
	right: -14px;
	display: inline-block;
	border-top: 14px solid transparent;
	border-left: 14px solid #fff;
	border-right: 0 solid #fff;
	border-bottom: 14px solid transparent;
	content: " ";
}

.timeline>li>.timeline-badge {
	background: #fff;
	width: 50px;
	height: 50px;
	text-align: center;
	position: absolute;
	top: 16px;
	margin-left: -25px;
	z-index: 100;
	border-radius: 50%;
	border: 1px solid #d4d4d4;
}

.timeline>li>.timeline-badge>img {
	width: 25px;
	height: 25px;
	margin-top: 10px;
}

.timeline>li.timeline-inverted>.timeline-panel {
	float: right;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
}

.timeline-title {
	margin-top: 0;
	color: inherit;
	font-weight: 600;
}

.timeline-body>p, .timeline-body>ul {
	margin-bottom: 0;
}

.timeline-body>p+p {
	margin-top: 5px;
}

@media (max-width: 767px) {
	ul.timeline:before {
		left: 40px;
	}
	ul.timeline>li>.timeline-panel {
		width: calc(100% - 90px);
		width: -moz-calc(100% - 90px);
		width: -webkit-calc(100% - 90px);
	}
	ul.timeline>li>.timeline-badge {
		left: 15px;
		margin-left: 0;
		top: 16px;
	}
	ul.timeline>li>.timeline-panel {
		float: right;
	}
	ul.timeline>li>.timeline-panel:before {
		border-left-width: 0;
		border-right-width: 15px;
		left: -15px;
		right: auto;
	}
	ul.timeline>li>.timeline-panel:after {
		border-left-width: 0;
		border-right-width: 14px;
		left: -14px;
		right: auto;
	}
}

.emails-info h1 span {
	font-size: 14px;
}

.emails-info i {
	font-size: 30px;
}

.emails-info h1 {
	margin-top: 15px;
	margin-bottom: 0
}

.emails-info h1, .emails-info span {
	font-size: 18px;
}

.emails-info button {
	min-height: 92px;
}

.selectedBox {
	background-color: #00a6e8;
	color: white;
}

.marginleft5 {
	margin-left: 22px;
}

.marginleft1 {
	margin-left: 3px;
}

.rsvp_tile_padding {
	padding: 2px 2px 5px 4px;
}

.highlet {
	color: #00a6e8;
}

.client-error {
	color: red;
	position: relative;
	left: 10px;
	font-size: 15px;
}

.social-profile {
	width: 45px;
	height: 45px;
	border: 1px solid #ccc;
	border-radius: 100%;
	background-repeat: no-repeat;
	background-size: 45px 45px;
	position: relative;
	float: left;
}

.social-profile>img {
	position: absolute;
	bottom: 0;
	right: -5px;
}

@media only screen and (max-width:768px) {
	.dropdown-toggle {
		margin-right: 0px!important;
	}
}

@media only screen and (min-width:768px) {
	.dropdown-toggle {
		margin-right: 21px!important;
	}
}

@media only screen and (max-width:768px) {
	.modal-css {
		width: 100% !important;
	}
}

@media only screen and (min-width:768px) {
	.modal-css {
		width: 65% !important;
	}
}

.push {
	position: absolute;
	left: 217px;
	margin-top: 7px;
}

.text-center-css {
	text-align: center;
	font-size: 12px;
	font-weight: 500;
}

.search-box-item-click {
	height: 32px;
	right: 16px;
}

.clear-search {
	cursor: pointer;
	pointer-events: all;
	width: 25px !important;
	right: 60px !important;
	top: 6px !important;
	background: #ffffff !important;
	color: #008fd5 !important;
	font-size: 13px !important;
	position: absolute !important;
}

#align-center {
	margin-right: 80px;
}

.center-aligned {
	text-align: center;
}

#autoresponse-analytics {
	background-color: #f1f1f15e;
}

#autoresponse-tr {
	background-color: #d3d3d317
}

#landing-page-icons {
	margin-top: 10px;
	width: 125px;
}

#notification {
	background-color: #ed1c24;
	color: white;
	margin-bottom: 25px;
	margin-left: -25px;
	margin-top: -5px;
}

#notification-list {
	background-color: #ed1c24;
	color: white;
	margin-bottom: 36px;
	margin-left: -23px;
	margin-top: -2px;
}

#leads-info-font-size {
	font-size: 25px;
}

.fs14 {
	font-size: 14px !important;
}

.fs30 {
	font-size: 30px !important;
}

.pull-right>.dropdown-menu {
	right: 38px!important;
	left: auto;
}

#table-header {
	font-size: 12px;
	font-weight: 700;
}

.set-overflow-none {
	overflow: hidden !important;
}

/*
.col-lg-2{
	width: 12.5% !important;
}
.col-xs-2{
	width: 50% !important;
}
*/

#float-right {
	float: right;
}

.seven-tile-width {
	width: 14.2% !important;
}

#check-in-css {
	float: right;
	margin-top: 4px;
	margin-right: 4px;
}

#custom-width-button {
	width: 20px;
	height: 17px;
}

#partner-analytics {
	border: 1px solid #CCC;
	padding: 10px !important;
	margin: 10px!important;
	border-radius: 3px !important;
}

fieldset {
	border-radius: 3px !important;
}

#campaignreportvendor {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

#unsubscribed-flag{
	color: red;
	margin-left: 12px;
	font-size: 20px !important;
}