.btn-white {
  background-color: #ffffff;
  color: black;
  border: 1px solid #e5e5e5;
}
.campaign-type-selected {
  background-color: #6dcff6;
}
.greay {
  background-color: #8a8282c4;
}
.dashboard-stat-lighter {
  margin-bottom: 0px;
}
.dashboard-stat {
  margin-bottom: 0px;
}
@media (max-width: 425px) {
  .pb15 {
    padding-bottom: 10px;
  }
}
.width {
  width: max-content;
}
@media (max-width: 425px) {
  .width {
    display: flex;
    width: auto;
  }
}
@media only screen and (max-width: 599px) {
  .form-group-mr {
    margin-left: -15px !important;
  }
  .ml0-mr0 {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px !important;
  }
  .select-width {
    width: 100% !important;
  }
}
@media (max-width: 768px) {
  .form-group-mr {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 479px) {
  .form-group-mr {
    margin-left: -15px !important;
  }
  .ml0-mr0 {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px !important;
  }
}
@media only screen and (max-width: 320px) {
  .ml0-mr0 {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px !important;
  }
}
.select-width {
  width: 196px;
  height: 32px;
}
.button {
  padding: 6px 14px;
}
.margin-right {
  margin-right: 5px;
}
.mr0 {
  margin-right: 0px;
}
.info-icon {
  color: #fa5252;
  padding: 10px 5px;
}
a > span.glyphicon.glyphicon-remove {
  margin-top: 4px;
}
select.form-control.select-width.FilerFormWidth {
  width: 184px;
  height: 32px;
}


/***XNFR-426***/
.form-group.textareaStyles textarea{
  color: #444;
  border-radius: 3px;
  border: 1px solid #cecece;
  background-color: #fefefe;
  box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.06);
  overflow: auto;
  width: 100%;
  padding: 10px 10px 10px 10px;
  margin: 0px 25px 0px 20px;
}

.form-group.textareaStyles{
  width: 94%;
}

.form-group.textareaStyles p{
  padding-left: 25px;
}

.form-group.textareaStyles select,h4{
  margin-left: 20px;
}
.mrgt-2{
margin-top:-1px;

}