.btn-white {
    background-color: #ffffff !important;
    color: black;
    border: 1px solid #e5e5e5;
}

.campaign-type-selected {
	background-color: #6dcff6;
}

.greay{
	background-color: #8a8282c4;
}

.info-icon {
    color: #fa5252;
    padding: 10px 5px;
}