<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="page-content">
   <div class="page-bar">
      <ul class="page-breadcrumb">
         <li><i class="fa fa-home" aria-hidden="true"></i> 
            <a translate>Home</a> <i class="fa fa-angle-right" aria-hidden="true"></i>
         </li>
         <li><a (click)="goToManageMdfRequests()" translate>Manage MDF Requests</a>  <i class="fa fa-angle-right" aria-hidden="true"></i></li>
         <li><a translate>Change Request</a></li>
      </ul>
   </div>
   <app-modal-popup-loader *ngIf="pageLoader"></app-modal-popup-loader>
   <div class="row" *ngIf="!pageLoader">
      <div class="col-md-12 col-lg-12">
         <div class="portlet light" style="height:640px;padding-right: 0px!important;   padding-top: 0px!important;">
            <div class="col-md-12 col-lg-12">
               <div class="row">
                  <div class="col-md-9 col-lg-9 pr0">
                     <div class="row">
                        <div class="col-md-10 col-lg-10">
                           <h2 style="font-weight: 500; color: #867c7c;">
                                 {{rightCornerData?.mdfDetails?.mdfRequestTitle | slice:0:40}}
                                 <span *ngIf="rightCornerData?.mdfDetails?.mdfRequestTitle.length>40">..</span>
                              <sub class="sub-text">MDF REQUEST</sub></h2>
                        </div>
                        <div class="col-md-2 col-lg-2 pl0" style="padding-top:15px;">
                           <div class="row">
                              <div class="col-md-6 col-lg-6" style="text-align: right;">
                                 <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Actions
                                    <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                       <li><a href="#">Change MDF Request Owner</a></li>
                                       <li><a href="#">Change MDF Request Status & Assignment</a></li>
                                       <li><a href="#">Duplicate </a></li>
                                       <li><a href="#">Archive </a></li>
                                       <!-- <li><a href="#">Delete </a></li> -->
                                    </ul>
                                 </div>
                              </div>
                              <!-- <div class="col-md-6 col-lg-6" style="text-align: left;">
                                 <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal1">Edit</button>
                              </div> -->
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-12 col-lg-12" style="margin-top:10px;">
                           <span class="label label-warning">{{rightCornerData?.mdfDetails?.statusInString}}</span>
                        </div>
                        <div class="col-md-12 col-lg-12" style="padding: 40px 40px 0px 17px;">
                           <div class="portlet light" style=" height: 260px;padding: 0px 0px!important;">
                              <div class="portlet-title port-heading">
                                 <div class="caption" style="color:#000!important;">
                                    MDF Request Status
                                 </div>
                              </div>
                              <div class="row row-space">
                                 <div class="col-md-6 col-lg-6 pr0" style="border-right: 1px solid #d8d4d4;">
                                    <div class="row">
                                       <div class="col-md-2 col-lg-2 text-right" style="padding-top: 15px;">
                                          <img class="img-circle" src="{{rightCornerData?.mdfRequestOwner?.profilePicturePath}}" alt="">
                                       </div>
                                       <div class="col-md-10 col-lg-10 pl0">
                                          <label style="font-size: 15px;font-weight: 600;">MDF Request Owner:</label><br>
                                          <label title="{{mdfOwnerDisplayName}}({{rightCornerData?.mdfRequestOwner?.companyName}})" style="font-size: 14px;color: #65b6e4;">
                                             {{mdfOwnerDisplayName | slice:0:20}}
                                               <span *ngIf="mdfOwnerDisplayName?.length>20">..</span>

                                               ( {{rightCornerData?.mdfRequestOwner?.companyName | slice:0:20}}
                                               <span *ngIf="rightCornerData?.mdfRequestOwner?.companyName?.length>20">..</span> )
                                             
                                          </label>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6 col-lg-6 ">
                                    <label style="font-size: 15px;font-weight: 600;">Assigned To:</label>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-md-12 col-lg-12">
                                    <div class="row">
                                       <div class="col-md-4 col-lg-4" style="padding-top: 23px;">
                                          <div class="row text-left" style="padding-left: 30px;border-right: 1px solid #dddd;">
                                             <label style="font-size: 15px;font-weight: 600;">Request:</label><br>
                                             <label style="font-size: 14px;color: #65b6e4;">${{rightCornerData?.mdfDetails?.mdfRequestAmountInDouble | number:'1.0':'en-US'}}</label><br>
                                             <label style="font-size: 15px;">{{rightCornerData?.mdfDetails?.createdDate}}</label><br>
                                             <label title="{{mdfOwnerDisplayName}}" style="font-size: 14px;color: #65b6e4;">Requested by
                                                 {{mdfOwnerDisplayName | slice:0:20}}
                                                   <span *ngIf="mdfOwnerDisplayName?.length>20">..</span>
                                                </label>
                                          </div>
                                       </div>
                                       <div class="col-md-4 col-lg-4" style="padding-top: 23px;">
                                          <div class="row text-left" style="padding-left: 30px;border-right: 1px solid #dddd;height: 100px;">
                                             <label style="font-size: 15px;font-weight: 600;">Allocated Amount:</label><br>
                                             <label style="font-size: 14px;color: #65b6e4;">$ {{rightCornerData?.mdfDetails?.allocationAmount | number:'1.0':'en-US'}}</label><br>
                                          </div>
                                       </div>
                                       <div class="col-md-4 col-lg-4" style="padding-top: 23px;">
                                          <div class="row text-left" style="padding-left: 30px;">
                                             <label style="font-size: 15px;font-weight: 600;">Reimbursement:</label><br>
                                             <label style="font-size: 14px;color: #65b6e4;">$ {{rightCornerData?.mdfDetails?.reimburseAmount | number:'1.0':'en-US'}}</label><br>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-12 col-lg-12" style="padding: 15px 40px 0px 17px;">
                           <div class="portlet light" style=" height:205px;">
                              <div class="portlet-title">
                                 <div class="caption" translate>
                                    Partner MDF Balances
                                 </div>
                              </div>
                              <div class="row" style="margin-top: 20px;">
                                 <div class="col-md-12 col-lg-12" style="padding-left: 24px;padding-right: 30px;">
                                    <div class="row">
                                       <div title="Click to see details" class="col-sm-3 col-xs-6 col-lg-3 col-md-3">
                                          <a class="dashboard-stat dashboard-stat-lighter green-soft">
                                             <div class="visual">
                                                <i aria-hidden="true" class=""></i>
                                             </div>
                                             <div class="details">
                                                <div class="number" style="font-size: 20px;">Partner Organization</div>
                                                <div class="desc" style="    font-size: 13px;">Kambei Technologies</div>
                                             </div>
                                             <span class="morePadding">
                                          <a  translate="" ng-reflect-translate="" class="more"> Detailed view 
                                          <i  aria-hidden="true" class="m-icon-swapright m-icon-white"></i></a>
                                          </span>
                                          </a>
                                       </div>
                                       <div title="Click to see details" class="col-sm-3 col-xs-6 col-lg-3 col-md-3">
                                          <a class="dashboard-stat dashboard-stat-lighter purple-soft">
                                             <div class="visual">
                                                <i aria-hidden="true" class=""></i>
                                             </div>
                                             <div class="details">
                                                <div class="number" style="font-size: 20px;">$5,000.00</div>
                                                <div class="desc" style="    font-size: 13px;">Current MDF Available Bal.</div>
                                             </div>
                                             <span class="morePadding">
                                          <a  translate="" ng-reflect-translate="" class="more">Detailed view  
                                          <i  aria-hidden="true" class="m-icon-swapright m-icon-white"></i></a>
                                          </span>
                                          </a>
                                       </div>
                                       <div title="Click to see details" class="col-sm-3 col-xs-6 col-lg-3 col-md-3">
                                          <a class="dashboard-stat dashboard-stat-lighter yellow-gold">
                                             <div class="visual">
                                                <i aria-hidden="true" class=""></i>
                                             </div>
                                             <div class="details">
                                                <div class="number" style="font-size: 20px;">$5,300.00</div>
                                                <div class="desc" style="    font-size: 13px;"> Available Balance</div>
                                             </div>
                                             <span class="morePadding">
                                          <a  translate="" ng-reflect-translate="" class="more">Detailed view
                                          <i  aria-hidden="true" class="m-icon-swapright m-icon-white"></i></a>
                                          </span>
                                          </a>
                                       </div>
                                       <div title="Click to see details" class="col-sm-3 col-xs-6 col-lg-3 col-md-3">
                                          <a class="dashboard-stat dashboard-stat-lighter yellow-gold">
                                             <div class="visual">
                                                <i aria-hidden="true" class=""></i>
                                             </div>
                                             <div class="details">
                                                <div class="number" style="font-size: 20px;">$ 300.00</div>
                                                <div class="desc" style="    font-size: 13px;">Avail. Balance for new MDF Req</div>
                                             </div>
                                             <span class="morePadding">
                                          <a  translate="" ng-reflect-translate="" class="more">Detailed view
                                          <i  aria-hidden="true" class="m-icon-swapright m-icon-white"></i></a>
                                          </span>
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3 col-lg-3 pr0" style=" height: 617px;background: #f1f1f1;">
                     <div class="row">
                        <div class="col-md-12 col-lg-12 pl0">
                           <h5 class="h5-heading">MDF Request Owner</h5>
                        </div>
                        <!-----Request Owner------->
                        <div class="col-md-12 col-lg-12" style="margin-top:20px;padding-bottom: 10px;">
                           <div class="row" style="margin-right: 0px;border-bottom: 1px solid #ddd;padding-bottom: 10px;">
                              <div class="col-md-2 col-lg-2 text-right" style="padding-top: 15px;">
                                <img class="img-circle" src="{{rightCornerData?.mdfRequestOwner?.profilePicturePath}}" alt="">
                              </div>
                              <div class="col-md-10 col-lg-10 " style="padding-left: 34px!important;">
                                 <ng-container *ngIf="rightCornerData?.mdfRequestOwner?.fullName!=null">
                                    <label title="{{rightCornerData?.mdfRequestOwner?.fullName}}" style="font-size: 15px;font-weight: 600;" *ngIf="rightCornerData?.mdfRequestOwner?.fullName!=null">
                                       {{rightCornerData?.mdfRequestOwner?.fullName | slice:0:20}}
                                       <span *ngIf="rightCornerData?.mdfRequestOwner?.fullName?.length>20">..</span>
                                    </label>
                                 </ng-container>
                                 <label title="{{rightCornerData?.mdfRequestOwner?.emailId}}" style="font-size: 15px;font-weight: 600;">
                                    {{rightCornerData?.mdfRequestOwner?.emailId | slice:0:20}}
                                    <span *ngIf="rightCornerData?.mdfRequestOwner?.emailId?.length>20">..</span>
                                 </label>
                                 <label *ngIf="rightCornerData?.mdfRequestOwner?.title!=null"  title="{{rightCornerData?.mdfRequestOwner?.title}}" style="font-size: 15px;font-weight: 600;">
                                    {{rightCornerData?.mdfRequestOwner?.title | slice:0:20}}
                                    <span *ngIf="rightCornerData?.mdfRequestOwner?.title?.length>20">..</span>
                                 </label>
                                 <label *ngIf="rightCornerData?.mdfRequestOwner?.companyName!=null" title="{{rightCornerData?.mdfRequestOwner?.companyName}}" style="font-size: 14px;color: #65b6e4;">
                                    {{rightCornerData?.mdfRequestOwner?.companyName | slice:0:20}}
                                    <span *ngIf="rightCornerData?.mdfRequestOwner?.companyName?.length>20">..</span>
                                 </label>
                                 <label *ngIf="rightCornerData?.mdfRequestOwner?.companyPhoneNumber!=null" title="{{rightCornerData?.mdfRequestOwner?.companyPhoneNumber}}" style="font-size: 15px;font-weight: 600;">
                                    Phone: {{rightCornerData?.mdfRequestOwner?.companyPhoneNumber | slice:0:20}}
                                    <span *ngIf="rightCornerData?.mdfRequestOwner?.companyPhoneNumber?.length>20">..</span></label>
                              </div>
                           </div>
                        </div>
                        <!-----Vendor Company Details------->
                        <div class="col-md-12 col-lg-12" style="margin-top:20px;padding-bottom: 10px;">
                           <div class="row" style="margin-right: 0px;border-bottom: 1px solid #ddd;padding-bottom: 10px;">
                              <div class="col-md-2 col-lg-2 text-right" style="padding-top: 15px;">
                                <img class="img-circle" src="{{rightCornerData?.vendorDetailsDto.companyLogo}}" alt="">
                              </div>
                              <div class="col-md-10 col-lg-10 " style="padding-left: 34px!important;">
                                 <ng-container *ngIf="rightCornerData?.vendorDetailsDto?.fullName!=null">
                                    <label title="{{rightCornerData?.vendorDetailsDto?.fullName}}" style="font-size: 15px;font-weight: 600;">
                                       {{rightCornerData?.vendorDetailsDto?.fullName | slice:0:20}}
                                       <span *ngIf="rightCornerData?.vendorDetailsDto?.fullName?.length>20">..</span>
                                    </label>
                                 </ng-container>
                                 <label title="{{rightCornerData?.vendorDetailsDto?.emailId}}" style="font-size: 15px;font-weight: 600;">
                                    {{rightCornerData?.vendorDetailsDto?.emailId | slice:0:20}}
                                    <span *ngIf="rightCornerData?.vendorDetailsDto?.emailId?.length>20">..</span>
                                 </label>
                                 <label *ngIf="rightCornerData?.vendorDetailsDto?.companyName!=null"  title="{{rightCornerData?.vendorDetailsDto?.companyName}}" style="font-size: 15px;font-weight: 600;">
                                    {{rightCornerData?.vendorDetailsDto?.companyName | slice:0:20}}
                                    <span *ngIf="rightCornerData?.vendorDetailsDto?.companyName?.length>20">..</span>
                                 </label>
                                 <label *ngIf="rightCornerData?.vendorDetailsDto?.website!=null"  title="{{rightCornerData?.vendorDetailsDto?.website}}" style="font-size: 15px;font-weight: 600;">
                                    {{rightCornerData?.vendorDetailsDto?.website | slice:0:20}}
                                    <span *ngIf="rightCornerData?.vendorDetailsDto?.website?.length>20">..</span>
                                 </label>
                                 <label *ngIf="rightCornerData?.vendorDetailsDto?.phone!=null" title="{{rightCornerData?.vendorDetailsDto?.phone}}" style="font-size: 15px;font-weight: 600;">
                                    Phone: {{rightCornerData?.vendorDetailsDto?.phone | slice:0:20}}
                                    <span *ngIf="rightCornerData?.vendorDetailsDto?.phone?.length>20">..</span></label>
                              </div>
                           </div>
                        </div>
                        <!-----Partner Company Details------->
                        <p style="margin-left: 5px;"><strong>Partner Manager</strong></p>
                        <div class="col-md-12 col-lg-12" style="margin-top:20px;padding-bottom: 10px;">
                           <div class="row" style="margin-right: 0px;border-bottom: 1px solid #ddd;padding-bottom: 10px;">
                              <div class="col-md-2 col-lg-2 text-right" style="padding-top: 15px;">
                                <img class="img-circle" src="{{rightCornerData?.partnerManager.profilePicturePath}}" alt="">
                              </div>
                              <div class="col-md-10 col-lg-10 " style="padding-left: 34px!important;">
                                 <ng-container *ngIf="rightCornerData?.partnerManager?.fullName!=null">
                                    <label title="{{rightCornerData?.partnerManager?.fullName}}" style="font-size: 15px;font-weight: 600;">
                                       {{rightCornerData?.partnerManager?.fullName | slice:0:20}}
                                       <span *ngIf="rightCornerData?.partnerManager?.fullName?.length>20">..</span>
                                    </label>
                                 </ng-container>
                                 <label title="{{rightCornerData?.partnerManager?.emailId}}" style="font-size: 15px;font-weight: 600;">
                                    {{rightCornerData?.partnerManager?.emailId | slice:0:20}}
                                    <span *ngIf="rightCornerData?.partnerManager?.emailId?.length>20">..</span>
                                 </label>
                                 <label *ngIf="rightCornerData?.partnerManager?.title!=null"  title="{{rightCornerData?.mdfRequestOwner?.title}}" style="font-size: 15px;font-weight: 600;">
                                    {{rightCornerData?.mdfRequestOwner?.title | slice:0:20}}
                                    <span *ngIf="rightCornerData?.mdfRequestOwner?.title?.length>20">..</span>
                                 </label>
                                 <label *ngIf="rightCornerData?.mdfRequestOwner?.companyName!=null" title="{{rightCornerData?.mdfRequestOwner?.companyName}}" style="font-size: 14px;color: #65b6e4;">
                                    {{rightCornerData?.mdfRequestOwner?.companyName | slice:0:20}}
                                    <span *ngIf="rightCornerData?.mdfRequestOwner?.companyName?.length>20">..</span>
                                 </label>
                                 <label *ngIf="rightCornerData?.partnerManager?.phoneNumber!=null" title="{{rightCornerData?.partnerManager?.phoneNumber}}" style="font-size: 15px;font-weight: 600;">
                                    Phone: {{rightCornerData?.partnerManager?.phoneNumber | slice:0:20}}
                                    <span *ngIf="rightCornerData?.partnerManager?.phoneNumber?.length>20">..</span></label>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>