.p-5x {
padding: 2px 5px;
}
#newPlayerVideo {
width: auto;
}

.videoTitle {
word-break: break-all;
color: #5a5a5a;
font-weight: 500;
}

.p5 {
padding: -1px;
}

.portlet {
border-radius: 0;
padding: 10px;
}
:host /deep/ .vjs-mouse-display {
	display: none !important;
}
:host /deep/ .vjs-time-tooltip{
display: none !important;
}
:host /deep/ .video-js .vjs-progress-control:hover .vjs-mouse-display {
display: none; }

.td-new,
th {
border: 1px solid #dddddd;
text-align: center;
padding: 2px;
}
.center {
	text-align: center;
}
.td-new-n {
border: 2px solid #dddddd;
text-align: center;
padding: 20px;
color: #7a8082;
font-weight: 600;
}
.td-color{
color: white;
background-color:rgb(0, 166, 232);
}
.td-chart {
position: relative;
cursor: pointer;
}

.minutes-color {
position: absolute;
left: 0;
top: 0;
bottom: 0;
color: #000;
background-color: rgb(144, 238, 144);
z-index: 0;
text-align: center;
}
.headerCss {
   font-size: 12px; 
   font-weight: 500;
}
.center {
	text-align: center;
}