.p-5x {
	padding: 2px 5px;
}
#newPlayerVideo {
	width: auto;
}

.videoTitle {
	word-break: break-all;
	color: #5a5a5a;
	font-weight: 500;
}

.p5 {
	padding: -1px;
}

.portlet {
	border-radius: 0;
	padding: 10px;
}
:host /deep/ .vjs-mouse-display {
     display: none !important;
  }
/* /deep/ .video-js .vjs-mute-control, .video-js .vjs-volume-menu-button {
      margin-left: -11px;
} */  
:host /deep/ .vjs-time-tooltip{
    display: none !important;
}
:host /deep/ .video-js .vjs-progress-control:hover .vjs-mouse-display {
  display: none; }