.min-width-icon{
    min-width: 170px;
}
#notification-list{
    margin-top: 6px;
}


@media (min-width: 992px) and (max-width: 1245px)  { 
    .DropdownBoxWidth {
        width: 120px;
    }
    .input-icon.right.SerachBoxWidth {
        width: 190px;
        float: right;
    }
}
.grid-box-height {
    height: 580px !important;
  }
  .flexContant{
    display: flex;
    justify-content: center;
  }
  /*******Remove this after merging XNFR-374 */
  .grid-box h6 {
    text-align: left !important;
    margin: 0px !important;
    width: 100% !important;
  }