.min-width-icon{
    min-width: 170px;
}
#notification-list{
    margin-top: -1px !important;
}

.grid-box-height{
    height: 565px !important;
}

.view-banner-white-labeled {
    background-color: #68B4F1;
    color: white !important;
    padding: 5px 10px;
  text-align: center;
  font-size: 10px;
  border-radius: 3px;
  line-height: 1;
}

@media (min-width: 992px) and (max-width: 1245px)  { 
    .DropdownBoxWidth {
        width: 120px;
    }
    .input-icon.right.SerachBoxWidth {
        width: 190px;
        float: right;
    }



}