  textarea {
    resize: none;
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    padding: 10px;
    overflow: hidden;
  }
  .clip-button {
     width:100%;
     background: #00a6e8;
     color: #FFF;
     border-radius: 1px;
  }
  .clipboard {
    padding: 6px 44px;
  }
  .text-area{
    height: 150px;  min-height: 140px; max-height:160px;font-size: 15px;
    /* border:1px solid; */
  }
