.btn-group button:not (:last-child ) {
  border-bottom: none;
}
#portlet-height {
  overflow-x: hidden;
}
#portlet-form-height {
  height: 300px;
}
.required {
  color: red;
  margin: 1px;
}
.selected {
  background-color: #e5e5e5;
  cursor: move;
}
.form-control.disabled {
  cursor: move;
}
/** 18-05-2023 ****/
.min-height {
  min-height: 70px;
}
/**** tharak ****/
.m-top-70 {
  margin-top: -70px;
}
.m-top-50 {
  margin-top: -50px;
}
/* 06/06/23 */
.page-sidebar-closed.page-sidebar-fixed
  .page-sidebar:hover
  .page-sidebar-menu
  > li:last-child
  > a,
.page-sidebar .page-sidebar-menu > li:last-child > a {
  border-bottom: 1px solid transparent !important;
}
/* 19/06/23 */
.page-header.navbar
  .top-menu
  .navbar-nav
  > li.dropdown-user
  .dropdown-toggle
  > img {
  background-color: var(--page-content) !important;
}
