.btn-group-form button {
  background-color: #97a6b1;
  /* Green background */
  border: 1px solid #97a6b1;
  /* Green border */
  color: #fff;
  /* White text */
  padding: 10px 24px;
  /* Some padding */
  cursor: pointer;
  /* Pointer/hand icon */
  width: 100%;
  /* Set a width if needed */
  margin-bottom: 10px;
}

.btn-group button:not (:last-child ) {
  border-bottom: none;
}

/* Add a background color on hover */
/* .btn-group button:hover {
	background-color: #3e8e41;
} */

.right-corner {
  float: right;
}

#portlet-height {
  overflow-x: hidden;
}

#portlet-form-height {
  height: 300px;
}

#create-from-div,
#edit-from-div {
  overflow-y: auto;
  max-height: 536px;
}

#bottom-right {
  float: right;
}

.required {
  color: red;
  margin: 1px;
}

.required-choice {
  color: red;
  margin: 15px;
}

.info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
  margin: 1px;
}

.default-fieldset {
  margin: 8px;
  border: 1px solid #97a6b1;
  padding: 8px;
  border-radius: 4px;
  margin-right: 1px;
  margin-left: 1px;
}

LEGEND {
  padding: 2px;
}

.default-fieldset.border-error {
  margin: 8px;
  border: 1px solid red;
  padding: 8px;
  border-radius: 4px;
  margin-right: 1px;
  margin-left: 1px;
}

.default-fieldset.border-success {
  margin: 8px;
  border: 1px solid green;
  padding: 8px;
  border-radius: 4px;
  margin-right: 1px;
  margin-left: 1px;
}

.selected {
  background-color: #e5e5e5;
  /* cursor: default; */
  cursor: move;
}

#form-div:hover {
  /* cursor: pointer; */
  cursor: move;
}

.form-control.disabled {
  cursor: move;
}

.form-error .control-label {
  color: red;
}

.form-error .form-control {
  border-color: red;
  box-shadow: none;
}

.blur-content {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.valid-form-name {
  color: green;
}

.invalid-form-name {
  color: red;
}

/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity = 80);
  pointer-events: none;
}

/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}

/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity = 20);
}

/* dragula-specific example page styles */
.wrapper {
  display: table;
}

.container {
  display: table-cell;
  background-color: rgba(255, 255, 255, 0.2);
  width: 50%;
}

.container:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.2);
}

/*
 * note that styling gu-mirror directly is a bad practice because it's too generic.
 * you're better off giving the draggable elements a unique class and styling that directly!
 */
.container div,
.gu-mirror:not (.container ) {
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.4s ease-in-out;
}

.container div {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.gu-mirror {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.container .ex-moved {
  background-color: #e74c3c;
}

.container.ex-over {
  background-color: rgba(255, 255, 255, 0.3);
}

.handle {
  padding: 0 5px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: move;
}

#drag-div {
  cursor: move;
}

#full-screen {
  float: right;
}

#preview-form {
  margin-right: 8px;
}

#eye {
  margin-left: -1px;
}

.text-area-css {
  float: right;
  font-size: 14px;
  position: relative;
  left: -4px;
  color: #bd1d1d;
}

.full {
  height: 100%;
  width: 100%;
}

.profile-image-wrapper {
  display: block;
  width: 100% !important;
  height: auto;
  background: #fff;
  padding: 1px;
  margin: 0 auto;
  border: 2px dotted #ddd;
  position: relative;
}

.profile-image {
  width: auto;
  height: 93%;
  max-width: 100%;
  max-height: 100%;
}

.upload-btn-wrapper {
  position: absolute;
  overflow: hidden;
  display: block;
  cursor: pointer;
  right: 0;
  bottom: 0;
  width: 32px;
}

.upload-btn-wrapper .fa {
  border: 1px solid #008fd5;
  color: #008fd5;
  background-color: white;
  padding: 7px;
  border-radius: 50%;
}

.upload-btn-wrapper input[type="file"] {
  padding: 10px;
  margin-top: -35px;
  opacity: 0;
  cursor: pointer;
  width: 32px;
}

.content__list {
  margin: 0;
  padding: 0;
}

.content__list li {
  list-style: none;
}

.list__item .item__content,
.list__item .item__select-box-wrapper {
  width: 50%;
}

.list__item {
  width: 33.33333%;
  float: left;
}

.list__item > .flex-row {
  margin: 0;
  padding: 1rem;
  background: #fff;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07);
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.select-box {
  width: 17px;
  margin: 0 20px 15px 0;
  position: relative;
  display: inline-block;
  vertical-align: baseline;
}

.item__select-box-wrapper .select-box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  line-height: 1em;
  margin: 0;
  height: 17px;
}

.item__select-box-wrapper .select-box::before {
  content: "";
  display: block;
  height: 23px;
  width: 23px;
  position: absolute;
  bottom: -4px;
  right: -5px;
  -webkit-border-radius: 0 0 6px 0;
  border-radius: 0 0 6px 0;
  background: #fff;
}

.select-box input[type="checkbox"] {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.select-box label {
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  width: 17px;
  height: 17px;
  top: 0;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #d8dade;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 0;
  -webkit-transition: all 0.2s ease;
  -o-transition: 0.2s all ease;
  transition: all 0.2s ease;
}

.select-box label::after {
  opacity: 0;
  content: "";
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 5px;
  left: 4px;
  border: 3px solid #8b8b8b;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  transform: rotate(-50deg);
}

.select-box:hover input:not (.disable ) ~ label:after {
  opacity: 0.4;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.list__item,
.item__content {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.item__content,
.item__select-box-wrapper {
  width: 50%;
  float: left;
}

.item__select-box-wrapper {
  position: relative;
  padding-left: 0;
}

.item__preview {
  display: block;
  width: 100%;
  height: auto;
  -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.05);
}

.item__preview::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.item__preview.item__preview--image.custom {
  background-color: #f3f4f6;
  text-align: center;
}

.item__preview.item__preview--image.custom .thumb {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  z-index: 2;
}

.list__item .item__name {
  color: #505659;
  white-space: nowrap;
  line-height: 1em;
  font-size: 1.25rem;
}

.item__last-modified,
.item__size,
.item__type {
  font-size: 11px;
}

.item__size,
.item__type {
  display: inline-block;
}

.item__size span {
  margin-right: 0.5rem;
  padding-right: 0.75rem;
  border-right: 1px solid #ccc;
}

.item__name strong {
  font-weight: 700 !important;
}

.list__item .item__actions {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: -webkit-calc(50% - 15px);
  width: calc(50% - 15px);
  padding-top: 1rem;
  border-top: 1px solid #eaebed;
  margin-right: -4px;
}

.actions__external-link {
  margin-right: 0.75rem;
}

.item__content {
  position: static;
}

.fm {
  cursor: pointer;
  width: 26px;
  height: 30px;
  -webkit-background-size: contain;
  background-size: contain;
  display: inline-block;
  margin: 0 5px 0 0;
  margin-right: 5px;
  vertical-align: bottom;
  position: relative;
  z-index: 2;
}

.fm.external-link {
  background-size: auto auto;
  -webkit-background-size: contain;
  background-size: contain;
  width: 15px;
}

.fm.delete {
  background-size: auto auto;
  -webkit-background-size: contain;
  background-size: contain;
  width: 15px;
}

.list__item.list__item--selected > .flex-row {
  border: 1px solid #fff;
  -webkit-box-shadow: 0 0 0 0.2rem #4cb9ea;
  box-shadow: 0 0 0 0.2rem #4cb9ea;
}

.list__item.list__item--selected .select-box label {
  background-color: #2eaade;
  border-color: #2eaade;
}

.list__item.list__item--selected .select-box label:after {
  opacity: 1;
  content: "";
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 5px;
  left: 4px;
  border: 3px solid #fff;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  transform: rotate(-50deg);
}

.list-content-table {
  overflow-x: inherit;
  padding: 15px;
  margin-top: 36px;
}

.upload-button-class {
  color: white !important;
  background-color: #428bca !important;
  cursor: pointer;
  position: fixed;
}

.upload-button-class:hover {
  color: white !important;
  background-color: #0f5796 !important;
}

.search-input-button {
  position: relative;
  top: -33px;
  width: 40px;
  height: 32px;
  left: -1px;
}

.mcss {
  padding-right: 0;
}

@media only screen and (max-width: 600px) {
  .mcss {
    padding: 0;
  }
}

@media only screen and (min-width: 768px) {
  .col-sm-4 {
    width: 31.333333%;
  }
}

@media only screen and (min-width: 768px) {
  .col-sm-8 {
    width: 120%;
  }
}

.override-actions {
  margin: 0 auto;
  display: table;
  float: none !important;
}

.ui-switch-custom-div {
  width: 7%;
  padding: 7px 0;
}

.modal.left.fade.in .modal-dialog,
.modal.right.fade.in .modal-dialog {
  width: 450px !important;
}

.vertical-center {
  align-items: center;
  justify-content: center;
  display: block;
  margin: 10px 100px 0px 100px;
}

.color-pick {
  position: absolute;
  top: 28px;
  left: 20px;
}

.color-pick-1 {
  position: absolute;
  top: 28px;
  left: 20px;
}

.input-group-addon,
.input-group-btn {
  white-space: nowrap;
  vertical-align: middle;
  height: 39% !important;
  border: 1px solid #eaeaea;
  border-radius: 3px !important;
}

.icon1 {
  font-size: 23px !important;
  padding-top: 8px !important;
  position: absolute !important;
  left: 16px !important;
  bottom: 45px !important;
}

.icon {
  font-size: 23px !important;
  padding-top: 8px !important;
  position: absolute !important;
  left: 16px !important;
  bottom: 45px !important;
}

.img-grid {
  max-width: 218px !important;
  height: 118px !important;
}

/* new switch */
.onoffswitch {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "YES";
  padding-left: 10px;
  background-color: #2fccff;
  color: #ffffff;
}

.onoffswitch-inner:after {
  content: "NO";
  padding-right: 10px;
  background-color: #eeeeee;
  color: #999999;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 18px;
  margin: 6px;
  background: #ffffff;
  border: 2px solid #999999;
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.onoffswitch1 {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch1-checkbox {
  display: none;
}

.onoffswitch1-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 30px;
}

.onoffswitch1-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch1-inner:before,
.onoffswitch1-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 30px;
  box-shadow: 0px 15px 0px rgba(0, 0, 0, 0.08) inset;
}

.onoffswitch1-inner:before {
  content: "YES";
  padding-left: 10px;
  background-color: #2fccff;
  color: #ffffff;
  border-radius: 30px 0 0 30px;
}

.onoffswitch1-inner:after {
  content: "NO";
  padding-right: 10px;
  background-color: #eeeeee;
  color: #999999;
  text-align: right;
  border-radius: 0 30px 30px 0;
}

.onoffswitch1-switch {
  display: block;
  width: 30px;
  margin: 0px;
  background: #ffffff;
  border: 2px solid #999999;
  border-radius: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  background-image: -moz-linear-gradient(
    center top,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  background-image: -webkit-linear-gradient(
    center top,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  background-image: -o-linear-gradient(
    center top,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  background-image: linear-gradient(
    center top,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  box-shadow: 0 1px 1px white inset;
}

.onoffswitch1-checkbox:checked + .onoffswitch1-label .onoffswitch1-inner {
  margin-left: 0;
}

.onoffswitch1-checkbox:checked + .onoffswitch1-label .onoffswitch1-switch {
  right: 0px;
}

.onoffswitch2 {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch2-checkbox {
  display: none;
}

.onoffswitch2-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 5px;
}

.onoffswitch2-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch2-inner:before,
.onoffswitch2-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.onoffswitch2-inner:before {
  content: "YES";
  padding-left: 10px;
  background-color: #2fccff;
  color: #ffffff;
}

.onoffswitch2-inner:after {
  content: "NO";
  padding-right: 10px;
  background-color: #eeeeee;
  color: #999999;
  text-align: right;
}

.onoffswitch2-switch {
  display: block;
  width: 18px;
  margin: 0px;
  background: #ffffff;
  border: 2px solid #999999;
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 68px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  background-image: -moz-linear-gradient(
    center top,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background-image: -webkit-linear-gradient(
    center top,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background-image: -o-linear-gradient(
    center top,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background-image: linear-gradient(
    center top,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.onoffswitch2-checkbox:checked + .onoffswitch2-label .onoffswitch2-inner {
  margin-left: 0;
}

.onoffswitch2-checkbox:checked + .onoffswitch2-label .onoffswitch2-switch {
  right: 0px;
}

.onoffswitch3 {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch3-checkbox {
  display: none;
}

.onoffswitch3-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0px solid #999999;
  border-radius: 0px;
}

.onoffswitch3-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch3-inner > span {
  display: block;
  float: left;
  position: relative;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.onoffswitch3-inner .onoffswitch3-active {
  padding-left: 10px;
  background-color: #eeeeee;
  color: #ffffff;
}

.onoffswitch3-inner .onoffswitch3-inactive {
  padding-right: 10px;
  background-color: #eeeeee;
  color: #ffffff;
  text-align: right;
}

.onoffswitch3-switch {
  display: block;
  width: 18px;
  margin: 0px;
  text-align: center;
  border: 0px solid #999999;
  border-radius: 0px;
  position: absolute;
  top: 0;
  bottom: 0;
}

.onoffswitch3-active .onoffswitch3-switch {
  background: #27a1ca;
  left: 0;
}

.onoffswitch3-inactive .onoffswitch3-switch {
  background: #a1a1a1;
  right: 0;
}

.onoffswitch3-active .onoffswitch3-switch:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 18px;
  border-style: solid;
  border-color: #27a1ca transparent transparent #27a1ca;
  border-width: 15px 9px;
}

.onoffswitch3-inactive .onoffswitch3-switch:before {
  content: " ";
  position: absolute;
  top: 0;
  right: 18px;
  border-style: solid;
  border-color: transparent #a1a1a1 #a1a1a1 transparent;
  border-width: 15px 9px;
}

.onoffswitch3-checkbox:checked + .onoffswitch3-label .onoffswitch3-inner {
  margin-left: 0;
}

.onoffswitch4 {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch4-checkbox {
  display: none;
}

.onoffswitch4-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #27a1ca;
  border-radius: 0px;
}

.onoffswitch4-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch4-inner:before,
.onoffswitch4-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 26px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.onoffswitch4-inner:before {
  content: "Yes";
  padding-left: 10px;
  background-color: #ffffff;
  color: #27a1ca;
}

.onoffswitch4-inner:after {
  content: "No";
  padding-right: 10px;
  background-color: #ffffff;
  color: #666666;
  text-align: right;
}

.onoffswitch4-switch {
  display: block;
  width: 25px;
  margin: 0px;
  background: #27a1ca;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 65px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch4-checkbox:checked + .onoffswitch4-label .onoffswitch4-inner {
  margin-left: 0;
}

.onoffswitch4-checkbox:checked + .onoffswitch4-label .onoffswitch4-switch {
  right: 0px;
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: #dddddd;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}

input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}

input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 2px;
  bottom: 4px;
  width: 22px;
  background-color: #dddddd;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.4s, background 0.4s;
  -moz-transition: margin 0.4s, background 0.4s;
  -o-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s;
}

input.cmn-toggle-round-flat:checked + label {
  background-color: #27a1ca;
}

input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 33px;
  background-color: #27a1ca;
}

div.switch5 {
  clear: both;
  margin: 0px 0px;
}

div.switch5 > input.switch:empty {
  margin-left: -999px;
}

div.switch5 > input.switch:empty ~ label {
  position: relative;
  float: left;
  line-height: 1.6em;
  text-indent: 4em;
  margin: 0.2em 0px;
  cursor: pointer;
  -moz-user-select: none;
}

div.switch5 > input.switch:empty ~ label:before,
input.switch:empty ~ label:after {
  position: absolute;
  display: block;
  top: 0px;
  bottom: 0px;
  left: 0px;
  content: "off";
  width: 3.6em;
  height: 1.5em;
  text-indent: 2.4em;
  color: rgb(153, 0, 0);
  background-color: rgb(204, 51, 51);
  border-radius: 0.3em;
  box-shadow: 0px 0.2em 0px rgba(0, 0, 0, 0.3) inset;
}

div.switch5 > input.switch:empty ~ label:after {
  content: " ";
  width: 1.4em;
  height: 1.5em;
  top: 0.1em;
  bottom: 0.1em;
  text-align: center;
  text-indent: 0px;
  margin-left: 0.1em;
  color: rgb(255, 136, 136);
  background-color: rgb(255, 255, 255);
  border-radius: 0.15em;
  box-shadow: 0px -0.2em 0px rgba(0, 0, 0, 0.2) inset;
  transition: all 100ms ease-in 0s;
}

div.switch5 > input.switch:checked ~ label:before {
  content: "on";
  text-indent: 0.5em;
  color: rgb(102, 255, 102);
  background-color: rgb(51, 153, 51);
}

div.switch5 > input.switch:checked ~ label:after {
  margin-left: 2.1em;
  color: rgb(102, 204, 102);
}

div.switch5 > input.switch:focus ~ label {
  color: rgb(0, 0, 0);
}

div.switch5 > input.switch:focus ~ label:before {
  box-shadow: 0px 0px 0px 3px rgb(153, 153, 153);
}

.switch6 {
  max-width: 17em;
  margin: 0 auto;
}

.switch6-light > span,
.switch-toggle > span {
  color: #000000;
}

.switch6-light span span,
.switch6-light label,
.switch-toggle span span,
.switch-toggle label {
  color: #2b2b2b;
}

.switch-toggle a,
.switch6-light span span {
  display: none;
}

.switch6-light {
  display: block;
  height: 30px;
  position: relative;
  overflow: visible;
  padding: 0px;
  margin-left: 0px;
}

.switch6-light * {
  box-sizing: border-box;
}

.switch6-light a {
  display: block;
  transition: all 0.3s ease-out 0s;
}

.switch6-light label,
.switch6-light > span {
  line-height: 30px;
  vertical-align: middle;
}

.switch6-light label {
  font-weight: 700;
  margin-bottom: px;
  max-width: 100%;
}

.switch6-light input:focus ~ a,
.switch6-light input:focus + label {
  outline: 1px dotted rgb(136, 136, 136);
}

.switch6-light input {
  position: absolute;
  opacity: 0;
  z-index: 5;
}

.switch6-light input:checked ~ a {
  right: 0%;
}

.switch6-light > span {
  position: absolute;
  left: -100px;
  width: 100%;
  margin: 0px;
  padding-right: 100px;
  text-align: left;
}

.switch6-light > span span {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
  display: block;
  width: 50%;
  margin-left: 100px;
  text-align: center;
}

.switch6-light > span span:last-child {
  left: 50%;
}

.switch6-light a {
  position: absolute;
  right: 50%;
  top: 0px;
  z-index: 4;
  display: block;
  width: 50%;
  height: 100%;
  padding: 0px;
}

.square-box {
  border-radius: 0 !important;
  webkit-border-radius: 0 !important;
}

.flatpickr-time {
  transition: none !important;
}

#form-div {
  padding: 0px 15px 10px 15px;
}

.custom-size-form-brush {
  font-size: 14px;
}

.prefix .input-group-prefix {
  border-right: 0;
  border-radius: 0px 0px 0px 0px;
}

.input-group-prefix {
  padding: 6px 12px;
  font-size: 13px;
  text-align: center;
  background-color: white;
  width: 40%;
  vertical-align: middle;
  line-height: 1;
  color: rgb(128, 109, 109);
  border: 1px solid #ccc;
  white-space: nowrap;
  display: table-cell;
}

.input-group {
  position: relative;
  display: flex;
  border-collapse: separate;
}

.edit-field-prefix {
  padding: 8px 12px;
  font-size: 13px;
  background-color: white;
  width: auto;
  vertical-align: middle;
  text-align: center;
  line-height: 1;
  color: rgb(51, 46, 46);
  border: 1px solid #ccc;
}

.design-btn-group button {
  background-color: #008fd5;
  border: 1px solid #3575b5;
  color: #fff;
  padding: 6px 16px;
  cursor: pointer;
  float: left;
  font-size: 14px;
}

.design-btn-group button:not (:last-child ) {
  border-right: none;
}

.design-btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.design-btn-group button:hover {
  background-color: #4db1e2;
}

.button-padding {
  padding: 7px 14px;
  font-size: 14px;
  border-width: 0;
}

.pagination {
  margin: 10px 4px 1px;
}

.margin-right-design {
  margin-right: 5px;
}

@media (min-width: 992px) {
  .modal-lg {
    width: 850px !important;
  }
}

.check-icon {
  font-size: 20px;
  margin-left: 5px;
}

.drop-down-custom {
  height: 30px;
}

.label-box {
  border: #ddd solid 1px;
  border-radius: 3px !important;
  padding: 20px;
}

.dflex {
  display: flex;
}

.label-text {
  width: 95%;
}

.form-name-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.padding-none {
  padding: 0px;
}

@media screen and (max-width: 600px) {
  .mPad {
    padding-left: 30px;
  }
  .mWid {
    width: 175%;
    margin-left: -50px;
  }
}

@media screen and (width: 565px) {
  .mWid {
    width: 100%;
    margin-left: 0px;
  }
}

.icon-margin {
  margin: 2% 0% 0% 0%;
}

.row {
  margin-bottom: -7px;
  margin-top: -7px;
  margin-left: -15px;
  margin-right: -15px;
}

.active {
  background-color: #008fd5;
  margin-left: 2px;
  margin-right: 0px;
  /* color: black; */
}

/* .active-tab{
    background-color: blue;
} */
.active-tab-anchor-text {
  position: relative;
  display: block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 500;
  color: white !important;
  background-color: blue;
  border-bottom: 0px solid #5b9bd1;
  margin-left: -2px;
}

.text-white {
  background-color: #ddd;
  color: black !important;
}

.box-center {
  justify-content: center;
  align-items: center;
  display: flex;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  background-color: #337ab7;
  color: white !important;
}

.left-left {
  writing-mode: vertical-lr;
  width: 100%;
  transform: rotate(180deg);
  height: 85px;
  font-family: "Gantari", "Open Sans", sans-serif;
  font-size: 11px;
}

.main-content {
  height: 85px;
  /* color: black !important; */
  font-family: "Gantari", "Open Sans", sans-serif;
  font-size: 12px;
  /* display: flex;
    justify-content:center; */
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 40px;
  top: -4px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: -1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.isValid {
  background-color: #3575b5;
}

.notValid {
  background-color: none !important;
}
.star {
  color: red !important;
  font-weight: 600;
}
.border-alignment {
  /* border-left: none;
    border-right: none;
    border-top: none; */
  width: 45%;
}

/** 18-05-2023 ****/
.min-height {
  min-height: 70px;
}
/**** tharak ****/
.m-top-70 {
  margin-top: -70px;
}
.m-top-50 {
  margin-top: -50px;
}

/* 06/06/23 */

.page-sidebar-closed.page-sidebar-fixed
  .page-sidebar:hover
  .page-sidebar-menu
  > li:last-child
  > a,
.page-sidebar .page-sidebar-menu > li:last-child > a {
  border-bottom: 1px solid transparent !important;
}

/* 19/06/23 */
.page-header.navbar
  .top-menu
  .navbar-nav
  > li.dropdown-user
  .dropdown-toggle
  > img {
  background-color: var(--page-content) !important;
}
.portlet-light-fields {
  text-align: center;
  padding: 10px !important;
  border-radius: 5px;
  margin-top: 0px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  background-color: #dddddd94;
}
/* 18-07-2023 */
img.gif-img-cu {
  width: 100%;
  height: 210px;
  object-fit: contain;
  border-radius: 5px;
}
.btn-alignment-theme {
  padding: 6px 14px;
  font-size: 14px;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
}

/* 19-07-2023 */
.bg-color-for-card {
  border-radius: 5px;
  border: 1px solid rgba(221, 221, 221, 0.87);
  background: #f1f5f9;
  padding-top: 8px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 306px;
}
.rowpadding {
  padding: 10px 0px;
}
.cardleft-paddingzero {
  padding-right: 0px !important;
}
.bg-color-for-card1 {
  border-radius: 5px;
  border: 1px solid rgba(221, 221, 221, 0.87);
  background: #f1f5f9;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  height: 306px;
}
p.layoutcontent {
  color: #333;
}

.bg-color-for-secondcard {
  border-radius: 5px;
  border: 1px solid rgba(221, 221, 221, 0.87);
  background: #f1f5f9;
  padding-top: 8px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.bg-color-for-secondcard1 {
  border-radius: 5px;
  border: 1px solid rgba(221, 221, 221, 0.87);
  background: #f1f5f9;
  padding: 10px;
}
.sectiontwo-card {
  padding: 20px 0px;
}
.padd-cu {
  padding: 0px 2px;
}
.alignmiddlebtn {
  margin: 24px 15px !important;
}

.bg-color-for-thirdcard {
  border-radius: 5px;
  border: 1px solid rgba(221, 221, 221, 0.87);
  background: #f1f5f9;
  padding-top: 8px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.bg-color-for-thirdcard1 {
  border-radius: 5px;
  border: 1px solid rgba(221, 221, 221, 0.87);
  background: #f1f5f9;
  padding: 10px;
}
.bg-color-for-footercard {
  border-radius: 5px;
  border: 1px solid rgba(221, 221, 221, 0.87);
  background: #f1f5f9;
  padding-top: 8px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 250px;
}
.bg-color-for-footercard1 {
  border-radius: 5px;
  border: 1px solid rgba(221, 221, 221, 0.87);
  background: #f1f5f9;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  height: 250px;
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .form-group label {
    font-size: 12px;
  }
  p.layoutcontent {
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {
  .color-pick {
    position: absolute;
    top: 31px;
    left: 20px;
  }
  .color-pick-1 {
    position: absolute;
    top: 31px;
    left: 20px;
  }
}

@media (min-width: 300px) and (max-width: 767px) {
  .layout-cu-paddings {
    margin-top: 15px;
    padding: 0px;
  }
  .sectiontwo-card {
    padding: 10px 0px;
  }
  .alignmiddlebtn {
    float: left !important;
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 14px !important;
    margin-left: 0px !important;
  }
  .color-pick {
    position: absolute;
    top: 31px;
    left: 20px;
  }
  .color-pick-1 {
    position: absolute;
    top: 31px;
    left: 20px;
  }
  .active-tab-anchor-text {
    padding: 5px 8px;
  }
  .text-white {
    padding: 5px 8px;
  }
}
.bg-color-for-card {
  height: auto;
  border: none !important;
}
.bg-color-for-footercard {
  height: auto;
  border: none !important;
}
.bg-color-for-footercard2 {
  height: 250px;
  border: none !important;
  border-radius: 5px;
  border: 1px solid rgba(221, 221, 221, 0.87);
  background: #f1f5f9;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.cardfotter-toggleon {
  background: #f1f5f9;
  padding: 10px 0px;
  border-radius: 5px;
  border: 1px solid #dddddda1;
  margin-top: 25px !important;
  margin-right: -15px !important;
  margin-bottom: 10px !important;
  margin-left: -15px !important;
}
.hide{
  display: none !important;
}
.profile-pic {
  position: absolute;
  margin-top: 15px;
  left: 10px;
  border: none;
}
.upload-imgheight {
  height: 115px;
}
.dotted-image-border {
  cursor: pointer;
  text-align: center;
  color: #fff;
}