<div class="modal fade right" id="teamMemberFilterModalPopup" tabindex="-1" role="dialog"
    aria-labelledby="teamMemberFilterLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-customize" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="teamMemberFilterLabel">Select Option</h4>
            </div>
            <div class="modal-body">
                <div class="clearfix">
                  <div class="col-xs-12 col-sm-2 col-md-2">
                    <label class="form-check-label border-none">
                        <input class="form-check-input radioButton_shadow" type="radio" name="teamMemberFilter" [(ngModel)]="selectedTeamMemberFilterOption" [value]="0"> All
                    </label>
                </div>
                <div class="col-xs-12 col-sm-10 col-md-10">
                  <label class="form-check-label border-none">
                      <input class="form-check-input radioButton_shadow" type="radio" name="teamMemberFilter" [(ngModel)]="selectedTeamMemberFilterOption" [value]="1"> My {{authenticationService?.partnerModule?.customName}}
                  </label>
              </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" (click)="applyFilter(true)">Apply</button>
            </div>
        </div>
    </div>
</div>