.button:hover::before, .button_blue:hover::before{
  transform: scale(0) !important;
}
button#copyFromClipBoard {
  box-shadow: none !important;
}
button.btn.custom, .btn-group button, .selectRecord, button#save\&delete_button,
.btn-success, .btn-primary, .color-flow-button, .button_blue, button.button_blue:disabled, button.button:disabled,
button.btn.btn-primary, .mix-filter li:hover, .mix-filter li.active, .mix-filter li.campaign-type-selected, .mix-filter li.emailtemplate-selected,
button.group-name-cclass.btn-primary.default-btn-cursor {
    background-color: var(--custom-buttonbg-color) !important;
    background-image: linear-gradient(1deg, var(--custom-gradient-one-color), var(--custom-gradient-two-color) 99%) !important;
    background-size: calc(100% + 20px) calc(100% + 20px) !important;
    border: 1px solid var(--custom-border-color) !important;
    color: var(--custom-text-color) !important;
    border-radius: 7px;
    box-shadow: none !important;
}
button.button.bgcolor-unset,
button.button_blue.bgcolor-unset{ 
  border-radius: 7px !important;
  background-color: var(--custom-buttonbg-color) !important;
  background-image: linear-gradient(1deg, var(--custom-gradient-one-color), var(--custom-gradient-two-color) 99%) !important;
  background-size: calc(100% + 20px) calc(100% + 20px) !important;
  border: 1px solid var(--custom-border-color) !important;
  color: var(--custom-text-color)  !important;
  box-shadow: none !important;
}
button.button.bgcolor-unset:hover, button.btn.custom:hover, .btn-group button:hover, .selectRecord:hover,
.btn-success:hover, .btn-primary:hover, .color-flow-button:hover, div > button.btn-primary:hover,
.btn-primary:active:hover, .button_blue:hover, .mix-filter li:hover, button.group-name-cclass.btn-primary.default-btn-cursor:hover{
  background-color: var(--custom-buttonbg-color) !important;
  background-image: linear-gradient(1deg, var(--custom-gradient-two-color), var(--custom-gradient-one-color) 99%) !important;
  background-size: calc(100% + 20px) calc(100% + 20px) !important;
  border: 1px solid var(--custom-border-color) !important;
  color:  var(--custom-text-color) !important;
  box-shadow: none !important;
}
span.btn.btn-primary.transition.txt_pd-top3, span.btn.btn-primary.transition {
  border: none !important;
}
.Btn-Green {
  background: none !important;
}

/***** Icons *****/
/* .custom-icon {
  display: inline-block !important;
  width: 32px !important;
  height: 32px !important;
  line-height: 32px !important;
  border: none !important;
  color: var(--custom-icon-color) !important;
  border-radius: 50%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  cursor: pointer;
  margin-right: 8px;
} */
i.IconCustomization, 
.gridIconCustomization a {
  color : var(--custom-icon-color) !important;
  border: 1px solid var(--custom-icon-border-color) !important;
  background-color: var(--custom-icon-hover-color) !important;
}
i.IconCustomization:hover,
.gridIconCustomization a.Iconhover:hover {
background: none !important;
border: 1px solid var(--custom-icon-border-color) !important; 
color : var(--custom-icon-color) !important;

}
body {
  background-image: var(--body-background-image);
}