/* .page-bar {
    background-color: var(--div-bg-color) !important;
    border:1px solid #555 !important;
  }
  table {
    border: 1px solid var(--page-content) !important ;
  }
  .table thead > tr > th {
    color: var(--title-text) !important;
    background-color: var(--div-bg-color) !important;
    border-bottom: 2px solid var(--page-content) !important;
  }
  .portlet.light {
    background-color:  var(--div-bg-color) !important;
    border:1px solid var(--main-border) !important;  
 }
 .page-container-bg-solid .page-content {
    background-color:  var(--page-content) !important;
}
.text-primary {
  color: var(--title-text) !important;
}.table-hover>tbody>tr:hover {
  background-color: var(--page-content) !important;
  color: var(--div-bg-color) !important;
}
h1, h2, h3, h4, h5, h6 {
  color: var(--title-text) !important;
}.user-company {
  color:var(--title-text) !important;
} */
/***** colors class ******/
.white-co,
.profile-details b,
.field-icon,
.list__item .item__name,
.list__item > .flex-row,
.font-blue-madison,
.copyright-css {
  color: white !important;
}
body,
.bar-background {
  background-color: #2a3d4d;
  color: white !important;
}
/*** MainContent ***/
.page-bar,
.dashboard-stat2,
.tabbable-custom > .tab-content {
  background-color: #2b3c46 !important;
  border: 1px solid #2f4857 !important;
}
.page-container-bg-solid .page-content,
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external,
.disabled-background-color,
/* .label-box:hover, */
.table tr.xamp-tr-selected td,
.div.thembgc,
.div.thembg-color {
  background-color: #22313a !important;
}
.div.thembgc,
.div.thembg-color,
.calendar-border {
  border: 1px solid #2f4857 !important;
}
.tborders > tbody > tr > td,
.tborders > tbody > tr > th,
.tborders > tfoot > tr > td,
.tborders > tfoot > tr > th,
.tabtbordersle > thead > tr > td,
.tborders > thead > tr > th {
  border-top: 1px solid #2f4857 !important;
  border-bottom: 2px solid #2f4857 !important;
}
.portlet.light {
  background-color: #22313a !important;
  border: 1px solid #2f4857 !important;
}
.add-options .portlet-title,
.cloud-services.portlet.light,
.header-description-css {
  color: white !important;
}

.portlet > .portlet-title,
.header-text-css,
.black-blue-c:hover,
.lineplayercontrol,
.row-space {
  border-bottom: 1px solid #2f4857 !important;
}
.portlet.box > .portlet-body,
.copyright-css,
.video {
  background-color: #2b3c46 !important;
}
.page-bar .page-breadcrumb > li > a,
.page-bar .page-breadcrumb > li > span {
  color: white !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white !important;
}
.text-block {
  color: white !important;
}
.text-center {
  color: white !important;
}
.grid-box-team,
.gu-transit {
  background-color: #2b3c46 !important;
}
.gu-block:hover {
  background-color: #22313a !important;
}
.total-records-bg-color {
  color: white !important;
}
.grid-box,
#vendor-details-tile,
.xamplify-dropdown-content,
.header {
  background-color: #2b3c46 !important;
  border: 1px solid #2f4857 !important;
}
.bar,
.tile,
.heading-top,
.progress {
  background-color: #22313a !important;
}
.text-primary,
.special-progress-bar span {
  color: white !important;
}
.pagination > li > a,
.pagination > li > span {
  background-color: #2b3c46 !important;
  color: white !important;
  border: 1px solid #2f4857 !important;
}
.pagination .active > a,
.pagination .active > a:hover,
.nav-tabs > li > a:hover {
  background: #22313a !important;
  border-color: #2f4857 !important;
  color: white !important;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  background: #22313a !important;
}
.form-control,
.col-item {
  color: white !important;
  background-color: #22313a !important;
  border: 1px solid #2f4857 !important;
}
#header-custom-li-font,
.caption-subject.font-red-sunglo,
#asset-preview-content {
  color: white !important;
}
#notification {
  background-color: #22313a !important ;
  border: 1px solid #2f4857 !important;
}
#notification-list {
  background-color: #22313a !important ;
  /* border: 1px solid #2f4857 !important; */
}
.portlet.light > .portlet-title > .caption,
.portlet-title > .caption {
  color: white !important;
}
.portlet.light > .portlet-title > .caption > i {
  color: white !important;
}
.sparkline-chart .title,
.easy-pie-chart .title,
.alert-info,
.btn.default {
  color: white !important;
}
.partners-text,
.user-company,
ul.alt-row-style1 li a {
  color: white !important;
}
.close-circle {
  background-color: #2b3c46 !important ;
  color: white !important;
}
.group-dd-content {
  background-color: #2b3c46 !important ;
  border: 1px solid #2f4857 !important;
}
/**** buttons ****/
/* .btn-primary{
  background-color: white !important;
  color: #2b3c46 !important;
} */
.search-box-item-click,
.table tr.contact-list-selected td,
.div-background-color {
  background-color: #22313a !important;
  color: white !important;
}
.td-new-n {
  background: #2b3c46 !important;
  color: white !important;
  border: 1px solid #2f4857 !important;
}
.td-new,
th {
  border: 1px solid #1c313a !important;
  /* border: 1px solid #2f4857 !important; old one */
}
/* td > button {
  background-color: #00a99d !important;
  border-radius: 3px !important;
} */
.list-group-item,
/* input, */
.card {
  color: white !important;
  background-color: #2b3c46 !important;
  border: 1px solid #2f4857 !important;
}
.read {
  color: white !important;
  background-color: #22313a !important;
  border: 1px solid #2f4857 !important;
}
.campaign-type-selected,
ul.alt-row-style1 li:hover,
.filter.form-selected,
.filter.landing-page-selected,
.mix-filter li.contact-filter-selected {
  background-color: #22313a !important;
}

.re-distributed-high-level {
  background-color: #2b3c46 !important;
  border: 3px solid #2f4857 !important;
}
.list__item > .flex-row {
  background-color: #22313a !important;
  border: 1px solid #2f4857 !important;
}
.re-distributed-high-level:hover {
  background-color: #22313a !important;
}
.l-g-view,
.alert-success,
.campaign-email-template-filter-icon,
.list__item.list__item--selected > .flex-row,
.btn.btn-secondary {
  background-color: #22313a !important;
  border: 1px solid #2f4857 !important;
  color: white !important;
}
/** Campaigns **/
.box-content {
  background-color: #2b3c46 !important;
  border: 1px solid #2f4857 !important;
  color: white !important;
}
.table tbody tr.active:hover td,
.table tbody tr.active:hover th,
.boxes .portlet-title {
  background-color: #22313a !important;
}
.camp-card-bg {
  background-color: #2b3c46 !important;
  border: 1px solid #2f4857 !important;
}
.pricing,
.edit-field-prefix,
.cenetered-block,
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
  border: 1px solid #2f4857 !important;
}
.pricing-content li {
  color: white !important;
  border-bottom: 1px solid #2f4857 !important;
}
.col-block.col-block-disable,
.bg-card-header,
.clear-search {
  background-color: #2b3c46 !important;
}
.col-block.col-block-active {
  background-color: #00a8e7 !important;
}
.col-block,
.alert-info {
  background-color: #22313a !important;
  border: 1px solid #2f4857 !important;
}
.form-body label,
.form-group label {
  color: white !important;
}
.form-group label.color {
  color: #999 !important;
}
/*** table ***/
.tgrid,
fieldset,
.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border: 1px solid #2f4857 !important ;
}
.table thead > tr > th,
.ng2-tag-input,
.nav-tabs,
.nav-pills {
  border-bottom: 2px solid #2f4857 !important;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th,
.modal-footer,
.folder-modal-footer,
.table > tbody + tbody,
.bar-background {
  border-top: 1px solid #2f4857 !important;
}
.table > tbody > tr > th {
  background-color: #2b3c46 !important;
}
.list__item .item__actions {
  margin-right: -4px;
  border-top: 1px solid #2f4857 !important;
}
.table tbody tr.active td,
.table tbody tr.active th {
  background-color: #22313a !important;
}
.tgrid > tbody > tr > td,
.tgrid > tbody > tr > th,
.tgrid > thead > tr > td,
.tgrid > thead > tr > th,
.table thead > tr > th {
  color: white !important;
}
.tgrid > thead {
  background-color: #22313a !important;
  color: white !important;
}
/* 04-07-2023 Templates privew background */
.table-striped > tbody > tr:nth-of-type(odd),
table tr:nth-child(odd) td,
table tr:nth-child(even) td,
.search-box-item-clear,
input {
  background-color: transparent !important;
}
.table .table {
  background: transparent !important;
}
table#folder-list-view, tr {
  background: transparent !important;
}

.table-hover > tbody > tr:hover,
.page-header.navbar
  .top-menu
  .navbar-nav
  > li.dropdown-notification
  .dropdown-menu
  .dropdown-menu-list
  > li
  > a
  .time {
  background-color: #22313a !important;
}
.page-bar .page-breadcrumb > li > i {
  color: white !important;
}

/**** Model PopUp ****/
.modal-content,
.bar-background,
.div.table-color {
  background-color: #2b3c46 !important;
  color: white !important;
}
.upload-asset-div,
.well,
.my-drop-zone {
  background-color: #2b3c46 !important;
  border: dotted 3px #2f4857 !important;
}
.message-content,
.upload-asset-div {
  border: dotted 3px #2f4857 !important;
  color: white !important;
}
.panel {
  background-color: #2b3c46;
  border-color: #2f4857;
}
.custom-alert {
  background-color: #2b3c46 !important;
  border-color: #2f4857 !important;
}
.modal .modal-header,
.page-header.navbar
  .top-menu
  .navbar-nav
  > li.dropdown-extended
  .dropdown-menu
  .dropdown-menu-list
  > li
  > a {
  border-bottom: 1px solid #2f4857 !important;
}
/*** Left Menu ***/
.left-menu-color,
.dropdown-menu li.divider {
  background-color: #2b3c46 !important;
}
.page-sidebar .page-sidebar-menu > li.active > a,
.page-sidebar .page-sidebar-menu > li.hover > a {
  background-color: #22313a !important;
}
/* .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a:hover, .page-sidebar .page-sidebar-menu > li.active > a:hover, .page-sidebar .page-sidebar-menu > li.active.open > a:hover {
  background-color: #22313a !important;
} */
.page-sidebar-closed.page-sidebar-fixed
  .page-sidebar:hover
  .page-sidebar-menu
  > li.active
  > a,
.page-sidebar-closed.page-sidebar-fixed
  .page-sidebar:hover
  .page-sidebar-menu
  > li.active.open
  > a,
.page-sidebar .page-sidebar-menu > li.active.open > a {
  background-color: #2b3c46 !important;
  color: white !important;
}
.page-sidebar-closed.page-sidebar-fixed
  .page-sidebar:hover
  .page-sidebar-menu
  > li
  > a,
.page-sidebar .page-sidebar-menu > li > a {
  background-color: #2b3c46 !important;
  color: white !important;
  border-bottom: 1px solid #2f4857 !important;
}
.page-sidebar-closed.page-sidebar-fixed
  .page-sidebar:hover
  .page-sidebar-menu
  .sub-menu
  > li
  > a,
.page-sidebar .page-sidebar-menu .sub-menu > li > a {
  background-color: #2b3c46 !important;
  color: white !important;
}
/*** TopNavBar ***/
.page-header.navbar .page-top {
  box-shadow: 0px 1px 10px 0px rgb(50 50 50 / 20%);
  background: #2b3c46 !important;
}
.page-header.navbar
  .top-menu
  .navbar-nav
  > li.dropdown-user
  > .dropdown-toggle {
  color: white !important;
}
/* .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover {
  background-color:#22313a !important;
} 
.page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle {
  background-color:#22313a !important;
} */

/**** dropdownmenu ***/
.dropdown-menu {
  background-color: #2b3c46 !important;
  border: 1px solid #2f4857 !important;
}
.page-header.navbar
  .top-menu
  .navbar-nav
  > li.dropdown-user
  .dropdown-menu
  > li
  > a {
  color: white !important;
}
#logoutButton {
  background-color: #2b3c46 !important;
}
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.dropdown-menu li > a:hover {
  background-color: #22313a !important;
}
.dropdown-menu li > a {
  color: white !important;
}
/** alert **/
.swal2-modal {
  background-color: #2b3c46 !important;
}
.loader-container {
  background-color: #2b3c46 !important;
}
.animated-background {
  background: linear-gradient(
    to right,
    #2f4857 8%,
    #2b3c46 18%,
    #2f4857 33%
  ) !important;
  background: #2b3c46 !important;
}
#router-loader {
  background-color: #2b3c46 !important;
}
#process-loader,
.loader {
  border: 3px solid #22313a !important;
}
/* ss */
/** 26-03-2023 **/
.button-color {
  background-color: #2b3c46 !important;
}
.plus-color,
.exclusion-text-color,
.swal2-content,
.auto-resp {
  color: white !important;
}
.port-heading {
  background-color: #2b3c46 !important;
}
.caption-color {
  color: white !important;
}
.mdf-bgcolor {
  background-color: #2b3c46 !important;
}
/** 26-03-2023 **/
.control-label {
  color: white !important;
}
.comment-color {
  background: #2b3c46 !important;
}
.search-bgcolor {
  background-color: #2b3c46 !important;
}
.profile-image-wrapper {
  background-color: #2b3c46 !important;
  border: 2px dotted #2f4857 !important;
}
.color-inline {
  background-color: #2b3c46 !important;
  border-left: 1px solid #2f4857 !important;
  border-right: 1px solid #2f4857 !important;
  border-top: 1px solid #2f4857 !important;
}
.text-dropdown {
  background-color: #2b3c46 !important;
}
.write-new textarea,
.card-bg {
  background-color: #2b3c46 !important;
  color: white !important;
  border-color: #2f4857 !important;
}
label {
  color: white !important;
}
.e-multi-select-wrapper .e-delim-values {
  color: white !important;
}
.e-multi-select-wrapper .e-chips-close.e-close-hooker {
  color: white !important;
}
.pencil-color {
  color: white !important;
}
.panel-default > .panel-heading,
.panel-success > .panel-heading {
  background-color: #2b3c46 !important;
  border-color: #2f4857 !important;
}
/* .panel .panel-body {
  background-color: #2b3c46 !important;
} */
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
  color: #f8f6f9 !important;
  background-color: #1c313a !important;
}
.with-nav-tabs.panel-default .nav-tabs > li > a {
  color: #f8f6f9 !important;
}
body {
  color: white !important;
}
legend {
  color: white !important;
  border: 1px solid #2f4857 !important;
}
/* .list-group-item{
  background-color: #2b3c46 !important;
 } */
select {
  background-color: #2b3c46 !important;
}

#text-color-my-profile {
  color: white !important;
}
.text-color {
  color: white !important;
  background-color: #22313a !important;
}
.input-group .input-group-addon {
  color: white !important;
  background-color: #2b3c46 !important;
  border: 1px solid #2f4857 !important;
}
.input-group-addon {
  color: white !important;
  background-color: #22313a;
  border: 1px solid #2f4857 !important;
}
.input-group-addon,
.input-group-btn {
  border: 1px solid #2f4857 !important;
}
.design-bgcolor {
  background-color: #2b3c46 !important;
  border: 1px solid #2f4857 !important;
}
/* .selected{
  background-color:  #2b3c46;
} */
.edit-field-prefix {
  background-color: #2b3c46 !important;
  color: white !important;
}
.asset-name-class {
  background-color: #2b3c46 !important;
}
.panel-success > .panel-heading,
.deal-details,
.bg-color {
  background-color: #2b3c46 !important;
}
.setting_icon_color {
  color: #5b9bd1 !important;
}
.alert-spf {
  color: white !important;
}
/* 28-3-2023 */
.image-border,
#partner-analytics {
  border: 1px solid #2f4857 !important;
}
.panel-default {
  border-color: #2f4857 !important;
}
.company-details-border {
  border: 1px solid #2f4857 !important;
}
.profile-usermenu ul li {
  border-bottom: 1px solid #2f4857 !important;
}
.card {
  border: 1px solid #2f4857 !important;
}
.card-bgcolor,
.content-bg {
  background-color: #2b3c46 !important;
}
.close-circle {
  border: 1px solid #2f4857 !important;
}
.asset-thumbnail-div-sm {
  border: 2px dotted #2f4857 !important;
}
.breadcrumb-border {
  border: 1px solid #2f4857 !important;
}
.button-border {
  border: 1px solid #2f4857 !important;
}
.update-status-content {
  border: 1px solid #2f4857 !important;
}
.merge-tag-input-border {
  border: 1px solid #2f4857 !important;
}
.btn-default > i,
.btn-default {
  color: white !important;
  background-color: #2b3c46 !important;
  border-color: #2f4857 !important;
}
.input-group .btn-default {
  border-color: #2f4857 !important;
}
.social-feeds {
  border-bottom: 1px solid #2f4857 !important;
}
/* hr{
  border-top: 0.5px solid #2f4857!important;
} */
.divider {
  border: 1px solid #2f4857 !important;
}
.shared-feeds-border {
  border-color: #2f4857 !important;
}
.grid-box-team {
  border: 1px solid #2f4857 !important;
}
.bar a {
  border: 1px solid #2f4857 !important;
}
.integration-cards {
  border: 1px solid #2f4857 !important;
}
.xamplify-dropdown-content {
  background-color: #2b3c46 !important;
}
.preview-edit-color,
.wrap-asset-name {
  color: white !important;
}
.custom {
  border: 1px solid #2f4857 !important;
}
.item__preview.item__preview--image.custom {
  background-color: #2b3c46 !important;
}
.img-class-list {
  /* background-color: #22313a !important; */
  /* border: 1px solid #2f4857!important; */
}
.item__select-box-wrapper .select-box::before,
.xamplify-dropdown-content-odd,
span.ui-column-resizer {
  background-color: #2b3c46 !important;
}
span.ui-column-resize {
  background-color: #2b3c46 !important;
}
.color-css,
.design-name,
.xamplify-dropdown-option {
  color: white !important;
}
.ext-css,
.social-feeds-text-color,
.portlet > .portlet-title > .caption > i {
  color: white !important;
}

.heading-top-border,
.table-bordered {
  border: 1px solid #2f4857 !important;
}
.pricing-border {
  border: 3px solid #2f4857 !important;
}
.activeCRM {
  background-color: #2f4857 !important;
}
/* .alert-warning,
.register_deal */
.alert-warning {
  background-color: #22313a !important;
  border: 1px solid #2f4857 !important;
  color: white !important;
}
.form-border {
  border: 1px solid #2f4857 !important;
}
.label-box,
.amount-border,
.image-preview {
  border: 1px solid #2f4857 !important;
}
.imageClass {
  border: 1px solid #2f4857 !important;
  background-color: #22313a !important;
}
.profile-usermenu ul li a:hover {
  background-color: #2b3c46 !important;
}
.timeline > li > .timeline-panel {
  border: 1px solid #2f4857 !important;
  box-shadow: none !important;
}
.timeline:before {
  background-color: #2f4857 !important;
}
.item__select-box-wrapper .select-box-asset::before {
  background-color: #2b3c46 !important;
}
.tab-bg {
  background-color: #2b3c46 !important;
  border-bottom: 1px solid #2f4857 !important;
  border-right: 1px solid #2f4857 !important;
  border-left: 1px solid #2f4857 !important;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: #2b3c46 !important;
  border: 1px solid #2f4857 !important;
  color: white !important;
}
.nav-tabs,
.def-player-border {
  border-bottom: 1px solid #2f4857 !important;
}
.text-border {
  border-bottom: 1px solid #2f4857 !important;
}
.border-line,
.default-fieldset {
  border: 1px solid #2f4857 !important;
}
.actions-block i:hover,
.circled-number:hover,
.actions-block i:hover,
.circled-number:hover,
.xamplify-dropdown-option:hover {
  background-color: #22313a !important;
  /* color:#5bb2f5 !important; */
}
.gray {
  background-color: #683535 !important;
}
.button:disabled {
  color: #000000 !important;
}
.profile-usermenu ul li a {
  color: #93a3b5 !important;
}
.reload-btn {
  background-color: #22313a !important;
  border: 1px solid #2f4857 !important;
}
/* a, */
.gear-icon,
.e-multi-select-wrapper .e-delim-values .e-remain,
.white-text,
.csv-list-name,
.rss-summary {
  color: white !important;
  /* background-color: #2b3c46 !important; */
}
.bootstrap-switch,
.bootstrap-switch .bootstrap-switch-container,
.bootstrap-switch .bootstrap-switch-label {
  border-color: #2f4857 !important;
  background-color: #2b3c46 !important;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-info,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-info,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-danger,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-danger,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-warning,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-warning {
  color: #fff !important;
  background: #22313a !important;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  color: #fff;
  background: #22313a !important;
}
.form-check-label,
.gu-block,
.modal-content {
  border: 1px solid #2f4857 !important;
}
.circled-number {
  color: #5bb2f5 !important;
}
/* remved ,button:disabled */
.btn-hvr-text {
  color: black !important;
}
.table tr.row-selected td {
  background-color: #2b3c46 !important;
}
input.cmn-toggle-round-flat + label,
input.cmn-toggle-round-flat:checked + label {
  background-color: #2f4857 !important;
}
input.cmn-toggle-round-flat + label:before {
  background-color: #2b3c46 !important;
}
.timeline-item {
  background: #2f4857 !important ;
  border-color: #2f4857 !important ;
}
.social-border {
  background-color: #2f4857 !important;
}
.active-tab-anchor-text {
  background-color: #80808047 !important;
}
.dropdown-content {
  border: 1px solid #2f4857 !important;
}
.dropdown-content-odd {
  background-color: #22313a !important;
  border: 1px solid #2f4857 !important;
}
.dropdown-option {
  color: white !important;
}
.dropdown-option:hover {
  background-color: #2b3c46 !important;
}
#myInput {
  border: 1px solid #2f4857 !important;
}
/* textarea::placeholder {
  color: white !important;
}
input::placeholder{
  color: white !important;
} */
textarea:active,
textarea:focus {
  border-radius: 1px;
  border-color: #2f4857 !important ;
  outline: 1px solid #2f4857 !important;
}
.swal2-input:not([type="file"]),
.swal2-textarea {
  border-color: #2f4857 !important ;
  outline: 1px solid #2f4857 !important;
}
input:active,
input:focus {
  border-color: #2f4857 !important ;
  outline: 1px solid #2f4857 !important;
}
input#copy-link {
  border: 2px solid #2f4857 !important;
  border-radius: 5px;
  padding: 0px 10px;
}
.user-comment p:after,
.comment.user-comment p,
.comment.author-comment p,
.author-comment p:after {
  background-color: #2b3c46 !important;
  border: 2px solid #2f4857 !important;
}
.salesforce-btn {
  background-color: #22313a !important;
  border: 1px solid #2f4857 !important;
  color: white !important;
}
.flatpickr-days {
  background: #22313a !important;
  border-left: 1px solid #2f4857;
  border-right: 1px solid #2f4857;
}
.flatpickr-day.disabled,
.flatpickr-day.disabled:hover,
.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay,
.flatpickr-day.notAllowed,
.flatpickr-day.notAllowed.prevMonthDay,
.flatpickr-day.notAllowed.nextMonthDay {
  color: #484848 !important;
}
.flatpickr-day {
  color: white !important;
}
.flatpickr-day.today {
  border-color: #2f4857 !important;
}
.flatpickr-innerContainer {
  border: 0px !important;
}
.flatpickr-day.today:hover,
.flatpickr-day.today:focus {
  background: #2b3c46 !important;
}
.flatpickr-day.inRange,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus {
  background: #2b3c46 !important;
  border-color: #2f4857 !important;
}
.flatpickr-time input,
.flatpickr-time .flatpickr-time-separator,
.flatpickr-time .flatpickr-am-pm {
  color: white !important;
  background-color: #2b3c46 !important;
}
.flatpickr-calendar.showTimeInput.hasTime .flatpickr-time,
.input-group-addon,
.input-group-btn {
  border: 1px solid #2f4857 !important;
}
.panel-info > .panel-heading {
  background-color: #22313a;
  border-color: #2f4857;
}
.e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(
    .e-float-icon-left
  ),
.e-input-group.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error)
  .e-input-in-wrap,
.e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(
    .e-error
  ):not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-success):not(
    .e-warning
  ):not(.e-error)
  .e-input-in-wrap,
.e-float-input.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error)
  .e-input-in-wrap,
.e-float-input.e-control-wrapper.e-float-icon-left:not(.e-success):not(
    .e-warning
  ):not(.e-error)
  .e-input-in-wrap {
  border-color: #2f4857 !important;
}
.message-auto {
  border: 1px solid #2f4857 !important;
  background-color: #22313a !important;
}
/* .has-error{
  border:1px solid #2f4857 !important;
  box-shadow: inset 0 1px 1px #2f4857, 0 0 5px #2f4857 !important;
} */
.border-right,
.right-border {
  border-right: 1px solid #2f4857 !important;
}
.h5-heading,
.border-bottom {
  border-bottom: 1px solid #2f4857 !important;
}
.cards {
  border: 1px solid #2f4857 !important;
  background-image: linear-gradient(to top, #f1f2f5, rgba(255, 255, 255, 0)),
    linear-gradient(to bottom, #2f4758, #2f4758) !important;
}
.phone {
  color: #fff !important;
}
.c-btn {
  border: 1px solid #2f4857 !important;
  background-color: #22313a !important;
  color: white !important;
}
.list-area {
  border: 1px solid #2f4857 !important;
  background-color: #22313a !important;
  box-shadow: 0px 1px 5px #22313a !important;
}
.selected-list .c-btn {
  box-shadow: 0px 1px 5px #22313a !important;
}
.arrow-up,
.arrow-down {
  border-bottom: 15px solid #2b3c46 !important;
}
.dropdown-list ul li:hover {
  background-color: #2b3c46 !important;
}
.select-all,
.list-filter {
  border-bottom: 1px solid #2b3c46 !important;
}
/* .filter-box-selected{
  background-color: #22313a !important;
} */
.mix-filter li {
  color: white !important;
  background-color: #2b3c46;
  border: 1px solid #2f4857 !important;
}
.mix-filter li:hover,
.mix-filter li.active,
.mix-filter li.campaign-type-selected,
.mix-filter li.emailtemplate-selected {
  background: #22313a !important;
}
.filter-box-selected {
  background-color: #22313a !important;
}
.flatpickr-months input {
  background: #1bbc9b !important;
  border-style: none !important;
}
/* .col-block-active:hover{
  background-color: #00a8e7 !important;
}
.col-block-active{
  background-color: #0c84ae !important;
} */
/* .emailtemplate-selected{
  background-color: #2b3c46 !important;
    border: 1px solid #2f4857 !important;
} */
/* .nav-tabs>li>a:hover{
  background-color: #2f4857 !important;
  border: 1px solid #2f4857 !important;
} */
.tracks-bg-color {
  background-color: #2b3c46 !important;
  border: 1px solid #2f4857 !important;
}
.portlet.light,
.feature-img {
  background-color: #2b3c46 !important;
}
.feature-img-bg {
  background-color: #22313a !important;
  border: 2px dotted #2f4857 !important;
}
.btn-primary-dark {
  background-color: #22313a !important;
}
.btn-primary-dark:hover {
  background-color: #22313a !important;
  color: white !important;
}
.thumbnail-wrapper {
  border: 1px solid #2f4857 !important;
  background-color: #22313a !important;
  border-radius: 5px;
}
.img-track-list,
.img-asset-class,
.img-grid-track {
  border: 1px solid #2f4857 !important;
}
.input-group-prefix {
  border: 1px solid #2f4857 !important;
  color: white !important;
}
.item__preview.item__preview--image.custom .thumb {
  border: 1px solid #2f4857 !important;
}
/* .thumbnail-wrapper img{
  width:100% !important;
  object-fit: fill;
} */
.right-border {
  border-right: 1px solid #2f4857 !important;
}
/* .view-banner {
  color: #000 !important;
} */
/* .btn:hover{
  color:#0b7dda !important;
} */
.border-cu {
  box-shadow: 0px 0px 0px 0px #d1d1d1 !important;
}
.border-cls,
.td-netbg {
  border-left: 1px solid #2f4857 !important;
  border-right: 1px solid #2f4857 !important;
  border-bottom: 1px solid #2f4857 !important;
}
/* 25/05/23 sai pavan*/

.hover-bar a {
  color: #ffffff !important;
}

.bar a.border-none-dark {
  border: 0px solid #fff0 !important;
}

/* 26/05/23 Saiver */

.table-filter tbody tr:hover {
  background-color: #2c4a5c !important;
}
.table-filter {
  background-color: #1c313a !important;
}

div#box-dark-defalut-clr {
  background: #253d46 !important;
}

.border-cls,
.inline {
  border: none !important;
}

.table tr.contact-list-selected td {
  background-color: #22313a !important;
  color: #fff !important;
}

/* 29/05/2023 */

.has-error {
  box-shadow: none !important;
}

.has-error,
.message-auto {
  border: 1px solid #2f485700 !important;
}
/* 30-5-2023 sudha */
input.field-border-customization {
  border: 2px solid #2f4857 !important;
  padding: 0px 7px;
}
.d-p-bg-color-cust {
  background: var(--form-bg-color) !important;
}

ul.alt-row-style1 li:hover {
  background: #1c313a !important;
}
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed hr,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
  border-color: #2f4857 !important;
}
.portlet-title.custom-change-css {
  border-bottom: none !important;
}
button.customize-btn-space {
  margin-top: 4px !important;
}
/* .d-f-bgcolor-cust {
  background: #2b3c46 !important;
} */
/* 1-6-2023 sudha sri */
textarea.form-control {
  background: transparent;
}
th#border-bottom {
  border: none !important;
}
fieldset.fild-custome-borders-none {
  border: none !important;
}
legend.leg-custome-borders-bot {
  border: none !important;
  border-bottom: 1px solid #2f4857 !important;
}
.form-check > .form-check-label {
  border: none !important;
}
button.glyphicon.glyphicon-remove.search-box-item-clear:before {
  margin-left: -3px;
}
table#team-members {
  border-collapse: inherit;
}
.head-h {
  border-bottom: 1px solid #2f4857 !important;
}
.portlet.light.rss-border {
  border-color: #2f4857 !important;
}
/* 6-6-2023 sudha sri */
ul.alt-row-style1 li:nth-child(even) {
  border-top: 1px solid #2f4857 !important;
  border-bottom: 1px solid #2f4857 !important;
}
.pricing {
  border: none !important;
  background: transparent !important;
}
/* 8-6-2023 sudha sri */
.cont-info {
  border-bottom: 1px solid #2f4857 !important;
}
.p-5x > .lt-blue-c,
.p-5x > .lt-green-c,
.p-5x > .vlt-blue-c,
.p-5x > .vlt-b-c,
.p-5x > .lt-g-b-c,
.p-5x > .tk-blue-c,
.p-5x > .pure-blue-c,
.p-5x > .black-blue-c,
.p-5x > .pure-g-c,
.p-5x > .g-b-c,
.p-5x > .g-y-c,
.p-5x > .y-b-c,
.p-5x > .b-b-c,
.p-5x > .r-b-c,
.p-5x > .h-r-c,
.p-5x > .r-r-c,
.p-5x > .vlt-b-c,
.p-5x > .lt-g-b-c {
  border: 3px solid #2f4857 !important;
}
@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  /* background: #f6f7f8; */
  background: linear-gradient(
    to right,
    #22313a 8%,
    #2a3d4d 18%,
    #22313a 33%
  ) !important;
  background-size: 800px 104px;
  height: 370px;
  position: relative;
}
/* 13-6-2023 sudha sri */
.breadcrumb-font-color {
  color: white !important;
  font-size: 13px;
}
.img-class {
  border: 1px solid #2f4857 !important;
}
.border-card,
.videoViews {
  border: 1px solid #2f4857 !important;
}
/* 14-6-2023 sudha sri */
.dropdown-menu li > a > [class*=" fa-"] {
  color: white !important;
}
.table tr.row-selected td {
  background-color: #22313a !important ;
  /*****Added By Sravan****/
  /* background-color: #2179ad !important; */
}

.table tr.partner-company-selected td {
  /*****Added By Sravan****/
  background-color: #2179ad !important;
}

.table tr.group-selected td {
  /*****Added By Sravan****/
  background-color: #2179ad !important;
}
.comment .info a,
.comment-color {
  color: white !important;
}

#download-template-grid {
  width: 28px !important;
  height: 28px !important;
  border: 1px solid #2f4857 !important;
  bottom: 0px !important;
}

#download-drop {
  box-shadow: none;
  font-size: 11px;
  position: relative;
  right: 1px;
  top: 4px;
}

/* 15-6-2023 */
input::placeholder {
  color: #aeafaf !important;
}

.custom-line {
  background-color: #2b3c46 !important;
  border: 0 !important;
}

input.custom-line:active,
input.custom-line:focus {
  outline: none !important;
}

.prm-dark-border > .text {
  border-bottom: 1px solid #2f4857 !important;
}

/* 19-06-2023 */
.page-header.navbar
  .top-menu
  .navbar-nav
  > li.dropdown-user
  .dropdown-toggle
  > img {
  background-color: #22313a !important;
}
.popover {
  color: #000 !important;
}
/*20-06-2023 */
@media screen and (max-width: 767px) {
  .table-responsive {
    border: 1px solid #2f4857;
  }
}

/* 21-06-2023 header enhancement */

a.dropdown-toggle.circlebg-color-bell-v {
  background: #22313a !important;
  border: 1px solid #2f4857 !important;
  color: #fff !important;
}
a.dropdown-toggle.circlebg-none-v {
  background: #22313a !important;
  border: 1px solid #2f4857 !important;
}
a.dropdown-toggle.circlebg-none-v:hover {
  background: #5a738e !important;
}
.page-header.navbar
  .top-menu
  .navbar-nav
  > li.dropdown
  .dropdown-toggle.circlebg-color-bell-v:hover {
  background: #5a738e !important;
}
.page-header.navbar
  .top-menu
  .navbar-nav
  > li.dropdown.open
  .dropdown-toggle.circlebg-color-bell-v {
  background-color: #5a738e !important;
}
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: #5a738e !important;
}
.page-header.navbar
  .top-menu
  .navbar-nav
  > li.dropdown
  .dropdown-toggle.circlebg-color-bell-v:hover
  > i {
  color: #fff !important;
}
.page-header.navbar
  .top-menu
  .navbar-nav
  > li.dropdown.open
  .dropdown-toggle.circlebg-color-bell-v
  > i {
  color: #fff !important;
}
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  color: #fff !important;
}
.page-header.navbar
  .top-menu
  .navbar-nav
  > li.dropdown
  .dropdown-toggle.circlebg-color-bell-v
  > i {
  color: #fff !important;
}

.alert-success {
  background-color: #dff0d8 !important;
  border-color: #d6e9c6 !important;
  color: #3c763d !important;
}

.alert-info {
  background-color: #d9edf7 !important;
  border-color: #bce8f1 !important;
  color: #31708f !important;
}
/* 27-06-2023 */
.option-color {
  color: #fff !important;
}

input.ng-valid.ng-dirty.ng-touched {
  border: none !important;
  outline: none !important;
}

 /* 28-6-2023 table btns,lables and tags*/
.lightgray-btn:hover {
  background: #ddd !important;
}

 /*01-07-2023*/
 .rss-title {
  color: white !important;
}
/* 04-07-2024 */
.dark-beige {
  background: transparent;
}