<div class="page-content">
  <div class="portlet light shadow">
    <div class="portlet-title">
      <h4 class="caption-subject font-red-sunglo f-w-600">Nurture campaign</h4>
    </div>
    <div class="portlet-body clearfix">
      <div class="col-xs-12 col-sm-6">
        <fieldset>
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Publish as (save as)</label>
              <input type="text" id="campaignName" placeholder="Campaign Name" class="form-control" 
                [(ngModel)]="campaign.campaignName" name="campaignName"/>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Subject line</label>
              <input type="text" id="subjectLine" placeholder="Subject Line" class="form-control" [(ngModel)]="campaign.subjectLine" name="subjectLine"/>
            </div>
            <div class="form-group col-xs-6 p0">
              <label for="exampleInputPassword1">From name</label>
              <input type="text" id="fromName" placeholder="From Name" class="form-control" [(ngModel)]="campaign.fromName" name="fromName"/>
            </div>
            <div class="form-group col-xs-6 pr0">
              <label for="exampleInputPassword1">From email</label>
                <select class="form-control">
                  <option>smanas@stratapps.com</option>
                  <option>smanas@xtremand.com</option>
                </select>            
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Pre header</label>
              <input type="text" id="preHeader" placeholder="Pre Header" class="form-control" [(ngModel)]="campaign.preHeader" name="preHeader"/>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </fieldset>
      </div>
      <div class="col-xs-12 col-sm-6">
        <fieldset>
          <legend>selected video</legend>
            <div class="row">
              <div class="col-xs-4">
                <img src="https://xtremand.com/vod/images/12092/04042018/1522836097234_64.jpg" height="100px">
                <span class="duration f-w-600">03:12</span> 
              </div> 
              <div class="col-xs-8">
                <a _ngcontent-c26="">
                  <h4 class="mt5 mb5 f-w-600" title="Official Trailer_ Sonu Ke Titu Ki Sweety _ Luv Ranjan _ Kartik Aaryan, Nushrat Bharucha, Sunny Singh">Official Trailer_ Sonu Ke Titu Ki Sweety</h4>
                  <h5 class="m0">By Manas Ranjan</h5>
                  <h6 class="f-w-600">2 views</h6>
                </a>
              </div>
            </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>