.page-header.navbar
  .top-menu
  .navbar-nav
  > li.dropdown
  .dropdown-toggle
  .badge.badge-default {
  background-color: #00a8e7 !important;
}
a.disabled {
  pointer-events: none;
}
.page-header.navbar
  .top-menu
  .navbar-nav
  > li.dropdown-user
  .dropdown-toggle
  > img {
  margin-top: -7px !important;
}
@media (max-width: 767px) {
  .page-header.navbar
    .top-menu
    .navbar-nav
    > li.dropdown-notification
    .dropdown-menu {
    margin-right: -82px !important;
  }
  .page-header.navbar
    .top-menu
    .navbar-nav
    > li.dropdown-user
    .dropdown-toggle {
    padding: 24px 1px 24px 1px !important;
  }
  .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle {
    padding: 6px 0px 6px 0px !important;
  }
  .btn {
    padding: 7px 10px !important;
  }
  .page-header.navbar .top-menu .navbar-nav > li.dropdown-user {
    margin-right: 0 !important;
  }
  .page-header.navbar .top-menu .navbar-nav > li.dropdown-user {
    padding: 0 0 0 0 !important;
  }
  .page-header.navbar
    .top-menu
    .navbar-nav
    > li.dropdown-user
    .dropdown-toggle
    > img {
    margin-right: 0 !important;
  }
  .btn-group button {
    padding: 6px 7px !important;
  }
  .page-header.navbar .top-menu .navbar-nav > li.dropdown {
    margin: 0px 5px;
  }
  a.dropdown-toggle.circlebg-none-v {
    margin-top: 17px;
  }
  .topnav-button-css {
    margin-right: 5px !important;
  }
  .refer-vendor-button {
    padding: 17px 0px 0px 0px !important;
  }
}
.img-circle {
  height: 40px;
  width: 40px;
  border: 1px solid #ccc;
}
.side-bar-css {
  right: -19px !important;
}
input.form-control {
  border: none;
  width: 100%;
  padding: 5px;
  font-size: 1em;
  border-bottom: 2px solid #efefef;
}
input.form-control:focus {
  border-bottom: 2px solid #2196f3;
}
label {
  font-weight: bold !important;
}
.text-danger {
  color: red !important;
}
.alert-dismissible .close {
  top: 0 !important;
  right: 0px !important;
}
.alert-success,
.alert-danger {
  color: #fff;
  border-radius: 0;
}
.alert-success {
  background-color: #77bf81;
}
.alert-danger {
  background-color: #ec6262;
}
.alert {
  padding: 10px;
}
.alert-success,
.alert-danger {
  font-size: 14px;
}
.text {
  padding-top: 12px;
}
.btn-group button {
  background-color: #008fd5;
  border: 1px solid #3575b5;
  color: #fff;
  padding: 6px 14px;
  cursor: pointer;
  float: left;
  font-size: 14px;
}
.btn-group button:not(:last-child) {
  border-right: none;
}
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}
.btn-group button:hover {
  background-color: #4db1e2;
}
.refer-vendor-button {
  padding: 17px 5px 0px 0px;
}
.pttpx {
  padding-top: 2px !important;
}
.company-logo-thumbnail-wrapper {
  float: left;
  width: 150px;
  height: 65px;
  background-color: #f1f1f1;
  text-align: center;
  position: relative;
  background-color: transparent;
}
.company-logo-thumbnail-wrapper > img {
  height: 42px;
  width: auto;
  margin: 10px 10px 10px 10px;
}
.clhidden {
  display: none !important;
}
@media only screen and (max-width: 600px) {
  .btnVendor {
    left: -18px;
  }
  .btnShare {
    left: -20px;
  }
}
.btn {
  padding: 6px 14px !important;
}
.custom {
  background-color: #008fd5;
  color: #fff;
  border: 1px solid #3575b5;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-menu {
  width: auto !important;
}
#logoutButton {
  background-color: #e8edf2;
}
.topnav-button-css {
  margin-top: 17px;
  margin-right: 15px;
}


/* 19/06/2023 */

a.dropdown-toggle.circlebg-color-bell-v{
  border-radius: 50%;
  position: relative;
  top: 17px;
  height: 35px;
  width: 35px;
  background: transparent;
  padding: 8px 8px 8px 8px;
  font-size: 13px;
  border: 1px solid #cccccc;
  text-align: center;
  color: #0095da;
}
a.dropdown-toggle.circlebg-color-bell-v:hover{
  color: #ffffff !important;
}
a.dropdown-toggle.circlebg-color-bell-v i {
  font-size: 15px !important;
}
a.dropdown-toggle.circlebg-none-v {
  padding: 6px 0px;
  border: 1px solid #cccccc;
  border-radius: 30px;
  margin-top: 18px;
  background: transparent;
}
a.dropdown-toggle.circlebg-none-v:hover{
  background: #4db1e2;
  color: #fff;
}
 /* .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle.circlebg-none-v > i {
  color: #0095da;
}   */

/* .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle.circlebg-color-bell-v > i {
  color: #0095da;
} */
.page-header.navbar .top-menu .navbar-nav> li.dropdown .dropdown-toggle.circlebg-color-bell-v:hover > i {
  color: #ffffff;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle.circlebg-color-bell-v:hover {
  background-color: #4db1e2;
  color: #fff;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle.circlebg-color-bell-v{
  background-color: #4db1e2;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle.circlebg-color-bell-v > i {
  color: #fff;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle.circlebg-color-bell-v > span {
  color: #fff;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle > .badge {
  font-family: 'Gantari',"Open Sans", sans-serif;
  position: absolute;
  top: -8px;
  left: 24px;
  right: 0px;
  font-weight: 300;
  padding: 6px 3px;
  height: 21px;
  width: 21px;
  font-size: 10px !important;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: #4db1e2;
  color:#ffffff;
} 
/* .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle.circlebg-none-v > .username {
  color: #008fd5;
} */

/* .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle.circlebg-none-v:hover {
  color: #ffff;
} */
/* .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username:hover {
  color: #ffffff;
} */



/* tablet */
 @media (min-width: 810px) and (max-width: 850px) {
  .page-header.navbar .top-menu {
    margin-top: 22px !important;
  }
 } 
.cls-pointer{
  cursor: pointer;
}