#font {
  font-size: 13px;
}

#empty-data {
  position: absolute;
  top: 195px;
  left: 220px;
}

#min-height {
  min-height: 308px;
}

.portlet >.portlet-title.remove-space{  
  min-height: 0px!important;
  margin-bottom: 0px!important;
}
.analytics-title{
  font-size: 16px !important;
  font-weight: 700 !important;
  text-decoration: underline !important;
}
