.highletedRow {
  cursor: pointer;
}
.highletedRow:hover {
  background-color: #a6d9f5;
}
.inline-custom-width {
  display: inline-block;
  width: 200px;
}
.full-width {
  width: 100% !important;
}
