.mt25m {
	margin-top: -25px !important;
}

.ml15m {
	margin-left: -15px !important;
}

.mh530 {
	min-height:500px;
}
.tableHeightScroll{   
	height: 390px !important;
	overflow-y: auto;
   margin-bottom: 20px;
}
.noData{
    height: 0px;
}
/* width */
::-webkit-scrollbar {
	width: 7px;
	height:7px;
  }
  @media (min-width: 200px) and (max-width: 767px)  { 
	.ml15m {
		padding-right: 0px !important;
	}
	.tableHeightScroll {
		height: 372px !important;
	}
  }


  @media (min-width: 768px) and (max-width: 991px)  { 
    .Responsivetitle{   
         font-size: 13px;
        width: 160px;}
}



/* table header bgcolor */
.panel-bgMain > .panel-bg{
    background-color: #d9edf7b0;
    border-bottom: 1px solid #ddd;
}
.panel-bgMain {
	border-color: #ddd;
}
/* table header bgcolor end */
.panel-heading {
    padding: 11px 15px !important;
}
.table>tbody>tr>td {
	vertical-align: middle !important;
  }
