h5 {font-size: 14px;font-weight: 600;margin-bottom: 0;word-break: break-all;color: #2874f0;}
h6 {font-size: 12px;margin-top: 7px;}
.campaign-label {text-transform: uppercase;border: 1px solid #4b96db;color: #4b96db;padding: 3px 10px;font-size: 9px;letter-spacing: 1px;font-weight: 600;}
fieldset {margin: 10px}
fieldset img {height: 137px}
.actions-block{float: none}
.campaign-label.now{background: #28a745;color: white;border: 1px solid #28a745;}
.campaign-label.save{background: #6c757d;color: white;border: 1px solid #6c757d;}
.campaign-label.schedule{background: #007bff;color: white;border: 1px solid #007bff;}
.progress {height: 7px; margin: 10px 0;}
.fc-event { max-height: fit-content; padding-bottom: 10px;}
.fc-day-grid-event>.fc-content {white-space: initial !important;}
.wrapper { display: flex; }
.wleft { flex: 0 0 49%; }
.wright { flex: 1;}
@media screen and (min-width:601px){.modal-css{  width: 52% !important; right: 0 !important;}}
@media screen and (max-width:600px){.modal-css {width: 100% !important; right: 0 !important;}}
.video-thumbnail-wrapper{
	position: relative;
  max-width: 100%;
	margin: 0 auto;
  background: #f1f1f1;
  cursor: pointer;
}
.fa.fa-play-circle{
  font-size: 4em;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
:host /deep/.video-js .vjs-big-play-button {
  top: 51px !important;
  left: 93px !important;
}
.sort-dropdown{
  margin: -20px 71px;
}
.th-size{ font-size: 12px; font-weight: 500;}
.calendar-border{padding: 25px;border: 1px solid #CCC;}