img {
  float: left;
  width: 15px;
  margin: 5px;
  background-color: #f1f1f1;
}

.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.single {
  padding: 10px 15px;
  margin-bottom: 15px;
}

.heading-top {
  padding-bottom: 6px;
  background-color: #f1f3fa;
  color: #fff !important;
  padding-left: 8px;
  padding-top: 10px;
  height: 40px;
}

.portlet.light .portlet-body {
  padding-top: 0px !important;
}

.box {
  padding: 10px;
  border: 4px dotted rgba(19, 16, 16, 0.05) !important;
  border-radius: 7px !important;
  position: relative;
}

.lbg {
  background: #ffffff;
}
.lbg:hover {
  background: #f1f3fa;
}

#vpc {
  float: right;
  margin-top: -5px;
}
.add-content-i {
  padding: 5px;
  font-size: 14px;
  color: #fff;
}

.add-content-text {
  font-family: Open Sans, sans-serif;
}

.social-feeds {
  font-size: 16px !important;
  padding-bottom: 10px;
  font-weight: 500;
  border-bottom: 1px solid #cecbcb;
}
.social-feeds-text-color {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 14px;
  color: #2a3f54;
}
.heading-top-border {
  border-bottom: solid 1px white;
}
@media screen and (max-width: 578px) {
  .pr_15 {
    padding-right: 15px !important;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1281px) {
  .social-feeds-text-color {
    font-size: 12px;
  }
}
@media only screen and (min-width: 991px) and (max-width: 1015px) {
  .social-feeds-text-color {
    font-size: 12px;
  }
}
.angle-down {
  font-size: 16px;
  color: #2a3f54;
}
