<!-- <div id="chatModelPopup" class="modal right" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  data-keyboard="false" data-backdrop="static" style="display: block;padding-right: 0 !important;">
  <div class="modal-dialog" role="document" style="position: relative !important;">
    <div class="modal-content accounts-modal" style="overflow-x: hidden;">
      <div class="modal-header" style="border-bottom: none">
        <button type="button" class="close-circle" data-dismiss="modal" (click)="addCommentModalClose()"
          style="margin-right: 10px;margin-top: 10px;">
          <i class="fa fa-times"></i>
        </button>
      </div>
      <div class="modal-body" style="max-height: 100%">
        <div style="margin:auto;width: 87%;padding:0px;background-color: white;" class="campaignProps shadow p-6">
          <div class="tab-pane active" *ngIf="!isListView">
            <div class="margin-top-10">
              <div class="row mix-grid p10" style=" background: #f1f1f1; ">
                <div style="padding-bottom:10px;   ">
                  <div class="col-md-3">
                    <div class="frame">
                      <img src="https://cdn2.iconfinder.com/data/icons/facebook-ads-1/204/1-48.png">
                    </div>
                  </div>
                  <div class="col-md-8" style="text-align: left;">
                    <div *ngIf="campaignName != null && campaignName != undefined">
                      <h5 class="mt10 mb0" title="{{campaignName}}"><span style="font-size:14px;font-weight: 400"
                          class="col-md-5">
                          Campaign name </span>: {{campaignName | slice:0:25}}
                        <span *ngIf="campaignName?.length>25">..</span>
                      </h5>
                    </div>
                    <div *ngIf="dealTitle != null && dealTitle != undefined">
                      <h5 class="mt10 mb0" title="{{dealTitle}}"><span style="font-size:14px;font-weight: 400"
                          class="col-md-5">
                          Deal Title </span>: {{dealTitle | slice:0:25}}
                        <span *ngIf="dealTitle?.length>25">..</span>
                      </h5>
                    </div>
                    <div *ngIf="lead">
                      <app-user-info [userInfo]="lead" [isLeadInfo]="true"></app-user-info>

                    </div>
                    <h5 class="mt10 mb0" *ngIf="createdByName " [title]="createdByName"><span
                        style="font-size:14px;font-weight: 400" class="col-md-5">Partner
                        Name </span>: {{createdByName | slice:0:25}} <span *ngIf="createdByName.length>25">..</span>
                    </h5>
                    <h5 class="mt10 mb0" *ngIf="createdByEmail" [title]="createdByEmail"><span
                        style="font-size:14px;font-weight: 400" class="col-md-5">Partner
                        Email </span>: {{createdByEmail | slice:0:25}}<span *ngIf="createdByEmail.length>25">..</span>
                    </h5>
                    <h5 class="mt10 mb0">
                      <span>
                        <span style="font-size:14px;font-weight: 400" class="col-md-5">Created On</span>
                      </span>
                      <span title="Upload date">
                        <span>

                          : <app-timestamp [isOnlyDate]="false" [dateAndTime]="createdTime">
                          </app-timestamp>
                        </span>
                      </span>
                    </h5>
                  </div>
                </div>


              </div>
            </div>

          </div>

        </div>

        <app-chat *ngIf="deal != null && deal != undefined" [dealId]="deal.id" [moduleType]="'deal'"
          [enableWrite]="true"></app-chat>
        <app-chat *ngIf="lead != null && lead != undefined" [leadId]="lead.id" [moduleType]="'lead'"
          [enableWrite]="true"></app-chat>

      </div>
      <div class="modal-footer" style="border:none" *ngIf="true">

      </div>

    </div>
  </div>
</div> -->



<!-- <div class="modal fade right" id="chatModelPopup" tabindex="-1" role="dialog" aria-labelledby="chatModelPopup"
  data-backdrop="static" data-keyboard="false" style="display: block">
  <div class="modal-dialog" role="document" style="width:60% !important">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close-circle" (click)="addCommentModalClose()">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button> 
        <h4 class="modal-title text-center">Chat Conversation</h4>      
      </div>
      <div class="modal-body">
        <div style="margin:auto;width: 87%;padding:0px;background-color: white;" class="campaignProps shadow p-6">
          <div class="tab-pane active" *ngIf="!isListView">
            <div class="margin-top-10">
              <div class="row mix-grid p10" style=" background: #f1f1f1; ">
                <div style="padding-bottom:10px;   ">
                  <div class="col-md-3">
                    <div class="frame">
                      <img src="https://cdn2.iconfinder.com/data/icons/facebook-ads-1/204/1-48.png">
                    </div>
                  </div>
                  <div class="col-md-8" style="text-align: left;">
                    <div *ngIf="campaignName != null && campaignName != undefined">
                      <h5 class="mt10 mb0" title="{{campaignName}}"><span style="font-size:14px;font-weight: 400"
                          class="col-md-5">
                          Campaign name </span>: {{campaignName | slice:0:25}}
                        <span *ngIf="campaignName?.length>25">..</span>
                      </h5>
                    </div>
                    <div *ngIf="dealTitle != null && dealTitle != undefined">
                      <h5 class="mt10 mb0" title="{{dealTitle}}"><span style="font-size:14px;font-weight: 400"
                          class="col-md-5">
                          Deal Title </span>: {{dealTitle | slice:0:25}}
                        <span *ngIf="dealTitle?.length>25">..</span>
                      </h5>
                    </div>
                    <div *ngIf="lead">
                      <app-user-info [userInfo]="lead" [isLeadInfo]="true"></app-user-info>                          
                    </div>
                    <h5 class="mt10 mb0" *ngIf="createdByName " [title]="createdByName"><span
                        style="font-size:14px;font-weight: 400" class="col-md-5">Partner
                        Name </span>: {{createdByName | slice:0:25}} <span *ngIf="createdByName.length>25">..</span>
                    </h5>
                    <h5 class="mt10 mb0" *ngIf="createdByEmail" [title]="createdByEmail"><span
                        style="font-size:14px;font-weight: 400" class="col-md-5">Partner
                        Email </span>: {{createdByEmail | slice:0:25}}<span *ngIf="createdByEmail.length>25">..</span>
                    </h5>
                    <h5 class="mt10 mb0">
                      <span>
                        <span style="font-size:14px;font-weight: 400" class="col-md-5">Created On</span>
                      </span>
                      <span title="Upload date">
                        <span>
                          : <app-timestamp-new *ngIf="deal?.createdAt" [isOnlyDate]="false" [dateAndTime]="deal.createdAt"> </app-timestamp-new>
                          : <app-timestamp [isOnlyDate]="false" [dateAndTime]="createdTime">
                          </app-timestamp>
                        </span>
                      </span>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>      
        <app-chat *ngIf="deal != null && deal != undefined" [dealId]="deal.id" [moduleType]="'deal'" [enableWrite]="true"></app-chat>
        <app-chat *ngIf="lead != null && lead != undefined" [leadId]="lead.id" [moduleType]="'lead'" [enableWrite]="true"></app-chat>
        
      </div>
    </div>
  </div>
</div> -->

<div id="chatModelPopup" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="chatModelPopup" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-css" role="document">
     <!-- Modal content-->
     <div class="modal-content"  style="overflow-x: hidden;">
        <div class="modal-header">
          <a title="Close" class="close-circle" (click)="addCommentModalClose()">
            <i class="fa fa-times" aria-hidden="true"></i>
          </a>
          <h4 class="modal-title" style="font-weight: 600;" translate>Add Comments</h4>
        </div>
        <div class="modal-body">                     
           <ng-container>
              <div class="deal-details">
                 <div class="row mix-grid p10" style=" background: #f1f1f1; ">
                    <div class="col-md-2" >
                       <div class="frame">
                          <img style="height: 80px;width: 80px;" class="img-circle" src="https://cdn2.iconfinder.com/data/icons/facebook-ads-1/204/1-48.png" alt="">
                       </div>
                    </div>
                    <div class="col-md-10" style="text-align: left;">
                      <div *ngIf="campaignName != null && campaignName != undefined">
                        <h5 class="mt10 mb0" title="{{campaignName}}">
                          <span><strong>Campaign name </strong></span>: {{campaignName | slice:0:25}}
                          <span *ngIf="campaignName?.length>25">..</span>
                        </h5>
                      </div>
                      <div *ngIf="dealTitle != null && dealTitle != undefined">
                        <h5 class="mt10 mb0" title="{{dealTitle}}">
                          <span><strong>Deal Title </strong></span>: {{dealTitle | slice:0:25}}
                          <span *ngIf="dealTitle?.length>25">..</span>
                        </h5>
                      </div>                     
                      <h5 class="mt10 mb0" *ngIf="createdByName " [title]="createdByName">
                        <span><strong>Partner Name  </strong></span>: {{createdByName | slice:0:25}} 
                        <span *ngIf="createdByName.length>25">..</span>
                      </h5>
                      <h5 class="mt10 mb0" *ngIf="createdByEmail" [title]="createdByEmail">
                        <span><strong>Partner Email </strong></span>: {{createdByEmail | slice:0:25}}
                        <span *ngIf="createdByEmail.length>25">..</span>
                      </h5>
                      <h5 class="mt10 mb0">
                        <span><strong>Created On </strong></span>
                        <span title="Upload date">: <app-timestamp [isOnlyDate]="true" [dateAndTime]="createdTime"></app-timestamp></span>
                        <!-- <span>
                          : <app-timestamp-new *ngIf="deal?.createdAt" [isOnlyDate]="false" [dateAndTime]="deal.createdAt"> </app-timestamp-new>
                          : <app-timestamp [isOnlyDate]="false" [dateAndTime]="createdTime"></app-timestamp>
                        </span> -->
                        
                      </h5>
                      <div *ngIf="lead">
                        <h5 class="mt10 mb0">
                          <span><strong>Lead Details </strong></span>:
                          <div style="padding:5px"><app-user-info [userInfo]="lead" [isLeadInfo]="true"></app-user-info></div>                          
                        </h5>                                                  
                      </div>
                    </div>
                 </div>
              </div> 
              <app-chat [dealId]="deal?.id" [leadId]="lead?.id" [moduleType]="moduleType" [enableWrite]="true"></app-chat>              
           </ng-container>
        </div>
     </div>
  </div>
</div>










<!-- END CONTENT -->

