<!-- BEGIN PAGE CONTENT-->
<div class="row" id="manageContacts" *ngIf="showEditContactData">
	<div class="row">
		<div class="col-md-12">
			<div class="tabbable tabbable-custom tabbable-noborder">

				<div class="tab-content">
					<div class="tab-pane active">
						<!-- BEGIN FILTER -->

						<div class="page-bar">
							<ul class="page-breadcrumb">
								<li><i style="font-size: 16px;">List of Contacts</i></li>

							</ul>
							<div class="page-toolbar">
								<div class="btn-group pull-right">
									<div class="inputs" align="right"  style="float:right">
										  <div style="float:left;margin-right:10px">
										       <select class="form-control" [(ngModel)]="contactsSort"  (ngModelChange)="selectedSortByValue($event)">
													  <option *ngFor="let sort of sortContacts" [ngValue]="sort"> {{sort.name}} </option>
											   </select>
										   </div>
											<div class="portlet-input input-inline input-small">
												<div class="input-icon right">
													<i class="icon-magnifier" [class.customDisableCss]="searchDisable==true" style="cursor:pointer;font-size:18px;" (click)="searchContactsTitelName()"></i>
													<input type="text" [(ngModel)]="searchKey" [ngModelOptions]="{standalone: true}" (input)="searchDisableValue()"
													 class="form-control input-circle" placeholder="search...">
												 
												</div>
											</div>
										</div>
									<!-- <div class="inputs" align="right"
										style="display: inline; float: right">
										<div class="portlet-input input-inline input-small">
											<div class="input-icon right">
												<i class="icon-magnifier"></i> <input type="text"
													class="form-control input-circle" placeholder="search...">
											</div>
										</div>
									</div> -->
								</div>
							</div>
						</div>
						<!-- END DASHBOARD STATS -->
						<div class="clearfix"></div>

						<div class="row">
							<div class="col-lg-3 col-md-2 col-sm-3 col-xs-6">
								<a class="dashboard-stat dashboard-stat-light blue-soft">
									<div class="visual">
										<i class="fa fa-users"></i>
									</div>
									<div class="details">
										<div class="number">{{allContacts}}</div>
										<div class="desc">All Contacts</div>
									</div>
								</a>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
								<a class="dashboard-stat dashboard-stat-light red-soft"
									(click)="activeContactsDataShowing()">
									<div class="visual">
										<i class="fa fa-eye"></i>
									</div>
									<div class="details">
										<div class="number">{{activeUsersCount}}</div>
										<div class="desc">Active Contacts</div>
									</div>
								</a>
							</div>

							<div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
								<a class="dashboard-stat dashboard-stat-light yellow-gold"
									(click)="invalidContactsDataShowing()">
									<div class="visual">
										<i class="fa fa-user-times"></i>
									</div>
									<div class="details">
										<div class="number">{{invlidContactsCount}}</div>
										<div class="desc">Invalid Contacts</div>
									</div>
								</a>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
								<a class="dashboard-stat dashboard-stat-light green-soft"
									(click)="unSubscribedContactsDataShowing()">
									<div class="visual">
										<i class="fa fa-times"></i>
									</div>
									<div class="details">
										<div class="number">{{unsubscribedContacts}}</div>
										<div class="desc">Unsubscribed Contacts</div>
									</div>
								</a>
							</div>
							<div class="col-lg-3 col-md-2 col-sm-3 col-xs-6">
								<a class="dashboard-stat dashboard-stat-light blue-sharp"
									(click)="nonActiveContactsDataShowing()">
									<div class="visual">
										<i class="fa fa-eye-slash"></i>
									</div>
									<div class="details">
										<div class="number">{{inActiveUsersCount}}</div>
										<div class="desc">Non-Active Contacts</div>
									</div>
								</a>
							</div>
						</div>
						<!-- END DASHBOARD STATS -->
						<div class="clearfix"></div>
					</div>
					<!-- END FILTER -->
				</div>
			</div>
		</div>
	</div>
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-edit"></i>List of Contacts
				</div>
				<div class="tools">
					<a href="javascript:;" class="collapse"> </a> <a
						href="#portlet-config" data-toggle="modal" class="config"> </a> <a
						href="javascript:;" class="reload"> </a> <a href="javascript:;"
						class="remove"> </a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-toolbar">
					<div class="row">
						<div class="col-md-6">
							<div class="btn-group">
								<button id="add_contact" class="btn green" (click)="addRow()">
									Add a Contact <i class="fa fa-plus"></i>
								</button>
							</div>
							<div class="btn-group">
								<button id="copyFrom_clipboard" class="btn green"
									(click)="copyFromClipboard()">
									Copy From ClipBoard <i class="fa fa-plus"></i>
								</button>
							</div>
							<div class="btn-group">
								<button class="fileUpload btn btn-primary" id="upload_csv"
									style="background-color: #26a69a">
									Upload a .CSV <i class="fa fa-plus"></i> <input type="file"
										ng2FileSelect class="upload" [uploader]="uploader"
										(change)="fileChange(input)" #input />
								</button>
							</div>
						</div>
						<div class="col-md-6">
							<div>
								<button id="cancel_button" class="btn green;dropdown-menu pull-right"
									(click)="cancelContacts()" style="margin-left:5px;background-color: #cfd8dc">
									Cancel<i class="fa fa-cancel"></i>
								</button>
							
							<div class="btn-group pull-right">
								<button class="btn dropdown-toggle" id="save&delete_button"
									data-toggle="dropdown">
									Actions <i class="fa fa-angle-down"></i>
								</button>
								<ul class="dropdown-menu pull-right">
									<li><a id="save_button" (click)="saveContacts()"> Save
									</a></li>
									<li><a id="delete_button"
										(click)="showAlert(selectedContactListId)"> Delete</a></li>
									<li><a href="javascript:;"> Export to Excel </a></li>
								</ul>
							</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-9" style="margin-bottom: 0px; padding-left: 1cm" >
					<table class="table" id="uploadCsvUsingFile">
						<thead>
						</thead>
						<tbody>
							<tr *ngFor="let item of uploader.queue">
								<td width="28%"><strong>{{ item?.file?.name }}</strong></td>
								<td *ngIf="uploader.isHTML5" nowrap>{{
									item?.file?.size/1024/1024 | number:'.2' }} MB</td>
								<td *ngIf="uploader.isHTML5">
									<div class="progress" style="margin-bottom: 0;">
										<div class="progress-bar" role="progressbar"
											[ngStyle]="{ 'width': item.progress + '%' }"></div>
									</div>
								</td>
								<td class="text-center"><span *ngIf="item.isSuccess"><i
										class="glyphicon glyphicon-ok"></i></span> <span
									*ngIf="item.isCancel"><i
										class="glyphicon glyphicon-ban-circle"></i></span> <span
									*ngIf="item.isError"><i
										class="glyphicon glyphicon-remove"></i></span></td>
								<td nowrap>
									<!-- <button type="button" class="btn btn-success btn-xs"
														(click)="item.upload()"
														[disabled]="uploadvalue || item.isReady || item.isUploading || item.isSuccess">
														<span class="glyphicon glyphicon-upload"></span> Upload
													</button> -->
									<button type="button" class="btn btn-danger btn-xs"
										(click)="item.remove()" (click)="removeCsv()">
										<span class="glyphicon glyphicon-trash"></span> Remove
									</button>
								</td>
							</tr>
						</tbody>
					</table>
					<div  *ngIf="successMessage" id="saveContactsMessage"
						class="alert alert-success alert-dismissable">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>Success!</strong> Contact list updated successfully.
					</div>
					<!-- <div id="saveContactsMessage1" *ngIf="successMessage2"
						class="alert alert-success alert-dismissable">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>Success!</strong> Contact list updated successfully.
					</div>
				<div id="saveContactsMessage2" *ngIf="successMessage3"
						class="alert alert-success alert-dismissable">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>Success!</strong> Contact list updated successfully.
					</div> -->
					<div *ngIf="deleteSucessMessage" id="showDeleteMessage" class="alert alert-success alert-dismissable">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>Success!</strong>Contact list Users has been Deleted successfully.
	</div>
				</div>

				<div class="row" *ngIf="clickBoard">
					<div class="col-sm-12">
						<h3>Copy from text -- paste below</h3>
					<div class="col-sm-12 form-group">
					      <select class="col-sm-2 opts form-control"  style="width:15%">
    					    <option selected value="DEFAULT">Delimeter Type</option>
    					    <option value="CommaSeperated"> Comma Seperated </option>
  						    <option value="TabSeperated"> Tab Seperated </option>
  					       </select>  
					      <button class=" col-sm-2 btn btn-default" type="button"
						   style="background-color: #26a69a; color: white"
						   (click)="clipboardShowPreview()">SHOW PREVIEW</button>
						</div>
						<div class="col-sm-6">
							<textarea [(ngModel)]="clipboardTextareaText" placeholder="EmailId..,FirstName..,LastName..&#10;EmailId..,FirstName..,LastName..&#10;EmailId..,FirstName..,LastName.."
								[ngModelOptions]="{standalone: true}"
								style="min-width: 100%; max-width: 100%; height: 150px; font-size: 12px; line-height: 1.4;"
								required="required">
							</textarea>
						</div>
						<div class="col-sm-6">
							<span id="clipBoardValidationMessage"></span>
						</div>
					</div>
				</div>
				
						<div class="row" id="file_preview" *ngIf="filePrevew">
							<div class="col-md-12">
								<!-- BEGIN EXAMPLE TABLE PORTLET-->
								<div class="portlet box blue">
									<div class="portlet-title">
										<div class="caption">
											<i class="fa fa-edit"></i>File Preview
										</div>
										<div class="tools">
											<a href="javascript:;" class="collapse"> </a> <a
												href="#portlet-config" data-toggle="modal" class="config">
											</a> <a href="javascript:;" class="reload"> </a> <a
												href="javascript:;" class="remove"> </a>
										</div>
									</div>
									<div class="portlet-body">

										<table class="table table-striped table-hover table-bordered"
											id="sample_editable_2">
											<thead>
												<tr>
													<th>EMAIL</th>
													<th>FIRST NAME</th>
													<th>LAST NAME</th>
													<!-- <th>Edit</th>
												<th>Delete</th> -->
												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let user of csvFileUsers">
													<td>{{user.emailId}}</td>
													<td>{{user.firstName}}</td>
													<td>{{user.lastName}}</td>
													<!-- <td><a class="edit" href="javascript:;"> Edit </a></td>
												<td><a class="delete" href="javascript:;"> Delete </a>
												</td> -->
												</tr>
											</tbody>
										</table>

									</div>
								</div>
								<!-- END EXAMPLE TABLE PORTLET-->
							</div>
						</div>
				
				<form #f="ngForm" style="background-color: white">
					<table class="table table-striped table-hover table-bordered"
						id="sample_editable_1" *ngIf="contacts">
						<thead>
							<tr>
								<th><input type="checkbox" [checked]="isAvailable"
									(change)="checked($event.target.checked)"></th>
								<!-- <th>USERNAME</th> -->
								<th>EMAILID</th>
								<th>FIRSTNAME</th>
								<th>LASTNAME</th>
								<!-- <th>Edit</th> -->
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let contact of pagination.pagedItems;let i = index"
								id="row_{{contact.id}}">
								<th><input type="checkbox" name="selectedUserIds" id="selectedUserWithIds"
									value="{{contact.id}}" [(ngModel)]="contact.isChecked"></th>
								<!-- <td>{{contact.userName}}</td> -->
								<td>{{contact.emailId}}</td>
								<td>{{contact.firstName}}</td>
								<td class="center">{{contact.lastName}}</td>
								<!-- <td><a class="edit" href="javascript:;"> Edit </a></td> -->
								<td><a class="delete" (click)="showAlert1(contact.id)">
									 Delete </a></td>

							</tr>
							<tr *ngFor="let newContact of users; let i = index"
								class="new_row">
								<td><input type="checkbox" checked="newContact.checked"></td>
								<td></td>
								<td><input type=Text [(ngModel)]="newContact.emailId"
									class="form-control" [ngModelOptions]="{standalone: true}"
									required
									pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})+$"
									#emailId="ngModel">
									<div
										[hidden]="emailId.valid || (emailId.pristine && !f.submitted)"
										class="alert alert-danger">
										Email is required and format should be <i>john@doe.com</i>.
									</div></td>
								<td><input type=Text [(ngModel)]="newContact.firstName"
									class="form-control" [ngModelOptions]="{standalone: true}"
									required minlength="4" maxlength="12" #firstName="ngModel">
									<!-- <div
										[hidden]="firstName.valid || (firstName.pristine && !f.submitted)"
										class="alert alert-danger">firstName is required.</div> -->
										</td>
								<td><input type=Text [(ngModel)]="newContact.lastName"
									class="form-control" [ngModelOptions]="{standalone: true}"
									required minlength="4" maxlength="8" #lastName="ngModel">
									<!-- <div
										[hidden]="lastName.valid || (lastName.pristine && !f.submitted)"
										class="alert alert-danger">lastName is required.</div> -->
										</td>
								<td><a class="delete" (click)="cancelRow(i)"> Cancel </a></td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
		<ul *ngIf="pagination.pager.pages && pagination.pager.pages.length" class="pagination">
                                             <li [ngClass]="{disabled:pagination.pager.currentPage === 1}">
                                                <a (click)="setPage(1)">First</a>
                                             </li>
                                             <li [ngClass]="{disabled:pagination.pager.currentPage === 1}">
                                                 <a (click)="setPage(pagination.pager.currentPage - 1)">Previous</a>
                                              </li>
                                              <li *ngFor="let page of pagination.pager.pages" [ngClass]="{active:pagination.pager.currentPage === page}">
                                                 <a (click)="setPage(page)">{{page}}</a>
                                              </li>
                                              <li [ngClass]="{disabled:pagination.pager.currentPage === pagination.pager.totalPages}">
                                                  <a (click)="setPage(pagination.pager.currentPage + 1)">Next</a>
                                              </li>
                                               <li [ngClass]="{disabled:pagination.pager.currentPage === pagination.pager.totalPages}">
                                                  <a (click)="setPage(pagination.pager.totalPages)">Last</a>
                                              </li>
                                          </ul>
	
	</div>
	
</div>
</div>



<!-- <div class="page-content" *ngIf="showAllContactData" >
				BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM
				<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
								<h4 class="modal-title">Modal title</h4>
							</div>
							<div class="modal-body">
								 Widget settings form goes here
							</div>
							<div class="modal-footer">
								<button type="button" class="btn blue">Save changes</button>
								<button type="button" class="btn default" data-dismiss="modal">Close</button>
							</div>
						</div>
						/.modal-content
					</div>
					/.modal-dialog
				</div>
				END STYLE CUSTOMIZER
				BEGIN PAGE HEADER

				<div class="page-bar">
					<ul class="page-breadcrumb">
						<li>
							<i class="fa fa-home"></i>
							<a [routerLink]="['../../dashboard']">Home</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li>
							<a (click)="backToManageContactPage();manageContactsDataShowing()">Manage Contacts</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li *ngIf="allContactData==true">
							All Contacts
						</li>
						<li *ngIf="activeContactsData==true">
							Active Contacts
						</li>
						<li *ngIf="invalidContactData==true">
							Invalid Contacts
						</li>
						<li *ngIf="unsubscribedContactsData==true">
							Unsubscribed Contacts
						</li>
						<li *ngIf="nonActiveContactsData==true">
							Non Active Contacts
						</li>
						
					</ul>
					
				</div>
			
				END PAGE HEADER
				BEGIN PAGE CONTENT
				<div class="row">
					<div class="col-md-12">
						<div class="tabbable tabbable-custom tabbable-noborder">
							
							<div class="tab-content">
							BEGIN PAGE HEADER
								<div class="page-bar" style="margin-bottom: 6px">
					<ul class="page-breadcrumb">
						<li *ngIf="allContactData==true">
							<i style="font-size: 16px;">All Contacts</i>
						</li>
						<li *ngIf="activeContactsData==true">
							<i style="font-size: 16px;">Active Contacts</i>
						</li>
						<li *ngIf="invalidContactData==true">
							<i style="font-size: 16px;">Invalid Contacts</i>
						</li>
						<li *ngIf="unsubscribedContactsData==true">
							<i style="font-size: 16px;">Unsubscribed Contacts</i>
						</li>
						<li *ngIf="nonActiveContactsData==true">
							<i style="font-size: 16px;">Non Active Contacts</i>
						</li>
						
					</ul>
					<div class="page-toolbar">
						<div class="btn-group pull-right">
							<div class="inputs" align="right"  style="display:inline; float:right">
											<div class="portlet-input input-inline input-small">
												<div class="input-icon right">
													<i class="icon-magnifier"></i>
													<input type="text" class="form-control input-circle" placeholder="search...">
												</div>
											</div>
										</div>
						</div>
					</div>
				</div>
				
				END PAGE HEADER

								<div class="tab-pane active">
									BEGIN FILTER
									
										
										</div>
										END DASHBOARD STATS
				<div class="clearfix">
				</div>
				END DASHBOARD STATS
				<div class="clearfix">
				</div> -->
										
				<!-- BEGIN PAGE CONTENT-->
				<div class="row" *ngIf="showAllContactData" >
				<!-- <form class="form-inline" *ngIf="allContactData==true">
  <div class="col-xs-0 col-md-6 form-group" style="margin-bottom: 8px">
    <label for="name">ContactListName:</label>
    <input type="text" class="form-control" [(ngModel)]="contactListName" id="contactListName" name="contactListName" placeholder="Contact List Name">
  </div>
  <div class="col-xs-0 col-md-6 form-group" align="right">
  <button>Cancel</button>
  <button style="background-color:#3598dc;color:white" (click)="saveSelectedUsers()">Save</button>
  </div>
  </form> -->
  							<div class="page-toolbar">
						<div class="btn-group pull-right" style="float:left;margin-right:16px">
							<!-- <div class="inputs" align="right"  style="display:inline; float:right">
											<div class="portlet-input input-inline input-small">
												<div class="input-icon right">
													<i class="icon-magnifier"></i>
													<input type="text" class="form-control input-circle" placeholder="search...">
												</div>
											</div>
										</div> -->
										
										<div class="inputs" align="right"  style="float:right">
										  <div style="float:left;margin-right:15px">
										       <select class="form-control" [(ngModel)]="contactsSort"  (ngModelChange)="selectedSortByValue($event)">
													  <option *ngFor="let sort of sortContacts" [ngValue]="sort"> {{sort.name}} </option>
											   </select>
										   </div>
											<div class="portlet-input input-inline input-small">
												<div class="input-icon right">
													<i class="icon-magnifier" [class.customDisableCss]="searchDisable==true" style="cursor:pointer;font-size:18px;" (click)="searchContactsTitelName()"></i>
													<input type="text" [(ngModel)]="searchKey" [ngModelOptions]="{standalone: true}" (input)="searchDisableValue()"
													 class="form-control input-circle" placeholder="search...">
												 
												</div>
											</div>
										</div>
						</div>
					</div>
  <div *ngIf="invalidDeleteSucessMessage" id="showInvalidDeleteMessage" class="alert alert-success alert-dismissable">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>Success!</strong> Contact List has been Deleted successfully.
	</div>
					<div class="col-md-12" style="margin-top:15px">
						<!-- BEGIN EXAMPLE TABLE PORTLET-->
						<div class="portlet box blue">
							<div class="portlet-title">
								<!-- <div class="caption" *ngIf="allContactData==true">
									<i class="fa fa-edit"></i>List of All Contacts
								</div> -->
								<div class="caption" *ngIf="activeContactsData==true">
									<i class="fa fa-edit"></i>List of Active Contacts
								</div>
								<div class="caption" *ngIf="invalidContactData==true">
									<i class="fa fa-edit"></i>List of Invalid Contacts
								</div>
								<div class="caption" *ngIf="unsubscribedContactsData==true">
									<i class="fa fa-edit"></i>List of Unsubscribed Contacts
								</div>
								<div class="caption" *ngIf="nonActiveContactsData==true">
									<i class="fa fa-edit"></i>List of Non Active Contacts
								</div>
								<div class="tools">
									<a href="javascript:;" class="collapse">
									</a>
									<a href="#portlet-config" data-toggle="modal" class="config">
									</a>
									<a href="javascript:;" class="reload">
									</a>
									<a href="javascript:;" class="remove">
									</a>
								</div>
							</div>
							<div class="portlet-body">
								<div class="table-toolbar">
									<div class="row">
										<div class="col-md-12" style="align:right">
											<div class="btn-group pull-right">
												<button class="btn dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i>
												</button>
												<ul class="dropdown-menu pull-right">
													<li *ngIf="invalidContactData==true"><a id="delete_button" (click)="invalidContactsShowAlert()"> Delete
													</a></li>
													<li>
														<a href="javascript:;">
														Print </a>
													</li>
													<li>
														<a (click)="convert()">
														Save as PDF </a>
													</li>
													<li>
														<a href="javascript:;">
														Export to Excel </a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<table class="table table-striped table-hover table-bordered" id="sample_editable_1" *ngIf="allContacts">
								<thead >
								<tr >
								<!-- <th *ngIf="allContactData==true"><input type="checkbox" [checked]="isAvailable"
									(change)="checked($event.target.checked)">
									</th> -->
									<th *ngIf="invalidContactData==true"><input type="checkbox" [checked]="isAvailable"
									(change)="invalidContactsChecked($event.target.checked)">
									</th>
									<!-- <th>
										 USERNAME
									</th> -->
									<th>
										 EMAILID
									</th>
									<th>
										 FIRSTNAME
									</th>
									<th>
										 LASTNAME
									</th>
									<!-- <th>
										 Edit
									</th> -->
									<!-- <th>
										 Delete
									</th> -->
								</tr>
								</thead>
								<tbody>
								<tr *ngFor="let allcontacts of pagination.pagedItems;let i = index">
									<!-- <th *ngIf="allContactData==true">
									<input type="checkbox" name="selectedUserIds" id="selectedUserWithIds"
									 id="row_{{allcontacts.id}}" value="{{allcontacts.emailId}},{{allcontacts.firstName}},{{allcontacts.lastName}}" [(ngModel)]="allcontacts.isChecked">
									 </th> -->
									 <th *ngIf="invalidContactData==true">
									<input type="checkbox" name="selectedUserIds" id="selectedUserWithIds"
									 id="row_{{allcontacts.id}}" value="{{allcontacts.id}}" [(ngModel)]="allcontacts.isChecked">
									 </th>
									<!-- <td>
										 {{allcontacts.userName}}
									</td> -->
									<td>
										 {{allcontacts.emailId}}
									</td>
									<td>
										  {{allcontacts.firstName}}
									</td>
									<td class="center">
										 {{allcontacts.lastName}}
									</td>
									<!-- <td>
										<a class="delete" href="javascript:;">
										Delete </a>
									</td> -->
								</tr>
								</tbody>
								</table>
							</div>
						</div>
						<!--pager here  -->
                                          <ul *ngIf="pagination.pager.pages && pagination.pager.pages.length" class="pagination">
                                             <li [ngClass]="{disabled:pagination.pager.currentPage === 1}">
                                                <a (click)="setPage(1,currentContactType)">First</a>
                                             </li>
                                             <li [ngClass]="{disabled:pagination.pager.currentPage === 1}">
                                                 <a (click)="setPage(pagination.pager.currentPage - 1,currentContactType)">Previous</a>
                                              </li>
                                              <li *ngFor="let page of pagination.pager.pages" [ngClass]="{active:pagination.pager.currentPage === page}">
                                                 <a (click)="setPage(page,currentContactType)">{{page}}</a>
                                              </li>
                                              <li [ngClass]="{disabled:pagination.pager.currentPage === pagination.pager.totalPages}">
                                                  <a (click)="setPage(pagination.pager.currentPage + 1,currentContactType)">Next</a>
                                              </li>
                                               <li [ngClass]="{disabled:pagination.pager.currentPage === pagination.pager.totalPages}">
                                                  <a (click)="setPage(pagination.pager.totalPages,currentContactType)">Last</a>
                                              </li>
                                          </ul>
										<!-- pager end here -->
						<!-- END EXAMPLE TABLE PORTLET-->
					</div>
				</div>
				<!-- END PAGE CONTENT -->
			<!-- </div>
		</div>
	  </div>
	</div>
</div> -->
