<!-- BEGIN PAGE CONTENT-->
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li><i class="fa fa-home"></i> <a [routerLink]="refService.homeRouter">Home</a> <i
			class="fa fa-angle-right"></i></li>
		<li><a (click)="refresh()"> Manage
				{{checkingContactTypeName}}s</a></li>
		<li><a (click)="backToEditContacts()"><i
				class="fa fa-angle-right"> </i>Edit {{checkingContactTypeName}}s</a></li>
		<li *ngIf="! showEditContactData"><i class="fa fa-angle-right">
		</i>
		<span class="capitalize" *ngIf="contactsByType.selectedCategory != 'non-active'">{{contactsByType.selectedCategory}}
		   {{checkingContactTypeName}}s</span>
		<span class="capitalize" *ngIf="contactsByType.selectedCategory == 'non-active'">Inactive
		   {{checkingContactTypeName}}s</span>
		</li>
	</ul>
</div>
<div class="clearfix" id="manageContacts">
	<div class="row">
		<div class="col-xs-12">
			<div class="tabbable tabbable-custom tabbable-noborder"
				style="background: white;">

				<div class="tab-content">
					<div class="my-container">
						<ngx-loading [show]="loading"
							[config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
					</div>
					<div class="tab-pane active">
						<!-- BEGIN FILTER -->

						<div class="page-bar m0">
							<div class="page-breadcrumb">
								<span *ngIf="!isDefaultPartnerList" title="Edit Contact list Name" style="cursor:pointer;font-size: 16px; font-family: Open Sans; color: #989292;"
								(click)="updateContactListNameAlert()">{{selectedContactListName}}
									<span *ngIf="!isDefaultPartnerList">List</span>
									</span> 
									<span *ngIf="isDefaultPartnerList"
									style="font-size: 16px; font-family: Open Sans; color: #989292;">{{selectedContactListName}}
								</span>
								<div *ngIf="!isDefaultPartnerList" style="color: #4d5b69;text-align: right;margin-top: -18px;margin-right: -19px;">
									<i class="fa fa-pencil" aria-hidden="true"></i>
									</div>
							</div>
							<div class="page-toolbar">
								<div *ngIf="!isSegmentation" (click)="modelForSeg()"
									style="float: left; cursor: pointer; margin-right: 10px"
									data-toggle="modal" data-target="#filterModal">
									<i class="fa fa-filter" aria-hidden="true"
										style="color: #0095da; font-size: 30px; margin-top: 10px;"></i>
								</div>
								<div *ngIf="isSegmentation" (click)="removeSegmentation()"
									style="float: left; cursor: pointer; margin-right: 10px">
									<i class="fa fa-filter" aria-hidden="true"
										style="color: red; font-size: 30px; margin-top: 10px;"></i> <i
										class="fa fa-times" aria-hidden="true"
										style="color: red; margin-left: -12px;"></i>
								</div>
								<div class="btn-group pull-right" *ngIf="showEditContactData">
									<div class="inputs" align="right" style="float: right">

										<div class="inputs" align="right" style="float: right">
											<div style="float: left; margin-right: 10px; width: 50%">
												<select class="form-control" [(ngModel)]="sortOption"
													(ngModelChange)="sortByOption($event)">
													<ng-container
														*ngFor="let sort of sortOptions; let i = index">
													<option [ngValue]="sort">{{sort.name}}</option>
													</ng-container>
												</select>
											</div>
											<div class="portlet-input input-inline input-small">
												<div class="input-icon right"  style="width: 106%;left: -4px;">
													<i class="icon-magnifier"
														style="cursor: pointer; font-size: 18px;"
														(click)="search('contactList')"></i> <input type="text"
														[(ngModel)]="searchKey"
														[ngModelOptions]="{standalone: true}"
														class="form-control" placeholder="Search For {{checkingContactTypeName}}">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="page-toolbar" *ngIf="!showEditContactData">
									<div class="btn-group pull-right">
										<div class="inputs" align="right" style="float: right">
											<div style="float: left; margin-right: 10px; width: 50%">
												<select class="form-control" [(ngModel)]="sortOption"
													(ngModelChange)="sortByOption($event)">
													<ng-container
														*ngFor="let sort of sortOptions; let i = index">
													<option [ngValue]="sort">{{sort.name}}</option>
													</ng-container>
												</select>
											</div>
											<div class="portlet-input input-inline input-small">
												<div class="input-icon right"  style="width: 106%;left: -4px;">
													<i class="icon-magnifier"
														style="cursor: pointer; font-size: 18px;"
														(click)="search('contactList')"></i> <input type="text"
														[(ngModel)]="searchKey"
														[ngModelOptions]="{standalone: true}"
														class="form-control" placeholder="Search For {{checkingContactTypeName}}">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- END DASHBOARD STATS -->
							<div class="clearfix"></div>

							<div class="row mt5 mb5">
								<div class="col-sm-5ths">
									<button class="btn-block dashboard-stat blue"
										(click)="backToEditContacts()">
										<div class="visual">
											<i class="fa fa-users"></i>
										</div>
										<div class="details">
											<div class="number">{{contactsByType.allContactsCount}}</div>
											<div class="desc" style="font-size:20px">All <!-- {{checkingContactTypeName}}s --></div>
										</div>
										<span class="morePadding"> <a class="more" style="text-align: left;">
														Detailed view <i class="m-icon-swapright m-icon-white"></i>
												</a>
												</span>
									</button>
								</div>
								<div class="col-sm-5ths">
									<button class="btn-block dashboard-stat green"
										(click)="showingContactDetails('active')"
										[disabled]="contactsByType.activeContactsCount == 0">
										<div class="visual">
											<i class="fa fa-eye"></i>
										</div>
										<div class="details">
											<div class="number">{{contactsByType.activeContactsCount}}</div>
											<div class="desc" style="font-size:20px">Active <!-- {{checkingContactTypeName}}s --></div>
										</div>
										<span class="morePadding"> <a class="more" style="text-align: left;">
														Detailed view <i class="m-icon-swapright m-icon-white"></i>
												</a>
												</span>
									</button>
								</div>
								<div class="col-sm-5ths">
									<button class="btn-block dashboard-stat purple"
										(click)="showingContactDetails('non-active')"
										[disabled]="contactsByType.inactiveContactsCount == 0">
										<div class="visual">
											<i class="fa fa-eye-slash"></i>
										</div>
										<div class="details">
											<div class="number">{{contactsByType.inactiveContactsCount}}</div>
											<div class="desc" style="font-size:20px">Inactive <!-- {{checkingContactTypeName}}s --></div>
										</div>
										<span class="morePadding"> <a class="more" style="text-align: left;">
														Detailed view <i class="m-icon-swapright m-icon-white"></i>
												</a>
												</span>
									</button>
								</div>
								<div class="col-sm-5ths">
									<button class="btn-block dashboard-stat yellow-gold"
										(click)="showingContactDetails('invalid')"
										[disabled]="contactsByType.invalidContactsCount == 0">
										<div class="visual">
											<i class="fa fa-user-times"></i>
										</div>
										<div class="details">
											<div class="number">{{contactsByType.invalidContactsCount}}</div>
											<div class="desc" style="font-size:20px">Invalid <!-- {{checkingContactTypeName}}s --></div>
										</div>
										<span class="morePadding"> <a class="more" style="text-align: left;">
														Detailed view <i class="m-icon-swapright m-icon-white"></i>
												</a>
												</span>
									</button>
								</div>
								<div class="col-sm-5ths">
									<button class="btn-block dashboard-stat red"
										(click)="showingContactDetails('unsubscribe')"
										[disabled]="contactsByType.unsubscribedContactsCount == 0">
										<div class="visual">

											<i class="fa fa-times"></i>
										</div>
										<div class="details">
											<div class="number">{{contactsByType.unsubscribedContactsCount}}</div>
											<div class="desc" style="font-size:20px">Unsubscribed
												<!-- {{checkingContactTypeName}}s --></div>
										</div>
										<span class="morePadding"> <a class="more" style="text-align: left;">
														Detailed view <i class="m-icon-swapright m-icon-white"></i>
												</a>
												</span>
									</button>
								</div>
							</div>
							<!-- END DASHBOARD STATS -->
							<div class="clearfix"></div>
							<!-- END FILTER -->
						</div>
					</div>
					<div style="padding: 0px 0 10px;">
						<app-response-message [customResponse]="customResponse"
							*ngIf="customResponse.isVisible"></app-response-message>
					</div>
					<div *ngIf="showEditContactData">
						<div class="col-xs-12 p0">
							<!-- BEGIN EXAMPLE TABLE PORTLET-->
							<div class="portlet box blue">
								<div class="portlet-title">
									<div class="caption">
										<i class="fa fa-edit"></i>List of {{checkingContactTypeName}}s
									</div>
								</div>
								<div class="portlet-body">
									<div class="table-toolbar"
										*ngIf="hasAllAccess || (hasContactRole && loggedInUserId==uploadedUserId) || authenticationService.isOnlyPartner() || authenticationService.isVendorPartner() || authenticationService.isVendor()">
										<div class="clearfix">
											<div class="col-sm-8">
												<div class="btn-group">
													<button id="add_contact" class="btn green"
														(click)="addContactModalOpen()"
														[disabled]="selectedAddContactsOption == 1 || selectedAddContactsOption == 2 || selectedAddContactsOption == 9">
														<!-- Add {{checkingContactTypeName}}  -->
														One at a Time
														<i class="fa fa-plus" style="font-size: 12px; margin-left: 5px;"></i>
													</button>
												</div>
												<div class="btn-group">
													<button id="copyFrom_clipboard" class="btn green"
														[disabled]="selectedAddContactsOption == 0 || selectedAddContactsOption == 2 || selectedAddContactsOption == 9"
														(click)="addContactsOption(AddContactsOption.COPYFROMCLIPBOARD);">
														Copy List From ClipBoard <i class="fa fa-clipboard"
															aria-hidden="true"
															style="font-size: 12px; margin-left: 5px;"></i>
													</button>
												</div>
												<div class="btn-group">
													<div class="fileUpload btn btn-primary" id="upload_csv"
														[class.disabled]="selectedAddContactsOption == 0 || selectedAddContactsOption == 1 || selectedAddContactsOption == 9"
														style="background-color: #26a69a !important">
														Upload CSV <i class="fa fa-upload" aria-hidden="true"
															style="font-size: 12px; margin-left: 5px;"></i> <input
															type="file" ng2FileSelect class="upload"
															[uploader]="uploader" title=" "
															(change)="fileChange(input)" accept=".csv" #input
															[disabled]="selectedAddContactsOption == 0 || selectedAddContactsOption == 1 || selectedAddContactsOption == 9" />
													</div>
												</div>
											</div>
											<div class="col-sm-4" style="top: 9px">
												<div>
													<div>
														<button id="cancel_button"[disabled]="selectedAddContactsOption == 8" class="btn pull-right"
															(click)="cancelContacts()" style="margin-left: 5px;">
															Cancel<i class="fa fa-cancel"></i>
														</button>
													</div>
													<div class="btn-group pull-right">
														<button class="btn dropdown-toggle"
															id="save&delete_button" data-toggle="dropdown">
															Actions <i class="fa fa-angle-down"></i>
														</button>
														<ul class="dropdown-menu pull-right">
															<li><a *ngIf="selectedAddContactsOption != 8" id="save_button" (click)="saveContacts()">Save
															</a></li>
															<li><a id="saveAs_button"
																*ngIf="selectedAddContactsOption == 8"
																(click)="saveAs()">Save As </a></li>
															<li><a id="exportToExcel"
																*ngIf="selectedAddContactsOption == 8"
																(click)="downloadList()">Export To Excel</a></li>
															<li><a id="delete_button"
																*ngIf="selectedAddContactsOption == 8 || selectedAddContactsOption == 9 && selectedContactListIds?.length != 0"
																(click)="showAlert(selectedContactListId)"> Delete</a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div style="margin-bottom: 0px; padding-left: 1cm">
										<table class="table" *ngIf="uploadCsvUsingFile">
											<thead>
											</thead>
											<tbody>
												<tr *ngFor="let item of uploader.queue">
													<td width="28%"><strong>{{ item?.file?.name
															}}</strong></td>
													<td *ngIf="uploader.isHTML5" nowrap>{{
														item?.file?.size/1024/1024 | number:'.2' }} MB</td>
													<td *ngIf="uploader.isHTML5">
														<div class="progress" style="margin-bottom: 0;">
															<div class="progress-bar" role="progressbar"
																[ngStyle]="{ 'width': item.progress + '%' }"></div>
														</div>
													</td>
													<td class="text-center"><span *ngIf="item.isSuccess"><i
															class="glyphicon glyphicon-ok"></i></span> <span
														*ngIf="item.isCancel"><i
															class="glyphicon glyphicon-ban-circle"></i></span> <span
														*ngIf="item.isError"><i
															class="glyphicon glyphicon-remove"></i></span></td>
													<td nowrap>
														<button type="button" class="btn btn-danger btn-xs"
															(click)="item.remove()" (click)="removeCsv()">
															<span class="glyphicon glyphicon-trash"></span> Remove
														</button>
													</td>
												</tr>
											</tbody>
										</table>
										<div *ngIf="fileTypeError" id="csvFileTypeError"
											class="alert alert-danger alert-dismissable"
											style="width: 50%">
											<b>File type not allowed please select the .csv file
												only..</b>
										</div>
										<div *ngIf="inValidCsvContacts" id="csvInavalidCntactsError"
											class="alert alert-danger alert-dismissable"
											style="width: 80%">
											<b>We found invalid emailIds please remove..<strong>{{invalidPatternEmails}}</strong>
												and Re Upload..
											</b>
										</div>
									</div>
									<div *ngIf="dublicateEmailId" class="col-md-6"
										class="col-md-9 alert alert alert-danger alert-dismissable"
										style="width: 100%">
										<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
										<h4>
											Duplicate EmailId Exist Please Remove..<u>{{duplicateEmailIds}}</u>
										</h4>
									</div>

									<div *ngIf="noContactsFound==true"
										style="background-color: #3598dc" class="alert alert-info">
										<h4 style="margin-top: 8px; color: white">No results found</h4>
									</div>
									<div *ngIf="showInvalidMaills==true" class="col-md-6"
										class="col-md-9 alert alert alert-danger alert-dismissable">
										<a class="close" (click)="closeShowValidMessage()"
											data-dismiss="alert" aria-label="close">&times;</a> <strong>Invalid
											email pattern Contacts found.. !!!</strong>
									</div>
									<div class="row" *ngIf="selectedAddContactsOption == 1">
										<div class="col-sm-12">
											<h3 class="col-xs-12">Copy from text -- paste below</h3>
											<div class="col-sm-12 form-group">
												<div class="col-sm-3" style="padding-left: 0px;">
													<select class="col-sm-2 options form-control">
														<option selected value="DEFAULT">Delimiter Type</option>
														<option value="CommaSeperated">Comma Separated</option>
														<option value="TabSeperated">Tab Separated</option>
													</select>
												</div>
												<button class=" col-sm-3 btn btn-default" type="button"
													style="background-color: #26a69a; color: white"
													(click)="clipboardShowPreview()">SHOW PREVIEW</button>
											</div>
											<div class="col-sm-7">
												<textarea class="textareaNumber" [(ngModel)]="clipboardTextareaText"
													placeholder="FirstName,LastName,Company,Jobtitle,Email,Address,City,Country,Phonenumber       FirstName,LastName,Company,Jobtitle,Email,Address,City,country,Phonenumber       FirstName,LastName,Company,Jobtitle,Email,Address,City,Country,Phonenumber"
													[ngModelOptions]="{standalone: true}"
													style="min-width: 100%; max-width: 100%; height: 150px; font-size: 12px; line-height: 1.4;"
													required="required">
							</textarea>
											</div>
											<div class="col-sm-5">
												<span id="clipBoardValidationMessage"></span>
											</div>
										</div>
									</div>

									<div class="row" id="file_preview" *ngIf="filePrevew">
										<div class="col-xs-12">
											<!-- BEGIN EXAMPLE TABLE PORTLET-->
											<div class="portlet box blue">
												<div class="portlet-title">
													<div class="caption">
														<i class="fa fa-edit"></i>File Preview
													</div>
												</div>
												<div class="portlet-body">

													<table
														class="table tgrid"
														id="sample_editable_2">
														<thead>
															<tr>
																<th>FIRST NAME</th>
																<th>LAST NAME</th>
																<th>EMAILID</th>
																<th>MORE</th>
															</tr>
														</thead>
														<tbody>
															<ng-container *ngFor="let user of users">
															<tr>
																<td>{{user.firstName}}</td>
																<td>{{user.lastName}}</td>
																<td>{{user.emailId}}</td>
																<td>
																	<button id='more_less_button_{{i}}'
																		(click)="user.isShowDetails = ! user.isShowDetails">
																		<span *ngIf="!user.isShowDetails">More</span> <span
																			*ngIf="user.isShowDetails">Less</span>
																	</button>
																</td>
															</tr>
															<tr
																[ngClass]="{'hidden': !user.isShowDetails, 'show-more': user.isShowDetails}">
																<td colspan="6">
																	<table cellpadding="5" cellspacing="0"
																		style="padding-left: 50px; margin-left: 55px;">
																		<tbody>
																			<tr style="border-bottom: 1px solid #dcdcdc">
																				<td class='pt10 pb10'>Company:</td>
																				<td class='pt10 pb10'>{{user.contactCompany}}</td>
																			</tr>
																			<tr style="border-bottom: 1px solid #dcdcdc">
																				<td class='pt10 pb10'>Job Title:</td>
																				<td class='pt10 pb10'>{{user.jobTitle}}</td>
																			</tr>
																			<tr style="border-bottom: 1px solid #dcdcdc">
																				<td class='pt10 pb10'>Address:</td>
																				<td class='pt10 pb10'>{{user.address}}</td>
																			</tr>
																			<tr style="border-bottom: 1px solid #dcdcdc">
																				<td class='pt10 pb10'>City:</td>
																				<td class='pt10 pb10'>{{user.city}}</td>
																			</tr>
																			<tr style="border-bottom: 1px solid #dcdcdc">
																				<td class='pt10 pb10'>Country:</td>
																				<td class='pt10 pb10'>{{user.country}}</td>
																			</tr>
																			<tr style="border-bottom: 1px solid #dcdcdc">
																				<td class='pt10 pb10'>Phone Number:</td>
																				<td class='pt10 pb10'>{{user.mobileNumber}}</td>
																			</tr>
																			<!-- <tr style="border-bottom: 1px solid #dcdcdc">
																				<td class='pt10 pb10'>Notes:</td>
																				<td class='pt10 pb10'>{{user.description}}</td>
																			</tr> -->
																		</tbody>
																	</table>
																</td>
															</tr>
															</ng-container>
														</tbody>
													</table>

												</div>
											</div>
											<!-- END EXAMPLE TABLE PORTLET-->
										</div>
									</div>
									<app-list-loader *ngIf="httpRequestLoader.isLoading"></app-list-loader>
									<div class="clearfix">
										<div class="col-xs-12">
											<div class="table-responsive">
												<table class='table tgrid'
													*ngIf="(contacts?.length > 0) && isShowUsers && !httpRequestLoader.isLoading">
													<thead>
														<tr>
															<th class='text-center'><input type="checkbox"
																[name]="all" [(ngModel)]="isHeaderCheckBoxChecked"
																(change)="checkAll($event)"
																[id]="checkAllExistingContacts"/></th>
															<th style="width: 25%" *ngIf="isPartner">Entity info</th>
															<th style="width: 25%" *ngIf="!isPartner">NAME</th>
															<th>PHONE</th>
															<th>JOB TITLE</th>
															<th class='text-center'>ADDRESS</th>
															<!-- <th class='text-center'>MORE</th> -->
															<th class='text-center' *ngIf="hasAllAccess || (hasContactRole && loggedInUserId==uploadedUserId) || authenticationService.isOnlyPartner() || authenticationService.isVendor() || authenticationService.isVendorPartner()">ACTIONS</th>
														</tr>
													</thead>
													<tbody>
													<ng-container *ngIf="selectedAddContactsOption == 0">
														<ng-container
															*ngFor="let newContact of users; let i = index">
														<tr class='row_{{i}}' style="background-color: #73c5be;">
															<td align="center"><input type="checkbox"
																checked="newContact.checked"></td>
															<td *ngIf="isPartner">
															<app-user-info [isPartnerEntityInfo]="true" [isPartnerInfo]="true" [userInfo]="newContact"> </app-user-info>
															</td>
															<td>
															<app-user-info  [userInfo]="newContact"> </app-user-info>
															</td>
															<td>
															<div *ngIf="newContact.mobileNumber" [class.disabled]="true" style="pointer-events: none !important; cursor: auto;">
													<int-phone-prefix [(ngModel)]="newContact.mobileNumber"  [ngModelOptions]="{standalone: true}"></int-phone-prefix>
													</div>
																<!-- <h5>
																	<span *ngIf="newContact?.mobileNumber; else NA"
																		class="textWhite">{{newContact.mobileNumber}}</span>
																</h5> -->
															</td>
															<td>
																<h5 class='mb0 textWhite'>{{newContact.jobTitle}}</h5>
																<h6 class='mt0 textWhite' *ngIf="!isPartner">{{newContact.contactCompany}}</h6>
															</td>
															<td>
																<h5 *ngIf="newContact?.address" class='mb0 textWhite'>{{newContact.address}}</h5>
																<h5 *ngIf="newContact?.city && newContact.country"
																	class='mt0 textWhite'>{{newContact.city}},&nbsp;{{newContact.country}}</h5>
															</td>
															<!-- <td align="center">
																<button id='more_less_button_{{i}}'
																	(click)="newContact.isShowDetails = ! newContact.isShowDetails">
																	<span *ngIf="!newContact.isShowDetails">More</span> <span
																		*ngIf="newContact.isShowDetails">Less</span>
																</button>
															</td> -->
															<td align="center"><a class="delete textWhite"
																(click)="cancelRow(i)"> Cancel </a></td>
															<ng-template #NA>N/A</ng-template>
														</tr>
														<!-- <tr
															[ngClass]="{'hidden': !newContact.isShowDetails, 'show-more': newContact.isShowDetails}"
															style="background-color: #73c5be;">
															<td colspan="8">
																<table cellpadding="5" cellspacing="0"
																	style="padding-left: 50px; margin-left: 55px;">
																	<tbody>
																		<tr>
																			<td class='bold pt10 pb10 textWhite bold'>Notes:</td>
																			<td class='pt10 pb10 textWhite'>{{newContact.description}}</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr> -->
														</ng-container>
														</ng-container>
														<ng-container
															*ngFor="let contact of pagination.pagedItems;let i = index">
														<tr class='row_{{i}}'>
															<td class='text-center'
																*ngIf="isAdd || !isCampaignDraftContactList "><input
																type="checkbox"
																[checked]="selectedContactListIds.indexOf(contact.id)>-1"
																class="chk"
																[class.contact-list-selected]="selectedContactListIds.indexOf(contacts.id)>-1"
																lang="{{contact.name}}" name="campaignContact[]"
																value="{{contact.id}}" id="{{contact.id}}"
																(click)="highlightRow(contact.id,$event)" /></td>
															<td *ngIf="isPartner">
															<app-user-info [isPartnerEntityInfo]="true" [isPartnerInfo]="true" [userInfo]="contact"> </app-user-info>
															</td>
															<td *ngIf="!isPartner">
															<app-user-info  [userInfo]="contact"> </app-user-info>
															</td>
															<td>
															<div *ngIf="contact.mobileNumber" [class.disabled]="true" style="pointer-events: none !important; cursor: auto;">
													<int-phone-prefix [(ngModel)]="contact.mobileNumber"  [ngModelOptions]="{standalone: true}"></int-phone-prefix>
													</div>
																<!-- <h5>
																	<span *ngIf="contact?.mobileNumber; else NA">{{contact.mobileNumber}}</span>
																</h5> -->
															</td>
															<td>
																<h5 class='mb0'>{{contact.jobTitle}}</h5>
																<!-- <h6 class='mt0' *ngIf="!isPartner">{{contact.contactCompany}}</h6> -->
															</td>
															<td align="center">
																<h5 *ngIf="contact?.address" class='mb0'>{{contact.address}}</h5>
																<h5 *ngIf="contact?.city && contact.country" class='mt0'>{{contact.city}},&nbsp;{{contact.country}}</h5>
															</td>
															<!-- <td align="center">
																<button id='more_less_button_{{i}}'
																	(click)="contact.isShowDetails = ! contact.isShowDetails">
																	<span *ngIf="!contact.isShowDetails">More</span> <span
																		*ngIf="contact.isShowDetails">Less</span>
																</button>
															</td> -->
															<td align="center" *ngIf="hasAllAccess || (hasContactRole && loggedInUserId==uploadedUserId) || authenticationService.isOnlyPartner() || authenticationService.isVendor() || authenticationService.isVendorPartner()">
															<div class="actions-block">
															  	<a (click)="editUserDetails(contact)">
																  	<i class="fa fa-pencil-square-o"></i>
																 </a>
																<a (click)="deleteUserShowAlert(contact.id)">	<i class="fa fa-trash-o"></i>	</a>
															</div>
															</td>
															<ng-template #NA>N/A</ng-template>
														</tr>
														<!-- <tr
															[ngClass]="{'hidden': !contact.isShowDetails, 'show-more': contact.isShowDetails}">
															<td colspan="6">
																<table cellpadding="5" cellspacing="0"
																	style="padding-left: 50px; margin-left: 55px;">
																	<tbody>
																		<tr>
																			<td class='pt10 pb10 bold'>Notes:</td>
																			<td class='pt10 pb10'>{{contact.description}}</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr> -->
														</ng-container>

													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- END EXAMPLE TABLE PORTLET-->
							<app-pagination [pagination]="pagination" [type]="'contacts'"
										(notifyParent)="setPage($event)" (notifyParentDropDown)="onChangeAllContactUsers($event)"></app-pagination>
						</div>
					</div>
				</div>

				<div class="row col-xs-12" *ngIf="showAllContactData">
					<div class="col-xs-12">
						<div
							*ngIf="!contactsByType.isLoading && contactsByType.contacts?.length == 0"
							class="alert alert-info">
							<h4>No results found</h4>
						</div>
						<div class="alert alert-success alert-dismissable col-xs-12"
							style="padding: 15px 10px 12px;"
							*ngIf="invalidDeleteSuccessMessage">
							<strong>Success!</strong> your {{checkingContactTypeName}}s has
							been deleted successfully.
						</div>
					</div> 
					<div class="col-xs-12" id="hidingListOfUsersTable"
						style="top: -13px; width: 104%; left: -6px;">
						<!-- BEGIN EXAMPLE TABLE PORTLET-->
						<div class="portlet box blue">
							<div class="portlet-title">
								<div class="caption">
									<span class="capitalize" *ngIf="contactsByType.selectedCategory != 'non-active'">{{contactsByType.selectedCategory}}
										{{checkingContactTypeName}} List</span>
									<span class="capitalize" *ngIf="contactsByType.selectedCategory == 'non-active'">Inactive
										{{checkingContactTypeName}} List</span>
								</div>
								<div class="btn-group pull-right"
									style="margin-top: 4px; color: #000000;"
									*ngIf="contactsByType.selectedCategory == 'invalid' && hasAllAccess || ( hasContactRole && loggedInUserId == uploadedUserId )">
									<span class="dropdown-toggle" data-toggle="dropdown" style="color: #FFF; box-shadow:none; margin-top: 8px; float:right;">
										<i class="fa fa-cog" style="font-size:20px; margin-right:5px"></i><i class="fa fa-angle-down" style="font-size:14px; float:right"></i>
									</span>
									<ul class="dropdown-menu pull-right">
										<li *ngIf="contactsByType.selectedCategory == 'invalid'"><a id="delete_button"
											(click)="invalidContactsShowAlert()"> Delete </a></li>
										<li><a id="delete_button"
										(click) = "downloadContactTypeList()"> Export To Excel </a></li>
									</ul>
								</div>
							</div>
							<div class="portlet-body">
								<div class="table-responsive">
									<app-loader [model]="httpRequestLoader.isHorizontalCss"
										*ngIf="httpRequestLoader.isLoading"></app-loader>
									<table class='table tgrid' id="sample_editable_1"
										*ngIf="!httpRequestLoader.isLoading">
										<thead>
											<tr>
												<th style="text-align: center;"
													*ngIf="contactsByType.selectedCategory == 'invalid'"><input
													type="checkbox" name="all"
													[(ngModel)]="isInvalidHeaderCheckBoxChecked"
													(change)="checkAllInvalidContacts($event)" class=""
													id="checkAllExistingInvalidContacts" /></th>
												<th style="width: 25%" *ngIf="isPartner">Entity info</th>
												<th style="width: 25%" *ngIf="!isPartner">NAME</th>
												<th>PHONE</th>
												<th>JOB TITLE</th>
												<th>ADDRESS</th>
												<!-- <th>MORE</th> -->
											</tr>
										</thead>
										<tbody>
											<ng-container
												*ngFor="let allcontacts of contactsByType.contacts;let i = index">
											<tr class='row_{{i}}'>
												<td *ngIf="contactsByType.selectedCategory == 'invalid'"
													align="center"><input type="checkbox"
													[checked]="selectedInvalidContactIds.indexOf(allcontacts.id)>-1"
													class="chk"
													[class.invalid-contacts-selected]="selectedInvalidContactIds.indexOf(allcontacts.id)>-1"
													lang="{{allcontacts.name}}" name="invalidContact[]"
													value="{{allcontacts.id}}" id="{{allcontacts.id}}"
													(click)="invalidContactsSelectedUserIds(allcontacts.id,$event)" />
												</td>
												<td *ngIf="isPartner">
													<app-user-info [isPartnerEntityInfo]="true" [isPartnerInfo]="true" [userInfo]="allcontacts"> </app-user-info>
												</td>
												<td *ngIf="!isPartner">
													<app-user-info  [userInfo]="allcontacts"> </app-user-info>
												</td>
												<td>
												<div *ngIf="allcontacts.mobileNumber" [class.disabled]="true" style="pointer-events: none !important; cursor: auto;">
													<int-phone-prefix [(ngModel)]="allcontacts.mobileNumber"  [ngModelOptions]="{standalone: true}"></int-phone-prefix>
													</div>
													<!-- <h5>
														<span *ngIf="allcontacts?.mobileNumber; else NA">{{allcontacts.mobileNumber}}</span>
													</h5> -->
												</td>
												<td>
													<h5 class='mb0'>{{allcontacts.jobTitle}}</h5>
													<!-- <h6 class='mt0' *ngIf="!isPartner">{{allcontacts.contactCompany}}</h6> -->
												</td>
												<td>
													<h5 *ngIf="allcontacts?.address" class='mb0'>{{allcontacts.address}}</h5>
													<h5 *ngIf="allcontacts?.city && allcontacts.country"
														class='mt0'>{{allcontacts.city}},&nbsp;{{allcontacts.country}}</h5>
												</td>
												<!-- <td>
													<button id='more_less_button_{{i}}'
														(click)="allcontacts.isShowDetails = ! allcontacts.isShowDetails">
														<span *ngIf="!allcontacts.isShowDetails">More</span> <span
															*ngIf="allcontacts.isShowDetails">Less</span>
													</button>
												</td> -->
												<ng-template #NA>N/A</ng-template>
											</tr>
											<!-- <tr
												[ngClass]="{'hidden': !allcontacts.isShowDetails, 'show-more': allcontacts.isShowDetails}">
												<td colspan="6">
													<table cellpadding="5" cellspacing="0"
														style="padding-left: 50px; margin-left: 55px;">
														<tbody>
															<tr>
																<td class='pt10 pb10 bold'>Notes:</td>
																<td class='pt10 pb10'>{{allcontacts.description}}</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr> -->
											</ng-container>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!--pager here  -->
						<app-pagination [pagination]="contactsByType.pagination" [type]="contactsByType.selectedCategory"
						(notifyParent)="setPage($event)" (notifyParentDropDown)="onChangeAllContactUsers($event)"></app-pagination>
					</div>
				</div>

			</div>
		</div>

	</div>

	<!-- modals -->


<div *ngIf="contactService.isContactModalPopup && !updateContactUser">
	<app-add-contact-modal [totalUsers]="contacts" [isContactTypeEdit]="true" [isUpdateUser] = "false"  (notifyParent)="addRow($event)" ></app-add-contact-modal>
</div>

<div *ngIf="contactService.isContactModalPopup && updateContactUser">
	<app-add-contact-modal [totalUsers]="contacts"  [contactDetails]="contactAllDetails" [isUpdateUser] = "isUpdateUser" (notifyParent)="updateContactListUser($event)"></app-add-contact-modal>
</div>

<app-export-csv *ngIf="refService.isDownloadCsvFile" [downloadListDetails]="downloadDataList" [downloadListName]="logListName"> </app-export-csv>

<!-- 	<div id="addContactModal" class="modal" id="addContactModal"
		tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog">

			Modal content
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" *ngIf="!updateContactUser" class="close-circle"
						data-dismiss="modal" (click)="addContactModalClose()"><i class="fa fa-times"></i></button>
					<button type="button" *ngIf="updateContactUser" class="close-circle"
						data-dismiss="modal" (click)="updateContactModalClose()"><i class="fa fa-times"></i></button>
					<a class="close-circle" data-dismiss="modal" (click)="addContactModalClose(); updateContactModalClose()"><i class="fa fa-times"></i></a>
					<h4 class="modal-title" *ngIf="!updateContactUser">Add {{checkingContactTypeName}}</h4>
					<h4 class="modal-title" *ngIf="updateContactUser">Edit {{checkingContactTypeName}}</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" autocomplete="off">
						<div class="form-inline">
							<label class="control-label col-sm-2" for="name"
								style="color: blue"><i class="glyphicon glyphicon-user"
								style="right: 11px" aria-hidden="true"></i></label>
							<div class="form-group col-sm-5">
								<input type="name" style="border: none" class="form-control"
									id="firstName" [(ngModel)]="addContactuser.firstName"
									[ngModelOptions]="{standalone: true}"
									placeholder="First Name" maxlength="250">
								<div class="textCss"></div>
							</div>
							<div class="form-group col-sm-5">
								<input type="name" style="border: none" class="form-control"
									id="lastName" [(ngModel)]="addContactuser.lastName"
									[ngModelOptions]="{standalone: true}"
									placeholder="Last Name" maxlength="250">
								<div class="textCss"></div>
							</div>
						</div>
						<div class="form-inline">
							<label class="control-label col-sm-2" for="company"
								style="color: #00bcd4; right: 11px !important"><i
								class="fa fa-building-o" style="right: 11px !important"
								aria-hidden="true"></i><span *ngIf="isPartner"
								style="color: red; margin-right: -9px;"> *</span></label>
							<div class="form-group col-sm-5">
								<input type="company" style="border: none" class="form-control"
									id="company" [(ngModel)]="addContactuser.contactCompany"
									(input)="contactCompanyChecking(addContactuser.contactCompany)"
									[ngModelOptions]="{standalone: true}"
									placeholder="Company" maxlength="250">
								<div class="textCss"></div>
							</div>
							<div class="form-group col-sm-5">
								<input type="title" style="border: none" class="form-control"
									id="title" [(ngModel)]="addContactuser.jobTitle"
									[ngModelOptions]="{standalone: true}"
									placeholder="Job Title" maxlength="250">
								<div class="textCss"></div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="email"
								style="color: #8512b7; left: 12px"><i
								class="fa fa-envelope-o" aria-hidden="true"></i><span
								style="color: red;"> *</span></label>
							<div class="col-sm-10" *ngIf="updateContactUser">
							  <h4 style="border: none;font-size: 15px; cursor: not-allowed;">{{addContactuser.emailId}}</h4>
							<div class="textCss"></div>
							</div>
							<div class="col-sm-10"  *ngIf="!updateContactUser">
								<input type="email" style="border: none" class="form-control"
									id="email"
									(blur)="checkingEmailPattern(addContactuser.emailId)"
									(input)="validateEmail(addContactuser.emailId)"
									[(ngModel)]="addContactuser.emailId"
									[ngModelOptions]="{standalone: true}"
									placeholder="email *" autocomplete="off" maxlength="250">
								<div class="textCss"></div>
								<div style="color: red" *ngIf="!validEmailPatternSuccess">Please enter a valid email address.</div>
								<div style="color: red" *ngIf="isEmailExist">This email address has already been added</div>
							</div>
						</div>
						<div class="form-group">
							<div class="form-inline">
								<label class="control-label col-sm-2" for="address"
									style="color: #53affe;"><i
									class="glyphicon glyphicon-home" aria-hidden="true"></i></label>
								<div class="form-group col-sm-4">
									<input type="address" style="border: none" class="form-control"
										id="address" [(ngModel)]="addContactuser.address"
										[ngModelOptions]="{standalone: true}"
										placeholder="Address" maxlength="250">
									<div class="textCss"></div>
								</div>
								<div class="form-group col-sm-3">
									<input type="city" style="border: none" class="form-control"
										id="city" [(ngModel)]="addContactuser.city"
										[ngModelOptions]="{standalone: true}" placeholder="City/Town" maxlength="44">
									<div class="textCss"></div>
								</div>
								<div class="form-group col-sm-3">
									<select class="form-control" style="border: none; width: 120%"
										class="form-control" [(ngModel)]="addContactuser.country"
										[ngModelOptions]="{standalone: true}" placeholder="Country">
										<option *ngFor="let country of countryNames.countries" [value]="country">{{country}}</option>
									</select>
									<input type="country" style="border:none" class="form-control" id="address" [(ngModel)]="addContactuser.country" [ngModelOptions]="{standalone: true}" placeholder="select country">
									<div class="textCss"></div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="phone"
								style="color: green"><i class="fa fa-phone"
								aria-hidden="true"></i></label>
								<div class="col-sm-10">
						<h1>{{title}}</h1>
						<div class="row">
							<div class="col-sm-10">
								<int-phone-prefix [(ngModel)]="addContactuser.mobileNumber" [ngModelOptions]="{standalone: true}"></int-phone-prefix>
								<input type="tel" id="demo" placeholder="">

							</div>
						</div>
						</div>
							<div class="col-sm-10">
								<input type="text"
									onkeypress="return event.charCode >= 48 && event.charCode <= 57"
									style="border: none" class="form-control" id="number"
									[(ngModel)]="addContactuser.mobileNumber"
									[ngModelOptions]="{standalone: true}"
									placeholder="Phone Number" maxlength="10" autocomplete="off">
								<div class="textCss"></div>

							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="note"
								style="color: #c3c308"><i
								class="glyphicon glyphicon-list" aria-hidden="true"></i></label>
							<div class="col-sm-10">
								<textarea name="note" style="border: none" class="form-control"
									id="note" [(ngModel)]="addContactuser.description"
									[ngModelOptions]="{standalone: true}" placeholder="Notes">
		     					</textarea>
								<div class="textCss"></div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer" *ngIf="!isPartner">
					<span style="float: left;">Note: * indicates required</span>
					<button type="submit" *ngIf="!updateContactUser" class="btn green"
						[disabled]="!checkingForEmail || isEmailExist"
						(click)="addContactsOption(AddContactsOption.ADDCONTACT);">Save</button>
				    <button type="submit" *ngIf="updateContactUser" class="btn green"
						[disabled]="!checkingForEmail || isEmailExist" (click)="updateContactListUser()">Update</button>
				</div>
				<div class="modal-footer" *ngIf="isPartner">
					<span style="float: left;">Note: * indicates required</span>
					<button type="submit" *ngIf="!updateContactUser" class="btn green"
						[disabled]="!checkingForEmail || isEmailExist || !isCompanyDetails"
						(click)="addContactsOption(AddContactsOption.ADDCONTACT);">Save</button>
				    <button type="submit" *ngIf="updateContactUser" class="btn green"
						[disabled]="!checkingForEmail || isEmailExist || !isCompanyDetails" (click)="updateContactListUser()">Update</button>
				</div>
			</div>

		</div>
	</div> -->
	<!-- closing modals -->

	<!-- BEGIN PAGE CONTENT-->
<div id="filterModal" class="modal fade" role="dialog"
		data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog" style="width: 53%;">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
				<!-- <button type="button" class="close"  (click)="cancelSegmentation()"
						data-dismiss="modal">&times;</button> -->
					<a class="close-circle" data-dismiss="modal" (click)="cancelSegmentation()"><i class="fa fa-times"></i></a>
					<h4 class="modal-title">Segmentation</h4>
				</div>
				<div class="modal-body" style="padding: 28px;">
					<div class="row">
						<div class="col-sm-12">
							<div class="row col-sm-11"
								*ngFor="let addRow of criterias; let i = index"
								style="padding-bottom: 10px;">
								<div class="form-group">
									<div class="form-inline col-sm-12">
										<div class="form-group col-sm-4">
											<select class="form-control"
												[(ngModel)]="criterias[i].property">
												<option
													*ngFor="let filterOption of filterOptions; let i = index">{{filterOption.value}}</option>
											</select>
										</div>
										<div class="form-group col-sm-3">
											<select class="form-control"
												[(ngModel)]="criterias[i].operation">
												<option
													*ngFor="let filterCondition of filterConditions; let i = index">{{filterCondition.value}}</option>
											</select>
										</div>
										<div class="form-group col-sm-3">
											<input type="text" class="form-control" placeholder="value*"
												[(ngModel)]="criterias[i].value1" required>
										</div>
										<div class="form-group col-sm-2"
											style="left: 85px; top: 3px; cursor: pointer;">
											<span (click)="cancelSegmentationRow(i)"> <i
												class="fa fa-trash-o" aria-hidden="true"
												style="color: red; font-size: 26px; margin-top: 6px"></i>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="row col-sm-1" style="margin-left: 32px;">
								<button type="button" class="btn btn-default pull-right"
									(click)="addNewRow()">
									<i class="fa fa-plus-square" aria-hidden="true"
										style="color: green"></i>
								</button>
							</div>
						</div>
					</div>
					<div class="col-xs-12 m0" *ngIf="isSegmentationErrorMessage">
						<h4 class="m0" style="color: red; text-align: center;">Please
							fill the required inputs:</h4>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn green"
						(click)="contactFilter()">Submit</button>
					<button type="button" class="btn green"
						(click)="cancelSegmentation()" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div *ngIf="contactsByType.contactListAssociatedCampaigns?.length && openCampaignModal">
<app-contacts-campaigns-mails [associatedCampaignDetails]="contactsByType.contactListAssociatedCampaigns" [isPartner]="isPartner"
[userEmails]="newUsersEmails" (notifyParent)="closeModal($event)"></app-contacts-campaigns-mails>
</div>
<!-- END PAGE CONTENT -->
