.dashboard-stat{margin:0!important}
a:hover{text-decoration:none}
a.disabled{pointer-events:none;cursor:not-allowed}
.pagination{margin:10px 4px 1px}
.tabbable-custom{box-shadow:0 0 5px rgba(0,0,0,.4)!important}
.custom-error-message{padding:5px;border:1px solid rgba(255,0,0,0.21);color:rgba(255,0,0,0.7);margin:5px 0;text-transform:capitalize}
.flex{display:flex}
.alert-info{background-color:#00a6e8;border-color:#00a6e8;border-radius:0}
.capitalize{text-transform:capitalize}
.dashboard-stat{margin:8px}
.alert h4{margin:5px;color:inherit;color:#fff;font-size:15px}
.alert{padding:10px}
.loader{border:2px solid #f3f3f3;border-radius:50%;border-top:3px solid #00a6e8;width:20px;height:20px;-webkit-animation:spin 2s linear infinite;animation:spin 2s linear infinite}
.alert-dismissible .close{top:5px;right:0}
.alert-success,.alert-danger,.alert-warning,.alert-info{color:#fff;border-radius:0;margin:0}
.alert-success{background-color:#77bf81}
.alert-danger{background-color:#ec6262}
.alert-warning{background-color:#f1d43b}
.alert-success,.alert-danger,.alert-warning> h5{font-size:16px}
100%{-webkit-transform:rotate (360deg);transform:rotate (360deg)}
.btn-tools{font-size:28px;color:#FFF;margin-top:10px;cursor:pointer}
.dashboard-stat .details .number{font-weight:600!important}
.loaderGif{ height: 57px; position: relative; top: -52px; right: -81px;}
#container { width: 511px;  padding-top: 0;   position: absolute; top: -1px;left: -4px;	font-family: helvetica, arial, sans-serif;}
h3 {
	background: #337ab7;
	background: -moz-linear-gradient(top, #e3e3e3, #c8c8c8);
	background: -webkit-gradient(linear, left top, left bottom, from(#16b2f4),
		to(#16b2f4));
	padding: 4px 23px;
	margin-left: -16px;
	margin-top: 3px;
	position: relative;
	width: 30%;
	font-size: 17px;
	z-index: 340;
	-moz-box-shadow: 1px 1px 3px #292929;
	-webkit-box-shadow: 1px 1px 3px #292929;
	box-shadow: 1px 1px 3px #292929;
	color: #fdfdfd;
}

.arrow {
	width: 0;
	height: 0;
	line-height: 0;
	border-left: 20px solid transparent;
	border-top: 10px solid #16b2f4;
	top: 102%;
	left: 0;
	position: absolute;
}
.numberCss { 	font-weight: 300 !important;}
.dashboard-stat .more{  bottom: -5px; position: relative;}
.dashboard-stat .visual{height:60px}
.dashboard-stat .details .number {  padding-top: 10px;}
.imageClassCss{ width: 60px; margin: 0px;}
.disabled { pointer-events: none; opacity: 0.7; }
.isProcessing {	opacity: 0.6;}
.saveAsCustomeCss{ position:absolute;  left: 60% !important; top: -64px !important;}
.center{ text-align: center;}
.search-css{  margin: 0 10px; float: left;}
.mobile-css{float: left;width: 100%; padding-right: 10px;}
.mobileSorting{ float: right; margin-right: 1px;}
.sortingContacts {float: left; margin-right: 10px; }
.filter-css{  left: 85px; top: 3px;cursor: pointer }
.mobile-view-filter{ left: 0px; top: 0px;cursor: pointer}
@media screen and (max-width:600px){ .modal-css{ width: 100% !important;} .modal-copy{width: 100% !important; }}
@media screen and (min-width:601px){ .modal-css{ width: 60% !important;} .modal-copy{width: 40% !important; }}

.override-actions{ margin: 0 auto; display: table;float: none !important; }
.grey{
  background-color: #8a8282c4;
}
.danger{
	color:red;
}
@media ( min-width : 768px) {
	.col-sm-5ths {
		width: 20% !important;
		float: left !important;
	}
}

.view-banner{
    background-color: #00a6e8;
    color: white;
    padding: 6px;
    text-align: center;
    width: 70px;
    margin: 0 auto;
    font-size:11px;
    font-weight:600;
	margin-bottom: 2px;
}

.view-banner-green{
	background-color: #26a69a;
}

.override-actions {
    margin: 0 auto;
    display: table;
    float: right!important;
}
.markas{
  color: #3598dc;
  border: 1px solid #3598dc;
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
}
.markas:hover{
  background: #008fd5;
  color: white;
}
.no-float{
	float: none !important;
}
.re-distributed-high-level {
	width: 80px;
	cursor: default;
	border-color: #00a6e8;
	border-radius: 3px !important;
	overflow: auto;
}

.sky-blue {
	color: #00a6e8;
}

.cw {
    width: 1%
}

.child-table-xamp {
    background-color: #f1f1f1;
}