.dashboard-stat {
  margin: 0 !important;
}
a:hover {
  text-decoration: none;
}
a.disabled {
  pointer-events: none;
  cursor: not-allowed;
}
.pagination {
  margin: 10px 4px 1px;
}
.flex {
  display: flex;
}
.alert-info {
  border-radius: 4px !important;
}
.capitalize {
  text-transform: capitalize;
}
.dashboard-stat {
  margin: 8px;
}
.alert h4 {
  margin: 5px;
  color: inherit;
  color: #fff;
  font-size: 15px;
}
.alert {
  padding: 10px;
}
.no-data-alert {
  padding: 8px;
}
.loader {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #00a6e8;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.alert-dismissible .close {
  top: 5px;
  right: 0;
}
.alert-success,
.alert-danger,
.alert-info {
  color: #fff;
  border-radius: 0;
  margin: 0;
}
.alert-success {
  background-color: #77bf81;
}
.alert-danger {
  background-color: #ec6262;
}
.alert-success,
.alert-danger {
  font-size: 16px;
}
100% {
  -webkit-transform: rotate (360deg);
  transform: rotate (360deg);
}
.loaderGif {
  height: 57px;
  position: relative;
  top: -52px;
  right: -81px;
}
#container {
  width: 511px;
  padding-top: 0;
  position: absolute;
  top: -1px;
  left: -4px;
  font-family: helvetica, arial, sans-serif;
}
h3 {
  background: #337ab7;
  background: -moz-linear-gradient(top, #e3e3e3, #c8c8c8);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#16b2f4),
    to(#16b2f4)
  );
  padding: 4px 23px;
  margin-left: -16px;
  margin-top: 3px;
  position: relative;
  width: 30%;
  font-size: 17px;
  z-index: 340;
  -moz-box-shadow: 1px 1px 3px #292929;
  -webkit-box-shadow: 1px 1px 3px #292929;
  box-shadow: 1px 1px 3px #292929;
  color: #fdfdfd;
}
.arrow {
  width: 0;
  height: 0;
  line-height: 0;
  border-left: 20px solid transparent;
  border-top: 10px solid #16b2f4;
  top: 102%;
  left: 0;
  position: absolute;
}
.numberCss {
  font-weight: 300 !important;
}
.dashboard-stat .more {
  bottom: -5px;
  position: relative;
}
.dashboard-stat .visual {
  height: 60px;
}
.dashboard-stat .details .number {
  padding-top: 10px;
}
.imageClassCss {
  width: 60px;
  margin: 0px;
}
.disabled {
  pointer-events: none;
  opacity: 0.7;
  cursor: not-allowed;
}
.isProcessing {
  opacity: 0.6;
}
.search-css {
  margin: 0 10px;
  float: left;
}
.mobile-css {
  float: left;
  width: 100%;
  padding-right: 10px;
}
.mobileSorting {
  float: right;
  width: 100%;
  padding-right: 10px;
}
.sortingContacts {
  float: left;
  margin-right: 10px;
  width: 50%;
  width: 45%;
}
.filter-css {
  left: 85px;
  top: 3px;
  cursor: pointer;
}
.mobile-view-filter {
  left: 0px;
  top: 0px;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .modal-css {
    width: 100% !important;
  }
  .modal-copy {
    width: 100% !important;
  }
}
@media screen and (min-width: 601px) {
  .modal-css {
    width: 60% !important;
  }
  .modal-copy {
    width: 40% !important;
  }
}
.override-actions {
  margin: 0 auto;
  display: table;
  float: none !important;
}
.grey {
  background-color: #8a8282c4;
}
.danger {
  color: red;
}
@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20% !important;
    float: left !important;
  }
  .col-sm-4ths {
    width: 25% !important;
    float: left !important;
  }
}
.view-banner {
  background-color: #00a6e8;
  color: white;
  padding: 6px;
  text-align: center;
  width: auto;
  margin: 0 auto;
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 2px;
}
.view-banner-green {
  background-color: #26a69a;
}
.override-actions {
  margin: 0 auto;
  display: table;
  float: right !important;
}
.markas {
  color: #3598dc;
  border: 1px solid #3598dc;
  border-radius: 3px;
  cursor: pointer;
  padding: 4px 10px;
}
.markas:hover {
  background: #008fd5;
  color: white;
}
.no-float {
  float: none !important;
}
.re-distributed-high-level {
  width: 80px;
  cursor: default;
  border-color: #00a6e8;
  border-radius: 3px !important;
  overflow: auto;
}
.sky-blue {
  color: #00a6e8;
}
.cw {
  width: 1%;
}
.mix-filter {
  margin: 0px;
}
.mix-filter li {
  font-size: 12px;
  text-transform: uppercase;
}
.contact-filter-selected {
  background-color: #6dcff6;
}
#header-custom-li-font {
  font-size: 16px;
  color: #888888;
}
.actions-msg {
  float: none !important;
  margin: 0 auto;
  display: table;
  font-weight: 500;
}
/****** 15-11-2022 *****/
.details {
  right: -7px !important;
}
/* sudha sri */
@media (max-width: 425px) {
  .pb5 {
    padding-bottom: 5px;
  }
}
@media (max-width: 768px) {
  .pb6 {
    padding-bottom: 6px;
  }
  .fz-16 {
    font-size: 16px !important;
  }
}
@media (max-width: 425px) {
  .pl {
    padding-left: 12px;
  }
}
@media only screen and (max-width: 768px) {
  .bar {
    width: 88% !important;
  }
}
@media only screen and (max-width: 425px) {
  .bar {
    width: 100% !important;
  }
}
.success {
  margin-top: -6px !important;
}
.pt5 {
  padding-top: 5px;
}
.table {
  margin-bottom: 15px;
}
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
.border {
  padding-left: 50px;
  margin-left: 55px;
}

/* 20-06-2023 */
.border-btn-small{
	border-radius: 4px;
  } 

/* 26-06-2023 */  
  .table-eye-circle {
    border: 1px solid #5bb2f5;
    color: #5bb2f5;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    text-align: center;
    line-height: 26px !important;
    vertical-align: middle;
    margin-right: 7px;
    font-size: 14px !important;
}
.table-eye-circle:hover {
  background: #5bb2f5;
    color: white;
  }