.error {
	color: red;
	background-color: #fff;
	position: absolute; 
	left: 0;right: 0;bottom: 0;top: 0; 
	display: flex; 
	justify-content: center; 
	align-items: center; 
}

.fa-exclamation {
	font-size: 1em;
}

.retry {
	min-width: 15em;
	border-radius: 0;
	margin: 1em 0;
}