rect:hover{opacity:.5}
.heatmap{min-width:100%;background:#eee url(https://i.stack.imgur.com/GIHQn.jpg) repeat;min-height:35px;margin-top:2em;display:flex}
.play-rect{fill:#00a6e8}
.pause-rect{fill:red;width:2px}
.skip-rect{fill:#fff}
rect:hover{cursor:pointer}
.heatmap>a{position:absolute}
.heatmap>.play{background:#00a6e8;display:table-cell}
.heatmap>.pause{background:red;display:table-cell}
.heatmap>.skip{background:#FFF;display:table-cell}
.heatmap-timeline>div{padding-top:10px;width:20%;text-align:center}
.play-box{background:#00a6e8}
.pause-box{background:red}
.skip-box{background:#FFF;border:1px solid #ccc}
.small-box{width:15px;height:15px;display:table-cell;margin:10px}
.p0{padding:0!important}
.flex{display:flex;width:100%}
