.view_task_card {
    background-color: #a9a9a92b;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 15px;
}

.ml-40 {
    margin-left: 40px;
}

.mr2 {
    margin-right: 2px;
}

.email_content {
    background-color: #a9a9a92b;
    border: 1px solid#ddd;
    padding: 10px;
    border-radius: 7px;
    height: 150px;
    overflow-y: auto;
}

.portlet.light {
    padding: 8px 12px !important;
    border-radius: 4px !important;
}

.bg-soft-info {
    position: relative;
    display: inline-block;
    padding: 6px 8px !important;
    margin: 3px 2px;
    font-size: 11px !important;
    background-color: #d7efff;
    border: 1px solid #ddd;
    color: #3175af;
    text-align: center;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
}

.avatar2 {
    background-color: #007bff;
    color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    margin-right: 11px;
}

.profile_header {
    display: flex;
    padding: 3px;
}

.email-id {
    display: flex;
}

.profile_info p {
    margin: 2px 0;
    font-size: 13px;
    color: #666;
    font-weight: 500;
}

.fs-10 {
    font-size: 11px !important;
}

.view_emailcard {
    background-color: #f6f9fc;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid #ddd;
}

.margin_right {
    margin: 16px 0px;
}

.img_wdt {
    width: 100%;
    border-radius: 50%;
}

.avatar2_v2 {
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    margin-right: 11px;
}