.zero-margin-xamp-campaign{
    margin-right: 0px;
}

.bar a{
    margin: 10px 1px;
}

.re-distributed-high-level {
	width: 120px;
	cursor: default;
	border-color: #00a6e8;
	border-radius: 3px !important;
	overflow: auto;
	color:#00a6e8;
}

.sky-blue {
	color: #00a6e8;
}

.i-custom-font{
	font-size: 30px;
	color: #00a6e8;
	margin-top: 8px;
}
.banner-top{
	margin-top:5px;
}
.custom-font-weight{
	font-weight: 600 !important;
	white-space: inherit !important;
}
.custom-font-size {
	font-size: 16px !important;
}

/* .re-distributed-high-level:hover{
  background-color: #ffffff !important;
} */

.campaign-refresh-style-fl{
    margin-left: 6px;
}

.mltpx{
	margin-left:-30px !important;
}

/* 06-07-2023 */
.active-campaigns-all-btns-oneinline span {
	white-space: break-spaces;
	line-height: 2.5;
  }
