.portlet.light > .portlet-title {
  padding: 0;
  margin: 0;
  min-height: auto;
}
.portlet.light > .portlet-title > .caption {
  padding: 5px 0;
}
.number {
  font-size: 15px;
}
.dashboard-stat2 {
  background: #fff;
  padding: 15px 15px 1px 15px;
  margin-bottom: 20px;
}
.p0 {
  padding: 0 !important;
}
.m0 {
  margin: 0 !important;
}
.center {
  text-align: center;
}
.campaign-box {
  position: relative;
}
.profile-name {
  font-weight: 600;
  margin: 0 0 5px 0;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.profile-details b {
  color: #333;
}
.profile-details a {
  color: #333;
}
.profile-img {
  width: 60px;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: 60px 60px;
  position: relative;
}
.profile-img img {
  position: absolute;
  bottom: 0;
  right: -5px;
}
a.social-stats h4 {
  font-weight: 700;
  text-align: center;
  margin: 0;
}
a.social-stats {
  text-align: center;
}
.google-color {
  color: #c63d2d;
}
.facebook-color {
  color: #3b5998;
}
.fa1 {
  font-size: 32px;
}
.fullscreen {
  cursor: pointer;
  padding: 8px;
}
.tooltip-css {
  cursor: pointer;
  color: #54a7e9;
}
@media screen and (max-width: 600px) {
  .mimg-circle {
    transform: scale(0.9);
  }
}
.social-border {
  background-color: #e5e5e5;
  height: 1px;
  border: 0;
  margin: 8px 0 0 0;
}
/* 16-06-2023 */
.customize-circle {
  height: 28px;
  width: 28px;
}
