<div class="col-sm-12 dashboard-stat2 rounded-0" style="padding: 25px;">
	<div id='full-calendar'></div>
</div>

<div class="modal fade" 
	id="full-calendar-modal-event-{{socialStatus.id}}" tabindex="-1"
	role="dialog" *ngFor="let socialStatus of socialStatusList">
	<div class="modal-dialog" role="document">
		<div class="modal-content rounded-0">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">x</span> <span class="sr-only">close</span>
				</button>
				<h4 id="full-calendar-modal-title" class="modal-title">Edit Post</h4>
			</div>
			<div id="full-calendar-modal-body" class="modal-body">
				<h4>{{socialStatus.statusMessage}}</h4>
				<div *ngIf="socialStatus.socialStatusContents?.length > 0">
					<span *ngFor="let socialStatusContent of socialStatus.socialStatusContents">
						<img *ngIf="socialStatusContent.fileType  == 'image'"
							alt="{{socialStatusContent.fileType}}"
							src="{{MEDIA_URL}}{{socialStatusContent.filePath}}?access_token={{accessToken}}"
							style="height: auto; width: auto; max-width: 175px; max-height: 175px;">
						<video *ngIf="socialStatusContent.fileType  == 'video'"
							width="100%" height="240" controls>
							<source
								src="{{MEDIA_URL}}{{socialStatusContent.contentPath}}?access_token={{accessToken}}"
								type="video/mp4">
						</video>
					</span>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-primary btn-sm uppercase rounded-0" (click)="editSocialStatus(socialStatus)">Edit</button>
				<button type="button" class="btn btn-dialog btn-sm uppercase rounded-0" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>