.logoCss{
  position: absolute;
  width: 91px;
  height: 1px;
  right: 15px;
  top: 15px;
  background: transparent;
  z-index: 99;
}
.logoFullscreen{
  position: absolute;
  top: 15px;
  width: 91px;
  background: transparent;
  z-index: 99;
  height: 58px;
  right: 17px;
}

@media only screen and (max-width:578px){
  .video-js{
    width: 100%!important;
  }
  .video_play{
    padding: 0px 12px!important;
  }
}
:host /deep/.video-js .vjs-big-play-button { 
 top:50%!important;
 left: 50%!important;
 transform: translate(-50px, -50px)!important;
}