#listview-serchbox {
    width: 198px !important;
}

@media only screen and (min-width: 992px) and (max-width:1238px) {  
    #listview-serchbox {
        width: 130px !important;
    }
    .dropdown-box-width {
        width: 110px;
    }
}
  