@media only screen and (min-width:768px) and (max-width:1135px) { 
    .modal-dialog {
      width: 70% !important;
  }
  }
  span.FieldName {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin-bottom: 3px;
  }
  .textDecoration{list-style-type: none;list-style-type: none;padding: 0px;margin: 0px;}
  ul.textDecoration li {
    display: inline;
    /* float: left; */
    /* width: 33%; */
    padding-right: 10px;
  }
  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* padding: 10px; */
  }
  .left-checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .right-buttons {
    display: flex;
    gap: 10px;
  }
  