<div class="row">
  <div class="col-md-12">
    <div class="portlet light light_bg_removal remove_space">
      <app-response-message [customResponse]="customResponse" *ngIf="customResponse.isVisible"></app-response-message>
      <div class="alert alert-info" style="padding: 10px;">
        {{properties.TEAM_MEMBER_APPROVAL_PREVILEGES_SETTING_HELPER_TEXT}}
      </div>
      <app-list-loader *ngIf="httpRequestLoader.isLoading"></app-list-loader>
      
      <div class="row m0">
        <div class="float-right input-icon right mb10">
          <input type="text" class="form-control" [(ngModel)]="searchKey" [ngModelOptions]="{standalone: true}"
            placeholder="Search..." (keypress)="searchDataOnKeyPress($event.keyCode)">
          <button *ngIf="searchKey" class="glyphicon glyphicon-remove search-box-item-clear"
            (click)="searchKey='';searchData();"></button>
          <button type="submit" class="search-box-item-click" (click)="searchData()"><i class="fa fa-search"
              aria-hidden="true"></i></button>
        </div>
      </div>

      <section>
        <div *ngIf="!httpRequestLoader.isLoading" class="table-responsive">
          <table class="table tgrid table-hover table-sm">
            <thead>
              <tr>
                <th scope="col" style="width: 60%;">Team Member Details</th>
                <th scope="col" class="check-box-alignment" *ngIf="authenticationService?.module?.damAccess">Assets</th>
                <th scope="col" class="check-box-alignment" *ngIf="authenticationService?.module?.lmsAccess">Tracks</th>
                <th scope="col" class="check-box-alignment" *ngIf="authenticationService?.module?.playbookAccess">
                  Playbooks</th>
              </tr>
            </thead>
            <tbody *ngFor="let approvalSettings of approvalControlSettingsDTOs">
              <tr>
                <td>
                  <app-user-info [isPartnerAnalyticsCompany]="true" [userInfo]="approvalSettings"></app-user-info>
                  <span *ngIf="approvalSettings?.role == 'admin'" class="view-banner" style="margin-left: 60px;" translate> Primary Admin </span>
                </td>
                <td *ngIf="authenticationService?.module?.damAccess">
                  <div id="text-color-my-profile" class="check-box-alignment">
                    <input type="checkbox" [ngModelOptions]="{standalone: true}"
                      [disabled]="approvalSettings?.anyAdminOrSupervisor || !approvalSettings?.hasDamRole || !assetApprovalEnabledForCompany"
                      data-toggle="tooltip" data-placement="top"
                      title="{{approvalSettings?.anyAdminOrSupervisor ? 'Approval Privilege Managers cannot be edited.' : (!assetApprovalEnabledForCompany ? properties.ASSET_REVIEW_DISABLED_TOOLTIP : (!approvalSettings?.hasDamRole && approvalSettings?.role != 'admin' ? properties.TEAM_MEMBER_NO_ACCESS_ASSETS_TOOLTIP : ''))}}"
                      class="pointer checkBox_shadow" [(ngModel)]="approvalSettings.assetApprover" value=""
                      (change)="updateCheckBox($event, approvalSettings, 'assetApprover')">
                  </div>
                </td>
                <td *ngIf="authenticationService?.module?.lmsAccess">
                  <div id="text-color-my-profile" class="check-box-alignment">
                    <input type="checkbox" [ngModelOptions]="{standalone: true}"
                      [disabled]="approvalSettings?.anyAdminOrSupervisor || !approvalSettings?.hasTrackRole || !tracksApprovalEnabledForCompany"
                      data-toggle="tooltip" data-placement="top"
                      title="{{approvalSettings?.anyAdminOrSupervisor ? 'Approval Privilege Managers cannot be edited.' : (!tracksApprovalEnabledForCompany ? properties.TRACK_REVIEW_DISABLED_TOOLTIP : (!approvalSettings?.hasTrackRole && approvalSettings?.role != 'admin' ? properties.TEAM_MEMBER_NO_ACCESS_TRACKS_TOOLTIP : ''))}}"
                      class="pointer checkBox_shadow" [(ngModel)]="approvalSettings.trackApprover" value=""
                      (change)="updateCheckBox($event, approvalSettings, 'trackApprover')">
                  </div>
                </td>
                <td *ngIf="authenticationService?.module?.playbookAccess">
                  <div id="text-color-my-profile" class="check-box-alignment">
                    <input type="checkbox" [ngModelOptions]="{standalone: true}"
                      [disabled]="approvalSettings?.anyAdminOrSupervisor || !approvalSettings?.hasPlaybookRole || !playbooksApprovalEnabledForCompany"
                      data-toggle="tooltip" data-placement="top"
                      title="{{approvalSettings?.anyAdminOrSupervisor ? 'Approval Privilege Managers cannot be edited.' : (!playbooksApprovalEnabledForCompany ? properties.PLAYBOOK_REVIEW_DISABLED_TOOLTIP : (!approvalSettings?.hasPlaybookRole && approvalSettings?.role != 'admin' ? properties.TEAM_MEMBER_NO_ACCESS_PLAYBOOKS_TOOLTIP : ''))}}"
                      class="pointer checkBox_shadow" [(ngModel)]="approvalSettings.playbookApprover" value=""
                      (change)="updateCheckBox($event, approvalSettings, 'playbookApprover')">
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

      <div class="alert alert-info text-center" *ngIf="pagination?.totalRecords == 0 && !httpRequestLoader.isLoading">
        <strong>No Data Found</strong>
      </div>

      <!--Pagination-->
      <div class="pdl-mgt" *ngIf="pagination?.totalRecords > 0 && !httpRequestLoader.isLoading">
        <app-pagination [pagination]="pagination"
          (notifyParentDropDown)="listTeamMembersForApprovalControlManagement($event)"
          (notifyParent)="paginateList($event)"></app-pagination>
      </div>

      <div *ngIf="!httpRequestLoader.isLoading" style="padding: 10px 0px;float: right;">
        <button (click)="saveOrUpdate()" [disabled]="pagination?.totalRecords == 0 || selectedList.length == 0"
          class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>