.zero-margin-xamp-campaign{
    margin-right: 0px;
}
@media screen and (max-width:578px){
    .mb-float-none{
        float: none!important;
    }
}
/*******Remove this after merging XNFR-374 */
.grid-box h6 {
    text-align: left !important;
    margin: 0px !important;
    width: 100% !important;
  }
  