
  <span  [style.color]="invalidAssetName ? 'red':''">
     <strong>{{headerText}}<span class="required">*</span></strong>
  </span>
  <app-response-message class="pg8" [customResponse]="customResponse" *ngIf="customResponse.isVisible && isReplaceVideo"></app-response-message>
  <!--Video Preview-->
  <div class="col-xs-12" *ngIf="isReplaceVideo">
   <div *ngIf="processing" class="row">
      <div class="alert alert-success alertMessageCustom loaderSymbol mb10">
         <span><img alt="" src="assets/images/loadbar.gif" class="loader-image-tag"></span>
         <span class="text-css" *ngIf="processing">{{properties.VIDEO_PROCESS_MESSAGE}}</span>
      </div>
   </div>
   <div class="col-xs-12 row" [ngClass]="{'upload-video-css': showVideoPreview}">
      <div *ngIf="showVideoPreview">
         <div>
            <div class="col-xs-12 col-sm-4 col-md-4 video-padding">
               <video *ngIf="browserInfo!=='safari'" id="my-video" controls
                  preload="auto">
                  <source [src]='videoPreviewPath' type='video/mp4'>
                  <source [src]='videoPreviewPath' type='video/quicktime'>
                  <source [src]="videoPreviewPath" type='video/x-msvideo'>
                  <source [src]="videoPreviewPath" type='video/mpeg'>
                  <source [src]="videoPreviewPath" type='video/dvd'>
                  <source [src]="videoPreviewPath" type='video/xvid'>
               </video>
               <img alt="" *ngIf="browserInfo==='safari'" src="assets/images/no-preview.jpg" style="border: 2px solid #00a6e8;" id="my-video">
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8">
               <div class="col-xs-12 col-sm-12 col-md-6">
                  <h3 [title]="uploadedAssetName"
                     style=" color: #00a6e8;font-weight: 550;font-size: 19px; ">
                     {{ trimVideoTitle(uploadedAssetName) }}</h3>
                  <h5
                     style="font-weight: 700;color: #929292;letter-spacing: 1px;">
                     {{(fileSize/1024/1024).toFixed(2) }} MB</h5>
                  <div class="progress">
                     <div
                        class="progress-bar progress-bar-info progress-bar-striped"
                        role="progressbar" aria-valuenow="20" aria-valuemin="0"
                        aria-valuemax="100"
                        [ngStyle]="{ 'width': progress + '%' }">
                        <span *ngIf="progress !== 0">{{progress}} %</span>
                     </div>
                  </div>
               </div>
               <div class="col-xs-12 col-sm-12 col-md-6 upload-button" nowrap
                  style="float: right;">
                  <button class="text-center video" *ngIf="processing">
                     <span *ngIf="processing"><i
                           class="glyphicon glyphicon-ok"></i></span>
                  </button>
                  <button [disabled]="processing==true || isDisableForm"
                     type="button" class="btn btn-danger btn-sm"
                     (click)="removefileUploadVideo()" translate>
                     <span class="glyphicon glyphicon-trash"></span> Remove
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div>
   </div>
   </div>

  <div class="row">
     <div class="col-md-6" [class.customDisableCss]='isDisable==true'>
        <div class="upload-asset-div" (click)="browse()" (drop)="chooseAsset($event)">
           <input type="file" (change)="chooseAsset($event)"  style="opacity: 0.0; position: absolute;" id="uploadedAsset">
           <div class="text-center card-template">
              <img class="img-templates" src="../../../assets/images/uploadimage.png" alt="No Image Found">
              <h2 class="upload-video" style="margin:-5px;padding-top: 5px;">{{headerText}}</h2>
              <h6 style="color: #717171;">{{properties.CONTENT_DRAG_MESSAGE}}</h6>
              <button class="button_blue bgcolor-unset" style="color:#fff">
                 <span class="btn btn-primary transition txt_pd-top3">Browse</span></button>
              <br><br>
              <span *ngIf="uploadedAssetName?.length>0">
                 <strong>File Name : {{uploadedAssetName | slice: 0:23}}</strong>
              </span>
              <span *ngIf="uploadedAssetName?.length==0">
                 <strong>No File Selected</strong>
              </span>
           </div>
        </div>
     </div>
     <div class="col-md-6" [class.customDisableCss]='isDisable==true'>
        <div class="upload-asset-div">
           <div class="text-center" style="margin-bottom:10px;">
              <br />
              <div
                 class="col-xs-6 col-sm-3 col-md-3 col-lg-3 text-center hidden-xs hidden-sm card-template">
                 <img src="assets/images/record.png" alt=""
                    data-toggle="tooltip" data-placement="bottom"
                    title="Click here to record using your webcam"
                    (click)="cameraChange()" height="50" width="auto"
                    class="camera img-templates"
                    style=" border: 5px; margin: 8px 0px;"
                    onMouseOver="this.style.opacity= 1"
                    onMouseOut="this.style.opacity= 0.7">
                 <div class="decfsize" style="font-weight: 600;color: #ea7b92; margin: 10px 0px;">WebCam</div>
              </div>
              <div
                 class="col-xs-4 col-sm-4 col-md-3 col-lg-3 text-center card-template">
                 <img src="assets/images/Dropbox.png"
                    class="dropBox img-templates" alt="" data-toggle="tooltip"
                    data-placement="bottom"
                    title="Click here to access videos from your Dropbox account"
                    (click)="dropBoxChange()" height="50" width="auto"
                    style="cursor:pointer; border: 1px; margin: 10px 0px;"
                    onMouseOver="this.style.opacity= 1"
                    onMouseOut="this.style.opacity= 0.7">
                 <div class="decfsize"
                    style="font-weight: 600;color: #55bede;margin: 8px 0px;"
                    translate>DropBox</div>
              </div>
              <div
                 class="col-xs-4 col-sm-4 col-md-3 col-lg-3 text-center margin-top-16 card-template">
                 <img src="assets/images/box.png" class="box img-templates"
                    alt="" data-toggle="tooltip" data-placement="bottom"
                    title="Click here to access videos from your Box account"
                    (click)="downloadFrombox()" height="50" width="auto"
                    style="cursor:pointer; border: 1px; margin: 8px 0px;"
                    onMouseOver="this.style.opacity= 1"
                    onMouseOut="this.style.opacity= 0.7">
                 <div class="decfsize"
                    style="font-weight: 600;margin: 10px 0px;color: #6eabd7;"
                    translate>Box</div>
              </div>
              <div
                 class="col-xs-4 col-sm-4 col-md-3 col-lg-3 text-center margin-top-16 card-template">
                 <img src="assets/images/GoogleDrive.png" alt=""
                    data-toggle="tooltip" data-placement="bottom"
                    class="googleDrive img-templates"
                    title="Click here to access videos from your GoogleDrive account"
                    (click)="googleDriveChange()" height="50" width="auto"
                    style="cursor: pointer; border: 1px; margin: 10px 0px;"
                    onMouseOver="this.style.opacity= 1"
                    onMouseOut="this.style.opacity= 0.7">
                 <div class="decfsize"
                    style="font-weight: 600; color: #eec24c; margin:8px 0px"
                    translate>GoogleDrive</div>
              </div>
              <span *ngIf="uploadedCloudAssetName?.length>0">
                 <strong>File Name : {{uploadedCloudAssetName | slice: 0:
                    23}}</strong>
              </span>
              <span *ngIf="uploadedCloudAssetName?.length==0">
                 <strong>No File Selected</strong>
              </span>
           </div>
           <br />
        </div>
     </div>
  </div>
  <div class="col-xs-12 p0 top10px md-padd">
     <div class="col-xs-12 message-content">
        <ul>
           <li translate>Maximum file size is 800 MB.</li>
        </ul>
     </div>
  </div>

  <div class="col-xs-12 p0 top10px md-padd">
   <button  class="btn Btn-Gray" id="right" style="margin-right: 20px;" type="button" (click)="cancel()">Cancel</button>
   <button [disabled]="this.customResponse.responseType=='ERROR' ||  isDisableForm || damUploadPostDto?.fileName?.length==0 "  id="right" style="margin-right: 0px;padding-top:1px;"
    class="button_blue bgcolor-unset pos_mar_rgt4" type="button" 
    (click)="this.customResponse.responseType!='ERROR' && !isDisableForm && damUploadPostDto?.fileName?.length>0
                && uploadVideo()">
      <span class="btn btn-primary transition">Update</span>
   </button>
</div>


<!--record video model popup start-->
<div class="modal right fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-cam" role="document">
     <div class="modal-content" style="border-radius:0">
        <div class="modal-header">
           <button [ngClass]="{customDisableCss: !closeModalId }" [disabled]="closeModalId ==false" type="button"
              class="closeModal close-circle" data-dismiss="modal" aria-hidden="true"
              (click)="recordModalPopupAfterUpload()"><i class="fa fa-times"></i></button>
           <h4 class="modal-title" id="myModalLabel"><strong translate>Record Video from WebCam</strong></h4>
        </div>
        <div class="modal-body" style="padding: 0px 10px 0px 10px;">
           <app-response-message [customResponse]="recordCustomResponse"
              *ngIf="recordCustomResponse.isVisible"></app-response-message>
           <form>
              <div class="input-group" style="width: 100%;">
                 <div>
                    <div id="script" style="display: block;">
                       <textarea id="script-text" class="record-textarea heading-top" [(ngModel)]="textAreaValue"
                          (ngModelChange)="textAreaEmpty()" [ngModelOptions]="{standalone:true}"
                          placeholder=" Don't forget what you want to say. Add your script here.">
                       </textarea>
                    </div>
                    <div id="scrollSpeedDiv" class="col-xs-12 col-md-12" style="padding:0">
                       <div class="col-xs-12 col-sm-4 col-md-4" style="padding:0" translate>Scroll Speed: 1
                          <span style="color: red;" translate> [fast]</span> - 10
                          <span style="color: red;" translate> [slow]</span>
                       </div>
                       <div class="col-xs-11 col-sm-7 col-md-7" style="padding:0">
                          <input type="range" [class.customDisableCss]="RecordSave==true || rageDisabled==true"
                             id="rangeDisabled" min="1" max="10" value="1" step="1" [(ngModel)]="changeVolume"
                             [ngModelOptions]="{standalone:true}" style="border: 0px solid #cecece; width:100%">
                       </div>
                       <div class="col-xs-1 col-sm-1 col-md-1" style="padding:0">
                          <span style="color: red;font-weight: bold;float:right">{{changeVolume}}</span>
                       </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3" style="float:right;padding:0">
                       <button class="btn btn-primary" type="button" value="Test Scroll Speed" (click)="testSpeed()"
                          style="float: right; margin-bottom: 4px;" *ngIf="testSpeedshow"
                          [disabled]="testSpeeddisabled ==true" translate>Test Scroll Speed</button>
                       <button class="btn btn-primary" type="button" value="Stop" (click)="stop()"
                          style="float: right; margin-bottom: 4px;" *ngIf="stopButtonShow"
                          [disabled]="stopButtonDisabled ==true" translate>Stop</button>
                    </div>
                 </div>
                 <video id="myVideo" class="col-xs-12 video-js vjs-default-skin"></video>
              </div>
              <div style="text-align: right;margin-bottom: 3px;margin-top: 3px;">
                 <div>
                    <button [disabled]="saveVideo==false" class="btn btn-primary" (click)="uploadRecordedVideo()"
                       translate>Upload</button>
                    <button [disabled]="discardVideo==false" class="btn btn-danger" role="button"
                       (click)="removeRecordVideo()" translate>Discard</button>
                 </div>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>