.note-vid {
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 10px;
  color: #00a8e7;
}
.list-icons-sm {
  height: 50px;
  width: 50px;
}
.bgc-lg::-webkit-scrollbar {
  display: none; /* Hide horizontal scrollbar */
}
.hide-scrollbar {
  overflow: hidden;
}

.BgForCard {
  background: #f1f5f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
}
@media screen and (min-width: 992px) {
  .card_margin {
    margin: 0 90px;
  }
}
@media screen and (min-width: 767px) and (max-width: 991px) {
  .card_margin {
    margin: 0 60px;
  }
}

.note-vid2 {
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 10px;
}