.note-vid {
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 10px;
  color: #00a8e7;
}
.list-icons-sm {
  height: 50px;
  width: 50px;
}
.bgc-lg::-webkit-scrollbar {
  display: none; /* Hide horizontal scrollbar */
}
.hide-scrollbar {
  overflow: hidden;
}
