.timeline-item {
  background: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  padding: 12px;
  margin: 0 auto;
}
.animated-background-waver {
  animation: dashboard-loader-animation 1s infinite ease-in-out;
  background-size: 800px 104px;
  height: 96px;
  position: relative;
}
@keyframes dashboard-loader-animation {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }
  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }
  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}
