.div-loader {
    padding: 5px 5px 10px 10px;
    background-color: #fff;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
    border-radius: 0;
    margin: 1em;
    height: 500px;
    position: relative;
  }
  #process-loader {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  .profile-image-wrapper {
    display: block;
    width: 100%;
    height: auto;
    background: #fff;
    padding: 1px;
    margin: 0 auto;
    border: 2px dotted #ddd;
    position: relative;
  }
  .profile-image-wrapper:hover .profile-overlay {
    width: 100%;
    background: #111;
    position: relative;
    bottom: 35px;
    left: 0;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
  }
  .profile-image {
    width: auto;
    height: 93%;
    max-width: 100%;
    max-height: 100%;
  }
  .profile-pic {
    position: absolute;
    margin-top: 9px;
    left: -2px;
    border: none;
  }
  a:hover {
    text-decoration: none;
  }
  .disabled .progress-bar {
    background: #ebebeb !important;
    width: 100% !important;
  }
  .disabled i {
    color: #898989 !important;
  }
  .panel-heading {
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
  }
  .panel-default {
    border-color: #ffffff;
  }
  .divider {
    border: 1px solid #f1f1f1;
    width: 93%;
    margin: 0 auto;
    margin: 1em auto;
  }
  svg {
    margin: 0 auto;
  }
  .icon {
    font-size: 23px !important;
    padding-top: 8px !important;
    position: absolute !important;
    left: 2px !important;
    bottom: 4px !important;
  }
  @media screen and (max-width: 600px) {
    .imgCrop-modal {
      width: 100%;
    }
  }
  @media screen and (min-width: 601px) {
    .imgCrop-modal {
      width: 40% !important;
    }
  }
  .blur-content {
    -webkit-filter: url(#svg-blur);
    filter: url(#svg-blur);
    pointer-events: none;
    tab-index: -1;
  }
  #right {
    float: right;
  }
  #check-user {
    margin-top: 26px;
    display: none;
  }
  .img-grid {
    height: 42px;
    width: 120px;
  }
  @media screen and (max-width: 600px) {
    .mPadCompanyProfile {
      padding-left: 15px !important;
    }
    .mPad1 {
      padding-right: 0px !important;
      padding-left: 0px !important;
    }
    .mPad2 {
      padding-left: 2px !important;
      padding-right: 0px !important;
    }
  }
  .image-border {
    padding: 0px 0px 0px 0px !important;
    border: 1px solid #eaeaea;
    border-radius: 4px !important;
  }
  .dotted-image-border {
    cursor: pointer;
    text-align: center;
    color: #fff;
  }
  .company-details-border {
    padding-left: 17px !important;
    padding-right: 17px !important;
    border-radius: 4px !important;
    border: 1px solid #eaeaea;
    padding-bottom: 48px !important;
  }
  .alert-success {
    background-color: #dff0d8 !important;
    border-radius: 3px !important;
    color: #3c763d !important;
  }
  /* 26-07-2023 */
  .partlet-cardbody {
    text-align: center;
    padding: 12px 20px;
  }
  .responsive-screen-wordwrap {
    word-wrap: break-word;
  }
  .fav-icon-responsive {
    height: 94px !important;
    width: 94px !important;
    object-fit: fill;
    margin-left: -12px;
  }
  .fav-icon-image-profile-wrapper {
    width: 70% !important;
    height: 100px !important;
  }
  .fav-img-grid {
    height: 100px;
    width: 120px;
  }
  .margin-61 {
    margin-top: 61px !important;
  }
  .bg-image-responsive {
    width: 180px !important;
    height: 100px !important;
  }
  .bg-img-grid {
    height: 95px;
    width: 145px;
  }
  .bg_color {
    /* margin: 0px 17px; */
    background-color: #f0f3fa;
    width: 100%;
    padding: 0px 10px;
    border-radius: 3px;
  }
  .upload-imgheight {
    height: 115px;
  }
  .edit_account{
    border: 1px solid #e5e5e5;
    border-radius: 3px;
  }
  .panel-header{
   padding:6px 10px;
  }
  .panel-account{
  padding: 10px;
  background-color: #eeeeee;
  border-radius: 3px;
  margin: 10px 10px;
  }
  
  .nav-tabs {
    display: inline-flex;
    width: 100%;
    overflow-x: auto;
    border:none;
    -ms-overflow-style: none; /*// IE 10+*/
    overflow: -moz-scrollbars-none;/*// Firefox*/
    /* background: #dddddd69; */
    }
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:hover {
        border-width: 0;
    }
    .nav-tabs>li>a {
        border: none;
        color: #666;
        text-align: center;
    }
    .nav-tabs>li.active>a,
    .nav-tabs>li>a:hover {
        border: none;
        color: #333;
        background: #ddd;
    }
    .nav-tabs>li.active>a::after,
    .nav-tabs>li:hover>a::after {
        transform: scale(1);
    }
    .tab-pane {
        padding:5px 0;
    }
    .nav-tabs::-webkit-scrollbar {
        display: none; /*Safari and Chrome*/
    }
    li#tabWidthCu {
        width: 25%;
        background: #dddddd69;
    } 

    .width50 {
      width: 50% !important;
    }

    .custom-login{
      background: #f1f5f9;
      margin-right: 0px;
      padding: 10px;
      border-radius: 4px;
    }
    .preview_img{
      text-align: center;
      background-color: #f1f5f9;
      padding: 10px;
      border-radius: 4px;
  }
  .imgpreview{
    width: 100%;
    height: 120px;
  }
  @media screen and (max-width:600px){
    .mt_15{
     margin-top:15px;
    }
    .mb_15{
      margin-bottom: 15px;
    }
    .custom-login{
      margin-right: 0px;
    }
  }

  .sidePaddingsAbjustment {
    padding: 0px 5px !important;
  }
  .row.fullRowCuPaddings {
    padding: 0px 10px;
  }[type="checkbox"] {
    vertical-align: sub;
    width: 16px;
    height: 16px;
  }
  .grid-box img {
    margin: 0 auto;
    height: 230px;
    width: 100% !important;
    border-radius: 5px;
    object-fit: cover;
  }
  .grid-box {
    padding-bottom: 0px !important;
  }
  .sidePaddingsAbjustment {
    padding: 0px 5px !important;
  }
  .row.fullRowCuPaddings {
    padding: 0px 10px;
  }
  
  @media only screen and (min-width: 1200px) and (max-width: 1300px) {  
    h4.fontDecinModes {
      font-size: 13px !important;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1200px) {  
    h4.fontDecinModes {
      font-size: 10px !important;
    }
  }
  @media only screen and (min-width: 300px) and (max-width: 600px) {  
    .grid-box img{
      height: auto;
    }
  }
  span.select-check-box {
  position: absolute;
  background: #fff;
  padding-top: 1px;
  padding-right: 3px;
  padding-bottom: 0px;
  padding-left: 3px;
  border-radius: 3px;
  left: 0;
  margin-top: 2px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 1px;
  height: 23px;
}
input[type=radio] {
  appearance: none;
  background-color: #fff;
  width: 17px;
  height: 17px;
  border: 2px solid #ccc;
  border-radius: 2px;
  display: inline-grid;
  place-content: center; 
}

input[type=radio]::before {
  content: "";
  width: 10px;
  height: 10px;
  transform: scale(0);
  transform-origin: bottom left;
  background-color: #fff;
  clip-path: polygon(13% 50%, 34% 66%, 81% 2%, 100% 18%, 39% 100%, 0 71%);
}

input[type=radio]:checked::before {
  transform: scale(1);
}
input[type=radio]:checked{
  background-color:   #0075FF;
  border: 2px solid #0075FF;
}

.template-selected-border {
  box-shadow: 0 0 0 0.5px #54a7e9;
  border-radius: 5px;
}
.grid-box.template-selected-border {
  border: none !important;
}
  