<div class="portlet-title tabbable-line" [ngClass]="name.hasError('required')?'min-height':''">
  <div class="caption caption-md col-xs-12"></div>
  <div class="" style="min-height: 73px;">Theme Name
    <label class="control-label">
      <span class="star">*</span>
    </label>
    <div class="form-group" style="padding-left:113px;margin-top: -40px;">
      <input type="name" placeholder="Enter Name" class="form-control border-alignment" [value]="sname"
        [(ngModel)]="sname" (ngModelChange)="changEvent($event)" (input)="loadNames()" name="name" required id="name"
        #name="ngModel" maxlength="250">
      <!-- <div *ngIf="name.hasError('required')">
        <p class="danger" translate>Name is required</p>
      </div> -->
      <!-- <div *ngIf="isValidContactName">
        <p class="danger" translate>{{invalidContactNameError}}</p>
      </div>
      <div *ngIf="!isValidContactName">
      </div>
      <div class="textCss"></div> -->
    </div>
    <div class="btn-group" style="float: right;">
      <button class="button_blue padding align bgcolor-unset" style="border-radius: 3px;">
        <span class="btn btn-primary transition text_pd-top1">Save</span>
      </button>
    </div>
  </div>
</div>
<div class="alert alert-danger" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>