li .disabled {
  pointer-events: none;
  opacity: 0.6;
}
.cw {
  width: 65% !important;
}

.mdf-bgcolor {
  height: 639px;
  background: #f1f1f1;
}
.border-right {
  border-right: 1px solid #dddd;
}
.border-bottom {
  border-bottom: 1px solid #ddd;
}
.right-border {
  border-right: 1px solid #d8d4d4;
}
.h-205 {
  height: 205px;
}
.h-260 {
  height: 260px;
}

/* 22-08-2023 */
.zeroMarginRow {
  margin-right: 0px;
  margin-left: 0px;
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .tabheight {
    height: 640px !important;
  }
}

/* sudha sri (28-8-2023) */
.border-bottom-1px {
  border-bottom: 1px solid #ddd;
}

label.labelTextStyle{
  font-size: 15px;
  font-weight: 600;
  display: block;
}
label.labelTextStyle1{
  font-size: 14px;
  color: #65b6e4;
}
label.labelTitleFonts{
  font-size: 15px;
  font-weight: 600;
}
.cardTextFontsize{
  font-size: 13px !important;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  label.labelTextStyle{
    font-size: 12px;
  }
  label.labelTextStyle1{
    font-size: 12px;
  }
  label.labelTitleFonts{
    font-size: 12px;
  }
  .cardTextFontsize{
    font-size: 12px !important;
  }
  
}