<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="page-content">
   <div class="page-bar">
      <ul class="page-breadcrumb">
         <li><i class="fa fa-home" aria-hidden="true"></i> 
            <a [routerLink]="referenceService.homeRouter" translate>Home</a> 
            <i class="fa fa-angle-right" aria-hidden="true"></i>
         </li>
         <li><a translate>DAM</a></li>
      </ul>
      <div class="edit-mdf-form-margin" id="right">
         <button class="add-button-xamplify"  translate>Upload</button>
         <button class="add-button-xamplify"  translate>Create Template</button>
         <button class="add-button-xamplify" translate>Partner</button>
     </div>
   </div>
   <div class="row">
      <div class="portlet box"> 
         <div class="clearfix">
          <div class="col-xs-12">
            <div class="portlet box blue">
               <div class="portlet-title">
                  <div class="caption" translate>
                     <i class="fa fa-list" style="font-size: 19px;" aria-hidden="true"></i>
                     Assets
                  </div>
                  <!-- <div class="inputs"  style="float: right; padding: 4px">
                     <div style="float: left; margin: 0 10px;">
                       <select class="form-control" [(ngModel)]="sortOption.userLevelCampaignAnalyticsSortOption" (ngModelChange)="sortBy($event)">
                         <option *ngFor="let option of sortOption.userLevelCampaignAnalyticsSortDropDownOptions"
                             [ngValue]="option" translate>
                             {{option.name}}</option>
                     </select>
                     </div>
                     <div class="portlet-input input-inline">
                        <div class="input-icon right">
                           <input type="text" id="sort-text" class="form-control" [(ngModel)]="sortOption.searchKey" [ngModelOptions]="{standalone: true}" placeholder="Search" (keypress)="eventHandler($event.keyCode)">
                           <button class="glyphicon glyphicon-remove search-box-item-clear"  *ngIf="sortOption.searchKey" (click)="sortOption.searchKey='';searchCampaigns();"></button>
                           <button type="submit" class="search-box-item-click" (click)="searchCampaigns()"><i class="fa fa-search" style="color:black !important" aria-hidden="true"></i></button>
                        </div>
                     </div>
                  </div> -->
               </div>
               <div class="portlet-body table-responsive" style="overflow: hidden;">
                  <div class="clearfix">
                     <div class="col-xs-12" style="padding: 10px 0;">
                        <div class="table-responsive">
                           <table class='table tgrid' aria-describedby="assets-list-table">
                              <thead>
                                 <tr>
                                    <th translate>Asset Name</th>
                                    <th translate>Description</th>
                                    <th translate>Uploaded Time</th>
                                    <th translate>Uploaded By</th>
                                    <th class='text-center' translate>Actions</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                    <td>
                                       xAmplify.jpg
                                    </td>
                                    <td>
                                       <span>Description</span>
                                    </td>
                                    <td>
                                       Sep 4,2020
                                    </td>
                                    <td>
                                        Sravan Kumar
                                    </td>
                                    <td style="text-align: center;">
                                        <div class="override-actions">
                                           <a title="Download">
                                           <i class="fa fa-download action-btn-dam" aria-hidden="true"></i>
                                           </a>
                                           <a  title="Publish">
                                            <i class="fa fa-share action-btn-dam" aria-hidden="true"></i>
                                            </a>
                                            <a  title="Delete">
                                             <i class="fa fa-trash action-btn-dam" aria-hidden="true"></i>
                                             </a>
                                        </div>
                                     </td>
                                </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>


                  </div>
                  </div>


            </div>
          </div>
         </div>
      </div>
   </div>
   </div>