.thumbnail-wrapper{
    float: left;
    width: 144px;
    height: 81px;
    background-color: #f1f1f1;
    text-align: center;
    position: relative;
}

.title-div {
    margin-left: 10px;
    float: left;
    text-align: left !important;
}

#uploadDamButton{
    border-radius: 3px !important;
}

#right{
    margin-top: 2px !important;
}