.thumbnail-wrapper{
    float: left;
    width: 175px;
	height: 60px;
    background-color: #ffffff;
    text-align: center;
    position: relative;
    border: 1px solid #ccc;
}

.title-div {
    margin-left: 10px;
    float: left;
    text-align: left !important;
}

#uploadDamButton{
    border-radius: 3px !important;
}

#right{
    margin-top: 2px !important;
}