<div class="page-content">
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
   <div class="page-bar">
      <ul class="page-breadcrumb">
         <li><i class="fa fa-home" aria-hidden="true"></i> 
            <a [routerLink]="referenceService.homeRouter" translate>Home</a> 
            <i class="fa fa-angle-right" aria-hidden="true"></i>
         </li>
         <li><a translate>DAM</a></li>
      </ul>
      <div class="edit-mdf-form-margin" id="right">
         <button class="add-button-xamplify"  translate>Upload</button>
         <button class="add-button-xamplify" (click)="addAsset()" translate>Create Template</button>
         <button class="add-button-xamplify" translate>Partner</button>
     </div>
   </div>
   <!---Component Comes here-->
   <app-dam-list-and-grid-view></app-dam-list-and-grid-view>
   </div>