.portlet.light .portlet-body {
  padding-top: 0px !important;
}
h5 {
  font-size: 14px !important;
  font-weight: 400 !important;
}
a {
  text-shadow: none;
  color: #5b9bd1;
}
.port-heading {
  padding-left: 10px !important;
  padding-top: 10px !important;
  background: #f1f1f1;
}
.row-space {
  margin-top: 20px;
  margin-right: 0px;
  margin-left: 0px;
  padding-bottom: 10px;
}
.h5-heading {
  font-weight: 600 !important;
  border-bottom: 1px solid #dddd;
  padding-bottom: 14px;
  padding-left: 18px;
}
::-webkit-scrollbar {
  width: 15px;
  background: lightgray;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 0px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: green;
  border-radius: opx;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: green;
}
