
 <!-- Manage MDF component UI starts-->
 <div>
   <div class="row">
      <div class="col-md-12 col-lg-12">
         <div class="portlet light" style="height:275px">
            <div class="col-md-12 col-lg-12">
               <div class="row">
                  <div class="col-md-8 col-lg-8 pr0">
                     <div class="row">
                        <!-----S t a r t-->
                        <div class="col-md-12 col-lg-12" style="padding: 40px 40px 0px 17px;">
                          <div class="portlet light" style="padding: 0px 0px!important;height: 100px;">
                             <div class="portlet-title port-heading">
                                <div class="caption" style="color:#000!important;">
                                   Agency Details
                                </div>
                             </div>
                             <div class="row row-space">
                                <div class="col-md-6 col-lg-6 pr0" style="border-right: 1px solid #d8d4d4;">
                                   <div>
                                      <div class="col-md-10 col-lg-10 pl0">
                                         <label style="font-size: 14px;color: #65b6e4;">StratApps Pvt Solutions</label>
                                      </div>
                                   </div>
                                </div>
                                <div class="col-md-6 col-lg-6 ">
                                   <label style="font-size: 14px;color: #65b6e4;">Aug 05,2022 10:30 PM</label>
                                </div>
                             </div>
                             <br>

                             <div class="row">

                                <div class="col-sm-4">
                                   <div class="table table-responsive">
                                      <table class="table table-bordered table-hover">
                                         <tbody>
                                               <tr>
                                                  <th _ngcontent-c62="" scope="row">
                                                     <i _ngcontent-c62="" aria-hidden="true" class="fa fa-handshake-o mrfpx"></i>
                                                     All
                                                     <br _ngcontent-c62="">
                                                  </th>
                                               </tr>
                                               <tr>
                                                  <th _ngcontent-c62="" scope="row">
                                                     <i _ngcontent-c62="" aria-hidden="true" class="fa fa-handshake-o mrfpx"></i>
                                                     Partner
                                                     <br _ngcontent-c62="">
                                                  </th>
                                               </tr>
                                               <tr>
                                                  <th _ngcontent-c62="" scope="row">
                                                     <i _ngcontent-c62="" aria-hidden="true" class="fa fa-handshake-o mrfpx"></i>
                                                     Contacts
                                                     <br _ngcontent-c62="">
                                                  </th>
                                               </tr>
                                               <tr>
                                                  <th _ngcontent-c62="" scope="row">
                                                     <i _ngcontent-c62="" aria-hidden="true" class="fa fa-handshake-o mrfpx"></i>
                                                     Video
                                                     <br _ngcontent-c62="">
                                                  </th>
                                               </tr>
                                               <tr>
                                                  <th _ngcontent-c62="" scope="row">
                                                     <i _ngcontent-c62="" aria-hidden="true" class="fa fa-handshake-o mrfpx"></i>
                                                     Design
                                                     <br _ngcontent-c62="">
                                                  </th>
                                               </tr>
                                         </tbody>
                                      </table>
                                   </div>
                                </div>

                                 <div class="col-sm-4">
                                 <div class="table table-responsive">
                                    <table class="table table-bordered table-hover">
                                       <tbody>
                                             <tr>
                                                <th _ngcontent-c62="" scope="row">
                                                   <i _ngcontent-c62="" aria-hidden="true" class="fa fa-handshake-o mrfpx"></i>
                                                   All
                                                   <br _ngcontent-c62="">
                                                </th>
                                             </tr>
                                             <tr>
                                                <th _ngcontent-c62="" scope="row">
                                                   <i _ngcontent-c62="" aria-hidden="true" class="fa fa-handshake-o mrfpx"></i>
                                                   Partner
                                                   <br _ngcontent-c62="">
                                                </th>
                                             </tr>
                                             <tr>
                                                <th _ngcontent-c62="" scope="row">
                                                   <i _ngcontent-c62="" aria-hidden="true" class="fa fa-handshake-o mrfpx"></i>
                                                   Contacts
                                                   <br _ngcontent-c62="">
                                                </th>
                                             </tr>
                                             <tr>
                                                <th _ngcontent-c62="" scope="row">
                                                   <i _ngcontent-c62="" aria-hidden="true" class="fa fa-handshake-o mrfpx"></i>
                                                   Video
                                                   <br _ngcontent-c62="">
                                                </th>
                                             </tr>
                                             <tr>
                                                <th _ngcontent-c62="" scope="row">
                                                   <i _ngcontent-c62="" aria-hidden="true" class="fa fa-handshake-o mrfpx"></i>
                                                   Design
                                                   <br _ngcontent-c62="">
                                                </th>
                                             </tr>
                                       </tbody>
                                    </table>
                                 </div>
                                 </div>

                                 <div class="col-sm-4">
                                    <div class="table table-responsive">
                                       <table class="table table-bordered table-hover">
                                          <tbody>
                                                <tr>
                                                   <th _ngcontent-c62="" scope="row">
                                                      <i _ngcontent-c62="" aria-hidden="true" class="fa fa-handshake-o mrfpx"></i>
                                                      All
                                                      <br _ngcontent-c62="">
                                                   </th>
                                                </tr>
                                                <tr>
                                                   <th _ngcontent-c62="" scope="row">
                                                      <i _ngcontent-c62="" aria-hidden="true" class="fa fa-handshake-o mrfpx"></i>
                                                      Partner
                                                      <br _ngcontent-c62="">
                                                   </th>
                                                </tr>
                                                <tr>
                                                   <th _ngcontent-c62="" scope="row">
                                                      <i _ngcontent-c62="" aria-hidden="true" class="fa fa-handshake-o mrfpx"></i>
                                                      Contacts
                                                      <br _ngcontent-c62="">
                                                   </th>
                                                </tr>
                                                <tr>
                                                   <th _ngcontent-c62="" scope="row">
                                                      <i _ngcontent-c62="" aria-hidden="true" class="fa fa-handshake-o mrfpx"></i>
                                                      Video
                                                      <br _ngcontent-c62="">
                                                   </th>
                                                </tr>
                                                <tr>
                                                   <th _ngcontent-c62="" scope="row">
                                                      <i _ngcontent-c62="" aria-hidden="true" class="fa fa-handshake-o mrfpx"></i>
                                                      Design
                                                      <br _ngcontent-c62="">
                                                   </th>
                                                </tr>
                                          </tbody>
                                       </table>
                                    </div>
                                 </div>

                               
                             </div>
                          </div>
                        </div>
                     </div>
                  </div>
                  <!--VEndor ompn-->
                  <div class="col-md-4 col-lg-4 pr0" style="background: #f1f1f1;">
                     <div class="row">
                        <div class="col-md-12 col-lg-12 pl0">
                           <h5 class="h5-heading">Vendor Company Info</h5>
                        </div>
                        <div class="col-md-12 col-lg-12">
                           <div class="row" style="margin-right: 0px;border-bottom: 1px solid #ddd;padding-bottom: 10px;">
                              <div class="col-md-2 col-lg-2" style="padding-top: 15px;">
                                <img _ngcontent-c8="" alt="" class="img-circle" src="https://aravindu.com/vod/images/1/16062022/1655356654645/company-profile-logo/1655356654797.jpg">
                              </div>
                              <div class="col-md-10 col-lg-10 " style="padding-left: 34px!important;">
                                 <label style="font-size: 15px;font-weight: 600;">Demo PVT LTD</label><br>
                                 <label style="font-size: 14px;color: #65b6e4;overflow: hidden;"><a>https://themeforest.net/search/angular</a></label><br>
                                 <label style="font-size: 15px;font-weight: 600;">Phone : 040-12345678</label>
                              </div>
                           </div>
                        </div>
                        <p style="margin-left: 20px;"><strong>Vendor Contact</strong></p>
                        <div class="col-md-12 col-lg-12">
                           <div class="row" style="margin-right: 0px;border-bottom: 1px solid #ddd;padding-bottom: 10px;">
                              <div class="col-md-2 col-lg-2" style="padding-top: 15px;">
                                <img _ngcontent-c8="" alt="" class="img-circle" src="https://aravindu.com/vod/images/54888/16062022/profilePicture/1655356754042.jpg">
                              </div>
                              <div class="col-md-10 col-lg-10 " style="padding-left: 34px!important;">
                                 <label style="font-size: 15px;font-weight: 600;">Chowdam Sravan</label><br>
                                 <label style="font-size: 15px;font-weight: 600;">csravan@stratapps.com</label><br>
                                 <label style="font-size: 15px;font-weight: 600;">Mobile Number : 9618296172</label>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
 </div>
