.div-loader {
    padding: 5px 5px 10px 10px;
    background-color: #fff;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
    border-radius: 0;
    margin: 1em;
    height:500px;
    position: relative;
}
#process-loader{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.profile-image-wrapper {
    display: block;
  width: 224px;
    height: auto;
    background: #fff;
    padding: 1px;
    margin: 0 auto;
    border: 2px dotted #ddd;
    position: relative;
  }
.profile-overlay, .banner-overlay {
    display:none;
}
.profile-image-wrapper:hover .profile-overlay {
    width: 100%;
    background: #111;
    position: relative;
    bottom: 35px;
    left: 0;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
}

.banner-image-wrapper {
    position: relative;
    height: 80px;
    margin-bottom: 100px;
}

.profile-image {
    width: auto;
    height: 93%;
    max-width: 100%;
    max-height: 100%;
}
.profile-pic {
    position: absolute;
    margin-top: 9px;
    left: -2px;
    border: none;
}

a:hover{ text-decoration:none}
.smpl-step > .smpl-step-step {padding: 0; position: relative;}
.smpl-step > .smpl-step-step > .smpl-step-icon {position: absolute; width: 70px; height: 70px; display: block; background: #008fd5; top: 45px;
left: 50%; margin-top: -35px; margin-left: -35px; border-radius: 50%;}

.smpl-step > .smpl-step-step > .progress {position: relative; border-radius: 0px; height: 3px; box-shadow: none; margin-top: 45px;}
.smpl-step > .smpl-step-step > .progress > .progress-bar {width: 0px; box-shadow: none;}
.smpl-step > .smpl-step-step.complete > .progress > .progress-bar {width: 100%; background:#b2d135;}

.smpl-step > .smpl-step-step > .progress > .progress-bar {width: 100%; background: #008fd5;}
.smpl-step > .smpl-step-step:first-child > .progress {left: 50%; width: 50%;}
.smpl-step > .smpl-step-step:last-child > .progress {width: 50%;}

.smpl-step > .smpl-step-step.complete > .smpl-step-icon {background: #b2d135;}

.smpl-step > .smpl-step-step.disabled > .smpl-step-icon:after {opacity: 0;}
.smpl-step > .smpl-step-step.disabled > .smpl-step-icon {background: #ebebeb;}
.disabled .progress-bar {background: #ebebeb !important; width: 100% !important;}
.disabled i {color: #898989 !important;}

.smpl-step-icon i{text-align: center; display: block; height: 70px; line-height: 70px; font-size: 36px; color: #FFF;}
.smpl-step > .smpl-step-step .smpl-step-info {font-size: 14px; padding-top: 27px; color:#008fd5}
.smpl-step > .smpl-step-step.complete .smpl-step-info {color:#b2d135}
.smpl-step > .smpl-step-step.disabled .smpl-step-info {color:#898989;}

.panel-heading {
     padding: 10px;
     margin-bottom: 5px;
     cursor: pointer;
}
.panel-default {
    border-color: #ffffff;
}
.divider {
    border: 1px solid #f1f1f1;
    width: 93%;
    margin: 0 auto;
    margin: 1.5em auto;
}
svg {
    margin: 0 auto;
}
.icon {
    font-size: 23px!important;
    padding-top: 8px!important;
    position: absolute!important;
    left: 2px!important;
    bottom: 4px!important;
}
.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.fileContainer {
    background: #111;
    color: #fff;
    float: left;
    margin: 5px;
}

.fileContainer [type=file] {
    cursor: pointer;
}
@media only screen  and (min-width:601px) { .heading-text{ font-size: 26px;color: #888888;}}
@media only screen  and (max-width:600px) {}
@media screen and (max-width:600px){
.heading-text{ font-size: 26px;color: #888888;}
.accounts-modal { width:100%; }
.imgCrop-modal {  width:100%; }
 }
@media screen and (min-width:601px){
  .heading-text{ font-size: 16px;color: #888888;}
  .accounts-modal { width:60%;float: right; }
  .imgCrop-modal {  width:40% !important; }
}
.result.rounded > img {
  border-radius: 100px;
}
.blur-content {
	-webkit-filter: url(#svg-blur);
	filter: url(#svg-blur);
	pointer-events: none;
	tab-index: -1;
}
#right{
	float:right;
}
#check-user{
	margin-top: 26px;
	display: none;
}
.img-grid{
    height: 42px;
    width: 120px;
}

.img-class{
	width: 224px;
    height: auto;
}

@media screen and (max-width:600px){
    .mPadCompanyProfile{
        padding-left: 15px!important;
    }
    .mPad1{
        padding-right: 0px!important;
        padding-left: 0px!important;
    }
    .mPad2{
        padding-left: 2px!important;
        padding-right: 0px!important;
    }
}
/* .disabled {
    cursor:not-allowed;
 } */
 .image-border{
    padding: 0px 0px 10px 0px!important; border:1px solid #eaeaea;border-radius: 4px!important;
 }
 .dotted-image-border{
    cursor: pointer;text-align:center;color:#fff;
 }
 .company-details-border{
    padding-left: 17px!important;padding-right: 17px!important;border-radius: 4px!important;border: 1px solid #eaeaea;padding-bottom: 48px!important;
 }
 .alert-success{background-color:#dff0d8 !important;border-radius: 3px !important;color:#3c763d !important}