<div class="page-content">

	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li *ngIf="!companyProfile.isAdd"><i class="fa fa-home"></i> <a [routerLink]="['/']">Home</a>
				<i class="fa fa-angle-right"></i>
				</li>
			<li *ngIf="!companyProfile.isAdd">Edit Company Profile</li>
			<li *ngIf="companyProfile.isAdd">Add Company Profile</li>
		</ul>
	</div>

	<div class="portlet light">
		<div class="portlet-title">
			<div class="caption">Company Profile Info</div>
		</div>
		<div class="alert alert-info" id="info" *ngIf="companyProfile.isAdd">Please Provide Company Details To Access The Platform</div>
		<div class="portlet-body clearfix">
		<div class="alert alert-success"  id="edit-sucess" style="display: none;">
			<a (click)="referenceService.hideDiv('edit-sucess')" class="close" aria-label="close">x</a>
				<ng-container *ngIf="companyProfile.isAdd">
					<strong>{{message}}.Please Wait...</strong> 
				</ng-container>
				<ng-container *ngIf="!companyProfile.isAdd">
					<strong>{{message}}</strong> 
				</ng-container>
	  		
		</div>
			<form role="form" >
				<div class="form-group" [attr.class]="companyNameDivClass">
					<label class="control-label">Company Name <font style="color: red"><b>*</b></font></label>
					 <input type="text" id="companyName" name="companyName" placeholder="Company Name" class="form-control" [(ngModel)]="companyProfile.companyName"  (input)="validateEmptySpace('companyName')"   (blur)="validateNames(companyProfile.companyName)"/>
					<span *ngIf="companyNameError" style="color: red">{{companyNameErrorMessage}}</span>
				</div>
				<div class="form-group" [attr.class]="companyProfileNameDivClass">
					<label class="control-label">Company Profile Name <font style="color: red"><b>*</b></font></label>
					<ng-container *ngIf="companyProfile.isAdd">
							 <input type="text" id="companyProfileName" placeholder="Company Profile Name" class="form-control" name="companyProfileName" [(ngModel)]="companyProfile.companyProfileName"  (input)="validateEmptySpace('companyProfileName')"  (blur)="validateProfileNames(companyProfile.companyProfileName)" />
						<span *ngIf="companyProfileNameError" style="color: red">{{companyProfileNameErrorMessage}}</span>
					</ng-container>
					<ng-container *ngIf="!companyProfile.isAdd">
							 <input type="text" id="companyProfileName" disabled="disabled" placeholder="Company Profile Name" class="form-control" name="companyProfileName" [(ngModel)]="companyProfile.companyProfileName" />
					</ng-container>
				</div>
				<div class="form-group">
					<label class="control-label">About Us</label>
					<textarea class="form-control" rows="5" cols="5" placeholder="About Us" name="aboutUs" style="resize: none"  [(ngModel)]="companyProfile.aboutUs"></textarea>
				</div>
				<div class="pull-right">
						<button type="submit" *ngIf="companyProfile.isAdd" id="saveOrUpdateCompanyButton" (click)="save()" class="btn green-haze" disabled="disabled">Save</button>
						<button type="submit" *ngIf="!companyProfile.isAdd" id="saveOrUpdateCompanyButton" (click)="update()" class="btn green-haze">Update</button>
					</div>
			</form>
		
		
		</div>
	</div>
</div>