<style>
 .pageContent{
	 margin-left:0 !important; 
 }

</style>
<div class="page-content" [class.pageContent]="!authenticationService.user.hasCompany">
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li *ngIf="!companyProfile.isAdd"><i class="fa fa-home"></i> <a
				[routerLink]="['/']">Home</a> <i class="fa fa-angle-right"></i></li>
			<li *ngIf="!companyProfile.isAdd">Edit Company Profile</li>
			<li *ngIf="companyProfile.isAdd">Add Company Profile</li>
		</ul>
	</div>

	<div class="portlet light" id="company-profile-div">
		<div class="portlet-title">
			<div class="caption">Company Profile Info</div>
		</div>
		<div class="alert alert-danger"  id="company-profile-error-div" style="display: none;">
			<a (click)="refService.hideDiv('company-profile-error-div')" class="close" aria-label="close">x</a>
	  		<strong>Please complete the requied fields</strong> 
		</div>
		<app-response-message [customResponse]="customResponse"
			*ngIf="customResponse.isVisible"></app-response-message>
		<div class="alert alert-info" id="info" *ngIf="companyProfile.isAdd">Please
			Provide Company Details To Access The Platform</div>
		<div class="portlet-body clearfix">
			<div class="alert alert-success" id="edit-sucess"
				style="display: none;">
				<a (click)="refService.hideDiv('edit-sucess')" class="close"
					aria-label="close">x</a>
				<ng-container *ngIf="companyProfile.isAdd"> <strong>{{message}}.Please
					Wait...</strong> </ng-container>
				<ng-container *ngIf="!companyProfile.isAdd"> <strong>{{message}}</strong>
				</ng-container>

			</div>
			<div [hidden]="!processor.isProcessing">
				<div class="div-loader" [style.height]="processor.divHeight">
					<div id="process-loader"></div>
				</div>
			</div>

			<div [hidden]="processor.isProcessing">
				<form role="form" id="company-profile-form">
					<div class="banner-image-wrapper" id="company-background-image-preview" [ngStyle]="{background: 'url(' + backGroundImage + ')'}">
						<div class="banner-overlay">
						<i class="fa fa-camera"></i> Update Cover Photo
						<input type="file" ng2FileSelect [uploader]="companyBackGroundLogoUploader" accept="image/jpeg,image/pjpeg,image/jpeg,image/pjpeg,image/png" 
								*ngIf="companyBackGroundLogoUploader.queue.length==0" (change)="changeBackGroundLogo(input)" title=" " #input/>
						</div>
						<!-- -Profile Picture Div---- -->
						<div class="profile-image-wrapper">
						<span *ngIf="logoError" style="color: red">{{logoErrorMessage}}</span>
							<img *ngIf="!companyLogoImageUrlPath" src="https://www.timeshighereducation.com/sites/default/files/byline_photos/default-avatar.png" class="profile-image">
							<img *ngIf="companyLogoImageUrlPath" [src]= "authenticationService.MEDIA_URL + companyLogoImageUrlPath" class="profile-image">
							<div class="profile-overlay">
								<i class="fa fa-camera"></i>
								Update Profile Picture
								<input type="file" ng2FileSelect [uploader]="companyLogoUploader" accept="image/jpeg,image/pjpeg,image/jpeg,image/pjpeg,image/png" 
									*ngIf="companyLogoUploader.queue.length==0" (change)="changeLogo(input)" title=" " #input/>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6 col-xs-12">
							<div class="form-group" [attr.class]="companyNameDivClass">
								<label class="control-label">Company Name <font	style="color: red"><b>*</b></font></label> 
									<input type="text"		id="companyName" name="companyName" placeholder="Company Name"	class="form-control" [(ngModel)]="companyProfile.companyName"
									(input)="validateEmptySpace('companyName')"	(blur)="validateNames(companyProfile.companyName)" /> 
								<span *ngIf="companyNameError" style="color: red">{{companyNameErrorMessage}}</span>
							</div>

							<div class="form-group" [attr.class]="companyProfileNameDivClass">
								<label class="control-label">Company Profile Name <font style="color: red"><b>*</b></font></label>
								<ng-container *ngIf="companyProfile.isAdd">
									 <input	type="text" id="companyProfileName"	placeholder="Company Profile Name" class="form-control"name="companyProfileName"[(ngModel)]="companyProfile.companyProfileName"
										(input)="validateEmptySpace('companyProfileName')"	(blur)="validateProfileNames(companyProfile.companyProfileName)" />
									<span *ngIf="companyProfileNameError" style="color: red">{{companyProfileNameErrorMessage}}</span>
								</ng-container>
								<ng-container *ngIf="!companyProfile.isAdd"> 
								<input	type="text" id="companyProfileName" disabled="disabled"	placeholder="Company Profile Name" class="form-control"	name="companyProfileName"	[(ngModel)]="companyProfile.companyProfileName" /> </ng-container>
							</div>
							
							<div class="form-group" [attr.class]="emailIdDivClass">
								<label class="control-label"> Company Email</label>
								 <input type="email"	id="emailId" name="emailId" placeholder="Email Id"	class="form-control" [(ngModel)]="companyProfile.emailId" (input)="validatePattern('emailId')" (blur)="validatePattern('emailId')" /> 
								 <span	*ngIf="emailIdError" style="color: red">{{emailIdErrorMessage}}</span>
							</div>

							<div class="form-group" [attr.class]="tagLineDivClass">
								<label class="control-label">Tag Line</label> 
									<input type="text" id="tagLine" name="tagLine" placeholder="Tag Line" class="form-control" [(ngModel)]="companyProfile.tagLine" />
									<span	*ngIf="tagLineError" style="color: red">{{tagLineErrorMessage}}</span>
							</div>

							<div class="form-group" [attr.class]="phoneDivClass">
								<label class="control-label">Contact Number</label>
								 <input type="text"	id="phone" name="phone" placeholder="Phone"		class="form-control" [(ngModel)]="companyProfile.phone" (input)="validatePattern('phone')" (blur)="validatePattern('phone')" /> 
								 <span *ngIf="phoneError" style="color: red">{{phoneErrorMessage}}</span>
							</div>

							<div class="form-group" [attr.class]="websiteDivClass">
								<label class="control-label">WebSite</label>
								 <input type="text"	id="website" name="website" placeholder="WebSite" class="form-control" [(ngModel)]="companyProfile.website" (input)="validatePattern('website')"	(blur)="validatePattern('website')" />
								<span *ngIf="websiteError" style="color: red">{{websiteErrorMessage}}</span>
							</div>

							<div class="form-group" *ngIf="!companyProfile.isAdd && publicVideos?.length>0">
								<label class="control-label">Select Video</label>
								 <select class="form-control"	name="companyProfile.videoId" [(ngModel)]="companyProfile.videoId">
								  <option [ngValue]="null">---Please Select Video---</option>
									<option *ngFor="let videoFile of publicVideos"	[ngValue]="videoFile.id">{{videoFile.title}}</option>
								</select>
							</div>
							<div class="form-group" [attr.class]="facebookDivClass">
								<label class="control-label">Facebook</label> 
								<input type="text"	id="facebook" name="facebook" placeholder="Facebook" class="form-control" [(ngModel)]="companyProfile.facebookLink"	(input)="validatePattern('facebook')" (blur)="validatePattern('facebook')" /> 
								<span *ngIf="facebookLinkError" style="color: red">{{facebookLinkErrorMessage}}</span>
							</div>
						</div>
						
						<div class="col-sm-6 col-xs-12">
							<div class="form-group" [attr.class]="googlePlusDivClass">
								<label class="control-label">Google</label> 
								<input type="text"	id="googlePlusLink" name="googlePlusLink" placeholder="Google"class="form-control" [(ngModel)]="companyProfile.googlePlusLink" (input)="validatePattern('googlePlusLink')" (blur)="validatePattern('googlePlusLink')" /> 
								<span *ngIf="googlePlusLinkError" style="color: red">{{googlePlusLinkErrorMessage}}</span>
							</div>
							<div class="form-group" [attr.class]="linkedInDivClass">
								<label class="control-label">LinkedIn</label> 
								<input type="text"	id="linkedInLink" name="linkedInLink" placeholder="LinkedIn" class="form-control" [(ngModel)]="companyProfile.linkedInLink" (input)="validatePattern('linkedInLink')" (blur)="validatePattern('linkedInLink')" /> 
								<span *ngIf="linkedinLinkError" style="color: red">{{linkedinLinkErrorMessage}}</span>
							</div>

							<div class="form-group" [attr.class]="twitterDivClass">
								<label class="control-label">Twitter</label>
									<input type="text"	id="twitter" name="twitter" placeholder="Twitter"	class="form-control" [(ngModel)]="companyProfile.twitterLink" (input)="validatePattern('twitterLink')" (blur)="validatePattern('twitterLink')" /> 
									<span *ngIf="twitterLinkError" style="color: red">{{twitterLinkErrorMessage}}</span>
							</div>
							<div class="form-group" [attr.class]="cityDivClass">
								<label class="control-label">City</label> 
								<input type="text" id="city"	name="city" placeholder="City" class="form-control" [(ngModel)]="companyProfile.city" (input)="validatePattern('city')" (blur)="validatePattern('city')" />
								 <span *ngIf="cityError" style="color: red">{{cityErrorMessage}}</span>
							</div>

							<div class="form-group" [attr.class]="countryDivClass">
								<label class="control-label">Country</label>
								 <select class="form-control"	name="companyProfile.country" [(ngModel)]="companyProfile.country" style="width: 100%">
									<option *ngFor="let country of countryNames.countries"
										[ngValue]="country">{{country}}</option>
								</select>
							</div>
							
							

							<div class="form-group" [attr.class]="zipDivClass">
								<label class="control-label">Zip</label>
								<input type="number" id="zip" name="zip" placeholder="Zip"	class="form-control" [(ngModel)]="companyProfile.zip"  />
							 	<span *ngIf="zipError"  style="color: red">{{zipErrorMessage}}</span>
							</div>
							<div class="form-group" [attr.class]="aboutUsDivClass">
								<label class="control-label">About Us <font	style="color: red"><b>*</b></font></label>
								<textarea class="form-control" rows="3" cols="5" placeholder="About Us" name="aboutUs" id="aboutUs" style="resize: none" [(ngModel)]="companyProfile.aboutUs" (input)="validateEmptySpace('aboutUs')" (blur)="validateEmptySpace('aboutUs')"></textarea>
								<span *ngIf="aboutUsError"  style="color: red">{{aboutUsErrorMessage}}</span>
							</div>
						</div>
					</div>

					<div class="pull-right">
						<button type="submit" *ngIf="companyProfile.isAdd"	id="saveOrUpdateCompanyButton" (click)="save()"	class="btn green-haze" disabled="disabled">Save</button>
						<button type="submit" *ngIf="!companyProfile.isAdd"	id="saveOrUpdateCompanyButton" (click)="update()"class="btn green-haze">Update</button>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>