<div class="container-fluid" [hidden]="processor.isProcessing" style="margin-top: 2em">
<div class="alert alert-success alert-dismissible fade in" role="alert" *ngIf="responseMessage" style="margin: 15px !important">
  <a type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="responseMessage = null">
    <span aria-hidden="true">×</span>
  </a> Thank you for the RSVP
</div>
<ng-container *ngIf="eventcampaign">
<div class=" col-xs-12 col-sm-7">
  <div class="portlet light">
    <div class="portlet-title">
      <div *ngIf="isRsvp; then rsvp_exist else rsvp_new"></div>
      <ng-template #rsvp_exist>
        <h4 class="pull-left">You Have rsvped <b>{{eventcampaign.campaignEventRsvps[0].eventCampaignRsvp}}</b></h4>
        <button class="btn btn-secondary pull-right" (click)="isRsvp = !isRsvp">change</button>
      </ng-template>
      <ng-template #rsvp_new>
        <h4 class="pull-left">Will you attend?</h4>
        <div class="pull-right">
          <button class="btn btn-secondary" data-toggle="modal" data-target="#myModal" (click)="campaignRsvp.eventCampaignRsvp = 'YES'">Yes</button>
          <button class="btn btn-secondary" data-toggle="modal" data-target="#myModal" (click)="campaignRsvp.eventCampaignRsvp = 'NO'">No</button>
          <button class="btn btn-secondary" data-toggle="modal" data-target="#myModal" (click)="campaignRsvp.eventCampaignRsvp = 'MAYBE'">May Be</button>
        </div>
      </ng-template>

    </div>
    <div class="portlet-body event-details">
      <h4 class="event-title">{{eventcampaign.campaign}}</h4>
      <h5 [innerHTML]="eventcampaign.message"></h5>
      <h4>HOST: {{eventcampaign.userDTO.emailId}}</h4>
      <h4 class="uppercase"> {{ eventcampaign.launchTimeInString | date:'EEEE, MMMM d, y, h:mm a'}} </h4>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-5">
  <div class="portlet light">
    <div class="portlet-title">
      <h4>rsvp history</h4>
    </div>
    <div class="portlet-body">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>date</th>
            <th>rsvp</th>
            <th>message</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rsvp of eventcampaign.campaignEventRsvps">
            <td>{{rsvp.rsvpTime | date}} {{rsvp.rsvpTime | date:'shortTime'}}</td>
            <td>{{rsvp.eventCampaignRsvp}}</td>
            <td>{{rsvp.message}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</ng-container>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close-circle" data-dismiss="modal">
          <i class="fa fa-times"></i>
        </a>
        <h4 class="modal-title" id="myModalLabel">You are RSVPing <span class="f-w-500">{{campaignRsvp.eventCampaignRsvp}}</span></h4>
      </div>
      <div class="modal-body">
        <textarea [(ngModel)]="campaignRsvp.message" [ngModelOptions]="{standalone: true}" placeholder="Your Message"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="campaignRsvp.message = null">Close</button>
        <button type="button" class="btn btn-secondary" (click)="saveEventCampaignRsvp()">Save changes</button>
      </div>
    </div>
  </div>
</div>