<ngx-loading [show]="ngxloading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="page-content" [style.background-color]="referenceService.pageContnetBgColor">
   <div class="row">
      <div class="col-xs-12">
         <div class="tile remove_shadow_bgcolor" style="border-radius: 8px;">
            <div class="page-bar bar-border-bottom">
               <ul class="page-breadcrumb">
                  <li>
                     <i class="fa fa-home" aria-hidden="true"></i>
                     <a [routerLink]="referenceService.homeRouter">Home</a>
                     <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </li>
                  <li *ngIf="!isFromApprovalModule">
                     <a [routerLink]="referenceService?.selectModuleRouter" translate>Select Module</a>
                     <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </li>
                  <li *ngIf="!isFromApprovalModule">
                     <a *ngIf="isAdd" (click)="goToSelect()" translate>Design/Upload</a>
                     <a *ngIf="!isAdd" (click)="goToManageDam()" translate>Manage</a>
                     <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </li>
                  <li *ngIf="isFromApprovalModule">
                     <a [routerLink]="referenceService?.approvalModuleRouter" translate>Manage Approval</a>
                     <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </li>
                  <li>
                     <a>Design PDF</a>
                  </li>
               </ul>
               <a class="close-circle xamp-margin-left-icon" (click)="goBack()" aria-hidden="true">
                  <i class="fa fa-times" aria-hidden="true"></i>
               </a>
            </div>
            <ng-container *ngIf="jsonBody!=undefined && jsonBody?.length>0">
               <app-bee-template-util [beeContainerInput]="beeContainerInput"
                  (notifyParentComponent)="readBeeTemplateData($event)"></app-bee-template-util>
               <!-- <app-unlayer-bulider (notifyParentComponent)="readBeeTemplateData($event)" ></app-unlayer-bulider> -->
            </ng-container>
            <!-- <ng-container>
               <app-bee-template-util [beeContainerInput]="beeContainerInput"
                  (notifyParentComponent)="readBeeTemplateData($event)"></app-bee-template-util>
               <app-unlayer-bulider *ngIf="!ngxloading" [beeContainerInput]="beeContainerInput" (notifyParentComponent)="readBeeTemplateData($event)" ></app-unlayer-bulider>
            </ng-container> -->
         </div>
      </div>
   </div>
   <app-scroll-top></app-scroll-top>
   <!--Add Asset Details------->
   <div id="addAssetDetailsPopup" class="modal fade right " role="dialog" aria-labelledby="myModalLabel"
      data-backdrop="static" data-keyboard="false">
      <ng-container *ngIf="!openSelectDigitalSignatureModalPopUp">
      <div class="modal-dialog modal-css" role="document" style="width: 75% !important;">
         <!-- Modal content-->
         <div class="modal-content" *ngIf="!openSelectDigitalSignatureModalPopUp">
            <ngx-loading [show]="modalPopupLoader && !isCkeditorLoaded"
               [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
            <div class="modal-header">
               <div class="cf-padding-dam">
                  <a class="close-circle" (click)="hidePopup()">
                     <i class="fa fa-times" aria-hidden="true"></i>
                  </a>
                  <button class="button_blue bgcolor-unset btn-alignment mrgn_top0" style="padding-top:0px;" id="right"
                     (click)="openCreateFolderPopup()" translate><span class="btn btn-primary transition mr5">Create a
                        Folder</span></button>
               </div>
               <h4 class="modal-title" style="font-weight: 600;" translate>Add Details</h4>
            </div>
            <div class="modal-body popup-border-bottom">
               <app-response-message class="pg8" [customResponse]="customResponse" *ngIf="customResponse.isVisible">
               </app-response-message>
               <app-modal-popup-loader *ngIf="modalPopupLoader"></app-modal-popup-loader>
               <div *ngIf="!modalPopupLoader">
                  <div class="portlet box">
                     <!--Name & Folder-->
                     <div class="col-lg-12 col-md-12 p0">
                        <div class="form-group col-md-6 col-lg-6">
                           <label>Name <span class="required">*</span></label>
                           <input class="form-control" type="text" placeholder="Name" (input)="validateForm('name')"
                              [(ngModel)]="damPostDto.name" [ngModelOptions]="{standalone: true}">
                           <span class="required" *ngIf="nameErrorMessage?.length>0">{{nameErrorMessage}}</span>
                        </div>
                        <div class="form-group  col-md-6 col-lg-6" *ngIf="showFolderDropDown">
                           <label>Folder<span class="required">*</span></label>
                           <app-select-dropdown [categoryId]="damPostDto.categoryId" [dropDownItems]="categoryNames"
                              (selectDropdownComponentEmitter)="getSelectedCategoryId($event)"></app-select-dropdown>
                        </div>
                     </div>
                     <!--Page Size & Page Orientation-->
                     <div class="col-lg-12 col-md-12" *ngIf="showPageSizeAndOrientation">
                        <div class="form-group  col-md-6 col-lg-6">
                           <label>Select Page Size<span class="required">*</span></label>
                           <select class="form-control" id="selectedSize" [(ngModel)]="damPostDto.pageSize">
                              <option value="A0">A0</option>
                              <option value="A1">A1</option>
                              <option value="A2">A2</option>
                              <option value="A3">A3</option>
                              <option value="A4">A4</option>
                              <option value="A5">A5</option>
                              <option value="A6">A6</option>
                              <option value="A7">A7</option>
                              <option value="A8">A8</option>
                              <option value="A9">A9</option>
                              <option value="A10">A10</option>
                              <option value="B0">B0</option>
                              <option value="B1">B1</option>
                              <option value="B2">B2</option>
                              <option value="B3">B3</option>
                              <option value="B4">B4</option>
                              <option value="B5">B5</option>
                              <option value="B6">B6</option>
                              <option value="B7">B7</option>
                              <option value="B8">B8</option>
                              <option value="B9">B9</option>
                              <option value="B10">B10</option>
                           </select>
                        </div>

                        <div class="form-group  col-md-6 col-lg-6">
                           <label>Select Page Orientation<span class="required">*</span></label>
                           <select class="form-control" id="selectedOrientation"
                              [(ngModel)]="damPostDto.pageOrientation">
                              <option value="Portrait">Portrait</option>
                              <option value="Landscape">Landscape</option>
                           </select>
                        </div>
                     </div>
                     <!--White Labeled--->
                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pr0">
                        <!-- Toggle Switches -->
                        <div class="toggle-section">
                           <div class="toggle-item" *ngIf="hasShareWhiteLabeledContentAccess">
                              <div class="toggle-label">White Labeled</div>
                              <label class="toggle-switch">
                                <input
                                  type="checkbox"
                                  [checked]="damPostDto?.shareAsWhiteLabeledAsset"
                                  (change)="setWhiteLabeled($event.target.checked)" />
                                <span class="toggle-slider"></span>
                              </label>
                              <i
                                class="fa fa-question-circle help-icon"
                                data-toggle="tooltip"
                                data-placement="top"
                                aria-hidden="true"
                                title="Share As White Labeled Content">
                              </i>
                            </div>
                     
                            <div class="toggle-item" *ngIf="!isPartnerView">
                              <div class="toggle-label">Add To Quick Links</div>
                              <label class="toggle-switch">
                                <input
                                  type="checkbox"
                                  [checked]="damPostDto?.addedToQuickLinks"
                                  (change)="setAddToQuickLinks($event.target.checked)" />
                                <span class="toggle-slider"></span>
                              </label>
                              <i
                                class="fa fa-question-circle help-icon"
                                data-toggle="tooltip"
                                data-placement="top"
                                aria-hidden="true"
                                [title]="properties?.ADD_TO_QUICK_LINKS">
                              </i>
                            </div>
                     
                            <div class="toggle-item">
                              <div class="toggle-label">
                                Partner Signature
                              </div>
                              <label class="toggle-switch">
                                <input type="checkbox"
                                       [checked]="damUploadPostDto?.partnerSignatureRequired"
                                       [disabled]="damUploadPostDto?.disablePartnerSignatureOption"
                                       (change)="setPartnerSignatureRequired($event.target.checked)">
                                <span class="toggle-slider"></span>
                              </label>
                              <i class="fa fa-question-circle help-icon"
                                 data-toggle="tooltip"
                                 data-placement="top"
                                 aria-hidden="true"
                                 [title]="isAdd ? 'Enable partner signature' : damUploadPostDto?.partnerSignatureToolTipMessage">
                              </i>
                            </div>
                     
                           <div class="toggle-items">
                              <div class="d-flex align-items-center">
                                 <div class="toggle-label">My Signature</div>
                                 <label class="toggle-switch">
                                   <input
                                     type="checkbox"
                                     [checked]="damUploadPostDto?.vendorSignatureRequired"
                                     [disabled]="damUploadPostDto?.disableVendorSignatuerOption || (!isAdd && (damUploadPostDto.publishedToPartnerGroups || damUploadPostDto.partnerIds?.length > 0))"
                                     (change)="setVendorSignatureRequired($event.target.checked)" />
                                   <span class="toggle-slider"></span>
                                 </label>
                                 <i
                                   class="fa fa-question-circle help-icon"
                                   data-toggle="tooltip"
                                   data-placement="top"
                                   aria-hidden="true"
                                   [title]="isAdd ? 'Enable my signature' : damUploadPostDto?.vendorSignatureToolTipMessage">
                                 </i>
                               </div>
                              <div>
                                 <div *ngIf="damUploadPostDto.vendorSignatureRequired && damUploadPostDto.partnerSignatureRequired" class="signature-options">
                                    <div class="pill-toggle mr10">
                                       <input type="radio" id="join" name="toggle" [checked]="damUploadPostDto.vendorSignatureRequired" (change)="setVendorSignatureRequiredNow()">
                                       <label for="join">Now</label>
                     
                                       <input type="radio" id="relation" name="toggle" [checked]="damUploadPostDto.vendorSignatureRequiredAfterPartnerSignature" (change)="setPartnerSignatureRequiredAfterPartnerSignatureCompleted(true)">
                                       <label for="relation">Later</label>
                                    </div>
                                    <i class="fa fa-question-circle help-icon" data-toggle="tooltip"
                                                            data-placement="top"
                                                            aria-hidden="true"
                                                            [title]="isAdd ? 'Add your signature Now or Later' : damUploadPostDto?.vendorSignatureToolTipMessage"></i>
                                 </div>
                                 <div>
                                    <div class="signature-buttons">
                                       <button *ngIf="damUploadPostDto.vendorSignatureRequired" (click)="openAddSignatureModalPopUp()"   class="signature-btn">
                                          <i class="fa fa-pencil"></i> Signature Settings
                                          <span class="required" *ngIf="damUploadPostDto.vendorSignatureRequired && !damUploadPostDto.vendorSignatureRequiredAfterPartnerSignature">*</span>
                                       </button>
                                       <button  *ngIf="damUploadPostDto.vendorSignatureRequired && isVendorSignatureAdded" (click)="confirmClear()"  class="signature-btn clear">Clear</button>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- <div class="col-lg-12 col-md-12" >
                        <div class="form-group col-md-6 col-lg-6" *ngIf="hasShareWhiteLabeledContentAccess">
                           <label>White Labeled</label>
                           <app-custom-ui-switch [customSwitch]="damPostDto?.shareAsWhiteLabeledAsset"
                              (customUiSwitchEventEmitter)="setWhiteLabeled($event)"></app-custom-ui-switch>
                           <span class="info-color-xampc">
                              <i class="fa fa-question-circle toggle-info-white-label help-iconcu-inpopup"
                                 data-toggle="tooltip" data-placement="top" aria-hidden="true"
                                 title="Share As White Labeled Content"></i>
                           </span>
                        </div>
                        <ng-container>
                           <label class="control-label vendor-signature-align mr10 " translate>Add My Signature Now</label>
                              <app-custom-ui-switch
                                 [isSwitchOptionDisabled]="damUploadPostDto?.disableVendorSignatuerOption || (!isAdd && (damUploadPostDto.publishedToPartnerGroups || damUploadPostDto.partnerIds?.length > 0))"
                                 [customSwitch]="damUploadPostDto?.vendorSignatureRequired"
                                 (customUiSwitchEventEmitter)="setVendorSignatureRequired($event)"></app-custom-ui-switch>
                              <span class="info-color-xampc">
                                 <i class="fa fa-question-circle toggle-info-white-label" data-toggle="tooltip" data-placement="top"
                                    aria-hidden="true"
                                    [title]="isAdd ? 'Enable my signature':damUploadPostDto?.vendorSignatureToolTipMessage">
                                 </i>
                              </span>
                              <span
                                 *ngIf="(damUploadPostDto.vendorSignatureRequired && isAdd && !isVendorSignatureAdded && !damUploadPostDto.vendorSignatureRequiredAfterPartnerSignature) || (damUploadPostDto.vendorSignatureRequired && !isAdd && !(damUploadPostDto.publishedToPartnerGroups || damUploadPostDto.partnerIds?.length > 0) && !damUploadPostDto?.vendorSignatureCompleted && !damUploadPostDto?.disableVendorSignatuerOption && !damUploadPostDto.vendorSignatureRequiredAfterPartnerSignature)"
                                 class=" choose-signature-text ml10" (click)="openAddSignatureModalPopUp()"> Add my signature <span
                                    class="required">*</span>
                              </span>
                              <span *ngIf="(damUploadPostDto.vendorSignatureRequired && isAdd && isVendorSignatureAdded && !damUploadPostDto.vendorSignatureRequiredAfterPartnerSignature) || (damUploadPostDto.vendorSignatureRequired && !isAdd && !damUploadPostDto?.vendorSignatureCompleted && !damUploadPostDto?.disableVendorSignatuerOption && isVendorSignatureAdded && !damUploadPostDto.vendorSignatureRequiredAfterPartnerSignature)">
                                 <a  class="custom-icon"  data-toggle="tooltip" data-placement="top" title="Edit Signature" (click)="openAddSignatureModalPopUp()">
                                    <i class="fa fa-edit iconFontSize" aria-hidden="true"></i>
                                    <div class="clickicons"></div>
                                  </a>
                                  <a  class="custom-icon"  data-toggle="tooltip" data-placement="top" title="Clear Signature" (click)="confirmClear()">
                                    <i class="fa fa-times-circle iconFontSize" aria-hidden="true"></i>
                                    <div class="clickicons"></div>
                                  </a>
                              </span>
                        </ng-container>
                     </div>
                     
                      <div class="col-lg-12 col-md-12" >
                        <div class="form-group col-md-6 col-lg-6" *ngIf="!isPartnerView">
                           <label>Add To Quick Links</label>
                           <app-custom-ui-switch [customSwitch]="damPostDto?.addedToQuickLinks"
                              (customUiSwitchEventEmitter)="setAddToQuickLinks($event)"></app-custom-ui-switch>
                           <span class="info-color-xampc">
                              <i class="fa fa-question-circle toggle-info-white-label help-iconcu-inpopup"
                                 data-toggle="tooltip" data-placement="top" aria-hidden="true"
                                 title="{{properties?.ADD_TO_QUICK_LINKS}}"></i>
                           </span>
                        </div>
                        <ng-container>
                           <label class=" control-label mr10 vendor-signature-align" translate>Partner Signature</label>
                              <app-custom-ui-switch [isSwitchOptionDisabled]="damUploadPostDto?.disablePartnerSignatureOption"
                                 [customSwitch]="damUploadPostDto?.partnerSignatureRequired"
                                 (customUiSwitchEventEmitter)="setPartnerSignatureRequired($event)"></app-custom-ui-switch>
                              <span class="info-color-xampc">
                                 <i class="fa fa-question-circle toggle-info-white-label" data-toggle="tooltip" data-placement="top"
                                    aria-hidden="true"
                                    [title]="isAdd ? 'Enable partner signature':damUploadPostDto?.partnerSignatureToolTipMessage">
                                 </i>
                              </span>
                        </ng-container>

                        <ng-container *ngIf="damUploadPostDto.partnerSignatureRequired">
                           <div class="PartnerSignature">
                           <label class=" control-label mr10 vendor-signature-align marginProp"  translate>Add My Signature After Partner Signature</label>
                             <div class="white-nowrap">
                                <app-custom-ui-switch [isSwitchOptionDisabled]="damUploadPostDto?.disablevendorSignatureRequiredAfterPartnerSignatureOption || (!isAdd && (isPartnerCompanyOrGroupSelected || this.isAssetPublished || this.damUploadPostDto?.vendorSignatureCompleted))"
                                   [customSwitch]="damUploadPostDto?.vendorSignatureRequiredAfterPartnerSignature"
                                   (customUiSwitchEventEmitter)="setPartnerSignatureRequiredAfterPartnerSignatureCompleted($event)"></app-custom-ui-switch>
                                <span class="info-color-xampc">
                                   <i class="fa fa-question-circle toggle-info-white-label" data-toggle="tooltip" data-placement="top"
                                      aria-hidden="true"
                                      [title]="isAdd ? 'Enable my signature after partner signature completed':damUploadPostDto?.vendorSignatureRequiredAfterPartnerSignatureToolTipMessage">
                                   </i>
                                </span>
                                <span *ngIf="(damUploadPostDto.partnerSignatureRequired && isAdd && damUploadPostDto.vendorSignatureRequiredAfterPartnerSignature) || (damUploadPostDto.partnerSignatureRequired && !isAdd && !isPartnerCompanyOrGroupSelected && !this.isAssetPublished && !damUploadPostDto?.vendorSignatureCompleted && !damUploadPostDto?.disablePartnerSignatureOption && damUploadPostDto.vendorSignatureRequiredAfterPartnerSignature)"
                                class=" choose-signature-text ml10" (click)="openAddSignatureModalPopUp()"> Edit Pdf
                             </span>
                             </div>
                           </div>
                          </ng-container>
                     </div> -->
                     <!--Description-->
                     <div class="col-lg-12 col-md-12 p0 ">
                        <div class="form-group col-lg-12 col-md-12">
                           <label translate>Description</label>
                           <div *ngIf="isAddAssetDetailsPopupLoaded">
                              <ckeditor #ckeditor [(ngModel)]="damPostDto.description"
                                 [ngModelOptions]="{standalone: true}" [config]="ckeConfig" (ready)="onReady($event)"
                                 debounce="500" maxlength="5000" (change)="validateForm('description')"
                                 (input)="getCkEditorData();validateForm('description')">
                              </ckeditor>
                           </div>
                        </div>
                     </div>

                     <!--Tags---->
                     <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                        <div class="form-group" style="margin-bottom: 0;">
                           <label class="control-label col-sm-1" translate>Tags
                           </label>
                           <div class="col-sm-11 col-xs-8">
                              <button *ngIf="savedTags.length==0" type="button" class="btn btn-primary add-btn mb10" (click)="addTag()"
                                 data-toggle="tooltip" data-placement="top" title="Pick up Tag'(s)">
                                 <i class="fa fa-plus mr5" aria-hidden="true"></i>Pick up Tag'(s)</button>
                              <!--  -->
                              <div *ngIf="savedTags.length>0" class="add_tag-container">
                                 <ng-container class="add-tag-list">
                                    <ng-container *ngFor="let tag of tagsListFirstColumn; let i = index">
                                       <div class="add_tag">
                                          {{ tag.tagName | slice:0:15 }} <span *ngIf="tag.tagName?.length > 15">..</span>
                                          <span class="close-btn" (click)="removeTag(tag)">&times;</span>
                                       </div>
                                    </ng-container>
                                    <ng-container *ngFor="let tag of tagsListSecondColumn; let i = index">
                                       <div class="add_tag">
                                          {{ tag.tagName | slice:0:15 }} <span *ngIf="tag.tagName?.length > 15">..</span>
                                          <span class="close-btn" (click)="removeTag(tag)">&times;</span>
                                       </div>
                                    </ng-container>
                                 </ng-container>
                              </div>
                              <a *ngIf="savedTags.length>0" class="add_more-btn" (click)="addTag()">+ Add more tags</a>
                           </div>
                        </div>
                     </div>


                     <!---Select Partner Lists/Partners-->
                     <div class="form-group col-lg-12 col-md-12 ml15">
                        <app-list-loader *ngIf="assetPublishEmailNotificationLoader"></app-list-loader>
                        <app-partner-company-and-groups *ngIf="!assetPublishEmailNotificationLoader &&
                        ((!authenticationService?.approvalRequiredForAssets && damPostDto?.approvalStatus !== 'REJECTED')
                           || (authenticationService?.approvalRequiredForAssets && isApprover))"
                           [moduleName]="'dam'" [isAssetPublishedEmailNotification]="isAssetPublishedEmailNotification"
                           [inputId]="assetId"
                           (partnerCompanyAndGroupsEventEmitter)="receivePartnerCompanyAndGroupsEventEmitterData($event)">
                        </app-partner-company-and-groups>
                     </div>
                  </div>
               </div>
            </div>
            <div class="modal-footer cmr" style="border:none;border-top:none !important" *ngIf="!modalPopupLoader">
               <button class="btn Btn-Gray neg_mrg_top4" type="reset" (click)="hidePopup();" translate>Cancel</button>
               <button type="button" class="button_blue bgcolor-unset preview_pdf_btn" (click)="downloadPdf()"><span
                     class="btn btn-primary transition txt_pd-top3">Download <a
                        style="font-weight: 100;font-size: x-small;color: #fff;">(Preview PDF)</a></span></button>
               
               <!-- XNFR-884 -->
               <button type="button" class="button_blue bgcolor-unset preview_pdf_btn"
                  [disabled]="!validForm || disableSaveAsDraftButton || damPostDto?.published" (click)="saveOrUpdateAsset(false)"
                  data-placement="top"
                  [attr.title]="damPostDto?.published ? properties.CANNOT_SAVE_DRAFT_ASSET_ALREADY_PUBLISHED :
                     disableSaveAsDraftButton ? properties.CANNOT_SAVE_DRAFT_WITH_SELECTED_PARTNERS : properties.DRAFT_ASSET_CANNOT_BE_PUBLISHED_OR_USED_IN_TRACKS_PLAYBOOKS"
                  translate>
                  <span class="btn btn-primary transition txt_pd-top3">{{saveAsDraftButtonText}}</span>
               </button>

               <button type="button" class="button_blue bgcolor-unset" [disabled]="!validForm"
                  (click)="saveOrUpdate(false)" translate><span
                     class="btn btn-primary transition txt_pd-top3">{{saveOrUpdateButtonText}}</span></button>

               <button *ngIf="assetId > 0" type="button" class="button_blue bgcolor-unset" [disabled]="!validForm"
                  (click)="saveOrUpdate(true)" translate><span
                     class="btn btn-primary transition txt_pd-top3">{{saveAsButtonText}}</span>
               </button>
            </div>
         </div>
      </div>
   </ng-container>
      <ng-container *ngIf="openSelectDigitalSignatureModalPopUp">
         <div *ngIf="openSelectDigitalSignatureModalPopUp">
            <app-select-digital-signature (notifySignatureSelection)="notifySignatureSelection($event)" (notifyCloseModalPopUp)="notifySelectDigitalSignatureCloseModalPopUp($event)" [uploadedFile]="pdfUploadedFile" [isFromDam]="true" [hideSignatureTool]="this.damUploadPostDto.vendorSignatureRequiredAfterPartnerSignature"></app-select-digital-signature>
         </div>
      </ng-container>
   </div>
   <!-- ADD TAG POPUP -->
   <div *ngIf="openAddTagPopup">
      <app-add-tags-util [pagination]="pagination" [isAddTag]="true" [selectedTags]= "savedTags" (notifyParent)="resetTagValues($event)">
      </app-add-tags-util>
   </div>
   <app-add-folder-modal-popup #addFolderModalPopupComponent
      (notifyChild)="showFolderCreatedSuccessMessage($event)"></app-add-folder-modal-popup>