.tile {
  min-height: 1000px;
  position: relative;
  background: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
  padding: 15px;
}
.cmr {
  margin-right: 70px;
}
.inline {
  display: inline-flex;
}
.tags-table tr:nth-child(odd) {
  background-color: #f2f2f2;
}
.scroller {
  height: 125px;
  padding: 5px;
  overflow: auto;
}
.text-wrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.btn-primary-light {
  background-color: #cdcdcd;
}
.btn-primary-light:hover {
  background-color: #c0c0c0;
}

.modal-dialog {
  width: 60% !important;
}

.help-iconcu-inpopup {
  margin: 8px 0px 1px 14px !important;
}
.bar-border-bottom{
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 1px solid #ddd;
  border-radius: 0px;
}
.popup-border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
/* sudha sri (20-12-2023) */
.preview_pdf_btn{
  padding-right: 0px;
}
.add-btn{
  border-radius: 4px;
  }
  .add_tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    background-color: #f1f5f9;
    border: 1px solid #ddd;
    padding: 6px;
    border-radius: 8px;
    margin: 0px 0px 6px 0px;
    max-height: 140px;
    overflow-y: auto;
    border-radius: 8px;
    align-items: center;
  }
  
  .add_tag-container::-webkit-scrollbar{
  width:7px;
  height: 7px;
  }
  .add_tag {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    padding: 4px 11px;
    border-radius: 18px;
    font-size: 13px;
    font-weight: 500;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .add_tag:hover {
  background-color:#007bff !important;
  color: #fff;
    transform: scale(1.05);
  }
  
  /* Close Button */
  .close-btn {
    margin-left: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  .close-btn:hover {
    color: #ff3b3b;
    transform: rotate(180deg);
  }
  .add_more-btn{
  color: #63abff;
  font-size: 13px;
  font-weight: 500;
  transition: all 0.3sease;
  cursor: pointer;
  float: right;
  }
  .add_more-btn:hover{
  text-decoration: underline!important;
  }
    .modalpopuplayer-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      /* Semi-transparent black background */
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000;
    }
  
  .modalpopuplayer-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 600px;
    max-width: 90%;
    /* Ensure it doesn't exceed 90% of the screen width */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow */
    position: relative;
    /* For positioning close button or other elements */
    overflow-y: auto;
    /* Add scroll if content exceeds height */
    max-height: 90vh;
  }
    