.add-options button {
  min-height: 85px;
  border-radius: 7px;
}
.add-options .portlet-title {
  min-height: 0;
  padding: 5px 0 10px;
  margin-bottom: 0px;
  font-size: 15px;
}
.add-options i {
  display: block;
  font-size: 24px;
  margin: 0 auto 10px;
}
.add-options span {
  display: block;
  font-size: 12px;
  text-align: center;
}
.add-options .portlet-body {
  padding: 15px 0 5px;
}
.cloud-services .portlet-title {
  min-height: 0;
  padding: 5px 0 10px;
  margin-bottom: 0px;
  font-size: 15px;
}
.cloud-services img {
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}
.cloud-services .portlet-body {
  padding: 10px 0 0px;
}
.cloud-services.portlet.light {
  padding-bottom: 0px;
}
.chagneText {
  text-transform: none !important;
}
@media screen and (min-width: 601px) {
  .modal-css {
    width: 50% !important;
    right: 0 !important;
  }
  .salesforce {
    margin-top: -44px;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .modal-css {
    width: 100% !important;
    right: 0 !important;
  }
  .cloud-css {
    left: 98px !important;
  }
  .salesforce {
    margin-top: -25px;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .cloud-items{
    position: relative;
    font-size: 19px;
    top: -82px !important;
    left: 100px !important;
  }
}
.cloud-items {
  position: relative;
  font-size: 19px;
  top: -81px;
  left: 68px;
}
/* @media only screen and (max-width: 1024px) and (min-width: 601px) {
  .cloud-css {
    left: 100px !important;
  } 
}*/
.csv-list-name {
  font-size: 15px;
  color: #565555;
  padding-left: 13px;
}
@media only screen and (min-width: 768px) {
  .p-drop-down {
    float: right;
    font-size: 15px;
  }
}
.mlm8 {
  margin-left: -3px;
}
.close-circle i {
  margin-top: 3px;
}
.border {
  padding-left: 50px;
  margin-left: 55px;
}

@media only screen and (min-width: 1200px) and (max-width: 1340px) {
  .add-options span {
    font-size: 10px;
  }
}

/* 10-08-2023 */
.SidePaddings {
  padding: 10px 10px;
}
.SideParddings1 {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 15px;
}
.SideParddings2 {
  padding: 0px;
}
.SideParddings3 {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 10px;
}
i.IconTopMargin {
  margin-top: 10px !important;
}
i.fa.fa-file-excel-o.IconTopMargin {
  margin-top: 10px !important;
}
@media only screen and (min-width: 1200px) and (max-width: 1260px) {
  .SidePaddings span{font-size: 10px !important;}
}
@media only screen and (min-width: 1079px) and (max-width: 1150px) {
  .scroll-top-abj {padding-top: 15px;}
}
/* gericon */
@media only screen and (min-width: 800px) and (max-width: 969px) {
  #SgearIcon{left: 106px !important;}
  #GgearIcon{left: 106px !important;}
  #ZgearIcon{left: 106px !important;}
} 

 @media only screen and (min-width: 969px) and (max-width: 992px) {
  #SgearIcon{left: 125px !important;}
  #GgearIcon{left: 125px !important;}
  #ZgearIcon{left: 125px !important;}
} 
@media only screen and (min-width: 992px) and (max-width: 1032px) {
  #SgearIcon{left: 110px !important;}
  #GgearIcon{left: 110px !important;}
  #ZgearIcon{left: 110px !important;}
}
@media only screen and (min-width: 1032px) and (max-width: 1072px) {.cloud-items{left: 110px !important;}}
@media only screen and (min-width: 1072px) and (max-width: 1125px) {.cloud-items{left: 115px !important;}}
@media only screen and (min-width: 1125px) and (max-width: 1170px) {.cloud-items{left: 124px !important;}}
@media only screen and (min-width: 1170px) and (max-width: 1199px) {.cloud-items{left: 128px !important;}}
@media only screen and (min-width: 1500px) and (max-width: 1550px) {.cloud-items{left: 74px !important;}}
@media only screen and (min-width: 1550px) and (max-width: 1600px) {.cloud-items{left: 76px !important;}}
@media only screen and (min-width: 1600px) and (max-width: 1650px) {.cloud-items{left: 78px !important;}}
@media only screen and (min-width: 1650px) and (max-width: 1700px) {.cloud-items{left: 80px !important;}}
@media only screen and (min-width: 1700px) and (max-width: 1750px) {.cloud-items{left: 82px !important;}}
@media only screen and (min-width: 1750px) and (max-width: 1880px) {.cloud-items{left: 84px !important;}}
@media only screen and (min-width: 1780px) and (max-width: 1830px) {.cloud-items{left: 86px !important;}}
@media only screen and (min-width: 1830px) and (max-width: 1882px) {.cloud-items{left: 87px !important;}}
@media only screen and (min-width: 1883px) and (max-width: 1920px) {.cloud-items{left: 90px !important;}}


@media only screen and (min-width: 992px) and (max-width: 1121px) {
  h4.fontSizeDec {
    font-size: 10px;
    padding-top: 5px;
  }
}
/* save btn */
.ml-3{
 margin-left: 3px;
}

.disable-class{
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  cursor:not-allowed;
}

.loader-image-customize{
  height: 35px;
  margin: -7px;
}