h5 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
    word-break: break-all;
    color: #2874f0;
}

h6 {
    font-size: 12px;
    margin-top: 7px;
}

.calendar-border {
    padding: 5px;
    border: 1px solid #CCC;
}

.meeting-active-status-btn {
    padding: 2px 6px !important;
    font-size: 12px !important;
    color: #337ab7;
    border: 1px solid #337ab7;
    font-weight: 800;
    background: transparent !important;
    text-transform: capitalize;
    margin-left: 15px;
}

.meeting-canceled-status-btn {
    padding: 2px 6px !important;
    font-size: 12px !important;
    color: #f53535;
    border: 1px solid #f53535;
    font-weight: 800;
    background: transparent !important;
    text-transform: capitalize;
    margin-left: 15px;
}