.map-company-name{
    font-size: 16px;
  }

  .info-window-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .info-window-title {
    font-size: 16px;
    margin: 0;
    font-weight: bold;
    flex-grow: 1;
  }
  
  .info-window-header::after {
    content: "✖"; /* Optional custom close mark */
    cursor: pointer;
    margin-left: 10px;
  }
  

  .flexbody {
    font-family: Arial, sans-serif;
    height: auto;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

  .menu {
    width: 20%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
  }

.menu h3 {

  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* margin: 20px 0; */
}

.menu ul li {
    /* margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 3px;
    cursor: pointer; */
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu ul li:hover {
    /* background-color: #e5e5e5;
    color: #007bff; */
    background-color: #007bff;
    color: #fff;
}

.menu ul li.active {
    /* background-color: #e5e5e5 !important;
    color: #007bff; */
    background-color: #007bff;
    color: #fff;
}

.tileContent {
  /* width: 80%;
  padding: 20px;
  box-sizing: border-box; */
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}

@media screen and (max-width: 768px) {
  .flexbody {
    flex-wrap: wrap;
    flex-direction: column;
    padding: 15px;
  }

  .menu {
    order: 1;
    width: 100%;
  }

  .menu .searchField {
    margin-bottom: 15px;
  }

  .menu ul {
    display: flex;
    flex-direction: column;
  }

  .tileContent {
    order: 2;
    width: 100%;
    margin-top: 20px;
  }
}
/* Mobile (480px and below) */
@media screen and (max-width: 480px) {
  .flexbody{
    flex-direction: column;
  }

  .menu {
    width: 100%;
  }

  .menu .searchField {
    font-size: 14px;
    padding: 10px;
  }

  .menu ul li {
    font-size: 14px;
    padding: 10px;
  }

  .tileContent {
    width: 100%;
    margin-top: 15px;
  }
}

.website-url {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4em;
  min-height: 2.8em;
  word-break: break-word;
}