<div class="col-xs-12 col-sm-6 pd_top10" style="padding: 0">
    <div class="col-sm-12">
        <div class="portlet light">
            <div class="portlet-title" style="margin-bottom: 0px;min-height: 0px;">
                <div class="caption">
                    <span class="caption-subject" translate>Lead Statistics</span>
                </div>
            </div>
            <div class="portlet-body clearfix" style="min-height: 450px;">
                <ng-container>
                    <app-dashboard-loader *ngIf="leadsLoader"></app-dashboard-loader>
                </ng-container>
                <ng-container *ngIf="!leadsLoader && leadsStatusCode!=200">
                    <div class="alert alert-danger">
                        <strong>{{properties?.serverErrorMessage}}</strong>
                    </div>
                </ng-container>
                <ng-container *ngIf="!leadsLoader && leadsStatusCode==200">
                    <div class="col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 pl0">
                                <div class="portlet light card-height">
                                    <div>
                                        <div class="col-xs-3 p0">
                                            <i class="fa fa-users icon1" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-xs-9 card-align">
                                            <h3 class="number">
                                                {{leadsData?.totalLeads}}
                                            </h3>
                                            <p class="partners-text">Total</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 pl0">
                                <div class="portlet light card-height">
                                    <div>
                                        <div class="col-xs-3 p0">
                                            <i class="fa fa-users icon2" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-xs-9 card-align">
                                            <h3 class="number">
                                                {{leadsData?.wonLeads}}
                                            </h3>

                                            <p class="partners-text">Won</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 pl0">
                                <div class="portlet light card-height">
                                    <div>
                                        <div class="col-xs-3 p0">
                                            <i class="fa fa-users icon3" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-xs-9 card-align">
                                            <h3 class="number">
                                                {{leadsData?.lostLeads}}
                                            </h3>
                                            <p class="partners-text">Lost</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 pl0">
                                <div class="portlet light card-height">
                                    <div>
                                        <div class="col-xs-3 p0">
                                            <i class="fa fa-users icon2" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-xs-9 card-align">
                                            <h3 class="number">
                                                {{leadsData?.convertedLeads}}
                                            </h3>

                                            <p class="partners-text-converted" title="Converted">Converted</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <br>
                <app-leads-and-deals-bubble-chart *ngIf="loadChart" [moduleType]="'Leads'"
                    [applyFilter]="applyFilter"></app-leads-and-deals-bubble-chart>
            </div>
        </div>
    </div>
</div>