<div class="page-content" *ngIf="twitterProfile" >
<div class="page-bar square-box margin-bottom-10px">
	<ul class="page-breadcrumb">
		<li><i class="fa fa-home"></i> <a [routerLink]="['/']">Home</a> <i class="fa fa-angle-right"></i></li>
		<li><a [routerLink]="['/home/twitter/followers', socialConnection.profileId]">Twitter Followers</a> <i class="fa fa-angle-right"></i></li>
		<li>{{twitterProfile.screenName}}</li>
	</ul>
</div>
<div class="row">
<div class="col-md-3 col-sm-12 col-xs-12">
    <div class="js-stream-item" role="listitem" data-item-type="user">
      <div class="ProfileCard js-actionable-user">
  <a *ngIf="twitterProfile.profileBannerUrl" class="ProfileCard-bg js-nav" tabindex="-1" aria-hidden="true" [ngStyle]="{'background-image': 'url(' + twitterProfile.profileBannerUrl + ')'}"></a>
  <a *ngIf="!twitterProfile.profileBannerUrl" class="ProfileCard-bg js-nav" tabindex="-1" aria-hidden="true" [ngStyle]="{'background-color': '#'+twitterProfile.linkColor}"></a>
	
  <div class="ProfileCard-content">
    <a class="ProfileCard-avatarLink js-nav js-tooltip" tabindex="-1" aria-hidden="true">
      <img class="ProfileCard-avatarImage js-action-profile-avatar" src="{{twitterProfile.profileImageUrl}}" alt="">
    </a>
    
    <div class="ProfileCard-userFields">
<div class="ProfileNameTruncated">
  <div class="u-textTruncate u-inlineBlock ProfileNameTruncated-withBadges ProfileNameTruncated-withBadges--1">
    <a class="ProfileNameTruncated-link u-textInheritColor js-nav js-action-profile-name" data-aria-label-part="">{{twitterProfile.name}}</a>
  	<img *ngIf="twitterProfile.verified && true" alt="Verified account" src="https://ton.twitter.com/hc_assets/1307051244_737.png" style="float: right;width: 20px;height: 20px;margin-left: 2px;">
  </div>
</div>
      
      <span class="ProfileCard-screenname u-dir" dir="ltr">
        <a class="ProfileCard-screennameLink u-linkComplex js-nav" data-aria-label-part="">@<span class="u-linkComplex-target">{{twitterProfile.screenName}}</span></a>
      </span>
<div class="ProfileCardStats">
	<ul class="ProfileCardStats-statList Arrange Arrange--bottom Arrange--equal">
		<li class="ProfileCardStats-stat Arrange-sizeFit">
			<span class="ProfileCardStats-statLabel u-block">Tweets</span> 
			<span class="ProfileCardStats-statValue" data-is-compact="false">{{twitterProfile.statusesCount}}</span>
		</li>
		<li class="ProfileCardStats-stat Arrange-sizeFit">
			<span class="ProfileCardStats-statLabel u-block">Following</span> 
			<span class="ProfileCardStats-statValue" data-is-compact="false">{{twitterProfile.friendsCount}}</span>
		</li>
		<li class="ProfileCardStats-stat Arrange-sizeFit">
			<span class="ProfileCardStats-statLabel u-block">Followers</span> 
			<span class="ProfileCardStats-statValue" data-is-compact="false">{{twitterProfile.followersCount}}</span>
		</li>
	</ul>
</div>
      <p class="ProfileCard-bio u-dir" dir="ltr" data-aria-label-part="">{{twitterProfile.description}}</p>
<div class="ProfileCardStats" *ngIf="kloutScore">
    <div class="inner-content text-center">
        <div class="c100 p{{kloutScore.score}} small center">
            <span>{{kloutScore.score}}%</span>
            <div class="slice"><div class="bar"></div><div class="fill"></div></div>
        </div>
    </div>
    <h4 style="text-align: center;font-weight: 500;">score</h4>
</div>   
    </div>
  </div>
</div>
</div>
</div>

<div class="col-md-4 col-sm-12 col-xs-12">

<div class="DMActivity DMConversation js-ariaDocument u-chromeOverflowFix DMActivity--open" style="width: 100%;min-width: auto;">
  <div class="DMActivity-header">

    <div class="DMActivity-title js-ariaTitle" id="dm_dialog-header" style="justify-content: center;">
          <div class="DMUpdateAvatar" aria-haspopup="true" data-has-custom-avatar="false">
<div class="DMPopover DMPopover--center">
  <button class="DMPopover-button" aria-haspopup="true" disabled="disabled">
	<div class="DMUpdateAvatar-avatar">
		<div class="DMAvatar DMAvatar--1 u-chromeOverflowFix">
		   <span class="DMAvatar-container">
		     <img class="DMAvatar-image" src="{{twitterProfile.profileImageUrl}}" alt="{{twitterProfile.name}}" title="{{twitterProfile.name}}">
		   </span>
		</div>
	</div>
  </button>
</div></div>
    <div class="DMUpdateName u-textTruncate is-richHeader">
  <div class="DMUpdateName-header">
    <span class="DMUpdateName-name DMConversation-name u-textTruncate">{{twitterProfile.name}}</span>
    <span class="DMUpdateName-verifiedBadge js-verified"><span class="Icon Icon--verified Icon--small">
  <span class="u-hiddenVisually">Verified account</span>
</span></span>
  </div>
  <div class="DMUpdateName-screenName DMConversation-screenName u-textTruncate">@{{twitterProfile.screenName}}</div>
  <div class="DMUpdateName-controls u-hidden">
    <span class="DMUpdateName-spinner DMSpinner u-hidden"></span>
    <div class="DMUpdateName-form input-group u-hidden">
      <input type="text" class="DMUpdateName-input" aria-label="Edit group name">
      <button class="DMUpdateName-confirm u-textUserColorLight">
        <span class="Icon Icon--check"></span>
        <span class="u-hiddenVisually">Save group name</span>
      </button>
    </div>
  </div>
</div>

    </div>

  </div>

  <div class="DMActivity-container" style="max-height: 400px;">
    <div class="DMActivity-notice">
      <div class="DMNotice DMNotice--error DMErrorBar" style="display: none;">
  <div class="DMNotice-message">    <div class="DMErrorBar-text"></div>
</div>
  <div class="DMNotice-actions u-emptyHide"></div>
    <button type="button" class="DMNotice-dismiss">
      <span class="Icon Icon--close"></span>
      <span class="u-hiddenVisually">Dismiss</span>
    </button>
</div>

<div class="DMNotice  DMDeleteMessage" style="display: none;">
<div class="DMNotice-message">    Are you sure you want to delete this message?</div>
<div class="DMNotice-actions u-emptyHide">    
  	<button type="button" class="DMDeleteMessage-cancel btn" (click) = "hideDeleteDirectMessageNotice()">Cancel</button>
    <button type="button" class="DMDeleteMessage-confirm caution-btn js-initial-focus btn" (click) = "deleteDirectMessage()">Delete</button>
</div>
</div>
    </div>

    <div class="DMActivity-body js-ariaBody DMConversation-container">
    <div class="DMConversation-scrollContainer js-modal-scrollable">
      <span class="DMConversation-spinner DMSpinner u-hidden"></span>
<div class="DMConversation-content dm-convo js-dm-conversation" *ngFor="let directMessage of directMessages">
<div *ngIf="directMessage.sender.id == twitterProfile.id" class="DirectMessage DirectMessage--received clearfix dm js-dm-item" id="{{directMessage.extraData.id_str}}">
  <div class="DirectMessage-container">
    <div class="DirectMessage-avatar">
		<div class="DMAvatar DMAvatar--1 u-chromeOverflowFix">
		    <span class="DMAvatar-container">
		      <img class="DMAvatar-image" src="{{directMessage.sender.profileImageUrl}}" alt="{{directMessage.sender.name}}" title="{{directMessage.sender.name}}">
		    </span>
		</div>
    </div>

    <div *ngIf="directMessage.extraData.entities.media == undefined" class="DirectMessage-message with-text Caret Caret--left dm-message">
        <div class="DirectMessage-text">
        	<div class="js-tweet-text-container">
  				<p class="TweetTextSize  js-tweet-text tweet-text" lang="" data-aria-label-part="0">{{directMessage.text}}</p>
			</div>
		</div>
    </div>
	<div *ngIf="directMessage.extraData.entities.media != undefined" class="DirectMessage-message with-media dm-message">
		<div class="DirectMessage-media">
			<div class="Sensitive">
				<div class="Sensitive-content ">
					<div class="Media">
						<div class="Media-photo">
							<div class="FlexEmbed u-borderRadiusInherit" style="padding-bottom: 100.0%;">
								<div class="FlexEmbed-item u-borderRadiusInherit">
									<img src="{{directMessage.extraData.entities.media[0].media_url_https}}">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>    
    <div class="DirectMessage-actions">
		<span class="DirectMessage-action">
			<button type="button" class="DMDeleteMessageAction js-tooltip" data-original-title="Delete this message" (click)="showDeleteDirectMessageNotice(directMessage.extraData.id_str)">
		 			<span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
		 			<span class="u-hiddenVisually">Delete this message</span>
			</button>
		</span>
    </div>
  </div>
  <div class="DirectMessage-footer">
        <span class="DirectMessage-footerItem">
        	<span class="_timestamp" data-aria-label-part="last" data-time="1483427698" data-long-form="true" data-include-sec="true">{{directMessage.createdAt | date: 'short'}}</span>
		</span>
  </div>
  <div class="DirectMessage-footer">
    <div class="DMReadReceiptUserList DirectMessage-footerItem u-hidden">
      <div class="DMReadReceiptUserList-truncated"></div>
      <div class="DMReadReceiptUserList-expanded"></div>
    </div>
  </div>
</div>
<div *ngIf="directMessage.sender.id != twitterProfile.id" class="DirectMessage DirectMessage--sent clearfix dm js-dm-item" id="{{directMessage.extraData.id_str}}">
  <div class="DirectMessage-container">
    <div class="DirectMessage-avatar">
			<div class="DMAvatar DMAvatar--1 u-chromeOverflowFix">
			    <span class="DMAvatar-container">
			      <img class="DMAvatar-image" src="{{directMessage.sender.profileImageUrl}}" alt="{{directMessage.sender.name}}" title="{{directMessage.sender.name}}">
			    </span>
			</div>
    </div>
    <div *ngIf="directMessage.extraData.entities.media == undefined" class="DirectMessage-message with-text Caret Caret--right dm-message">
        <div class="DirectMessage-text">
	        <div class="js-tweet-text-container">
	  			<p class="TweetTextSize  js-tweet-text tweet-text" lang="" data-aria-label-part="0">{{directMessage.text}}</p>
			</div>
		</div>
    </div>
	<div *ngIf="directMessage.extraData.entities.media != undefined" class="DirectMessage-message with-media dm-message">
		<div class="DirectMessage-media">
			<div class="Sensitive">
				<div class="Sensitive-content ">
					<div class="Media">
						<div class="Media-photo">
							<div class="FlexEmbed u-borderRadiusInherit" style="padding-bottom: 100.0%;">
								<div class="FlexEmbed-item u-borderRadiusInherit">
									<img src="{{directMessage.extraData.entities.media[0].media_url_https}}">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="DirectMessage-actions">
		<span class="DirectMessage-action">
			<button type="button" class="DMDeleteMessageAction js-tooltip" data-original-title="Delete this message" (click)="showDeleteDirectMessageNotice(directMessage.extraData.id_str)">
				<span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
				<span class="u-hiddenVisually">Delete this message</span>
			</button>
		</span>
    </div>
  </div>
  <div class="DirectMessage-footer">
        <span class="DirectMessage-footerItem"><span class="_timestamp" data-aria-label-part="last" data-time="1483426915" data-long-form="true" data-include-sec="true">{{directMessage.createdAt | date: 'short'}}</span></span>
  </div>
</div>

</div>
    </div>

    </div>

    <div class="DMActivity-footer u-emptyHide DMConversation-composer u-bgUserColorLightest col-sm-12" style="background: #FFF;">
		<div class="col-sm-9">
			<input type="text" class="form-control" [(ngModel)]="directMessageText" style="min-width: 100%; min-height: 42px;">
		</div>
		<div class="col-sm-3">
			<button class="btn tweet-action primary-btn messaging tweet-btn" type="button" style="margin: 5px;" (click)="sendDirectMessage(directMessageText)">Send</button>
		</div>
    </div>


</div>
</div>

</div>

<div class="col-md-5 col-sm-12 col-xs-12">
<div class="js-stream-item stream-item stream-item" *ngFor="let item of tweets">
	  <div class="tweet js-stream-tweet js-actionable-tweet js-profile-popup-actionable original-tweet js-original-tweet">
	    <div class="content" style="width: auto; margin: auto;padding: 10px;background-color: #FFF;">
	<div id="content-{{item.id}}">
	<div class="stream-item-header">
	          <a class="account-group js-account-group js-action-profile js-user-profile-link js-nav" href="https://twitter.com/{{item.fromUser}}" target="_blank">
	    <img class="avatar js-action-profile-avatar" src="{{item.profileImageUrl}}" alt="{{item.fromUser}}" style="margin: 5px;">
	    <strong class="fullname js-action-profile-name show-popup-with-id">{{item.user.name}}</strong>
	    <span>&rlm;</span><span class="username js-action-profile-name"><s>@</s><b>{{item.fromUser}}</b></span>
	  </a>
	        <small class="time">
	  <span class="_timestamp js-short-timestamp js-relative-timestamp">{{item.createdAt | date: 'short'}}</span>
	</small>
	</div>
	<div class="js-tweet-text-container">
	  <p class="TweetTextSize TweetTextSize--16px js-tweet-text tweet-text" lang="en" [innerHTML]="item.text"><</p>
	<div class="AdaptiveMedia is-square" *ngIf="item.entities.media.length > 0">
	    <div class="AdaptiveMedia-container js-adaptive-media-container">
	        <div class="AdaptiveMedia-singlePhoto">
				<div class="AdaptiveMedia-photoContainer js-adaptive-photo " data-element-context="platform_photo_card">
				  <img src="{{item.entities.media[0].mediaSecureUrl}}" alt="" style="width: 100%; top: -0px;">
				</div>
			</div>
	    </div>
	  </div>
	</div>
	</div>
	<div class="stream-item-footer" style="margin-top: 2em;">
	<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement=bottom title="Like" style="margin-left:1em;">
	  <i class="fa fa-heart" aria-hidden="true" ></i>&nbsp;&nbsp;{{item.favoriteCount}}
	</button>
	<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement=bottom title="Retweet" style="margin-left:1em;">
	  <i class="fa fa-retweet" aria-hidden="true" ></i>&nbsp;&nbsp;{{item.retweetCount}}
	</button>
	<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement=bottom title="Reply" data-toggle="modal" data-target="#replyModal" style="margin-left:1em;" 
		(click)="populateReplyModalContent(item.id, item.fromUser, item.text)">
	  <i class="fa fa-reply" aria-hidden="true"></i>
	</button>
	</div>
	    </div>
	  </div>
	</div>
</div>
</div>
</div>