.grid-box.imgage-paddings.template-selected-border {
    border: none !important;
}

.grid-box {
    border: none;
    margin: 14px 0;
}

.grid-box:hover>.bar {
    visibility: inherit;
    opacity: 1;
    position: relative;
}

.imgage-paddings {
    background: #fff;
    height: 349px;
}

.imgage-paddings img {
    margin: 0px;
    border-radius: 15px;
}

span.select-check-box {
    position: absolute;
    background: #fff;
    padding-top: 1px;
    padding-right: 3px;
    padding-bottom: 0px;
    padding-left: 3px;
    border-radius: 3px;
    left: 0;
    margin-top: 2px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 1px;
    height: 23px;
}

.img-grid-track {
    height: 349px;
    max-width: 100%;
    overflow: hidden;
    margin: 0px;
    border-radius: 5px;
    width: 100% !important;
    border: 1px solid #ddd;
    object-fit: fill;
}

.img-grid-track:hover {
    border: 1px solid #54a7e9 !important;
}

span.icon-alignments {
    position: absolute;
    top: 1px;
    float: right;
    right: 1px;
    background: #fff;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    border-radius: 3px;
}

.icon-alignments i {
    font-size: 20px;
    margin-top: 2px !important;
}

@media screen and (max-width: 768px) {
    span.select-check-box {
        position: absolute;
        left: 17px;
    }

    span.icon-alignments {
        position: absolute;
        top: 16px;
        right: 16px;
    }

    .hover-bar {
        height: 95px;
        width: 100%;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 15px !important;
    }
}

.hover-bar {
    height: 63px;
}

.hover-bar a {
    width: 100%;
    border: none;
    margin: 5px;
    color: #000000;
    padding: 5px 0px;
    line-height: 0.8;
    text-align: left;
}

.grid-box:hover>.bar {
    visibility: inherit;
    opacity: 1;
    position: relative;
}

.bar {
    background: #f1f3fa;
    position: relative;
    bottom: 63px;
    visibility: initial;
    opacity: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #54a7e9;
}

@media screen and (max-width: 480px) {
    .hover-bar {
        width: 100%;
    }

    span.select-check-box {
        position: absolute;
        left: 0px;
    }

    span.icon-alignments {
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .bar {
        background: #f1f3fa;
        bottom: 0px;
        opacity: 1;
        border-bottom: 1px solid #54a7e9;
        border-right: 1px solid #54a7e9;
        border-left: 1px solid #54a7e9;
    }
}

@media only screen and (min-width:768px) and (max-width:1023px) {
    .bar.hover-bar {
        width: 100% !important;
    }

    span.icon-alignments {
        top: 21px !important;
        right: 21px !important;
    }

    span.select-check-box {
        top: 17px;
        left: 17px;
    }
}

.fontsize-cls span {
    font-size: 12px;
    padding: 1px;
}

.fontsize-cls strong {
    font-size: 12px;
}

.cardDetails-mar {
    float: left;
    margin: 3px;
    width: 100%;
}

.campaign-email-template-category {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

.template_padding {
    padding: 0px 4px 0px 4px;
}

.template-selected-border {
    box-shadow: 0 0 0 0.5px #54a7e9;
    border-radius: 15px;
}

.preview-edit-color {
    color: #5a5a5a;
}

.tooltip-cls {
    font-size: 24px;
    color: #54a7e9 !important;
    padding-top: 0px !important;
    font-size: 20px !important;
}

.dymc_width {
    width: 75% !important;
}

.template_box {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 0px 10px;
}
@media (min-width: 768px) and (max-width: 1120px) {
    .dymc_width{
        width: 85% !important;
    }
}
.close_btn {
  background: rgba(232, 243, 255, 1);
  color: rgba(2, 118, 255, 1);
  border: 1px solid #ddd;
  position: absolute;
  top: 13px;
  right: 13px;
  font-weight: 600;
  font-size: 18px;
  padding: 2px 10px;
  border-radius: 4px;
}
.template-selection{
    padding:25px;
}
.save-template{
    margin-top: 27px;
}
.modal-footer{
width: 98%;
    position: fixed;
    bottom: 5px;
    z-index: 1000;
    right: 10px;
}
input.radio-custimization:before {
    font-family: FontAwesome;
    font-size: 10px;
    background: #d8dade;
    content: " ";
    border-radius: 3px;
    padding-top: 4px;
    padding-right: 9px;
    padding-bottom: 3px;
    padding-left: 9px;
}
input.radio-custimization:checked:before {
    padding: 4px 4px;
    color: #fff;
    border-radius: 3px;
    font-family: FontAwesome;
    font-size: 10px;
    content: "\F00C";
    background-color: #54a7e9;
}
/* .ribbon {
    left: -10px;
    top: 12px;
    width: 150px;
    height: 150px;
}
.ribbon span {
    width: 135px;
    top: 24px;
    left: -6px;
} */

.ribbon {
    position: absolute;
    top: 12px;
    left: 11px;
    width: 94px;
    height: 94px;
    overflow: hidden;
    z-index: 10;
  }
  
  .ribbon span {
    width: 144px;
    padding: 1px 0;
    top: 25px;
    left: -35px;
  }
  
  .ribbon span::before,
  .ribbon span::after {
    content: "";
    position: absolute;
    bottom: -3px;
    border: 3px solid transparent;
    z-index: -1;
  }
  
  .ribbon span::before {
    left: 9px;
    border-top: 3px solid #5ab1eb;
    border-left: 3px solid #5ab1eb;
  }
  
  .ribbon span::after {
    right: 8px;
    border-top: 3px solid #5ab1eb;
    border-right: 3px solid #5ab1eb;
  }
  