#disabled-icon{
border: none;
margin: 0px 15px 0 0;
cursor: default;
}

 .blur {
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
}