ul.alt-row-style1 {
  padding-left: 20px;
}
ul.alt-row-style1 li {
  list-style-type: none;
  padding: 10px !important;
}
ul.alt-row-style1 li a {
  color: #333;
}
ul.alt-row-style1 li:hover {
  background: #dce6f5;
}
ul.alt-row-style1 li:nth-child(even) {
  border-top: 1px solid #dddfe2;
  border-bottom: 1px solid #dddfe2;
}
ul.alt-row-style1 .social-icon {
  background: #c4cbdf;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 5px;
}
ul.alt-row-style1 .social-icon i {
  color: #fff;
  text-align: center !important;
  position: relative;
  display: block;
  width: 30px;
  margin-top: 8px;
}
.scroller {
  overflow: auto;
}
.read {
  background-color: #f1f5f9;
}
.unread:hover {
  background-color: #f1f5f9;
}
.portlet-title {
  min-height: 30px;
}
.alert {
  margin-bottom: 0px;
}
