<div [hidden]="!processor.isProcessing">
	<div class="loader-container">
	   <div class="loader"></div>
	   <img alt="logo" class="logo-default"
		  src="assets/images/xamplify-logo.png">
	</div>
 </div>
 <div [hidden]="processor.isProcessing">
	<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
	<div class="page-content">
	   <div class="portlet light" style="border: navajowhite;">
		  <img onerror="this.src='assets/images/xamplify-logo.png';" src="{{companyLogoPath}}" class="img-rounded" alt="" width="200" height="100" style="left: 8%;height: 52px;width: 130px;top: 0; margin-top: 10px;;filter: grayscale(0);"> 
		  <div *ngIf="!isShowSuccessMessage">
			 <div class="container" *ngIf="isUnsubscribed" style="margin-top: 50px;">
				<h1>You have already unSubscribed for receiving emails from <strong>{{companyName}}</strong></h1>
				<h2>Would you like to ReSubscribe?</h2>
				<h3>Tell us the Reason</h3>
				<form style="line-height: 25px; font-size: 15px; width:50%;">
				   <label for="comment">Reason Or Message:</label>
				   <textarea class="form-control" [(ngModel)]="reason" (input)="characterSize()" [ngModelOptions]="{standalone: true}" rows="5" cols="50" id="comment" maxlength="250"></textarea>
				   <label class="text-area-css">{{characterleft}} characters left</label>
				</form>
				<div style="margin-top: 20px;" >
				   <button type="button"
				   class="btn btn-primary" (click)="unSubscribeUser()" [disabled]="invalidReason">Submit</button>
				</div>
				<div style="margin-top:20px">
				   <h4>By resubscribing, you confirm that you have read and agree to the <a href="{{properties?.termsOfServiceUrl}}">xAmplify Terms of Use</a>, and that you agree to the processing of your personal data by xAmplify as described in the <a href="{{properties?.privacyPolicyUrl}}">Privacy Policy</a>.</h4>
				</div>
			 </div>
			 <div class="container" *ngIf="!isUnsubscribed" style="margin-top: 50px;">
				<h1 [hidden]="unsubscribePageContent?.unsubscribePageDetails?.hideHeaderText" innerHtml="{{unsubscribePageContent?.unsubscribePageDetails?.headerText}}"></h1>
				<form style="line-height: 25px; font-size: 15px;">
				   <ng-container *ngFor="let reason of unsubscribeReasons;let i = index">
					  <input class="radioButton_shadow" type="radio" name="reason" value="{{reason?.reason}}" (click)="addReason(reason)"> {{reason?.reason}}<br>
				   </ng-container>
				   <div *ngIf="isOtherReason" style="width: 50%;">
					  <label for="comment">Reason:</label>
					  <textarea class="form-control" [(ngModel)]="reason" (input)="characterSize()" [ngModelOptions]="{standalone: true}" rows="5" cols="50" id="comment" maxlength="250"></textarea>
					  <label class="text-area-css">{{characterleft}} characters left</label>
				   </div>
				</form>
				<div style="margin-top: 20px;">
				   <button type="button" [disabled]="invalidReason"
				   class="btn btn-primary" (click)="unSubscribeUser()">Submit</button>
				</div>
				<div style="margin-top:20px">
				   <h4 [hidden]="unsubscribePageContent?.unsubscribePageDetails?.hideFooterText" innerHtml="{{unsubscribePageContent?.unsubscribePageDetails?.footerText}}"></h4>
				</div>
			 </div>
		  </div>
		  <div style="margin-top: 70px;" *ngIf="isShowSuccessMessage" class="alert alert-success">
			 {{message}}
		  </div>
	   </div>
	</div>
 </div>