.mt25m {
    margin-top: -25px !important;
    display: flex;
}
.mh480{
    min-height: 480px;
    height: 480px;
}
.tableHeightScroll{
    height: 343px !important;
    overflow-y: auto;
    margin-bottom: 20px;
}
.panel-bgMain{
  border-color: #ddd;
}
::-webkit-scrollbar {
width: 7px;
height: 7px;
}