.head-h {
  border-bottom: 1px solid #cecbcb;
  padding-bottom: 0px !important;
}

.pb-m {
  border-radius: 5px !important;
  margin: 0px 15px 0px 20px !important;
}

.circled-grey {
  background: #f1f1f1;
  border: 1px solid #f1f1f1;
  color: #202020;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-align: center;
  line-height: 32px !important;
  vertical-align: middle;
  margin-right: 7px;
  font-size: 13px !important;
}

.circled-grey:hover {
  background: #eaeaea;
  border: 1px solid #eaeaea;
  color: #202020;
}

