[type="checkbox"] {
  vertical-align: sub;
  width: 16px;
  height: 16px;
}
.grid-box img {
  margin: 0 auto;
  height: 390px !important;
  width: 100% !important;
  border-radius: 5px;
}
.grid-box {
  padding-bottom: 0px !important;
}
