<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-12" *ngFor="let emailTemplate of pagination.pagedItems ;let i =index" id="emailTemplateListDiv_{{emailTemplate.id}}">
      <div class="grid-box">
          <span class="ribbon1">
              <span *ngIf="emailTemplate.emailTemplateType==='Regular Co-Branding'">Email
                  Co-Branding</span>
          <span *ngIf="emailTemplate.emailTemplateType !='Regular Co-Branding'">{{emailTemplate.emailTemplateType}}</span>
          </span>
          <img class="email-template-preview" *ngIf="emailTemplate.imagePath" style="margin: 0 !important; height: 390px !important; width: 100% !important; border-radius: 5px;" src="{{emailTemplate.subject}}" alt="Image Not Found">
          <img class="email-template-preview" *ngIf="!emailTemplate.imagePath" style="margin: 0 !important; height: 390px !important; width: 100% !important; border-radius: 5px;" src="assets/images/bee-template/rich-simple.jpg">
          <h4 class="ellipsis mt5 mb5 f-w-600" title="{{emailTemplate.name}}">
              {{emailTemplate.name | slice:0:25}} <span *ngIf="emailTemplate.name?.length>25">...</span><br><br>
          </h4>
          <!-- <div class="bar">
              <a (click)="spamCheck(emailTemplate)" data-toggle="tooltip" data-placement="top" title="{{actionsDescription.template_spam_check}}">
                  <i class="fa fa-inbox" aria-hidden="true"></i>
              </a>
              <a (click)="edit(emailTemplate.id)" data-toggle="tooltip" data-placement="top" title="{{actionsDescription.template_edit}}" *ngIf="(hasAllAccess||(hasEmailTemplateRole && emailTemplate.userId==loggedInUserId)  || authenticationService.module.isVendor) && emailTemplate.type!='PARTNER'">
                  <i class="fa fa-pencil-square-o"></i>
              </a>
              <a *ngIf="!emailTemplate.draft" (click)="getTemplateById(emailTemplate)" data-toggle="tooltip" data-placement="top" title="{{actionsDescription.template_preview}}"> <i class="fa fa-eye"></i>
              </a>
              <a (click)="confirmDeleteEmailTemplate(emailTemplate.id,emailTemplate.name)" data-toggle="tooltip" data-placement="top" title="{{actionsDescription.template_delete}}" *ngIf="(hasAllAccess||(hasEmailTemplateRole && emailTemplate.userId==loggedInUserId)||authenticationService.module.isVendor) && emailTemplate.type!='PARTNER' ">
                  <i class="fa fa-trash-o"></i>
              </a>
          </div> -->
      </div>
  </div>
</div>
<!-- <div class="form-group col-md-12" *ngIf="pagination.pagedItems.length !== 0">
  <app-pagination [pagination]="pagination" (notifyParent)="setPage($event)"
    (notifyParentDropDown)="getVanityEmailTemplates($event)" [hidden]="httpRequestLoader.isLoading"></app-pagination>
</div> -->