@media screen and (max-width: 600px) {
  .mAlignment {
    display: grid !important;
  }
  .mSearchAlign {
    margin-right: 40px !important;
    margin-top: -34px !important;
  }
}
@media (max-width: 768px) {
  .form-group-mr {
    margin-left: 0px;
  }
}
.select-width {
  width: 196px;
  height: 32px;
}
@media only screen and (max-width: 599px) {
  .select-width {
    width: 100% !important;
  }
}
@media (max-width: 320px) {
  .ml0-mr0 {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px !important;
  }
}
@media only screen and (max-width: 479px) {
  .ml0-mr0 {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px !important;
  }
  .form-group-mr {
    margin-left: -15px !important;
  }
}
@media only screen and (max-width: 599px) {
  .ml0-mr0 {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px !important;
  }
  .form-group-mr {
    margin-left: -15px !important;
  }
}
.info-icon {
  color: #fa5252;
  padding: 10px 5px;
}
