#container {
  height: 210px;
}
.highcharts-figure-pie {
  min-width: 210px;
  max-width: 800px;
}
.mix-filter {
  margin: 5px;
}
.mix-filter li {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 5px 12px;
}
.portlet.light .portlet-body {
  padding: 1em;
}
.portlet.light.block:hover {
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-0.5rem);
  -ms-transform: translateY(-0.5rem);
  transform: translateY(-0.5rem);
  cursor: pointer;
  cursor: hand;
}
.fa-4x {
  font-size: 4em;
}
.emailtemplate-selected {
  background-color: #6dcff6;
}
[type="checkbox"] {
  vertical-align: sub;
  width: 16px;
  height: 16px;
}
/* 16-06-2023*/
.white-co {
  display: flex;
  align-items: stretch;
}

@media (min-width: 992px) and (max-width: 1200px)  {  
  .figurePieResponsiveOverflow {
    overflow: initial !important;
    position: relative;
    right: 0;
    left: 0;
}

}