<ngx-loading [show]="loader" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="col-xs-12 col-sm-12"  style="padding: 0">
    <div class="col-xs-12">
        <div class="portlet light">
            <div class="portlet-title" style="min-height: 0px;">
                <div class="caption">
                    <span class="caption-subject" translate>{{name}}</span>
                </div>
            </div>
            <div class="portlet-body">
                <app-modal-popup-loader  [height]=220 [hidden]="!loader"></app-modal-popup-loader>
                <ng-container *ngIf="!loader && statusCode!=200">
                    <div class="alert alert-danger">
                      <strong>{{properties?.serverErrorMessage}}</strong>
                    </div>
                  </ng-container>
                  <div [hidden]="loader" *ngIf="funnelChartData?.length==0" style="max-width: 100%;text-align: center;">
                    <div class="alert alert-info">
                         <strong>No Data Found</strong>
                     </div>
                </div>
                <button (click)="click()">Deals</button>
                <button (click)="leads()">Leads</button>
<div class="highcharts-figure">
    <div id="container"></div>
   
</div>
<div class="row" style="display: flex">
    <div class="col-xs-12 col-md-4 col-lg-4" style="width: auto;padding-right: 0px;">
    <div *ngFor="let item of pieChartStatisticsData[0]" id="item{{0}}" style="width: max-content;">{{item}}</div>
    </div>
    <div class="col-xs-12 col-md-4 col-lg-4" style="padding-right: 8px;padding-left: 8px;">
    <div *ngFor="let item of pieChartStatisticsData[1]" id="item{{1}}" style="width: max-content;">{{item}}</div>
    </div>
    <div class="col-xs-12 col-md-4 col-lg-4" style="padding-left: 0px;">
    <div *ngFor="let item of pieChartStatisticsData[2]" id="item{{2}}" style="width: max-content;">{{item}}</div>
    </div>

</div>
</div>
</div>
</div>
</div>