.default-cursor{
	cursor: default;
}

.clickable{
    cursor: pointer;  
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}

.panel-heading-info-box {
	margin-right: 5px;
	color: #000;
}

.panel-heading-info-box-red {
	margin-right: 15px;
	color: #fff;
}

.panel-heading-custom {
	height: 50px;
}

.mt25m {
	margin-top: -25px !important;
}

.mt7 {
	margin-top: 7px !important;
}

.tr-count {
	margin-top: -60px;
    margin-right: 30px;
	color: #fff;
}

.nav-tabs .active {
	font-size: 15px;
    font-weight: bold;
    border-bottom: solid 3px;
}

.scroll {
	height: 300px;
    overflow: auto;
}

.link12 {
    color: #5b9bd1;
}

.text-wrap {
	overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
}
.portlet{
	margin-bottom: 20px !important;
}

/* design Manage Forms Analytics table borders */
table.table.table-allsideboders {
    border: 1px solid #ddd;
}
