.helpcircle-cu {
    font-size: 20px !important;
    position: relative;
    top: 3px;
    left: -2px;
    font-weight: 800;
}
.help-iconbgadd {
    float: right;
    margin: 4px 4px;
    border-radius: 50%;
    height: 32px;
    /* width: 32px; */
    padding: 5px 5px 5px 8px;
    font-size: 12px;
    border: 1px solid #cccccc;
}
/* .help-iconbgadd:hover {
    background: #e8eaed;
} */
.selectRecord{
    background-color: #1091d9 !important;
    color: #fff !important;
    fill: #0B2533 !important;
    padding: 4px 8px;
    border-radius: 20px;
    font-size: 15px;
  }