<div class="help-iconbgadd selectRecord user_guide">
  <a href="{{urllink}}" class="txt_color guide_text" target="_blank" style="font-weight: 500;" translate>
    <!-- <i class="fa fa-question-circle" title="User Guide"></i> -->
    <i class="fa fa-question-circle-o helpcircle-cu" aria-hidden="true" data-placement="bottom" data-toggle="tooltip"
      title="Help"></i>&nbsp;Help
  </a>
</div>

<!-- <div>
  <button class="selectRecord"> Help 
    <i class="fa fa-question-circle-o helpcircle-cu" aria-hidden="true" data-placement="bottom"  data-toggle="tooltip" title="Help"></i>
  </button>
</div> -->