<div class="row" *ngIf="!loading">
  <div class="col-md-4">
    <div class="portlet light inbox-list">
      <div class="portlet-title">
        <div class="caption">Inbox</div>
      </div>
      <div class="mail-threads">
        <div *ngFor="let thread of threads" class="mail-thread" (click)="selectThread(thread)" [class.active]="selectedThread===thread">
          <div class="subject">{{thread.subject}}</div>
          <div class="meta">
            <span class="from">{{thread.messages[0]?.from}}</span>
            <span class="date pull-right">{{thread.messages[0]?.receivedDate | date:'short'}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8" *ngIf="selectedThread">
    <div class="portlet light thread-view">
      <div class="portlet-title">
        <div class="caption">{{selectedThread.subject}}</div>
      </div>
      <div class="thread-messages">
        <div *ngFor="let msg of selectedThread.messages" class="mail-message">
          <div class="header">
            <strong>{{msg.from}}</strong>
            <span class="pull-right">{{msg.receivedDate | date:'medium'}}</span>
          </div>
          <div class="body" [innerHTML]="msg.body"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loading" class="text-center">
  <img src="assets/images/loader.gif" alt="Loading..." />
</div>
