#box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #101010;
  background-color: #f3565d;
  height: 103px;
}
.campaign-type-selected {
  background-color: #0276ff;
  color: #fff;
}
.greay {
  background-color: #8a8282c4;
}
