
<ul class="nav nav-tabs hideBorder" style="margin-bottom:0px;">
    <!--Draw-->
    <li  [class.active]="activeTab === 'draw'">
      <a class="teamMemberDomainC" id="width-205px"
        (click)="switchTab('draw')" data-toggle="tab"  href="#">Draw
        <i *ngIf="activeTab === 'draw'" id="tick-mark" class="fa fa-check-circle-o success"></i>
      </a>
    </li>

    <!--Type-->
    <li  [class.active]="activeTab === 'type'">
        <a id="width-205px"  (click)="switchTab('type')" data-toggle="tab"  href="#">Type
            <i *ngIf="activeTab === 'type'" id="tick-mark" class="fa fa-check-circle-o success"></i>
        </a>
    </li>
    <!--Upload-->
    <li  [class.active]="activeTab === 'upload'">
        <a id="width-205px"  (click)="switchTab('upload')" data-toggle="tab"  href="#">Upload
            <i *ngIf="activeTab === 'upload'" id="tick-mark" class="fa fa-check-circle-o success"></i>
        </a>
    </li>
  </ul>

  <div class="panel-body tab-bg">
    <div class="tab-content">
        <!---Draw-->
        <div [hidden]="activeTab !='draw'" class="tab-pane" [class.active]="activeTab === 'draw'">
            <div class="text-center">
                <canvas #sigPad width="300"  height="150" (mousedown)="onMouseDown($event)"
                (mousemove)="onMouseMove($event)"></canvas>
             </div>   
        </div>

        <!--Type-->
        <div *ngIf="activeTab === 'type'" class="tab-pane active">
          <input type="text" class="form-control" [(ngModel)]="typedSignature" placeholder="Type your signature" />
          <div class="typed-preview mt-3">{{ typedSignature }}</div>
        </div>

        <!--Upload-->
        <div *ngIf="activeTab === 'upload'" class="tab-pane active">
          <input type="file" (change)="onFileUpload($event)" />
          <img *ngIf="uploadedImage" [src]="uploadedImage" alt="Uploaded Signature" class="mt-3 img-thumbnail" />
        </div>

    </div>  
  </div>

  <div class="float-right mt10">
    <button type="button" class="btn btn-primary" (click)="saveSignature()">Save</button>
    <button type="button" class="btn btn-danger" (click)="clearCanvas()">Clear</button>
  </div>