<ngx-loading [show]="ngxLoading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

<app-modal-popup-loader *ngIf="signaturesLoader"  [height]="130"></app-modal-popup-loader>

<div [hidden]="signaturesLoader">
  <div class="alert alert-info">{{headerTextMessage}}</div>
  <ul class="nav nav-tabs hideBorder" style="margin-bottom:0px;">
      <!--Draw-->
      <li  [class.active]="isDrawTabActive">
        <a class="teamMemberDomainC" id="width-205px"
          (click)="switchTab('draw')" data-toggle="tab"  href="#">Draw
          <i *ngIf="isDrawTabActive" id="tick-mark" class="fa fa-check-circle-o success"></i>
        </a>
      </li>

      <!--Type-->
      <li  [class.active]="isTypeTabActive">
          <a id="width-205px"  (click)="switchTab('type')" data-toggle="tab"  href="#">Type
              <i *ngIf="isTypeTabActive" id="tick-mark" class="fa fa-check-circle-o success"></i>
          </a>
      </li>
      <!--Upload-->
      <li  [class.active]="isUploadTabActive">
          <a id="width-205px"  (click)="switchTab('upload')" data-toggle="tab"  href="#">Upload
              <i *ngIf="isUploadTabActive" id="tick-mark" class="fa fa-check-circle-o success"></i>
          </a>
      </li>
  </ul>

  <div class="panel-body tab-bg">
    <div class="tab-content">
        <!---Draw-->
        <div [hidden]="activeTab !='draw'" class="tab-pane" [class.active]="isDrawTabActive">
          <div [hidden]="previewingExistingDrawSignature">
            <div class="text-center">
              <canvas #sigPad width="300"  height="150" (mousedown)="onMouseDown($event)"
              (mousemove)="onMouseMove($event)"></canvas>
          </div>  
          <ng-template [ngTemplateOutlet]="buttonsTemplate"></ng-template>
          </div>
          <div *ngIf="previewingExistingDrawSignature">
            <div class="text-center" >
              <img [src]="getSanitizedImageUrl(signatureResponseDto?.drawSignatureImagePath)" alt="Image Preview" class="preview-img" />
            </div>
            <div class="float-right mt10 mb10">
              <button type="button" class="btn btn-primary" (click)="previewingExistingDrawSignature=false">Re-Draw</button>
            </div>
          </div>
        </div>
        <!--Type-->
        <ng-template [ngTemplateOutlet]="typeSignatureTemplate"></ng-template>
        <!--Upload-->
        <ng-template [ngTemplateOutlet]="uploadSignatureTemplate"></ng-template>

    </div>  
  </div>
</div>

 <!--Type-->
  <ng-template #typeSignatureTemplate>
    <div *ngIf="isTypeTabActive" class="tab-pane active">
      <div class="mb10" *ngIf="signaturesLoader" >
        <app-modal-popup-loader  [height]="130"></app-modal-popup-loader>
      </div>
      <div *ngIf="!signaturesLoader">
        <input type="text" class="form-control" [(ngModel)]="signatureDto.typedSignatureText" (input)="validateTypedSignature()" placeholder="Type your signature" />
        <span class="required" *ngIf="!isValidSignatureText">{{signatureTextErrorMessage}}</span>
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
          <!--DropDown-->
          <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
            <h4>Choose a Font Style:</h4>
            <select class="form-control" [(ngModel)]="signatureDto.typedSignatureFont" (change)="previewSignature()">
              <option *ngFor="let font of fontStyles" [ngValue]="font" [ngStyle]="{'font-family': font}">
                {{ signatureDto.typedSignatureText  || 'Your Signature' | slice:0:25 }}
              </option>
            </select>
          </div>
          <!--Preview-->
          <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
            <h4>Preview:</h4>
            <div class="signature-preview mb10" [ngStyle]="{'font-family': signatureDto.typedSignatureFont}">
              <div id="typedSignaturePreview">{{ signatureDto.typedSignatureText || 'Your Signature'  | slice:0:25 }}</div>
            </div>
          </div>
        </div>
      </div>
      <ng-template [ngTemplateOutlet]="buttonsTemplate"></ng-template>
    </div>
  </ng-template>

  <!--Upload-->
  <ng-template #uploadSignatureTemplate>
    <div *ngIf="isUploadTabActive" class="tab-pane active">
      <div class="mb10" *ngIf="signatureLoader" >
        <app-modal-popup-loader  [height]="130"></app-modal-popup-loader>
      </div>
      <div *ngIf="!signatureLoader">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
          <!--DropDown-->
          <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
            <div>
              <input type="file" title="{{fileName}}"  id="fileInput"   accept="image/*"  (change)="onFileSelected($event)"  class="file-input" />
              <label for="fileInput" class="file-label"><span>Select an Image</span></label>
            </div>
            <div *ngIf="imagePreview">
              <img [src]="imagePreview" alt="Image Preview" class="preview-img" title="{{fileName}}" />
            </div>
          </div>
        </div>
      </div>
      <ng-template [ngTemplateOutlet]="buttonsTemplate"></ng-template>
    </div>
  </ng-template>

  <!--Button-->
  <ng-template #buttonsTemplate>
      <div class="float-right mt10 mb10">
        <button type="button" class="btn btn-info" (click)="previewingExistingDrawSignature=true;clear()">Back</button>
        <button type="button" class="btn btn-primary" (click)="saveSignature()">Submit</button>
        <button type="button" class="btn btn-danger" (click)="clear()">Clear</button>
      </div> 
  </ng-template>