.nav-tabs>li>a {
    font-size: 12px;
}

.tab-bg {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px !important;
    padding-bottom: 0px;
}


canvas {
    border-radius: 10px;
    background-color: white;
    border: 1px solid #000;
    overflow: hidden;
}

span {
    width: 300px;
}