<div class="modal fade right" id="spfModalPopup" tabindex="-1" role="dialog" aria-labelledby="spfModalPopup" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg modal-template" role="document">
     <div class="modal-content">
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
        <div class="modal-header">
           <button type="button" class="close-circle" data-dismiss="modal" aria-hidden="true">
           <i class="fa fa-times" aria-hidden="true"></i>
           </button>
           <h4 class="modal-title">
              {{properties?.spfHeaderText}}
           </h4>
        </div>
        <div class="modal-body">
           <div class="alert alert-danger" *ngIf="checkBoxError">
              <strong>You must confirm</strong>
           </div>
           <app-spf-description [showGoDaddyConfiguration]="true"></app-spf-description>
        </div>
        <div class="modal-footer">
           <div class="form-group left">
              <input type="checkbox" [(ngModel)]="isChecked" [ngModelOptions]="{standalone: true}" name="spf" value="spf" checked translate>
              <span class="{{spfErrorOrSuccessClass}}">You confirm that SPF configuration is done.</span>
           </div>
           <button type="button" class="btn btn-primary" (click)="saveSpf()" translate>Submit</button>
           <a href="javascript:void(0)" data-dismiss="modal" class="btn btn-default" style="float: right" translate>Close</a>
        </div>
     </div>
  </div>
</div>