<div class="row">
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pl-7">
  <div class="portlet-body h-240">
            <ul class="list-group">
                <li class="list-group-item f-w-500">
                    Instant Navigation
                </li>
                <li class="list-group-item">
                    <span class="view-banner banner-top mr5">quick Link</span>
                    <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
                      </svg><span class="nav-text">Zero Trust Everywhere</span><i class="fa fa-link ml5"></i></a>
                </li>
                <li class="list-group-item">
                    <span class="view-banner orange-lable-cu1 mr5">quick Link</span>
                  <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
                  </svg><span class="nav-text"> Versa Price Lists</span><i class="fa fa-link ml5"></i></a>
                </li>
                <li class="list-group-item">
                    <span class="view-banner banner-top mr5">quick Link</span>
                    <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
                      </svg><span class="nav-text"> SASE TechTalk Series Register for Live Session</span><i class="fa fa-link ml5"></i></a>
                </li>
                <li class="list-group-item">
                    <span class="view-banner orange-lable-cu1 mr5">quick Link</span>
                  <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
                  </svg><span class="nav-text"> Versa Price Lists</span><i class="fa fa-link ml5"></i></a>
                </li>
                <li class="list-group-item">
                    <span class="view-banner orange-lable-cu1 mr5">quick Link</span>
                  <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
                  </svg><span class="nav-text"> Versa Price Lists</span><i class="fa fa-link ml5"></i></a>
                </li>
            </ul>
        </div>
</div>
</div>