.partners-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
}
.icon1 {
  background: #5c9bd1;
  padding: 12px 10px;
  border-radius: 3px;
  color: #fff;
  height: 37px;
  width: 37px;
  margin-top: -7px;
}
.icon2 {
  background: #3faba4;
  padding: 12px 10px;
  border-radius: 3px;
  color: #fff;
  height: 37px;
  width: 37px;
  margin-top: -7px;
}
.icon3 {
  background: #ff0000;
  padding: 12px 10px;
  border-radius: 3px;
  color: #fff;
  height: 37px;
  width: 37px;
  margin-top: -7px;
}
.re-distributed-high-level {
  width: 100px;
  height: 50px;
  cursor: default;
  border-color: #00a6e8;
  border-radius: 3px !important;
}
.sky-blue {
  color: #00a6e8;
}
.number {
  margin: 0px;
  text-align: right;
  font-weight: 700;
  font-size: 14px !important;
  color: #00000085;
}
/* .text {
    font-size: 11px;
    padding: 0px 0px;
    font-weight: 500;
    text-align: right;
}
*/
.card-align {
  text-align: right;
}
.card-height {
  height: 45px;
  padding-left: 5px !important;
}
@media screen and (max-width: 1366px) and (min-width: 1024px) {
  .number {
    margin: 0px;
    text-align: right;
    font-weight: 700;
    font-size: 14px !important;
  }
  .card-height {
    height: 45px;
    padding-left: 5px !important;
    padding-right: 3px !important;
  }
  .card-align {
    text-align: right;
    padding-right: 8px;
  }
}
@media screen and (max-width: 600px) {
  .mHeight {
    min-height: 700px !important;
  }
  .mPad0 {
    padding: 0px;
  }
}
.input-medium {
  width: auto !important;
}
