<div class="col-xs-12">
  <div class="text-center f-w-600" *ngIf="names?.length > 0">{{moduleType}} By Top 10 {{authenticationService?.partnerModule?.customName}}</div>
  <div [hidden]="loading" *ngIf="names?.length < 1" style="max-width: 100%;text-align: center;">
    <div class="alert alert-info">
         <strong>No Data Found</strong>
     </div>
</div>
  <app-modal-popup-loader [height]=220  [hidden]="!loading"></app-modal-popup-loader>
  <div [hidden]="loading">
  <div class="col-xs-12 m0 p0" id="{{moduleType}}" style="height: 250px;z-index: 555"></div>
</div>
<div *ngIf="names?.length > 0" class="col-xs-12" style="padding: 9px 0px 0px 0px;margin: auto -15px;">
<div class="table-responsive" style="overflow-x:auto;">
<table class="table table-striped" aria-describedby="deal-bubble-chart">
<!-- -Top 1 to 5 -->
<tr>
<ng-container *ngFor="let name of names;let i=index;">
<ng-container *ngIf="i<=4">
<th class="bg-colorunset" scope="col">
      <div [style.background]="name.color" class="td-css"></div>
  </th>
  <td>
      <h6 class="bold ml20" title="{{name?.name}}">{{name?.name | slice:0:10}}
        <span *ngIf="name?.name?.length>10">..</span>
      </h6>
  </td>
</ng-container>
  </ng-container>
</tr>
<!-- -Top 5 to 10 -->
<tr>
<ng-container *ngFor="let name of names;let i=index;">
<ng-container *ngIf="i>4">
<th class="bg-colorunset" scope="col">
      <div [style.background]="name.color" class="td-css"></div>
  </th>
  <td>
      <h6 class="bold ml20" title="{{name?.name}}">{{name?.name | slice:0:10}}
        <span *ngIf="name?.name?.length>10">..</span>
      </h6>
  </td>
</ng-container>
  </ng-container>
</tr>
</table>
</div>
</div>
</div>