<div class="row m0" id="dealDetailsDiv">
  <div class="{{formHeaderClass}}">
    <div class="panel-group"  id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default deal-bgcolor">
        <div class="panel-heading deal-bgcolor">
          <h4 class="panel-title">
            <a class="collapsed" href="DealDetails" (click)="toggleCollapseDeal($event)"> <i
                [ngClass]="{'fa-chevron-up collapseOut': !isCollapsed2, 'fa-chevron-down collapseIn': isCollapsed2}"
                class="arrowpositinon fa collapseIconColorCu" aria-hidden="false" style="float: right;"></i>{{ opportunityType === 'DEAL' ? 'Deal Details' : 'Lead Details' }}</a>
          </h4>
        </div>
        <div [ngClass]="{'collapse': isCollapsed2, '': !isCollapsed2}" id="DealDetails">
          <div class="panel-body br-unset pl0 pr0" [ngClass]="isPreview?'':'mrg'">
            <div class="row m0 deal-bgcolors border-unset error-css">
              <div class="alert alert-danger" id="company-profile-error-div" *ngIf="showSFFormError">
                <strong>{{sfFormError}}</strong>
              </div>
              <!---XNFR-403-->
              <div [@slowAnimate]  class="alert alert-danger" *ngIf="!isValidRepValues">
                <strong>Sales Rep & Inside Rep values cannot be same</strong>
              </div>
              <!---XNFR-403-->
              <ngx-loading [show]="isLoading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
              <app-modal-popup-loader *ngIf="isLoading"></app-modal-popup-loader>
              <!--Add/Edit-->
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p0" *ngIf="!isPreview">
                <div *ngIf="formDescription?.length>1 && authenticationService?.module?.isPartnerCompany && !isPreview">
                  <div class="alert alert-info">{{formDescription}}</div>
                </div>
                <ng-container *ngFor="let columnInfo of form.formLabelDTOs;let i = index">
                  <ng-container *ngIf="formLayOut==singleColumnLayout">
                    <ng-template  [ngTemplateOutlet]="formFields" [ngTemplateOutletContext]="{columnInfo:columnInfo}"></ng-template>
                  </ng-container>
                  <ng-container *ngIf="formLayOut==twoColumnLayout">
                    <ng-template *ngIf="(0 == i % 2)" [ngTemplateOutlet]="formFields" [ngTemplateOutletContext]="{columnInfo:columnInfo}"></ng-template>
                    <ng-template *ngIf="(0 != i % 2)" [ngTemplateOutlet]="formFields" [ngTemplateOutletContext]="{columnInfo:columnInfo}"></ng-template>
                  </ng-container>
                </ng-container>
              </div>
              <!--Preview-->
              <div *ngIf="isPreview">
                <ng-container *ngFor="let columnInfo of form.formLabelDTOs;let i = index">
                  <ng-template  [ngTemplateOutlet]="formFields" [ngTemplateOutletContext]="{columnInfo:columnInfo}"></ng-template>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Add product start -->
    <div *ngIf="showConnectWiseProducts && selectOnChangeEvent" class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default deal-bgcolor">
      <div class="panel-heading deal-bgcolor">
        <h4 class="panel-title">
          <a class="collapsed" href="Products" (click)="toggleCollapseProduct($event)">
            <i [ngClass]="{'fa-chevron-up collapseOut': !isCollapsed3, 'fa-chevron-down collapseIn': isCollapsed3}"
              class="arrowpositinon fa collapseIconColorCu" aria-hidden="true" style="float: right;"></i>
            Products
          </a>
        </h4>
      </div>
      <div [ngClass]="{'collapse': isCollapsed3, '': !isCollapsed3}" id="Products">
        <div class="panel-body" *ngIf="isLoading">
          <app-modal-popup-loader></app-modal-popup-loader>
        </div>
        <div *ngIf="!isLoading">
          <div  class="br-unset pb15">
            <div class="alert alert-info text-center mt5" *ngIf="forecastItems?.length==0">
                <strong *ngIf="isPreview">No products found</strong>
                <strong *ngIf="!isPreview">Please <a (click)="addProduct()">Click here</a> to add a product</strong>
            </div>
            <div [@slowAnimate]  class="panel-body pl0 pr0 pb0" *ngFor="let product of forecastItems;let i=index"
              id="{i}">
              <div class="row portlet light m0 deal-bgcolors">
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 mb10 pr0">
                  <label>Name</label>
                  <app-searchable-dropdown [searchableDropDownDto]="searchableDropDownDto" [id]="product.catalogItem.id" [disableDropDown]="isPreview"
                    (searchableDropdownEventEmitter)="searchableDropdownEventReceiver($event,i)"></app-searchable-dropdown>
                </div>
                <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 mb10  pr0">
                  <label>Price</label>
                  <input type="number" [(ngModel)]="product.price" class="form-control" min="0"
                    placeholder="Enter the Price" [disabled]="isPreview">
                </div>
                <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 mb10  pr0">
                  <label>Cost</label>
                  <input type="number" [(ngModel)]="product.cost" class="form-control" min="0"
                    placeholder="Enter the Cost" [disabled]="isPreview">
                </div>
                <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 mb10  pr0">
                  <label>Quantity</label>
                  <input type="number" [(ngModel)]="product.quantity" class="form-control" min="0"
                    placeholder="Enter the Quantity" [disabled]="isPreview">
                </div>
                <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2  pr0" *ngIf="!isPreview">
                  <div class="row Add-Icon">
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 Add-Icon">
                      <button (click)="addProduct()" class="btn btn-primary add-btn" data-placement="top"
                        data-toggle="tooltip" title="Add" aria-hidden="false">
                        <i class="fa fa-plus add-prdt"></i>
                      </button>
                      <button  class="btn btn-danger add-btn"  (click)="removeProduct(i)" data-placement="top"
                        data-toggle="tooltip" title="Delete" aria-hidden="false">
                        <i class="fa fa-trash-o p0 add-prdt"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<!--Added On 11/12/2023-->
<ng-template #formFields let-columnInfo="columnInfo">
  <ng-container *ngIf="!columnInfo?.hideFieldInfo">
  <div *ngIf="!isLoading"  class="{{formGroupClass}}"  >
    <label class="{{formLabelGroupClass}}">{{columnInfo?.displayName}} 
      <span class="required" *ngIf="columnInfo?.required">*</span>
      <span *ngIf="!(columnInfo.labelType=='textarea' || columnInfo.labelType=='text' || columnInfo.labelType=='number' || columnInfo.labelType=='email' || columnInfo.labelType=='percent' || columnInfo.labelType=='geolocation' || columnInfo.labelType=='phone' || columnInfo.labelType=='url') && columnInfo.placeHolder?.length > 0">({{columnInfo.placeHolder}})
      </span>
    </label>
    <!-- ---------------------------TextBox & Email & Number----------------------------- -->
    <ng-container *ngIf="columnInfo.labelType=='text' || columnInfo.labelType=='email'">
      <input type="{{columnInfo.labelType}}" [disabled]="isPreview || isVendor || columnInfo.columnDisable" class="form-control"
        placeholder="{{columnInfo.placeHolder}}" id="{{columnInfo.labelId}}" [(ngModel)]="columnInfo.value"
        maxlength="{{columnInfo.labelLength}}" (input)="validateField(columnInfo)" autocomplete="off" aria-autocomplete="none">
      <span class="required" *ngIf="columnInfo.divClass=='error'">{{columnInfo.errorMessage}}</span>
    </ng-container>

    <!-- ---------------------------Number----------------------------- -->
    <ng-container *ngIf="columnInfo.labelType=='number'">
      <input type="{{columnInfo.labelType}}" [disabled]="isPreview || isVendor" class="form-control"
        placeholder="{{columnInfo.placeHolder}}" id="{{columnInfo.labelId}}" [(ngModel)]="columnInfo.value"
        maxlength="{{columnInfo.labelLength}}" (keypress)="numericOnly($event)" (input)="validateField(columnInfo)">
      <span class="required" *ngIf="columnInfo.divClass=='error'">{{columnInfo.errorMessage}}</span>
    </ng-container>

    <!-- ---------------------------Date----------------------------- -->
    <ng-container *ngIf="columnInfo.labelType=='date'">
      <app-flatpickr [type]="'date'" [dateFormat]="'Y-m-d'" [enableTime]="false" [(dataField)]="columnInfo.value"
        [class.disabled]="isVendor || isPreview" (input)="validateField(columnInfo)"></app-flatpickr>
      <span class="required" *ngIf="columnInfo.divClass=='error'">Please select the closed date</span>
    </ng-container>

    <!-- ---------------------------Time----------------------------- -->
    <ng-container *ngIf="columnInfo.labelType=='time'">
      <input type="{{columnInfo.labelType}}" [disabled]="isPreview || isVendor" class="form-control"
        placeholder="{{columnInfo.placeHolder}}" id="{{columnInfo.labelId}}" [(ngModel)]="columnInfo.value"
        (input)="validateField(columnInfo)">
      <span class="required" *ngIf="columnInfo.divClass=='error'">Please enter the time</span>
    </ng-container>

    <!-- ---------------------------DateTme----------------------------- -->
    <ng-container *ngIf="columnInfo.labelType=='datetime'">
      <app-flatpickr [type]="'dateTime'" [dateFormat]="'Y-m-d H:i'" [enableTime]="true" [(dataField)]="columnInfo.value"
        [class.disabled]="isVendor || isPreview" (input)="validateField(columnInfo)">
      </app-flatpickr>
      <span class=" required" *ngIf="columnInfo.divClass=='error'">Please select the datetime</span>
    </ng-container>

    <!-- ---------------------------URL----------------------------- -->
    <ng-container *ngIf="columnInfo.labelType=='url'">
      <input type="text" [disabled]="isPreview || isVendor" class="form-control"
        placeholder="{{columnInfo.placeHolder}}" id="{{columnInfo.labelId}}" [(ngModel)]="columnInfo.value"
        maxlength="{{columnInfo.labelLength}}" (input)="validateField(columnInfo)">
      <span class="required" *ngIf="columnInfo.divClass=='error'">{{columnInfo.errorMessage}}</span>
    </ng-container>

    <!-- ---------------------------Phone Number----------------------------- -->
    <ng-container *ngIf="columnInfo.labelType=='phone'">
      <input type="number" [disabled]="isPreview || isVendor" class="form-control"
        placeholder="{{columnInfo.placeHolder}}" id="{{columnInfo.labelId}}" [(ngModel)]="columnInfo.value"
        maxlength="{{columnInfo.labelLength}}" (input)="validateField(columnInfo)">
      <span class="required" *ngIf="columnInfo.divClass=='error'">{{columnInfo.errorMessage}}</span>
    </ng-container>

    <!-- ---------------------------GeoLocation----------------------------- -->
    <ng-container *ngIf="columnInfo.labelType=='geolocation'">
      <input type="number" [disabled]="isPreview || isVendor" class="form-control"
        placeholder="{{columnInfo.placeHolder}}" id="{{columnInfo.labelId}}" [(ngModel)]="columnInfo.value" step="any"
        (input)="validateField(columnInfo)">
      <span class="required" *ngIf="columnInfo.divClass=='error'">{{columnInfo.errorMessage}}</span>
    </ng-container>

    <!-- ---------------------------Percentage----------------------------- -->
    <ng-container *ngIf="columnInfo.labelType=='percent'">
      <input type="text" class="form-control" placeholder="{{columnInfo.placeHolder}}" id="{{columnInfo.labelId}}"
        [(ngModel)]="columnInfo.value" (input)="validateField(columnInfo)" (keypress)="numberOnly($event)"
        maxlength="{{columnInfo.labelLength}}" [disabled]="isVendor || isPreview">
      <span class="required" *ngIf="columnInfo.divClass=='error'">{{columnInfo.errorMessage}}</span>
    </ng-container>

    <!-- ---------------------------Currency----------------------------- -->
    <ng-container *ngIf="columnInfo.labelType=='currency'">
      <input type="text" currencyMask [options]="{align :'left',allowNegative :false }" class="form-control currency"
        [(ngModel)]="columnInfo.value" [ngModelOptions]="{standalone: true}" id="{{columnInfo.labelId}}"
        (input)="validateField(columnInfo)" (ngModelChange)="validateField(columnInfo)"
        maxlength="{{columnInfo.labelLength}}" [disabled]="isVendor || isPreview">
      <span class="required" *ngIf="columnInfo.divClass=='error'">{{columnInfo.errorMessage}}</span>
    </ng-container>
    <!-- ---------------------------Text Area----------------------------- -->
    <ng-container *ngIf="columnInfo.labelType=='textarea'">
      <textarea [(ngModel)]="columnInfo.value" rows="4" cols="4" class="form-control"
        placeholder="{{columnInfo.placeHolder}}" maxlength="{{columnInfo.labelLength}}"
        (input)="validateField(columnInfo)" [disabled]="isVendor || isPreview"></textarea>
        <span class="required" *ngIf="columnInfo.divClass=='error'">{{columnInfo.errorMessage}}</span>
    </ng-container>
    <!--------------------------------Radio------------------------------------------->
    <ng-container *ngIf="columnInfo.labelType=='radio'">
      <div class="radiobtn-card">
        <ng-container *ngFor="let radioButton of columnInfo.radioButtonChoices;let i=index">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-check radiobtn">
            <label class="form-check-label radioAlignmant">
              <input type="{{columnInfo.labelType}}" name="{{columnInfo.labelId}}" class="form-check-input"
                (click)="columnInfo.value = radioButton.labelId" (change)="validateField(columnInfo)"
                [checked]="radioButton.labelId === columnInfo.value || radioButton.labelId=== columnInfo.selectedValue"
                [disabled]="isVendor || isPreview">
              {{radioButton.name}}
            </label>
          </div>
        </ng-container>
      </div>
    </ng-container>

      <!-- ---------------------------Check Box----------------------------- -->
      <ng-container *ngIf="columnInfo.labelType=='checkbox'">
        <ng-container *ngFor="let checkBox of columnInfo.checkBoxChoices;let i=index">
          <div class="form-check">
            <label class="form-check-label">
              <input type="{{columnInfo.labelType}}" name="{{columnInfo.labelId}}" [checked]="columnInfo.value==='true'"
                class="form-check-input" (click)="updateCheckBoxModel(columnInfo, $event)"
                [disabled]="isVendor || isPreview">
              {{checkBox.name}}
            </label>
          </div>
          <br>
        </ng-container>
      </ng-container>
      <!-- ---------------------------DropDown Menu----------------------------- -->
      <ng-container *ngIf="columnInfo.labelType=='select'">
        <app-dropdown-loader *ngIf="columnInfo?.isDropDownLoading"></app-dropdown-loader>
        <select *ngIf="!columnInfo?.isDropDownLoading" class="form-control" [(ngModel)]="columnInfo.value" [disabled]="isVendor || isPreview || !(columnInfo?.dropDownChoices?.length > 0) || (columnInfo.nonInteractive && (this.isOnlyPartner || !this.activeCRM.createdForSelfCompany))"
          (ngModelChange)="selectOnChangeEvent(columnInfo)">
          <option *ngFor="let dropDownValue of columnInfo.dropDownChoices" [ngValue]="dropDownValue.labelId">
            {{dropDownValue.name}}</option>
        </select>
      </ng-container>
      <!-- ---------------------------Multi DropDown Menu----------------------------- -->
      <ng-container *ngIf="columnInfo.labelType=='multiselect'">
        <span [class.disabled]="isVendor || isPreview">
        <angular4-multiselect [data]="columnInfo.dropDownChoices" [(ngModel)]="columnInfo.value" 
          [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
          (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
        </angular4-multiselect></span>
      </ng-container>
      <!---- XNFR-528 ---->
      <!-- ---------------------------Searchable DropDown For Lookup----------------------------- -->
      <ng-container *ngIf="columnInfo.labelType=='lookup'">
        <span [class.disabled]="isVendor || isPreview || (columnInfo.nonInteractive && (this.isOnlyPartner || !this.activeCRM.createdForSelfCompany))">
          <app-searchable-dropdown [searchableDropDownDto]="searchableDropDownDtoForLookupField(columnInfo)"
          [(account)]="columnInfo.value" [disableDropDown]="false" 
          (searchableDropdownEventEmitter)="onItemSelect($event)"></app-searchable-dropdown></span>
      </ng-container>
  </div>
</ng-container>
</ng-template>

