.disabled{
  cursor: not-allowed !important;
  pointer-events: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.deal-box{
  margin-bottom: 50px;border: 1px solid #ddd;margin: 10px;padding: 10px
}
input[type='radio']:checked:after {
  width: 13px;
  height: 13px;
  border-radius: 15px;
  top: 0px;
  left: 0px;
  position: relative;
  background-color: #2196f3;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #ddd;
}