.text-input__loading--line {
  height: 10px;
  margin: 7px;
  animation: pulse 1s infinite ease-in-out;
}
.rect-box {
  width: auto;
  height: 75px;
}
.thick {
  height: 10px;
}
.thin {
  height: 6px;
}
.w60 {
  width: 60%;
}
.w70 {
  width: 70%;
}
.w80 {
  width: 80%;
}
.w90 {
  width: 90%;
}

@keyframes pulse {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }
  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }
  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}
