<div class="page-content">
	<!-- <div *ngIf="isEmailTemplateDeleted" id="emailTemplateDeleteId" class="alert alert-success alert-dismissable fade in">
	 	 <strong>{{selectedEmailTemplateName}}</strong> Deleted Successfully
	 </div> -->
	  <!-- <div *ngIf="isCampaignEmailTemplate" id="campaignEmailTemplateId" class="alert alert-danger alert-dismissable fade in">
	 	<strong>Please Delete Associated Campaign(s)</strong>
	 </div> -->
	  <!-- <div *ngIf="message?.length>0" id="templateCreationSuccessDiv" class="alert alert-success alert-dismissable fade in">
	 	<strong>{{message}}</strong>
	 </div> -->
	 
<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a [routerLink]="['/']">Home</a> <i
				class="fa fa-angle-right"></i></li>
			<li style="color:#808080">Manage Templates
			</li>
		</ul>
		<!-- <a class="btn btn-info" id="emailtemplate-help" [routerLink]="['/home/emailtemplates/help']">Custom Template Delivers</a> -->
	</div>
	<div style="position: relative;top:-10px">
		<app-response-message [customResponse]="customResponse" *ngIf="customResponse.isVisible"></app-response-message>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title"><!--  -->
					<div class="caption">
						<div class="row">
						<div class="colxs-12 col-sm-9">
						<div *ngIf="!isOnlyPartner"> 
							<ul class="mix-filter" >
							<li style="background: white; color: #616161;cursor: default;font-size: 14px;">Template Type:</li>
								<li class="filter" (click)="filterTemplates('NONE',false,0)" [class.emailtemplate-selected]="0 == selectedTemplateTypeIndex" >All</li>
								<li class="filter" (click)="filterTemplates('BASIC',false,1)" [class.emailtemplate-selected]="1 == selectedTemplateTypeIndex"> Basic</li>
								<li class="filter" (click)="filterTemplates('RICH',false,2)" [class.emailtemplate-selected]="2 == selectedTemplateTypeIndex">Rich</li>
								<li class="filter" (click)="filterTemplates('BASIC',true,3)" [class.emailtemplate-selected]="3 == selectedTemplateTypeIndex">Basic Video</li>
								<li class="filter" (click)="filterTemplates('RICH',true,4)" [class.emailtemplate-selected]="4 == selectedTemplateTypeIndex">Rich Video</li>
								<li class="filter" (click)="filterTemplates('UPLOADED',false,5)"[class.emailtemplate-selected]="5 == selectedTemplateTypeIndex">Uploaded</li>
								<li class="filter" (click)="filterTemplates('PARTNER',false,6)"[class.emailtemplate-selected]="6 == selectedTemplateTypeIndex">Partner</li>
								<li class="filter" (click)="filterTemplates('REGULAR_CO_BRANDING',false,7)"[class.emailtemplate-selected]="7 == selectedTemplateTypeIndex">Email Co-Branding</li>
								<li class="filter" (click)="filterTemplates('VIDEO_CO_BRANDING',false,8)"[class.emailtemplate-selected]="8 == selectedTemplateTypeIndex">Video Co-Branding</li>
								<li class="filter" style="display: none;">Own Template</li>
							</ul>
						</div>
						</div>
						<div class="colxs-12 col-sm-3">
						<div class="btn-group pull-right">
							<ng-container class='m10'>
								<button class="btn btn-xs" [disabled]="isListView" (click)="isListView = true" title="List View"><i class="fa fa-th-list p10" aria-hidden="true"></i></button>
								<button class="btn btn-xs" [disabled]="!isListView" (click)="isListView = false" title="Grid View" style="margin-right: 5px;"><i class="fa fa-th-large p10" aria-hidden="true"></i></button>
							</ng-container>
							<div class="portlet-input input-inline input-small">
								<div class="input-icon right">
									<i class="icon-magnifier"  (click)="searchTemplates()" style="cursor: pointer;"></i>
									<input type="search" 
									 class="form-control" [(ngModel)]="searchKey" [ngModelOptions]="{standalone: true}"  placeholder="search...">
								</div>
							</div>
						</div>
						</div>
						</div>
					</div>
				</div>
					
					
					<section [hidden]="!isListView">
						<div class="table-responsive">
						<table class='table tgrid'>
							<thead>
								<tr>
									<th colspan="2" style="width: 50%">Email Template List</th>
									<th style="width: 25%">Created Date</th>
									<th style="width: 25%;text-align: center;">Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let emailTemplate of pagination.pagedItems ;let i =index">
									<td style="width: 10%;">
										<img class="img-responsive center-block" src="{{emailTemplate.subject}}" alt="{{emailTemplate.name}}">
									</td>
									<td>
										<h4 class="ellipsis mt5 mb5 f-w-600" title="{{emailTemplate.name}}">{{emailTemplate.name | slice:0:25}}
										<span *ngIf="emailTemplate.name?.length>25">...</span>
										</h4>
										<h5 class='m0'>{{emailTemplate.companyName}} 
										<span class='f-w-600'>
											<b>{{emailTemplate.createdBy}}</b>
										</span>
									 </h5>
									<h5 class="view-banner" *ngIf="emailTemplate.type=='PARTNER'">PARTNER</h5>
									<h5 class="view-banner" *ngIf="(emailTemplate.regularCoBrandingTemplate||emailTemplate.videoCoBrandingTemplate) &&emailTemplate.type=='UPLOADED' ">CO-BRANDED</h5>
									</td>
									<td>{{emailTemplate.createdDate}}</td>
									<td>
										<div class="actions-block">
											<a (click)="edit(emailTemplate.id)" title="Edit" *ngIf="hasAllAccess||(hasEmailTemplateRole && emailTemplate.userId==loggedInUserId) || authenticationService.module.isVendor">
												<i class="fa fa-pencil-square-o"></i>
											</a> 
											<a (click)="showPreview(emailTemplate)" title="Preview">
												<i class="fa fa-eye mr5"></i>
											</a> 
											<a id="template-delete" (click)="confirmDeleteEmailTemplate(emailTemplate.id,emailTemplate.name)" title="Delete"
												*ngIf="hasAllAccess||(hasEmailTemplateRole && emailTemplate.userId==loggedInUserId) || authenticationService.module.isCompanyPartner ||authenticationService.module.isVendor">
												<i class="fa fa-trash"></i>
											</a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						</div>
					</section>
								
					<div class="margin-top-10"  [hidden]="isListView">
							<div class="row mix-grid" style="margin-top: -15px;padding: 7px;">
							<app-loader *ngIf="httpRequestLoader.isLoading"></app-loader>
							<app-error-pages *ngIf="httpRequestLoader.isServerError"></app-error-pages>
							<ng-container *ngIf="!httpRequestLoader.isLoading &&!httpRequestLoader.isServerError ">
								<div *ngFor="let emailTemplate of pagination.pagedItems ;let i =index" id="emailTemplateListDiv_{{emailTemplate.id}}">
									<div class="col-md-3 col-sm-4 mix category_1 mix_all"  style="display: block; opacity: 1; margin-top: -11px;">
									   <div id="container">
											<h3 *ngIf="emailTemplate.type=='PARTNER'" style="width: 21%">
												{{emailTemplate.type}}<span class="arrow"></span>
											</h3>
											<h3 *ngIf="(emailTemplate.regularCoBrandingTemplate||emailTemplate.videoCoBrandingTemplate) &&emailTemplate.type=='UPLOADED' " style="width: 31%">
												CO-BRANDED<span class="arrow"></span>
											</h3>
										</div>
									<div class="mix-inner" id="mix-inner">
										<img class="img-responsive center-block" src="{{emailTemplate.subject}}" alt="{{emailTemplate.name}}" id="emailtemplate-image">										
										<div class="mix-details" id="mix-details" style="height:199px">
											<h4 class="ellipsis" title="{{emailTemplate.name}}" style="margin-top: 14px;">{{emailTemplate.name}}</h4>
											<div style="top: 2%; position: relative; margin-left: 5px;">
											</div>
											<div id="template-action-div">
											<a class="mix-preview2" (click)="showPreview(emailTemplate)" title="Preview" data-rel="">
												<i class="fa fa-eye"></i>
										    </a>
										    <a  class="mix-preview1" (click)="edit(emailTemplate.id)" title="Edit" data-rel=""
										    		 *ngIf="hasAllAccess||(hasEmailTemplateRole && emailTemplate.userId==loggedInUserId)  || authenticationService.module.isVendor">
												<i class="fa fa-pencil-square-o"></i>
										    </a>
										    <a class="mix-preview3" id="template-delete"  (click)="confirmDeleteEmailTemplate(emailTemplate.id,emailTemplate.name)" title="Delete" data-rel="" 
										    			*ngIf="hasAllAccess||(hasEmailTemplateRole && emailTemplate.userId==loggedInUserId) || authenticationService.module.isCompanyPartner || authenticationService.module.isVendor">
												<i class="fa fa-trash" style="color:#f43636"></i>
											</a>
											</div>
											<span align="right" class="template-created-on-label">
												<b>Created On</b>
											</span>
											<span align="right" title="upladed date" class="template-created-on-value" >
												<b>{{emailTemplate.createdDate}}</b>
									 		</span>
									 		<span align="left" class="template-created-by-label" title="{{emailTemplate.createdBy}}">
									 			<b  *ngIf="emailTemplate.createdBy?.length>17">{{emailTemplate.createdBy|slice:0:17}}..</b>
												<b  *ngIf="emailTemplate.createdBy?.length<17">{{emailTemplate.createdBy}}</b>
									 		</span>
									 		<span align="left" class="template-created-by-value" title="{{emailTemplate.companyName}}">
									 			<b  *ngIf="emailTemplate.companyName?.length>17">{{emailTemplate.companyName|slice:0:17}}..</b>
												<b  *ngIf="emailTemplate.companyName?.length<17">{{emailTemplate.companyName}}</b>
									 	</span>
										</div>
									</div>
								</div>
							</div>
							</ng-container>	
							</div>
						</div>
					<div *ngIf="pagination.pagedItems.length !== 0">
								<app-pagination [pagination]="pagination" [type]="'t'"
								 (notifyParent)="setPage($event)" (notifyParentDropDown)="listEmailTemplates($event)"></app-pagination>
						</div>
						<!-- End of 24 -->
				<div *ngIf="pagination.totalRecords==0" class="alert alert-info"><strong>No Email Templates Found</strong></div>
			</div>
			<!-- END PAGE CONTENT-->
		</div>
	</div>
	
	
			<div class="modal" id="show_email_template_preivew">
					<div class="modal-dialog modal-lg" style="width: 75%;">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close-circle" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
								<h4 class="modal-title" id="email-template-title"	style="text-align: center;"></h4>
							</div>
							<div class="modal-body">
								<div id="htmlContent"></div>
							</div>
							<div class="modal-footer">
								<a href="javascript:void(0)" data-dismiss="modal"
									class="btn btn-default" style="float: right">Close</a>
							</div>
						</div>
					</div>
				</div>
						
</div>
				<!-- END PAGE CONTENT-->
		<!-- END CONTENT -->