.mix-filter {
	margin: 5px;
}

.mix-filter li {
	font-size: 12px;
	text-transform: uppercase;
}

.box {
	padding: 10px;
}

.portlet.light {
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    padding: 10px;
}

.text-center {
	text-align: center;
}

.portlet>.portlet-title>.caption {
	float: none;
	display: inherit;
}

.portlet.light .portlet-body {
	padding: 1em;
}

.portlet.light.block:hover {
	-webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, .15);
	box-shadow: 0 5px 20px rgba(0, 0, 0, .15);
	-webkit-transform: translateY(-.5rem);
	-ms-transform: translateY(-.5rem);
	transform: translateY(-.5rem);
	cursor: pointer;
	cursor: hand;
}

.fa-3x {
	font-size: 3em;
}

.profile-img-container {
	height: auto;
	width: 100%;
	position: relative;
}

.email-template-container:hover img {
	opacity: 0.4;
}

.email-template-container:not(:hover ) .email-template-i-container {
	display: none;
}

.email-template-i-container {
	position: absolute;
	top: 8em;
	left: 0px;
	display: block;
	width: 100%;
	z-index: 500;
	text-align: center;
}

.email-template-i-container i {
	display: table-cell;
	line-height: inherit;
	position: relative;
	top: 50%;
	left: 50%;
	margin-left: -25px;
	margin-top: -25px;
	padding: 32px 24px;
}

.emailtemplate-selected {
	background-color: #6dcff6;
}

.arrow {
	width: 0;
	height: 0;
	line-height: 0;
	border-left: 20px solid transparent;
	border-top: 10px solid #c8c8c8;
	top: 104%;
	left: 0;
	position: absolute;
}

.customDisableCss {
	cursor: not-allowed !important;
	opacity: 0.5;
}

a.disabled {
	pointer-events: none;
	cursor: not-allowed;
}

#emailtemplate-help {
	margin-top: 2px;
	margin-right: 4px;
	background-color: #00a6e8;
	float: right;
}

#container {
	margin: -4px;
	width: 500px;
	height: 25px;
	padding-top: 30px;
	font-family: helvetica, arial, sans-serif;
}


.arrow {
	width: 0;
	height: 0;
	line-height: 0;
	border-left: 20px solid transparent;
	border-top: 10px solid #16b2f4;
	top: 102%;
	left: 0;
	position: absolute;
}

#mix-inner {
	height: 200px;
	border: 1px solid #dad4d4;
}

#template-edit {
	left: 16%;
}

#template-action-div {
	top: 30%;
	position: relative;
}

#mix-details {
	z-index: 700;
	padding: 7px;
	height: 185px;
}

.view-banner{
    background-color: #00a6e8;
    color: white;
    padding: 6px;
    text-align: center;
    width: 175px;
    margin: 0 auto;
}
.view-banner-draft{
    background-color: #f76c1a;
    color: white;
    width: 25%;
    padding: 4px;
    text-align: center;
}
img {
	height: 80px;
	width: auto;
	margin: 0;
}

td h6 {
	margin: 5px 0;
}
.input-small {
    width: 130px !important;
}
.mix-filter li {
    font-size: 11px;
    text-transform: uppercase;
    padding: 3px 9px;
}
@media only screen and (max-width:768px){ .modal-template { width: 100% !important;}}
@media only screen and (min-width:768px){ .modal-template { width: 65% !important;}}
