<div class="page-content">
  <div *ngIf="isEmailTemplateDeleted" id="emailTemplateDeleteId" class="alert alert-success alert-dismissable fade in">
	 	 <strong>{{selectedEmailTemplateName}}</strong> Deleted Successfully
	 </div>
	  <div *ngIf="isCampaignEmailTemplate" id="campaignEmailTemplateId" class="alert alert-danger alert-dismissable fade in">
	 	<strong>Please Delete Associated Campaign(s)</strong>
	 </div>
	  <div *ngIf="message?.length>0" id="templateCreationSuccessDiv" class="alert alert-success alert-dismissable fade in">
	 	<strong>{{message}}</strong>
	 </div>
	 
<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a
				[routerLink]="['../../dashboard']">Home</a> <i
				class="fa fa-angle-right"></i></li>
			<li>Manage Templates
			</li>
		</ul>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title"><!--  -->
					<div class="caption">
						<div class="row">
						<div class="colxs-12 col-sm-9">
						<div>
							<ul class="mix-filter">
								<li class="filter" (click)="filterTemplates('NONE',false,0)" [class.emailtemplate-selected]="0 == selectedTemplateTypeIndex">All Email Template's</li>
								<li class="filter" (click)="filterTemplates('BASIC',false,1)" [class.emailtemplate-selected]="1 == selectedTemplateTypeIndex">Basic Template's</li>
								<li class="filter" (click)="filterTemplates('RICH',false,2)" [class.emailtemplate-selected]="2 == selectedTemplateTypeIndex">Rich Template's</li>
								<li class="filter" (click)="filterTemplates('BASIC',true,3)" [class.emailtemplate-selected]="3 == selectedTemplateTypeIndex">Basic Video Template's</li>
								<li class="filter" (click)="filterTemplates('RICH',true,4)" [class.emailtemplate-selected]="4 == selectedTemplateTypeIndex">Rich Video Template's</li>
								<li class="filter" (click)="filterTemplates('UPLOADED',false,5)"[class.emailtemplate-selected]="5 == selectedTemplateTypeIndex">Upload Template</li>
								<li class="filter" style="display: none;">Own Template</li>
							</ul>
						</div>
						</div>
						<div class="colxs-12 col-sm-3">
						<div class="inputs regular_emails" align="right" style="float: right">
							<div class="portlet-input input-inline input-small">
								<div class="input-icon right">
									<i class="icon-magnifier"  (click)="searchTemplates()" style="cursor: pointer;"></i>
									<input type="search" 
									 class="form-control input-circle"  [(ngModel)]="searchKey" [ngModelOptions]="{standalone: true}"  placeholder="search...">
								</div>
							</div>
						</div>
						</div>
						</div>
					</div>
				</div>
				<div class="portlet-body">
					<div class="row">
							<app-loader *ngIf="httpRequestLoader.isLoading"></app-loader>
							<app-error-pages *ngIf="httpRequestLoader.isServerError"></app-error-pages>
							<ng-container *ngIf="!httpRequestLoader.isLoading &&!httpRequestLoader.isServerError ">
							<div class="col-md-3 col-sm-4 col-xs-6 box" *ngFor="let emailTemplate of pagination.pagedItems ;let i =index" id="emailTemplateListDiv_{{emailTemplate.id}}">
								<div class="portlet light block">
									<div class="portlet-title">
										<div class="ellipsis">
											<h4 class="caption-subject font-purple-intense  text-center ellipsis" title="{{emailTemplate.name}}">{{emailTemplate.name}}</h4>
										</div>
									</div>
									<div class="portlet-body">
										<div class="row email-template-container">
											<img class="img-responsive center-block" src="{{emailTemplate.subject}}" alt="{{emailTemplate.name}}" style="width: 117px;height: 134px;">
											<div class="email-template-i-container">
										       <i class="fa fa-pencil-square-o fa-3x" aria-hidden="true" (click)="edit(emailTemplate.id)"></i>
										       <i class="fa fa-trash fa-3x" aria-hidden="true" (click)="confirmDeleteEmailTemplate(emailTemplate.id,emailTemplate.name)" title="Delete Template"></i>
										    </div>
										</div>
									</div>
								</div>
							</div>
							</ng-container>
					</div>
				</div>
				<div *ngIf="pagination.totalRecords>0">
					  <ul *ngIf="pagination.pager.pages && pagination.pager.pages.length" class="pagination">
                          <li [ngClass]="{disabled:pagination.pager.currentPage === 1}">
                             <a (click)="setPage(1)" [class.disabled]="pagination.pager.currentPage === 1">First</a>
                          </li>
                          <li [ngClass]="{disabled:pagination.pager.currentPage === 1}">
                              <a (click)="setPage(pagination.pager.currentPage - 1)" [class.disabled]="pagination.pager.currentPage === 1">Previous</a>
                           </li>
                           <li *ngFor="let page of pagination.pager.pages" [ngClass]="{active:pagination.pager.currentPage === page}">
                              <a (click)="setPage(page)">{{page}}</a>
                           </li>
                           <li [ngClass]="{disabled:pagination.pager.currentPage === pagination.pager.totalPages}">
                               <a (click)="setPage(pagination.pager.currentPage + 1)" [class.disabled]="pagination.pager.currentPage === pagination.pager.totalPages">Next</a>
                           </li>
                            <li [ngClass]="{disabled:pagination.pager.currentPage === pagination.pager.totalPages}">
                               <a (click)="setPage(pagination.pager.totalPages)" [class.disabled]="pagination.pager.currentPage === pagination.pager.totalPages">Last</a>
                           </li>
                      </ul>
				</div>
				<div *ngIf="pagination.totalRecords==0" class="alert alert-info"><strong>No Email Templates Found</strong></div>	
			</div>
			<!-- END PAGE CONTENT-->
		</div>
	</div>
						
</div>
				<!-- END PAGE CONTENT-->
		<!-- END CONTENT -->