<div *ngIf="twitterProfile != null" class="header-wrapper">
  <img *ngIf="twitterProfile.profileBannerUrl" src="{{twitterProfile.profileBannerUrl}}" class="profile-header-image">
  <div class="profile-header-no-image" *ngIf="!twitterProfile.profileBannerUrl" [ngStyle]="{'background-color': '#'+twitterProfile.linkColor}"></div>
  <img src="{{twitterProfile.profileImageUrl}}" class="img-responsive img-circle profile-image">
  <div class='header-line clearfix'>
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
      <li class="profilenav-item" *ngFor="let item of twitterNavs" [ngClass]="{'profilenav-item-active': item.isCurrent}">
        <a class="profilenav-stat" [routerLink]="['/home/twitter', socialConnection.profileId, item.name]">
          <span class="profilenav-label" aria-hidden="true">{{item.name | titlecase}}</span>
          <span class="profilenav-value">{{item.count}}</span>
        </a>
      </li>
    </div>
    <div class="col-xs-4"></div>
  </div>
</div>