.bold-font{
    font-size: 14px;
}

.tenpixelspaddig{
    padding:10px
}

.bold-font-weight{
    font-weight: bold;
}

.btp{
    padding-bottom: 30px !important;
}

.alert-spf{
    background-color: #546b812b;
    border-color: #546b812b;
    color: #546b81;
}

.maualSPFCardbg {
    background-color: #f1f5f9;
    padding: 0px 10px;
    border-radius: 5px;
}