<style type="text/css">
a {
text-decoration: none;
}
tspan.highcharts-text-outline{
	fill: #000;
}
.social-profile-name{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    color: #aab5bc;
}
b, strong {
    font-weight: 500;
}
 a.disabled {
   pointer-events: none;
   cursor:not-allowed;
}

.disabled{
pointer-events:none;
cursor: not-allowed;
}

.social-disable{
	color: #e2e2e2 !important;
}
.twitter-color{color: #33CCFF;}
.google-color{color: #C63D2D;}
.facebook-color{color: #3B5998;}
.linkedin-color{color: #4875B4;}
.fa1{font-size: 32px;}
.email-action-desscription{font-size: 12px; text-transform: lowercase;}
.alert-dismissible .close {
    top: 5px;
    right: 0;
}
.alert-success,
.alert-danger,
.alert-warning {
    color: #ffffff;
    border-radius: 0;
    padding: 3px 10px;
    margin: 0;
}
.alert-success{
    background-color: #77bf81;
}
.alert-danger {
	background-color: #ec6262;
}
.alert-warning {
    background-color: #f1d43b;
}
.alert-success, .alert-danger, .alert-warning > h5 {
	font-size: 14px;
}
a.disabled { pointer-events: none; cursor: not-allowed; }
hr{
	margin: 1em 0;
    border-top: 0.5px solid rgba(216, 214, 214, 0.4);
}
input[type=radio] {
	position: relative;
	opacity: 1 !important;
}

.gu-mirror {
	position: fixed !important;
	margin: 0 !important;
	z-index: 9999 !important;
	opacity: .8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity = 80)
}

.gu-hide {
	display: none !important
}

.gu-unselectable {
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important
}

.gu-transit {
    background: rgba(0, 166, 232, 0.4);
    color: #00a6e7;
}

.gu-block:hover{
	background: rgba(0, 166, 232, 0.4);
}
.gu-block{
    border: 1px solid rgba(0, 166, 232, 0.5);
    padding: 0 10px;
    cursor: pointer;
    margin: 3px;
}

.gu-block-content{
	margin: 7px 0;
}

.scrollbar{
	max-height: 200px;
	overflow: auto;
}
.scrollbar::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.form-check-label{
    border: 1px solid rgba(218, 218, 218, 0.53);
    padding: 5px 10px;
    width: 100%;
    color: rgba(125, 125, 125, 0.74);
    letter-spacing: 0.5px;
    cursor: pointer;
}
td > h5{
margin:2px;
}
#trellis td {
    width: 200px;
    height: 200px;
}
#trellis td.first {
    width: 300px;
}
.pointer {
   cursor:pointer;
}

.headerCss {
font-size: 12px; 
font-weight: 500;
}
.center {
 text-align: center;
}
</style>
<div class="page-content">
	<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
	<div class="page-bar" *ngIf="userDefaultPage.responseType != null" style="margin-bottom: 5px;">
		<div class="alert alert-dismissible" role="alert" [ngClass]="{'alert-success': userDefaultPage.responseType == 'SUCCESS',
					   'alert-danger': userDefaultPage.responseType == 'ERROR'}">
          	<button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="userDefaultPage.responseType = null"><span aria-hidden="true">&times;</span></button>
          	<h4 class="flex">
          		<i class="fa" [ngClass]="{'fa-check': userDefaultPage.responseType == 'SUCCESS',
					   'fa-exclamation': userDefaultPage.responseType == 'ERROR'}" 
          		aria-hidden="true" style="padding-right: 7px;"></i>
          		<span>{{userDefaultPage.responseMessage}}</span>
       		</h4>
      	</div>
	</div>
	<div class="page-bar" style="border-radius: 0;padding: 0.4em;margin-bottom: 10px;">
		<div class="col-xs-12 col-sm-6 p0">
			<h4 style="margin: 0.3em;color: #00a6e8;font-weight: 400;">Welcome to socialubuntu</h4>
		</div>
		<div class="col-xs-12 col-sm-6" [hidden]="userDefaultPage.isCurrentPageDefaultPage">
			<div style="display: flex;float: right;">
				<h4 style="margin: 0.3em">Do you want to set this as your default screen?</h4>
				<div style="margin: 3px 0 3px 20px;">
					<ui-switch [(ngModel)]="userDefaultPage.isCurrentPageDefaultPage" color="lightgreen" 
						size="small" (change)="setDashboardAsDefaultPage($event)"></ui-switch>
				</div>
			</div>
		</div>
	</div>

<!-- Customize Campaign Modal -->
<div class="modal fade" id="customizeCampaignModal" tabindex="-1" role="dialog" aria-labelledby="customizeCampaignModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="userCampaignReport.response = null"><span aria-hidden="true">&times;</span></button> -->
		<a class="close-circle" data-dismiss="modal"  (click)="userCampaignReport.response = null"><i class="fa fa-times"></i></a>
		<h4 class="modal-title" id="customizeCampaignModalLabel">Customize Campaign Report</h4>
      </div>
      <div class="modal-body">
		<div class="clearfix">
			<div class="col-xs-12" style="margin-bottom: 10px;" *ngIf="userCampaignReport.response != null">
				<div class="alert alert-dismissible" role="alert" [ngClass]="{'alert-success': userCampaignReport.response == 'SUCCESS',
											   'alert-danger': userCampaignReport.response == 'ERROR', 
											   'alert-warning': userCampaignReport.response == 'WARNING'}">
                	<button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="userCampaignReport.response = null"><span aria-hidden="true">&times;</span></button>
                	<h5 class="flex">
                		<i class="fa" [ngClass]="{'fa-check': userCampaignReport.response == 'SUCCESS',
											   'fa-exclamation': userCampaignReport.response == 'ERROR', 
											   'fa-exclamation-triangle': userCampaignReport.response == 'WARNING'}" 
                		aria-hidden="true" style="padding-right: 7px;"></i>
                		<span>{{userCampaignReport.responseMessage}}</span>
               		</h5>
            	</div>
			</div>
			<div>
				<div class="col-xs-12 col-sm-4 col-md-4" *ngFor="let item of campaignReportOptions">
					<label class="form-check-label">
				    <input class="form-check-input" type="radio" name="campaignReportType" [value]="item"
				    	[checked]="item === userCampaignReport.campaignReportOption" (change)="onSelectionChangeCampaignReportOption(item)">
				    {{item}}
				  </label>
				</div>
			</div>
			<div class="col-xs-12" *ngIf="userCampaignReport.campaignReportOption == 'CUSTOM'">
				<hr>
				<div class="wrapper">
			        <div class="col-xs-6" style="padding: 0 5px 0 0">
				        <div class="portlet light border-radius-0">
							<div class="portlet-title">
								<h5>YOUR CAMPAIGNS</h5>
							</div>
							<div class="portlet-body scrollbar launchedCampaignsMaster" [dragula]='"bag-items"'>
						        <div class="gu-block" *ngFor="let item of launchedCampaignsMaster">
						        	<h6 class="gu-block-content" [id]="item.id">{{item.campaign}}</h6>
					        	</div>
							</div>
						</div>
					</div>
					<div class="col-xs-6" style="padding: 0">
						<div class="portlet light border-radius-0">
							<div class="portlet-title">
								<h5>SELECTED CAMPAIGNS <b>(MAX 4)</b></h5>
							</div>
							<div class="portlet-body launchedCampaignsChild" [dragula]='"bag-items"'>
						        <div class="gu-block" *ngFor="let item of launchedCampaignsChild">
						        	<h6 class="gu-block-content" [id]="item.id">{{item.campaign}}</h6>
					        	</div>
							</div>
						</div>
			        </div>
			    </div>
			</div>
		</div>
		</div>
      <div class="modal-footer">
        <button type="button" class="color1 btn-campaign" (click)="validateUserCampaignReport(userCampaignReport)">Save changes</button>
        <button type="button" class="btn btn-campaign " data-dismiss="modal" (click)="userCampaignReport.response = null">Close</button>
      </div>
    </div>
  </div>
</div>
	
	<!-- BEGIN DASHBOARD STATS -->
	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
			<a class="dashboard-stat dashboard-stat-lighter red-soft"
				[routerLink]="['./views_report']" [class.disabled]="!hasStatsRole ? true : null">
				<div class="visual">
					<i class="fa fa-eye"></i>
				</div>
				<div class="details">
					<div class="number">{{dashboardReport.totalViews}}</div>
					<div class="desc">Total Views</div>
				</div>
			</a>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
			<a class="dashboard-stat dashboard-stat-lighter yellow-gold"
				[routerLink]="['../../videos/manage']" [class.disabled]="!hasStatsRole ? true : null">
				<div class="visual">
					<i class="fa fa-cloud-upload"></i>
				</div>
				<div class="details">
					<div class="number">{{dashboardReport.totalUploadedvideos}}</div>
					<div class="desc">Uploaded Videos</div>
				</div>
			</a>
		</div>

		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
			<a class="dashboard-stat dashboard-stat-lighter purple-soft"
				[routerLink]="['../../contacts/manage']" [class.disabled]="!hasStatsRole ? true : null">
				<div class="visual">
					<i class="fa fa-users"></i>
				</div>
				<div class="details">
					<div class="number">{{dashboardReport.totalContacts}}</div>
					<div class="desc">Total Contacts</div>
				</div>
			</a>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
			<a class="dashboard-stat dashboard-stat-lighter blue-soft"
				[routerLink]="['../../emailtemplates']" [class.disabled]="!hasStatsRole ? true : null">
				<div class="visual">
					<i class="fa fa-smile-o"></i>
				</div>
				<div class="details">
					<div class="number">{{dashboardReport.toalEmailTemplates}}</div>
					<div class="desc">Total Templates</div>
				</div>
			</a>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
			<a class="dashboard-stat dashboard-stat-lighter green-soft"
				[routerLink]="['../../campaigns/manage']" [class.disabled]="!hasStatsRole ? true : null">
				<div class="visual">
					<i class="fa fa-user-secret"></i>
				</div>
				<div class="details">
					<div class="number">{{dashboardReport.totalCreatedCampaigns}}</div>
					<div class="desc">Total Campaigns</div>
				</div>
			</a>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-6" [class.disabled]="!hasSocialStatusRole?true:null">
			<a class="dashboard-stat dashboard-stat-lighter blue-sharp"
				[routerLink]="['/home/social/manage/all']">
				<div class="visual">
					<i class="fa fa-share"></i>
				</div>
				<div class="details">
					<div class="number">{{dashboardReport.totalSocialAccounts}}</div>
					<div class="desc">Social Accounts</div>
				</div>
			</a>
		</div>
	</div>
	<!-- END DASHBOARD STATS -->
	<div class="clearfix" *ngIf="socialConnections?.length > 0">
			<div class="portlet light shadow">
				<div class="portlet-title">
					<div class="caption">
						<span class="caption-subject font-red-sunglo f-w-600">Social Accounts</span>
					</div>
				</div>
				<div class="portlet-body clearfix">
					<div class="clearfix">
					<section *ngFor="let socialConnection of socialConnections">
						<div class="col-xs-12 col-sm-6 col-md-4 p10" [class.disabled]="!hasSocialStatusRole?true:null">							
								<div class="dashboard-stat2 m0">
									<div class="display">
										<div class="col-xs-3 p0">
											<div class="profile-img" [ngStyle]="{'background-image': 'url(' + socialConnection.profileImage + ')'}">
											<ng-container *ngIf="socialConnection.source === 'TWITTER'">
												<img class="img-circle" alt="{{socialConnection.profileName}}"
												src="https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/twitter_circle-20.png">
											</ng-container>
											<ng-container *ngIf="socialConnection.source === 'FACEBOOK'">
												<img class="img-circle" alt="{{socialConnection.profileName}}"
												src="https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/facebook_circle-20.png">
											</ng-container>
											<ng-container *ngIf="socialConnection.source === 'LINKEDIN'">
												<img class="img-circle" alt="{{socialConnection.profileName}}"
												src="https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/linkedin_circle-20.png">
											</ng-container>
											<ng-container *ngIf="socialConnection.source === 'GOOGLE'">
												<img class="img-circle" alt="{{socialConnection.profileName}}"
												src="https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/google_circle-20.png">
											</ng-container>
											</div>											
										</div>
										<div class="col-xs-9 p0">											
											<h5 class="profile-name">
												<span *ngIf="socialConnection.source === 'TWITTER'">@</span>{{socialConnection.profileName}}
												<span *ngIf="socialConnection.source === 'GOOGLE'">{{socialConnection.firstName}}&nbsp;{{socialConnection.lastName}}</span>
											</h5>
											<section *ngIf="socialConnection.source === 'TWITTER'" class="profile-details">
												<a class="col-xs-4 social-stats" [routerLink]="['/home/social/twitter-tweets', socialConnection.profileId]">
													<b>Tweets</b>
													<h4>{{socialConnection.twitterTotalTweetsCount}}</h4>
												</a>
												<a class="col-xs-4 social-stats" [routerLink]="['/home/social/twitter-followers', socialConnection.profileId]">
													<b>Followers</b>
													<h4>{{socialConnection.twitterTotalFollowersCount}}</h4>
												</a>
												<a class="col-xs-4 social-stats" [routerLink]="['/home/social/twitter-friends', socialConnection.profileId]">
													<b>Friends</b>
													<h4>{{socialConnection.twitterTotalFriendsCount}}</h4>
												</a>
											</section>
											<section *ngIf="socialConnection.source === 'FACEBOOK'" class="profile-details">
												<a class="col-xs-4 social-stats" [routerLink]="['/home/social/facebook-posts', socialConnection.profileId]">
													<b>Posts</b>
													<h4>-</h4>
												</a>
												<a *ngIf="socialConnection.emailId === null" class="col-xs-4 social-stats" [routerLink]="['/home/social/facebook-posts', socialConnection.profileId]">
													<b>Fans</b>
													<h4>{{socialConnection.facebookFanCount}}</h4>
												</a>
												<a *ngIf="socialConnection.emailId !== null" class="col-xs-4 social-stats" [routerLink]="['/home/social/facebook-posts', socialConnection.profileId]">
													<b>Friends</b>
													<h4>{{socialConnection.facebookFriendsCount}}</h4>
												</a>
											</section>
											<section *ngIf="socialConnection.source === 'LINKEDIN'" class="profile-details">
												<a class="col-xs-4 social-stats" >
													<b>Posts</b>
													<h4>-</h4>
												</a>
												<a class="col-xs-4 social-stats">
													<b>Connections</b>
													<h4>-</h4>
												</a>
											</section>
											<section *ngIf="socialConnection.source === 'GOOGLE'" class="profile-details">
												<a class="col-xs-4 social-stats" >
													<b>Posts</b>
													<h4>-</h4>
												</a>
												<a class="col-xs-4 social-stats" >
													<b>Connections</b>
													<h4>-</h4>
												</a>
											</section>
										</div>
										<div class="col-xs-12 m0 p0">
											<hr style="background-color: #e5e5e5; height: 1px; border: 0; margin: 8px 0 0 0;">
										</div>
			
										<div class="col-xs-8 text-left pl0 pr0">
											<h5>
												<span class="nummber" style="color: #00aced; font-weight: 600; display: inline;">{{socialConnection.weeklyPostsCount}}</span>
												New
												<span *ngIf="socialConnection.source === 'TWITTER'">Tweets</span>
												<span *ngIf="socialConnection.source === 'FACEBOOK'">Posts</span>
												<br>(Past 7 days)
											</h5>
										</div>
										<div class=" col-xs-4 text-right pt10 pb10">
											<div id="sparkline_{{socialConnection.profileId}}">
												<canvas width="46" height="20"></canvas>
											</div>
										</div>
									</div>
								</div>
						</div>
					</section>
					</div>
				<!--Gender Demographics-->
				<div class="clearfix">
					<h4 class="gd-title">Gender Demographics</h4>
					<div class="col-xs-6 text-right p0">
						<div class="facebook-color">
							<div class="col-xs-12">
								<span class="gd-male"><i class="fa fa-male fa1"></i></span>
							</div>							
							<div class="col-xs-12">
								<div class="number">
									<span *ngIf="dashboardReport.genderDemographicsTotal > 0; else default_gender_demographics">
										<h4><b>{{dashboardReport.genderDemographicsMale / dashboardReport.genderDemographicsTotal | percent:'2.1-2'}}</b></h4>
									</span>
										<ng-template #default_gender_demographics><h4><b>N/A</b></h4></ng-template>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-6 p0">
						<div class="google-color">
							<div class="col-xs-12">
								<span class="gd-female"><i class="fa fa-female fa1"></i></span>
							</div>							
							<div class="col-xs-12">
								<div class="number">
									<span *ngIf="dashboardReport.genderDemographicsTotal > 0; else default_gender_demographics">
										<h4><b>{{dashboardReport.genderDemographicsFemale / dashboardReport.genderDemographicsTotal | percent:'2.1-2'}}</b></h4>
									</span>
									<ng-template #default_gender_demographics><h4><b>N/A</b></h4></ng-template>
								</div>
							</div>
						</div>
					</div>
				</div>				
				</div>

			</div>
	</div>
	<div class="row">
		<div class="clearfix"></div>
		<div class="page-bar portlet light border-radius-0 shadow" style="margin: 14px;margin-top: 1px;">
				<div class="portlet-title">
					<div class="caption flex">
						<div class="col-xs-6">
						<span class="caption-subject font-red-sunglo f-w-600">Campaigns</span>
						</div>
						<div class="col-xs-6" style="padding: 5px 10px;" *ngIf="hasCampaignRole ">
						<a><i style="font-size: 1.3em;padding: 0.3em;" class="fa fa-cog pull-right" aria-hidden="true" data-toggle="modal" data-target="#customizeCampaignModal"></i></a>
						<a [routerLink]="['/home/campaigns/select']" class="btn btn-sm btn-primary color1 pull-right" >Create Campaign</a>
						</div>
					</div>
				</div>
				<div class="portlet-body clearfix">
					<section *ngFor="let campaign of campaigns; let i=index">
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngIf="i<4">
							<div class="portlet light border-radius-0 campaign-box" [routerLink]="['/home/campaigns/', campaign[0], 'details']" 
							[class.disabled]="!hasStatsRole ? true : null" style="cursor: pointer">
								 <div class="bookmark-ribbon">
										 <span style="margin: 0px -7px; font-size: 17px; color: white;">
											 <i *ngIf="campaign[6] ==='VIDEO'" class="fa fa-video-camera" aria-hidden="true"></i>
											 <i *ngIf="campaign[6]==='REGULAR'"  class="fa fa-envelope" aria-hidden="true"></i> 
										     <i *ngIf="campaign[6]==='SOCIAL'" class="fa fa-globe" aria-hidden="true"></i>
									    </span>
									</div>
							    <div class="portlet-title">
									<div class="caption">
										<h3 class="caption-subject" style="margin: 0;color: #909090 !important;">
											{{campaign[1]}}
										</h3>
									</div>
								</div>
								<div class="portlet-body text-center">
									<section class="percentage-circle">
										<svg width="120" height="120" viewBox="0 0 120 120" style="transform: rotate(-90deg)">
											<circle cx="60" cy="60" r="54" fill="none" stroke="#e6e6e6" stroke-width="5" />
											<circle cx="60" cy="60" r="54" fill="none" stroke="#54a7e9" stroke-width="5"
												stroke-dasharray="339.292006588" [ngStyle]="{'stroke-dashoffset': 339.292 * (1 - campaign[3]/campaign[4])}"/>
										</svg>
										<h2 class="percentage-value">{{campaign[5]}}%</h2>
										<h6 class="percentage-text">interaction</h6>
									</section>
									<h5 style="color: #00a6e8;margin-top: 3.2em;">Released on {{campaign[2] | date: 'short'}}</h5>
								</div>
							</div>
						</div>
					</section>
					<section>
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngIf="totalCampaignsCount < 4 && hasCampaignRole">
							<div class="portlet light border-radius-0">
								<div class="portlet-body">
									<div class="text-center" style="margin: 3.7em 0.5em;">
										<h5 style="color: rgb(119, 119, 119);">create campaign of your choice</h5>
										<button class="color1 btn-campaign btn-block" (click)="createCampaign('video')">Video Campaign</button>
										<button class="color2 btn-campaign btn-block" (click)="createCampaign('regular')">Regular Campaign</button>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
<div class="clearfix">
	<div class="col-xs-12 col-sm-6" style="padding: 0">
			<div class="col-xs-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption">
						<span class="caption-subject">Email Statistics</span>
					</div>
					<div>
						<div class="panel-title pull-right">
								<span style="float:right"><i class="icon-refresh" style="float:right;cursor:pointer;font-size: 14px;margin-top: 2.5px;color: #a0a0a0;" (click)="refreshHeatMapCharts()"></i></span>
						</div>
					</div>
				</div>
				<div class="portlet-body">
					<div id="dashboard-heat-map" style="max-width: 100%; min-height: 214px; cursor: pointer"></div>
				</div>
			</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="col-xs-12 p0">
				<div class="portlet light">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-bar-chart" ></i> 
								<span class="caption-subject">Email Clicked Statistics</span>
							</div>
							<div>
								<div class="panel-title pull-right">
									<span style="float:right"><i class="icon-refresh" style="float:right;cursor:pointer;font-size: 14px;margin-top: 2.5px;color: #a0a0a0;" (click)="refreshCampaignBarcharts()"></i></span>
								</div>
							</div>
						</div>
						<div class="portlet-body" style="min-height: 220px;  max-height: 100%; max-width: 100%">
							<div class="table-responsive">
								<table id="trellis"><tr><td class="first"></td><td></td><td></td></tr></table> 
							</div>
						</div>
					</div>
			</div>
		</div>
</div>
		<div class="clearfix">
			<div class="col-md-6 col-sm-6">
				<div class="portlet light">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-globe"></i> 
							<span class="caption-subject">Regional Statistics</span>
						</div>
					</div>
					<div class="portlet-body">
						<div id="world-map" style="max-width: 100%; min-height: 300px;"></div>
					</div>
				</div>
			</div>
			<div>
				<div class="col-sm-6">
					<div class="portlet light">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-bar-chart" ></i> 
								<span class="caption-subject">Video Stats</span>
							</div>
							<div>
							 <div class="panel-title pull-right">
								<span style="float:right; font-size: 11px;">
									<select style="cursor: pointer" [(ngModel)]="daySort" (ngModelChange)="selectedSortByValue($event.value)">
										<option *ngFor="let sort of sortDates" [ngValue]="sort"> {{sort.name}} </option>
									</select>
								</span>
							</div> 
						   </div>
						</div>
						<div class="portlet-body">
							<div class="row">
								<div class="col-xs-4 sparkline-chart">
									<div class="number" id="sparkline_bar" style="cursor:pointer">
										<canvas width="113" height="55"
											style="display: inline-block; width: 113px; height: 55px; vertical-align: top;"></canvas>
									</div>
									<a class="title" href="javascript:;"> Views </a>
								</div>
								<div class="col-xs-4 sparkline-chart">
									<div class="number" id="sparkline_bar2" style="cursor:pointer">
										<canvas width="113" height="55"
											style="display: inline-block; width: 113px; height: 55px; vertical-align: top;"></canvas>
									</div>
									<a class="title" href="javascript:;"> Minutes Watched </a>
								</div>
								<div class="col-xs-4 sparkline-chart">
									<div class="number" id="sparkline_line">
										<canvas width="113" height="55"
											style="display: inline-block; width: 113px; height: 55px; vertical-align: top;"></canvas>
									</div>
									<a class="title" href="javascript:;"> Average Duration </a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="portlet light">
						<div class="portlet-title">
							<div class="caption">
								<i class="icon-cursor font-purple-intense"></i> 
								<span class="caption-subject">Email Stats</span>
							</div>
						</div>
						<div class="portlet-body">
							<div class="row">
								<div class="col-xs-4 sparkline-chart" [class.disabled]="!hasStatsRole ? true : null" (click)="listOfEmailOpenLogs(13)" style="cursor:pointer" data-toggle="modal" data-target="#emailClickedModal">
									<div class="visual">
										<img alt="opened" src="assets/images/opened.png" title="view emailOpened data" >
									</div>
									<div class="details">
										<div class="number" style="color: #f36360; margin-top: 5px;">
											<h4>
											<b>{{dashboardReport.totalEmailOpenedCount}}</b>
											<br>
											<span class="email-action-desscription">opened</span></h4>
										</div>
									</div>
								</div>
								<div class="col-xs-4 sparkline-chart" [class.disabled]="!hasStatsRole ? true : null" (click)="listOfEmailClickedLogs()" title="view emailUrlClicked data"  style="cursor:pointer" data-toggle="modal" data-target="#emailClickedModal">
									<div class="visual">
										<img alt="Clicked" src="assets/images/clicked.png">
									</div>
									<div class="details">
									 <div class="number" style="color: #00a2e2; margin-top: 5px;">
											<h4>
											<b>{{dashboardReport.totalEmailClickedCount}}</b>
											<br>
											<span class="email-action-desscription">clicked</span></h4>
										</div>
									</div>
								</div>
								<div class="col-xs-4 sparkline-chart" [class.disabled]="!hasStatsRole ? true : null" (click)="listOfWatchedLogs()" title="view emailWatched data"  style="cursor:pointer" data-toggle="modal" data-target="#emailClickedModal">
									<div class="visual">
										<img alt="Watched" src="assets/images/watched.png">
									</div>
									<div class="details">
										<div class="number" style="color: #00bb1d; margin-top: 5px;">
											<h4>
											<b>{{dashboardReport.totalEmailWatchedCount}}</b>
											<br>
											<span class="email-action-desscription">watched</span></h4>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="portlet-body form" style="margin-top: 5px;">
				<div style="padding-bottom: 0px; padding-top: 10px;"></div>
			</div>
		</div>
				</div>
	</div>
</div>
<!-- Modals -->
<div class="modal fade" id="emailClickedModal" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" data-keyboard="false"
	data-backdrop="static">
	<div class="modal-dialog" role="document"
		style="width: 80%; margin: 1em auto">
		<div class="modal-content">
			<div class="modal-header">
			   <a class="close-circle" data-dismiss="modal"  (click)="cancelEmailStateModalPopUp()"><i class="fa fa-times"></i></a>
				<h4 class="m0">People who {{paginationType}} Emails</h4>
			<div class="btn-group pull-right"
				style="margin-top: 8px; cursor:pointer; color: #7d8c98; margin-right: -15px;">
				<span class="dropdown-toggle" data-toggle="dropdown" style="box-shadow:none; margin-top: -22px;margin-right: 21px; float:right;">
					<i class="fa fa-cog" style="font-size:20px; margin-right:5px"></i><i class="fa fa-angle-down" style="font-size:14px; float:right"></i>
				</span>
				<ul class="dropdown-menu pull-right">
					<li><a id="delete_button"
					(click)="downloadEmailLogs()"> Export To Excel </a></li>
				</ul>
			</div>
			</div>
			<div class="modal-body clearfix">
				<div *ngIf="pagination.pagedItems?.length == 0" class="col-md-6"
					class="col-md-9 alert alert-info m0" style="width: 100%">
					<strong>No Records found.. !!!</strong>
				</div>
				<div class="table-responsive"
					*ngIf="pagination.pagedItems?.length != 0">
					<table class="table tgrid"
						id="sample_editable_1">
						<thead>
							<tr>
								<th class="headerCss center">NAME</th>
								<th class="headerCss center">CAMPAIGN NAME</th>
								<th class="headerCss center">DATE & TIME</th>
								<th class="headerCss center" *ngIf="paginationType != 'open'">LOCATION</th>
								<th class="headerCss center" *ngIf="paginationType != 'open'">PLATFORM</th>
							</tr>
						</thead>
						<tbody>
							<tr
								*ngFor="let emailClicked of pagination.pagedItems;let i = index">
								<!-- <td class="center"><h5>{{emailClicked.firstName}}
										{{emailClicked.lastName}}</h5></td> -->
										<td>
									<div class="flex">
										<span class='profile' style="background-color: #3598dc;">
											<span class='uppercase'>{{emailClicked.firstName |
												slice:0:1}}{{emailClicked.lastName | slice:0:1}}</span>
										</span> <span style="margin-left: 20px;">
											<h5  style="margin: 7px 0 2px 0;">{{emailClicked.firstName}}&nbsp;{{emailClicked.lastName}}</h5>
											<h6 class='m0'>
												<a href="mailto:{{emailClicked.emailId}}">{{emailClicked.emailId}}</a>
											</h6>
										</span>
									</div>
								</td>
								<td class="center"><h5>{{emailClicked.campaignName}}</h5></td>
								<td class="center"><h5>{{emailClicked.time
										|date:'MM/dd/yyyy @ h:mma'}}</h5></td>
								<td class="center" *ngIf="paginationType != 'open'"><h5>{{emailClicked.city}},{{emailClicked.state}},{{emailClicked.country}}</h5></td>
								<!-- <td><h5>{{emailClicked.os}}</h5></td> -->
								<td class="center"
									*ngIf="emailClicked.os == 'windows' && paginationType != 'open'"><i
									class="fa fa-windows" aria-hidden="true"
									style="color: #0085d5; font-size: 18px !important"></i></td>
								<td class="center"
									*ngIf="emailClicked.os == 'mac' && paginationType != 'open'"><i
									class="fa fa fa-apple" aria-hidden="true"
									style="color: green; font-size: 22px !important"></i></td>
								<td class="center"
									*ngIf="emailClicked.os == 'linux' && paginationType != 'open'"><i
									class="fa fa fa-linux" aria-hidden="true"
									style="color: #2b247d; font-size: 22px !important"></i></td>
								<td class="center"
									*ngIf="emailClicked.os == 'android' && paginationType != 'open'"><i
									class="fa fa-android" aria-hidden="true"
									style="color: #a4ca39; font-size: 22px !important"></i></td>
								<td class="center"
									*ngIf="emailClicked.os == null && paginationType != 'open'">
									-</td>
							</tr>
						</tbody>
					</table>
				</div>
				<ul *ngIf="pagination.pager.pages && pagination.pager.pages.length && pagination.pagedItems?.length != 0"
					class="pagination">
					<li [ngClass]="{disabled:pagination.pager.currentPage === 1}">
						<a (click)="setPage(1)"
						[class.disabled]="pagination.pager.currentPage === 1">First</a>
					</li>
					<li [ngClass]="{disabled:pagination.pager.currentPage === 1}">
						<a (click)="setPage(pagination.pager.currentPage - 1)"
						[class.disabled]="pagination.pager.currentPage === 1">Previous</a>
					</li>
					<li *ngFor="let page of pagination.pager.pages"
						[ngClass]="{active:pagination.pager.currentPage === page}"><a
						(click)="setPage(page,'emailClicked')">{{page}}</a></li>
					<li
						[ngClass]="{disabled:pagination.pager.currentPage === pagination.pager.totalPages}">
						<a (click)="setPage(pagination.pager.currentPage + 1)"
						[class.disabled]="pagination.pager.currentPage === pagination.pager.totalPages">Next</a>
					</li>
					<li
						[ngClass]="{disabled:pagination.pager.currentPage === pagination.pager.totalPages}">
						<a (click)="setPage(pagination.pager.totalPages)"
						[class.disabled]="pagination.pager.currentPage === pagination.pager.totalPages">Last</a>
					</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal"
					(click)="cancelEmailStateModalPopUp()">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- world map user details  -->
<div class="modal fade" id="worldMapModal" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" data-keyboard="false"
	data-backdrop="static">
	<div class="modal-dialog" role="document"
		style="width: 80%; margin: 1em auto">
		<div class="modal-content">
			<div class="modal-header">
				<a class="close-circle" data-dismiss="modal"><i class="fa fa-times"></i></a>
				<h4 class="m0">People who have watched video</h4>
				<div class="btn-group pull-right"
				style="margin-top: 8px; cursor:pointer; color: #7d8c98; margin-right: -15px;">
				<span class="dropdown-toggle" data-toggle="dropdown" style="box-shadow:none; margin-top: -22px;margin-right: 21px; float:right;">
					<i class="fa fa-cog" style="font-size:20px; margin-right:5px"></i><i class="fa fa-angle-down" style="font-size:14px; float:right"></i>
				</span>
				<ul class="dropdown-menu pull-right">
					<li><a id="delete_button"
					(click)="downloadcountryWiseLogs()"> Export To Excel </a></li>
				</ul>
			</div>
			</div>
			<div class="modal-body clearfix">
				<div class="table-responsive">
					<table class="table tgrid">
						<thead>
							<tr>
								<th class="headerCss center">NAME</th>
								<th class="headerCss center">DATE & TIME</th>
								<th class="headerCss center">DEVICE</th>
							    <th class="headerCss center">LOCATION</th>
							</tr>
						</thead>
						<tbody>
							<tr
								*ngFor="let item of worldMapUserData;let i = index">
								<td>
									<div class="flex">
										<span class='profile' style="background-color: #3598dc;">
											<span class='uppercase'>{{item.firstName |
												slice:0:1}}{{item.lastName | slice:0:1}}</span>
										</span> <span style="margin-left: 20px;">
											<h5  style="margin: 7px 0 2px 0;">{{item.firstName}}&nbsp;{{item.lastName}}</h5>
											<h6 class='m0'>
												<a href="mailto:{{item.emailId}}">{{item.emailId}}</a>
											</h6>
										</span>
									</div>
								</td>
								<td class="center"><h5>{{item.time |date:'MM/dd/yyyy @ h:mma'}}</h5></td>
								 <td  style="text-align: center" *ngIf="item.os == 'computer'"><i
									class="fa fa-desktop " aria-hidden="true"
									style="color: #0085d5; font-size: 18px !important"></i></td>
								<td  style="text-align: center" *ngIf="item.os == 'windows'"><i
									class="fa fa-windows" aria-hidden="true"
									style="color: #0085d5; font-size: 18px !important"></i></td>
								<td style="text-align: center" *ngIf="item.os == 'mac'"><i
									class="fa fa fa-apple" aria-hidden="true"
									style="color: green; font-size: 22px !important"></i></td>
								<td style="text-align: center" *ngIf="item.os == 'linux' "><i
									class="fa fa fa-linux" aria-hidden="true"
									style="color: #2b247d; font-size: 22px !important"></i></td>
								<td  style="text-align: center" *ngIf="item.os == 'android'"><i
									class="fa fa-android" aria-hidden="true"
									style="color: #a4ca39; font-size: 22px !important"></i></td>
								<td style="text-align: center"><h5>{{item.location}}</h5></td>
								<td class="center" *ngIf="item.os == null">-</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>



