.mt25m {
	margin-top: -25px !important;
}

.ml15m {
	margin-left: -15px !important;
}

.mh530 {
	min-height:500px;
}
.tableHeightScroll{   
	height: 399px !important;
   overflow-y: scroll;
   margin-bottom: 6px;
}
/* width */
::-webkit-scrollbar {
	width: 7px;
  }
  @media (min-width: 200px) and (max-width: 767px)  { 
	.ml15m {
		padding-right: 0px !important;
	}
	.tableHeightScroll {
		height: 372px !important;
	}
  }