<div class="col-sm-6 col-md-6 col-lg-6 ml15m">
  <div class="panel panel-info mh530 panel-bgMain">
    <div class="panel-heading panel-heading-custom panel-bg">
      <h3 class="panel-title mt7">{{type | titlecase }} Asset Details</h3>
      <span class="pull-right mt25m mobilesearchdisplay">
        <div class="input-icon right mobilesearchdisplayTop" style="position: relative;width: 178px;">
          <input type="text" style="height:34px;" class="form-control" [(ngModel)]="sortOption.searchKey"
            [ngModelOptions]="{standalone: true}" placeholder="Search"
            (keypress)="searchKeyPress($event.keyCode)">
          <button class="glyphicon glyphicon-remove search-box-item-clear" *ngIf="sortOption.searchKey"
            (click)="sortOption.searchKey='';search()"></button>
          <button type="submit" class="search-box-item-click" (click)="search()">
            <i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
      </span>
    </div>
    <div class="panel-body">    
      <div class="scroll tableHeightScroll">
        <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">{{type | titlecase }}</th>
              <th scope="col">Asset Name</th>
              <th scope="col">Asset Type</th>
              <th scope="col">Asset Created Time</th>
              <th scope="col">Opened</th>
              <th></th>
            </tr>
          </thead>
          <tbody>          
            <tr *ngFor="let item of pagination.pagedItems;let i  = index">
              <td scope="row">{{((pagination.pageIndex-1)*pagination.maxResults)+i+1}}</td>
              <td title="{{item?.title}}">{{item?.title | slice:0:15}}
                <span *ngIf="item?.title?.length>15">...</span>
              </td>
              <td  title="{{item?.assetName}}">{{item?.assetName | slice:0:10}}
                <span *ngIf="item?.assetName?.length>10">...</span>
              </td>
              <td>
                <span class="assettype-bgcolor">{{item?.assetType}}</span></td>
              <td>
                <app-timestamp [isOnlyDate]="false" [dateAndTime]="item?.assetCreatedTime">
                </app-timestamp>
              </td>
              <td>
                <i class="circled-number IconopenedCount fontStyleNormal"> <strong >{{item?.openedCount}}</strong></i>
             </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
      <div *ngIf="pagination.totalRecords==0 && !httpRequestLoader.isLoading" class="alert alert-info">
        <strong>No Data Found.</strong>
      </div>
      <!--Pagination-->
      <div *ngIf="pagination.pagedItems.length !== 0" class="pg8 scroll-top-margin" [hidden]="httpRequestLoader.isLoading">
        <app-pagination [pagination]="pagination" [isDropdown]="'false'" (notifyParent)="setPage($event)"
          (notifyParentDropDown)="getTrackAssetDetails($event)">
        </app-pagination>
      </div>
    </div>
  </div>
</div>
