<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flag-icon-css/css/flag-icon.min.css">
</head>
<div class="phone-input-container" [ngStyle]="{'margin-top': isUploadCsv ? '0px' : '10px'}">
  <div class="phone-input-group" [ngStyle]="{'width': isUploadCsv ? '100%' : '75%'}">
    <div class="custom-dropdown" [class.active]="isOpen" clickOutside (clickOutside)="isOpen = false">
      <div class="dropdown-selected" (click)="toggleDropdown()">
        <span class="flag-icon flag-icon-{{convertIntoLowerCase(selectedCountry.code)}}"></span>
        <span class="dropdown-arrow">▼</span>
      </div>
      <ul class="dropdown-options mb0" *ngIf="isOpen">
        <li class="search-box">
          <input type="text" [(ngModel)]="searchQuery" [ngModelOptions]="{standalone: true}" (input)="filterCountries()" placeholder="Search country...">
        </li>
        <li *ngFor="let country of filteredCountries" (click)="selectCountry(country)" 
            [ngClass]="{'selected': country.code === selectedCountry.code}">
          <span class="flag-icon flag-icon-{{convertIntoLowerCase(country.code)}}"></span>
          <span class="country-name">{{country.name}}</span>
          <span class="country-code">{{country.dial_code}}</span>
        </li>
      </ul>
    </div>
    <div class="col-xs-10 col-sm-10 p0 px_0" id="mobile-field-width">
      <input type="tel" [(ngModel)]="mobileNumber" name="mobile" [placeholder]="placeholder"
        (input)="validateMobileNumber()" (keypress)="numbersOnly($event)" [ngModelOptions]="{standalone: true}" [maxlength]="maxlength">
    </div>
  </div>
</div>