.align-item-left {
    float: left;
}

.border-none {
    border: none !important;
}

.activity_pagination {
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: space-between;
}

.activity_card {
    border: 1px solid #ddd;
    padding: 10px 15px 10px 15px;
    border-radius: 7px;
    background-color: #ffffff;
}

.activity-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activity-title {
    font-weight: 600;
}

.activity-date {
    color: #666;
    margin-top: -5px;
    font-size: 12px;
}

.activity-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    color: #555;
}

.activity-footer {
    text-align: right;
    margin: 5px 0px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.activity-footer a {
    color: #578ebe;
    font-weight: 600;
    font-size: 13px;
    text-transform: capitalize;
}

.alert-danger {
    background-color: #f2dede !important;
    border-radius: 3px !important;
    color: #a94442 !important;
}

.login-error {
    color: #a94442;
}

.alert-danger>h5 {
    font-size: 14px;
}

.alert-danger .close {
    position: relative;
    top: 10px !important;
}

.mt5 {
    margin-top: 5px;
}

.p13 {
    padding: 13px;
}

.login-error a:hover {
    text-decoration: underline;
}

.ml3 {
    margin-left: 3px;
}

.record_player {
    margin-top: 15px;
    justify-content: center;
    overflow: hidden;
    transition: all 0.5s ease;
}

.play_button {
    font-size: 10px;
    color: #333333;
    background-color: #ffffff;
    border: 1px solid #333333;
    border-radius: 4px;
    padding: 2px 5px;
}

.play_button:hover {
    background-color: #c6d5f6;
}

.transform_90deg{
    transform: rotate(90deg);
}

.transform_180deg{
    transform: rotate(180deg);
}

.transform_button {
    transition: transform 0.3s ease-in-out;
}

.fs_10px {
    font-size: 10px;
}

.oliver_call_icon {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    color: #00a6e8;
    background-color: #f1f3fa;
    width: 34px;
    height: 34px;
    border-radius: 3px;
    display: block;
    float: right;
}

.oliveIcon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #439ae4;
    border-radius: 50%;
    cursor: pointer
}

.ask_oliver_recording {
    border: 1px solid #5bb2f5;
    padding: 0px;
    text-align: center;
    color: #00a6e8;
    background-color: #fff;
    width: 22px;
    height: 22px;
    border-radius: 3px;
    display: block;
    float: left;
}

.oliveImgIcon {
    height: 20px;
}

.disabled_bg_clr {
    background-color: #efecec;
}