.box-custom {
  width: auto !important;
  height: 102px !important;
}
.circle-css {
  width: 100px;
  border-radius: 50% !important;
  height: 100px;
  background: #f5f5f5;
  border: 5px solid;
  color: #cac7c7;
  margin: 4em 0;
}
.donut-css {
  width: 100% !important;
  height: 1px !important;
  margin-left: 0px !important;
}
.map-css {
  position: relative;
  top: 24px !important;
  height: 3px !important;
  width: 97% !important;
}
