<div class="modal fade right" id="asset-preview-modal" tabindex="-1"
	role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-lg modal-template fullwidth"
		role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close-circle" data-dismiss="modal" aria-hidden="true" (click)="hidePopup()">
					<i class="fa fa-times" aria-hidden="true"></i>
				</button>
				<h4 class="modal-title text-break" id="assetTitle"></h4>
			</div>
			<div class="modal-body mBody">
				<app-modal-popup-loader *ngIf="modalPopupLoader"></app-modal-popup-loader>
				<div [hidden]="!beeTemplatePreview">
					<div id="asset-preview-content"></div>
				</div>
				<div [hidden]="beeTemplatePreview">
					<app-image-loader [loading]="imageLoading" image="{{assetPath}}"></app-image-loader>
				</div>
			</div>
			<div class="modal-footer">
				<a href="javascript:void(0)" data-dismiss="modal" (click)="hidePopup()"
					class="btn btn-default" style="float: right">Close</a>
			</div>
		</div>
	</div>
</div>