/* #vendor-details-tile {
    border: lightgrey 1px solid;
    height: 102px;
    border-radius: 10px;
    padding-top: 15px;
    background-color: #fff;
} */
.profile {
  background: #9079d2;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 700;
  min-height: 40px;
  max-height: 40px;
  min-width: 40px;
  max-width: 40px;
  text-align: center;
  color: #fff;
  padding-top: 12px;
}

.uppercase {
  text-transform: uppercase !important;
}

.margin-left {
  margin-left: 20px;
}

.user-email {
  font-weight: 400;
  float: left;
  font-size: 13px !important;
}

.user-company {
  margin: 2px 0;
  font-weight: 600;
  color: #676767;
}

.user-name {
  margin: 2px 0;
  font-weight: 400;
}

.ellipsis {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left !important;
}

.margin-flex {
  margin-left: 0px;
}

img.active {
  height: 50px;
}

.imageClass {
  background: #f2f4f9;
  border: solid 1px #008fd5;
  border-radius: 3px;
}

.campaign-name-padding {
  padding-left: 5px;
}

.campaign-filter-option {
  display: inline-flex;
}

.campaign-type-selected {
  background-color: #0095da;
  color: white;
}
.refresh-margin {
  margin: 8px 5px 5px 5px;
}

@media screen and (max-width: 600px) {
  .mheight {
    height: 350px !important;
  }
  .mleft {
    padding-left: 30px !important;
  }
  .mBottom {
    bottom: 14px !important;
  }
  .mtop {
    top: -5px !important;
  }
  .mMargin {
    margin: 0px 3px !important;
  }

  .mWidth {
    width: 85.666667% !important;
  }
}
.xamp-margin-left-icon {
  margin: 8px 5px 5px 5px;
}
@media screen and (max-width: 600px) {
  .vendor_list {
    margin-top: 20px;
  }
}
.margin-flex {
  margin-left: 19px;
  padding-top: 13px;
}

@media screen and (max-width: 479px) {
  .display {
    display: block !important;
  }
  .mMargin {
    margin: 2px 1px !important;
  }
  .p-top {
    padding-top: 1px !important;
  }
  .align {
    height: 33px !important;
    top: 2px;
  }
}
