.portlet.light {
	box-shadow: 0px 0 2px rgba(0, 0, 0, 0.4);
}

video {
	min-width: 100%;
	max-width: 100%;
}

.profile-image {
	width: 48px;
	height: 48px;
}

.portlet.light .portlet-body {
	padding: 10px;
}

.portlet>.portlet-title {
	margin-bottom: 0
}

.flex {
	display: flex;
}

.caption-subject {
	margin: 0
}