.mix-filter {
    margin: 5px;
}

.mix-filter li {
    font-size: 12px;
    text-transform: uppercase;
}

.box {
    padding: 10px;
}

.portlet.light {
    /* box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4); */
    padding: 10px;
}

.text-center {
    text-align: center;
}

.portlet>.portlet-title>.caption {
    float: none;
    display: inherit;
}

.portlet.light .portlet-body {
    padding: 1em;
}

.portlet.light.block:hover {
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, .15);
    box-shadow: 0 5px 20px rgba(0, 0, 0, .15);
    -webkit-transform: translateY(-.5rem);
    -ms-transform: translateY(-.5rem);
    transform: translateY(-.5rem);
    cursor: pointer;
    cursor: hand;
}

.fa-3x {
    font-size: 3em;
}

.profile-img-container {
    height: auto;
    width: 100%;
    position: relative;
}

.email-template-container:hover img {
    opacity: 0.4;
}

.email-template-container:not (:hover) .email-template-i-container {
    display: none;
}

.email-template-i-container {
    position: absolute;
    top: 8em;
    left: 0px;
    display: block;
    width: 100%;
    z-index: 500;
    text-align: center;
}

.email-template-i-container i {
    display: table-cell;
    line-height: inherit;
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    padding: 32px 24px;
}

.emailtemplate-selected {
    background-color: #6dcff6;
}

.arrow {
    width: 0;
    height: 0;
    line-height: 0;
    border-left: 20px solid transparent;
    border-top: 10px solid #c8c8c8;
    top: 104%;
    left: 0;
    position: absolute;
}

.customDisableCss {
    cursor: not-allowed !important;
    opacity: 0.5;
}

a.disabled {
    pointer-events: none;
    cursor: not-allowed;
}

#emailtemplate-help {
    margin-top: 2px;
    margin-right: 4px;
    background-color: #00a6e8;
    float: right;
}

#container {
    margin: -4px;
    width: 500px;
    height: 25px;
    padding-top: 30px;
    font-family: helvetica, arial, sans-serif;
}

.arrow {
    width: 0;
    height: 0;
    line-height: 0;
    border-left: 20px solid transparent;
    border-top: 10px solid #16b2f4;
    top: 102%;
    left: 0;
    position: absolute;
}

#mix-inner {
    height: 200px;
    border: 1px solid #dad4d4;
}

#template-edit {
    left: 16%;
}

#template-action-div {
    top: 30%;
    position: relative;
}

#mix-details {
    z-index: 700;
    padding: 7px;
    height: 185px;
}

.view-banner {
    background-color: #00a6e8;
    color: white;
    padding: 3px 6px 3px 6px;
    text-align: center;
    font-size: 10px;
    border-radius: 3px;
}

.view-banner-draft {
    background-color: #f76c1a;
    color: white;
    width: auto;
    padding: 5px 10px;
    text-align: center;
    float: left;
    margin: 0;
    font-size: 12px;
}

#landing-page-image-preview-custom-css {
    height: 80px;
    width: auto;
    margin: 0;
    max-width: 70px;
}

td h6 {
    margin: 5px 0;
}

.input-small {
    width: 130px !important;
}

.mix-filter li {
    /* font-size: 11px; */
    text-transform: uppercase;
    padding: 3px 9px;
}

.actionButtonAlign{
    display: flex;
}

.actionButtonAlign2{
    display: flex;
    padding-right: 3px;
}

.actionTrashPad{
    padding-left: 3px;
}

@media only screen and (max-width:768px) {
    .modal-template {
        width: 100% !important;
    }
}

@media only screen and (min-width:768px) {
    .modal-template {
        width: 65% !important;
    }
}

.view-banner-listView {
    background-color: #00a6e8;
    color: white;
    position: relative;
    top: -5px;
    padding: 4px;
    text-align: center;
    width: 125px;
    margin: 0 auto;
    font-size: 11px;
    font-weight: 600;
}

.list-view-spam-score {
    margin: -11px 0px 0px 3px;
}

.bg-color-green {
    background-color: #3ead3e !important;
}

.bg-color-yellow {
    background-color: #f76c1a !important;
}

.bg-color-red {
    background-color: #ed1c24 !important;
}

.grid-box img {
    margin: 0 auto;
    height: 390px !important;
    width: 100% !important;
    border-radius: 5px;
}

.notify-badge {
    position: absolute;
    right: -20px;
    top: 10px;
    background: #8dd8f8;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
}

.view-banner-listView {
    padding: 4px 10px 5px 12px !important;
    font-size: 12px !important;
    border-radius: 30px;
}

.ribbon1 {
    position: absolute;
    top: -6.1px;
    right: 10px;
}

.ribbon1:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    margin-left: -44px;
    border-left: 44px solid transparent;
    border-right: 44px solid transparent;
    border-top: 10px solid #8dd8f8;
}

.ribbon1 span {
    position: relative;
    display: block;
    text-align: center;
    background: #8dd8f8;
    font-size: 14px;
    color: #ffffff;
    line-height: 1;
    padding: 12px 8px 10px;
    border-top-right-radius: 8px;
    width: 90px;
}

.ribbon1 span:before,
.ribbon1 span:after {
    position: absolute;
    content: "";
}

.ribbon1 span:before {
    height: 6px;
    width: 6px;
    left: -6px;
    top: 0;
    background: #8dd8f8;
}

.ribbon1 span:after {
    height: 6px;
    width: 8px;
    left: -8px;
    top: 0;
    border-radius: 8px 8px 0 0;
    background: #65b4d6;
}

.landing-page-selected {
    background-color: #6dcff6;
}

#custom-response-div {
    position: relative;
    top: -10px;
}

#select-dropdown {
    position: relative;
    right: -3px;
}

#cursor-not-allowed {
    cursor: not-allowed;
}

.input-icon.right {
    width: 200px;
}

#right-margin {
    margin-right: 90px;
}

#search-div {
    margin-right: 10px;
}

#icon {
    position: relative;
    right: -11px;
}

#sort-text {
    height: 34px;
}

.delete {
    background: #cb5a5e;
}

[type="checkbox"] {
    vertical-align: sub;
    width: 16px;
    height: 16px;
}

.select-all-filter {
    text-transform: uppercase;
    font-size: 14px;
    padding: 7px;
    background-color: #6dcff6;
}

#auto-height {
    height: auto;
    margin-top: -12px;
}

#right {
    float: right;
}

#left {
    float: left;
}

#notification {
    background-color: #ed1c24;
    color: white;
    margin-bottom: 25px;
    margin-left: -24px;
    margin-top: -5px;
}

#notification-list {
    background-color: #ed1c24;
    color: white;
    margin-bottom: 36px;
    margin-left: -23px;
    margin-top: -6px;
}

#max-height {
    bottom: 25px;
}


/* Naresh changes */

.bar a i {
    font-size: 12px !important;
}

.grid-box h6 {
    text-align: left;
    margin: 5px 0 5px 15px !important;
}

hr {
    margin: 0px 0;
    border: 0;
    border-top: 0.5px solid #cec8c8 !important;
    border-bottom: 0;
    width: 86% !important;
    /* padding-left: 17px; */
    margin-left: 16px !important;
}

.box {
    position: absolute;
    top: 297px;
    bottom: 0px;
    right: 0px;
    background-color: #f1f3fa;
    color: #6f6b6b;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    padding: 0px !important
}

.bar a {
    width: 25px !important;
    height: 25px !important;
    /****** 	below code commented by Naresh For buttons alignment   ******/
    /* padding: 2px !important;
	margin: 4px 3px !important; */
    padding: 2px 0px 0px 0px !important;
    margin: 4px 2px 0px 0px !important;
}

#landing-page-title {
    margin-bottom: 5px;
    margin-top: 5px;
}

/* .fa {
    font-size: 12px !important;
} */

#text-area {
    /* font-size: 16px; */
}

#right {
    float: right;
}

#actions-td-width-xamp {
    width: 30%;
}
#i-custom-font-size{
	font-size: 15px;
}
.min-width-icon{
    min-width: 170px;
}

@media screen and (max-width:600px){
    .mDisableColor{
      color: #888!important;
      border: 1px solid;
    }
    .mActionButtonAlign{
        display: block!important;
        white-space: pre-line!important;
        line-height: 1px;
        padding-left: 25px;
    }
    .mActionTop1{
        line-height: 3px;
        margin-top: -1px;
        display: flex!important;
    }
    .mActionTop2{
        white-space: pre-line!important;
        margin-top: 6px;
    }
    .mActionTop3{
        line-height: 0px;
        margin-top: 5px;
    }
    .mTrashPad{
        padding-left: 5px;
    }
    .mActionTop1Pad{
        position: relative;
        top: 3px;
    }
    #notification-list{
        background-color: #ed1c24;
        color: white;
        margin-bottom: 0px;
        margin-left: -23px;
        margin-top: -5px;
    }
  }
  