<ngx-loading [show]="ngxloading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="page-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li><i class="fa fa-home" aria-hidden="true"></i>
                <a [routerLink]="referenceService.homeRouter" translate>Home</a>
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <ng-container *ngIf="!isPartnerLandingPage">
                    <a [routerLink]="['/home/design/add']" translate>Create Design</a>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </ng-container>
            </li>
            <li>
                <a *ngIf="!isPartnerLandingPage" translate>Manage Pages</a>
                <a *ngIf="isPartnerLandingPage" translate>Pages Shared By Vendors</a>
            </li>
        </ul>
        <app-user-guide-help-button [mergeTag]="mergeTagForGuide"></app-user-guide-help-button>
    </div>

    <app-landing-pages-list-and-grid-view></app-landing-pages-list-and-grid-view>
