.custom-name-font{
    text-align: right;
    letter-spacing: 0px;
    color: white;
    font-size:10px !important;
    font-weight: 500 !important;
  }
  
  .default-name-font{
      
    text-align: right;
    letter-spacing: 0px;
    color: white;
    font-size:14px !important;
   
  }
  .description-font{
    color: white;
    font-size:9px !important;
  }
  .more-custom{
    clear: both;
    display: block;
    padding: 6px 10px 6px 10px;
    position: relative;
    color: white;
    font-size:10px !important;
    font-weight: 300 !important;
    text-transform: uppercase;
    opacity: 0.7;
    filter: alpha(opacity=70);
  }

  .more-default{
    clear: both;
    display: block;
    padding: 6px 10px 6px 10px;
    position: relative;
    color: white;
    font-size:12px !important;
    text-transform: uppercase;
    opacity: 0.7;
    filter: alpha(opacity=70);
  }