.img-class{
	height: 80px;
    width: auto;
    margin: 0;
}
#actions-row{
	width: 20%
}

#min-width{
	min-width: 145px;
}

#right-corner{
	float: right;
}

#notification{
	background-color: red;
    color: white;
    margin-bottom: 25px;
    margin-left: -25px;
    margin-top: -5px;
}