.highcharts-figure {
  min-width: 310px;
  max-width: 800px;
  margin: 1em auto;
}

@media screen and (max-width: 600px) {
  .mBarChartWidth {
    margin-left: -10px !important;
    min-width: 300px;
  }
}

.minheight-zero-px {
  min-height: 0px;
}
.portlet.light {
  padding: 7px !important;
}
.pr5 {
  padding-right: 5px;
}

.portlet.light > .portlet-title > .caption > .caption-subject {
  font-weight: 600 !important;
}
.pjCardTitlebg{    
  margin: -10px -7px 0px -7px;
}
.portlet.light > .portlet-title > .pjCardTitleCenterAlignment1{
  background-color: #d9edf7b0;
  border-bottom: 1px solid #ddd;
  padding: 10px 16px 9px 16px !important;
  width: 100%;
}