.btn-white {
    background-color: #ffffff !important;
    color: black;
    border: 1px solid #e5e5e5;
}

.register_deal{
    margin-top: 10px;
    padding: 2px;
    border: 1px solid #529de1;
    background-color: #eeeeee;
}

.register_deal:hover{
    background-color: #ffffff;
}

.greay{
	background-color: #8a8282c4;
}

.campaign-type-selected {
	background-color: #6dcff6;
}

.downloadFilterBox{
    border: 1px solid #8a8282c4;
    padding: 10px;
    margin: 10px;
}
/* sudha sri */
@media (max-width:375px){
    .padding{
        padding: 7px 4px;
    }
}
@media (max-width:320px){
    .align{
        display: flex;
    }
}
.display{
    float: right; 
    display: inline-flex;
}
@media (max-width:320px){
    .mr-pd{
        margin-left: -16px;
        padding-top: 8px;
        padding-right: 13px;
    }
}
.mr0{
        margin-right: 0px;
    }
@media (max-width:570px){
    .pt15{
        padding-top: 15px;
    }
}
@media (max-width:425px){
    .r5{
        right: -13px !important;
    }
    .pr-pl{
        padding-right: 0px !important;
        padding-left: 12px !important;
    }
    .padding{
        padding: 7px 5px !important;
    }
    .ml-w{
        margin-left: -11px !important;
        width: 107%;
    }
    .ml-mr{
        margin-left: 5px !important;
        margin-right: -3px !important;
    }
}
@media (max-width:375px){
    .ml{
        margin-left: -64px;
    }
}
@media (max-width:320px){
    .mt{
        margin-top: 7px !important;
    }
    .r20{
        right: -20px !important;
    }
    .pb{
        padding-bottom: 105px !important;
    }
    .width{
        width: 103%;
    }
    .pb{
        padding-bottom: 110px;
    }
}
.margin-left-right{
    margin-left: 24px;margin-right: 5px;
}
.button{
    padding: 6px 14px;
}