.btn-white {
  background-color: #ffffff;
  color: black;
  border: 1px solid #e5e5e5;
}

.register_deal {
  margin-top: 10px;
  padding: 2px;
  border: 2px solid #529de1;
  background-color: #eeeeee;
  text-align: center;
  border-radius: 3px;
  font-size: 12px;
  width: 130px;
}

.register_deal:hover {
  background-color: #ffffff;
}

.greay {
  background-color: #8a8282c4;
}

.campaign-type-selected {
  background-color: #6dcff6;
}

/* sudha sri */
@media (max-width: 375px) {
  .padding {
    padding: 7px 4px;
  }
}
@media (max-width: 320px) {
  .align {
    display: flex;
  }
}
.display {
  float: right;
  display: inline-flex;
}
@media (max-width: 320px) {
  .mr-pd {
    margin-left: 95px;
    margin-top: -36px;
  }
}
.mr0 {
  margin-right: 0px;
}
@media (max-width: 570px) {
  .pt15 {
    padding-top: 15px;
  }
}
@media (max-width: 425px) {
  .r5 {
    right: -3px !important;
    padding-top: 2px;
  }
  .pr-pl {
    padding-right: 0px !important;
    padding-left: 12px !important;
  }
  .padding {
    padding: 7px 5px !important;
  }
}
@media (max-width: 375px) {
  .ml {
    margin-left: -64px;
  }
}
@media (max-width: 320px) {
  .mt {
    margin-top: 7px !important;
  }
  .r20 {
    right: -10px !important;
    padding-top: 9px !important;
  }
  .top {
    top: 10px !important;
  }
  .top2 {
    top: 2px !important;
  }
  .ml0-mr0 {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px !important;
  }
}

.button {
  padding: 6px 14px;
}
@media (max-width: 768px) {
  .form-group-mr {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 479px) {
  .form-group-mr {
    margin-left: -15px !important;
  }
  .ml0-mr0 {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px !important;
  }
}
@media only screen and (max-width: 599px) {
  .form-group-mr {
    margin-left: -15px !important;
  }
  .ml0-mr0 {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px !important;
  }
  .select-width {
    width: 100% !important;
  }
}
.select-width {
  width: 196px;
  height: 32px;
}

.pg2 {
  position: relative;
  top: -2px;
}
.pg3 {
  position: relative;
  top: -3px;
}
th.leadTablewidth0{width: 35%;}
th.leadTablewidth1{width: 25%;}
th.leadTablewidth2{width: 20%;}
th.leadTablewidth3{width: 20%;}

select.form-control.select-width.FilerFormWidth {
  width: 188px;
  height: 32px;
  margin-left: 23px;
}
.override-actions {
  float: inherit;
}
.pr-25px{
  padding-right: 25px;
}
.h-200px{
  height: 200px;
}
.custom_fiter-asset {
  background-color: #f1f5f9;
  padding: 10px 5px 10px 5px !important;
}

select .e-input::placeholder {
  font-size: 15px;
  color: grey;
}
select .e-input::-webkit-input-placeholder  {
  font-size: 15px;
  color: grey;
}
select .e-input::-ms-input-placeholder {
  font-size: 15px;
  color: grey;
}
.view-type-css{
  float: right;
  margin-top: 5px;
}