.has-search>span.glyphicon {
    color: #ccc;
    top: 15px!important;
    font-size: 19px;
    position: absolute;
    cursor: pointer;
}

.description {
    font-size: 16px!important;
    font-weight: 400;
    padding-bottom: 4px!important;
    color: #757575;
}

.pb-m{
    margin-left: 5px !important;
}
@media only screen and (min-width: 768px) and (max-width: 991px) { 
    .tab_panelimg{
        padding: 0px 5px!important;
    }
}