<style type="text/css">
  .ng-valid[required],
  .ng-valid.required {
  border-left: 5px solid #42A948;
  }
  .ng-invalid:not(form) {
  border-left: 5px solid #a94442;
  }
</style>
<div *ngIf = "authService.v_companyBgImagePath && !newLogin" class="xamplify-background-image" [style.backgroundImage]="'url('+authService.v_companyBgImagePath+')'">
</div>
<div *ngIf = "authService.v_companyBgImagePath && newLogin" class="xamplify-background-image">
</div>
<div class="logo">
  <a [href]="properties.xamplify_router">
  <img style="height: 54px;" [src]="properties.COMPANY_LOGO" alt="" />
  </a>
</div>