.table>tbody>tr>td{
    overflow-wrap: anywhere;
}
.dashboardButtonTablewidth{width:30%;}
.dashboardButtonTablewidth1{width:40%;}
.dashboardButtonTablewidth2{width:30%;}


@media only screen and (min-width: 992px) and (max-width: 1190px) {  
    .brnTitleTextCu{font-size: 11px;}
    .brnTitleTextCui.fa {font-size: 14px !important;}
    .dashboardButtonTablewidth{width:40% !important;}
    .dashboardButtonTablewidth1{width:30% !important;}
    .dashboardButtonTablewidth2{width:30% !important;}
}
