.content__list {
	margin:0;
	padding:0
}
.content__list li {
	list-style:none
}
.list__item .item__content, .list__item .item__select-box-wrapper {
	width: 50%;
}
.list__item {
	width: 33.33333%;
	float: left;
}
.list__item > .flex-row {
	margin: 0;
	padding: 1rem;
	background: #fff;
	border: 1px solid #ddd;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .07);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .07);
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.select-box {
	width: 17px;
	margin: 0 20px 15px 0;
	position: relative;
	display: inline-block;
	vertical-align: baseline;
}
.item__select-box-wrapper .select-box {
	position: absolute;
	top: 0;
  left: 0;
	z-index: 10;
	line-height: 1em;
	margin: 0;
	height: 17px;
}
.item__select-box-wrapper .select-box::before {
	content: "";
	display: block;
	height: 23px;
	width: 23px;
	position: absolute;
	bottom: -4px;
	right: -5px;
	-webkit-border-radius: 0 0 6px 0;
	border-radius: 0 0 6px 0;
	background: #fff;
}
.select-box input[type="checkbox"] {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
.select-box label {
	cursor: pointer;
	font-size: 16px;
	position: absolute;
	width: 17px;
	height: 17px;
  top: 0;
  left: 0px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: #d8dade;
	-webkit-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .1);
	box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .1);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 0;
	-webkit-transition: all .2s ease;
	-o-transition: .2s all ease;
	transition: all .2s ease;
}
.select-box label::after {
	opacity: 0;
	content: "";
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 5px;
	left: 4px;
	border: 3px solid #8b8b8b;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-50deg);
	-ms-transform: rotate(-50deg);
	transform: rotate(-50deg);
}
.select-box:hover input:not(.disable)~label:after {
	opacity:.4
}
/* label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
} */
.list__item, .item__content {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
}
.item__content, .item__select-box-wrapper {
	width: 50%; float: left;
}
.item__select-box-wrapper {
	position: relative;
	padding-left: 0;
}
.item__preview {
	display: block;
	width: 100%;
	height: auto;
	-webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, .05);
	box-shadow: inset 0 0 7px rgba(0, 0, 0, .05);
}
.item__preview::before {
	content: "";
	display: block;
	padding-top: 100%;
}
.item__preview.item__preview--image.custom {
	background-color: #f3f4f6;
	text-align: center;
}
.item__preview.item__preview--image.custom .thumb {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	max-width: 100%;
	max-height: 100%;
	z-index: 2;
}
.list__item .item__name {
	color: #505659;
	/* white-space: nowrap; */
	line-height: 1em;
	/* font-size: 1.25rem; */
}
.item__last-modified, .item__size, .item__type {
	font-size:11px;
}
.item__size, .item__type {
	display: inline-block
}
.item__size span {
	margin-right:.5rem;
	padding-right:.75rem;
	border-right:1px solid #ccc
}
.item__name strong {
	font-weight: 700 !important;
}
.list__item .item__actions {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: absolute;
	right: 2rem;
	bottom: 1rem;
	width: -webkit-calc(50% - 15px);
	width: calc(50% - 15px);
	padding-top: 1rem;
	border-top: 1px solid #eaebed;
	margin-right: -4px;
}
.item__actions  span{
position: relative;
right: -6px;
}

.actions__external-link {
	margin-right: .75rem;
}
.item__content {
	position: static;
}
.fm {
	cursor: pointer;
	width: 26px;
	height: 30px;
	/* background: url(../assets/cbe16914.svg) 50% no-repeat; */
	-webkit-background-size: contain;
	background-size: contain;
	display: inline-block;
	margin: 0 5px 0 0;
	margin-right: 5px;
	vertical-align: bottom;
	position: relative;
	z-index: 2;
}
.fm.external-link {
	/* background: url("assets/images/icon-img-preview.svg") 50% no-repeat; */
	background-size: auto auto;
	-webkit-background-size: contain;
	background-size: contain;
	width: 15px;
}
.fm.delete {
	/* background: url(https://app.getbee.io/v18.09.03.1427/assets/28fa3e8f.svg) 50% no-repeat; */
	background-size: auto auto;
	-webkit-background-size: contain;
	background-size: contain;
	width: 15px;
}

.list__item.list__item--selected > .flex-row {
    border: 1px solid #fff;
    -webkit-box-shadow: 0 0 0 .2rem #4cb9ea;
    box-shadow: 0 0 0 .2rem #4cb9ea;
}
.list__item.list__item--selected .select-box label {
    background-color: #2eaade;
    border-color: #2eaade;
}
.list__item.list__item--selected .select-box label:after {
    opacity:1;
    content: "";
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 5px;
    left: 4px;
    border: 3px solid #FFF;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    transform: rotate(-50deg);
}
