.textareaNumber {
	background: url(https://i.imgur.com/2cOaJ.png) !important;
	background-attachment: local !important;
	background-repeat: no-repeat !important;
	padding-left: 35px !important;
	padding-top: 12px !important;
	/* border-color: #ccc !important;
	font-size: 14px !important; */
}

.custom-error-message {
    padding: 5px;
    border: 1px solid rgba(255, 0, 0, 0.21);
    color: rgba(255, 0, 0, 0.7);
    margin: 5px 0;
    text-transform: capitalize;
}