/*--------------------------------------------------
    [TRANSITION]
----------------------------------------------------*/
/* Cubic Bezier Transition */
/***
Portfolio
***/
/*Portfolio Filter*/
.mix-filter {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
}

.mix-filter li {
  color: #555;
  cursor: pointer;
  padding: 6px 5px;
  margin-right: 2px;
  margin-bottom: 5px;
  background: #eee;
  display: inline-block;
}

.mix-filter li:hover,
.mix-filter li.active {
  color: #fff;
  background: #1c84ff;
}

.mix-grid .mix {
  opacity: 0;
  display: none;
}

/*Portfolio Hover*/
.mix-grid .mix {
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

.mix-grid .mix .mix-inner {
  position: relative;
  width: 100%;
}

.mix-grid .mix .mix-details {
  padding: 5px;
  color: #fff;
  width: 100%;
  height: 100%;
  bottom: -70%;
  text-align: center;
  position: absolute;
  background: rgba(82, 82, 82, 0.72);
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.mix-grid .mix .mix-details-fill {
  padding: 5px;
  color: #fff;
  width: 100%;
  height: 100%;
  bottom: 0%;
  text-align: center;
  position: absolute;
  background: rgba(82, 82, 82, 0.72);
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.mix-grid .mix .mix-details1 {
  padding: 5px;
  color: #fff;
  width: 43%;
  height: 18%;
  margin-left: 57%;
  bottom: 78%;
  text-align: center;
  position: absolute;
  background: rgba(0, 184, 255, 0.72);
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.mix-grid .mix:hover .mix-details {
  bottom: 0;
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.mix-grid .mix .mix-details h4 {
  color: #fff;
  margin-top: 0px;
}

.mix-grid .mix .mix-details p {
  padding: 20px 0 0 0;
}

.mix-grid .mix .mix-details i {
  color: #fff;
  font-size: 14px;
}

.mix-grid .mix a.mix-link,
.mix-grid .mix a.mix-preview {
  color: #fff;
  display: block;
  cursor: pointer;
  margin-top: 10px;
  position: absolute;
  padding: 10px 15px;
  background: #16b2f4;
}
a.mix-preview1 {
  color: #555;
  display: block;
  cursor: pointer;
  margin-top: 10px;
  position: absolute;
  padding: 10px 15px;
  background: #16b2f4;
}
a.mix-preview2 {
  color: #555;
  display: block;
  cursor: pointer;
  margin-top: 10px;
  position: absolute;
  padding: 10px 15px;
  background: #16b2f4;
}

a.mix-preview3 {
  color: #555;
  display: block;
  cursor: pointer;
  margin-top: 10px;
  position: absolute;
  padding: 10px 15px;
  background: #16b2f4;
}

a.mix-preview4 {
  color: #fff;
  display: block;
  cursor: pointer;
  margin-top: 10px;
  position: absolute;
  padding: 10px 15px;
  background: #16b2f4;
}

a.mix-preview5 {
  color: #fff;
  display: block;
  cursor: pointer;
  margin-top: 10px;
  position: absolute;
  padding: 10px 15px;
  background: #16b2f4;
}

a.mix-preview6 {
  color: #f43636;
  display: block;
  cursor: pointer;
  margin-top: 10px;
  position: absolute;
  padding: 10px 15px;
  background: #16b2f4;
}

.mix-grid .mix a.mix-preview {
  left: 40%;
}
.mix-grid .mix a.mix-preview1 {
  left: 17%;
}
.mix-grid .mix a.mix-preview2 {
  left: 38%;
}
.mix-grid .mix a.mix-preview3 {
  left: 60%;
}

.mix-grid .mix a.mix-preview4 {
  left: 17%;
}
.mix-grid .mix a.mix-preview5 {
  left: 38%;
}
.mix-grid .mix a.mix-preview6 {
  left: 60%;
}

.mix-grid .mix a.mix-link {
  right: 50%;
  margin-right: 5px;
}

.mix-grid .mix a.mix-link:hover,
.mix-grid .mix a.mix-preview:hover {
  color: #fff;
  padding: 9px 14px;
  text-decoration: none;
  border: solid 1px #eee;
}

a.mix-preview1:hover {
  color: #fff;
  padding: 9px 14px;
  text-decoration: none;
  border: solid 1px #eee;
}
a.mix-preview2:hover {
  color: #fff;
  padding: 9px 14px;
  text-decoration: none;
  border: solid 1px #eee;
}

a.mix-preview3:hover {
  color: #fff;
  padding: 9px 14px;
  text-decoration: none;
  border: solid 1px #eee;
}

a.mix-preview4:hover {
  color: #fff;
  padding: 9px 14px;
  text-decoration: none;
  border: solid 1px #eee;
}
a.mix-preview5:hover {
  color: #fff;
  padding: 9px 14px;
  text-decoration: none;
  border: solid 1px #eee;
}

a.mix-preview6:hover {
  color: #fff;
  padding: 9px 14px;
  text-decoration: none;
  border: solid 1px #eee;
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 992px) {
  .mix-grid .mix.col-md-6.col-sm-6 .mix-details {
    height: 50%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .mix-grid .mix a.mix-link,
  .mix-grid .mix a.mix-preview {
    margin-top: 5px;
  }
}
