.center-aligned {
  text-align: center;
}

#float-right {
  float: right;
}
#over-flow-y {
  overflow-y: hidden;
}
#min-height {
  min-height: 400px;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 370px;
  position: relative;
}
@media only screen and (min-width:992px) and (max-width:1200px) { 
  .modal-dialog.previewViewPopup {
    width: 77% !important;
  }
}
