.text-danger {
    color: #e62f2e!important;
}
.upload-media-wrapper {
    border: 1px solid #dedddd;
    padding: 1em;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.upload-media-wrapper input[type=file] {
    display: block;
    width: auto;
    opacity: 0;
    position: absolute;
}
.upload-media-wrapper i.fa-camera {
    font-size: 30px;
    color: #a5a5a5;
    display: grid;
    margin: 10px;
}

.uploaded-media-wrapper {
    height: 100px;
    padding: 10px;
    border: 1px solid #eee;
    text-align: center;
}
.uploaded-media-wrapper img {
    height: 100%;
    width: auto;
}
.uploaded-media-wrapper i {
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    color: #498fd7;
}
.uploaded-media-wrapper i:hover {
    color: #828282;
}
.text-danger {
    color: red !important;
}
.has-error {
    border: 1px solid red;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px #ffeeee;
}
.border-error {
	border-radius: 0 !important;
	padding-top: 2em;
	border: 1px solid rgb(243, 86, 93);
}
.alert-error{
  padding: 7px;
  font-size: 15px;
}
.schedule-css{
  text-align: center;
  margin-top: 7px;
}
