<app-modal-popup-loader *ngIf="isLoading"></app-modal-popup-loader>
<div class="alert alert-info">
  You have the ability to add custom HTML blocks, which will be displayed in your dashboard.
</div>
<!-- Manage Custom HTMLs -->
<div class="portlet light" id="manage-custom-html">
  <app-response-message [customResponse]="customResponse" *ngIf="customResponse?.isVisible"></app-response-message>
  <div class="portlet-title">
    <div class="row">
      <div class="col-lg-12 p0">
        <div class="col-sm-5">
          <button class="btn btn-primary" style="width: 25%;" (click)="goToAddHtmlDiv()">Add</button>
        </div>
        <!-- Sort & Search -->
        <div class="col-sm-7">
          <div class="btn-group float-right">
            <div class="inputs float-right" style="display: inline-flex;">
              <select class="form-control" [(ngModel)]="sortOption.selectedCampaignEmailTemplateDropDownOption"
                (ngModelChange)="sortBy($event)" id="select-dropdown" style="width: auto;">
                <option *ngFor="let option of sortOption.eventCampaignRecipientsDropDownOptions" [ngValue]="option">{{
                  option.name }}</option>
              </select>
              <div class="ml5">
                <input type="text" autocomplete="off" id="sort-text" class="form-control"
                  [(ngModel)]="sortOption.searchKey" [ngModelOptions]="{standalone: true}" placeholder="Search..."
                  (keydown.enter)="search()">
                <button class="glyphicon glyphicon-remove search-box-item-clear" *ngIf="sortOption.searchKey"
                  (click)="sortOption.searchKey=''; search();"></button>
                <button type="submit" class="search-box-item-click" (click)="search();"><i class="fa fa-search"
                    aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-list-loader *ngIf="listLoading"></app-list-loader>
  <div class="alert alert-info text-center" *ngIf="pagination?.totalRecords === 0 && !listLoading">No Data Found.</div>
  <ng-container *ngIf="pagination?.totalRecords > 0 && !listLoading">
    <div class="table-responsive">
      <table class="table tgrid table-hover table-sm" id="custom-htmls">
        <thead>
          <tr>
            <th class="text-center">
              <input type="checkbox" [(ngModel)]="allSelected" (change)="toggleAllSelection()" [checked]="isAllSelected()"/>
            </th>
            <th style="width: 30%">
              <span class="ui-column-resizer gray"
                (mousedown)="referenceService?.onMouseDown($event, 'custom-htmls', 1)"></span>
              <span class="gridHeader">Custom HTML Name</span>
            </th>
            <th class="text-center">Created On</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customDto of pagination?.pagedItems; let i = index" id="custom-html-{{ customDto.id }}">
            <td class="text-center">
              <input type="checkbox" [(ngModel)]="customDto.selected" (change)="updateSelection(customDto)"/>
            </td>
            <td class="d flex">
              <div style="margin-left: -20px;margin-top: 7px;">
                <img src="assets/admin/pages/media/works/html_logo_image.png" alt="logo" class="html-logo-image" style="height: 47px;">
              </div>
              <div style="margin-left: 5px;">
              <h5 class="moreipsis" data-toggle="tooltip" data-placement="bottom" title="{{ customDto?.title }}">
                <span>{{ customDto?.title }}</span>
              </h5>
              <h6 class="">
                <span translate>Created By <strong>{{ customDto?.createdBy }}</strong></span>
              </h6>
            </div>
            </td>
            <td class="text-center">
              <app-display-date-and-time
                [dateAndTimeUTCString]="customDto?.createdTimeInString"></app-display-date-and-time>
            </td>
            <td>
              <div class="actions-block override-actions float-none">
                <a class="custom-icon" data-toggle="tooltip" data-placement="top" title="Copy and save"
                  (click)="findById(customDto.id); isAdd = true;">
                  <i class="fa fa-files-o IconCustomization" aria-hidden="true"></i>
                </a>
                <a class="custom-icon" data-toggle="tooltip" data-placement="top" title="Edit"
                  (click)="findById(customDto.id); isAdd = false;">
                  <i class="fa fa-pencil-square-o IconCustomization" aria-hidden="true"></i>
                </a>
                <a id="template-delete" class="custom-icon" (click)="showConfirmSweetAlert(customDto.id)"
                  data-toggle="tooltip" data-placement="top" title="Delete">
                  <i class="fa fa-trash-o trashIconCustomization" aria-hidden="true"></i>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pg8">
        <app-pagination [pagination]="pagination" (notifyParent)="navigateBetweenPageNumbers($event)"
          (notifyParentDropDown)="findPaginatedItems($event)"></app-pagination>
      </div>
    </div>
  </ng-container>
</div>

<!-- Add Custom Field -->
<div class="portlet light" id="add-custom-html" style="display: none;">
  <app-response-message [customResponse]="customResponse" *ngIf="customResponse?.isVisible"></app-response-message>
  <div class="portlet-body">
    <div class="col-12">
      <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
        (onFileDrop)="fileDropPreview($event)" [uploader]="emailTemplateUploader" class="well my-drop-zone"
        style="position: relative; cursor:pointer; margin-bottom:0" (click)="dropClick()">
        <input type="file" ng2FileSelect [uploader]="emailTemplateUploader" accept=".zip"
          *ngIf="emailTemplateUploader.queue.length == 0" (change)="changeLogo($event)"
          style="opacity: 0.0; position: absolute;" title=" " id="file-upload">
        <div class="text-center">
          <img src="../../../assets/images/uploadimage.png" alt="Upload Image">
          <h2 class="upload-video" id="upload-custom-template">Upload a File</h2>
          <h6 id="drag-drop">Drag and drop files here or click to select files</h6>
          <button class="btn btn-primary" id="browse">Browse</button>
        </div>
      </div>
    </div><br>

    <div class="form-group" *ngIf="isAdd">
      <label>Custom HTML Name<span class="required">*</span></label>
      <input type="text" class="form-control" id="customHtmlName" [(ngModel)]="customHtmlBlock.title"
        [ngModelOptions]="{standalone: true}" placeholder="Enter Custom HTML Name" required>
      <span class="required" *ngIf="customErrorMessage">{{ customErrorMessage }}</span>
    </div>

    <div class="form-group" *ngIf="isAdd">
      <label>HTML Body</label>
      <textarea class="form-control" id="htmlBody" [(ngModel)]="customHtmlBlock.htmlBody"
        [ngModelOptions]="{standalone: true}" placeholder="Enter Custom HTML Body" required></textarea>
    </div>

    <div class="form-group" [hidden]="!customHtmlBlock.htmlBody">
      <label>Preview</label>
      <div [innerHTML]="customHtmlBlock.htmlBody" class="preview"></div>
    </div>
  </div>
  <!-- Buttons -->
  <div class="pull-right">
    <button type="button" [disabled]="isValid()" class="btn btn-primary" (click)="saveOrUpdateCustomblock()">
      <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp; Save
    </button>
    <button type="button" class="btn Btn-Gray" (click)="goToManage()" translate>Cancel</button>
  </div>
</div>

<!-- Custom HTML Block Modal Popup -->
<div class="modal fade right" id="custom_html_block_modal_popup" role="dialog" aria-labelledby="myModalLabel"
  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close-circle" (click)="closeModalPopup()" data-dismiss="modal">
          <i class="fa fa-times"></i></a>
        <h4 class="modal-title left" id="myModalLabel"> {{ isAdd ? 'Custom HTML Name' : 'Update Custom HTML Details' }} </h4>
      </div>
      <div class="modal-body">
        <app-modal-popup-loader *ngIf="popupLoader"></app-modal-popup-loader>
        <div *ngIf="!isValidationMessage && !popupLoader">
          <div class="form-group">
            <label>Name<span class="required">*</span></label>
            <input type="text" class="form-control" id="customHtmlName" [(ngModel)]="customHtmlBlock.title"
              [ngModelOptions]="{standalone: true}" placeholder="Enter Custom HTML Name" required>
            <span class="required" *ngIf="customErrorMessage">{{ customErrorMessage }}</span>
          </div>

          <div class="form-group" *ngIf="!isAdd">
            <label for="htmlBody">HTML Body<span class="required">*</span></label>
            <textarea class="form-control" id="htmlBody" [(ngModel)]="customHtmlBlock.htmlBody"
              [ngModelOptions]="{standalone: true}" placeholder="Enter Custom HTML Body" required></textarea>
          </div>

          <div class="form-group"  *ngIf="!isAdd">
            <label>Preview</label>
            <div [innerHTML]="customHtmlBlock.htmlBody" class="preview"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="border: none">
        <button class="btn Btn-Gray" (click)="closeModalPopup()" data-dismiss="modal">Cancel</button>
        <button type="submit" class="button bgcolor-unset" [disabled]="isValid()" (click)="saveOrUpdateCustomblock()">
          <span class="btn btn-primary transition">{{ isAdd ? 'Save changes' : 'Update'}}</span></button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Confirmation -->
<app-confirm-sweet-alert-util *ngIf="isDeleteOptionClicked"
  (notifyComponent)="delete($event)"></app-confirm-sweet-alert-util>