<style type="text/css">
	.td-new,
	th {
		padding: 2px;
	}

	.disabled {
		pointer-events: none;
		cursor: not-allowed !important;
	}

	.btn-social {
		color: #fff;
	}
	@media screen and (min-width: 601px){
    .modal-dialog {
    width: 100% !important;
    }
    }
</style>
<div id="addCommentModal" class="modal right" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false"
 data-backdrop="static" style="display: block;padding-right: 0 !important;">
	<div class="modal-dialog" style="position: relative !important;">
		<!-- Modal content-->
		<div class="modal-content accounts-modal">
			<div class="modal-header" style="border-bottom: none">
			

			</div>
			<div class="modal-body">


				<section *ngIf="!isDealRegistration">
					<div id=""  [class.ml0]="authenticationService.isSuperAdmin()">
						<div class="page-bar" >
							<a (click)="resetTopNavBarValue()" class="pull-right close-circle" style="margin: 9px 14px;padding-top: 3px;padding-left: 5px;">
							<span class="glyphicon glyphicon-remove" style="z-index: 1;font-size: 13px;" aria-hidden="true"></span></a>

							<div data-animation-name="slideInUp">
								<div class="col-xs-12">
									<ng-container *ngIf="campaignType == 'SOCIAL'">
										<div class="f-w-600 p10">Redistributed Accounts</div>
										<ng-container *ngFor="let socialStatus of redistributedAccountsBySelectedUserId">
											<app-social-status [socialStatus]="socialStatus"></app-social-status>
										</ng-container>
									</ng-container>
								</div>

								<div class="col-xs-12 col-sm-10" style="float: right">
									<div data-animation="slideInUp">
										<div class="row mb10">
											<img src="/assets/images/user.png" width="48px" class="user-profile-image">
											<span *ngIf="campaign.nurtureCampaign || !channelCampaign">
												<button style="position: absolute; left: 400px; margin-top: 7px;" (click)="showDealRegistrationForm(item,$event)"
								class="btn btn-primary">{{dealButtonText}}</button>
											</span>
											<h5 class="f-w-600 mt10 mb0"><span *ngIf="selectedRow?.firstName">{{selectedRow.firstName}}</span>&nbsp;<span
												 *ngIf="selectedRow?.lastName">{{selectedRow.lastName}}</span></h5>
											<h6 class="m0" *ngIf="selectedRow?.emailId">{{selectedRow.emailId}}</h6>
										</div>
										<div class="row mb10">
											<div class="col-sm-3 col-xs-6">
												<a class="text-center">
													<div><img src="assets/images/email-opened.png" style="margin: 0px 5px;width: 52px;"></div>
													<div>Email Opened</div>
													<div class="number">
														<span data-counter="counterup" style="margin: 0 25px;">{{userCampaignReport.emailOpenCount}}</span>
													</div>
												</a>
											</div>
											<ng-container *ngIf="campaignType != 'EVENT'">
												<div class="col-sm-3 col-xs-6">
													<a class="text-center">
														<div><img src="assets/images/clicked-new.png" style="margin: 0px 10px;width: 52px;"></div>
														<div>Clicked URL</div>
														<div class="number">
															<span data-counter="counterup" style="margin: 0 25px;">{{userCampaignReport.emailClickedCount}}</span>
														</div>
													</a>
												</div>
												<div class="col-sm-3 col-xs-6" [hidden]="campaignType==='EMAIL' || campaignType==='SOCIAL' ">
													<a class="text-center">
														<div><img src="assets/images/video-watched.png" style="margin: 0px 11px;width: 52px;"></div>
														<div>Views</div>
														<div class="number">
															<span data-counter="counterup" style="margin: 0 33px;">{{userCampaignReport.totalUniqueWatchCount}}</span>
														</div>
													</a>
												</div>
												<div class="col-sm-3 col-xs-6" [hidden]="campaignType==='EMAIL' || campaignType==='SOCIAL'">
													<a class="text-center">
														<div><img src="assets/images/total-time-spent.png" style="margin: 4px 15px;width: 45px;"></div>
														<div>Time Spent</div>
														<div class="number">
															<span data-counter="counterup" style="margin: 0 33px;">{{videoUtilService.truncateHourZeros(totalTimeSpent)}}</span>
														</div>
													</a>
												</div>
											</ng-container>

											<div class="col-sm-3 col-xs-6" *ngIf="campaignType==='SOCIAL'">
												<a class="text-center">
													<div><img src="assets/images/social-icons.jpg" style="margin: 0px 15px;width: auto;height: 52px;"></div>
													<div>Social Accounts</div>
													<div class="number">
														<span>{{redistributedAccountsBySelectedUserId.length}}</span>
													</div>
												</a>
											</div>
										</div>
									</div>

									<ul class="timeline" data-animation="slideInUp" *ngIf="selectedRow">
										<li class="timeline-inverted">
											<div class="timeline-badge warning"><img src="assets/images/closed-env.png"></div>
											<div class="timeline-panel">
												<div class="timeline-heading">
													<span class="timeline-title">
														<!-- {{campaign.launchTime | date: 'fullDate'}} -->
														<app-timestamp [dateAndTime]="campaign.launchTime"> </app-timestamp>
													</span>
												</div>
												<div class="timeline-body">
													<h5><span class="f-w-600" title="{{campaign.campaignName}}">
															{{campaign.campaignName | slice: 0: 30}}
															<span *ngIf="campaign.campaignName?.length>30">...</span>
														</span> campaign Launched at {{campaign.launchTime | date: 'shortTime'}}</h5>
													<h5>Email sent to <b>{{selectedRow.emailId}}</b></h5>
												</div>
											</div>
										</li>
									</ul>
									<ul class="timeline" *ngFor="let emailLog of emailLogs">
										<li class="timeline-inverted">
											<div class="timeline-badge">
												<img *ngIf="emailLog.actionId == 13" alt="opened" src="assets/images/opened.png">
												<img *ngIf="emailLog.actionId == 14" alt="clicked" src="assets/images/clicked.png">
												<img *ngIf="emailLog.actionId == 15" alt="clicked" src="assets/images/clicked.png">
												<img *ngIf="emailLog.actionId == 1 || emailLog.actionId == 10" alt="watched" src="assets/images/video.png">
											</div>
											<div class="timeline-panel">
												<div class="timeline-heading">
													<span class="timeline-title">
														<!-- {{emailLog.time | date: 'fullDate'}} -->
														<app-timestamp [dateAndTime]="emailLog.time"> </app-timestamp>
													</span>
												</div>
												<div class="timeline-body">
													<h5>
														<span *ngIf="emailLog.actionId == 13">
															Campaign <span class="f-w-600" *ngIf="emailLog.subject" title="{{emailLog.subject}}">
																{{emailLog.subject | slice:0:30}} <span *ngIf="emailLog.subject?.length>30">...</span>
															</span> email opened
														</span>
														<span *ngIf="emailLog.actionId == 14 && campaign.campaignVideoFile">Clicked <span class="f-w-600" title="{{campaign.campaignVideoFile.title}}">{{campaign.campaignVideoFile.title
																| slice:0:30}} <span *ngIf="campaign.campaignVideoFile.title?.length>30">...</span></span> video GIF</span>
														<span *ngIf="emailLog.actionId == 15">
															Clicked on the URL
															<span class="f-w-600" *ngIf="emailLog.url"><a href="{{emailLog.url}}" target="_blank" title="{{emailLog.url}}">{{emailLog.url
																	| slice:0:30}}<span *ngIf="emailLog.url?.length>30">...</span></a></span>
														</span>
														<span *ngIf="campaign.campaignVideoFile && (emailLog.actionId == 1 || emailLog.actionId == 10)">
															<span class="f-w-600" title="{{campaign.campaignVideoFile.title}}">{{campaign.campaignVideoFile.title | slice:0:30}}
																<span *ngIf="campaign.campaignVideoFile.title?.length>30">...</span>
															</span> <span *ngIf="emailLog.actionId == 10">re-</span>played
														</span> at {{emailLog.time | date: 'shortTime'}}
													</h5>
													<span *ngIf="emailLog.countryCode">
														<h6>
															<img *ngIf="emailLog.countryCode" src="https://lipis.github.io/flag-icon-css/flags/4x3/{{emailLog.countryCode | lowercase}}.svg"
															 width="20px" class="mr10">{{emailLog.country}}, {{emailLog.city}}
														</h6>
														<h6 class="mb0">{{emailLog.isp}}</h6>
													</span>
													<div *ngIf="emailLog.actionId == 1">
														<app-heat-map [sessionId]="emailLog.sessionId"></app-heat-map>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</section>


			</div>
		</div>
	</div>
</div>
