.mix-filter {
	margin: 5px;
}

.mix-filter li {
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 600;
	padding: 5px 12px;
}

.box {
	padding: 10px;
}

.text-center {
	text-align: center;
}

.portlet>.portlet-title>.caption {
	float: none;
	display: inherit;
}

.portlet.light .portlet-body {
	padding: 1em;
}

.portlet.light.block:hover {
	-webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, .15);
	box-shadow: 0 5px 20px rgba(0, 0, 0, .15);
	-webkit-transform: translateY(-.5rem);
	-ms-transform: translateY(-.5rem);
	transform: translateY(-.5rem);
	cursor: pointer;
	cursor: hand;
}

.fa-4x {
	font-size: 4em;
}

.profile-img-container {
	height: auto;
	width: 100%;
	position: relative;
}

.email-template-container:hover img {
	opacity: 0.4;
}

.email-template-container:not:hover .email-template-i-container {
	display: none;
}

.email-template-i-container {
	position: absolute;
	top: 8em;
	left: 0px;
	display: block;
	height: 100%;
	width: 100%;
	z-index: 500;
	text-align: center;
}

.email-template-i-container i {
	display: block;
	line-height: inherit;
}

h1 {
	background: #e3e3e3;
	background: -moz-linear-gradient(top, #e3e3e3, #c8c8c8);
	background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3),
		to(#c8c8c8));
	padding: 10px 20px;
	margin-left: -20px;
	margin-top: 0;
	position: relative;
	width: 70%;
	-moz-box-shadow: 1px 1px 3px #292929;
	-webkit-box-shadow: 1px 1px 3px #292929;
	box-shadow: 1px 1px 3px #292929;
	color: #454545;
}

.arrow {
	width: 0;
	height: 0;
	line-height: 0;
	border-left: 20px solid transparent;
	border-top: 10px solid #c8c8c8;
	top: 104%;
	left: 0;
	position: absolute;
}

.emailtemplate-selected {
	background-color: #6dcff6;
}



@media screen and (max-width:600px) {
	.modal-template {
		width: 100% !important;
		right: 0
	}
}

@media screen and (min-width:601px) {
	.modal-template {
		width: 75% !important;
		right: 0
	}
}

[type="checkbox"] {
	vertical-align: sub;
	width: 16px;
	height: 16px;
}

.select-all-filter {
	text-transform: uppercase;
	font-size: 14px;
	padding: 7px;
	background-color: #6dcff6;
}

#auto-height {
	margin-top: -12px;
}

.grid-box img {
     margin: 0 auto;
     width: 100% !important;
		 border-radius: 5px;
}

#right {
	float: right;
}
.input-icon.right{
	width: 200px;
}
#max-height{
	bottom:25px;
}
#height{
	height: 485px;
}
#right-margin{
	margin-right: 70px;
}
#search-div{
	margin-right: 10px;
}
#icon{
	position: relative;right: -11px;
}
.form-selected{
     background-color: #6dcff6;
}

.ribbon1 {
    position: absolute;
    top: -6.1px;
    right: 10px;
  }
  .ribbon1:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    margin-left: -44px;
    border-left: 44px solid transparent;
    border-right: 44px solid transparent;
    border-top: 10px solid #8dd8f8;
  }
  .ribbon1 span {
    position: relative;
    display: block;
    text-align: center;
    background: #8dd8f8;
    font-size: 14px;
    color: #ffffff;
    line-height: 1;
    padding: 12px 8px 10px;
    border-top-right-radius: 8px;
    width: 90px;
  }
  .ribbon1 span:before, .ribbon1 span:after {
    position: absolute;
    content: "";
  }
  .ribbon1 span:before {
   height: 6px;
   width: 6px;
   left: -6px;
   top: 0;
   background: #8dd8f8;
  }
  .ribbon1 span:after {
   height: 6px;
   width: 8px;
   left: -8px;
   top: 0;
   border-radius: 8px 8px 0 0;
   background: #65b4d6;
  }
.grid-box{
	padding-bottom: 0px !important;
}
.fit-in-image {
	width: 100%;
    height: 175px;
    overflow: hidden;
}

.ribbon span::before {
	border-left: 3px solid #5ab1eb;
	border-top: 3px solid #5ab1eb;
}

.ribbon span::after {
	border-right: 3px solid #5ab1eb ;
	border-top: 3px solid #5ab1eb;
}