.deal-box{
    margin-bottom: 50px;border: 1px solid #ddd;margin: 10px;padding: 10px
}

.capitalize {
    text-transform: capitalize;
}

.bglite {
    background-color: #f1f3fa;
}

.black {
    color: #000;
}

.label-box {
    border: #ddd solid 1px;
    border-radius: 3px !important;
    padding: 20px;
}

.custom-height {
    top: 1px;
    right: 1px;
    height: 32px;
}

