<div class="page-content">
	<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
	<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog"
		aria-labelledby="directMessagesLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true"></button>
					<h4 class="modal-title">Modal title</h4>
				</div>
				<div class="modal-body">Widget settings form goes here</div>
				<div class="modal-footer">
					<button type="button" class="btn blue">Save changes</button>
					<button type="button" class="btn default" data-dismiss="modal">Close</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
<div class="page-bar square-box margin-bottom-10px">
	<ul class="page-breadcrumb">
		<li><i class="fa fa-home"></i> <a [routerLink]="referenceService.homeRouter">Home</a> <i class="fa fa-angle-right"></i></li>
		<li>Twitter analytics</li>
	</ul>
</div>

<div class="dashboard-stat2 col-md-12 square-box margin-bottom-10px">
	<div class="col-md-6">
		<!-- BEGIN Portlet PORTLET-->
		<div class="portlet">
			<div class="portlet-body" style="padding-top: 20px;">
		<div *ngIf="twitterProfile">
			<div class="number col-xs-6 text-left" style="padding-left: 15px; padding-right: 0px;">
				<img alt="" class="img-circle" src="{{twitterProfile.profileImageUrl}}" style="width: 50px;" />
				<small>@{{twitterProfile.screenName}}</small><br>
				<small>{{twitterProfile.name}}</small>
			</div>
			<div class="icon col-xs-6 text-right">

				<b>Total Followers</b>
				<a [routerLink]="['../../twitter-followers', socialConnection.profileId]">
				<span style="color: #00aced; font-weight: 600; display: inline;">{{twitterProfile.followersCount}}</span>
				</a>
				<br>
				<a [routerLink]="['../../twitter-friends', socialConnection.profileId]">
				<span style="color: #00aced; font-weight: 900; display: inline;">{{twitterProfile.friendsCount}} connections</span>
				</a>
				<br>
				<b>made in this time period</b>
			</div>
		</div>

		<div class="clearfix">&nbsp;</div>
		<div class="col-xs-6 text-left" style="padding-left: 15px; padding-right: 0px;">
			<h5>
				<span class="nummber" style="color: #444; font-weight: 600; display: inline;">New Followers</span>
			</h5>
		</div>
		<div class="col-xs-2 text-center" style="padding-left: 15px; padding-right: 0px;">
			<h5><span class="nummber" style="color: #00aced; font-weight: 600; display: inline;">{{weeklyFollowersCount}}</span></h5>
		</div>
		<div class=" col-xs-4 text-right sparkline-chart icon">
			<div class="number" id="sparkline_followers"><canvas width="55" height="60" style=" padding: 5px; display: inline-block; width: 46px; height: 20px; vertical-align: top;"></canvas></div>
	    </div>

		<div class="col-xs-12">
			<hr
				style="background-color: #00ACED; height: 1px; border: 0; margin-top: 5px;">
		</div>
		<div class="col-xs-6 text-left"
			style="padding-left: 15px; padding-right: 0px;">
			<h5>
				<span class="nummber" style="color: #444; font-weight: 600; display: inline;">You	Followed</span>
			</h5>
		</div>
		<div class="col-xs-2 text-center"
			style="padding-left: 15px; padding-right: 0px;">
			<h5>
				<span class="nummber" style="color: #00aced; font-weight: 600; display: inline;">{{weeklyFriendsCount}}</span>
			</h5>
		</div>

	                    <div class=" col-xs-4 text-right sparkline-chart icon">
			<div class="number" id="sparkline_friends"><canvas width="55" height="60" style=" padding: 5px; display: inline-block; width: 46px; height: 20px; vertical-align: top;"></canvas></div>
			  </div>

		<div class="col-xs-12">
			<hr
				style="background-color: #00ACED; height: 1px; border: 0; margin-top: 5px;">
		</div>

		<div class="col-xs-6 text-left" style="padding-left: 15px; padding-right: 0px;">
			<h5><span class="nummber" style="color: #444; font-weight: 600; display: inline;">Direct Messages</span>(Sent/Recived)</h5>
		</div>
		<div class="col-xs-2 text-center" style="padding-left: 15px; padding-right: 0px;">
			<h5><span class="nummber" style="color: #00aced; font-weight: 600; display: inline;">{{weeklyMessagesCount}}</span></h5>
		</div>
	         		<div class=" col-xs-4 text-right sparkline-chart icon">
			<div class="number" id="sparkline_direct_messages">
				<canvas width="55" height="60" style=" padding: 5px; sparkbarspacing:5; display: inline-block; width: 46px; height: 20px; vertical-align: top;"></canvas>
			</div>
		</div>
		<div class="clearfix">&nbsp;</div>
	</div>

		</div>
		<!-- END Portlet PORTLET-->
	</div>

	<div class="col-md-6">
		<!-- BEGIN Portlet PORTLET-->
		<div class="portlet">
			<div class="portlet-body">
		<div class="col-xs-6 text-left" style="padding-left:15px;padding-right:0px;">
			<h5><strong class="nummber" style="color: #444; font-weight: 600;display: inline;">@mentions</strong></h5>
		</div>
		<div class="col-xs-2 text-center" style="padding-left:15px;padding-right:0px;">
			<h5><strong class="nummber" style="color: #00aced; font-weight: 600;display: inline;">{{weeklyMentionsCount}}</strong> </h5>
		</div>
		<div class=" col-xs-4 text-right sparkline-chart icon">
			<div class="number" id="sparkline_mentions"><canvas width="55" height="60" style=" padding: 5px; display: inline-block; width: 46px; height: 20px; vertical-align: top;"></canvas></div>
 			</div>

		<div class="col-xs-12">
			<hr style="background-color: #00ACED; height: 1px; border: 0;margin-top:5px; ">
		</div>

		<div class="col-xs-6 text-left" style="padding-left:15px;padding-right:0px;">
			<h5><strong class="nummber" style="color: #444; font-weight: 600;display: inline;">Messages Sent</strong></h5>
		</div>
		<div class="col-xs-2 text-center" style="padding-left:15px;padding-right:0px;">
			<h5><strong class="nummber" style="color: #00aced; font-weight: 600;display: inline;">{{weeklyMessagesSentCount}}</strong> </h5>
		</div>

		<div class=" col-xs-4 text-right sparkline-chart icon">
			<div class="number" id="sparkline_messages_sent"><canvas width="55" height="60" style=" padding: 5px; display: inline-block; width: 46px; height: 20px; vertical-align: top;"></canvas></div>
 			</div>

		<div class="col-xs-12">
			<hr style="background-color: #00ACED; height: 1px; border: 0;margin-top:5px; ">
		</div>

		<div class="col-xs-6 text-left" style="padding-left:15px;padding-right:0px;">
			<h5><strong class="nummber" style="color: #444; font-weight: 600;display: inline;">Messages Recieved</strong></h5>
		</div>
		<div class="col-xs-2 text-center" style="padding-left:15px;padding-right:0px;">
			<h5><strong class="nummber" style="color: #00aced; font-weight: 600;display: inline;">{{weeklyMessagesRecievedCount}}</strong> </h5>
		</div>
		<div class=" col-xs-4 text-right sparkline-chart icon">
			<div class="number" id="sparkline_messages_recieved"><canvas width="55" height="60" style=" padding: 5px; display: inline-block; width: 46px; height: 20px; vertical-align: top;"></canvas></div>
 			</div>

		<div class="col-xs-12">
			<hr style="background-color: #00ACED; height: 1px; border: 0;margin-top:5px; ">
		</div>

		<div class="col-xs-6 text-left" style="padding-left:15px;padding-right:0px;">
			<h5><strong class="nummber" style="color: #444; font-weight: 600;display: inline;">Clicks</strong></h5>
		</div>
		<div class="col-xs-2 text-center" style="padding-left:15px;padding-right:0px;">
			<h5><strong class="nummber" style="color: #00aced; font-weight: 600;display: inline;"></strong> </h5>
		</div>
		<div class=" col-xs-4 text-right sparkline-chart icon">
			<div class="number" id="sparkline_clicks"><canvas width="55" height="60" style=" padding: 5px; display: inline-block; width: 46px; height: 20px; vertical-align: top;"></canvas></div>
 			</div>

		<div class="col-xs-12">
			<hr style="background-color: #00ACED; height: 1px; border: 0;margin-top:5px; ">
		</div>

		<div class="col-xs-6 text-left" style="padding-left:15px;padding-right:0px;">
			<h5><strong class="nummber" style="color: #444; font-weight: 600;display: inline;">Retweets</strong></h5>
		</div>
		<div class="col-xs-2 text-center" style="padding-left:15px;padding-right:0px;">
			<h5><strong class="nummber" style="color: #00aced; font-weight: 600;display: inline;"></strong> </h5>
		</div>

		<div class=" col-xs-4 text-right sparkline-chart icon">
			<div class="number" id="sparkline_retweets"><canvas width="55" height="60" style=" padding: 5px; display: inline-block; width: 46px; height: 20px; vertical-align: top;"></canvas></div>
 			</div>
		<div class="clearfix">&nbsp;</div>			</div>
		</div>
		<!-- END Portlet PORTLET-->
	</div>
		</div>


	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="portlet light portlet-fit ">
				<div class="portlet-title">
					<!-- <div class="caption">
						<i class=" icon-layers font-green"></i> <span
							class="caption-subject font-green bold uppercase">KEY
							INDICATORS <small>(Know how your conversing with your
								audience)</small>
						</span>
					</div>  -->
					<div class="actions">
						<a class="btn btn-circle btn-icon-only btn-default"
							href="javascript:;"> <i class="icon-cloud-upload"></i>
						</a> <a class="btn btn-circle btn-icon-only btn-default"
							href="javascript:;"> <i class="icon-wrench"></i>
						</a> <a class="btn btn-circle btn-icon-only btn-default"
							href="javascript:;"> <i class="icon-trash"></i>
						</a>
					</div>

					<div class="col-md-8 col-sm-8 col-xs-12">
						<!-- <div id="highchart_1" style="height: 220px"></div> -->
						<app-line-chart [influence]='influence' [engagement]='engagement'> </app-line-chart>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12" *ngIf="kloutScore">
						<div class="col-md-6 col-sm-6 col-xs-6">
							<b>Influence Score</b><br>
							<h2 style="color: #32CD32; font-weight: 700; display: inline;">{{kloutScore.score}}%</h2>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6">
							<b>Bucket</b><br>
							<h2 style="color: #00aced; font-weight: 700; display: inline;">{{kloutScore.bucket}}</h2>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-6">
							<b>Influencing Topics</b><br>
							<span *ngFor="let item of kloutTopics; let i = index;">
								<h2 *ngIf="i == 0" style="color: #00aced; font-weight: 700;display: inline;">{{item.name}}</h2>
								<h2 *ngIf="i == 1" style="color: #f57f58; font-weight: 700; display: inline;" >{{item.name}}</h2>
								<h2 *ngIf="i == 2" style="color: #00ed81; font-weight: 700; display: inline;" >{{item.name}}</h2>
								<h2 *ngIf="i == 3" style="color: #01bcc1; font-weight: 700; display: inline;" >{{item.name}}</h2>
								<h2 *ngIf="i == 4" style="color: #ed00c3; font-weight: 700; display: inline;" >{{item.name}}</h2>
							</span>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>



	<div class="row">

		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption">
						<i class="icon-equalizer font-purple-plum hide"></i> <span class="caption-subject font-red-sunglo bold uppercase">Follower Demographics</span>
					</div>
					<div class="tools">
						<a href="" class="reload" data-original-title="" title=""> </a>
					</div>
				</div>
				<div class="portlet-body">
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-12" *ngIf="followersGenderPercentage" style="margin-top: 5em;">
						<div class="col-xs-6">
							<div class="sparkline-chart">
								<div class="visual" style="color: #007bb6; font-size: 72px;">
									<i class="fa fa-male" style="color: #007bb6; font-size: 120px; padding: 10px"></i>
								</div>
								<div class="details">
									<div class="number" style="color: #007bb6; font-size: 18px; font-weight: bold">
										{{followersGenderPercentage.male}}% <small>Male Followers</small>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="sparkline-chart">
								<div class="visual" style="color: #dd4b39; font-size: 72px;">
									<i class="fa fa-female" style="color: #ff2c82; font-size: 120px; padding: 10px"></i>
								</div>
								<div class="details">
									<div class="number" style="color: #ff2c82; font-size: 18px; font-weight: bold">
										{{followersGenderPercentage.female}}% <small>Female Followers</small>
									</div>
								</div>
							</div>
						</div>
						</div>
						<div class="col-md-8 col-sm-8 col-xs-12">
							<app-twitter-area-chart [socialConnection]='socialConnection'></app-twitter-area-chart>
						</div>
					</div>
				</div>
			</div>
		</div>



		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption">
						<i class="icon-equalizer font-purple-plum hide"></i> <span
							class="caption-subject font-red-sunglo bold uppercase">Publishing
							Content <small>(Measure performance of outbound content)</small>
						</span>

					</div>
					<div class="tools">

						<a href="" class="reload" data-original-title="" title=""> </a>

					</div>
				</div>
				<div class="portlet-body">
					<div class="row">
						<div class="col-md-8 col-sm-8 col-xs-12">
							<app-new-fans-line-chart> </app-new-fans-line-chart>
						</div>

						<div class="col-md-4 col-sm-4 col-xs-12">
							<h4>Output Tweet Content</h4>
							<div class=" col-xs-2 text-left"
								style="padding-left: 15px; padding-top: 10px;">
								<i class="fa fa-text-width"></i>
							</div>

							<div class="col-xs-2 text-center"
								style="padding-left: 0px; padding-right: 0px;">
								<h5>
									<span class="nummber"
										style="color: #00aced; font-weight: 600; display: inline;">1,234</span>
								</h5>
							</div>
							<div class="col-xs-6 text-left" style="padding-right: 0px;">

								<h5>
									<span class="nummber"
										style="color: #444; font-weight: 600; display: inline;">Plain
										Text</span>
								</h5>
							</div>



							<div class="col-xs-12">
								<hr
									style="background-color: #00ACED; height: 1px; border: 0; margin-top: 5px;">
							</div>

							<div class=" col-xs-2 text-left"
								style="padding-left: 15px; padding-top: 10px;">
								<i class="fa fa-link"></i>
							</div>

							<div class="col-xs-2 text-center"
								style="padding-left: 0px; padding-right: 0px;">
								<h5>
									<span class="nummber"
										style="color: #00aced; font-weight: 600; display: inline;">1,234</span>
								</h5>
							</div>
							<div class="col-xs-6 text-left" style="padding-right: 0px;">

								<h5>
									<span class="nummber"
										style="color: #444; font-weight: 600; display: inline;">Links
										to Pages</span>
								</h5>
							</div>

							<div class="col-xs-12">
								<hr
									style="background-color: #00ACED; height: 1px; border: 0; margin-top: 5px;">
							</div>

							<div class=" col-xs-2 text-left"
								style="padding-left: 15px; padding-top: 10px;">
								<i class="fa fa-camera"></i>
							</div>

							<div class="col-xs-2 text-center"
								style="padding-left: 0px; padding-right: 0px;">
								<h5>
									<span class="nummber"
										style="color: #00aced; font-weight: 600; display: inline;">1,234</span>
								</h5>
							</div>
							<div class="col-xs-6 text-left" style="padding-right: 0px;">

								<h5>
									<span class="nummber"
										style="color: #444; font-weight: 600; display: inline;">Photo
										Links</span>
								</h5>
							</div>

							<div class="col-xs-12">
								<hr
									style="background-color: #00ACED; height: 1px; border: 0; margin-top: 5px;">
							</div>

							<div class=" col-xs-2 text-left"
								style="padding-left: 15px; padding-top: 10px;">
								<i class="fa fa-video-camera"></i>
							</div>

							<div class="col-xs-2 text-center"
								style="padding-left: 0px; padding-right: 0px;">
								<h5>
									<span class="nummber"
										style="color: #00aced; font-weight: 600; display: inline;">1,234</span>
								</h5>
							</div>
							<div class="col-xs-6 text-left" style="padding-right: 0px;">

								<h5>
									<span class="nummber"
										style="color: #444; font-weight: 600; display: inline;">Video
										Links</span>
								</h5>
							</div>


							<div class="clearfix">&nbsp;</div>

						</div>

					</div>
				</div>



			</div>
		</div>

		<div class="clearfix"></div>



		<div class="col-md-12 col-sm-12 col-xs-12">

			<!-- BEGIN REGIONAL STATS PORTLET-->
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption">
						<i class="icon-share font-red-sunglo"></i> <span
							class="caption-subject font-red-sunglo bold uppercase">Regional
							Stats</span>
					</div>
					<div class="btn-toolbar margin-bottom-10">
						<div class="actions">

							<a class="btn btn-circle btn-icon-only btn-default fullscreen"
								href="javascript:;"> </a>

						</div>
						<div class="btn-group pull-right" style="padding-top: 10px;">
							<a href=""
								class="btn btn-circle grey-salsa btn-sm dropdown-toggle"
								data-toggle="dropdown" data-hover="dropdown"
								data-close-others="true"> Select Region <span
								class="fa fa-angle-down"> </span>
							</a>
							<ul class="dropdown-menu pull-right">
								<li><a href="javascript:;" id="regional_stat_world">
										World </a></li>
								<li><a href="javascript:;" id="regional_stat_usa"> USA
								</a></li>
								<li><a href="javascript:;" id="regional_stat_europe">
										Europe </a></li>
								<li><a href="javascript:;" id="regional_stat_russia">
										Russia </a></li>
								<li><a href="javascript:;" id="regional_stat_germany">
										Germany </a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-8 col-sm-8 col-xs-12">
						<div class="portlet-body">
							<div id="region_statistics_loading">
								<img src="../../assets/admin/layout2/img/loading.gif"
									alt="loading" />
							</div>
							<div id="region_statistics_content" class="display-none">

								<div id="vmap_world" class="vmaps display-none"></div>
								<div id="vmap_usa" class="vmaps display-none"></div>
								<div id="vmap_europe" class="vmaps display-none"></div>
								<div id="vmap_russia" class="vmaps display-none"></div>
								<div id="vmap_germany" class="vmaps display-none"></div>
							</div>
						</div>
					</div>

					<!-- END REGIONAL STATS PORTLET-->

					<div class="col-md-4 col-sm-4 col-xs-12">
						<!-- <div id="pie_chart"></div> -->
						<app-pie-chart-geo-distribution> </app-pie-chart-geo-distribution>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
