<div class="col-xs-12 col-sm-5" style="padding: 0">
  <div class="col-sm-12">
    <div class="portlet light" style="min-height: 549px">
      <div class="portlet-title" style="margin-bottom: 0px;min-height: 0px;">
        <div class="caption">
          <span class="caption-subject" translate>Partner Contacts Statistics</span>
        </div>
      </div>
      <div class="portlet-body clearfix">
        <ng-container>
          <app-dashboard-loader *ngIf="partnerContactsAnalyticsCountLoader"></app-dashboard-loader>
        </ng-container>
        <ng-container *ngIf="!partnerContactsAnalyticsCountLoader && partnerContactsAnalyticsCountStatusCode!=200">
          <div class="alert alert-danger">
            <strong>{{properties?.serverErrorMessage}}</strong>
          </div>
        </ng-container>
        <ng-container *ngIf="!partnerContactsAnalyticsCountLoader && partnerContactsAnalyticsCountStatusCode==200">
        <div class="col-xs-12 col-sm-6 col-md-4 p10">
          <div class="dashboard-stat2 m0">
            <div>
              <div class="col-xs-3 p0">
                <i class="fa fa-users icon1" aria-hidden="true"></i>
              </div>
              <div class="col-xs-9 p0">
                <span class="partners-count">
                -
                </span>
                <br>
                <span class="partners-text">Total</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 p10">
          <div class="dashboard-stat2 m0">
            <div>
              <div class="col-xs-3 p0">
                <i class="fa fa-users icon2" aria-hidden="true"></i>
              </div>
              <div class="col-xs-9 p0">
                <span class="partners-count">
                -
                </span>
                <br>
                <span class="partners-text">Available</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 p10">
          <div class="dashboard-stat2 m0">
            <div>
              <div class="col-xs-3 p0">
                <i class="fa fa-users icon3" aria-hidden="true"></i>
              </div>
              <div class="col-xs-9 p0">
                <span class="partners-count">
                {{partnerContactsAnalyticsCount?.usedContacts}}
                </span>
                <br>
                <span class="partners-text">Used</span>
              </div>
            </div>
          </div>
        </div>
        </ng-container>
        
        <div class="col-xs-12 col-sm-12">
          <div class="portlet-body">
            <app-modal-popup-loader  [height]=220 [hidden]="!treeMapLoader.isLoading"></app-modal-popup-loader>
            <div [hidden]="treeMapLoader.isLoading" *ngIf="treeMapData?.length < 1" style="max-width: 100%;text-align: center;">
             <div class="alert alert-info">
          		<strong>No Data Found</strong>
         	 </div>
          	</div>
          	<figure class="highcharts-figure">
          	 <div [hidden]="treeMapLoader.isLoading" id="minimized-contacts-treemap" style="max-width: 100%; min-height: 400px; cursor: pointer"></div>
          	</figure>
        </div>
      </div>
    </div>
  </div>
</div>
</div>