<div class="page-content-wrapper">
	<div>  <!-- class="page-content" -->
		<div class="row">
			<div class="col-xs-12">
				<div class="portlet light fb-post-box">
					<div class="portlet-title" *ngIf='fanCount > 0'>
									<img alt="{{socialConnection.profileName}}" class="img-circle img-responsive" src="{{socialConnection.profileImage}}" />								
								
									<h5 class="fb-profile-name">{{socialConnection.profileName}}</h5> 
									<h5 class="likes-count"><b>{{fanCount}}</b> Total Likes</h5>
					</div>
					<div class="portlet-body" [hidden]="fanCount <= 100">
						<div id="insight-fan-adds-removes" style="height: 250px;"></div>
					</div>
					<div class="portlet-body clearfix text-warning" *ngIf='fanCount <= 100' style="padding: 3em;">
						<div class="col-xs-1">
							<i class="fa fa-exclamation-circle warning-fa" aria-hidden="true"></i>
						</div>
						<div class="col-xs-11">
							<h4 class="m0 p0">Analytics is only generated for a Facebook Page	that has more than 100 people that like it.</h4>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-xs-12" [hidden]="fanCount <= 100">
				<div class="portlet light ">
					<div class="portlet-title">
						<h4>Page Impressions</h4>						
					</div>
					<div class="portlet-body">
						<div id="page-impressions" style="height: 250px;"></div>
					</div>
				</div>
			</div>
			
			<div class="col-xs-12" [hidden]="fanCount <= 100">
				<div class="portlet light ">
					<div class="portlet-title">
						<h4>Impressions by Age And Gender</h4>
					</div>
					<div class="portlet-body clearfix">
						<div class="col-xs-12 col-sm-6 ratio-m-top">
							<h4>Gender Ratio</h4>
							<div class="col-xs-6">
								<div class="sparkline-chart">
									<div class="visual">
										<i class="fa fa-male"></i>
									</div>
									<div class="details">
										<div class="number" style="color: #007bb6; font-size: 16px;">
											<b>{{facebookFansGenderAge.maleFollowers/facebookFansGenderAge.totalFollowers | percent:'2.1-2'}}</b>
											<h6>Male</h6>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="sparkline-chart">
									<div class="visual" style="color: #dd4b39;">
										<i class="fa fa-female" style="color: #ff2c82;"></i>
									</div>
									<div class="details">
										<div class="number" style="color: #ff2c82; font-size: 16px;">
											<b>{{facebookFansGenderAge.femaleFollowers/facebookFansGenderAge.maleFollowers | percent:'2.1-2'}}</b>
											<h6>Female</h6>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div id="insight-gender-age"></div>
						</div>						
					</div>
				</div>
			</div>

			<div class="col-xs-12" [hidden]="fanCount <= 100">
				<div class="portlet light ">
					<div class="portlet-title">
						<h4>World Map</h4>
					</div>
					<div class="portlet-body">
						<div id="insight-fans-country" style="min-height: 400px;"></div>
					</div>
				</div>
			</div>

		</div>
	</div>
	</div>