<div class="modal right fade" id="haloPSAPreSettingsForm" tabindex="-1" role="dialog"
   aria-labelledby="haloPSAModalLabel" data-keyboard="false" data-backdrop="static">
   <div class="modal-dialog modal-css" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <a class="close-circle" data-dismiss="modal" (click)="hideHaloPSAPreSettingsForm()"><i
               class="fa fa-times"></i></a>
            <h4 class="modal-title" id="templateRetrieve" translate>HaloPSA integration with xAmplify</h4>
            <div>
               <div>
                  <img src="assets/images/crm/halopsa-xamplify.png"
                     style="margin: 30px 25% 0;width: 50%;text-align: center;">
               </div>
            </div>
         </div>
         <div class="modal-body">
            <app-response-message [customResponse]="customResponse" *ngIf="customResponse.isVisible" style="margin: 10px">
            </app-response-message>
            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
            <form class="form-horizontal" autocomplete="off">
               <div class="form-group">
                  <label class="control-label col-sm-3" for="clientId">Client ID:</label>
                  <div class="col-sm-8 p-3-10-10">
                     <input type="text" style="width: 75%" class="form-control" id="clientId" placeholder="Client ID"
                     autocomplete="nope" [(ngModel)]="clientId" (input)="validateModelForm('clientId')" [ngModelOptions]="{standalone: true}">
                  </div>
                  <label class="control-label col-sm-3" for="clientSecret">Client Secret:</label>
                  <div class="col-sm-8 p-3-10-10">
                     <input type="text" style="width: 75%" class="form-control" id="clientSecret" placeholder="Client Secret"
                     autocomplete="nope" [(ngModel)]="clientSecret" (input)="validateModelForm('clientSecret')" [ngModelOptions]="{standalone: true}">
                  </div>
                  <label class="control-label col-sm-3" for="instanceURL">Instance URL:</label>
                  <div class="col-sm-8 p-3-10-10">
                     <input type="text" style="width: 75%" class="form-control" id="instanceURL" placeholder="Instance URL"
                     autocomplete="nope" (input)="validateModelForm('instanceURL')" [(ngModel)]="instanceURL" [ngModelOptions]="{standalone: true}">
                  </div>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="hideHaloPSAPreSettingsForm()" translate>CANCEL</button>
            <button type="button" class="btn btn-primary" [disabled]="!clientId" [class.disabled]="!clientId" [disabled]="!clientSecret" [class.disabled]="!clientSecret" [disabled]="!instanceURL" [class.disabled]="!instanceURL"
            (click)="submitHalopsaCredentials()">AUTHORIZE</button>
         </div>
      </div>
   </div>
</div>