<script>
  webshims.setOptions('forms-ext', {
    replaceUI: 'auto',
    types: 'number'
  });
  webshims.polyfill('forms forms-ext');
</script>
<div class="" id="del-profile-div">
  <ngx-loading [show]="isLoading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <div class="portlet-title">
    <div class="caption header-padding"  [ngClass]="isLeadForDivCenterAligned ? 'text-center':''" >{{leadFormTitle}}</div>
  </div>
  <app-response-message [customResponse]="customResponse" *ngIf="customResponse.isVisible"></app-response-message>
  <div class="alert alert-danger" id="company-profile-error-div" style="display: none;">
    <a class="close" aria-label="close">x</a>
    <strong>Please complete the required (*) fields. </strong>
  </div>
  <div class="portlet-body clearfix">
    <div>
      <form role="form" id="deal-registration-form">
        <div class="row mr-3">
          <!--Left Side Div-->
          <div [ngClass]="isLeadForDivCenterAligned ? ' col-md-6 col-md-offset-3' :'col-sm-6 col-xs-12 px-10 pl0 mb_pr0'">
            <!--Lead Details-->
            <div class="panel-group" role="tablist" aria-multiselectable="true"
              *ngIf="(!vanityLoginDto.vanityUrlFilter || (vanityLoginDto.vanityUrlFilter && (isVendorVersion || isOrgAdmin || authenticationService?.module.isMarketingCompany)))
                       && ((lead.campaignId == null || lead.campaignId == 0) || (lead.campaignId != 0 && lead.campaignId != null && isVendorVersion && actionType != 'add'))">
              <div class="panel panel-default deal-bgcolor" *ngIf="isLeadDetailsTabDisplayed">
                <div class="panel-heading deal-bgcolor">
                  <h4 class="panel-title">
                    <a href="leadDetails" (click)="toggleDealpipepline($event)">
                      <i [ngClass]="{'fa-chevron-up collapseOut': !isCollapsed, 'fa-chevron-down collapseIn': isCollapsed}"
                        class="arrowpositinon fa collapseIconColorCu" aria-hidden="false" style="float: right;"></i>
                      Lead Details</a>
                  </h4>
                </div>
                <div [ngClass]="{'collapse': isCollapsed, '': !isCollapsed}" id="leadDetails">
                  <div class="panel-body br-unset pl0 pr0 pt0 pb0">
                    <div class="card-bgcolors h-260 pl0 pr0">
                      <!--Select Company-->
                      <div class="form-group" [attr.class]="createdForCompanyId" style="margin-bottom: 20px"
                        *ngIf="(!vanityLoginDto.vanityUrlFilter) && (!isVendorVersion || (isVendorVersion && (isOrgAdmin || authenticationService.module.isMarketingCompany))) && !(lead.campaignId > 0)">
                        <label class="control-label">Lead For<span class="required"><strong>*</strong></span></label>
                        <app-dropdown-loader *ngIf="vendorListLoader?.isLoading"  [text]="'Companies'"></app-dropdown-loader>
                        <app-display-error-message *ngIf="!vendorListLoader?.isLoading && vendorListLoader?.isServerError" [text]="'companies'"></app-display-error-message>
                        <select *ngIf="!vendorListLoader?.isLoading && !vendorListLoader?.isServerError" class="form-control" [(ngModel)]="lead.createdForCompanyId" [ngModelOptions]="{standalone: true}"
                          placeholder="createdForCompanyId" id="createdForCompanyId"
                          [disabled]="disableCreatedFor || disableCreatedForVendor" (ngModelChange)="findPipeLinesAndStagesBySelectedVendorCompany()"
                          (input)="validateField('createdForCompanyId',false)">
                          <option [value]="0">Select Company</option>
                          <option *ngFor="let vendor of vendorList" [value]="vendor.companyId">{{vendor.companyName}}</option>
                        </select>
                      </div>
                      <!--Lead By-->
                      <div class="form-group" [attr.class]="createdForCompanyId" style="margin-bottom: 20px"
                        *ngIf="actionType === 'view' && isVendorVersion">
                        <label class="control-label">Lead By<span class="required"><strong>*</strong></span></label>
                        <select class="form-control"
                          [disabled]="preview || edit || leadId > 0 || vanityLoginDto?.vanityUrlFilter">
                          <option [value]="lead?.createdByCompanyId">{{lead?.createdByCompanyName}}
                          </option>
                        </select>
                      </div>
                      <!--Lead Id-->
                      <div [ngStyle]="{ 'margin-bottom': isCopiedToClipboard ? '2px' : '20px' }"
                        *ngIf="(actionType === 'edit' || actionType === 'view') && isVendorVersion">
                        <div> <label class="control-label">Lead ID</label></div>
                        <div style="display:flex; height:35px;">
                          <input type="text" maxlength="100" name="referenceId" class="form-control"
                            [(ngModel)]="lead.referenceId" [ngModelOptions]="{standalone: true}" readonly="readonly"
                            #referenceIdInput>
                          <div>
                            <a class="button_blue lead_copy_id_btn_blue" (click)="copyReferenceId(referenceIdInput)">
                              <span class="btn btn-primary transition copy_link btn_primary_lead_copy_id" data-toggle="tooltip" data-placement="top"
                                title="Copy ID"><i class="fa fa-copy"></i></span>
                            </a>
                          </div>
                        </div>
                        <div>
                          <span class="success">
                            <strong id="copy-reference-id" *ngIf="isCopiedToClipboard">Lead Id copied successfully<i
                                class="fa fa-check" aria-hidden="true"></i></strong>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--Lead Layout & PipeLine Details-->
            <div *ngIf="preview">
              <ng-template [ngTemplateOutlet]="leadLayoutAndPipeLineTemplate"></ng-template>
            </div>
            <!--Campaign Info-->
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" *ngIf="lead.campaignId > 0">
              <div class="panel panel-default deal-bgcolor">
                <div class="panel-heading deal-bgcolor">
                  <h4 class="panel-title">
                    <a href="CampaignInfo" (click)="toggleCollapsecampaignInfo($event)"> <i
                        [ngClass]="{'fa-chevron-up collapseOut': !isCollapsed2, 'fa-chevron-down collapseIn': isCollapsed2}"
                        class="arrowpositinon fa collapseIconColorCu" aria-hidden="false" style="float: right;"></i>Campaign
                      Info</a>
                  </h4>
                </div>
                <div [ngClass]="{'collapse': isCollapsed2, '': !isCollapsed2}" id="CampaignInfo">
                  <div class="panel-body br-unset pl0 pr0 pt0 pb0">
                    <div class="card-bgcolors h-260 pl0 pr0">
                      <div class="form-group" style="margin-bottom: 20px" data-toggle="tooltip" data-placement="bottom"
                        title="{{lead.campaignName}}">
                        <label class="control-label">Campaign Name
                          <span class="required"><strong>*</strong></span>
                        </label>
                        <input type="text" disabled="disabled" name="campaignName" value="{{lead.campaignName}}" class="form-control"
                          id="campaignName" />
                      </div>
                      <div class="form-group" style="margin-bottom: 20px"
                        *ngIf="!(lead.campaignId > 0) && !(lead.parentCampaignId > 0)">
                        <label class="control-label">No Campaign Info</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--Custom Lead Form-->
            <ng-container *ngIf="preview">
              <ng-template [ngTemplateOutlet]="customCRMFormTemplate"></ng-template>
            </ng-container>
            <!--Default Form-->
            <ng-container *ngIf="preview">
              <ng-template [ngTemplateOutlet]="defaultLeadFormTemplate"></ng-template>
            </ng-container>
          </div>
          <!--RightSide Div-->
          <!--Lead Layout And PipeLine Details-->
          <div *ngIf="!preview" class=" col-xs-12 px-10 pl0" [ngClass]="vanityLoginDto.vanityUrlFilter? 'col-sm-12':'col-sm-6'" >
            <ng-template [ngTemplateOutlet]="leadLayoutAndPipeLineTemplate"></ng-template>
          </div>
          <!--Comments & History XNFR-624-->
          <ng-container *ngIf="preview">
            <div class="col-sm-6 col-xs-12 px-10 pl0">
              <app-modal-popup-loader *ngIf="commentsLoader"></app-modal-popup-loader>
              <app-response-message [customResponse]="commentsCustomResponse" *ngIf="commentsCustomResponse?.isVisible" [showCloseIcon]="false"></app-response-message>
              <div *ngIf="!commentsLoader && !commentsCustomResponse?.isVisible" class="panel-group" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default deal-bgcolor">
                  <div class="panel-heading deal-bgcolor">
                    <h4 class="panel-title">
                      <a href="commentsAndHistory" (click)="toggleCommentsHistory($event)">
                        <i [ngClass]="{'fa-chevron-up collapseOut': !isCommentAndHistoryCollapsed, 'fa-chevron-down collapseIn': isCommentAndHistoryCollapsed}"
                          class="arrowpositinon fa collapseIconColorCu float-right" aria-hidden="false"></i>
                        Comments/History</a>
                    </h4>
                  </div>
                  <div [ngClass]="{'collapse': isCommentAndHistoryCollapsed, '': !isCommentAndHistoryCollapsed}" id="commentsAndHistory">
                    <div class="panel-body br-unset pl0 pr0 pt0 pb0">
                      <div class="card-bgcolors h-260 pl0 pr0">
                        <div *ngIf="!commentsLoader"  class="deal-details">
                          <div class="row mix-grid p10 bg-color">
                            <div class="col-md-3 col-lg-2">
                              <div class="frame card-template">
                                <img style="height: 80px;width: 80px;" class="img-circle img-templates"
                                  src="https://cdn2.iconfinder.com/data/icons/facebook-ads-1/204/1-48.png" alt="">
                              </div>
                            </div>
                            <div class="col-md-9 col-lg-10 pl-30">
                                <div *ngIf="commentDealAndLeadDto?.campaignName != null && commentDealAndLeadDto?.campaignName != undefined">
                                  <h5 class="mt10 mb0" title="{{commentDealAndLeadDto?.campaignName}}">
                                    <span><strong>Campaign Name </strong></span>: {{commentDealAndLeadDto?.campaignName | slice:0:25}}
                                    <span *ngIf="commentDealAndLeadDto?.campaignName?.length>25">..</span>
                                  </h5>
                                </div>
                                <div *ngIf="commentDealAndLeadDto?.title != null && commentDealAndLeadDto?.title != undefined">
                                  <h5 class="mt10 mb0" title="{{commentDealAndLeadDto?.title}}">
                                    <span><strong>Deal Title </strong></span>: {{commentDealAndLeadDto?.title | slice:0:25}}
                                    <span *ngIf="commentDealAndLeadDto?.title?.length>25">..</span>
                                  </h5>
                                </div>
                                <div *ngIf="commentDealAndLeadDto?.referenceId != null && commentDealAndLeadDto?.referenceId != undefined && isVendorVersion">
                                  <h5 class="mt10 mb0" title="{{commentDealAndLeadDto?.referenceId}}">
                                    <span><strong>Deal ID </strong></span>: {{commentDealAndLeadDto?.referenceId}}
                                  </h5>
                                </div>
                              <!--Registered Details-->
                                <div class="underline mt5"><strong>{{LEAD_CONSTANTS?.addedBy}}:</strong></div>
                                <h5 class="mt10 mb0" *ngIf="commentDealAndLeadDto?.createdByName" [title]="commentDealAndLeadDto?.createdByName">
                                  <span><strong>Name</strong></span>: {{commentDealAndLeadDto?.createdByName | slice:0:25}}
                                  <span *ngIf="commentDealAndLeadDto?.createdByName.length>25">..</span>
                                </h5>
                                <h5 class="mt10 mb0" *ngIf="commentDealAndLeadDto?.createdByEmail" [title]="createdByEmail">
                                  <span><strong>Email</strong></span>: {{commentDealAndLeadDto?.createdByEmail | slice:0:30}}
                                  <span *ngIf="commentDealAndLeadDto?.createdByEmail.length>30">..</span>
                                </h5>
                                <h5 class="mt10">
                                  <span><strong>Created On </strong></span>
                                  <span title="Created On">: 
                                    <app-timestamp [isOnlyDate]="true" [dateAndTime]="commentDealAndLeadDto?.createdTime"></app-timestamp>
                                  </span>
                                </h5>
                              <!--Lead Created Details-->
                              <div class="lead-details-border mt5">
                                <h5 class="mt10">
                                  <span class="ml5 underline"><strong>Lead Details:</strong></span>
                                  <div style="padding:5px">
                                    <app-user-info [userInfo]="commentDealAndLeadDto" [isLeadInfo]="true"></app-user-info>
                                  </div>
                                </h5>
                              </div>
                            </div>
                          </div>
                        </div>
                        <app-chat [leadId]="commentDealAndLeadDto?.id" [isPreviewDealOrLeadComponent]="true" [editTextArea]="false"  [moduleType]="'lead'" [enableWrite]="true"></app-chat>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <!--Custom Lead Form-->
        <ng-container *ngIf="!preview">
          <ng-template [ngTemplateOutlet]="customCRMFormTemplate"></ng-template>
        </ng-container>
        <!--Default Form-->
        <ng-container *ngIf="!preview">
          <ng-template [ngTemplateOutlet]="defaultLeadFormTemplate"></ng-template>
        </ng-container>
        <!--Button-->
        <div  class="pull-right mr10" *ngIf="!preview && !showCustomForm && showDefaultForm">
          <ng-container *ngIf="!showLoadingButton">
            <button type="button" id="saveLead" [disabled]="!isLeadRegistrationFormValid" (click)="save()" class="button bgcolor-unset"
              *ngIf="!edit"><span class="btn Btn-Green transition txt_pd-top3">Add Lead</span></button>
            <button type="button" id="saveLead" (click)="save()" class="button bgcolor-unset" [disabled]="!isLeadRegistrationFormValid"
              *ngIf="edit"><span class="btn Btn-Green transition txt_pd-top3">Update Lead</span></button>
          </ng-container>
          <button class="btn btn-primary" type="button" *ngIf="showLoadingButton" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Please Wait.....
          </button>
        </div>
        <!--Button-->
        <div [ngClass]="isLeadForDivCenterAligned ? 'col-xs-9 col-sm-9 col-md-9 col-lg-9 col-mr10 d-flex justify-content-end':'pull-right mr10'" *ngIf="!preview && showCustomForm">
          <ng-container *ngIf="!showLoadingButton">
            <button type="button" id="saveLead" [disabled]="!isLeadRegistrationFormValid || sfDealComponent?.isDealRegistrationFormInvalid" (click)="save()" class="button bgcolor-unset" *ngIf="!edit">
              <span class="btn Btn-Green transition txt_pd-top3">Add Lead</span>
            </button>
            <button type="button" id="saveLead" [disabled]="!isLeadRegistrationFormValid || sfDealComponent?.isDealRegistrationFormInvalid" (click)="save()" class="button bgcolor-unset" *ngIf="edit">
              <span class="btn Btn-Green transition txt_pd-top3">Update Lead</span>
            </button>
          </ng-container>
          <button class="btn btn-primary" type="button" *ngIf="showLoadingButton" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Please Wait.....
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Attach Lead Model-->
<div class="modal fade right" id="leadFormModel" role="dialog" aria-labelledby="leadFormModel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-css" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close-circle pull-right" (click)="closeLeadModal()"><i class="fa fa-times" aria-hidden="true"></i></button>
        <button type="button" class="close-circle pull-right mrg1" *ngIf="actionType == 'edit'" data-toggle="tooltip"
          data-placement="bottom" title="Comments/History" (click)="showComments(lead)">
          <i class="fa fa-comments" aria-hidden="true"></i>
          <span *ngIf="lead?.unReadChatCount > 0" class="badge badge-default" style="margin-bottom: 25px; margin-left: 6px;margin-top: -35px;background-color: #ed1c24 !important;">{{lead.unReadChatCount}}</span>
        </button>
        <h4 class="modal-title text-center">{{leadFormTitle}}</h4>
      </div>
      <div class="modal-body border-bottom-1px">
        <div class="portlet light" id="del-profile-div" style="border: 0px !important">
          <ngx-loading [show]="ngxloading || isLoading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
          <app-modal-popup-loader *ngIf="httpRequestLoader.isLoading && !httpRequestLoader.isServerError"></app-modal-popup-loader>
          <app-response-message class="pg8" [customResponse]="customResponse" *ngIf="customResponse.isVisible"></app-response-message>
          <div class="portlet-body clearfix" *ngIf="!httpRequestLoader.isLoading">
            <div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p0">
                <!--Campaign Name-->
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 pl0">
                  <div class="form-group" style="margin-bottom: 10px" *ngIf="lead.campaignId > 0">
                    <label class="control-label">Campaign Name <span><strong class="required">*</strong></span></label>
                    <input type="text" disabled="disabled" name="campaignName" value="{{lead.campaignName}}"
                      class="form-control" id="campaignName" aria-autocomplete="none" autocomplete="off" />
                  </div>
                  <!--Lead For-->
                  <div class="form-group" [attr.class]="createdForCompanyId" style="margin-bottom: 10px"
                    *ngIf="(!vanityLoginDto.vanityUrlFilter) && (!isVendorVersion || (isVendorVersion && (isOrgAdmin || authenticationService.module.isMarketingCompany))) && !(lead.campaignId > 0) && isLeadDetailsTabDisplayed">
                    <label class="control-label">Lead For<span><strong class="required">*</strong></span></label>
                    <select class="form-control" [(ngModel)]="lead.createdForCompanyId"
                      [ngModelOptions]="{standalone: true}" placeholder="createdForCompanyId" id="createdForCompanyId"
                      [disabled]="disableCreatedFor || disableCreatedForVendor" (ngModelChange)="findPipeLinesAndStagesBySelectedVendorCompany()">
                      <option [value]="0">Select Company</option>
                      <option *ngFor="let vendor of vendorList" [value]="vendor.companyId">{{vendor.companyName}}</option>
                    </select>
                  </div>
                  <!--Lead By-->
                  <div class="form-group" [attr.class]="createdForCompanyId" style="margin-bottom: 20px"
                    *ngIf="!vanityLoginDto.vanityUrlFilter && actionType === 'view' && isVendorVersion">
                    <label class="control-label">Lead By<span class="required"><strong>*</strong></span></label>
                    <select class="form-control" [disabled]="preview || edit || leadId > 0 || vanityLoginDto?.vanityUrlFilter">
                      <option [value]="lead?.createdByCompanyId">{{lead?.createdByCompanyName}}</option>
                    </select>
                  </div>
                </div>
                <!--Lead Layout-->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pl0" *ngIf="showTicketTypesDropdown">
                  <div class="form-group" [attr.class]="halopsaTicketTypeId" style="margin-bottom: 20px" *ngIf="true">
                    <label class="control-label">{{((activeCRMDetails?.createdForActiveCRMType === 'HALOPSA')
                      ||(activeCRMDetails?.createdByActiveCRMType === 'HALOPSA'))?'Ticket Type':(((activeCRMDetails?.createdForActiveCRMType === 'ZOHO')
                      ||(activeCRMDetails?.createdByActiveCRMType === 'ZOHO'))?'Lead Layout':'')}}<span><strong class="required">*</strong></span></label>
                    <select  class="form-control" [(ngModel)]="lead.halopsaTicketTypeId"
                      [ngModelOptions]="{standalone: true}" placeholder="halopsaTicketTypeId" id="halopsaTicketTypeId"
                      [disabled]="preview || isCampaignTicketTypeSelected" (ngModelChange)="findPipeLinesAndStagesByTicketId()">
                      <option [value]="0">Select {{((activeCRMDetails?.createdForActiveCRMType === 'HALOPSA')
                        ||(activeCRMDetails?.createdByActiveCRMType === 'HALOPSA'))?'Ticket Type':(((activeCRMDetails?.createdForActiveCRMType === 'ZOHO')
                        ||(activeCRMDetails?.createdByActiveCRMType === 'ZOHO'))?'Lead Layout':'')}}</option>
                      <option *ngFor="let ticketType of halopsaTicketTypes" [value]="ticketType.id">{{ticketType.name}}</option>
                    </select>
                  </div>
                </div>
                <!--Created By PipeLine & Created By Stages-->
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 p0" *ngIf="showCreatedByPipelineAndStageOnTop">
                  <!--Created By Pipeline-->
                  <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6 pl0" style="margin-bottom: 20px" *ngIf="showCreatedByPipelineAndStage">
                    <label class="control-label">Pipeline<span><strong class="required">*</strong></span></label>
                    <select class="form-control" [(ngModel)]="lead.createdByPipelineId" [ngModelOptions]="{standalone: true}"
                      placeholder="createdByPipelineId" id="createdByPipelineId" [disabled]="preview || hasCampaignPipeline || activeCRMDetails?.hasLeadPipeline || activeCRMDetails?.hasCreatedByPipeline"
                      (ngModelChange)="validateField('createdByPipelineId',false);resetStages()">
                      <option [value]="0">Select Pipeline</option>
                      <option *ngFor="let pipeline of createdByPipelines" [value]="pipeline.id">{{pipeline.name}}
                      </option>
                    </select>
                  </div>
                  <!--Crated By Stages-->
                  <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6 pl0" style="margin-bottom: 20px" *ngIf="showCreatedByPipelineAndStage">
                    <label class="control-label">Stage<span><strong class="required">*</strong></span></label>
                    <select class="form-control" [(ngModel)]="lead.createdByPipelineStageId" [ngModelOptions]="{standalone: true}" placeholder="createdByPipelineStageId"
                      id="createdByPipelineStageId" (ngModelChange)="validateField('createdByPipelineStageId',false)" [disabled]="preview || isCreatedByStageIdDisable">
                      <option [value]="0">Select Stage</option>
                      <option *ngIf="!isVendorVersion && lead.currentStagePrivate" [value]="lead.currentStageId">{{lead.currentStageName}}</option>
                      <option *ngFor="let stage of createdByStages" [value]="stage.id">{{stage.stageName}}</option>
                    </select>
                  </div>
                  <!--Vendor's xAmplify Pipeline-->
                  <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6 pl0" style="margin-bottom: 20px">
                    <label class="control-label">{{vendorCompanyName}} Pipeline<span><strong class="required">*</strong></span></label>
                    <select class="form-control" [(ngModel)]="lead.createdForPipelineId" [ngModelOptions]="{standalone: true}"
                      placeholder="createdForPipelineId" id="createdForPipelineId"
                      [disabled]="preview || hasCampaignPipeline || activeCRMDetails?.hasLeadPipeline || activeCRMDetails?.hasCreatedForPipeline"
                      (ngModelChange)="validateField('createdForPipelineId',false);resetCreatedForPipelineStages()">
                      <option [value]="0">Select Pipeline</option>
                      <option *ngFor="let pipeline of createdForPipelines" [value]="pipeline.id">{{pipeline.name}}
                      </option>
                    </select>
                  </div>
                  <!--Vendor's xAmplify Stage-->
                  <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6 pl0" style="margin-bottom: 20px">
                    <label class="control-label">Vendor's xAmplify Stage<span><strong class="required">*</strong></span></label>
                    <select class="form-control" [(ngModel)]="lead.createdForPipelineStageId" [ngModelOptions]="{standalone: true}"
                      (ngModelChange)="validateField('createdForPipelineStageId',false)" placeholder="createdForPipelineStageId"
                      id="createdForPipelineStageId" [disabled]="preview || isCreatedForStageIdDisable">
                      <option [value]="0">Select Stage</option>
                      <option *ngIf="!isVendorVersion && lead.currentStagePrivate" [value]="lead.currentStageId">{{lead.currentStageName}}</option>
                      <option *ngFor="let stage of createdForStages" [value]="stage.id">{{stage.stageName}}</option>
                    </select>
                  </div>
                </div>
                <!--PipeLine--> 
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p0" *ngIf="!showCreatedByPipelineAndStageOnTop">
                  <div *ngIf="activeCRMDetails?.showLeadPipeline || showDefaultForm" class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6 pl0" style="margin-bottom: 20px">
                    <label class="control-label">Pipeline<span><strong class="required">*</strong></span></label>
                    <app-dropdown-loader *ngIf="pipeLineModalPopUpLoader?.isLoading" [text]="'pipelines'"></app-dropdown-loader>
                    <select *ngIf="!pipeLineModalPopUpLoader?.isLoading && !pipeLineModalPopUpLoader?.isServerError" class="form-control" [(ngModel)]="lead.createdForPipelineId" [ngModelOptions]="{standalone: true}"
                      placeholder="pipelineId" id="pipelineId"
                      [disabled]="preview || hasCampaignPipeline || activeCRMDetails?.hasLeadPipeline || activeCRMDetails?.hasCreatedForPipeline"
                      (ngModelChange)="validateField('createdForPipelineId',false);resetStages()">
                      <option [value]="0">Select Pipeline</option>
                      <option *ngFor="let pipeline of createdForPipelines" [value]="pipeline.id">{{pipeline.name}}</option>
                    </select>
                  </div>
                  <!--Select Stage-->
                  <div *ngIf="activeCRMDetails?.showLeadPipelineStage || showDefaultForm" class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6 pl0" style="margin-bottom: 20px">
                    <label class="control-label">Stage<span><strong class="required">*</strong></span></label>
                    <app-dropdown-loader *ngIf="stagesLoader?.isLoading" [text]="'stages'"></app-dropdown-loader>
                    <select *ngIf="!stagesLoader?.isLoading && !stagesLoader?.isServerError" class="form-control" [(ngModel)]="lead.createdForPipelineStageId" [ngModelOptions]="{standalone: true}"
                      placeholder="createdForPipelineStageId" id="createdForPipelineStageId" [disabled]="preview || isCreatedForStageIdDisable"
                      (ngModelChange)="validateField('createdForPipelineStageId',false)">
                      <option [value]="0">Select Stage</option>
                      <option *ngIf="!isVendorVersion && lead.currentStagePrivate" [value]="lead.currentStageId">{{lead.currentStageName}}</option>
                      <option *ngFor="let stage of createdForStages" [value]="stage.id">{{stage.stageName}}</option>
                    </select>
                    <app-display-error-message *ngIf="!stagesLoader?.isLoading && stagesLoader?.isServerError" [text]="'stages'"></app-display-error-message>
                  </div>
                  <!--Partner's xAmplify Pipeline-->
                  <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6 pl0" style="margin-bottom: 20px" *ngIf="showCreatedByPipelineAndStage">
                    <label class="control-label">Partner's xAmplify Pipeline<span><strong class="required">*</strong></span></label>
                    <select class="form-control" [(ngModel)]="lead.createdByPipelineId" [ngModelOptions]="{standalone: true}"
                      placeholder="pipelineId" id="createdByPipelineId"
                      [disabled]="preview || hasCampaignPipeline || activeCRMDetails?.hasCreatedByPipeline"
                      (ngModelChange)="validateField('createdByPipelineId',false);resetStages()">
                      <option [value]="0">Select Pipeline</option>
                      <option *ngFor="let pipeline of createdByPipelines" [value]="pipeline.id">{{pipeline.name}}</option>
                    </select>
                  </div>
                  <!--Partner's xAmplify Stage-->
                  <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6 pl0" style="margin-bottom: 20px" *ngIf="showCreatedByPipelineAndStage">
                    <label class="control-label">Partner's xAmplify Stage<span><strong class="required">*</strong></span></label>
                    <select class="form-control" [(ngModel)]="lead.createdByPipelineStageId"
                      [ngModelOptions]="{standalone: true}" placeholder="createdByPipelineStageId" id="createdByPipelineStageId"
                      [disabled]="preview || isCreatedByStageIdDisable" (ngModelChange)="validateField('createdByPipelineStageId',false)">
                      <option [value]="0">Select Stage</option>
                      <option *ngIf="!isVendorVersion && lead.currentStagePrivate" [value]="lead.currentStageId">{{lead.currentStageName}}</option>
                      <option *ngFor="let stage of createdByStages" [value]="stage.id">{{stage.stageName}}</option>
                    </select>
                  </div>
                </div>
                <!--Comments-->
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 pl0" style="margin-bottom: 20px"
                  *ngIf="showCreatedByPipelineAndStage || activeCRMDetails?.showLeadPipelineStage || showDefaultForm">
                  <label class="control-label">Comments</label>
                  <textarea type="text" maxlength="100" class="form-control" name="leadComment" [(ngModel)]=" lead.leadComment" [ngModelOptions]="{standalone: true}" id="leadComment"
                    [disabled]="preview" aria-autocomplete="none" autocomplete="off"></textarea>
                </div>
              </div>
              <div *ngIf="!showCustomForm && showDefaultForm && lead?.createdForCompanyId!=undefined && lead?.createdForCompanyId>0" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p0">
                <ng-container *ngFor="let leadCustomField of leadCustomFields;let i = index">
                  <ng-template *ngIf="(0 == i % 2)" [ngTemplateOutlet]="leadFields" [ngTemplateOutletContext]="{leadCustomField:leadCustomField}"></ng-template>
                  <ng-template *ngIf="(0 != i % 2)" [ngTemplateOutlet]="leadFields" [ngTemplateOutletContext]="{leadCustomField:leadCustomField}"></ng-template>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="showCustomForm && !showDefaultForm && showAttachLeadPopUp && lead?.createdForCompanyId!=undefined && lead?.createdForCompanyId>0">
          <app-sf-deal [createdForCompanyId]="lead.createdForCompanyId" [activeCRM]="activeCRMDetails" (isFormValid) = checkCustomLeadFormValid($event)
            [dealId]="lead.id" [isPreview]="preview" [opportunityType]="'LEAD'" [ticketTypeId]="0" [actionType]="actionType"></app-sf-deal>
        </div>
      </div>
      <div class="pull-right" *ngIf="!preview && !showCustomForm && showDefaultForm" style="padding-top: 13px;padding-right: 39px;">
        <ng-container *ngIf="!showLoadingButton">
          <button type="button" id="saveLead" [disabled]="!isLeadRegistrationFormValid" (click)="save()" class="button bgcolor-unset"
            *ngIf="!edit"><span class="btn Btn-Green transition txt_pd-top3">Add Lead</span></button>
          <button type="button" id="saveLead" [disabled]="!isLeadRegistrationFormValid" (click)="save()" class="button bgcolor-unset"
            *ngIf="edit"><span class="btn Btn-Green transition txt_pd-top3">Update Lead</span></button>
        </ng-container>
        <button class="btn btn-primary" type="button" *ngIf="showLoadingButton" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Please Wait.....
        </button>
      </div>
      <div class="pull-right" *ngIf="!preview && showCustomForm" style="padding-top: 13px;padding-right: 39px;">
        <ng-container *ngIf="!showLoadingButton">
          <button type="button" id="saveLead" [disabled]="!isLeadRegistrationFormValid || sfDealComponent?.isDealRegistrationFormInvalid" (click)="save()" class="button bgcolor-unset" *ngIf="!edit"><span
              class="btn Btn-Green transition txt_pd-top3">Add Lead</span></button>
          <button type="button" id="saveLead"
          [disabled]="!isLeadRegistrationFormValid || sfDealComponent?.isDealRegistrationFormInvalid"
            (click)="save()" class="button bgcolor-unset" *ngIf="edit"><span
              class="btn Btn-Green transition txt_pd-top3">Update Lead</span></button>
        </ng-container>
        <button class="btn btn-primary" type="button" *ngIf="showLoadingButton" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Please Wait.....
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #leadFields let-leadCustomField="leadCustomField">
  <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6 pl0">
    <div *ngIf="leadCustomField.labelId =='first_name'" class="form-group" [attr.class]="firstName">
      <label class="control-label">{{leadCustomField.displayName}}</label>
      <input type="text" maxlength="100" name="firstName" class="form-control"
        placeholder="{{leadCustomField.placeholder}}" [(ngModel)]="lead.firstName" [ngModelOptions]="{standalone: true}"
        id="firstName" [disabled]="preview" aria-autocomplete="none" autocomplete="off" />
    </div>

    <div *ngIf="leadCustomField.labelId =='last_name'" class="form-group" [attr.class]="lastNameDivClass">
      <label class="control-label">{{leadCustomField.displayName}}
        <span><strong class="required">*</strong></span>
      </label>
      <input type="text" maxlength="100" class="form-control" [(ngModel)]="lead.lastName"
        placeholder="{{leadCustomField.placeholder}}" (input)="validateField('lastName',false)"
        [ngModelOptions]="{standalone: true}" id="lastName" [disabled]="preview" aria-autocomplete="none" autocomplete="off" />
    </div>
    <div *ngIf="leadCustomField.labelId =='company'" class="form-group" [attr.class]="companyDivClass">
      <label class="control-label">{{leadCustomField.displayName}}
        <span><strong class="required">*</strong></span>
      </label>
      <input type="text" maxlength="100" class="form-control" [(ngModel)]="lead.company"
        placeholder="{{leadCustomField.placeholder}}" (input)="validateField('company',false)"
        [ngModelOptions]="{standalone: true}" id="company" [disabled]="preview" aria-autocomplete="none" autocomplete="off" />
    </div>

    <div class="form-group" *ngIf="leadCustomField.labelId =='email'" [attr.class]="emailDivClass">
      <label class="control-label">{{leadCustomField.displayName}}
        <span><strong class="required">*</strong></span>
      </label>
      <input type="text" maxlength="100" class="form-control" [(ngModel)]=" lead.email"
        [ngModelOptions]="{standalone: true}" id="email" (input)="validateField('email',false)"
        placeholder="{{leadCustomField.placeholder}}" [disabled]="preview || edit || (lead.campaignId > 0)" aria-autocomplete="none" autocomplete="off" />
      <span class="required" *ngIf="inValidEmailId">{{errorMessage}}</span>
    </div>

    <div class="form-group" *ngIf="leadCustomField.labelId =='phone'" [attr.class]="phoneDivClass">
      <label class="control-label">{{leadCustomField.displayName}}</label>
      <input type="text" maxlength="20" class="form-control" [(ngModel)]=" lead.phone"
        placeholder="{{leadCustomField.placeholder}}" [ngModelOptions]="{standalone: true}" [disabled]="preview" aria-autocomplete="none" autocomplete="off" />
    </div>

    <div class="form-group" *ngIf="leadCustomField.labelId =='website'" [attr.class]="websiteClass">
      <label class="control-label">{{leadCustomField.displayName}}</label>
      <input type="text" maxlength="20" class="form-control" [(ngModel)]=" lead.website"
        placeholder="{{leadCustomField.placeholder}}" [ngModelOptions]="{standalone: true}" [disabled]="preview" aria-autocomplete="none" autocomplete="off" />
    </div>

    <div class="form-group" *ngIf="leadCustomField.labelId =='title'" [attr.class]="websiteClass">
      <label class="control-label">{{leadCustomField.displayName}}</label>
      <input type="text" maxlength="20" class="form-control" [(ngModel)]=" lead.title"
        placeholder="{{leadCustomField.placeholder}}" [ngModelOptions]="{standalone: true}" [disabled]="preview" aria-autocomplete="none" autocomplete="off" />
    </div>

    <div class="form-group" *ngIf="leadCustomField.labelId =='industry'" [attr.class]="industry">
      <label class="control-label">{{leadCustomField.displayName}}</label>
      <span *ngIf="leadCustomField.placeholder?.length > 0">({{leadCustomField.placeholder}})
      </span>
      <select class="form-control" [(ngModel)]="lead.industry" [ngModelOptions]="{standalone: true}" id="industry"
        [disabled]="preview">
        <option *ngFor="let industry of industries" [value]="industry">{{industry}}</option>
      </select>
    </div>

    <div class="form-group" *ngIf="leadCustomField.labelId =='address'" [attr.class]="leadStreet">
      <label class="control-label">{{leadCustomField.displayName}}</label>
      <textarea type="text" maxlength="100" rows="4" cols="4" class="form-control" name="leadstreet"
        [(ngModel)]=" lead.street" [ngModelOptions]="{standalone: true}" id="street"
        placeholder="{{leadCustomField.placeholder}}" [disabled]="preview" aria-autocomplete="none" autocomplete="off"></textarea>
    </div>
    <div class="form-group" *ngIf="leadCustomField.labelId =='city'" [attr.class]="leadCity">
      <label class="control-label">{{leadCustomField.displayName}}</label>
      <input type="text" maxlength="100" name="city" class="form-control" [(ngModel)]=" lead.city"
        placeholder="{{leadCustomField.placeholder}}" [ngModelOptions]="{standalone: true}" id="city"
        [disabled]="preview" aria-autocomplete="none" autocomplete="off" />
    </div>
    <div class="form-group" *ngIf="leadCustomField.labelId =='state'" [attr.class]="leadState" style="margin-bottom: 20px">
      <label class="control-label">{{leadCustomField.displayName}}</label>
      <span *ngIf="leadCustomField.placeholder?.length > 0">({{leadCustomField.placeholder}})
      </span>
      <select class="form-control" [(ngModel)]="lead.state" [ngModelOptions]="{standalone: true}" id="state"
        [disabled]="preview || hasNoStates">
        <option *ngFor="let state of filteredStates" [value]="state">{{state}}</option>
      </select>
    </div>
    <div class="form-group" *ngIf="leadCustomField.labelId =='postalCode'" [attr.class]="leadPostalCode">
      <label class="control-label">{{leadCustomField.displayName}}</label>
      <input type="text" maxlength="10" name="companyName" class="form-control"
        placeholder="{{leadCustomField.placeholder}}" [(ngModel)]=" lead.postalCode"
        [ngModelOptions]="{standalone: true}" id="postalCode" [disabled]="preview" aria-autocomplete="none" autocomplete="off" />
    </div>

    <div class="form-group" *ngIf="leadCustomField.labelId =='country'" [attr.class]="country">
      <label class="control-label">{{leadCustomField.displayName}}</label>
      <span *ngIf="leadCustomField.placeholder?.length > 0">({{leadCustomField.placeholder}})
      </span>
      <select class="form-control" [(ngModel)]="lead.country" [ngModelOptions]="{standalone: true}" id="country"
        [disabled]="preview" (ngModelChange)="onChangeCountry($event)">
        <option *ngFor="let country of filteredCountries" [value]="country">{{country}}</option>
      </select>
    </div>

    <div class="form-group" *ngIf="leadCustomField.labelId =='region'" [attr.class]="region" style="margin-bottom: 20px">
      <label class="control-label">{{leadCustomField.displayName}}</label>
      <span *ngIf="leadCustomField.placeholder?.length > 0">({{leadCustomField.placeholder}})
      </span>
      <select class="form-control" [(ngModel)]="lead.region" [ngModelOptions]="{standalone: true}" id="region"
        [disabled]="preview" (ngModelChange)="onChangeRegion($event)">
        <option *ngFor="let region of regions.regions" [value]="region.name">{{region.name}}</option>
      </select>
    </div>

  </div>
</ng-template>
<!-- END CONTENT -->

<ng-template #leadLayoutAndPipeLineTemplate>
   <!--Lead Layout-->
   <div class="panel panel-default deal-bgcolor" *ngIf="showTicketTypesDropdown">
    <div class="panel-body">
      <div class="card-bgcolors h-260 pl0 pr0">
        <div class="form-group" [attr.class]="opportunityTypeId" style="margin-bottom: 20px" id="dealStageDiv" *ngIf="showTicketTypesDropdown">
          <label class="control-label">{{((activeCRMDetails?.createdForActiveCRMType === 'HALOPSA')
            ||(activeCRMDetails?.createdByActiveCRMType === 'HALOPSA'))?'Ticket Type':(((activeCRMDetails?.createdForActiveCRMType === 'ZOHO')
            ||(activeCRMDetails?.createdByActiveCRMType === 'ZOHO'))?'Lead Layout':'')}}
            <span class="required"><strong>*</strong></span></label>
          <app-modal-popup-loader *ngIf="leadLayoutLoader?.isLoading" [height]="130"></app-modal-popup-loader> 
          <select *ngIf="!leadLayoutLoader?.isLoading && !leadLayoutLoader?.isServerError" class="form-control" [(ngModel)]="lead.halopsaTicketTypeId" [ngModelOptions]="{standalone: true}" placeholder="opportunityTypeId" id="opportunityTypeId"
            [disabled]="preview || isCampaignTicketTypeSelected || isZohoLeadAttached" (ngModelChange)="findPipeLinesAndStagesByTicketId()" (input)="validateField('opportunityTypeId',false)">
            <option [value]="0">Select {{((activeCRMDetails?.createdForActiveCRMType === 'HALOPSA')
              ||(activeCRMDetails?.createdByActiveCRMType === 'HALOPSA'))?'Ticket Type':(((activeCRMDetails?.createdForActiveCRMType === 'ZOHO')
              ||(activeCRMDetails?.createdByActiveCRMType === 'ZOHO'))?'Lead Layout':'')}}</option>
            <option *ngFor="let type of halopsaTicketTypes" [value]="type.id">{{type.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
   <!--Pipeline Details-->
  <div class="panel-group" role="tablist" aria-multiselectable="true"
  *ngIf="showCreatedByPipelineAndStage || activeCRMDetails?.showLeadPipeline || activeCRMDetails?.showLeadPipelineStage || showDefaultForm">
    <div class="panel panel-default deal-bgcolor">
      <!--Pipeline Details-->
      <div class="panel-heading deal-bgcolor">
        <h4 class="panel-title">
          <a href="pipelineDetails" (click)="toggleCollapsepipepline($event)">
            <i [ngClass]="{'fa-chevron-up collapseOut': !isCollapsed3, 'fa-chevron-down collapseIn': isCollapsed3}"
              class="arrowpositinon fa collapseIconColorCu" aria-hidden="false" style="float: right;">
            </i>
            Pipeline Details</a>
        </h4>
      </div>
      <!--Pipeline-->
      <div [ngClass]="{'collapse': isCollapsed3, '': !isCollapsed3}" id="pipelineDetails">
        <div class="panel-body pl0 pr0 pt0 pb0" [ngClass]="!pipelineLoader?.isLoading? 'br-unset':''">
          <app-modal-popup-loader *ngIf="pipelineLoader?.isLoading" [height]="300"></app-modal-popup-loader>
          <div class="card-bgcolors h-260 pl0 pr0" *ngIf="!pipelineLoader?.isLoading && !pipelineLoader?.isServerError">
            <!--showCreatedByPipelineAndStageOnTop-->
            <div *ngIf="showCreatedByPipelineAndStageOnTop">
              <!--Select Created By Pipeline-->
              <div class="form-group" [attr.class]="pipelineId" style="margin-bottom: 20px" *ngIf="showCreatedByPipelineAndStage">
                <label class="control-label">Pipeline<span class="required"><strong>*</strong></span></label>
                <select class="form-control" [(ngModel)]="lead.createdByPipelineId" [ngModelOptions]="{standalone: true}"
                  placeholder="pipelineId" id="createdByPipelineId" [disabled]="preview || hasCampaignPipeline || activeCRMDetails?.hasCreatedByPipeline"
                  (ngModelChange)="validateField('createdByPipelineId',false);resetCreatedByPipelineStages()">
                  <option [value]="0">Select Pipeline</option>
                  <option *ngFor="let pipeline of createdByPipelines" [value]="pipeline.id">{{pipeline.name}}</option>
                </select>
              </div>
              <!--Select Created By Stage-->
              <div class="form-group" [attr.class]="pipelineStageId" style="margin-bottom: 20px" id="dealStageDiv" *ngIf="showCreatedByPipelineAndStage">
                <label class="control-label">Stage<span class="required"><strong>*</strong></span></label>
                <select class="form-control" [(ngModel)]="lead.createdByPipelineStageId" [ngModelOptions]="{standalone: true}"
                  placeholder="pipelineStageId" id="createdByPipelineStageId" [disabled]="preview || isCreatedByStageIdDisable"
                  (ngModelChange)="validateField('createdByPipelineStageId',false)">
                  <option [value]="0">Select Stage</option>
                  <option *ngIf="!isVendorVersion && lead.currentStagePrivate" [value]="lead.currentStageId"> {{lead.currentStageName}}</option>
                  <option *ngFor="let stage of createdByStages" [value]="stage.id">{{stage.stageName}}</option>
                </select>
              </div>
              <!--Select Created For PipeLine-->
              <div *ngIf="activeCRMDetails?.showLeadPipeline || showDefaultForm"
                class="form-group" [attr.class]="createdForPipelineId" style="margin-bottom: 20px">
                <label class="control-label">{{vendorCompanyName}} Pipeline<span class="required"><strong>*</strong></span></label>
                <select class="form-control" [(ngModel)]="lead.createdForPipelineId" [ngModelOptions]="{standalone: true}"
                  placeholder="pipelineId" id="createdForPipelineId"
                  [disabled]="preview || hasCampaignPipeline || activeCRMDetails?.hasLeadPipeline || activeCRMDetails?.hasCreatedForPipeline"
                  (ngModelChange)="validateField('createdForPipelineId',false);resetCreatedForPipelineStages()">
                  <option [value]="0">Select Pipeline</option>
                  <option *ngFor="let pipeline of createdForPipelines" [value]="pipeline.id">{{pipeline.name}}</option>
                </select>
              </div>
              <!--Select Created For Stages-->
              <div *ngIf="activeCRMDetails?.showLeadPipelineStage || showDefaultForm "
                class="form-group" [attr.class]="createdForPipelineStageId" style="margin-bottom: 20px" id="dealStageDiv">
                <label class="control-label">{{vendorCompanyName}} Stage<span class="required"><strong>*</strong></span></label>
                <app-dropdown-loader *ngIf="stagesLoader?.isLoading" [text]="'stages'"></app-dropdown-loader>
                <select *ngIf="!stagesLoader?.isLoading && !stagesLoader?.isServerError" class="form-control" [(ngModel)]="lead.createdForPipelineStageId" [ngModelOptions]="{standalone: true}"
                  placeholder="pipelineStageId" id="createdForPipelineStageId" [disabled]="preview || isCreatedForStageIdDisable"
                  (ngModelChange)="validateField('createdForPipelineStageId',false)">
                  <option [value]="0">Select Stage</option>
                  <option *ngIf="!isVendorVersion && lead.currentStagePrivate" [value]="lead.currentStageId">{{lead.currentStageName}}</option>
                  <option *ngFor="let stage of createdForStages" [value]="stage.id">{{stage.stageName}}
                  </option>
                </select>
              </div>
            </div>
            <!--!showCreatedByPipelineAndStageOnTop-->
            <div *ngIf="!showCreatedByPipelineAndStageOnTop">
              <!--Select Created For PipeLine-->
              <div *ngIf="activeCRMDetails?.showLeadPipeline || showDefaultForm"  class="form-group" [attr.class]="createdForPipelineId" style="margin-bottom: 20px">
                <label class="control-label">{{vendorCompanyName}} Pipeline<span class="required"><strong>*</strong></span></label>
                <select class="form-control" [(ngModel)]="lead.createdForPipelineId"
                  [ngModelOptions]="{standalone: true}" placeholder="pipelineId" id="createdForPipelineId"
                  [disabled]="preview || hasCampaignPipeline || activeCRMDetails?.hasLeadPipeline || activeCRMDetails?.hasCreatedForPipeline"
                  (ngModelChange)="validateField('createdForPipelineId',false);resetCreatedForPipelineStages()">
                  <option [value]="0">Select Pipeline</option>
                  <option *ngFor="let pipeline of createdForPipelines" [value]="pipeline.id">{{pipeline.name}}</option>
                </select>
              </div>
              <!--Select Created For Stages-->
              <div *ngIf="activeCRMDetails?.showLeadPipelineStage || showDefaultForm"  class="form-group" [attr.class]="createdForPipelineStageId" style="margin-bottom: 20px" id="dealStageDiv">
                <label class="control-label">{{vendorCompanyName}} Stage<span class="required"><strong>*</strong></span></label>
                <app-dropdown-loader *ngIf="stagesLoader?.isLoading" [text]="'stages'"></app-dropdown-loader>
                <select *ngIf="!stagesLoader?.isLoading && !stagesLoader?.isServerError"  class="form-control" [(ngModel)]="lead.createdForPipelineStageId" [ngModelOptions]="{standalone: true}" placeholder="pipelineStageId"
                  id="createdForPipelineStageId" [disabled]="preview || isCreatedForStageIdDisable" (ngModelChange)="validateField('createdForPipelineStageId',false)">
                  <option [value]="0">Select Stage</option>
                  <option *ngIf="!isVendorVersion && lead.currentStagePrivate" [value]="lead.currentStageId">{{lead.currentStageName}}</option>
                  <option *ngFor="let stage of createdForStages" [value]="stage.id">{{stage.stageName}}</option>
                </select>
              </div>
              <!--Select PipeLine For Multi CRM-->
              <ng-container *ngIf="showCreatedByPipelineAndStage">
                <!--Select PipeLine-->
                <div class="form-group" [attr.class]="pipelineId" style="margin-bottom: 20px">
                  <label class="control-label">Partner's xAmplify Pipeline<span
                      class="required"><strong>*</strong></span></label>
                  <select class="form-control" [(ngModel)]="lead.createdByPipelineId"
                    [ngModelOptions]="{standalone: true}" placeholder="pipelineId" id="createdByPipelineId"
                    [disabled]="preview || hasCampaignPipeline || activeCRMDetails?.hasCreatedByPipeline"
                    (ngModelChange)="validateField('createdByPipelineId',false);resetCreatedByPipelineStages()">
                    <option [value]="0">Select Pipeline</option>
                    <option *ngFor="let pipeline of createdByPipelines" [value]="pipeline.id">
                      {{pipeline.name}}</option>
                  </select>
                </div>
                <!--Select Stage-->
                <div class="form-group" [attr.class]="pipelineStageId" style="margin-bottom: 20px" id="dealStageDiv">
                  <label class="control-label">Partner's xAmplify Stage<span class="required"><strong>*</strong></span></label>
                  <select class="form-control" [(ngModel)]="lead.createdByPipelineStageId" [ngModelOptions]="{standalone: true}" placeholder="pipelineStageId"
                    id="createdByPipelineStageId" [disabled]="preview || isCreatedByStageIdDisable" (ngModelChange)="validateField('createdByPipelineStageId',false)">
                    <option [value]="0">Select Stage</option>
                    <option *ngIf="!isVendorVersion && lead.currentStagePrivate" [value]="lead.currentStageId">{{deal.currentStageName}}</option>
                    <option *ngFor="let stage of createdByStages" [value]="stage.id">{{stage.stageName}}</option>
                  </select>
                </div>
              </ng-container>
              
            </div>
            <!--Add Comment XNFR-426----->
            <div class="form-group" *ngIf="actionType!=='view'" [attr.class]="leadComment"
              style="margin-bottom: 20px">
              <label class="control-label">Add Comment</label>
              <textarea type="text" maxlength="250" rows="3" class="form-control" name="leadComment"
                placeholder="Write your comment here" id="leadComment"
                [(ngModel)]="lead.leadComment"></textarea>
            </div>
          </div>
          <!--Error Div-->
          <app-display-error-message *ngIf="!pipelineLoader?.isLoading && pipelineLoader?.isServerError"></app-display-error-message>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!--Custom Form-->
<ng-template #customCRMFormTemplate>
  <div *ngIf="showCustomForm && !showDefaultForm && !showAttachLeadPopUp && lead?.createdForCompanyId!=undefined && lead?.createdForCompanyId>0">
    <app-sf-deal [createdForCompanyId]="lead.createdForCompanyId" [activeCRM]="activeCRMDetails" (isFormValid) = checkCustomLeadFormValid($event)
      [dealId]="lead.id" [isPreview]="preview" [opportunityType]="'LEAD'" [selectedContact]="selectedContact" [ticketTypeId]="lead.halopsaTicketTypeId" [actionType]="actionType"></app-sf-deal>
  </div>
</ng-template>

<!--Default Form-->
<ng-template #defaultLeadFormTemplate>
  <div class="panel-group" *ngIf="!showCustomForm && showDefaultForm && lead?.createdForCompanyId!=undefined && lead?.createdForCompanyId>0">
    <!--Lead Details-->
    <div class=" row portlet light m0">
      <div class="panel-heading deal-bgcolor">
        <h4 class="panel-title">Lead Details</h4>
      </div>
      <div class="panel-body br-unset pl0 pr0 mrg">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p0">
          <ng-container *ngFor="let leadCustomField of leadCustomFields;let i = index">
            <ng-template *ngIf="(0 == i % 2)" [ngTemplateOutlet]="leadFields"
              [ngTemplateOutletContext]="{leadCustomField:leadCustomField}"></ng-template>
            <ng-template *ngIf="(0 != i % 2)" [ngTemplateOutlet]="leadFields"
              [ngTemplateOutletContext]="{leadCustomField:leadCustomField}"></ng-template>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-template>