<div class="col-sm-12 col-md-12 col-lg-12 ml15m">
  <div class="panel panel-info panel-bgMain panel-card br-10">
    <div class="panel-heading panel-heading-custom panel-bg" id="pj-deal-details-div">
      <h3 class="panel-title mt7">Deal Details</h3>
      <span class="pull-right mt25m">
        <div class="input-icon right" style="position: relative;width: 178px;top: -1px;">
          <input type="text" style="height:34px;" class="form-control" [(ngModel)]="sortOption.searchKey"
            [ngModelOptions]="{standalone: true}" placeholder="Search"
            (keypress)="searchKeyPress($event.keyCode)">
          <button class="glyphicon glyphicon-remove search-box-item-clear" *ngIf="sortOption.searchKey"
            (click)="sortOption.searchKey='';search()"></button>
          <button type="submit" class="search-box-item-click" (click)="search()">
            <i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
      </span>
    </div>
    <div class="panel-body">    
      <div class="scroll table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" *ngIf="isDetailedAnalytics">Created By</th>
              <th scope="col" *ngIf="!isDetailedAnalytics && !isTeamMemberAnalytics">Company Name</th>
              <th scope="col" *ngIf="isTeamMemberAnalytics">Created By</th>
              <th scope="col" *ngIf="isTeamMemberAnalytics && !isVendorVersion">Created For</th>
              <th scope="col">Deal Title</th>
              <th *ngIf="!isTeamMemberAnalytics" scope="col">Deal Type</th>
              <th scope="col">Amount</th>
              <th scope="col">Created On</th>              
            </tr>
          </thead>
          <tbody>          
            <tr *ngFor="let item of pagination.pagedItems;let i  = index">
              <td *ngIf="isDetailedAnalytics"><app-user-info [isPartnerEntityInfo]="true" [isCreatedByUser]="true" [userInfo]="item"></app-user-info></td>
              <!-- <td *ngIf="!isDetailedAnalytics"><a class="detailstext" data-rel="fancybox-button" (click)="viewAnalytics(item.createdByCompanyId)">{{item?.createdByCompanyName}}</a></td> -->
              <td *ngIf="isTeamMemberAnalytics"><app-user-info [userInfo]="item"  [isCreatedByUser]="true" ></app-user-info></td>
              <td *ngIf="!isDetailedAnalytics && !isTeamMemberAnalytics"><a class="detailstext" data-rel="fancybox-button" (click)="viewAnalytics(item.createdByCompanyId)"><app-user-info [isPartnerAnalyticsCompany]="true" [userInfo]="item"></app-user-info></a></td>
              <td *ngIf="isTeamMemberAnalytics && !isVendorVersion">{{item?.createdForCompanyName}}</td>
              <td>{{item?.title}}</td>
              <td *ngIf="!isTeamMemberAnalytics" >{{item?.dealType}}</td>
              <td>
                <i class="fa fa-usd" aria-hidden="true">&nbsp;{{item?.amount}}</i>
              </td>
              <td>
                <app-timestamp [isOnlyDate]="false" [dateAndTime]="item?.createdDateInUTC">
                </app-timestamp>
              </td>
              
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="pagination.totalRecords==0 && !httpRequestLoader.isLoading" class="alert alert-info">
        <strong>No Data Found.</strong>
      </div>
      <!--Pagination-->
      <div *ngIf="pagination.pagedItems.length !== 0" class="pg8 scroll-top-margin" [hidden]="httpRequestLoader.isLoading">
        <app-pagination [pagination]="pagination" [isDropdown]="'false'" (notifyParent)="setPage($event)"
          (notifyParentDropDown)="getDealDetails($event)">
        </app-pagination>
      </div>
    </div>
  </div>
</div>
