.custom-css {
  margin: 9px 14px;
  padding-left: 5px;
}
.cnc {
  margin: 0px 10px;
  width: 52px;
}
.vwc {
  margin: 0px 11px;
  width: 52px;
}
.ttsc {
  margin: 4px 15px;
  width: 45px;
}
.cuc {
  margin: 0 25px;
}
.eoc {
  margin: 0px 5px;
  width: 52px;
}
.counterupcss {
  margin: 0 25px;
}
.vwcuc {
  margin: 0 33px;
}
.ttscu {
  margin: 0 33px;
}
.sic {
  margin: 0px 15px;
  width: auto;
  height: 52px;
}
.refresh-custom-css {
  margin-top: 9px;
  margin-right: -10px;
}
