
<div class="ex-page-content bootstrap snippets">

	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<img alt="Image Not Found"
					src="https://cdn.dribbble.com/users/1373974/screenshots/3029413/500.gif"
					style="max-width: 100%; padding: 0 3em;">
			</div>

			<div class="col-sm-6">
				<div class="message-box" style="padding: 5em">
					<h1 class="m-b-0">500</h1>
					<p>Internal Server Error.</p>
					<div class="buttons-con">
						<div class="action-link-wrap">
							<!-- <a href="#"
								class="btn btn-custom btn-info waves-effect waves-light m-t-20">Go
								Back</a> <a href="#"
								class="btn btn-custom btn-info waves-effect waves-light m-t-20">Go
								to Home Page</a> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>