@media screen and (max-width:578px){
    .d_flex{
        display: flex!important;
    }
    .pt_0{
        padding-top:0px!important;
    }
    .pt_8{
        padding-top: 8px;
    }
}
/* sudha sri */
@media (max-width:425px){
    .pt{
        padding-top: 3px;
    }
    .pt-pl{
        padding-top: 7px;
        padding-left: 9px;
    }
}

@media only screen and (min-width: 991px) and (max-width: 1088px) { 
.table thead tr th {font-size: 11px;}
}
/* Sudha Sri(24-07-2024) */
a.dashboard-stat.dashboard-stat-lighter.blue-soft.min-h.default-cursor.tiles_bradius,
a.dashboard-stat.dashboard-stat-lighter.green-soft.min-h.default-cursor.tiles_bradius,
a.dashboard-stat.dashboard-stat-lighter.purple-soft.min-h.default-cursor.tiles_bradius,
a.dashboard-stat.dashboard-stat-lighter.yellow-gold.min-h.default-cursor.tiles_bradius{border-radius: 10px !important;}