<div class="modal fade right" id="addEmailModalPopup" role="dialog" aria-labelledby="myModalLabel"
  data-backdrop="static" data-keyboard="false">
  <app-response-message class="pg8" [customResponse]="customResponse" *ngIf="!OliveAi && customResponse?.isVisible"></app-response-message>
  <div class="modal-dialog" role="document">
    <ngx-loading [show]="ngxLoading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div class="modal-content">
      <div class="modal-header">
        <a class="close-circle" (click)="closeEmailModal()" data-dismiss="modal"> <i class="fa fa-times"></i></a>
        <h4 class="modal-title left" id="myModalLabel">{{ isPreview ? 'View':'Send'}} Email</h4>
      </div>
      <div class="modal-body">
        <app-response-message class="pg8" [customResponse]="customResponse" *ngIf="OliveAi && customResponse?.isVisible"></app-response-message>
        <div>
          <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 display_flex" *ngIf="!isPreview">
            <label for="exampleInputEmail1" class="display_flex pr45">To <span class="text-danger">*</span></label>
            <input *ngIf="!isCompanyJourney" type="text" id="toEmailId" [(ngModel)]="emailActivity.toEmailId" [ngModelOptions]="{standalone: true}"
              placeholder="Email Id" class="form-control" name="toEmailId" maxlength="200" [disabled]="!isTestMail && !OliveAi" />
            <app-dropdown-loader *ngIf="userListUsersLoader?.isLoading && isCompanyJourney" [text]="'contacts'"></app-dropdown-loader>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0" *ngIf="!userListUsersLoader?.isLoading && isCompanyJourney">
              <angular4-multiselect [data]="userListUsersData" [(ngModel)]="userIds"
              [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
              (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"></angular4-multiselect>
            </div>
          </div>
          <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 display_flex">
            <label for="exampleInputEmail1" class="display_flex pr25">From <span class="text-danger">*</span></label>
            <input type="text" id="toEmailId" [(ngModel)]="emailActivity.senderEmailId" [ngModelOptions]="{standalone: true}"
             placeholder="Email Id" class="form-control" name="toEmailId" maxlength="200" disabled />
          </div>
          <div *ngIf="!showCCEmailInputField || !showBCCEmailInputField" class="f_r">
            <span class="mr5" *ngIf="!showCCEmailInputField" data-toggle="tooltip" data-placement="bottom" title="Add Cc recipients"><a class="underline-on-hover" (click)="showCCEmailInputField = 'true'"><span>Cc</span></a></span>
            <span *ngIf="!showBCCEmailInputField" data-toggle="tooltip" data-placement="bottom" title="Add Bcc recipients"><a class="underline-on-hover" (click)="showBCCEmailInputField = 'true'"><span>Bcc</span></a></span>
          </div>
          <div *ngIf="showCCEmailInputField" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 display_flex">
            <label class="display_flex pt12 pr46" for="exampleInputEmail1">CC</label>
            <tag-input *ngIf="!isPreview" class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0" [(ngModel)]='ccEmailIds' #tagInput name="emails" #email="ngModel"
               [errorMessages]="errorMessages" [validators]="validators"
               [separatorKeyCodes]="[32,188,186,13,9]" [placeholder]="'Add email'"
               [secondaryPlaceholder]="'Add Cc recipient(s)'" [clearOnBlur]="true" [addOnPaste]="true"
               [addOnBlur]="true" [pasteSplitPattern]="splitPattern" [onAdding]="onAddedFunc" theme='bootstrap'
               [onTextChangeDebounce]="40">
            </tag-input>
          </div>
          <div *ngIf="showBCCEmailInputField" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 display_flex">
            <label class="pr36 pt11" for="exampleInputEmail1">BCC</label>
            <tag-input *ngIf="!isPreview" class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0" [(ngModel)]='bccEmailIds' #tagInput name="emails" #email="ngModel"
               [errorMessages]="errorMessages" [validators]="validators"
               [separatorKeyCodes]="[32,188,186,13,9]" [placeholder]="'Add email'"
               [secondaryPlaceholder]="'Add Bcc recipient(s)'" [clearOnBlur]="true" [addOnPaste]="true"
               [addOnBlur]="true" [pasteSplitPattern]="splitPattern" [onAdding]="onAddedFunc" theme='bootstrap'
               [onTextChangeDebounce]="40">
            </tag-input>
            <input *ngIf="isPreview" type="text" id="toEmailId" [(ngModel)]="emailActivity.bccEmailIds" [ngModelOptions]="{standalone: true}"
             placeholder="Email Id" class="form-control" name="toEmailId" maxlength="200" disabled />
          </div>
          <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 display_flex">
            <label class="display_flex pr7" for="subjectLine">Subject <span class="text-danger">*</span></label>
            <input type="text" id="subjectLine" [(ngModel)]="emailActivity.subject" [ngModelOptions]="{standalone: true}" [disabled]="isPreview"
             placeholder="Subject Line" class="form-control" name="subjectLine" maxlength="200" (input)="validateEmail()" />
          </div>
          <div class="form-group">
            <label for="subjectLine">Message <span class="text-danger">*</span></label>
            <ckeditor *ngIf="!isPreview" name="body" [(ngModel)]="emailActivity.body" (change)="validateEmail()"
            [ngModelOptions]="{standalone: true}" [config]="ckeConfig"></ckeditor>
            <div class="email-body" *ngIf="isPreview" [innerHTML]="emailActivity.body"></div>
            <p *ngIf="showCkEditorLimitErrorMessage" class="text-danger">You have reached the maximum character limit.</p>
          </div>
          <div class="form-group">
            <p *ngIf="showAttachmentErrorMessage" class="text-danger">The attachment exceeds the maximum allowed file size of 20MB. You can upload large files to a cloud storage service (e.g., Amazon S3, Google Drive) and share the download link.</p>
            <label for="attachments">Attachments:</label>
            <input *ngIf="!isPreview" id="fileInput" class="file-input" type="file" (change)="onFileChange($event)" multiple>
            <label for="fileInput" class="btn Btn-Green custom-file-label">
              Choose a file
            </label>
            <p *ngIf="showFileTypeError" class="text-danger">The selected file type is not supported. Please upload a file with a valid format.</p>
            <div *ngIf="!isPreview && (files.length > 0)">
              <ul>
                <li *ngFor="let file of files; let i = index">
                  {{ file.name }} ({{ file.size / 1024 | number: '1.0-0' }} KB)
                  <button type="button" (click)="removeFile(i)"><i class="fa fa-times"></i></button>
                </li>
              </ul>
            </div>
            <div *ngIf="isPreview">
              <ul>
                <li *ngFor="let emailAttachmentDTO of emailActivity.emailAttachmentDTOs; let i = index">
                  <a *ngIf="emailAttachmentDTO.filePath != undefined" target="_blank" href="{{emailAttachmentDTO.filePath}}">{{emailAttachmentDTO.fileName}}</a>
                  <a *ngIf="emailAttachmentDTO.filePath == undefined" (click)="showFilePathError = 'true'">{{emailAttachmentDTO.fileName}}</a>
                  <span *ngIf="showFilePathError" class="text-danger" id="filePathError">Unable to load the file. <p (click)="showFilePathError = 'false'"><i class="fa fa-times"></i></p></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="border: none">
        <button class="btn Btn-Gray neg_mrg_top4" (click)="closeEmailModal()" data-dismiss="modal">Cancel</button>
        <button *ngIf="!isPreview" type="submit" class="button bgcolor-unset" [disabled]="showFileTypeError || !isValidEmail"
          (click)="sendTestEmailToUser()"><span class="btn btn-primary transition txt_pd-top3">Send Test Mail</span></button>
        <button *ngIf="!isPreview" type="submit" class="button bgcolor-unset" [disabled]="showFileTypeError || !isValidEmail"
          (click)="sendEmailToUser()"><span class="btn btn-primary transition txt_pd-top3">Send Mail</span></button>
      </div>
    </div>
  </div>

  <div *ngIf="isTestMail" class="modal-dialog popup-width modal-copy" role="document">
    <ngx-loading [show]="testEmailLoading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div class="modal-content mSweetalertWid popup-cu-widthalign">
      <div class="modal-header alert-info br">
        <h4 class="modal-title f-w-600" id="" translate="">Send Test Mail</h4>
      </div>
      <div class="modal-body">
        <div>
          <h4 class="modal-title1">Please Enter Test Email Id</h4>
        </div>
        <div class="form-check pointer mt10">
          <label class="option-color">Email Id<span class="text-danger">*</span></label>
          <input class="form-control" name="rdaction" (input)="validateTestEmailId()" [(ngModel)]="testToEmailId">
        </div>
      </div>
      <div class="modal-footer p-10">
        <button class="btn Btn-Gray" type="button" name="cancel" (click)="closeTestMailPopup()">Cancel</button>
        <button class="btn btn-primary" type="button" name="ok" [disabled]="!isValidTestEmailId"
          (click)="sendTestEmail()">Send Test Mail</button>
      </div>
    </div>
  </div>
</div>
