<div class="page-content">
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a [routerLink]="referenceService.homeRouter">Home</a>
				<i class="fa fa-angle-right"></i>
      </li>
      <li>
        <a [routerLink]="referenceService.homeRouter">dashboard</a>
        <i class="fa fa-angle-right"></i>
			</li>
			<li *ngIf="role === 'Vendor'">
				<a [routerLink]="['/home/dashboard/vendors']">Campaigns From Vendor</a>
      </li>
			<li *ngIf="role === 'Partner'">
				<a [routerLink]="referenceService.homeRouter">Campaigns shared by Vendor</a>
			</li>
		</ul>
	</div>
	<div style="position: relative; top:-10px;">
		<app-response-message [customResponse]="customResponse" *ngIf="customResponse.isVisible"></app-response-message>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="tabbable tabbable-custom tabbable-noborder">
				<div class="tab-content">
					<div class="page-bar m10">
						<ul class="mix-filter col-xs-6 p0 m0">
					  	<li class="filter" (click)="filterCampaigns('all')" [class.active]="'all' == campaignType">All</li>
					  	<li class="filter" (click)="filterCampaigns('regular')" [class.active]="'regular' == campaignType">Email</li>
              <li class="filter" (click)="filterCampaigns('video')" [class.active]="'video' == campaignType">Video</li>
              <li class="filter" (click)="filterCampaigns('social')" [class.active]="'social' == campaignType">Social</li>
              <li class="filter" (click)="filterCampaigns('event')" [class.active]="'event' == campaignType">Event</li>
              <li class="filter" style="display: none;">Own Template</li>
						</ul>
						<div class="page-toolbar col-xs-6">
							<div class="btn-group pull-right">
								<ng-container class='m10'>
									<button class="btn btn-xs" [disabled]="isListView" (click)="isListView = true" title="List View">
										<i class="fa fa-th-list p10" aria-hidden="true"></i>
									</button>
									<button class="btn btn-xs" [disabled]="!isListView" (click)="isListView = false" title="Grid View">
										<i class="fa fa-th-large p10" aria-hidden="true"></i>
									</button>
								</ng-container>
								<div class="inputs" align="right" style="float: right">
									<div style="float: left;">
										<select class="form-control" [(ngModel)]="selectedSortedOption" (ngModelChange)="getSortedResult($event)" style="position: relative;right: -3px;">
											<option *ngFor="let sortOption of sortByDropDown" [ngValue]="sortOption">{{sortOption.name}}</option>
										</select>
									</div>
									<div class="portlet-input input-inline input-small">
										<div class="input-icon right" style="position: relative;right: -11px;">
											<i class="icon-magnifier" (click)="searchCampaigns()" style="cursor: pointer;"></i>
											<input type="text" class="form-control" [(ngModel)]="searchKey" [ngModelOptions]="{standalone: true}" placeholder="search...">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<app-grid-loader *ngIf="httpRequestLoader.isLoading && !isListView"></app-grid-loader>
					<app-list-loader *ngIf="httpRequestLoader.isLoading && isListView"></app-list-loader>
					<section class='m10' *ngIf="totalRecords > 0 && !httpRequestLoader.isLoading && !httpRequestLoader.isServerError">
						<div class="table-responsive">
							<table class='table tgrid table-hover table-sm' *ngIf="isListView">
								<thead>
									<tr>
										<th colspan="2">Campaign</th>
										<th style="text-align: center">Vendor Company Name</th>
										<th style="text-align: center">Status</th>
										<th style="text-align: center">Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor='let campaign of pagination.pagedItems; let i=index'>
										<td style="width: 10%;">
											<img *ngIf="campaign.campaignType.indexOf('VIDEO') > -1 && campaign.launched " src="assets/images/video-email.png" style="height: 50px;"
											 alt="{{campaign.campaignType}} Campaign">
											<img *ngIf="campaign.campaignType.indexOf('VIDEO') > -1 && !campaign.launched " src="assets/images/video-email.png" style="height: 50px;-webkit-filter: grayscale(100%);filter: grayscale(100%);"
											 alt="{{campaign.campaignType}} Campaign">

											<img *ngIf="campaign.campaignType.indexOf('REGULAR') > -1 && campaign.launched" src="assets/images/regular-email.png" style="height: 50px;"
											 alt="{{campaign.campaignType}} Campaign">
											<img *ngIf="campaign.campaignType.indexOf('REGULAR') > -1 && !campaign.launched" src="assets/images/regular-email.png" style="height: 50px;-webkit-filter: grayscale(100%);filter: grayscale(100%);"
											 alt="{{campaign.campaignType}} Campaign">

											<img *ngIf="campaign.campaignType.indexOf('SOCIAL') > -1 && campaign.launched" src="assets/images/social-campaign.png" style="height: 50px;"
											 alt="{{campaign.campaignType}} Campaign">
											<img *ngIf="campaign.campaignType.indexOf('SOCIAL') > -1 && !campaign.launched" src="assets/images/social-campaign.png" style="height: 50px;-webkit-filter: grayscale(100%);filter: grayscale(100%);"
                       alt="{{campaign.campaignType}} Campaign">

                      <img *ngIf="campaign.campaignType.indexOf('EVENT') > -1 && campaign.launched" src="assets/images/event-campaign.png" style="height: 50px;"
											 alt="{{campaign.campaignType}} Campaign">
											<img *ngIf="campaign.campaignType.indexOf('EVENT') > -1 && !campaign.launched" src="assets/images/event-campaign.png" style="height: 50px;-webkit-filter: grayscale(100%);filter: grayscale(100%);"
											 alt="{{campaign.campaignType}} Campaign">
                      </td>
										<td>
											  <h4 class="ellipsis mt5 mb5 f-w-600" style="font-size: 14px;" title="{{campaign.campaignName}}">{{campaign.campaignName | slice:0:25}}
													<span *ngIf="campaign.campaignName?.length>25">...</span>
											</h4>
											<h5 [title]="campaign.createdBy">By <b>{{campaign.createdBy | slice:0:15}}<span *ngIf="campaign.createdBy?.length>15">...</span></b></h5>
											<h5 [title]="campaign.companyName">From <b>{{campaign.companyName | slice:0:15}}<span *ngIf="campaign.companyName?.length>15">...</span></b></h5>
										</td>
										<td style="text-align: center">
											{{campaign.companyName | slice:0:15}}<span *ngIf="campaign.companyName?.length>15">...</span>
										</td>

										<td style="text-align: center">
											<span align="right">
												<b>Received On</b>
											</span>
											<span align="right" title="Received On">
												<b>{{campaign.launchedOn}}</b>
											</span>
										</td>
										<td style="text-align: center">
										  <div class="actions-block" style="text-align: center !important; margin: 0 40px;">
												<a (click)="showCampaignPreview(campaign)" data-toggle="tooltip" data-placement="top" title="Preview Campaign">
													<i class="fa fa-eye mr5"></i>
                        </a>
												<a (click)="reDistributeCampaign(campaign)" data-toggle="tooltip" data-placement="top" title="Redistribute Campaign" data-rel="fancybox-button" >
                            <i class="fa fa-clone"></i>
                        </a>
                        <a class="hidden"><i class="fa fa-trash"></i></a>
                        <!-- <a (click)="showCampaignPreview(campaign.campaignId)" title="Preview">
												<i class="fa fa-eye mr5"></i>
										  	</a>  -->
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</section>
					<div *ngIf="totalRecords <= 0 && isListView" class="alert alert-info">
						<strong>No campaigns found</strong>
					</div>
					<div class="tab-pane active" *ngIf="!isListView">
						<div class="margin-top-10">
							<div class="row mix-grid p10">
								<app-loader *ngIf="httpRequestLoader.isLoading"></app-loader>
								<app-error-pages *ngIf="httpRequestLoader.isServerError"></app-error-pages>
								<ng-container *ngIf="totalRecords > 0 && !httpRequestLoader.isLoading && !httpRequestLoader.isServerError">
									<div *ngFor="let campaign of pagination.pagedItems; let i= index" class="col-xs-12 col-sm-4 col-lg-3">
										<div class="grid-box">
											<img src="https://cdn2.iconfinder.com/data/icons/facebook-ads-1/204/1-48.png">
											<h4 class="ellipsis" title="{{campaign.campaignName}}">{{campaign.campaignName | slice:0:25}}
												<span *ngIf="campaign.campaignName?.length>25">...</span>
											</h4>
                      <h5 [title]="campaign.createdBy">By <b>{{campaign.createdBy | slice:0:15}}<span *ngIf="campaign.createdBy?.length>15">...</span></b></h5>
											<h5 [title]="campaign.companyName">From <b>{{campaign.companyName | slice:0:15}}<span *ngIf="campaign.companyName?.length>15">...</span></b></h5>
											<h6>Received On <b>{{campaign.launchedOn}}</b></h6>
											<div class="bookmark-ribbon">
												<span style="margin: 0px -7px; font-size: 17px; color: white;">
													<i *ngIf="campaign.campaignType.indexOf('VIDEO') > -1" class="fa fa-video-camera" aria-hidden="true"></i>
													<i *ngIf="campaign.campaignType.indexOf('REGULAR') > -1" class="fa fa-envelope" aria-hidden="true"></i>
                          <i *ngIf="campaign.campaignType.indexOf('SOCIAL') > -1" class="fa fa-globe" aria-hidden="true"></i>
                          <i *ngIf="campaign.campaignType.indexOf('EVENT') > -1" class="fa fa-calendar" aria-hidden="true"></i>
												</span>
											</div>
											<div class="bar">
												<a (click)="reDistributeCampaign(campaign)" title="Redistribute Campaign" data-rel="fancybox-button">
													<i class="fa fa-clone"></i>
												</a>
											</div>
										</div>
									</div>
								</ng-container>
							</div>
						</div>
						<!-- End of 24 -->
						<div *ngIf="totalRecords <= 0 && !isListView" class="alert alert-info">
							<strong>No campaigns found</strong>
						</div>
					</div>
					<div *ngIf="totalRecords > 0 && !httpRequestLoader.isLoading && !httpRequestLoader.isServerError" style="background:white">
						<div *ngIf="pagination.pagedItems.length !== 0">
							<app-pagination [pagination]="pagination" [type]="'campaign'" [isDropdown]="true" (notifyParent)="setPage($event)" (notifyParentDropDown)="listCampaigns($event)"></app-pagination>
							<select class="form-control" style="float: right; width: auto;" [(ngModel)]="itemsSize" (ngModelChange)="getNumberOfItemsPerPage($event)">
								<option *ngFor="let itemPerPage of numberOfItemsPerPage" [ngValue]="itemPerPage">{{itemPerPage.name}}</option>
							</select>
						</div>
	         </div>
				  </div>
				<!-- End Of tab Content -->
			</div>
		</div>
	</div>
	<!-- <div *ngIf="totalRecords <= 0"  class="alert alert-info"><strong>No Campaigns Found</strong></div> -->
</div>





