<style>.selectedtype{ background:#00a6e8;}</style>
 <div class="page-content">
   <div>
     <div class="page-bar">
       <ul class="page-breadcrumb">
         <li><i class="fa fa-home"></i> <a (click)="gotoHome()">Home</a><i class="fa fa-angle-right"></i></li>
         <li><a (click)="backToManageVideos()">Manage Videos</a> </li>
         <li *ngIf="editVideo" style="color: #888;"><i class="fa fa-angle-right"></i>Edit Video </li>
         <li *ngIf="playVideo" style="color: #888;"><i class="fa fa-angle-right"></i>Play Videos </li>
         <li *ngIf="campaignReport" style="color: #888;"><i class="fa fa-angle-right"></i>Reports - video statistics</li>
       </ul>
     </div>
   </div>
   <div>
     <div class="row" *ngIf="manageVideos">
       <div class="col-xs-12" style="position: relative;top: -9px;" >
         <app-response-message [customResponse]="customResponse" *ngIf="customResponse.isVisible"></app-response-message>
       </div>
         <div class="col-xs-12 col-sm-12 col-md-12">
         <div class="tabbable tabbable-custom tabbable-noborder" style="background: white">
           <div class="tab-content" style="min-height: 715px;">
             <div class="tab-pane active m10">
               <div class="page-toolbar">
                 <div *ngIf="!httpRequestLoader.isLoading  && !referenceService.isPlayVideo" class="btn-group pull-right col-xs-12 col-sm-12 col-md-12" style="padding: 0;margin-bottom: 10px; ">
                   <div class="inputs" align="right">
                     <div style="padding:0" class="col-xs-12 col-sm-6 col-md-3">
                       <select class="form-control select-option" [(ngModel)]="categoryNum" (ngModelChange)="getCategoryNumber()">
                          <option  [value]="0" >All Categories</option>
                          <option *ngFor="let category of categories" [ngValue]="category.id" [selected]="category.id==pagination.videoCategoryId">{{category.name}}</option>
                        </select>
                     </div>
                     <div class="col-xs-12 col-md-3">
                     </div>
                     <div class="col-xs-6 col-sm-3 col-md-3 p0 flex">
                       <ng-container class='m10'>
                         <button class="btn btn-xs" [disabled]="isListView" (click)="isListView = true"><i class="fa fa-th-list p10" aria-hidden="true"></i></button>
                         <button class="btn btn-xs" [disabled]="!isListView" (click)="isListView = false"><i class="fa fa-th-large p10" aria-hidden="true"></i></button>
                       </ng-container>

                       <select class="form-control ml5" style="cursor: pointer" [(ngModel)]="videoSort" (ngModelChange)="selectedSortByValue($event)">
                         <option *ngFor="let sort of sortVideos" [ngValue]="sort"> {{sort.name}} </option>
                       </select>
                     </div>
                     <div class="col-xs-6 col-sm-3 col-md-3 col-md-3" style="padding-right:0">
                       <div class="input-icon right" style="cursor:pointer">
                         <i class="icon-magnifier" style="cursor:pointer;font-size:18px;" (click)="searchVideoTitelName()"></i>
                         <input type="text" [(ngModel)]="pagination.searchKey" [ngModelOptions]="{standalone: true}" class="form-control"
                          placeholder="Search for a Video" (keypress)="eventHandler($event.keyCode)">
                       </div>
                     </div>
                   </div>
                   <div class="col-xs-12" style="margin: 1px -18px;"  *ngIf="authenticationService.isOrgAdminPartner() || authenticationService.isVendorPartner()">
                   <ul class="mix-filter" >
                     <li class="filter" *ngFor="let videoType of videoTypes; let i = index;"
                      (click)="getVideoTypes(videoType)" [class.selectedtype]="videoFileService.videoType === videoType.value">{{videoType.name}}</li>
                   </ul></div>
                 </div>
               </div>
               <app-grid-loader *ngIf="httpRequestLoader.isLoading && !isListView  && !referenceService.isPlayVideo"></app-grid-loader>
               <app-list-loader *ngIf="httpRequestLoader.isLoading && isListView && !referenceService.isPlayVideo"></app-list-loader>
               <app-play-video-loader *ngIf="referenceService.isPlayVideo"></app-play-video-loader>
               <div class="margin-top-10">
                 <div *ngIf="!httpRequestLoader.isLoading  && !referenceService.isPlayVideo">
                   <div *ngIf="pagination.pagedItems.length == 0" style="position: relative; top: 16px; width: 100%;" class="col-md-9 alert alert-info alert-dismissable">
                     <a class="close" data-dismiss="alert" aria-label="close"></a>
                     <p>No results found</p>
                   </div>
                 </div>
                 <section [hidden]="!isListView">
                 <div class="table-responsive" style="overflow-x: inherit;"  *ngIf="pagination.pagedItems && !httpRequestLoader.isLoading  && !referenceService.isPlayVideo">
                   <table class='table tgrid' *ngIf="pagination.pagedItems.length !== 0">
                     <thead>
                       <tr>
                         <th colspan="1" style="width: 50%">Videos</th>
                         <th class="text-center">Type</th>
                         <th class="text-center">Upload Date</th>
                         <th class="text-center"><span [hidden]="authenticationService.isOnlyPartner()">Actions</span></th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr *ngFor="let videoFile of pagination.pagedItems ;let i =index">
                        <td>
                        <app-video-thumbnail [videoFile]="videoFile" (notifyParent)="showPlayVideo($event)"></app-video-thumbnail>
                        </td>
                         <td class="text-center">
                           <span class='view-by-banner'>{{videoFile.viewBy}}</span>
                         </td>
                         <td class="text-center">{{videoFile.uploadedDate}}</td>
                         <td>
                           <div class="actions-block" *ngIf="videoFileService.videoType==='myVideos'">
                             <a *ngIf="hasAllAccess || (hasVideoRole && loggedInUserId==videoFile.uploadedUserId) || authenticationService.module.isVendor"
                               (click)="showEditVideo(videoFile)" data-toggle="tooltip" data-placement="top" [title]="actionsDescription.video_edit"> <i class="fa fa-pencil-square-o"></i>
                             </a>
                             <ng-container *ngIf="hasAllAccess || (hasCampaignRole && hasVideoRole && loggedInUserId==videoFile.uploadedUserId) || authenticationService.module.isVendor">
                                <a *ngIf="videoFile.viewBy!='DRAFT'" (click)="campaignRouter(videoFile)" data-toggle="tooltip" data-placement="top" title="Create Campaign">
                                  <i class="fa fa-bullhorn"></i>
                                </a>
                                <a *ngIf="videoFile.viewBy=='DRAFT'" data-toggle="tooltip" data-placement="top" title="Can't create a Campaign for DRAFT" style="cursor: not-allowed !important;opacity: 0.6;">
                                  <i class="fa fa-bullhorn" ></i>
                                </a>
                              </ng-container>
                             <a (click)="showCampaignVideoReport(videoFile)" data-toggle="tooltip" data-placement="top" *ngIf="videoFile.viewBy!=='DRAFT'" title="Video Based Reports">
                               <i class="fa fa-line-chart"></i>
                             </a>
                             <a *ngIf="videoFile.viewBy=='DRAFT'" data-toggle="tooltip" data-placement="top" title="Can't show Reports for DRAFT" style="cursor: not-allowed !important;opacity: 0.6">
                               <i class="fa fa-line-chart"></i>
                             </a>
                             <a data-toggle="tooltip" data-placement="top" [title]="actionsDescription.video_delete" *ngIf="hasAllAccess || (hasVideoRole && loggedInUserId == videoFile.uploadedUserId) || authenticationService.module.isVendor" (click)="deleteVideoAlert(videoFile.alias,i ,videoFile.title)">
                               <i class="fa fa-trash"></i>
                             </a>
                           </div>
                             <div [hidden]="authenticationService.isOnlyPartner()" class="actions-block" *ngIf="videoFileService.videoType==='partnerVideos'" style="position: relative;left: -30px;color: #00a6e8;">
                               <a  (click)="campaignRouter(videoFile)" data-toggle="tooltip" data-placement="top"  [title]="actionsDescription.video_campaign"> <i class="fa fa-bullhorn"></i> </a>
                           </div>
                         </td>
                       </tr>
                     </tbody>
                   </table>
                   </div>
                 </section>
                 <section [hidden]="isListView">
                 <div class="col-xs-6 col-sm-3" *ngFor="let videoFile of pagination.pagedItems ;let i =index">
                 <div class="grid-box p0" *ngIf="pagination.pagedItems && !httpRequestLoader.isLoading && !referenceService.isPlayVideo" (mouseenter) ="mouseEnter(videoFile)" (mouseleave) ="mouseLeave(videoFile)">
                   <div class="video-thumbnail-wrapper">
                       <img id="imagePathVideo{{videoFile.id}}" class="video-thumbnail" (click)="showPlayVideo(videoFile)" src="{{videoFile.imagePath}}" style="width:100%" (error)="videoUtilService.errorVideoHandler($event)" >
                       <i class="fa fa-play-circle" (click)="showPlayVideo(videoFile)"></i>
                       <span class="views-count" title="views"><i class="fa fa-eye"></i>&nbsp;{{videoFile.views}}</span>
                       <span class="video-duration"  title="Video Length">{{videoUtilService.truncateHourZeros(videoFile.videoLength)}}</span>
                   </div>
                      <span class="ellipsis video-title" title="{{videoFile.title}}">{{videoFile.title | slice:0:25}}<span *ngIf="videoFile.title?.length>25">...</span></span>
                      <span *ngIf="!authenticationService.isOnlyPartner()">
                      <span class="video-uploaded-by" *ngIf="videoFileService.videoType==='myVideos'"  title="Uploaded By">By {{videoFile.uploadedUserName | slice:0:15}}<span *ngIf="videoFile.uploadedUserName?.length>15">...</span></span>
                      <span class="video-uploaded-by" *ngIf="videoFileService.videoType==='partnerVideos'" title="Uploaded By">By
                         <span *ngIf="videoFile.companyName">{{videoFile.companyName | slice:0:15}}<span *ngIf="videoFile.companyName?.length>15">...</span></span>
                         <span *ngIf="!videoFile.companyName">{{videoFile.uploadedUserName | slice:0:15}}<span *ngIf="videoFile.uploadedUserName?.length>15">...</span></span>
                      </span>
                    </span>
                      <span *ngIf="authenticationService.isOnlyPartner()">
                          <span style="float: left;">By {{videoFile.companyName | slice:0:15}}<span *ngIf="videoFile.companyName?.length>15">...</span></span>
                          <!-- <span *ngIf="!videoFile.companyName">{{videoFile.uploadedUserName}}</span> -->
                      </span>
                      <span class="video-upload-date"  title="Uploaded Date">{{videoFile.uploadedDate}}</span>
                   <div class="bookmark-ribbon" *ngIf="videoFileService.videoType === 'partnerVideos'">
                     <span style="margin: 0px -7px; font-size: 17px; color: white;">
                       <i *ngIf="videoFileService.videoType === 'partnerVideos'" class="fa fa-handshake-o"  aria-hidden="true"></i>
                     </span>
                   </div>
                   <div class="ribbon" >
                     <span>{{videoFile.viewBy}}</span>
                   </div>
                   <div class="bar">
                     <div >
                      <ng-container  *ngIf="videoFileService.videoType==='myVideos'">
                        <a *ngIf="hasAllAccess || (hasVideoRole && loggedInUserId==videoFile.uploadedUserId) || authenticationService.module.isVendor"
                          (click)="showEditVideo(videoFile)" data-toggle="tooltip" data-placement="top" title="{{actionsDescription.video_edit}}">
                          <i class="fa fa-pencil-square-o"></i>
                        </a>
                        <span *ngIf="hasAllAccess || (hasCampaignRole && hasVideoRole && loggedInUserId==videoFile.uploadedUserId) || authenticationService.module.isVendor">
                            <a *ngIf="videoFile.viewBy!='DRAFT'" (click)="campaignRouter(videoFile)"  data-toggle="tooltip" data-placement="top" title="{{actionsDescription.video_campaign}}">
                             <i class="fa fa-bullhorn"></i>
                             </a>
                            <a  *ngIf="videoFile.viewBy=='DRAFT'" data-toggle="tooltip" data-placement="top" title="Can't create a Campaign for DRAFT" >
                            <i class="fa fa-bullhorn" ></i>
                             </a>
                        </span>
                        <a *ngIf="videoFile.viewBy=='DRAFT'"data-toggle="tooltip" data-placement="top"  title="Can't show Reports for DRAFT video">
                          <i class="fa fa-line-chart"></i>
                        </a>
                        <a  *ngIf="videoFile.viewBy!=='DRAFT'" data-toggle="tooltip" data-placement="top" (click)="showCampaignVideoReport(videoFile)" title="Video Based Reports">
                          <i class="fa fa-line-chart"></i>
                        </a>
                      </ng-container>
                        <ng-container *ngIf="videoFileService.videoType==='myVideos'">
                          <a *ngIf="hasAllAccess || (hasVideoRole && loggedInUserId == videoFile.uploadedUserId) || authenticationService.module.isVendor" (click)="deleteVideoAlert(videoFile.alias,i ,videoFile.title)"
                          data-toggle="tooltip" data-placement="top" title="{{actionsDescription.video_delete}}">
                            <i class="fa fa-trash" ></i>
                          </a>
                        </ng-container>
                        <ng-container *ngIf="videoFileService.videoType==='partnerVideos'">
                          <a (click)="campaignRouter(videoFile)" data-toggle="tooltip" title="Create Campaign" [hidden]="authenticationService.isOnlyPartner()">
                            <i class="fa fa-bullhorn"></i>
                          </a>
                        </ng-container>
                     </div>
                   </div>
                 </div>
                 </div>
                 </section>
               </div>
             </div>
           </div>
           <div [hidden]="httpRequestLoader.isLoading" class="clearfix" *ngIf="pagination.pagedItems.length !== 0 && !referenceService.isPlayVideo">
            <app-pagination [pagination]="pagination" [type]="'managaVideos'"
             (notifyParent)="setPage($event)" (notifyParentDropDown)="loadVideos($event)"></app-pagination>
            </div>
         </div>

       </div>

     </div>
   </div>
   <app-edit-video *ngIf="editVideo" (notifyParent)="update($event)"></app-edit-video>
   <app-play-video *ngIf="playVideo" [totalRecords]="allRecords" [selectedVideo]="selectedVideo"></app-play-video>
   <app-video-based-report *ngIf="campaignReport" [selectedVideo]="selectedVideo"></app-video-based-report>
 </div>
