body {
	padding: 0;
	margin: 0;
	min-height: 641px;
	background-size: 100%;
	font: normal 18px Arial, Helvetica, sans-serif;
}

h1 {
	color: #fff;
	font-weight: normal;
	font-size: 72px;
	text-align: center;
	margin: 1em 0;
	font-family: Century Gothic;
}

a.btn {
	width: 200px;
	color: #fff;
	height: 60px;
}

.btn+.btn {
	margin: 5px;
}

.logo {
	width: 160px;
	height: 65px;
	background: url(/assets/images/xamplify-logo.png) top left no-repeat;
}

.logo a {
	text-align: center;
	width: 160px;
	height: 65px;
}
.jumbotron {
    background-color: #fff0;
}