.mt25m {
	margin-top: -25px !important;
}

.ml15m {
	margin-left: -15px !important;
}
@media (min-width: 200px) and (max-width: 767px)  { 
	.ml15m {
		padding-right: 0px !important;
	}
  }
  .progress-bar {
	background-color: #29d836 !important;
}
.progress.heightabjustment {
    height: 6px!important;
    background-color: #d0cfcf;
    background-image: none;
    box-shadow: none;
    border-radius: 6px!important;
}
