<div class="col-sm-12 col-md-12 col-lg-12 ml15m">
  <div class="panel panel-info panel-bgMain">
    <div class="panel-heading panel-heading-custom panel-bg">
      <h3 class="panel-title mt7">Track Assets Detailed Report</h3>
      <span class="pull-right mt25m mobilesearchdisplay">
        <div class="input-icon right mobilesearchdisplayTop" style="position: relative;width: 178px;top: -1px;">
          <input type="text" style="height:34px;" class="form-control" [(ngModel)]="sortOption.searchKey"
            [ngModelOptions]="{standalone: true}" placeholder="Search"
            (keypress)="searchKeyPress($event.keyCode)">
          <button class="glyphicon glyphicon-remove search-box-item-clear" *ngIf="sortOption.searchKey"
            (click)="sortOption.searchKey='';search()"></button>
          <button type="submit" class="search-box-item-click" (click)="search()">
            <i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
      </span>
    </div>
    <div class="panel-body">    
      <div class="scroll table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" *ngIf="isDetailedAnalytics">Team Member</th>
              <th scope="col" *ngIf="!isDetailedAnalytics">Company Name</th>
              <th scope="col">Track</th>
              <th scope="col">Assets</th>
              <th scope="col">Published Time</th>
              <th scope="col">Opened</th>
              <th scope="col">Viewed</th>
              <th scope="col">Downloaded</th>              
              <th scope="col">Avg. Progress</th>
              <th scope="col">Quiz</th>
              <th scope="col">Score</th>
            </tr>
          </thead>
          <tbody>          
            <tr *ngFor="let item of pagination.pagedItems;let i  = index">
              <td *ngIf="isDetailedAnalytics"><app-user-info [isPartnerEntityInfo]="true" [userInfo]="item"></app-user-info></td>
              <td *ngIf="!isDetailedAnalytics">
                <a class="detailstext" ata-toggle="tooltip" data-placement="top" title="{{item?.companyName}}" data-rel="fancybox-button" (click)="viewAnalytics(item.companyId)">
                {{item?.companyName | slice:0:15}}
                <span *ngIf="item.companyName?.length>15">...</span>
              </a>
              </td>
              <td>
                <span ata-toggle="tooltip" data-placement="top" title="{{item?.title}}"> {{item?.title | slice:0:15}}
                  <span *ngIf="item.title?.length>15">...</span>
                </span>
                </td>
              <td>
              <i class="circled-number IconCustomization fontStyleNormal"> <strong >{{item?.assetCount}}</strong></i>
              </td>
              <td>
                <app-timestamp [isOnlyDate]="false" [dateAndTime]="item?.publishedOnInUTC">
                </app-timestamp>
              </td>
              <td>
                <i class="circled-number IconopenedCount fontStyleNormal"> <strong >{{item?.openedCount}}</strong></i>
              </td>
              <td>
                <i class="circled-number IconviewedCount fontStyleNormal"> <strong >{{item?.viewedCount}}</strong></i>
              </td> 
              <td>
                <i class="circled-number IconodownloadedCount fontStyleNormal"> <strong >{{item?.downloadedCount}}</strong></i>
              </td> 
                   
              <!-- <td>{{item?.progress}}%</td> -->
              <td>
                <div class="progress heightabjustment">
                    <div class="progress-bar" data-toggle="tooltip" data-placement="top" title="{{item.progress}}%" [ngStyle]="{'width': item.progress + '%'}" style="border-radius:1px;" role="progressbar">
                    </div>
                </div>
                <span *ngIf="item.progress != undefined">{{item.progress}}%</span>
                <span *ngIf="item.progress == undefined">0%</span>
              </td>
              <td>{{item?.quizCount}}</td>
              <td>{{item?.score}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="pagination.totalRecords==0 && !httpRequestLoader.isLoading" class="alert alert-info">
        <strong>No Data Found.</strong>
      </div>
      <!--Pagination-->
      <div *ngIf="pagination.pagedItems.length !== 0" class="pg8 scroll-top-margin" [hidden]="httpRequestLoader.isLoading">
        <app-pagination [pagination]="pagination" [isDropdown]="'false'" (notifyParent)="setPage($event)"
          (notifyParentDropDown)="getUserWiseTrackDetails($event)">
        </app-pagination>
      </div>
    </div>
  </div>
</div>
