.mt25m {
	margin-top: -25px !important;
}

.ml15m {
	margin-left: -15px !important;
}
@media (min-width: 200px) and (max-width: 767px)  { 
	.ml15m {
		padding-right: 0px !important;
	}
  }
  .progress-bar {
	background-color: #29d836 !important;
}
.progress.heightabjustment {
    height: 6px!important;
    background-color: #d0cfcf;
    background-image: none;
    box-shadow: none;
    border-radius: 6px!important;
}

i.IconopenedCount {
  border: 1px solid #3598dc;
  color: #3598dc;
}
i.IconopenedCount:hover {
  border: 1px solid #3598dc;
  background: #3598dc;
  color: #fff;
}


i.IconviewedCount {
  border: 1px solid #8e5fa2;
  color: #8e5fa2;
}
i.IconviewedCount:hover {
  border: 1px solid #8e5fa2;
  background: #8e5fa2;
  color: #fff;
}

i.IconodownloadedCount {
  border: 1px solid #e87e04;
  color: #e87e04;
}
i.IconodownloadedCount:hover {
  border: 1px solid #e87e04;
  background: #e87e04;
  color: #fff;
}

/* table header bgcolor */
.panel-bgMain > .panel-bg{
  background-color: #d9edf7b0;
  border-bottom: 1px solid #ddd;
}
.panel-bgMain {
border-color: #ddd;
}
/* table header bgcolor end */

.panel-heading {
  padding: 11px 15px !important;
}
.table>tbody>tr>td {
  vertical-align: middle !important;
}
/* width */
::-webkit-scrollbar {
	width: 7px;
    height: 7px;  
  }