.read-notification{
	background-color: #dddddd
}
.unread-notification{
	background-color: white;
}

/* CSS Added Nagesh */
.btn-header{
padding: 7px 15px;
    margin-right: -15px;
    position: relative;
    border-radius: 3px !important;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    background-color: #00a6e8;
    color: white;
}

.btn-header:hover{
    background-color: #2b85b4;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle .badge.badge-default{
    background-color: #00a8e7 !important;}

a.disabled{
pointer-events: none;
}
.logo-default{
    width: 115px;
    margin: 10px auto !important;
   padding-top:10px;
}
/* .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle > img{
    margin-top: -9px !important;
} */

@media (max-width: 767px) {
.page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu {
    margin-right: -82px !important;
}
}
.img-circle {
    height: 40px;
    width: 40px;
    border: 1px solid #ccc;
}
.side-bar-css {
right: -19px !important;
}

.to-align-css{
	margin-top: 13px;
	text-align: right;
}

.border-css{
	border: none !important;
	border-bottom: 1px solid #e2e2e2 !important;
}

.custome-response-css{
	margin: -8px 0px 10px 0px;
}

>>> .error-message{
	text-align: left;
}
input.form-control{border: none;width: 100%;padding: 5px;font-size: 1em;border-bottom: 2px solid #efefef;}
input.form-control:focus{border-bottom: 2px solid #2196F3;}
label{font-weight: bold !important;}
.text-danger {color: red !important;}

.alert-dismissible .close{top: 0 !important;right: 0px !important;}
.alert-success,.alert-danger,.alert-warning{color:#fff;border-radius:0}
.alert-success{background-color:#77bf81}
.alert-danger{background-color:#ec6262}
.alert-danger1{background-color:#ec6262;color:white}
.alert-warning{background-color:#f1d43b}
.alert{padding:10px}
.alert-success,.alert-danger,.alert-warning>h5{font-size:14px}
.text{padding-top: 12px;}

.btn-group button {
  background-color: #008fd5; 
  border: 1px solid #3575b5; 
  color: #fff; 
  padding: 6px 16px; 
  cursor: pointer; 
  float: left; 
  font-size: 14px;
}

.btn-group button:not(:last-child) {
  border-right: none; 
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}
.btn-group button:hover {
  background-color: #4db1e2;
}

.refer-vendor-button{
	padding: 17px 5px 0px 0px;
}

