.color-settings-container {
  /* background: #f5f8fa;
  border-radius: 8px; */
  padding: 10px;
  /* width: 340px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  font-family: Arial, sans-serif; */
}

.color-field {
  margin-bottom: 20px;
}

.color-field label {
  display: block;
  color: #888;
  font-size: 15px;
  margin-bottom: 6px;
}

.color-input-row {
  display: flex;
  align-items: center;
}

.color-preview {
  width: 32px;
  height: 32px;
  border: 2px solid #e0e0e0;
  border-radius: 6px;
  margin-right: 10px;
  box-sizing: border-box;
}

input[type="text"] {
  font-size: 16px;
  padding: 6px 10px;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  width: 170px;
}

/* button {
  margin-top: 16px;
  padding: 8px 24px;
  background: #59d77c;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
} */

button:disabled {
  background: #c8e6c9;
  cursor: not-allowed;
}

.error-message {
  color: #d32f2f;
  margin-top: 10px;
}

.lead_details h3 {
    font-size: 16px;
    margin: 0px;
    padding: 9px 4px;
    /* background-color: #f5f8fa; */
    /* border: 1px solid #ddd; */
    border-radius: 8px;
}

.justify-content-end{
    justify-content: end;
}