
<button data-toggle="modal" data-target="#signatureModal">Open Modal</button>

<!-- Modal Structure -->
<div class="modal" id="signatureModal">
  <div class="modal-content">
    <h4>Sign Here</h4>
    <canvas #sigPad 
            class="signature-canvas"
            width="600" 
            height="300"
            (mousedown)="onMouseDown($event)"
            (mousemove)="onMouseMove($event)"
            (mouseup)="onMouseUp()">
    </canvas>
    <div class="signature-actions">
      <button (click)="clear()">Clear</button>
      <button (click)="save()">Save</button>
    </div>
  </div>
</div>

<!-- Button to Open Modal -->
<button (click)="openModal()">Open Signature Modal</button>
