.mt25m {
	margin-top: -25px !important;
}

.ml15m {
	margin-left: -15px !important;
}

.mh530{
	min-height:530px;
}

@media (min-width: 200px) and (max-width: 767px)  { 
	.ml15m {
		margin-left: 0px !important;
		padding: 0px;
	}
  }