<router-outlet *ngIf="!isShowingRouteLoadIndicator && !showLoaderForAuthGuard"></router-outlet>

<!-- I indicate that a router module is being loaded asynchronously. -->
<div *ngIf="isShowingRouteLoadIndicator || showLoaderForAuthGuard" id="router-loader">
  <img   [src]=env.loaderGif  alt="">
    <p>l</p>
    <p>o</p>
    <p>a</p>
    <p>d</p>
    <p>i</p>
    <p>n</p>
    <p>g</p>
  </div>

  <!--Chat GPT Modal-->
  <app-chat-gpt-modal [isChatGptIconDisplayed]="isChatGptIconDisplayed" [isShowingRouteLoadIndicator]="isShowingRouteLoadIndicator" [showLoaderForAuthGuard]="showLoaderForAuthGuard"></app-chat-gpt-modal>
  
  