<div class="modal" tabindex="-1" role="dialog" *ngIf="showSignatureModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Signature</h5>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <app-signature [isFromModalPopUp]="true" [isFromDam]="isFromDam" (notifyAddImageToPdf)="notifyAddSignatureImageToPdf($event)"></app-signature>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>