:host /deep/ .video-js .vjs-progress-holder {
    height: 2.3em;
}
:host /deep/ .video-js .vjs-control-bar  {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3.5em;
}

:host  /deep/ .video-js .vjs-progress-holder .vjs-play-progress, .video-js .vjs-progress-holder .vjs-load-progress, .video-js
.vjs-progress-holder .vjs-tooltip-progress-bar, .video-js .vjs-progress-holder .vjs-load-progress {
	height: 2.3em;

}
 :host /deep/ .video-js .vjs-progress-control:hover .vjs-progress-holder {
    height: 2.3em;
    font-size :1.0em;
  }
 :host /deep/ .vjs-mouse-display {
   display :none;
 }

:host /deep/ .video-js .vjs-progress-control:hover .vjs-mouse-display{
    display :none;
 }
 :host /deep/ .video-js .vjs-play-progress:before{
    position: absolute;
    font-size: 0em;
}
:host /deep/ .vjs-remaining-time-display {
     font-size: 12px;
}

:host /deep/ .vjs-time-tooltip{
    display: none;
}
 :host /deep/ .video-js .vjs-fullscreen-control{
    background-color:transparent;
}
:host /deep/ .video-js .vjs-progress-holder .vjs-load-progress   {
	position: absolute;
	display: block;
	height: 2.3em;
}
:host /deep/ .video-js .vjs-volume-menu-button{
	font-size :11px;
    margin-left: -11px ;
	}
:host /deep/ .video-js .vjs-play-control {
	font-size :11px;
    background-color:transparent;
}

:host /deep/ .video-js .vjs-progress-holder .vjs-play-progress :hover {
	margin-top : 5px;
	font-size: 5px;

}
 :host /deep/ .video-js .vjs-play-progress:after {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    top: -2.8em;
    right: -1.9em;
    font-size: 0.9em;
    color: #000;
    content: attr(data-current-time);
    padding: 6px 8px 8px 8px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
}
/* this time tool tip is not affecting..i commented the video-js,css line 687 code */
:host /deep/ .video-js .vjs-progress-control:hover .vjs-time-tooltip,
.video-js .vjs-progress-control:hover .vjs-mouse-display:after,
.video-js .vjs-progress-control:hover .vjs-play-progress:after {
    font-family: Arial, Helvetica, sans-serif;
    visibility: visible;
    font-size: 1em;
}
:host /deep/.video-js.vjs-panorama .vjs-video-notice-label{
    top: 13%;
    left: 10%;
}
.logoFullscreen {
    position: absolute;
    top: 15px !important;
    width: 91px !important;
    height: 58px !important;
    right: 45px !important;
}
.hideDiv {
    display: none;
}
:host /deep/.video-js .vjs-big-play-button {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    line-height: 55px
 }
:host /deep/ .video-js .vjs-volume-panel .vjs-volume-control.vjs-volume-horizontal {
    position: relative;
    padding-top: 19px;
    padding-bottom: 15px;
}
