.copyright-css {
	text-align: center;
	padding: 10px 50px;
	color: #ffffff;
	font-size: 15px;
	padding-bottom: 0px;
}

a:link {
	color: rgb(226, 133, 27) !important;
	text-decoration: underline !important;
}
