<!-- <div class="tab-content"> -->
  <div class="tab-pane">
    <section class="py-5 border-none" *ngIf="integrationTabIndex == 0">
      <div class="col-xs-12 integration-row">
        <div class="col-lg-4 col-sm-6 col-md-6 col-xs-12 intg_mb_16" *ngIf="!httpRequestLoader.isLoading">
          <div [className]="activeCalendarDetails?.type == 'CALENDLY'? 'card mb-5 mb-lg-0 activeCalendar' : 'card mb-5 mb-lg-0 integration_cards'">
            <div class="card-body" style="padding:10px;">
              <span *ngIf="calendlyRibbonText == 'configured'" class="integration-cards">
                <a (click)="calendlySettings()" data-toggle="tooltip" data-placement="top" title="Calendly Settings"><i
                    class="fa fa-cog" style="font-size: 20px !important;"></i></a>
              </span>
              <h5 class="card-title  text-uppercase text-center" style="padding-top: 4%;">Calendly</h5>


              <div class="ribbon draft config integration-ribbon" style="left:10px"
                *ngIf="calendlyRibbonText == 'configured'">
                <span [style.background-color]="'green'">{{calendlyRibbonText}}</span>
              </div>
              <div class="ribbon draft integration-ribbon" style="left:10px" *ngIf="calendlyRibbonText != 'configured'">
                <span [style.background-color]="'yello'">{{calendlyRibbonText}}</span>
              </div>
              <div style="height: 120px;">
                <div>
                  <img src="assets/images/calendar/calendly.png"
                    style="margin-top:20px; text-align: center;width:100%">
                </div>
              </div>

              <a (click)="configCalendly()" class="btn btn-block btn-primary text-uppercase"
                *ngIf="calendlyRibbonText == 'configure'" translate>configure</a>
              <a (click)="reConfigCalendly()" class="btn btn-block btn-primary text-uppercase"
                *ngIf="calendlyRibbonText == 'configured'" translate>re
                configure</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="py-5 border-none" *ngIf="integrationTabIndex == 1">
      <app-calendar-integration-settings [integrationType]="integrationType"
        (closeEvent)="refreshIntegrationSettings($event)" (unlinkEvent)="refreshIntegrationSettings($event)"></app-calendar-integration-settings>
    </section>
  </div>
<!-- </div> -->