<style type="text/css">
  .disabled { pointer-events: none; cursor: not-allowed; }
</style>
<div class="page-content" [style.background-color]="referenceService.pageContnetBgColor" [class.ml0]="authenticationService.isSuperAdmin()">
	<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<!-- <app-loader [model]="httpRequestLoader." *ngIf="httpRequestLoader.isLoading"></app-loader> -->
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li *ngIf="!authenticationService.isSuperAdmin()"><i class="fa fa-home"></i> <a [routerLink]="referenceService.homeRouter">Home</a>
			<i class="fa fa-angle-right"></i></li>
		    <li *ngIf="authenticationService.isSuperAdmin()"><i class="fa fa-home"></i><a [routerLink]="['/home/dashboard/admin-report']">Admin Report</a><i class="fa fa-angle-right"></i></li>
			<li>
				<a>Add/Manage Team Members</a>
			</li>
		</ul>
	</div>
		<div class="alert alert-danger" *ngIf="uiError?.length>0" id="ui-error-div">
	  		<strong>{{uiError}}</strong>
		</div>
		<div class="alert alert-danger"  id="csv-error-div" style="display: none;">
		<a (click)="referenceService.hideDiv('csv-error-div')" class="close" aria-label="close">x</a>
			<div class="container">
				<table class="table">
				<ng-container *ngFor="let error of csvErrors">
		  			<tr>
						<td style="text-align: center;font-weight:bold">{{error}}</td>
					</tr>
					<hr>
		  		</ng-container>
				</table>
	  		</div>
		</div>
	    <div *ngIf="uiError?.length==0 && csvErrors?.length==0">
		<app-response-message style="position: relative; bottom: 9px;" [customResponse]="customResponse" *ngIf="customResponse.isVisible"></app-response-message>
		</div>
	<!-- BEGIN PAGE CONTENT-->
	<div class="row">
			<div class="clearfix" [class.disabled]="authenticationService.isSuperAdmin()">
				<section class="clearfix">
				<div class="col-xs-6 col-sm-3">
						<div class="btn-xs btn-info fileinput-button btn-block rounded-0" style="overflow: hidden;position: relative;"  *ngIf="!isAddTeamMember && !isUploadCsv">
							<h6 style="text-align: center;">Upload Csv</h6>
							<input type="file" class="file-upload" #fileImportInput  name="File Upload" id="txtFileUpload" accept=".csv" (change)="fileChangeListener($event)" />
						</div>
						<div class="btn-xs btn-info fileinput-button btn-block rounded-0" style="overflow: hidden;position: relative;cursor: not-allowed;" disabled="disabled"
							*ngIf="isAddTeamMember  || isUploadCsv">
							<h6 style="text-align: center;">Upload Csv</h6>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3">
						<button class="btn-xs btn-primary btn-block rounded-0" (click)="showAddTeamMember()" *ngIf="!isAddTeamMember && !isUploadCsv">
							<h6>Add Team Member</h6>
						</button>
						<button class="btn-xs btn-primary btn-block rounded-0" disabled="disabled" *ngIf="isAddTeamMember || isUploadCsv" style="cursor: not-allowed" >
							<h6>Add Team Member</h6>
						</button>
					</div>
					<div  align="right" style="margin-right:20px;">
						<a class="btn btn-success" (click)="downloadEmptyCsv()" download style="color: white;">Download Csv File</a>
					</div>
				</section>
			</div>

			<div class="portlet light border-radius-0" *ngIf="isAddTeamMember" style="height: 85px;">
				<div class="portlet-body">
					<form id="add-team-member-form">
						<div class="col-sm-3 clearfix">
							<div  [class]="emaillIdDivClass">
							 <input  type="email"  class="form-control" id="emailId" placeholder="Email Address" [(ngModel)]="team.emailId" name="emailId" (input)="validateEmailId(team.emailId)">
							 <span class="text-danger" *ngIf="!teamMemberUi.isValidForm">{{teamMemberUi.errorMessage}}</span>
							</div>
						</div>
						<div class="col-sm-3 ">
							<div class="form-group">
									<input type="text" id="firstName" placeholder="First Name" class="form-control" [(ngModel)]="team.firstName" name="firstName"/>
							</div>
						</div>
						<div class="col-sm-3 ">
							<div class="form-group">
								<input type="text"  name="last"  class="form-control" id="lastName" placeholder="Last Name"  [(ngModel)]="team.lastName" name="lastName">
							</div>
						</div>
						<button type="button" class="btn btn-primary" *ngIf="teamMemberUi.isValidForm" (click)="addTeamMember()">Add</button>
						<button  class="btn btn-primary" *ngIf="!teamMemberUi.isValidForm" disabled="disabled">Add</button>
						<button  class="btn btn-info"   type="reset" (click)="clearForm()">Cancel</button>
					</form>
				</div>
			</div>

		<!-- BEGIN EXAMPLE TABLE PORTLET-->
			<div class="portlet light" *ngIf="!teamMemberUi.emptyTable">
				<div class="portlet-title">
					<div class="caption">Added Team Members</div>
				</div>
				<div class="portlet-body clearfix">
					<div class="table-responsive" style="overflow-x:inherit">
						<table class="table table-striped  table-hover" id="add-team-member-table">
							<thead>
								<tr>
									<th class="table-checkbox" id="first-header">
										<h4>
											<img src="assets/images/user-permission.png" class="user-permission-img">User & Permissions
										</h4>
									</th>
									<th  class="rest-header" *ngIf="!authenticationService.module.isVendor">
										<br>Enable As Org Admin
									</th>
									<th  class="rest-header">
										<i class="fa fa-check-circle" aria-hidden="true"></i><br>All
									</th>
									<th class="rest-header">
										<i class="fa fa-file-video-o" aria-hidden="true"></i><br>Video
									</th>
									<th class="rest-header" *ngIf="!authenticationService.module.isVendor">
										<i class="fa fa-users" aria-hidden="true"></i><br>Contacts
									</th>
									<th class="rest-header" >
										<i class="fa fa-bullhorn" aria-hidden="true"></i><br>Campaign
									</th>
									<th class="rest-header">
										<i class="fa fa-line-chart" aria-hidden="true"></i><br>Stats
									</th>
									<th class="rest-header">
										<i class="fa fa-envelope" aria-hidden="true"></i><br>Email
									</th>
									<th class="rest-header">
										<i class="fa fa-share-square-o" aria-hidden="true"></i><br>Social Share
									</th>
									<th class="rest-header">
										<i class="fa fa-users" aria-hidden="true"></i><br>Partners
									</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
							<ng-container *ngFor="let teamMember of teamMembers;let i=index">
							<tr id="team-member-{{i}}">
								<!-- <td><i class="fa fa-user" aria-hidden="true"></i>{{teamMember.emailId | lowercase}}</td> -->
								<td><app-user-info [isPartnerEntityInfo]="true" [userInfo]="teamMember">
								</app-user-info></td>
								<ng-container *ngIf="!authenticationService.module.isVendor">
									<td *ngIf="teamMember.all">
										<switch [status]="teamMember.orgAdmin" [onText]="callActionSwitch.onTextValue"
													 [offText]="callActionSwitch.offTextValue"	[onColor]="callActionSwitch.onGreenColorSwitch"
													 [offColor]="callActionSwitch.onDefaultColorSwitch" [size]="callActionSwitch.bsize"
													(statusChange)="changeOrgAdminStatus($event,i,teamMember)">
										</switch>
									</td>
									<td *ngIf="!teamMember.all">
										<switch [status]="teamMember.orgAdmin" [onText]="callActionSwitch.onTextValue"
													 [offText]="callActionSwitch.offTextValue"	[onColor]="callActionSwitch.onGreenColorSwitch"
													 [offColor]="callActionSwitch.onDefaultColorSwitch" [size]="callActionSwitch.bsize"
													(statusChange)="changeOrgAdminStatus($event,i,teamMember)" [disabled]="callActionSwitch.disabled">
										</switch>
									</td>
								</ng-container>
								<td>
									<input type="checkbox" (change)="addAllAuthorities($event,teamMember,'add-team-member-table',i)" class="check-all-{{i}}"  [(ngModel)]="teamMember.all">
									<br>
								</td>
								<td><input type="checkbox" id="role-checkbox-{{i}}" [(ngModel)]="teamMember.video" class="module-checkbox-{{i}}" (change)="countCheckedCheckBoxesLength(teamMember,i,'add-team-member-table')"></td>
								<td *ngIf="!authenticationService.module.isVendor"><input type="checkbox" id="role-checkbox-{{i}}" [(ngModel)]="teamMember.contact" class="module-checkbox-{{i}}" (change)="countCheckedCheckBoxesLength(teamMember,i,'add-team-member-table')"></td>
								<td><input type="checkbox" id="role-checkbox-{{i}}" [(ngModel)]="teamMember.campaign" class="module-checkbox-{{i}}" (change)="countCheckedCheckBoxesLength(teamMember,i,'add-team-member-table')"></td>
								<td><input type="checkbox" id="role-checkbox-{{i}}" [(ngModel)]="teamMember.stats" class="module-checkbox-{{i}}" (change)="countCheckedCheckBoxesLength(teamMember,i,'add-team-member-table')"></td>
								<td><input type="checkbox" id="role-checkbox-{{i}}"[(ngModel)]="teamMember.emailTemplate" class="module-checkbox-{{i}}" (change)="countCheckedCheckBoxesLength(teamMember,i,'add-team-member-table')"></td>
								<td><input type="checkbox" id="role-checkbox-{{i}}"[(ngModel)]="teamMember.socialShare" class="module-checkbox-{{i}}" (change)="countCheckedCheckBoxesLength(teamMember,i,'add-team-member-table')"></td>
								<td><input type="checkbox" id="role-checkbox-{{i}}"[(ngModel)]="teamMember.partners" class="module-checkbox-{{i}}" (change)="countCheckedCheckBoxesLength(teamMember,i,'add-team-member-table')"></td>
								<td><a class="btn-sm" (click)="deleteRow(i,teamMember.emailId)"><i class="fa fa-times red"></i></a></td>
							</tr>
							</ng-container>

							</tbody>
						</table>
					</div>
					<hr>
					<div class="pull-right">
						<button class="btn btn-primary" (click)="save()">Save</button>
						<button class="btn btn-secondary" (click)="clearRows()">Cancel</button>
					</div>
				</div>
			</div>
			<!-- ---------------List Of Team Members -->
			<div class="portlet light" *ngIf="teamMemberUi.emptyTable">
				<div class="portlet-title">
					<div class="caption">Team Members List</div>
						<div class="tools" style="padding: 0;margin: 0;">
							<div class="inputs" align="right" style="padding:0;display: inline;">
								<div class="portlet-input input-inline input-large">
									<div class="input-icon right">
										<!-- <i class="icon-magnifier" (click)="searchTeamMembers()" style="cursor: pointer;max-width: 80%"></i>
										<input type="text"  class="form-control input-circle" placeholder="search..." [(ngModel)]="pagination.searchKey" [ngModelOptions]="{standalone: true}"> -->
                    <input type="text" class="form-control" [(ngModel)]="pagination.searchKey" [ngModelOptions]="{standalone: true}" placeholder="search..." (keypress)="eventHandler($event.keyCode)">
                    <button class="glyphicon glyphicon-remove search-box-item-clear" *ngIf="pagination.searchKey" (click)="pagination.searchKey=''"></button>
                    <button type="submit" class="search-box-item-click" (click)="searchTeamMembers()"><i class="fa fa-search"></i></button>

                  </div>
								</div>
							</div>
							<a class="reload" (click)="refreshList()" style="margin: -5px 15px;"></a>
						</div>
				</div>
				<div class="portlet-body clearfix">
					<div class="table-responsive">
					<app-list-loader  *ngIf="httpRequestLoader.isLoading"></app-list-loader>
						<table class="table table-striped  table-hover" id="list-team-member-table"  *ngIf="!httpRequestLoader.isLoading">
							<thead>
								<tr>
									<th class="table-checkbox" id="first-header">
										<h4>
											<img src="assets/images/user-permission.png" class="user-permission-img">User & Permissions
										</h4>
									</th>
								<th  class="rest-header" *ngIf="!authenticationService.module.isVendor">
										<br>Enable As Org Admin
									</th>
									<th class="rest-header">
										<i class="fa fa-check-circle" aria-hidden="true"></i><br>All
									</th>
									<th class="rest-header">
										<i class="fa fa-file-video-o" aria-hidden="true"></i><br>Video
									</th>
									<th class="rest-header" *ngIf="!authenticationService.module.isVendor">
										<i class="fa fa-users" aria-hidden="true"></i><br>Contacts
									</th>
									<th class="rest-header">
										<i class="fa fa-bullhorn" aria-hidden="true"></i><br>Campaign
									</th>
									<th class="rest-header">
										<i class="fa fa-line-chart" aria-hidden="true"></i><br>Stats
									</th>
									<th class="rest-header">
										<i class="fa fa-envelope" aria-hidden="true"></i><br>Email
									</th>
									<th class="rest-header">
										<i class="fa fa-share-square-o" aria-hidden="true"></i><br>Social Share
									</th>
									<th class="rest-header">
										<i class="fa fa-users" aria-hidden="true"></i><br>Partners
									</th>
									<th class="rest-header">
										<i class="fa fa-ban" aria-hidden="true"></i><br>Enabled
									</th>
									<th *ngIf="pagination.totalRecords>0" (click)="deleteAll()">
										<a style="color: black;"><i class="fa fa-trash" aria-hidden="true"></i><br>Delete</a>
									</th>
								</tr>
							</thead>
							<ng-container *ngIf="pagination.totalRecords>0 && teamMemberUi.emptyTable">
							<tbody>
							<ng-container *ngFor="let teamMember of teamMembersList;let i=index">
							<tr id="list-team-member-{{i}}" [class.disabled]="authenticationService.isSuperAdmin()">
								<!-- <td>
									<i class="fa fa-user" aria-hidden="true"></i>{{teamMember.emailId | lowercase}}
								</td> -->
								<td><app-user-info [isPartnerEntityInfo]="true" [userInfo]="teamMember">
								</app-user-info></td>
								<ng-container *ngIf="!authenticationService.module.isVendor">
									<td *ngIf="teamMember.all">
										<switch *ngIf="teamMember.status!='UNAPPROVED'"  [status]="teamMember.orgAdmin" [onText]="callActionSwitch.onTextValue"
													 [offText]="callActionSwitch.offTextValue"	[onColor]="callActionSwitch.onGreenColorSwitch"
													 [offColor]="callActionSwitch.onDefaultColorSwitch" [size]="callActionSwitch.bsize"
													(statusChange)="changeOrgAdminStatus($event,i,teamMember)">
										</switch>

										<switch *ngIf="teamMember.status=='UNAPPROVED'" [status]="teamMember.orgAdmin" [onText]="callActionSwitch.onTextValue"
													 [offText]="callActionSwitch.offTextValue"	[onColor]="callActionSwitch.onGreenColorSwitch"
													 [offColor]="callActionSwitch.onDefaultColorSwitch" [size]="callActionSwitch.bsize"
													 [disabled]="callActionSwitch.disabled">
										</switch>

									</td>
									<td *ngIf="!teamMember.all">
										<switch [status]="teamMember.orgAdmin" [onText]="callActionSwitch.onTextValue"
													 [offText]="callActionSwitch.offTextValue"	[onColor]="callActionSwitch.onGreenColorSwitch"
													 [offColor]="callActionSwitch.onDefaultColorSwitch" [size]="callActionSwitch.bsize"
													(statusChange)="changeOrgAdminStatus($event,i,teamMember)" [disabled]="callActionSwitch.disabled">
										</switch>
									</td>
								</ng-container>
								<td>
									<input *ngIf="teamMember.orgAdmin" disabled="disabled" type="checkbox" (change)="addAllAuthorities($event,teamMember,'list-team-member-table',i)" class="check-all-{{i}}"  [(ngModel)]="teamMember.all">
									<input *ngIf="!teamMember.orgAdmin"  type="checkbox" (change)="addAllAuthorities($event,teamMember,'list-team-member-table',i)" class="check-all-{{i}}"  [(ngModel)]="teamMember.all">
								<br>
								</td>
								<ng-container *ngIf="(teamMember.orgAdmin || teamMember.all);then disable else enable"></ng-container>
								<ng-template #disable>
									<td><input type="checkbox" disabled="disabled" id="role-checkbox-{{i}}" [(ngModel)]="teamMember.video" class="module-checkbox-{{i}}" (change)="countCheckedCheckBoxesLength(teamMember,i,'list-team-member-table')"></td>
									<td  *ngIf="!authenticationService.module.isVendor"><input type="checkbox"  disabled="disabled" id="role-checkbox-{{i}}" [(ngModel)]="teamMember.contact" class="module-checkbox-{{i}}" (change)="countCheckedCheckBoxesLength(teamMember,i,'list-team-member-table')"></td>
									<td><input type="checkbox" disabled="disabled"  id="role-checkbox-{{i}}" [(ngModel)]="teamMember.campaign" class="module-checkbox-{{i}}" (change)="countCheckedCheckBoxesLength(teamMember,i,'list-team-member-table')"></td>
									<td><input type="checkbox" disabled="disabled"  id="role-checkbox-{{i}}" [(ngModel)]="teamMember.stats" class="module-checkbox-{{i}}" (change)="countCheckedCheckBoxesLength(teamMember,i,'list-team-member-table')"></td>
									<td><input type="checkbox" disabled="disabled" id="role-checkbox-{{i}}" [(ngModel)]="teamMember.emailTemplate" class="module-checkbox-{{i}}" (change)="countCheckedCheckBoxesLength(teamMember,i,'list-team-member-table')"></td>
									<td><input type="checkbox" disabled="disabled" id="role-checkbox-{{i}}" [(ngModel)]="teamMember.socialShare" class="module-checkbox-{{i}}" (change)="countCheckedCheckBoxesLength(teamMember,i,'list-team-member-table')"></td>
									<td><input type="checkbox" disabled="disabled"  id="role-checkbox-{{i}}" [(ngModel)]="teamMember.partners" class="module-checkbox-{{i}}" (change)="countCheckedCheckBoxesLength(teamMember,i,'list-team-member-table')"></td>
								</ng-template>
								<ng-template #enable>
									<td><input type="checkbox"  id="role-checkbox-{{i}}" [(ngModel)]="teamMember.video" class="module-checkbox-{{i}}" (change)="countCheckedCheckBoxesLength(teamMember,i,'list-team-member-table')"></td>
									<td  *ngIf="!authenticationService.module.isVendor"><input type="checkbox"  id="role-checkbox-{{i}}" [(ngModel)]="teamMember.contact" class="module-checkbox-{{i}}" (change)="countCheckedCheckBoxesLength(teamMember,i,'list-team-member-table')"></td>
									<td><input type="checkbox"  id="role-checkbox-{{i}}" [(ngModel)]="teamMember.campaign" class="module-checkbox-{{i}}" (change)="countCheckedCheckBoxesLength(teamMember,i,'list-team-member-table')"></td>
									<td><input type="checkbox"  id="role-checkbox-{{i}}" [(ngModel)]="teamMember.stats" class="module-checkbox-{{i}}" (change)="countCheckedCheckBoxesLength(teamMember,i,'list-team-member-table')"></td>
									<td><input type="checkbox"  id="role-checkbox-{{i}}" [(ngModel)]="teamMember.emailTemplate" class="module-checkbox-{{i}}" (change)="countCheckedCheckBoxesLength(teamMember,i,'list-team-member-table')"></td>
									<td><input type="checkbox"  id="role-checkbox-{{i}}" [(ngModel)]="teamMember.socialShare" class="module-checkbox-{{i}}" (change)="countCheckedCheckBoxesLength(teamMember,i,'list-team-member-table')"></td>
									<td><input type="checkbox"  id="role-checkbox-{{i}}" [(ngModel)]="teamMember.partners" class="module-checkbox-{{i}}" (change)="countCheckedCheckBoxesLength(teamMember,i,'list-team-member-table')"></td>
								</ng-template>
								<td *ngIf="teamMember.teamMemberId==secondOrgAdminId">
								<switch [status]="teamMember.enabled" [onText]="callActionSwitch.onTextValue"
											 [offText]="callActionSwitch.offTextValue"	[onColor]="callActionSwitch.onGreenColorSwitch"
											 [offColor]="callActionSwitch.onDefaultColorSwitch" [size]="callActionSwitch.bsize"
											  (statusChange)="changeTeamMemberStatus(teamMember,$event)" [disabled]="callActionSwitch.disabled">
									</switch>
								</td>
								<td *ngIf="teamMember.teamMemberId!=secondOrgAdminId">
								<switch *ngIf="teamMember.status=='UNAPPROVED'" [status]="teamMember.enabled" [onText]="callActionSwitch.onTextValue"
											 [offText]="callActionSwitch.offTextValue"	[onColor]="callActionSwitch.onGreenColorSwitch"
											 [offColor]="callActionSwitch.onDefaultColorSwitch" [size]="callActionSwitch.bsize"
											  (statusChange)="changeTeamMemberStatus(teamMember,$event)" [disabled]="callActionSwitch.disabled">
									</switch>
								<switch *ngIf="teamMember.status!='UNAPPROVED'" [status]="teamMember.enabled" [onText]="callActionSwitch.onTextValue"
											 [offText]="callActionSwitch.offTextValue"	[onColor]="callActionSwitch.onGreenColorSwitch"
											 [offColor]="callActionSwitch.onDefaultColorSwitch" [size]="callActionSwitch.bsize"
											  (statusChange)="changeTeamMemberStatus(teamMember,$event)">
									</switch>
								</td>
								<td><a class="btn-sm" (click)="showPopup(teamMember)"><em	class="fa fa-times red"></em></a></td>
							</tr>
							</ng-container>
							</tbody>
							</ng-container>
							<ng-container>
								<tr>
								<td colspan="12">
										<div  *ngIf="pagination.totalRecords==0" class="alert alert-info" style="text-align: center;"><strong>No Team Members Found</strong></div>
									</td>
								</tr>
							</ng-container>
						</table>
					</div>
					<hr>
						<!-- -----------Pagination-------------- -->
						<div *ngIf="pagination.totalRecords > 0 && !httpRequestLoader.isLoading && !httpRequestLoader.isServerError" class="pull-left">
						<ul *ngIf="pagination.pager.pages && pagination.pager.pages.length" class="pagination">
		                        <li [ngClass]="{disabled:pagination.pager.currentPage === 1}">
		                           <a (click)="setPage(1)" [class.disabled]="pagination.pager.currentPage === 1">First</a>
		                        </li>
		                        <li [ngClass]="{disabled:pagination.pager.currentPage === 1}">
		                            <a (click)="setPage(pagination.pager.currentPage - 1)" [class.disabled]="pagination.pager.currentPage === 1">Previous</a>
		                         </li>
		                         <li *ngFor="let page of pagination.pager.pages" [ngClass]="{active:pagination.pager.currentPage === page}">
		                            <a (click)="setPage(page)" [class.disabled]="pagination.pager.currentPage === page">{{page}}</a>
		                         </li>
		                         <li [ngClass]="{disabled:pagination.pager.currentPage === pagination.pager.totalPages}">
		                             <a (click)="setPage(pagination.pager.currentPage + 1)" [class.disabled]="pagination.pager.currentPage === pagination.pager.totalPages">Next</a>
		                         </li>
		                          <li [ngClass]="{disabled:pagination.pager.currentPage === pagination.pager.totalPages}">
		                             <a (click)="setPage(pagination.pager.totalPages)" [class.disabled]="pagination.pager.currentPage === pagination.pager.totalPages">Last</a>
		                         </li>
		                       </ul>
					</div>
					<!-- -----------End Of Pagination-------------- -->
					<div class="pull-right" style="margin-top: 9px;" *ngIf="pagination.totalRecords > 0 && !httpRequestLoader.isLoading && !httpRequestLoader.isServerError" [class.disabled]="authenticationService.isSuperAdmin()">
						<button class="btn btn-primary" (click)="update()">Update</button>
					</div>
				</div>
			</div>
			<!-- END EXAMPLE TABLE PORTLET-->
	</div>
	<div id="addTeamMember" class="modal"  tabindex="-1" role="dialog"  data-keyboard="false" data-backdrop="static">
 	 <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
		<a class="close-circle" (click)="clearForm()"><i class="fa fa-times"></i></a>
		<h4 class="modal-title">Add Team Member</h4>
      </div>
      <div class="modal-body">
      <form class="form-horizontal" id="add-team-member-form">
		   <div class="form-inline">
		   <label class="control-label col-sm-2" for="firstName" style="color:blue"><i class="glyphicon glyphicon-user" style="right:11px" aria-hidden="true"></i></label>
		   <div class="form-group col-sm-5">
			      <input type="text" style="border:none" id="firstName" placeholder="First Name" class="form-control" [(ngModel)]="team.firstName" name="firstName">
			    <div class="textCss"></div>
		  </div>
		   <div class="form-group col-sm-5">
			      <input type="text" style="border:none" id="lastName" placeholder="Last Name" class="form-control" [(ngModel)]="team.lastName" name="lastName">
			       <div class="textCss"></div>
		  </div>
		  </div>
		  <div class="form-group">
		    <label class="control-label col-sm-2" for="email" style="color:#8512b7;left: 12px"><i class="fa fa-envelope-o" aria-hidden="true"><span style="color:red;"> *</span></i></label>
		    <div class="col-sm-10">
		     <input  type="email"  class="form-control" id="emailId" placeholder="Email Address" [(ngModel)]="team.emailId" name="emailId" (input)="validateEmailId(team.emailId,false)" (blur)="validateEmailId(team.emailId,true)" style="border: none;">
		      <div class="textCss"></div>
		       <span class="text-danger" *ngIf="!teamMemberUi.isValidForm">{{teamMemberUi.errorMessage}}</span>
		    </div>
		  </div>
      </form>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-primary" *ngIf="teamMemberUi.isValidForm" (click)="addTeamMember()">Add</button>
		<button  class="btn btn-primary" *ngIf="!teamMemberUi.isValidForm" disabled="disabled">Add</button>
		<button  class="btn btn-info"   type="reset" (click)="clearForm();">Cancel</button>
      </div>
    </div>
  </div>
</div>
	<!-- END PAGE CONTENT -->
	<!-- -Deleting Team Member Pop Up -->
	<div id="delete-team-member-modal" class="modal"  tabindex="-1" role="dialog"  data-keyboard="false" data-backdrop="static">
 	 <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
		<a class="close-circle"  (click)="hidePopup()"><i class="fa fa-times"></i></a>
		<h4 class="modal-title">Please select the email Id to transfer your data</h4>
      </div>
      <div class="modal-body">
      <form class="form-horizontal" id="delete-team-member-form">
		  <div class="form-group">
		    <label class="control-label col-sm-2" for="email" style="color:#8512b7;left: 12px">
		    	<i class="fa fa-envelope-o" aria-hidden="true"></i>
		    </label>
		    <div class="col-sm-10">
      		<select class="form-control" id="org-id" [(ngModel)]="selectedId" name="name">
      			<option value="0">Please select emailId</option>
      			<option *ngFor="let data of emailIds" [ngValue]="data.id">{{data.emailId}}</option>
      		</select>
		      <div class="textCss"></div>
		    </div>
		  </div>
      </form>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="delete()" *ngIf="selectedId>0" >Go</button>
       <button type="button" class="btn btn-primary" *ngIf="selectedId==0" disabled="disabled">Go</button>
        <button type="button" class="btn btn-info" (click)="hidePopup()" >Cancel</button>
      </div>
    </div>
  </div>
</div>
<app-scroll-top></app-scroll-top>
</div>
