<!-- <div *ngIf="customResponse.isVisible">
    <div [ngClass]="customResponse?.responseType=='SUCCESS'? 'alert alert-success' : customResponse?.responseType=='ERROR'? 'alert alert-danger' : 'alert alert-info'">
      <a *ngIf="customResponse?.responseType!='INFO'" (click)="customResponse.isVisible=false">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="customResponse.responseType = null">
        <span aria-hidden="true"></span>
      </button>
      </a>
      <span class="alert-message-fw" [innerHTML]="customResponse.responseMessage"></span>
    </div>
  </div> -->


  <div *ngIf="customResponse.responseType != null">
    <div class="col-xs-12 alert alert-dismissible m0" role="alert"
      [ngClass]="{'alert-success': customResponse.responseType == 'SUCCESS',
        'alert-danger': customResponse.responseType == 'ERROR',
        'alert-info': customResponse.responseType == 'INFO'}">
      <button type="button" class="close" data-dismiss="alert"
        aria-label="Close" (click)="customResponse.responseType = null">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 style="padding-top: 6px;">
				<span [ngClass]="customResponse?.responseType=='SUCCESS'? 'text alert-message-fw login-success' : customResponse?.responseType=='ERROR'? 'text alert-message-fw login-error' : 'text alert-message-fw'"  id='responseMessage'
				[innerHTML]="customResponse.responseMessage"></span>
		</h4>
    </div>
  </div>