.alert-dismissible .close {
  top: 0 !important;
  right: 0px !important;
}
.alert-success,
.alert-danger {
  border-radius: 0;
}
.alert-success {
  border-radius: 3px !important;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-danger {
  border-radius: 3px !important;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert {
  padding: 10px;
}
.alert-success,
.alert-danger > h5 {
  font-size: 14px;
}
.text {
  padding-top: 12px;
}

.pt6 {
  padding-top: 6px;
}
