.dashboard-stat2 {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.dashboard-stat2:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.loader-container{
	position: inherit;
	margin: 10em 0;
}