<div class="page-content clearfix">
  <div class="page-bar square-box margin-bottom-10px">
    <ul class="page-breadcrumb">
      	<li>
      		<i class="fa fa-home"></i>
      		<a [routerLink]="referenceService.homeRouter">Home</a>
      		<i class="fa fa-angle-right"></i>
    	</li>
      	<li>Facebook Accounts</li>
    </ul>
  </div>
	<div *ngIf="socialConnections?.length > 0">
		<h4>Active Facebook Accounts</h4>
	</div>
	<section *ngFor="let socialConnection of socialConnections">
		<div class="col-xs-12 col-sm-6 col-md-4 m0" *ngIf="socialConnection.source == 'FACEBOOK'" style="padding: 5px !important;">
			<div class="dashboard-stat2 m0 rounded-0">
				<a [routerLink]="['/home/social/facebook-posts', socialConnection.profileId]">
         				<div class="display">
						<div class="number col-xs-9 text-left"
							style="padding-left: 5px; padding-right: 0px;">
							<h5 class="spn facebook-color">{{socialConnection.profileName}}</h5>
						</div>
						<div class="col-xs-3 text-right">
							<img class="img-responsive img-circle"
								alt="{{socialConnection.profileName}}"
								src="{{socialConnection.profileImage}}"
								style="height: auto; width: 100%;border: 1px solid #ccc9c9;padding: 2px;">
							<img class="img-circle" alt="facebook"
								src="https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/facebook_circle-20.png"
								style="position: relative;top: -15px;right: 0;">
						</div>
					</div>
				</a>
			</div>
		</div>
	</section>
</div>
