.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .search-input {
    padding: 0px 0px 0px 5px;
    border: none;
    outline: none;
    font-size: 14px;
  }
  
  .search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  