sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -.5em;
}

/* Dropdown Search */
.welcome-search-container {
  display: flex;
  align-items: center;
  float: inline-start;
  margin-right: 10px;
}

.welcome-dropdown {
  position: relative;
}

.welcome-dropdown input[type="checkbox"] {
  display: none;
}

.welcome-dropdown label {
  background-color: #f8f9fa;
  border: 1px solid #d1d5db;
  border-radius: 7px 0px 0px 7px;
  padding: 6px 12px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 120px;
  margin: 0px;
}

.welcome-dropdown .caret {
  margin-left: 8px;
  border-top: 5px solid #333;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  display: inline-block;
}

.welcome-dropdown input[type="checkbox"]:checked+label .caret {
  transform: rotate(180deg);
}

.welcome-dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  list-style: none;
  padding: 5px 0;
  margin: 0;
  min-width: 120px;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.welcome-dropdown-menu li {
  padding: 0;
}

.welcome-dropdown-menu li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.welcome-dropdown-menu li a:hover {
  background-color: #f1f5f9;
}

.welcome-dropdown-menu[ngIf] {
  display: block;
}

.welcome-dropdown input:checked+label+.welcome-dropdown-menu {
  display: block;
}

.welcome-dropdown input:not(:checked)+label+.welcome-dropdown-menu {
  display: none;
}

.welcome-input[type="text"] {
  flex: 1;
  border: 1px solid #d1d5db;
  padding: 6px 10px;
  font-size: 14px;
}

.welcome-input[type="text"]:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 3px rgba(59, 130, 246, 0.5);
}

.welcome-btn {
  border-radius: 0px 7px 7px 0px;
  /* padding: 10px 16px!important; */
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #008fd5;
  color: #fff;
}

.welcome-dropdown label:hover,
.welcome-dropdown label:focus {
  background-color: rgb(241 245 249);
  border: 1px solid #a3a3a3;
}

.search-container {
  position: relative;
  display: inline-block;
}

.clear-icon {
  position: absolute;
  right: 10px;
  /* Position icon inside input box */
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
}

.clear-icon:hover {
  color: #000;
  /* Change color on hover for better UX */
}