<!-- <div class="">
  <div class="universal-search-container">
    <input type="text" [(ngModel)]="searchKey" placeholder="Search..." class="universal-search-input"  (keypress)="universalSearchOnKeyPress($event.keyCode)"/>
    <button *ngIf="isEmptyOrWhitespace(searchKey)" class="glyphicon glyphicon-remove search-box-item-clear" (click)="searchKey='';goToDashBoard();"></button>
    <button [disabled]="!isEmptyOrWhitespace(searchKey)" [ngClass]="isEmptyOrWhitespace(searchKey)? '':'disabled-div'" class="universal-search-button" (click)="universalSearch();">
      <i class="fa fa-search" aria-hidden="true" [ngClass]="isEmptyOrWhitespace(searchKey)?'':'disabled'"></i>
    </button>
  </div>
</div> -->

<div class="welcome-search-container">
  <div class="welcome-dropdown" (change)="updateDropdownVisibility()">
    <input type="checkbox" id="dropdownToggle"  [checked]="isDropdownVisible"  (click)="updateDropdownVisibility()">
    <label for="dropdownToggle">
      {{ refService.universalSearchFilterType || 'All Modules' }}<span class="caret"></span>
    </label>
    <ul class="welcome-dropdown-menu" *ngIf="isDropdownVisible">
      <li *ngFor="let option of dropdownOptions" (click)="selectDropdownOption(option.label, option.index)">
        <a *ngIf="option.condition"> {{ option.label }} </a>
      </li>
    </ul>
  </div>
  <div class="search-container">
    <input class="welcome-input" type="text" placeholder="Search..." [(ngModel)]="searchKey"
      (keypress)="universalSearchOnKeyPress($event.keyCode)" />
    <i class="fa fa-times clear-icon" *ngIf="isEmptyOrWhitespace()"
      (click)="searchKey=''; goToDashBoard();"></i>
  </div>
  <button class="welcome-btn" (click)=" universalSearch()">
    <i aria-hidden="true" class="fa fa-search"></i>
  </button>
</div>