a {
  text-decoration: none;
}
b,
strong {
  font-weight: 500;
}
hr {
  margin: 1em 0;
  border-top: 0.5px solid rgba(216, 214, 214, 0.4);
}
input[type="radio"] {
  position: relative;
  opacity: 1 !important;
}
.btn-campaign {
  padding: 5px;
  border-radius: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 10px;
}
.portlet.light > .portlet-title {
  padding: 0;
  margin: 0;
  min-height: auto;
}
.portlet.light > .portlet-title > .caption {
  padding: 5px 0;
}
.p0 {
  padding: 0 !important;
}
h3 {
  font-size: 1.5em;
}
.modal-content,
.border-radius-0 {
  border-radius: 0;
}
.flex {
  display: flex;
  width: 100%;
}
.glyphicon {
  font-size: 2em;
}
.color1,
.color1-invert:hover {
  background-color: #76c9ff;
  color: #fff;
  border: 1px solid #76c9ff;
}
.color1:hover,
.color1-invert {
  color: #76c9ff;
  background-color: #fff;
  border: 1px solid #76c9ff;
}
.color1:hover {
  cursor: pointer;
}
.campaign-box {
  position: relative;
}
a.social-stats h4 {
  font-weight: 700;
  text-align: center;
  margin: 0;
}
a.social-stats {
  text-align: center;
}
#trellis td {
  width: 200px;
  height: 200px;
}
#trellis td.first {
  width: 300px;
}
.alert-dismissible .close {
  top: 5px;
  right: 0;
}
.alert-success,
.alert-danger,
.alert-warning {
  color: #ffffff;
  border-radius: 0;
  padding: 3px 10px;
  margin: 0;
}
.alert-success {
  background-color: #77bf81;
}
.alert-danger {
  background-color: #ec6262;
}
.alert-warning {
  background-color: #f1d43b;
}
.alert-success,
.alert-danger,
.alert-warning > h5 {
  font-size: 14px;
}
.gu-block:hover {
  background: rgba(0, 166, 232, 0.4);
}
.gu-block {
  border: 1px solid rgba(0, 166, 232, 0.5);
  padding: 0 10px;
  cursor: pointer;
  margin: 3px;
}
.gu-block-content {
  margin: 7px 0;
}
.form-check-label {
  border: 1px solid rgba(218, 218, 218, 0.53);
  padding: 5px 10px;
  width: 100%;
  color: rgba(125, 125, 125, 0.74);
  letter-spacing: 0.5px;
  cursor: pointer;
}
.df-mt5 {
  display: flex;
  margin-top: 5px;
}
@media screen and (max-width: 600px) {
  .modal-customize {
    width: 100% !important;
  }
}
@media screen and (min-width: 601px) {
  .modal-customize {
    width: 45% !important;
  }
}
/****** Tharak *******/
.welcome-header {
  padding: 10px 0px;
}

.msg-color{
  color: #555555
}