.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -15px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}

.files input:focus {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    border: 1px solid #92b0b3;
}

.files {
    position: relative
}

.files:after {
    pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.color input {
    background-color: #f1f1f1;
}

.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;
    pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}


/*file input css */

.fileinput-button {
    position: relative;
    overflow: hidden;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}


/* Fixes for IE < 8 */

@media screen\9 {
    .fileinput-button input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
    }
}

.html {
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}

.div-loader {
    padding: 5px 5px 10px 10px;
    background-color: #fff;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
    border-radius: 0;
    margin: 1em;
    height: 500px;
    position: relative;
}

#process-loader {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.cb-logo {
    background-color: black;
}

.my-drop-zone {
    width: auto;
    border-radius: 0;
    border: dotted 3px lightgray;
    min-height: 186px;
}

.sizewidth {
    width: 50% !important;
}

#right {
    float: right;
}

.error {
    color: red;
}

#ck-editor-height {
    min-height: 515px;
}

#templateNameDiv {
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 34px;
    padding: 2px;
}

#templateNameText {
    border-left: 1px solid #a94442;
}

#upload-custom-template {
    margin: -5px;
    padding-top: 5px;
}

#drag-drop {
    color: #717171;
}

#browse {
    color: #fff;
}

#info {
    cursor: default;
    resize: none;
}

#clearfix {
    margin: 5px;
}

.success {
    color: green;
}

#none {
    display: none;
}

#margin {
    margin-left: -14px;
}

#upload-type {
    border-left: 1px solid #42A948;
}

#templateTypeDiv {
    margin-left: -11px;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 34px;
    padding: 2px;
}

#editor-top {
    margin-top: 10px;
}

#upload-custom-category {
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 34px;
    padding: 2px;
    margin-left: -13px;
}

#category-drop-down-margin-left {
    margin-left: 3px;
}