<app-modal-popup-loader *ngIf="loading"></app-modal-popup-loader>
<app-response-message class="pg8" [customResponse]="customResponse" *ngIf="customResponse.isVisible">
</app-response-message>
<div *ngIf="!loading">
  <!---Partner Invitation-->
  <div class="portlet light">
      <div class="portlet-title tabbable-line bt-zero-px mh-zero-px">
        <div class="caption caption-md col-xs-12">
          <span class="caption-subject font-blue-madison bold">Partner Invitation</span>
        </div>
      </div>
    <h4 class="bold-font-weight">Turn Email notifications on or off
    </h4>
    <label class="bold-font">You have the ability to control email notifications to newly onboarded {{authenticationService?.partnerModule?.customName}}.</label>
    <div>
      <h5 class="bold-font-weight h5-custom-font">Send signup email notifications to your newly onboarded {{authenticationService?.partnerModule?.customName}}:
        <br><br>
        <switch  [status]="emailNotificationSettingsDto?.notifyPartners" [onText]="callActionSwitch.onTextValue" [offText]="callActionSwitch.offTextValue" [onColor]="callActionSwitch.onGreenColorSwitch" 
        [offColor]="callActionSwitch.onDefaultColorSwitch" [size]="callActionSwitch.defaultSize" (statusChange)="emailNotificationSettingsDto.notifyPartners=($event)">
      </switch>
    </h5>
    </div>
  </div>
  <!---Assets-->
  <div class="portlet light">
    <div class="portlet-title tabbable-line">
      <div class="caption caption-md col-xs-12">
        <span class="caption-subject font-blue-madison bold">Asset Notifications</span>
      </div>
    </div>
  <h4 class="bold-font-weight">Turn Asset Email notifications on or off
  </h4>
  <label class="bold-font">You have the ability to control email notifications to your {{authenticationService?.partnerModule?.customName}} about published assets.</label>
  <div>
    <h5 class="bold-font-weight h5-custom-font">Send email notifications to your {{authenticationService?.partnerModule?.customName}} when an asset is published:
      <br><br>
      <switch  [status]="emailNotificationSettingsDto?.assetPublishedEmailNotification" [onText]="callActionSwitch.onTextValue" [offText]="callActionSwitch.offTextValue" [onColor]="callActionSwitch.onGreenColorSwitch" 
      [offColor]="callActionSwitch.onDefaultColorSwitch" [size]="callActionSwitch.defaultSize" (statusChange)="emailNotificationSettingsDto.assetPublishedEmailNotification=($event)">
    </switch>
  </h5>
  </div>
  </div>

  <!---Tracks-->
  <div class="portlet light">
    <div class="portlet-title tabbable-line">
      <div class="caption caption-md col-xs-12">
        <span class="caption-subject font-blue-madison bold">Asset Notifications</span>
      </div>
    </div>
  <h4 class="bold-font-weight">Turn Asset Email notifications on or off
  </h4>
  <label class="bold-font">You have the ability to control email notifications to your {{authenticationService?.partnerModule?.customName}} about published assets.</label>
  <div>
    <h5 class="bold-font-weight h5-custom-font">Send email notifications to your {{authenticationService?.partnerModule?.customName}} when an asset is published:
      <br><br>
      <switch  [status]="emailNotificationSettingsDto.trackPublishedEmailNotification" [onText]="callActionSwitch.onTextValue" [offText]="callActionSwitch.offTextValue" [onColor]="callActionSwitch.onGreenColorSwitch" 
      [offColor]="callActionSwitch.onDefaultColorSwitch" [size]="callActionSwitch.defaultSize" (statusChange)="emailNotificationSettingsDto.trackPublishedEmailNotification=($event)">
    </switch>
  </h5>
  </div>
  </div>

  <!---PlayBooks-->
  <div class="portlet light">
    <div class="portlet-title tabbable-line">
      <div class="caption caption-md col-xs-12">
        <span class="caption-subject font-blue-madison bold">Asset Notifications</span>
      </div>
    </div>
  <h4 class="bold-font-weight">Turn Asset Email notifications on or off
  </h4>
  <label class="bold-font">You have the ability to control email notifications to your {{authenticationService?.partnerModule?.customName}} about published assets.</label>
  <div>
    <h5 class="bold-font-weight h5-custom-font">Send email notifications to your {{authenticationService?.partnerModule?.customName}} when an asset is published:
      <br><br>
      <switch  [status]="emailNotificationSettingsDto.playbookPublishedEmailNotification" [onText]="callActionSwitch.onTextValue" [offText]="callActionSwitch.offTextValue" [onColor]="callActionSwitch.onGreenColorSwitch" 
      [offColor]="callActionSwitch.onDefaultColorSwitch" [size]="callActionSwitch.defaultSize" (statusChange)="emailNotificationSettingsDto.playbookPublishedEmailNotification=($event)">
    </switch>
  </h5>
  </div>
  </div>

  <!--Update Button-->
  <div id="right">
    <button type="button"   class="btn btn-primary" translate (click)="updateSettings()">Update</button>
  </div>

</div>


