<div class="flex margin-flex" >
	<span *ngIf="(userInfo.firstName |slice:0:1)!=null || (userInfo.emailId |slice:0:1)!=null" class='profile' [style.background-color]="backgroudColor">
	<span class='uppercase' *ngIf="isPartnerInfo && userInfo.contactCompany |slice:0:1!=null">{{userInfo.contactCompany |slice:0:1}}
	<span class='uppercase' *ngIf="(userInfo.contactCompany |slice:0:1)==null">{{userInfo.emailId |slice:0:1}}</span></span>
	<span class='uppercase' *ngIf="!isPartnerInfo">{{userInfo.firstName |slice:0:1}}<span *ngIf="(userInfo.firstName |slice:0:1)==null">{{userInfo.emailId |slice:0:1}}</span> </span>
	</span>
	<span class="ml10" *ngIf="(userInfo.firstName |slice:0:1)==null && (userInfo.emailId |slice:0:1)==null">-
	</span>
	<span class="margin-left">
		<h5 *ngIf="userInfo.lastName && userInfo.firstName" class='ellipsis user-name' title="{{userInfo.firstName}} {{userInfo.lastName}}">{{userInfo.firstName | slice:0:20}}
		<span *ngIf="userInfo.firstName?.length>20">...</span>
		&nbsp;{{userInfo.lastName | slice:0:15}}<span *ngIf="userInfo.lastName?.length>15">...</span>
		</h5>
		<h6 class='m0 user-email'>
			<a title="{{userInfo.emailId}}">{{userInfo.emailId | slice:0:30}}<span *ngIf="userInfo.emailId?.length>30">...</span></a>
      <p class="user-company" *ngIf="isPartnerEntityInfo" title="{{userInfo.contactCompany}}"><span>{{userInfo.contactCompany |slice:0:25}}</span><span *ngIf="userInfo.contactCompany?.length>25">...</span></p>
      <p class="user-company" *ngIf="isCompanyInfo" title="{{userInfo.companyName}}"><span>{{userInfo.companyName |slice:0:25}}</span><span *ngIf="userInfo.companyName?.length>25">...</span></p>
   <!-- <p class="user-company" *ngIf="isPartnerEntityInfo" title="{{userInfo.jobTitle}}"><span>{{userInfo.jobTitle |slice:0:25}}</span><span *ngIf="userInfo.jobTitle?.length>25">...</span></p> -->
    </h6>
    <!-- <h5 class="company-css" style="margin: 7px 0 2px 0;font-weight: 600; color: #676767;" *ngIf="isPartnerEntityInfo">
      <span>{{userInfo.contactCompany}}</span>
    </h5> -->
	</span>
</div>
