<div class="flex margin-flex align-tableimg-center mrgleft_0 profile_icon_spacing">
	<span *ngIf="true" class='profile' [style.background-color]="backgroudColor">
		<span class='uppercase'> {{highlightLetter}} </span>
	</span>
	<span class="ml10" *ngIf="(userInfo?.firstName |slice:0:1)==null && (userInfo?.emailId |slice:0:1)==null 
	   && (userInfo?.email |slice:0:1)==null && !hideEmptyBar">-
	</span>
	<span class="margin-left" *ngIf="!isPartnerEntityInfo">

		<ng-container *ngIf="isFromAdminList">
			<h5 *ngIf="userInfo?.firstName || userInfo?.lastName" class='ellipsis user-name' data-toggle="tooltip"
				data-placement="bottom" title="{{userInfo?.firstName || ''}} {{userInfo?.lastName || ''}}">
				{{userInfo?.firstName | slice:0:15}}
				<span *ngIf="userInfo?.firstName?.length>15">..</span>
				&nbsp;{{userInfo?.lastName | slice:0:12}}<span *ngIf="userInfo?.lastName?.length>12">..</span>
			</h5>
			<!-- -Only First Name -->
			<h5 *ngIf="userInfo?.firstName" class='ellipsis user-name'><span data-toggle="tooltip"
					data-placement="bottom" title="{{userInfo?.firstName}}">{{userInfo?.firstName | slice:0:15}}</span>
				<span *ngIf="userInfo?.firstName?.length>15">..</span>
			</h5>
			<!-- -Only Last Name Name -->
			<h5 *ngIf="userInfo?.lastName" class='ellipsis user-name'>
				<span data-toggle="tooltip" data-placement="bottom" title="{{userInfo?.lastName}}">{{userInfo?.lastName
					| slice:0:15}}</span>
				<span *ngIf="userInfo?.lastName?.length>15">..</span>
			</h5>
		</ng-container>
		<h5 *ngIf="!isFromAdminList && (userInfo?.firstName?.length>0 || userInfo?.lastName?.length>0)" class="m0">
			<span data-toggle="tooltip" data-placement="bottom" title="{{userInfo?.firstName || ''}} {{userInfo?.lastName || ''}} ">
				<b>Name:</b> {{userInfo?.firstName | slice:0:15}} <span *ngIf="userInfo?.firstName?.length>15">..</span>
				&nbsp;{{userInfo?.lastName | slice:0:12}}<span *ngIf="userInfo?.lastName?.length>12">..</span>
			</span>
		</h5>
		<h6 class='m0'>
			<a *ngIf="userInfo?.emailId?.length>0" style="display: table;" class="whiteSpace" data-toggle="tooltip" data-placement="bottom" title="{{userInfo?.emailId}}">
				<b>Email id:</b> {{userInfo?.emailId | slice:0:30}}<span *ngIf="userInfo?.emailId?.length>30">...</span>
			</a>
			<ng-container *ngIf="!hideCompanyName">
				<p class="user-company" *ngIf="userInfo?.contactCompany?.length>0 && isPartnerEntityInfo" data-toggle="tooltip" data-placement="bottom" title="{{userInfo?.contactCompany}}">
					<b>Company Name:</b> <span>{{userInfo?.contactCompany | slice:0:25}}</span><span *ngIf="userInfo?.contactCompany?.length>25">..</span>
				</p>
				<p class="user-company" *ngIf="userInfo?.contactCompany?.length>0 && isContactCompanyInfo" data-toggle="tooltip" data-placement="bottom" title="{{userInfo?.contactCompany}}">
					<b>Company Name:</b> <span>{{userInfo?.contactCompany | slice:0:25}}</span><span *ngIf="userInfo?.contactCompany?.length>25">..</span>
				</p>
				<p class="user-company" *ngIf="userInfo?.companyName?.length>0 && isCompanyInfo" data-toggle="tooltip" data-placement="bottom" title="{{userInfo?.companyName}}">
					<b>Company Name:</b> <span>{{userInfo?.companyName | slice:0:25}}</span><span *ngIf="userInfo?.companyName?.length>25">..</span></p>
				<p class="user-company" *ngIf="isPartnerEntityInfo && userInfo?.jobTitle?.length>0 " data-toggle="tooltip" data-placement="bottom"
					title="{{userInfo?.jobTitle}}"><span>{{userInfo?.jobTitle | slice:0:25}}</span><span *ngIf="userInfo?.jobTitle?.length>25">..</span>
				</p>
			</ng-container>
			<p class="mobile_no" style="float:left;" *ngIf="userInfo?.mobileNumber">
				<a href="tel:{{userInfo?.mobileNumber}}"><i class="fa fa-phone" aria-hidden="true" style="padding-right: 4px;"></i>
					<b>Mobile no:</b> {{userInfo?.mobileNumber}}
				</a>
			</p>
		</h6>
		<h6 class='m0' *ngIf="isLeadInfo">
			<a *ngIf="userInfo?.email?.length>0" style="display: table;" data-toggle="tooltip" data-placement="bottom" title="{{userInfo?.email}}">
				<b>Email id:</b> {{userInfo?.email | slice:0:30}}<span *ngIf="userInfo?.email?.length>30">...</span>
			</a>
			<p *ngIf="userInfo?.company?.length>0" class="user-company" data-toggle="tooltip" data-placement="bottom" title="{{userInfo?.company}}">
				<span><b>Company Name:</b> {{userInfo?.company |slice:0:25}}</span><span *ngIf="userInfo?.company?.length>25">..</span>
			</p>
			<p *ngIf="userInfo?.phone" [class.disabled]="true" class="lead_camp_mobile_no" style="pointer-events: none !important; cursor: auto;position: relative !important; float: left;">
				<b>Mobile No:</b> {{userInfo?.phone}}
			</p>
		</h6>
	</span>
	<span class="margin-left" *ngIf="isPartnerEntityInfo">
		<h6 class='m0' *ngIf="!hideCompanyName">
			<p class="user-company" *ngIf="isPartnerEntityInfo && userInfo?.companyName?.length>0" data-toggle="tooltip" data-placement="bottom" title="{{userInfo?.companyName}}">
				<span> <b>Company Name:</b> {{userInfo?.companyName |slice:0:25}}</span><span *ngIf="userInfo?.companyName?.length>25">..</span>
			</p>
			<p class="user-company" *ngIf="isPartnerEntityInfo  && userInfo?.displayContactCompany?.length>0" data-toggle="tooltip" data-placement="bottom" title="{{userInfo?.displayContactCompany}}">
				<b>Company Name:</b><span>{{userInfo?.displayContactCompany |slice:0:30}}</span><span *ngIf="userInfo?.displayContactCompany?.length>30">..</span>
			</p>
			<p class="user-company" *ngIf="isContactCompanyInfo && userInfo?.contactCompany?.length>0" data-toggle="tooltip" data-placement="bottom" title="{{userInfo?.contactCompany}}">
				<span> <b>Company Name:</b> {{userInfo?.contactCompany | slice:0:25}}</span><span *ngIf="userInfo?.contactCompany?.length>25">..</span>
			</p>
			<p class="user-company" *ngIf="isCompanyInfo && userInfo?.companyName?.length>0" data-toggle="tooltip" data-placement="bottom" title="{{userInfo?.companyName}}">
				<span> <b>Company Name:</b> {{userInfo?.companyName | slice:0:25}}</span><span *ngIf="userInfo?.companyName?.length>25">..</span>
			</p>
		</h6>

		<!-- -Only First Name -->
		<h5 *ngIf="userInfo?.firstName && !userInfo?.lastName && userInfo?.firstName?.length>0" class='ellipsis user-name' data-toggle="tooltip" data-placement="bottom" title="{{userInfo?.firstName}}">
			<b>Name:</b> {{userInfo?.firstName | slice:0:15}}
			<span *ngIf="userInfo?.firstName?.length>15">..</span>
		</h5>
		<!-- -Only Last Name Name -->
		<h5 *ngIf="!userInfo?.firstName && userInfo?.lastName?.length>0" class='ellipsis user-name' data-toggle="tooltip"
			data-placement="bottom" title="{{userInfo?.lastName}}"><b>Name:</b> {{userInfo?.lastName | slice:0:15}}
			<span *ngIf="userInfo?.lastName?.length>15">..</span>
		</h5>
		<h5 *ngIf="userInfo?.lastName?.length>0 && userInfo?.firstName?.length>0" class='ellipsis user-name' data-toggle="tooltip"
			data-placement="bottom" [title]="userInfo?.firstName + ' ' + userInfo?.lastName"><b>Name:</b> {{userInfo?.firstName | slice:0:15}}
			<span *ngIf="userInfo?.firstName?.length>15">..</span>
			&nbsp;{{userInfo?.lastName | slice:0:12}}<span *ngIf="userInfo?.lastName?.length>12">..</span>
		</h5>
		<p class="user-company" *ngIf="isPartnerEntityInfo && !hideJobTitle && userInfo?.jobTitle?.length>0"><span><b>Job Title:</b>
				{{userInfo?.jobTitle |slice:0:25}}</span><span *ngIf="userInfo?.jobTitle?.length>25">..</span></p>
		<td>
			<a *ngIf="userInfo?.emailId?.length>0" style="white-space: nowrap;margin-right: 3px;line-height: 1.6;" data-toggle="tooltip" data-placement="right" title="{{userInfo?.emailId}}">
				<b>Email Id:</b> {{userInfo?.emailId | slice:0:30}}<span *ngIf="userInfo?.emailId?.length>30">...</span>
			</a>
			<p *ngIf="userInfo?.mobileNumber">
				<a href="tel:{{userInfo?.mobileNumber}}"><i class="fa fa-phone" aria-hidden="true" style="padding-right: 4px;"></i><b>Mobile No:</b>{{userInfo?.mobileNumber}}</a>
			</p>
		</td>
	</span>
</div>