.terms{ padding: 74px; position: relative;}
@media only screen and (min-width:768px){ .terms{ padding: 74px; position: relative;} }
@media only screen and (max-width:768px){ .terms{ padding: 20px; position: relative;}}
.colors{  color: #965353 !important; border-color: red !important;}
