<div class="page-content">
  <div class="portlet light">
    <div class="portlet-title">

<nav class="navbar navbar-default" id="navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" routerLink="/" style="background: none;">
          <img class="logo-nav" alt="logo" src="/assets/images/xamplify-logo.png">
          <img class="logo-head" alt="logo" src="/assets/images/xamplify-logo.png">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
        <ul class="nav navbar-nav nav-left">
          <li><a href="#features" lang="en">Features</a></li>
          <li><a href="#preview" lang="en">Tour</a></li>
          <li><a href="#pricing" lang="en">Pricing</a></li>
          <li><a href="#contact" lang="en">Contact</a></li>
          <li><a [routerLink]="['../termsconditions']" lang="en">Terms & conditions</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li ><a routerLink="/login" lang="en" class="colors" style="background:none"><i class="fa fa-sign-in"></i> Login</a></li>
            <li ><a  routerLink="/v-signup" lang="en" class="btn colors">REGISTER</a></li>
        </ul>
      </div>
    </div>
  </nav>
    </div>
    <div class="portlet-body clearfix terms">

      <h1>Terms and Conditions ("Terms")</h1>
      <p>Last updated: May 1, 2018</p>
      <p>Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the http://www.xamplify.io
        (Service") operated by StratApps, Inc. ("us", "we", or "our").</p>
      <p>Your access to and use of the Service is conditioned upon your acceptance of and compliance with these Terms. These
        Terms apply to all visitors, users and others who wish to access or use the Service.</p>
      <p>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms
        then you do not have permission to access the Service.</p>
      <p>
        <strong>Communications</strong>
      </p>
      <p>By creating an Account on our service, you agree to subscribe to newsletters, marketing or promotional materials and
        other information we may send. However, you may opt out of receiving any, or all, of these communications from us
        by following the unsubscribe link or instructions provided in any email we send or by contacting us.</p>
      <p>
        <strong>Purchases</strong>
      </p>
      <p>If you wish to purchase any product or service made available through the Service ("Purchase"), you may be asked to
        supply certain information relevant to your Purchase including, without limitation, your credit card number, the
        expiration date of your credit card, your billing address, and your shipping information.</p>
      <p>You represent and warrant that: (i) you have the legal right to use any credit card(s) or other payment method(s) in
        connection with any Purchase; and that (ii) the information you supply to us is true, correct and complete.</p>
      <p>The service may employ the use of third party services for the purpose of facilitating payment and the completion of
        Purchases. By submitting your information, you grant us the right to provide the information to these third parties
        subject to our Privacy Policy.</p>
      <p>We reserve the right to refuse or cancel your order at any time for reasons including but not limited to: product or
        service availability, errors in the description or price of the product or service, error in your order or other
        reasons.</p>
      <p>We reserve the right to refuse or cancel your order if fraud or an unauthorized or illegal transaction is suspected.</p>
      <p>
        <strong>Availability, Errors and Inaccuracies</strong>
      </p>
      <p>We are constantly updating product and service offerings on the Service. We may experience delays in updating information
        on the Service and in our advertising on other web sites. The information found on the Service may contain errors
        or inaccuracies and may not be complete or current. Products or services may be mispriced, described inaccurately,
        or unavailable on the Service and we cannot guarantee the accuracy or completeness of any information found on the
        Service.</p>
      <p>We therefore reserve the right to change or update information and to correct errors, inaccuracies, or omissions at
        any time without prior notice.</p>
      <p>
        <strong>Contests, Sweepstakes and Promotions</strong>
      </p>
      <p>Any contests, sweepstakes or other promotions (collectively, "Promotions") made available through the Service may be
        governed by rules that are separate from these Terms & Conditions. If you participate in any Promotions, please review
        the applicable rules as well as our Privacy Policy. If the rules for a Promotion conflict with these Terms and Conditions,
        the Promotion rules will apply.</p>
      <p>
        <strong>Subscriptions</strong>
      </p>
      <p>Some parts of the Service are billed on a subscription basis ("Subscription(s)"). You will be billed in advance on
        a recurring and periodic basis ("Billing Cycle"). Billing cycles are set either on a monthly or annual basis, depending
        on the type of subscription plan you select when purchasing a Subscription.</p>
      <p>At the end of each Billing Cycle, your Subscription will automatically renew under the exact same conditions unless
        you cancel it or StratApps, Inc. cancels it. You may cancel your Subscription renewal either through your online
        account management page or by contacting X-amplify’s customer support team.</p>
      <p>A valid payment method, including credit card or PayPal, is required to process the payment for your Subscription.
        You shall provide StratApps, Inc. with accurate and complete billing information including full name, address, state,
        zip code, telephone number, and a valid payment method information. By submitting such payment information, you automatically
        authorize StratApps, Inc. to charge all Subscription fees incurred through your account to any such payment instruments.</p>
      <p>Should automatic billing fail to occur for any reason, StratApps, Inc. will issue an electronic invoice indicating
        that you must proceed manually, within a certain deadline date, with the full payment corresponding to the billing
        period as indicated on the invoice.</p>
      <p>
        <strong>Free Trial</strong>
      </p>
      <p> StratApps, Inc. may, at its sole discretion, offer a Subscription with a free trial for a limited period of time ("Free
        Trial").</p>
      <p>You may be required to enter your billing information in order to sign up for the Free Trial.</p>
      <p>If you do enter your billing information when signing up for the Free Trial, you will not be charged by StratApps,
        Inc. until the Free Trial has expired. On the last day of the Free Trial period, unless you cancelled your Subscription,
        you will be automatically charged the applicable Subscription fees for the type of Subscription you have selected.</p>
      <p>At any time and without notice StratApps, Inc.. reserves the right to (i) modify the terms and conditions of the Free
        Trial offer, or (ii) cancel such Free Trial offer.</p>
      <p>
        <strong>Fee Changes</strong>
      </p>
      <p>StratApps, Inc. , in its sole discretion and at any time, may modify the Subscription fees for the Subscriptions. Any
        Subscription fee change will become effective at the end of the then-current Billing Cycle.</p>
      <p>StratApps, Inc. will provide you with a reasonable prior notice of any change in Subscription fees to give you an opportunity
        to terminate your Subscription before such change becomes effective.</p>
      <p>Your continued use of the Service after the Subscription fee change comes into effect constitutes your agreement to
        pay the modified Subscription fee amount.</p>
      <p>
        <strong>Refunds</strong>
      </p>
      <p>Certain refund requests for Subscriptions may be considered by StratApps, Inc. on a case-by-case basis and granted
        in sole discretion of StratApps, Inc. .</p>
      <p>
        <strong>Content</strong>
      </p>
      <p>Our Service allows you to post, link, store, share and otherwise make available certain information, text, graphics,
        videos, or other material ("Content"). You are responsible for the Content that you post on or through the Service,
        including its legality, reliability, and appropriateness.</p>
      <p>By posting Content on or through the Service, You represent and warrant that: (i) the Content is yours (you own it)
        and/or you have the right to use it and the right to grant us the rights and license as provided in these Terms,
        and (ii) that the posting of your Content on or through the Service does not violate the privacy rights, publicity
        rights, copyrights, contract rights or any other rights of any person or entity. We reserve the right to terminate
        the account of anyone found to be infringing on a copyright.</p>
      <p>You retain any and all of your rights to any Content you submit, post or display on or through the Service and you
        are responsible for protecting those rights. We take no responsibility and assume no liability for Content you or
        any third party posts on or through the Service. However, by posting Content using the Service you grant us the right
        and license to use, modify, publicly perform, publicly display, reproduce, and distribute such Content on and through
        the Service. You agree that this license includes the right for us to make your Content available to other users
        of the Service, who may also use your Content subject to these Terms.</p>
      <p>StratApps, Inc. has the right but not the obligation to monitor and edit all Content provided by users.</p>
      <p>In addition, Content found on or through this Service are the property of StratApps, Inc. or used with permission.
        You may not distribute, modify, transmit, reuse, download, repost, copy, or use said Content, whether in whole or
        in part, for commercial purposes or for personal gain, without express advance written permission from us.</p>
      <p>
        <strong>Accounts</strong>
      </p>
      <p>When you create an account with us, you guarantee that you are above the age of 18, and that the information you provide
        us is accurate, complete, and current at all times. Inaccurate, incomplete, or obsolete information may result in
        the immediate termination of your account on the Service.</p>
      <p>You are responsible for maintaining the confidentiality of your account and password, including but not limited to
        the restriction of access to your computer and/or account. You agree to accept responsibility for any and all activities
        or actions that occur under your account and/or password, whether your password is with our Service or a third-party
        service. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your
        account.</p>
      <p>You may not use as a username the name of another person or entity or that is not lawfully available for use, a name
        or trademark that is subject to any rights of another person or entity other than you, without appropriate authorization.
        You may not use as a username any name that is offensive, vulgar or obscene.</p>
      <p>We reserve the right to refuse service, terminate accounts, remove or edit content, or cancel orders in our sole discretion.</p>
      <p>
        <strong>Intellectual Property</strong>
        The Service and its original content (excluding Content provided by users), features and functionality are and will remain
        the exclusive property of StratApps, Inc. and its licensors. The Service is protected by copyright, trademark, and
        other laws of both the United States and foreign countries. Our trademarks and trade dress may not be used in connection
        with any product or service without the prior written consent of StratApps, Inc. .</p>
      <p>
        <strong>Links To Other Web Sites</strong>
      </p>
      <p>Our Service may contain links to third party web sites or services that are not owned or controlled by StratApps, Inc.
        .</p>
      <p>StratApps, Inc. has no control over, and assumes no responsibility for the content, privacy policies, or practices
        of any third party web sites or services. We do not warrant the offerings of any of these entities/individuals or
        their websites.</p>
      <p>You acknowledge and agree that StratApps, Inc. shall not be responsible or liable, directly or indirectly, for any
        damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods
        or services available on or through any such third party web sites or services.</p>
      <p>We strongly advise you to read the terms and conditions and privacy policies of any third party web sites or services
        that you visit.</p>
      <p>
        <strong>Termination</strong>
      </p>
      <p>We may terminate or suspend your account and bar access to the Service immediately, without prior notice or liability,
        under our sole discretion, for any reason whatsoever and without limitation, including but not limited to a breach
        of the Terms.</p>
      <p>If you wish to terminate your account, you may simply discontinue using the Service.</p>
      <p>All provisions of the Terms which by their nature should survive termination shall survive termination, including,
        without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>
      <p>
        <strong>Indemnification</strong>
      </p>
      <p>You agree to defend, indemnify and hold harmless StratApps, Inc. and its licensee and licensors, and their employees,
        contractors, agents, officers and directors, from and against any and all claims, damages, obligations, losses, liabilities,
        costs or debt, and expenses (including but not limited to attorney's fees), resulting from or arising out of a) your
        use and access of the Service, by you or any person using your account and password; b) a breach of these Terms,
        or c) Content posted on the Service.</p>
      <p>
        <strong>Limitation Of Liability</strong>
      </p>
      <p>In no event shall StratApps, Inc. , nor its directors, employees, partners, agents, suppliers, or affiliates, be liable
        for any indirect, incidental, special, consequential or punitive damages, including without limitation, loss of profits,
        data, use, goodwill, or other intangible losses, resulting from (i) your access to or use of or inability to access
        or use the Service; (ii) any conduct or content of any third party on the Service; (iii) any content obtained from
        the Service; and (iv) unauthorized access, use or alteration of your transmissions or content, whether based on warranty,
        contract, tort (including negligence) or any other legal theory, whether or not we have been informed of the possibility
        of such damage, and even if a remedy set forth herein is found to have failed of its essential purpose.</p>
      <p>
        <strong>Disclaimer</strong>
      </p>
      <p>Your use of the Service is at your sole risk. The Service is provided on an "AS IS" and "AS AVAILABLE" basis. The Service
        is provided without warranties of any kind, whether express or implied, including, but not limited to, implied warranties
        of merchantability, fitness for a particular purpose, non-infringement or course of performance.</p>
      <p>StratApps, Inc., its subsidiaries, affiliates, and its licensors do not warrant that a) the Service will function uninterrupted,
        secure or available at any particular time or location; b) any errors or defects will be corrected; c) the Service
        is free of viruses or other harmful components; or d) the results of using the Service will meet your requirements.</p>
      <p>
        <strong>Exclusions</strong>
      </p>
      <p>Some jurisdictions do not allow the exclusion of certain warranties or the exclusion or limitation of liability for
        consequential or incidental damages, so the limitations above may not apply to you.</p>
      <p>
        <strong>Governing Law</strong>
      </p>
      <p>These Terms shall be governed and construed in accordance with the laws of California, United States, without regard
        to its conflict of law provisions.</p>
      <p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any
        provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms
        will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede
        and replace any prior agreements we might have had between us regarding the Service.</p>
      <p>
        <strong>Changes</strong>
      </p>
      <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material
        we will provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change
        will be determined at our sole discretion.</p>
      <p>By continuing to access or use our Service after any revisions become effective, you agree to be bound by the revised
        terms. If you do not agree to the new terms, you are no longer authorized to use the Service.</p>
      <p>
        <strong>Contact Us</strong>
      </p>
      <p>If you have any questions about these Terms, please contact us.</p>

    </div>
  </div>
  <!--site-footer-->
<footer class="site-footer section-spacing text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p class="footer-links"><a [routerLink]="['../termsconditions']" lang="en">Terms of Use</a> <a [routerLink]="['../termscondtions']" lang="en">Privacy Policy</a></p>
        </div>
        <div class="col-md-4"> <small lang="en">&copy; 2018 Xamplify. All rights reserved.</small></div>
        <div class="col-md-4">
          <!--social-->

          <ul class="social">
            <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
          </ul>

          <!--social end-->

        </div>
      </div>
      <!--chat-btn-->
      <a href="" class="chat-btn" data-toggle="modal" data-target="#modal-contact-form"></a>
      <!--chat-btn end-->

    </div>
  </footer>
  <!--site-footer end-->
</div>
