.mt25m {
	margin-top: -25px !important;
}

.ml15m {
	margin-left: -15px !important;
}

.mh480 {
	min-height:480px;
	height:480px;
}
.tableHeightScroll{   
	 height: 359px !important;
    overflow-y: scroll;
    margin-bottom: 6px;
}
/* width */
::-webkit-scrollbar {
	width: 7px;
  }
@media (min-width: 992px) and (max-width: 1225px)  { 
	.tableHeightScroll {
		height: 330px !important;
	}
}
@media (min-width: 200px) and (max-width: 767px)  { 
    .ml15m {
        margin-left: 0px !important;
    }
	.mh480 {
		min-height: 521px;
		height: 520px;
	}
}

.notOpened-class{
	background-color: rgb(221, 45, 74);
}

.submitted-class{
	background-color: rgb(22, 246, 63);
}

.viewed-class{
	background-color: rgb(232, 38, 190);
}

.opened-class{
	background-color: blue;
}

.downloaded-class{
	background-color: rgb(209, 244, 9);
}

.default-class{
	background-color: rgb(8, 180, 237);
}