.text-center {
    text-align: center;
}

.integration-cards {
    float: right;
    color: #488fd6;
    border: 1px solid #eaeaea;
    padding: 7px 5px 2px 5px;
    border-radius: 2px;
}

.card {
    border: none;
    transition: all 0.2s;
    box-shadow: 0 0.7rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    padding: 1rem;
    color: white;
    background-color: #337ab7;
    transition: all 0.2s;
}

/* Hover Effects on Card */
@media (min-width: 992px) {
    .card:hover {
        margin-top: -0.25rem;
        margin-bottom: 0.25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }

    .card:hover {
        opacity: 1;
    }
}

.card-title {
    font-size: 18px;
    font-weight: bold;
}

.integration-row {
    padding-bottom: 10px;
    padding-top: 10px;
}

.activeCall {
    background-color: #d7e5ff;
}

.ribbon.draft.config>span::before {
    border-left: 3px solid green;
    border-top: 3px solid green;
}

.ribbon.draft.config>span::after {
    border-right: 3px solid green;
    border-top: 3px solid green;
}