<div class="modal right fade" id="pipedrivePreSettingsForm" tabindex="-1" role="dialog"
  aria-labelledby="pipedriveModalLabel" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-css" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close-circle" data-dismiss="modal" (click)="hidePipedrivePresettingForm()"><i
            class="fa fa-times"></i></a>
        <h4 class="modal-title" id="templateRetrieve" translate>Custom Fields Settings</h4>
        <!-- <span>{{customFields.name}}</span> -->
        <div>
        </div>
      </div>
      <div class="modal-body">
        <!-- Convert {{customFields.name}}  -->
        <div class="form-group" id="pipelineStageDiv">
          <input class="checkBox_shadow" type="checkbox"
          name="private" class="alignEqualtoText"> Picklist <span
         class="fa fa-info-circle" data-toggle="tooltip" data-placement="right"
         title="This Field will be Converted to the PickList."></span>
          <label style="text-align: center;width: 60%;">Options</label>
          <ul>
            <ng-container *ngFor=" let option of customFields.options; let x = index">
              <li class="list-group-item" id="stage{{x}}">
                <div class="row">
                  <span class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mb_pl10">
                    <i class="fa fa-ellipsis-v"></i>
                    <input type="text" placeholder="Enter Name" [(ngModel)]="option.label"
                      class="bg-color field-border-customization inputFieldWidth">
                  </span>
                  <button type="button" class="btn-danger button-blue deleteBntAligment" data-toggle="tooltip"
                    data-placement="top" title="Delete" (click)="delete(x)" style="float: right;"><span
                      class="glyphicon glyphicon-trash"></span></button>
                </div>
              </li>
            </ng-container>
          </ul>
          <div class="form-group">
            <div *ngIf="customFields.options.length == 0" class="alert alert-info text-center mt5">
              <strong>Please <a (click)="addOption()">Click here</a> to add a Option</strong>
          </div>
          <a *ngIf="customFields.options.length >= 1" class="dashboard-stat " style="padding: 9px 0;margin-top: 10px;" (click)="addOption()">
            <i class="fa fa-plus-square p0" style="margin: 0 5px;"></i> Add Option
        </a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="hidePipedrivePresettingForm()"
          translate>CANCEL</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)=" hidePipedrivePresettingForm()"
          translate>Submit</button>
      </div>
    </div>
  </div>
</div>