.toggleOnOff {
    --width: 60px;
    --height: calc(var(--width) / 3);
    position: relative;
    top: 11px;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
  }
  .toggleOnOff input {display: none;}
  .toggleOnOff .sliderOnOff {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--height);
    background-color: #cccccc69;
    transition: all 0.4s ease-in-out;
  }
  .toggleOnOff .sliderOnOff::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--height));
    height: calc(var(--height));
    border-radius: calc(var(--height) / 2);
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
  }
  .toggleOnOff input:checked+.sliderOnOff {
    background-color: #2196F3;
  }
  .toggleOnOff input:checked+.sliderOnOff::before {
    transform: translateX(calc(var(--width) - var(--height)));
  }
  .toggleOnOff .labels {
    position: absolute;
    top: 4px;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 10px;
    font-family: sans-serif;
    transition: all 0.4s ease-in-out;
  }
  .toggleOnOff .labels::after {
    content: attr(data-off);
    position: absolute;
    right: 5px;
    color: #4d4d4d;
    opacity: 1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease-in-out;
  }
  .toggleOnOff .labels::before {
    content: attr(data-on);
    position: absolute;
    left: 5px;
    color: #ffffff;
    opacity: 0;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
    transition: all 0.4s ease-in-out;
  }
  .toggleOnOff input:checked~.labels::after {
    opacity: 0;
  }
  .toggleOnOff input:checked~.labels::before {
    opacity: 1;
  }
  .list-group-item {
    padding: 5px 10px;
  }
    .deleteBntAligment {
      margin-top: 3px;
      padding: 4px 8px;
      float: right;
      margin-left: 10px;
    }
  .disabled-opacity{
    opacity: 0.5;
    cursor: not-allowed;
  }
  a.disabled {
    pointer-events: none;
 }
 .bg-color-for-card {
  background: #f1f5f9;
  border: 1px solid rgba(221, 221, 221, 0.87);
  padding:10px !important;
  border-radius: 5px;
 }