<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="page-content">
   <div class="page-bar">
      <div class="col-md-12 col-lg-12">
         <div class="row">
            <div class="col-md-6 col-lg-6 text-left">
               <ul class="page-breadcrumb">
                  <li>
                     <i class="fa fa-home" aria-hidden="true"></i>
                      <a [routerLink]="referenceService.homeRouter" translate>Home</a>
                     <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </li>
                  <li>
                      <a (click)="goToSelectMdfPage()" translate>MDF</a>
                     <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </li>
                  <li><a translate>Manage MDF Requests</a></li>
               </ul>
            </div>
            <div class="col-md-6 col-lg-6 text-right" style="padding-right: 5px;" *ngIf="showMdfFormAnalyticsForParnterView && !vanityLogin && !loginAsPartner">
               <div class="btn-group refer-vendor-button" style="padding-top: 7px;padding-bottom: 4px;padding-right: 3px;">
                   <a class="close-circle" (click)="goToManageRequest()"  title="Close">
						<i class="fa fa-times" aria-hidden="true"></i>
					</a> 
               </div>
            </div>
            <div class="col-md-6 col-lg-6 text-right" style="padding-right: 5px;" *ngIf="isPartnerView && (vanityLogin || loginAsPartner)">
               <div class="btn-group refer-vendor-button" style="padding-top: 7px;padding-bottom: 4px;padding-right: 3px;">
                  <button (click)="goToAddRequest(vendorCompanyId)" class="btn btn-primary" style="border-radius: 3px !important;">
                     <span class="hidden-xs margin-right-design" translate>Request MDF</span>
                     <i class="fa fa-user-plus" data-toggle="tooltip" aria-hidden="true"></i>
                 </button>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12 col-lg-12">
         <div class="portlet light height" style="height: 153px;">
            <div class="row mt" style="margin-top: 13px;">
              <app-box-loader [countLoader]="countLoader" [mdfModule]="true" *ngIf="tilesLoader"></app-box-loader>
               <div *ngIf="!tilesLoader" class="col-md-12 col-lg-12" style="padding-left: 24px;padding-right: 24px;">
                  <div class="row">
                     <div title="{{mdfRequestTiles?.totalPartners}}" class="{{tileClass}}" id="pl" *ngIf="!isPartnerView">
                        <a class="dashboard-stat dashboard-stat-lighter yellow-gold min-h default-cursor">
                           <div class="visual">
                              <i aria-hidden="true" class=""></i>
                           </div>
                           <div class="details">
                              <div class="number">{{mdfRequestTiles?.totalPartners}}</div>
                              <div class="desc">Number of {{authenticationService?.partnerModule?.customName}}</div>
                           </div>
                           <span class="morePadding">
                        <a  translate="" ng-reflect-translate="" class="more hidden">Detailed view  
                        <i  aria-hidden="true" class="m-icon-swapright m-icon-white"></i></a>
                        </span>
                        </a>
                     </div>
                     <div  id="vendor-details-tile" class="{{tileClass}}" *ngIf="showMdfFormAnalyticsForParnterView" style="border-radius: 5px;border: 1px solid lightgrey;">
                        <div class="row">
                           <div class="col-md-2 col-lg-2 text-right">
                             <img class="img-circle" src="{{mdfRequestVendorDto?.companyLogoPath}}" alt="">
                           </div>
                           <div class="col-md-10 col-lg-10 " style="padding-left: 34px!important;">
                              <label title="{{mdfRequestVendorDto?.companyName}}" style="font-size: 15px;font-weight: 600;">
                                 {{mdfRequestVendorDto?.companyName | slice:0:20}}
                                 <span *ngIf="mdfRequestVendorDto?.companyName.length>20">..</span>
                              </label><br>
                              <label title="{{mdfRequestVendorDto?.companyProfileName}}" style="font-size: 15px;font-weight: 600;">
                                 {{mdfRequestVendorDto?.companyProfileName | slice:0:20}}
                                 <span *ngIf="mdfRequestVendorDto?.companyProfileName.length>20">..</span>
                              </label>
                           </div>
                        </div>
                     </div>
                     <div title="{{mdfRequestTiles?.totalRequests}}" class="{{tileClass}}" id="pb-pr">
                        <a class="dashboard-stat dashboard-stat-lighter blue-soft min-h default-cursor">
                           <div class="visual">
                              <i aria-hidden="true" class=""></i>
                           </div>
                           <div class="details">
                              <div class="number">{{mdfRequestTiles?.totalRequestsInString}}</div>
                              <div class="desc">Number of Requests</div>
                           </div>
                           <span class="morePadding">
                              <a  translate="" ng-reflect-translate="" class="more hidden">Detailed view  
                              <i  aria-hidden="true" class="m-icon-swapright m-icon-white"></i></a>
                           </span>
                        </a>
                     </div>
                     <div title="$ {{mdfRequestTiles?.averageRequestSize}}" id="pl" class="{{tileClass}}">
                        <a class="dashboard-stat dashboard-stat-lighter green-soft min-h default-cursor">
                           <div class="visual">
                              <i aria-hidden="true" class=""></i>
                           </div>
                           <div class="details">
                              <div class="number">{{mdfRequestTiles?.averageRequestSizeInString}}</div>
                              <div class="desc">Average Request Size</div>
                           </div>
                           <span class="morePadding">
                        <a  translate="" ng-reflect-translate="" class="more hidden">Detailed view  
                        <i  aria-hidden="true" class="m-icon-swapright m-icon-white"></i></a>
                        </span>
                        </a>
                     </div>
                     <div title="$ {{mdfRequestTiles?.totalValue}}" id="pr"  class="{{tileClass}}">
                        <a class="dashboard-stat dashboard-stat-lighter purple-soft min-h default-cursor">
                           <div class="visual">
                              <i aria-hidden="true" class=""></i>
                           </div>
                           <div class="details">
                              <div class="number">{{mdfRequestTiles?.totalValueInString}}</div>
                              <div class="desc">Total Value</div>
                           </div>
                           <span class="morePadding">
                        <a  translate="" ng-reflect-translate="" class="more hidden">Detailed view  
                        <i  aria-hidden="true" class="m-icon-swapright m-icon-white"></i></a>
                        </span>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row" *ngIf="isPartnerView && !showMdfFormAnalyticsForParnterView">
      <div class="portlet box">
         <div class="clearfix">
            <div class="col-xs-12">
               <app-response-message class="pg8" [customResponse]="customResponse" *ngIf="customResponse.isVisible">
               </app-response-message>
               <!-- BEGIN EXAMPLE TABLE PORTLET-->
               <div class="portlet light">
                  <div class="portlet-title" style="border-bottom: none;">
                     <div class="caption" style="padding-left: 2px !important;padding-top: 12px !important;"translate>
                        <i class="fa fa-list" style="font-size: 19px;" aria-hidden="true"></i>
                        Manage Vendors
                     </div>
                     <div class="inputs"  style="float: right; padding: 4px">
                        <div style="float: left; margin: 0 10px;">
                          <select class="form-control" [(ngModel)]="sortOption.mdfVendorsSortOption" (ngModelChange)="sortBy($event)" id="select-dropdown">
                            <option *ngFor="let option of sortOption.mdfVendorsSortDropDownOptions"
                                [ngValue]="option" translate>
                                {{option.name}}</option>
                        </select>
                        </div>
                        <div class="portlet-input input-inline ml-pt">
                           <div class="input-icon right">
                              <input type="text" id="sort-text" class="form-control" style="height: 34px;" [(ngModel)]="sortOption.searchKey" [ngModelOptions]="{standalone: true}" placeholder="Search for a vendor" (keypress)="eventHandler($event.keyCode)">
                              <button class="glyphicon glyphicon-remove search-box-item-clear"  *ngIf="sortOption.searchKey" (click)="sortOption.searchKey='';searchVendors();"></button>
                              <!-- removed style balck color (SS)-->
                              <button type="submit" class="search-box-item-click" (click)="searchVendors()"><i class="fa fa-search" aria-hidden="true"></i></button>
                           </div>
                        </div>
                     </div>
                  </div>
                  
                  <div class="portlet-body table-responsive" style="overflow: hidden;">
                     <div class="btn-group pull-right" style="margin-bottom: 10px; left: -16px;">
                        <div class="inputs"  style="float: right"></div>
                     </div>
                     <app-list-loader *ngIf="listLoader.isLoading"></app-list-loader>
                     <div class="clearfix" *ngIf="!listLoader.isLoading">
                        <div class="col-xs-12" style="padding: 0px 0;">
                           <div class="table-responsive">
                              <table class='table tgrid' aria-describedby="manage-mdf-requests-table">
                                 <thead>
                                    <tr>
                                       <th scope="row" style="width: 23%;" translate>Vendor Info</th>
                                       <th scope="row" class="hidden-xs center-align"   translate>Number Of Requests</th>
                                       <th scope="row" class="hidden-xs center-align"  translate>Actions</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                  <ng-container *ngFor="let vendor of pagination.pagedItems;let i=index">
                                    <tr>
                                       <td>
                                          <div class="col-md-12 col-lg-12">
                                             <div class="row">
                                                <div class="col-md-2 col-lg-2 text-right">
                                                  <img class="img-circle" src="{{vendor?.companyLogoPath}}" alt="">
                                                </div>
                                                <div class="col-md-10 col-lg-10 " style="padding-left: 34px!important;">
                                                   <label title="{{vendor?.companyName}}" style="font-size: 15px;font-weight: 600;">
                                                      {{vendor?.companyName | slice:0:20}}
                                                      <span *ngIf="vendor?.companyName.length>20">..</span>
                                                   </label><br>
                                                   <label title="{{vendor?.companyProfileName}}" style="font-size: 15px;font-weight: 600;">
                                                      {{vendor?.companyProfileName | slice:0:20}}
                                                      <span *ngIf="vendor?.companyProfileName.length>20">..</span>
                                                   </label>
                                                </div>
                                             </div>
                                          </div>
                                       </td>
                                       <td class="center-align">
                                         <span><strong>{{vendor?.requestsCount}}</strong> </span>
                                       </td>
                                       <td class="center-align">
                                          <div class="override-actions">
                                             <a (click)="goToAddRequest(vendor.companyId)" title="Add Request">
                                                <i class="fa fa-user-plus action-btn fa-fa-consistency" aria-hidden="true"></i>
                                             </a>
                                             <!----See Request Analytics-->
                                             <a (click)="viewRequests(vendor)" title="View Requests">
                                              <i class="fa fa-expand action-btn fa-fa-consistency" aria-hidden="true"></i>
                                              </a>
                                          </div>
                                       </td>
                                   </tr>
                                    </ng-container>
                                 </tbody>
                              </table>
                              
                            <div *ngIf="pagination.totalRecords==0 && !listLoader.isLoading" class="alert alert-info">
                                <strong>No Data Found.</strong>
                            </div>
                           </div>
                        </div>
                     </div>
                     <div *ngIf="pagination.pagedItems.length !== 0">
                         <app-pagination [pagination]="pagination" (notifyParent)="setPage($event)" (notifyParentDropDown)="listVendors($event)" [hidden]="listLoader.isLoading">
                         </app-pagination>
                     </div>
                  </div>
               </div>
               <!-- END EXAMPLE TABLE PORTLET-->
            </div>
         </div>
      </div>
   </div>
   <div *ngIf="showMdfFormAnalyticsForParnterView ||showMdfFormAnalyticsForVendorView ">
        <app-manage-mdf-request-form [vendorCompanyId]="vendorCompanyId" [partnershipId]="partnershipId" [partnerView]="isPartnerView" (mdfRequestFormEventEmitter)="getTeamMemberFilter($event)"></app-manage-mdf-request-form>
   </div>
</div>