<!-- BEGIN SIDEBAR -->
<ng-container *ngIf="!refService.loaderFromAdmin">
<div class="page-sidebar-wrapper" *ngIf="(authService.user.hasCompany || authService.isOnlyUser()) && !(authService.isSuperAdmin())">
    <div class="page-sidebar navbar-collapse collapse">
        <app-lefside-navigation-loader *ngIf="loading || authService.leftSideMenuLoader"></app-lefside-navigation-loader>
        <ng-container *ngIf="!loading && !authService.leftSideMenuLoader">
        <ul class="page-sidebar-menu page-sidebar-menu-hover-submenu" [ngClass]="{'page-sidebar-menu-closed':refService.isSidebarClosed}" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li [ngClass]="{'active': location.path().includes('dashboard')}">
                <a [routerLink]="['/home/dashboard/default']"  [class.disabled]="!authService.user.hasCompany ?true:null">
                   
                    <i class="icon-home" aria-hidden="true"></i>
                    <span class="title" translate>Account Dashboard</span>                    
                    <span class="selected"></span>
                </a>
            </li>

            <li *ngIf="authService.user.hasCompany && authService.module.isPartner && sourceType!='ALLBOUND'" [ngClass]="{'active': location.path().includes('partners')}">
                <a href="javascript:;" (click)="openOrCloseTabs('partners')">
                    <i class="fa fa-handshake-o" aria-hidden="true"></i>
                    <span class="title" translate>Partners</span>
                    <span class="arrow "></span>
                    <span class="selected"></span>
                </a>
                <ul class="sub-menu" [ngStyle]="{'display': partners? 'block': 'none' }" >
                    <li>
                        <a [routerLink]="['./partners/add']">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            <span class="title" translate>Onboarding Partners</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['./partners/manage']">
                            <i class="fa fa-list" aria-hidden="true"></i>
                            <span class="title" translate>Manage Partners</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li *ngIf="authService.user.hasCompany && authService.module.isPartner && sourceType=='ALLBOUND'" [ngClass]="{'active': location.path().includes('partners')}">
                <a [routerLink]="['./partners/manage']">
                    <i class="fa fa-handshake-o" aria-hidden="true"></i>
                    <span class="title" translate>Manage Partners</span>
                    <span class="arrow "></span>
                    <span class="selected"></span>
                </a>
            </li>
            <!----Content----->
            <li *ngIf="authService.user.hasCompany" [ngClass]="{'active': location.path().includes('select-modules') || location.path().includes('content') || location.path().includes('dam') || location.path().includes('tracks') || location.path().includes('playbook') }">
                <a [routerLink]="['/home/select-modules']">
                <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                <span class="title">Content</span>
                <span class="arrow"></span>
                <span class="selected"></span>
                </a>
             </li> 

            <li *ngIf="authService.user.hasCompany && authService.module.isContact && !partnershipEstablishedOnlyWithPrmAndLoggedInAsPartner" [ngClass]="{'active': location.path().includes('contacts')}">
                <a href="javascript:;" (click)="openOrCloseTabs('contacts')">
                    <i class="fa fa-id-card" aria-hidden="true"></i>
                    <span class="title" translate>Contacts</span>
                    <span class="arrow "></span>
                    <span class="selected"></span>
                </a>
                <ul class="sub-menu" [ngStyle]="{'display': contacts? 'block': 'none' }">
                    <li>
                        <a [routerLink]="['./contacts/add']">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            <span class="title" translate>Add Contacts</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['./contacts/manage']">
                            <i class="fa fa-list" aria-hidden="true"></i>
                            <span class="title" translate>Manage Contacts</span>
                        </a>
                    </li>
                </ul>
            </li>

				<li
				*ngIf="authService.user.hasCompany && shareLeadsAccess"
				[ngClass]="{'active': location.path().includes('assignleads')}"><a
				href="javascript:;" (click)="openOrCloseTabs('assignLeads')"> <i
					class="fa fa-id-badge" aria-hidden="true"></i> <span class="title"
					translate>Share Leads</span> <span class="arrow "></span> <span
					class="selected"></span>
			</a>
				<ul class="sub-menu"
					[ngStyle]="{'display': contacts? 'block': 'none' }">
					<li><a [routerLink]="['./assignleads/add']"> <i
							class="fa fa-users" aria-hidden="true"></i> <span class="title"
							translate>Add Leads</span>
					</a></li>
					<li><a [routerLink]="['./assignleads/manage']"> <i
							class="fa fa-list" aria-hidden="true"></i> <span class="title"
							translate>Manage Leads</span>
					</a></li>
				</ul></li>
				
					<li
				*ngIf="authService.user.hasCompany && sharedLeadsAccess"
				[ngClass]="{'active': location.path().includes('sharedleads')}">
				<a [routerLink]="['./sharedleads/manage']"> <i class="fa fa-id-badge"
					aria-hidden="true"></i> <span class="title" translate>Shared Leads</span>
					<span class="arrow "></span> <span class="selected"></span>
			</a>
			</li>
				
			<li
				*ngIf="!partnershipEstablishedOnlyWithPrmAndLoggedInAsPartner && authService.module.hasPartnerLandingPageAccess"
				[ngClass]="{'active': location.path().includes('pages/partner') ||location.path().includes('forms/partner') }">
				<a [routerLink]="['./pages/partner']"> <i class="fa fa-wpforms"
					aria-hidden="true"></i> <span class="title" translate>Pages</span>
					<span class="arrow "></span> <span class="selected"></span>
			</a>
			</li>
			<li *ngIf="authService.user.hasCompany && (authService.module.isEmailTemplate)" [ngClass]="{'active': location.path().includes('design') ||location.path().includes('emailtemplates') || (location.path().includes('forms') && !location.path().includes('forms/partner')) || (location.path().includes('pages') && !location.path().includes('pages/partner') )  }">
                <a [routerLink]="['./design/add']">
                    <i class="fa fa-paint-brush" aria-hidden="true"></i>
                    <span class="title" translate>Design</span>
                    <span class="arrow "></span>
                    <span class="selected"></span>
                </a>
            </li>


            <li *ngIf="authService.user.hasCompany && authService.module.isCampaign && !partnershipEstablishedOnlyWithPrmAndLoggedInAsPartner && !partnershipEstablishedOnlyWithPrm" [ngClass]="{'active':(location.path().includes('campaigns') || location.path().includes('campaign'))}">
                <a href="javascript:;" (click)="openOrCloseTabs('campaigns')">
                    <i class="fa fa-bullhorn" aria-hidden="true"></i>
                    <span class="title" translate>Campaign </span>
                    <span class="arrow "></span>
                    <span class="selected"></span>
                </a>
                <ul class="sub-menu" [ngStyle]="{'display': campaigns? 'block': 'none' }">
                    <li>
                        <a *ngIf="authService.module.isReDistribution || authService.isShowRedistribution" [routerLink]="['./campaigns/partner/all']">
                            <i class="fa fa-bullhorn" aria-hidden="true"></i>
                            <span class="title" translate>Redistribute Campaign</span>
                        </a>
                        <li>
                            <li>
                                <ng-container *ngIf="!authService.module.isPrm && !authService.module.isPrmTeamMember && !authService.module.isPrmAndPartner && !authService.module.isPrmAndPartnerTeamMember ">
                                    <a *ngIf="checkCreateCampaignOptionForVanityURL && (authService.superiorRole === 'OrgAdmin & Partner' || authService.superiorRole === 'Vendor & Partner' || (!authService.module.isOnlyPartner && !authService.isPartnerTeamMember))" [routerLink]="['./campaigns/select']">
                                        <i class="fa fa-bullhorn" aria-hidden="true"></i>
                                        <span class="title" translate>Create Campaign</span>
                                    </a>

                                </ng-container>
                            </li>
                            <li>
                                <a [routerLink]="['./campaigns/manage']">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                    <span class="title" translate>Manage Campaigns</span>
                                </a>
                            </li>
                </ul>
                </li>

                <li *ngIf="authService.user.hasCompany && (authService.module.isOrgAdmin || authService.module.isVendor || 
                authService.module.isCompanyPartner|| isLoggedInAsTeamMember || authService.module.isVendorTier || authService.module.isMarketing || authService.module.isPrm )" 
                [ngClass]="{'active': location.path().includes('team')}">
                    <a [routerLink]="['./team/add-team']">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span class="title" translate>Team</span>
                        <span class="arrow "></span>
                        <span class="selected"></span>
                    </a>
                </li>

                <!-- ------Deal Registration------ -->
                <li *ngIf="authService.user.hasCompany && authService.enableLeads && opportunityDeals
                " [ngClass]="{'active': location.path().includes('deal')}">
                    <a [routerLink]="['/home/deal/']">
                    <i class="fa fa-money" aria-hidden="true"></i>
                    <span class="title">Opportunities</span>
                    <span class="arrow"></span>
                    <span class="selected"></span>
                    </a>
                 </li> 
                <li *ngIf="authService.user.hasCompany && authService.enableLeads && opportunityLeadsAndDeals" [ngClass]="{'active': (location.path().includes('deal') || location.path().includes('leads') && !location.path().includes('assign') && !location.path().includes('shared')) }">
                    <a href="javascript:;" (click)="openOrCloseTabs('deal')">
                        <i class="fa fa-money" aria-hidden="true"></i>
                        <span class="title" translate>Opportunities</span>
                        <span class="arrow"></span>
                        <span class="selected"></span>
                    </a>
                    <ul class="sub-menu" [ngStyle]="{'display': deal? 'block': 'none' }" >
                        <li>
                            <a [routerLink]="['/home/leads/']">
                                <i class="fa fa-user-circle" aria-hidden="true"></i>
                                <span class="title" translate>Manage Leads</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/home/deal/']">
                                <i class="fa fa-tags" aria-hidden="true"></i>
                                <span class="title" translate>Manage Deals</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- ------RSS------ -->
                 <li *ngIf="rssFeedAccess" [ngClass]="{'active': location.path().includes('rss')}">
                    <a [routerLink]="['/home/rss/']">
                    <i class="fa fa-rss" aria-hidden="true"></i>
                    <span class="title">Social Feeds</span>
                    <span class="arrow "></span>
                     <span class="selected"></span>
                    </a>
                 </li> 
                 <!-- ------MDF------ -->
                 <ng-container *ngIf="mdfAccess && !mdfAccessAsPartner">
                    <li  [ngClass]="{'active': location.path().includes('mdf')}">
                        <a href="javascript:;" (click)="openOrCloseTabs('mdf')">
                            <i class="fa fa-dollar" aria-hidden="true"></i>
                            <span class="title" translate>MDF</span>
                            <span class="arrow"></span>
                            <span class="selected"></span>
                        </a>
                        <ul class="sub-menu" [ngStyle]="{'display': mdf? 'block': 'none' }" >
                            <li>
                                <a [routerLink]="['/home/mdf/']">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                    <span class="title" translate>Manage MDF Details</span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/home/mdf/requests']">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                    <span class="title" translate>Manage MDF Requests</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                 </ng-container>
                 <!--Partner View Only-->
                 <ng-container *ngIf="mdfAccessAsPartner && !mdfAccess">
                    <li [ngClass]="{'active': location.path().includes('mdf')}">
                        <a [routerLink]="['/home/mdf/requests/p']">
                        <i class="fa fa-dollar" aria-hidden="true"></i>
                        <span class="title">MDF</span>
                        <span class="arrow"></span>
                        <span class="selected"></span>
                        </a>
                     </li> 
                 </ng-container>

                 <ng-container *ngIf="mdfAccess && mdfAccessAsPartner">
                    <li  [ngClass]="{'active': location.path().includes('mdf')}">
                        <a href="javascript:;" (click)="openOrCloseTabs('mdf')">
                            <i class="fa fa-dollar" aria-hidden="true"></i>
                            <span class="title" translate>MDF</span>
                            <span class="arrow"></span>
                            <span class="selected"></span>
                        </a>
                        <ul style="overflow-y: scroll;" class="sub-menu" [ngStyle]="{'display': mdf? 'block': 'none' }" >
                            <li>
                                <a [routerLink]="['/home/mdf/']">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                    <span class="title" translate>Manage MDF Details</span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/home/mdf/requests']">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                    <span class="title" translate>Manage MDF Requests</span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/home/mdf/requests/p']">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                    <span class="title" translate>Manage MDF Requests (Partner)</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                 </ng-container>
         <!------DAM----------->
         <!---Vendor And Partner-->
         <ng-container *ngIf="damAccess && damAccessAsPartner">
            <li  [ngClass]="{'active': location.path().includes('dam')}">
                <a href="javascript:;" (click)="openOrCloseTabs('dam')">
                    <i class="fa fa-th-large" aria-hidden="true"></i>
                    <span class="title" translate>DAM</span>
                    <span class="arrow"></span>
                    <span class="selected"></span>
                </a>
                <ul style="overflow-y: scroll;" class="sub-menu" [ngStyle]="{'display': dam? 'block': 'none' }" >
                    <li>
                        <a [routerLink]="['/home/dam/manage']">
                            <i class="fa fa-list" aria-hidden="true"></i>
                            <span class="title" translate>Manage My Assets</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/home/dam/shared']">
                            <i class="fa fa-list" aria-hidden="true"></i>
                            <span class="title" translate>Manage Shared Assets</span>
                        </a>
                    </li>
                </ul>
            </li>
         </ng-container>
         <!--Only Dam Access As Vendor-->
         <ng-container *ngIf="damAccess && !damAccessAsPartner">
            <li [ngClass]="{'active': location.path().includes('dam')}">
                <a [routerLink]="['/home/dam/manage']">
                <i class="fa fa-th-large" aria-hidden="true"></i>
                <span class="title">DAM</span>
                <span class="arrow"></span>
                <span class="selected"></span>
                </a>
             </li> 
         </ng-container>
        <!--Only Dam Acess As Partner-->
        <ng-container *ngIf="!damAccess && damAccessAsPartner">
            <li [ngClass]="{'active': location.path().includes('dam')}">
                <a [routerLink]="['/home/dam/shared']">
                <i class="fa fa-th-large" aria-hidden="true"></i>
                <span class="title">DAM</span>
                <span class="arrow"></span>
                <span class="selected"></span>
                </a>
             </li> 
         </ng-container>
        <!------LMS----------->
         <!---Vendor And Partner-->
         <ng-container *ngIf="lmsAccess && lmsAccessAsPartner">
            <li  [ngClass]="{'active': location.path().includes('tracks')}">
                <a href="javascript:;" (click)="openOrCloseTabs('lms')">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    <span class="title" translate>Track Builder</span>
                    <span class="arrow"></span>
                    <span class="selected"></span>
                </a>
                <ul style="overflow-y: scroll;" class="sub-menu" [ngStyle]="{'display': lms? 'block': 'none' }" >
                    <li>
                        <a [routerLink]="['/home/tracks/add']">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <span class="title" translate>Add Tracks</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/home/tracks/manage']">
                            <i class="fa fa-list" aria-hidden="true"></i>
                            <span class="title" translate>Manage Tracks</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/home/tracks/shared']">
                            <i class="fa fa-list" aria-hidden="true"></i>
                            <span class="title" translate>Manage Shared Tracks</span>
                        </a>
                    </li>
                </ul>
            </li>
         </ng-container>
         <!--Only LMS Access As Vendor-->
         <ng-container *ngIf="lmsAccess && !lmsAccessAsPartner">
            <li  [ngClass]="{'active': location.path().includes('tracks')}">
                <a href="javascript:;" (click)="openOrCloseTabs('lms')">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    <span class="title" translate>Track Builder</span>
                    <span class="arrow"></span>
                    <span class="selected"></span>
                </a>
                <ul style="overflow-y: scroll;" class="sub-menu" [ngStyle]="{'display': lms? 'block': 'none' }" >
                    <li>
                        <a [routerLink]="['/home/tracks/add']">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <span class="title" translate>Add Tracks</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/home/tracks/manage']">
                            <i class="fa fa-list" aria-hidden="true"></i>
                            <span class="title" translate>Manage Tracks</span>
                        </a>
                    </li>
                </ul>
            </li>
         </ng-container>
        <!--Only LMS Acess As Partner-->
        <ng-container *ngIf="!lmsAccess && lmsAccessAsPartner">
            <li [ngClass]="{'active': location.path().includes('tracks')}">
                <a [routerLink]="['/home/tracks/shared']">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                <span class="title">Track Builder</span>
                <span class="arrow"></span>
                <span class="selected"></span>
                </a>
             </li> 
         </ng-container>
         <!------Play Book----------->
         <!---Vendor And Partner-->
         <ng-container *ngIf="playbookAccess && playbookAccessAsPartner">
            <li  [ngClass]="{'active': location.path().includes('playbook')}">
                <a href="javascript:;" (click)="openOrCloseTabs('playbook')">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    <span class="title" translate>Play Book</span>
                    <span class="arrow"></span>
                    <span class="selected"></span>
                </a>
                <ul style="overflow-y: scroll;" class="sub-menu" [ngStyle]="{'display': playbook? 'block': 'none' }" >
                    <li>
                        <a [routerLink]="['/home/playbook/add']">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <span class="title" translate>Add Play Books</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/home/playbook/manage']">
                            <i class="fa fa-list" aria-hidden="true"></i>
                            <span class="title" translate>Manage Play Books</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/home/playbook/shared']">
                            <i class="fa fa-list" aria-hidden="true"></i>
                            <span class="title" translate>Manage Shared Play Books</span>
                        </a>
                    </li>
                </ul>
            </li>
         </ng-container> -->
         <!--Only Play Book Access As Vendor-->
          <ng-container *ngIf="playbookAccess && !playbookAccessAsPartner">
            <li  [ngClass]="{'active': location.path().includes('playbook')}">
                <a href="javascript:;" (click)="openOrCloseTabs('playbook')">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    <span class="title" translate>Play Book</span>
                    <span class="arrow"></span>
                    <span class="selected"></span>
                </a>
                <ul style="overflow-y: scroll;" class="sub-menu" [ngStyle]="{'display': playbook? 'block': 'none' }" >
                    <li>
                        <a [routerLink]="['/home/playbook/add']">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <span class="title" translate>Add Play Books</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/home/playbook/manage']">
                            <i class="fa fa-list" aria-hidden="true"></i>
                            <span class="title" translate>Manage Play Books</span>
                        </a>
                    </li>
                </ul>
            </li>
         </ng-container>
        <!--Only Play Book Acess As Partner-->
         <ng-container *ngIf="!playbookAccess && playbookAccessAsPartner">
            <li [ngClass]="{'active': location.path().includes('playbook')}">
                <a [routerLink]="['/home/playbook/shared']">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                <span class="title">Play Book</span>
                <span class="arrow"></span>
                <span class="selected"></span>
                </a>
             </li> 
         </ng-container>
        </ul>
    </ng-container>
    </div>
</div>

</ng-container>