<ng-container *ngIf="!isSuperAdmin">
  <div class="page-sidebar-wrapper" *ngIf="authenticationService?.user?.hasCompany">
    <div class="page-sidebar navbar-collapse collapse left-menu-color"
      [ngClass]="authenticationService?.isLeft?'page-custom-sidebar':''">
      <app-lefside-navigation-loader *ngIf="loading || authenticationService.leftSideMenuLoader"
        [topNavbarLoader]="false"></app-lefside-navigation-loader>
      <ng-container *ngIf="!loading && !authenticationService?.leftSideMenuLoader && menuItemError">
        <div class="alert alert-danger"><strong>Error In Loading Menu Items.Please Contact Admin.</strong></div>
      </ng-container>
      <ng-container
        *ngIf="!loading && !authenticationService?.leftSideMenuLoader && !menuItemError && menuItem?.companyProfileCreated">
        <ul class="page-sidebar-menu page-sidebar-menu-hover-submenu page-custom-sidebar-menu"
          [ngClass]="{'page-sidebar-menu-closed':referenceService?.isSidebarClosed}" data-keep-expanded="false"
          data-auto-scroll="true" data-slide-speed="200">
          <ng-container *ngFor="let menu of menuItems">
            <li *ngIf="!menu.showSubMenu" [ngClass]="{'active': menu.mergeTag === mergeTag}">
              <a (click)="startLoader()" [routerLink]="menu.angularPath">
                <i [className]="menu.angularIcon" aria-hidden="true"></i>
                <span class="title" translate>{{menu.customName}}</span>
                <span class="selected"></span>
              </a>
            </li>
            <li *ngIf="menu.showSubMenu" [ngClass]="{'active': menu.mergeTag === mergeTag}">
              <a href="javascript:;" (click)="openOrCloseTabs('menu.mergeTag')">
                <i [className]="menu.angularIcon" aria-hidden="true"></i>
                <span class="title" translate>{{menu.customName}}</span>
                <span class="arrow "></span>
                <span class="selected"></span>
              </a>
              <ul class="sub-menu" *ngIf="menu.showSubMenu"
                [ngStyle]="{'display': menu.mergeTag === clickedMergeTag? 'block': 'none' }">
                <li *ngFor="let subMenu of menu.subModules">
                  <a (click)="startLoader()" [routerLink]="subMenu.angularPath">
                    <i [className]="subMenu.angularIcon" aria-hidden="true"></i>
                    <span class="title" translate>{{subMenu.customName}}</span>
                  </a>
                </li>
              </ul>
            </li>
          </ng-container>
        </ul>
      </ng-container>
    </div>

  </div>
</ng-container>