<div class="page-content">
    <!-- --------------Heading -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home" aria-hidden="true"></i>
                <a [routerLink]="referenceService.homeRouter">Home</a>
                <i *ngIf="!isPartnerView" class="fa fa-angle-right" aria-hidden="true"></i>
                <a *ngIf="!isPartnerView" [routerLink]="['/home/playbook/manage']">Manage Play Books</a>
                <i *ngIf="isPartnerView" class="fa fa-angle-right" aria-hidden="true"></i>
                <a *ngIf="isPartnerView" [routerLink]="['/home/playbook/shared']">Shared Play Books</a>
            </li>
        </ul>
    </div>
    <ng-container *ngIf="type">
        <app-manage-tracks-play-book [type]="type" (notifyPartnerView)="changePartnerView($event)"></app-manage-tracks-play-book>
    </ng-container>
</div>