<!--Header-->
<div class="header-container d-flex justify-content-between align-items-center p-3">
  <!-- Left Side: Image -->
  <div class="left-image ml10">
      <img src="{{companyLogoPath}}" alt="No Image" class="header-image">
  </div>
  <!-- Right Side: Button -->
    <button type="button" class="btn btn-primary float-right request-account"  [ngClass]="{ 'disabled-div': requestAccountButtonClicked }"
    [disabled]="requestAccountButtonClicked" (click)="!requestAccountButtonClicked && requestAccount()">
    <i *ngIf="requestAccountButtonClicked" class="fa fa-spinner fa-spin mr5"></i>{{requestAccountButtonText}}</button>
</div>
<!--End Of Header-->