#right-align {
  text-align: right !important;
}
#asset-history {
  background-color: #f1f1f1;
}
#history-tr {
  background-color: #d3d3d317;
}
.prt_caption{
  position: relative;
  top:5px;
}
@media screen and (max-width:578px){
  .mb-display{
    display: flex!important;
  }
}