/* 6-6-2023 sudha sri */
ul.nav.nav-tabs {
    border-bottom: none !important;
}
@media only screen and (max-width: 578px) {
    .panel-body.pt0 {
        word-wrap: break-word;
        padding-right: 10px !important;
    }
}
.xamp-margin-left-icon {
    margin: 6px 7px 5px 5px !important;
}