th {
  text-align: center;
  padding: 2px;
}

.portlet.light .portlet-body {
  padding-top: 0;
}
.portlet > .portlet-title {
  height: auto;
  min-height: auto;
}

.center-aligned {
  text-align: left;
}

.center {
  text-align: center;
}

.blur {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}

.re-distributed-high-level {
  width: 100px;
  height: 50px;
  cursor: default;
  border-color: #00a6e8;
  border-radius: 3px !important;
}
.sky-blue {
  color: #00a6e8;
}

.float-none {
  float: none;
}

.redisbgcolor {
  background-color: #463c2c24 !important;
}

@media screen and (max-width: 600px) {
  .mRedistributedSearch {
    width: 160px !important;
  }
}
@media screen and (max-width: 600px) {
  .mb_download {
    width: unset !important;
    margin-bottom: 6px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .mb_download {
    width: 170px !important;
  }
}
