.img-track-list {
    height: 100px;
    width: 180px;
    margin: 0;
    background: #f2f4f9;
    border: solid 1px #cccccc;
    border-radius: 6px;
}

.img-grid-track {
    /* height: 80px;
    width: 145px;
    background: #f2f4f9;
    border: solid 1px #008fd5;
    border-radius: 1px; */

    max-height: 150px;
    min-height: 150px;
    height: 150px;
    max-width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: top;
    margin: 0px;
    border-radius: 4px 4px 0px 0px;
    width: auto;
    height: 100%;
    width: 100%!important;
    border: solid 1px #008fd5;
}

/* #actions-row {
    width: 30%
} */

#min-width {
    min-width: 145px;
}

#right-corner {
    float: right;
}

#notification {
    background-color: #ed1c24;
    color: white;
    margin-bottom: 25px;
    margin-left: -24px;
    margin-top: -5px;
}

#notification-list {
    background-color: #ed1c24;
    color: white;
    margin-bottom: 36px;
    margin-left: -23px;
    margin-top: -2px;
}

#disabled-icon {
    border: none;
    margin: 0px 15px 0 0;
    cursor: default;
}

.blur {
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

.cursor {
    cursor: not-allowed;
}

.view-banner {
    background-color: #00a6e8;
    color: white;
    padding: 4px;
    text-align: center;
    margin: 0 0;
    font-size: 11px;
    font-weight: 600;
    display: inline;
}

.ribbon div {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: red;
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    left: -21px;
}

.ribbon div::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid red !important;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid red !important;
}

.ribbon div::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid red !important;
    border-bottom: 3px solid transparent;
    border-top: 3px solid red !important;
}

.delete {
    background: #cb5a5e;
}

.bar a {
    width: 25px !important;
    height: 25px !important;
    padding: 2px !important;
    margin: 4px 4px !important;
}

.custom-width-icon {
    min-width: 210px;
}

.progress {
    height: 6px!important;
    background-color: #d0cfcf;
    background-image: none;
    box-shadow: none;
    border-radius: 6px!important;
    margin-bottom: 0px;
}

.progress-bar {
    background-color: #29d836!important;
}

.tag {
    font-size: 14px;
    background-color: #d3d3d3;
    color: #1b1b1b;
    padding: 4px;
    text-align: center;
    width: fit-content;
    margin: 2px auto;
    /* font-weight: 600; */
    border-radius: 1px;
    padding: 5px 10px;
    /* display: inline; */
}

.tag-dots {
    font-size: 10px;
    margin: 0px 2px;
}

.grid-title {
    text-align: left;
    margin: 5px 0 5px 5px;
    font-size: 16px;
}

.track-info-grid {
    font-size: 12px;
    margin: 5px 0 5px 5px;
}

.actionAlignment{
    display: flex;
}
.btnAlignPad{
    padding-left: 35px;
}

@media screen and (max-width:600px){
    .mTop{
        margin-top:44px;
    }
    .mActionAlign{
        white-space: pre-line!important;
        line-height: 0.05;
    }
    .mDisableColor{
        color: #888!important;
        border: 1px solid;
    }
    .mbtnAlignPad{
        padding-left: 100px!important;
    }
}
@media screen and (max-width:320px){
    .mt{
        margin-top: -33px;
    }
   
}