.profile-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    background: #f1f1f1;
}
.profile-name {
    font-weight: 600;
    margin: 0;
    padding-top: 10px;
    white-space: nowrap;
    width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.status-time {
    font-size: 12px;
    margin-top: 5px;
    color: #999;
}
.status-message {
  font-size: 13px;
  word-break: break-word;
  float: left;
  overflow-y: auto;
  height: 30px;
  padding-left: 0;
}
.status-media {
  padding: 0;
}
.status-media .image-wrapper {
    float: left;
    background-color: #f1f1f1;
    padding: 1px;
}

.status-media img {
    max-width: 100%;
    max-height: 100%;
    max-height: 100%;
    height: 60px;
    width: 100%;
    margin: 0 auto;
    float: left;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.box .fa-social {
	margin: 0
}
.box {
    position: relative;
    padding: 10px !important;
}

.box i {
	font-size: 14px
}

.box .ribbon1 {
	position: absolute;
	
	
	top: 0;
	width: 0;
	height: 30px;
	border-bottom: 10px solid transparent;
	z-index: 1;
	overflow: inherit !important;
}



.ribbon1 {
  position: absolute;
  right: 5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon1 span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #5ab1eb;
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}
.ribbon1 span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #5ab1eb;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #5ab1eb;
}
.ribbon1 span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #5ab1eb;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #5ab1eb;
}


.box .ribbon1 i {
	color: #FFF;
	margin-left: -3px;
	float: left !important;
	font-size: 12px;
	margin-top: 3px
}

.box .ribbon1 i.fa-twitter, .box .ribbon1 i.fa-linkedin {
	margin-left: -5px
}


.facebook {border-color: #3b5998}
.twitter {border-color: #55acee}
.linkedin {border-color: #007bb5}
.google {border-color: #dd4b39}




.box .ribbon-facebook {
	border-right: 10px solid #3b5998;
	border-left: 10px solid #3b5998
}

.box .ribbon-twitter {
	border-right: 10px solid #55acee;
	border-left: 10px solid #55acee
}

.box .ribbon-linkedin {
	border-right: 10px solid #007bb5;
	border-left: 10px solid #007bb5
}

.box .ribbon-google {
	border-right: 10px solid #dd4b39;
	border-left: 10px solid #dd4b39
}

.box .ribbon i {
	color: #FFF;
	margin-left: -3px;
	float: left !important;
	font-size: 12px;
	margin-top: 3px
}

.box .ribbon i.fa-twitter, .box .ribbon i.fa-linkedin {
	margin-left: -5px
}
