.minutes-color {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    color: #000;
    background-color: rgb(144, 238, 144);
    z-index: 0;
    text-align: center;
    }
.td-color{
color: white;
background-color:rgb(0, 166, 232);
}
.td-chart {
position: relative;
cursor: pointer;
}
.td-new,
th {
text-align: center;
padding: 2px;
}