.min-h {
  min-height: 350px;
}
.img-class {
  width: auto;
}

.gridViewImgBg img{margin: 0px;}

.mxv {
  object-fit: fill;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  max-width: 100% !important;
  max-height: 150px;
  min-height: 150px;
  margin: 0px;
  width: 100%;
}

/*******Remove this after merging XNFR-374 */
.grid-box h6 {
  text-align: left !important;
  margin: 0px !important;
  width: 100% !important;
}