<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
	<div class="page-content">
		<!-- BEGIN PAGE HEADER-->
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li><i class="fa fa-home"></i> <a
					[routerLink]="['../../dashboard']">Home</a> <i
					class="fa fa-angle-right"></i></li>
				<li><a style="color: blue;">Upload Template</a></li>
			</ul>
		</div>
		<!-- BEGIN PAGE CONTENT-->
		<div class="portlet light">
			<div class="portlet-body">
					<div class="col-xs-12 col-md-6">
   						<form>
							<h3>Template Name</h3> 
							<!-- <input type="text"   placeholder="Template Name" class="form-control" formControlName="templateName" required/>
							<div *ngIf="formErrors.templateName" class="alert alert-danger">{{ formErrors.templateName }}</div> -->
							<input type="text" class="form-control" style="border-left: 5px solid #a94442" id="templateName" [(ngModel)]="model.templateName" name="templateName" minlength="1" maxlength="50"
								placeholder="Please Enter Template Name" #templateName="ngModel" (ngModelChange)="checkAvailableNames($event)">
							<div *ngIf="!isValidTemplateName"	class="alert alert-danger">Name is required</div>
							<div *ngIf="duplicateTemplateName &&isValidTemplateName " class="alert alert-danger">Duplicate	Name</div>
						</form>
		              
		              <div class="form-group files color">
                		<h3>Upload Your File </h3>
		                <input type="file" class="form-control"  ng2FileSelect [uploader]="uploader" id="fileId"
									class="form-control" name="htmlFile"  accept="text/html"
										(change)="readFile($event)"  #input>
		              </div>
		               <div *ngIf="isUploadFileError" class="alert alert-danger" style="margin-top: 40px;" id="upload-error-div">
							<strong>{{uploadFileErrorMessage}}</strong>
					 </div>
					 <div *ngIf="isVideoTagError" class="alert alert-danger">{{videoTagsError}}</div>
					</div>
					<div class="col-xs-12 col-md-6" style="padding: 4em;">
						<table>
							<tbody>
								<tr
									*ngFor="let item of uploader.queue;let last = last;let index = index">
									<td nowrap *ngIf="last">
										<button type="button" class="btn btn-success"
											(click)="saveHtmlTemplate()"
											[disabled]="!isValidTemplateName ||duplicateTemplateName ">
											<span class="glyphicon glyphicon-upload"></span> Save
										</button>
										<button type="button" class="btn btn-danger"
											(click)="item.remove();removeFile()"  data-dismiss="fileinput" [disabled]="item.isReady || item.isUploading || item.isSuccess">
											<span class="glyphicon glyphicon-trash"></span> Remove
										</button>
									</td>
								</tr>
							</tbody>
						</table>
						<div *ngIf="!emailTemplateService.isRegularUpload" class="form-group" id="infoDiv" style="margin-top: 85px;">
					 		<br><label for="info"><font style="color: red;">***Please copy and add this below content to your HTML template, before you upload</font></label>
						 	<textarea class="form-control" style="cursor: default;resize: none;" id="info" disabled="disabled" rows="4">{{videoTag}}</textarea>
					</div>
					</div>
					<div class="col-xs-12" *ngIf="isUploaded"><!--  -->
					 <ckeditor [(ngModel)]="model.content" name="content"></ckeditor>
					</div>
			
				<div class="clearfix" style="margin: 5px;"></div>
				
			</div>
			<!-- END PAGE CONTENT-->
		</div>
	</div>
	<!-- END CONTAINER -->
</div>