<div class="modal fade right" id="copy-modal-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
   data-backdrop="static" data-keyboard="false">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <a *ngIf="!processing" class="close-circle" data-dismiss="modal">
               <i class="fa fa-times"></i>
            </a>
            <h4 class="modal-title left" id="myModalLabel">Copy {{copyDto?.moduleName}}</h4>
         </div>
         <div class="modal-body">
            <app-response-message [customResponse]="customResponse"
               *ngIf="customResponse.isVisible && !processing"></app-response-message>
            <div id="modal-content">
               <app-modal-popup-loader *ngIf="processing"></app-modal-popup-loader>
               <div [hidden]="processing">
                  <div>
                     <div class="form-group">
                        <label>Enter {{copyDto?.moduleName}} Name<span class="required">*</span></label>
                        <input type="text" autocomplete="off" [(ngModel)]="copyDto.copiedName" (input)="validateNames()"
                           [ngModelOptions]="{standalone: true}" placeholder="Please Enter Name" class="form-control"
                           name="copiedName" />
                        <span class="required">{{errorMessage}}</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="modal-footer" *ngIf="!processing">
            <button class="btn Btn-Gray neg_mrg_top4" (click)="closeModalPopup()" data-dismiss="modal">Close</button>
            <button type="button" class="button bgcolor-unset" [disabled]="!isValidForm || buttonClicked"
               (click)="submit();buttonClicked = true">
               <span class="btn btn-primary transition txt_pd-top3">Save Changes</span>
            </button>
         </div>
      </div>
   </div>
</div>