    <div style="position: relative; top: -5px">
        <app-response-message [customResponse]="customResponse" *ngIf="customResponse.isVisible"></app-response-message>
    </div>
    <div class="row" *ngIf="statusCode==200">
        <ngx-loading [show]="ngxloading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
        <div class="col-md-12">
            <div class="portlet light clearfix">
                <div class="portlet-title" style="border-bottom: none;margin-bottom:0px !important">
                    <div class="row">
                        <div class="page-toolbar">
                            <div class="col-xs-4">
                                <ul class="mix-filter">
                                    <li class="filter" (click)="showAllForms('All',0)" [class.form-selected]="0 == selectedFormTypeIndex"
                                        translate>All</li>
                                    <li class="filter" (click)="showAllForms('Regular',1)"
                                        [class.form-selected]="1 == selectedFormTypeIndex" translate>Regular</li>
                                    <li class="filter" (click)="showAllForms('Quiz',2)" [class.form-selected]="2 == selectedFormTypeIndex"
                                        translate>Quiz</li>
                                    <li class="filter" (click)="showAllForms('Survey',3)" 
                                        [class.form-selected]="3 == selectedFormTypeIndex" translate>Survey</li>
                                    <li *ngIf="loggedInAsSuperAdmin" class="filter" (click)="addDefaultForm()" class="btn btn-primary">Add
                                        Default Form</li>
                                </ul>
                            </div>
                            <div class="col-xs-8">
                                <div class="btn-group pull-right">
                                    <ng-container class='m10'>
                                        <span class="btn btn-xs hidden-xs l-g-view" data-toggle="tooltip" data-placement="bottom"
                                            title="List View" [class.disabled]="isListView" (click)="setViewType('List')">
                                            <i class="fa fa-th-list p10" aria-hidden="true"></i></span>
                                        <span class="btn btn-xs hidden-xs l-g-view" data-toggle="tooltip" data-placement="bottom"
                                            title="Grid View" [class.disabled]="isGridView" (click)="setViewType('Grid')">
                                            <i class="fa fa-th-large p10" aria-hidden="true"></i>
                                        </span>
                                    </ng-container>
                                    <div class="inputs" style="float: right">
                                        <div style="float: left;">
                                            <select class="form-control" [(ngModel)]="sortOption.formsSortOption"
                                                (ngModelChange)="sortBy($event)" style="position: relative;right: -3px;">
                                                <option *ngFor="let option of sortOption.manageFormsSortOptions" [ngValue]="option">
                                                    {{option.name}}</option>
                                            </select>
                                        </div>
                                        <div class="portlet-input input-inline input-small" style="margin-right: 10px;">
                                            <div class="input-icon right" style="position: relative;right: -11px;">
                                                <input type="text" style="height:34px;" class="form-control"
                                                    [(ngModel)]="sortOption.searchKey" [ngModelOptions]="{standalone: true}"
                                                    placeholder="search..." (keypress)="eventHandler($event.keyCode)">
                                                <button class="glyphicon glyphicon-remove search-box-item-clear"
                                                    *ngIf="sortOption.searchKey" (click)="sortOption.searchKey='';searchForms();"></button>
                                                <button type="submit" class="search-box-item-click" (click)="searchForms()">
                                                    <i class="fa fa-search" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                        <a class="close-circle xamp-margin-left-icon" (click)="refreshPage()" aria-hidden="true">
                                            <i class="fa fa-refresh" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <app-landing-page-loader [maxBoxLength]=4 *ngIf="httpRequestLoader.isLoading && isGridView"></app-landing-page-loader>
                <app-list-loader *ngIf=" httpRequestLoader.isLoading && isListView "></app-list-loader>
                <section *ngIf="isListView">
                    <ng-container *ngIf="!httpRequestLoader.isLoading">
                        <div class="table-responsive">
                            <table class='table tgrid table-hover table-sm' id="manage-form-list-table" *ngIf="pagination.pagedItems?.length>0" aria-describedby="">
                                <thead>
                                    <tr>
                                        <th class="hidden-xs" colspan="2" style="width: 35%" id="border-bottom">
                                            <span class="ui-column-resizer gray" (mousedown)="referenceService.onMouseDown($event,'manage-form-list-table',2)">
                                            </span>
                                            <span class="gridHeader">Form</span>
                                        </th>
                                        <th class="visible-xs" colspan="1" style="width: 45%" id="border-bottom">
                                            <span class="ui-column-resizer gray" (mousedown)="referenceService.onMouseDown($event,'manage-form-list-table',1)">
                                            </span>
                                            <span class="gridHeader">Form</span>
                                        </th>
                                        <th class="text-center" scope="col">Created On</th>
                                        <th class="text-center" scope="col">Updated On</th>
                                        <th *ngIf="!pagination.campaignForm" class="text-center" id="min-width">Actions</th>
                                        <th *ngIf="pagination.campaignForm" class="text-center" id="right-corner">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let form of pagination.pagedItems ;let i =index">
                                        <td class="hidden-xs" style="width: 10%;">
                                            <div class="img-class-list" style="overflow: hidden;">
                                                <img class="fit-image" [src]="form.thumbnailImage" onerror="this.src='assets/images/form.png';"
                                                    alt="Image Not Found">
                                            </div>
                                        </td>
                                        <td>
                                            <h4 class="moreipsis mt5 mb5 f-w-600" title="{{form.name}}">
                                                <span><strong>{{form.name}}</strong></span>
                                            </h4>
                                             
                                            <h6 class="moreipsis" title="{{form.categoryName}}">
                                                <span> Folder <strong>{{form.categoryName}}</strong></span>
                                            </h6>
                                            <h6 class="moreipsis" title="{{form.createdName}}">
                                                <span> Created By <strong>{{form.createdName}}</strong></span>
                                            </h6>
                                             <!---XNFR-255-->
                                             <ng-container *ngIf="form?.whiteLabeledFormReceivedFromVendor">
                                                <h6 class="moreipsis"  title="{{form?.whiteLabeledFormSharedByVendorCompanyName}}">
                                                    <span translate>Received From <strong>{{form?.whiteLabeledFormSharedByVendorCompanyName}}</strong></span>
                                                </h6>
                                                <h5 class="view-banner-white-labeled mb5">White-Labeled</h5>
                                            </ng-container>
                                             <!---XNFR-255-->
                                            <h6 class="view-banner" *ngIf="form.formSubType === 'REGULAR'" translate>Regular</h6>
                                            <h6 class="view-banner" *ngIf="form.formSubType === 'QUIZ'" translate>Quiz</h6>
                                            <h6 class="view-banner" *ngIf="form.formSubType === 'SURVEY'" translate>Survey</h6>
                                        </td>
                                        <td class="text-center">
                                            <app-timestamp [isOnlyDate]="false" [dateAndTime]="form.createdDateString">
                                            </app-timestamp>
                                        </td>
                                        <td *ngIf="form?.updatedDateString?.length>0" class="text-center">
                                            <app-timestamp [isOnlyDate]="false" [dateAndTime]="form.updatedDateString">
                                            </app-timestamp>
                                        </td>
                                        <td *ngIf="form?.updatedDateString?.length==0" class="text-center">
                                           -
                                        </td>
                                        <td id="actions-row">
                                            <div class="actions-block override-actions">
                                                <a *ngIf="!pagination.campaignForm && !pagination.landingPageForm && !pagination.landingPageCampaignForm && !pagination.partnerLandingPageForm && (deleteAndEditAccess || loggedInUserId==form.userId)" data-toggle="tooltip" data-placement="top" title="Edit"
                                                    (click)="edit(form.id)">
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </a>
                                                <a data-toggle="tooltip" data-placement="top" title="Preview" (click)="preview(form.id)">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                </a>
                                                <a *ngIf="!pagination.campaignForm && !pagination.landingPageForm && !pagination.landingPageCampaignForm && !pagination.partnerLandingPageForm" data-toggle="tooltip" data-placement="top" title="Copy / Embed Link" (click)="showFormUrl(form)">
                                                    <i class="fa fa-clipboard" aria-hidden="true"></i>
                                                </a>
                                                <ng-container *ngIf="form.campaignForm&&!form.dataShare">
                                                    <a class="cursor">
                                                        <i class="fa fa-line-chart" aria-hidden="true"></i>
                                                        <span class="badge" id="notification">{{form.count}}</span>
                                                    </a>
                                                </ng-container>
                                                <ng-container *ngIf="(form.campaignForm&&form.dataShare)|| !form.campaignForm || form.landingPageForm">
                                                    <!-------------Disable onclick if count==0   ----->
                                                    <ng-container *ngIf="form.count==0">
                                                        <a class="cursor">
                                                            <i class="fa fa-line-chart" aria-hidden="true"></i>
                                                            <span class="badge" id="notification">{{form.count}}</span>
                                                        </a>
                                                    </ng-container>
                                                    <ng-container *ngIf="form.count>0">
                                                        <a data-rel="fancybox-button" (click)="goToAnalytics(form)" data-toggle="tooltip" data-placement="top" title="Form Analytics">
                                                            <i class="fa fa-line-chart" aria-hidden="true"></i>
                                                            <span class="badge" id="notification">{{form.count}}</span>
                                                        </a>
                                                    </ng-container>
                                                </ng-container>
                                                <a *ngIf="!pagination.campaignForm && !pagination.landingPageForm && !pagination.landingPageCampaignForm && !pagination.partnerLandingPageForm && (deleteAndEditAccess || loggedInUserId==form.userId)" id="template-delete" (click)="confirmDelete(form)"
                                                    data-toggle="tooltip" data-placement="top" title="Delete">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </ng-container>
                </section>

                <div class="row" *ngIf="isGridView && !httpRequestLoader.isLoading && !httpRequestLoader.isServerError">
                    <div class="col-md-3 col-sm-4 col-xs-12" *ngFor="let form of pagination.pagedItems ;let i =index" id="formListDiv_{{form.id}}">
                        <div class="grid-box" style="height: 250px !important;">
                            <div class="img-class">
                                <img class="fit-image" style="margin: unset;" [src]=" form.thumbnailImage" onerror="this.src='assets/images/form.png';" alt="{{form.name}}">
                            </div>
                            <h4 class="ellipsis mt5 mb5 f-w-600" title="{{form.name}}">
                                {{form.name | slice:0:25}} <span *ngIf="form.name?.length>25">...</span><br><br>
                            </h4>
                            <!---XNFR-255-->
                            <ng-container *ngIf="form?.whiteLabeledFormReceivedFromVendor">
                                <h6 class="moreipsis"  title="{{form?.whiteLabeledFormSharedByVendorCompanyName}}">
                                    <span translate>Received From <strong>{{form?.whiteLabeledFormSharedByVendorCompanyName}}</strong></span>
                                </h6>
                                <span class="view-banner-white-labeled mb5">White-Labeled</span>
                            </ng-container>
                            <!---XNFR-255-->
                            <div>
                                <h6 title="{{form.categoryName}}">
                                    Folder <strong>{{form.categoryName | slice:0:17}}</strong>
                                    <span *ngIf="form.categoryName?.length>17">..</span>
                                </h6>
                                <h6>
                                    Created On <strong>
                                 <app-timestamp [isOnlyDate]="true" [dateAndTime]="form.createdDateString"> </app-timestamp>
                                </strong>
                                </h6>
                                <h6 title="{{form.createdName}}">
                                    By <strong>{{form.createdName | slice:0:17}}</strong>
                                    <span *ngIf="form.createdName?.length>17">..</span>
                                </h6>
                            </div>
                            <div class="ribbon">                                
                                <span *ngIf="form.formSubType === 'REGULAR'" translate>Regular</span>
                                <span *ngIf="form.formSubType === 'QUIZ'" translate>Quiz</span>
                                <span *ngIf="form.formSubType === 'SURVEY'" translate>Survey</span>
                            </div>
                            <div class="bar">
                                <a *ngIf="!pagination.campaignForm && !pagination.landingPageForm && !pagination.landingPageCampaignForm && !pagination.partnerLandingPageForm && (deleteAndEditAccess || loggedInUserId==form.userId)" data-toggle="tooltip" data-placement="top" title="Edit"
                                    (click)="edit(form.id)">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="Preview" (click)="preview(form.id)">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>
                                <a *ngIf="!pagination.campaignForm  && !pagination.landingPageForm && !pagination.landingPageCampaignForm && !pagination.partnerLandingPageForm" data-toggle="tooltip" data-placement="top" title="Copy / Embed Link" (click)="showFormUrl(form)">
                                    <i class="fa fa-clipboard" aria-hidden="true"></i>
                                </a>
                                <ng-container *ngIf="form.campaignForm&&!form.dataShare">
                                    <a class="cursor">
                                        <i class="fa fa-line-chart" aria-hidden="true"></i>
                                    </a>
                                    <span class="badge" id="notification-list">{{form.count}}</span>
                                </ng-container>
                                <ng-container *ngIf="(form.campaignForm&&form.dataShare) || !form.campaignForm || form.landingPageForm">
                                    <ng-container *ngIf="form.count==0">
                                        <a class="cursor">
                                            <i class="fa fa-line-chart" aria-hidden="true" ></i>
                                        </a>
                                        <span class="badge" id="notification-list">{{form.count}}</span>
                                    </ng-container>
                                    <ng-container *ngIf="form.count>0">
                                        <a data-rel="fancybox-button" (click)="goToAnalytics(form)" title="Form Analytics" data-toggle="tooltip" data-placement="top">
                                            <i class="fa fa-line-chart" aria-hidden="true"></i>
                                        </a>
                                        <span class="badge" id="notification-list">{{form.count}}</span>
                                    </ng-container>
                                </ng-container>
                                <a *ngIf="!pagination.campaignForm && !pagination.landingPageForm && !pagination.landingPageCampaignForm && !pagination.partnerLandingPageForm && (deleteAndEditAccess || loggedInUserId==form.userId)" (click)="confirmDelete(form)" data-toggle="tooltip"
                                    data-placement="top" title="Delete" class="delete">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-container *ngIf="isListView || isGridView">
                    <div *ngIf="pagination.pagedItems.length !== 0" class="pg8">
                        <app-pagination [pagination]="pagination" (notifyParent)="setPage($event)" (notifyParentDropDown)="listForms($event)" [hidden]="httpRequestLoader.isLoading"></app-pagination>
                    </div>
                    <!-- End of 24 -->
                    <div *ngIf="pagination.totalRecords==0 && !httpRequestLoader.isLoading" class="alert alert-info">
                        <strong>No Forms Found.</strong>
                    </div>
                </ng-container>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>


    <!-- ----------------------Copy Link Modal------------------- -->
    <div class="modal fade right" id="form-url-modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" style="width: 75%! important;right:0 !important">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close-circle" data-dismiss="modal">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                    <h4 class="modal-title text-center">COPY LINK / EMBED LINK</h4>
                </div>
                <div class="modal-body">
                    <app-response-message [customResponse]="copiedLinkCustomResponse" *ngIf="copiedLinkCustomResponse.isVisible">
                    </app-response-message>
                    <br>
                    <div class="form-group">
                        <label class="control-label">Copy Link</label>
                        <input type="text" id="copy-link" class="form-control" readonly="readonly" [ngModel]="formAliasUrl" #userinput>
                        <br>
                        <a class="btn btn-primary" id="right" (click)="copyInputMessage(userinput,'Form link')">Copy
                            Link</a>
                        <br>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Copy Embed Link</label>
                        <textarea id="text-area" class="text-color" rows="3" [ngModel]="iframeEmbedUrl" spellcheck="false" #iframeUrlInput></textarea>
                        <a class="btn btn-primary" id="right" (click)="copyInputMessage(iframeUrlInput,'Embed link')">Copy Embed
                            Link</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <a data-dismiss="modal" class="btn Btn-Gray" id="right">Close</a>
                </div>
            </div>
        </div>
    </div>
    <app-scroll-top></app-scroll-top>
    <app-preview-popup #previewPopUpComponent></app-preview-popup>


    <div class="col-xs-12 p5" *ngIf="statusCode==403">
        <div class="alert alert-danger">
            <strong>
        <h4>Access Denied</h4>
      </strong>
        </div>
    </div>

