.activity_card {
    /* border: 1px solid #ddd; */
    padding: 0px 0px 5px 0px;
    border-radius: 4px;
    background-color: #ffffff;
}

.activity-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activity-title {
    font-weight: 600;
}

.activity-date {
    color: #666;
    font-size: 12px;
}

.activity-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    color: #555;
}

.activity-footer {
    text-align: right;
    margin: 5px 0px;
    justify-content: space-between;
    display: flex;
    align-items: center;

}

.activity-footer a {
    color: #578ebe;
    font-weight: 600;
    font-size: 13px;
    text-transform: capitalize;
}

.icon {
    font-size: 13px;
    margin-right: 4px;
}

.alert {
    padding: 15px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.note-activity-body {
    display: flex;
    align-items: baseline;
    margin-top: 8px;
    color: #555;
}
.filter-by {
    width: 77%;
    padding-top: 8px;
    padding-right: 5px;
}
.filter-above {
    width: fit-content;
    display: inline-flex;
}
fieldset.scheduler-borders {
    border: 1px solid silver;
    padding: 0.5em 1.2em 0.5em 1.2em !important;
    margin: 0px!important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
    border-radius: 7px;
  }
  legend.scheduler-borders {
    width: auto;
    padding: 2px 15px;
    color: #000;
    font-weight: 500;
    font-size: 13px;
    border: 1px solid #ddd;
    border-radius: 7px;
    /* background-color: #f1f5f9; */
  }
  legend {
    margin-bottom: 0px;
  }
.deal-flex-wrap {
    flex-wrap: wrap;
}
.mr3 {
    margin-right: 3px;
}
.update-activity {
    background-color: #fcebda;
}
.create-activity {
    background-color: #d0e1f8;
}
.sent-activity {
    background-color: #d5f2d8;
}
  