.title {
    font-size: 25px;
    text-align: left;
    border-bottom: 2px solid #cac8c8;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}

.padding {
    padding: 5px 15px;
}

.padding_bottom {
    padding-bottom: 10px;
}

.text-wrap {
    overflow-wrap: break-word;
    padding-top: 10px;
}

.cpdam {
    padding: 20px 0px 0px 15px;
}

.cphdam {
    padding: 0px 0px!important;
    min-height: 200px;
}

.port-heading {
    padding-left: 10px!important;
    padding-top: 10px!important;
    background: #f1f1f1;
}

.form-background {
    background: none;
}

.disable {
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
}

.blur-content {
    opacity: 0.6;
    pointer-events: none;
}

.overlay {
    width: 85%;
    position: fixed;
    z-index: 1;
    top: 10%;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.img-asset-class {
    height: 90px;
    width: 100px;
    background: #f2f4f9;
    border: solid 1px #008fd5;
    border-radius: 1px;
}