.title {
    font-size: 25px;
    text-align: center;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}

.padding {
    padding: 5px 15px;
}

.padding_bottom {
    padding-bottom: 10px;
}

.cpdam {
    padding: 62px 0px 0px 20px;
}

.cphdam {
    padding: 0px 0px!important;
    min-height: 200px;
}

.port-heading {
    padding-left: 10px!important;
    padding-top: 10px!important;
    background: #f1f1f1;
}