.portlet.light .portlet-body {
  padding-top: 0px !important;
}
.text {
  text-align: center;
  border-bottom: 1px solid #ddd;
}
h4 {
  font-weight: 500 !important;
  font-size: 15px !important;
}
h5 {
  font-size: 14px !important;
  font-weight: 400 !important;
}
.img-responsive {
  padding-top: 30px;
  display: block;
  max-width: 64px;
  height: auto;
  padding-bottom: 30px;
}
.hover-effect:hover {
  border: 1px solid #4eafd6;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  box-shadow: 0 4px 8px 3px rgb(0 0 0 / 15%), 0 1px 3px rgb(0 0 0 / 30%);
}
.pointer {
  cursor: pointer;
}
.design-name {
  color: #008fd5;
  font-size: 13px;
  font-weight: 600;
  margin-left: 5px;
}
.mtop {
  margin-top: 20px !important;
}
.cpad {
  padding: 0px;
}
.mauto {
  margin: 0 auto;
}
.header-text-css {
  text-align: center;
  padding-left: 10px;
  padding-bottom: 11px;
  border-bottom: 1px solid #ddd;
}
.prfpx {
  padding-right: 40px;
}
.prtfpx {
  padding-right: 25px;
}
.prspx {
  padding-right: 60px;
}
.col-centered {
  float: none;
  margin: 0 auto;
}
.mfpx {
  margin: 14px !important;
}
.portlet .light {
  padding: 0px !important;
}
.img1:hover {
  background-position: 100%;
  background-color: #b8def1;
  transition-duration: 500ms;
}
.prm-dark-border >.text:last-child{
border-bottom: unset!important;
}