<div *ngIf="totalCount > 0">
<div class="comments">
	<a data-toggle="modal" (click)="getComments()" attr.data-target="#comments{{postId}}">
		<i class="fa fa-comment-o" aria-hidden="true">&nbsp;</i>{{totalCount}} comment<span *ngIf="totalCount > 1">s</span>
	</a>
</div>
</div>

<div class="modal fade" id="comments{{postId}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">People who have Commented</h4>
      </div>
      <div class="modal-body">
		<div class="portlet light block rounded-0 p0" *ngFor="let comment of comments">
			<div class="portlet-title">
					<div class="col-xs-12">
						<h4 class="col-xs-6 text-left p0 spn">{{comment.from.name}}</h4> 
						<h5 class="col-xs-6 text-right p0">{{comment.createdTime | date: 'short'}}</h5>
					</div>
			</div>
			<div class="portlet-body clearfix m0 p0">
				<h4 class="col-xs-12" [innerHTML]="comment.message"></h4>
			</div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn Btn-Gray" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>