<div *ngIf="comments?.length > 0">
	<div class="comments">
		<a data-toggle="modal" attr.data-target="#comments{{postId}}">
			<i class="fa fa-comment-o" aria-hidden="true">&nbsp;</i>{{comments?.length}} comment<span *ngIf="comments?.length > 1">s</span>
		</a>
	</div>
</div>

<div class="modal fade" id="comments{{postId}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">People who have Commented</h4>
      </div>
      <div class="modal-body">
		<div class="portlet light block rounded-0" *ngFor="let comment of comments">
			<div class="portlet-title">
				<div class="caption">
					<div class="col-xs-12" style="display: flex;">
						<h5 class="text-left">{{comment.from.name}}</h5>
						<h6 class="text-right">{{comment.createdTime | date: 'short'}}</h6>
					</div>
				</div>
			</div>
			<div class="portlet-body"><p [innerHTML]="comment.message"></p></div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>