<app-modal-popup-loader *ngIf="loader.isLoading"></app-modal-popup-loader>
<ng-container *ngIf="!loader.isLoading">
  <div class="col-xs-12">
    <div>
      <div class="row" id="row-margin">
        <div class="col-xs-6">
          <a *ngIf="urlLinks?.length==0" class="dashboard-stat website-auto-response blur">
            <em class="fa fa-ban p0"></em>
            No website links found
          </a>
          <a *ngIf="urlLinks?.length>0" class="dashboard-stat website-auto-response" (click)="addClickRows()">
            <em class="fa fa-plus-square p0" id="i-margin"></em>
            {{properties.ADD_AUTO_RESPONSE_WEBSITE}}
          </a>
        </div>

        <div class="col-xs-6">
          <a class="dashboard-stat email-auto-response" (click)="addReplyRows()">
            <em class="fa fa-plus-square p0" id="i-margin"></em>
            {{properties.ADD_AUTO_RESPONSE_EMAIL}}
          </a>
        </div>
        <div class="col-xs-12" id="reply-onclick-div" style="position: relative; bottom: -7px;">
          <div class="alert alert-danger">
            <strong>Please complete the required fields</strong>
          </div>
          <fieldset *ngIf="replies?.length>0">
            <legend> {{properties.ADD_AUTO_RESPONSE_EMAIL}}</legend>
            <div *ngFor="let reply of replies;let i=index">
              <div class="portlet light dashboard-stat2" id="{{reply.divId}}">
                <div class="portlet-title custom-change-css"
                  [ngClass]="{'colorBlue':isEven(i+1), 'colorRed':!isEven(i+1)}">
                  <div class="col-xs-6">
                    <h4 class="text-left" style="color:#fff">Add an Auto-response to your e-mail-{{i+1}}</h4>
                  </div>
                  <div class="col-xs-6">
                    <div class="pull-right">
                      <label class="switch-choose" style="color:#fff">Choose Template</label>
                      <!-- <switch class="switch-choose" [status]="reply.defaultTemplate"
                          [onText]="callActionSwitch.onTextValue" [offText]="callActionSwitch.offTextValue"
                          [onColor]="callActionSwitch.onGreenColorSwitch"
                          [offColor]="callActionSwitch.onDefaultColorSwitch" [size]="callActionSwitch.size"
                          (statusChange)="selectReplyEmailBody($event,i,reply)">
                        </switch> -->
                      <button type="button" class="btn btn-danger button-blue" (click)="remove(reply.divId,'replies')">
                        <span class="glyphicon glyphicon-trash"></span>
                      </button>
                      <button type="button" class="btn btn-primary button-blue" (click)="addReplyRows()">
                        <span class="glyphicon glyphicon-plus"></span>
                      </button>
                    </div>
                  </div>
                  <!--End of col-xs-6-->
                </div>
                <div class="row">
                  <form class="role add-reply" id="form-{{reply.divId}}">
                    <div class="col-xs-12 p0">
                      <div class="col-xs-12 p0">
                        <div class="col-xs-6" style="margin-bottom: 6px;">
                          <label style="cursor: default;" for="reason">Reason</label>
                          <select class="form-control" name="actionId" [(ngModel)]="reply.actionId">
                            <option [value]="0" [selected]="reply.actionId ==0">Email is not opened</option>
                            <option [value]="13" [selected]="reply.actionId==13">Email is opened</option>
                            <option [value]="16" [selected]="reply.actionId ==16">Send immediately after email is
                              opened</option>
                            <option [value]="22" [selected]="reply.actionId ==22"
                              *ngIf="campaign.channelCampaign && campaignType=='regular'">Email is not redistributed
                              by the partner</option>
                            <ng-container *ngIf="campaignType=='video'">
                              <option [value]="1" [selected]="reply.actionId==1"> Video is played</option>
                              <option [value]="17" [selected]="reply.actionId==17"> Send immediately after video is
                                played</option>
                              <option [value]="18" [selected]="reply.actionId==18">Video is not played</option>
                              <option [value]="23" [selected]="reply.actionId ==23" *ngIf="campaign.channelCampaign">
                                Video is not redistributed</option>
                            </ng-container>
                          </select>
                        </div>

                        <div class="col-xs-6" *ngIf="reply.actionId!=16 && reply.actionId!=17 && reply.actionId!=18">
                          <label class="default" for="days" *ngIf="reply.actionId==22 || reply.actionId==23 "
                            id="reply-days-{{reply.divId}}">Reply In X Days
                            <b style="color: red">*</b>
                            <font><b>(Minimum 1 Day)</b></font>
                          </label>
                          <label class="default" for="days" *ngIf="reply.actionId!=22 && reply.actionId!=23"
                            id="reply-days-{{reply.divId}}">Reply In X Days
                            <b style="color: red">*</b>
                          </label>
                          <input type="number" class="form-control" name="days" placeholder="Days"
                            [(ngModel)]="reply.replyInDays" min="0" oninput="validity.valid||(value='');">
                        </div>
                        <div class="col-xs-12">
                          <label class="default" for="time" id="reply-subject-{{reply.divId}}">Subject<b
                              style="color: red">*</b>
                          </label>
                          <input type="text" class="form-control" name="subject" [(ngModel)]="reply.subject"
                            placeholder="Subject" maxlength="200">
                        </div>
                      </div>
                      <!--End of col-xs-12 p0 58-->

                      <!--Ckeditor strats here-->
                      <div class="col-xs-12">
                        <div id="ck-editor-{{i}}" *ngIf="!reply.defaultTemplate">
                          <div style="margin-left: 1px;">
                            <label class="default" for="days" id="reply-message-{{reply.divId}}">Message <b
                                style="color: red">*</b>
                            </label>
                          </div>
                          <div>
                            <ckeditor [(ngModel)]="reply.body" name="body"></ckeditor>
                          </div>
                        </div>
                      </div>
                      <!--End of col-xs-12 104-->
                    </div>
                  </form>
                </div>
                <!--End of row-->


              </div>
            </div>
            <!--End of ngFor-->
          </fieldset>
        </div>
        <!--End of col-xs-12-->
      </div>
      <!--End of row-->
    </div>
    <!--End of div-->
  </div>
  <!--End of col-xs-12-->
</ng-container>