<app-modal-popup-loader *ngIf="loader.isLoading"></app-modal-popup-loader>
<ng-container *ngIf="!loader.isLoading">
   <div class="portlet light shadow">
      <app-response-message [customResponse]="customResponse" *ngIf="customResponse.isVisible && !loader.isLoading">
      </app-response-message>
      <div class="portlet-title">
         <h4 class="caption-subject font-red-sunglo f-w-600 pull-left">Add Workflows</h4>
         <a class="close-circle pull-right" data-dismiss="modal" (click)="goToManageCampaigns()">
         <i class="fa fa-times"></i>
         </a>
      </div>
      <div class="portlet-body clearfix">
         <div class="row" id="row-margin">
            <div class="col-xs-12">
               <div class="col-xs-6">
                  <a *ngIf="urlLinks?.length==0" class="dashboard-stat website-auto-response blur">
                  <em class="fa fa-ban p0"></em>
                  No website links found
                  </a>
                  <a *ngIf="urlLinks?.length>0" class="dashboard-stat website-auto-response" (click)="addClickRows()">
                  <em class="fa fa-plus-square p0" id="i-margin"></em>
                  {{properties.ADD_AUTO_RESPONSE_WEBSITE}}
                  </a>
               </div>
               <div class="col-xs-6">
                  <a class="dashboard-stat email-auto-response" (click)="addReplyRows()">
                  <em class="fa fa-plus-square p0" id="i-margin"></em>
                  {{properties.ADD_AUTO_RESPONSE_EMAIL}}
                  </a>
               </div>
            </div>
            <div class="col-xs-12" id="reply-onclick-div" style="position: relative; bottom: -7px;">
               <div class="alert alert-danger" *ngIf="hasError">
                  <strong>Please complete the required fields</strong>
               </div>
               <fieldset *ngIf="replies?.length>0">
                  <legend> {{properties.ADD_AUTO_RESPONSE_EMAIL}}</legend>
                  <div *ngFor="let reply of replies;let i=index">
                     <div class="portlet light dashboard-stat2" id="{{reply.divId}}">
                        <div class="portlet-title custom-change-css"
                           [ngClass]="{'colorBlue':isEven(i+1), 'colorRed':!isEven(i+1)}">
                           <div class="col-xs-6">
                              <h4 class="text-left white">Add an Auto-response to your e-mail-{{i+1}}</h4>
                           </div>
                           <div class="col-xs-6">
                              <div class="pull-right">
                                 <button type="button" class="btn btn-danger button-blue" (click)="remove(reply.divId,'replies')">
                                 <span class="glyphicon glyphicon-trash"></span>
                                 </button>
                                 <button type="button" class="btn btn-primary button-blue" (click)="addReplyRows()">
                                 <span class="glyphicon glyphicon-plus"></span>
                                 </button>
                              </div>
                           </div>
                           <!--End of col-xs-6-->
                        </div>
                        <div class="row">
                           <form class="role add-reply" id="form-{{reply.divId}}">
                              <div class="col-xs-12 p0">
                                 <div class="col-xs-12 p0">
                                    <div class="col-xs-6" id="margin-bottom">
                                       <label class="default-cursor" for="reason">Reason <strong class="red">*</strong></label>
                                       <select class="form-control" name="actionId" [(ngModel)]="reply.actionId">
                                       <ng-container *ngFor='let option of workflowsMap.emailWorkflowOptions; let i=index'>
                                          <option value="{{option.workflowId}}">{{option.workflowName}}</option>
                                       </ng-container>
                                       <!-----Channel Email Workflows---->
                                       <ng-container *ngIf="campaign.campaignType=='REGULAR' && campaign.channelCampaign">
                                          <ng-container
                                             *ngFor='let option of workflowsMap.channelEmailWorkflowOptions; let i=index'>
                                             <option value="{{option.workflowId}}">{{option.workflowName}}</option>
                                          </ng-container>
                                       </ng-container>
                                       <!-----Event Workflows---->
                                       <ng-container *ngIf="campaign.campaignType=='EVENT'">
                                          <ng-container *ngIf="campaign.channelCampaign">
                                             <ng-container
                                                *ngFor='let option of workflowsMap.channelEventWorkflowOptions; let i=index'>
                                                <option value="{{option.workflowId}}">{{option.workflowName}}</option>
                                             </ng-container>
                                          </ng-container>
                                          <ng-container *ngFor='let option of workflowsMap.eventWorkflowoptions; let i=index'>
                                             <option value="{{option.workflowId}}">{{option.workflowName}}</option>
                                          </ng-container>
                                       </ng-container>
                                       <!-----Video Workflows---->
                                       <ng-container *ngIf="campaign.campaignType=='VIDEO'">
                                          <ng-container *ngIf="campaign.channelCampaign">
                                             <ng-container
                                                *ngFor='let option of workflowsMap.channelVideoWorkflowOptions; let i=index'>
                                                <option value="{{option.workflowId}}">{{option.workflowName}}</option>
                                             </ng-container>
                                          </ng-container>
                                          <ng-container *ngFor='let option of workflowsMap.videoWorkflowOptions; let i=index'>
                                             <option value="{{option.workflowId}}">{{option.workflowName}}</option>
                                          </ng-container>
                                       </ng-container>
                                       </select>
                                    </div>
                                    <div class="col-xs-6" *ngIf="reply.actionId!=16 && reply.actionId!=17  && reply.actionId!=25 && reply.actionId!=26
                                       && reply.actionId!=27 &&reply.actionId!=28">
                                       <label class="default" for="days" id="reply-days-{{reply.divId}}">
                                          <ng-container *ngIf="reply.actionId==29 ||reply.actionId==30">Send Before X Days
                                          </ng-container>
                                          <ng-container
                                             *ngIf="reply.actionId!=29 && reply.actionId!=30 && reply.actionId!=31 && reply.actionId!=32">
                                             Reply In X Days
                                          </ng-container>
                                          <ng-container *ngIf="reply.actionId==31 || reply.actionId==32">Send After X Days
                                          </ng-container>
                                          <strong class="red">*</strong>
                                          <strong>(Minimum 1 Day)</strong>
                                       </label>
                                       <input type="number" class="form-control" name="days" placeholder="Days"
                                       [(ngModel)]="reply.replyInDays" min="0" oninput="validity.valid||(value='');">
                                    </div>
                                    <div class="col-xs-12">
                                       <label class="default" for="time" id="reply-subject-{{reply.divId}}">Subject
                                       <strong class="red">*</strong>
                                       </label>
                                       <input type="text" class="form-control" name="subject" [(ngModel)]="reply.subject"
                                       placeholder="Subject" maxlength="200">
                                    </div>
                                 </div>
                                 <!--End of col-xs-12 p0-->
                                 <!--Ckeditor strats here-->
                                 <div class="col-xs-12">
                                    <div id="ck-editor-{{i}}" *ngIf="!reply.defaultTemplate">
                                       <div style="margin-left: 1px;">
                                          <label class="default" for="days" id="reply-message-{{reply.divId}}">Message
                                          <strong class="red">*</strong>
                                          </label>
                                       </div>
                                       <div>
                                          <ckeditor [(ngModel)]="reply.body" name="body"></ckeditor>
                                       </div>
                                    </div>
                                 </div>
                                 <!--End of col-xs-12-->
                              </div>
                           </form>
                        </div>
                        <!--End of row-->
                     </div>
                  </div>
                  <!--End of ngFor-->
               </fieldset>
            </div>
            <!--End of col-xs-12-->
         </div>
         <!--End of row-->
         <div id="bottom-right">
            <button class="btn btn-primary" [disabled]="replies.length==0 && urls.length==0"
            (click)="saveWorkflows()">Save</button>
         </div>
      </div>
      <!--End of portlet-body clearfix-->
   </div>
   <!--End of portlet light-->
</ng-container>