.portlet.light.dashboard-stat2.border-error {
  border-color: red;
}
.dashboard-stat {
  padding: 9px 0;
  height: auto;
  text-align: center;
  color: #fff;
  font-size: 16px;
  margin-bottom: 0px;
}
.website-auto-response {
  background-color: #f76c1a;
}
.email-auto-response {
  background-color: #f4555c;
}
#i-margin {
  margin: 0 5px;
}
#row-margin {
  margin-bottom: 5px;
  margin-top: -9px;
}
.dashboard-stat2 {
  padding: 15px;
}
.white {
  color: #fff;
}
.default-cursor {
  cursor: default;
}
.red {
  color: red;
}
.blur {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
  cursor: default;
}
.custom-change-css {
  border-radius: 0;
  width: 102%;
  position: relative;
  top: -10px;
  margin-bottom: -16px;
  right: 10px;
}
.button-blue {
  position: relative;
  background: #888a8c !important;
  top: 6px;
  font-size: 4px;
}
.colorBlue {
  background: #808080;
}
.colorRed {
  background: #5bb1d4;
}
#bottom-right {
  margin-right: 15px;
  float: right;
  margin-top: 10px;
}
