.portlet.light.dashboard-stat2.border-error {
  border-color: red
}

.dashboard-stat {
  padding: 9px 0;
  height: auto;
  text-align: center;
  color: #fff;
  font-size: 16px;
  margin-bottom: 0px;
}

.website-auto-response {
  background-color: #f76c1a;

}

.email-auto-response {
  background-color: #f4555c;
}

#i-margin {
  margin: 0 5px;
}

#row-margin {
  margin-bottom: 5px;
  margin-top: -9px;
}

#reply-div {
  position: relative;
  bottom: -7px;
}

.portlet.light.dashboard-stat2.border-error {
  border-color: red
}

.dashboard-stat2 {
  padding: 15px
}

.border-error {
  border-radius: 0 !important;
  padding-top: 2em;
  border: 2px solid rgb(243, 86, 93);
}

.border-right {
  border-right: 1px solid #dadada;
}

.white {
  color: #fff;
}

#marign-bottom {
  margin-bottom: 6px;
}

.default-cursor {
  cursor: default;
}

.red {
  color: red;
}

#padding-left {
  padding-left: 0;
}

.height {
  height: 66px;
}

.blur {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
  cursor: default;
}
.custom-change-css {
  border-radius: 0;
  width: 102%;
  position: relative;
  top: -10px;
  margin-bottom: -16px;
  right: 10px;
}

.time-picker-css {
  margin-top: 30px;
  margin-right: 10px;
  position: relative;
  right: -4px;
}

.button-blue {
  position: relative;
  background: #888a8c !important;
  top: 6px;
  font-size: 4px;
}

.switch-choose {
  position: relative;
  top: 6px;
  left: -5px;
}

.error-div {
  width: 97%;
  top: 12px;
  right: -17px;
  position: relative;
}

.view-by-banner {
  padding: 2px 5px;
  background-color: #5bb2f5;
  color: #fff;
}

.radio-button-css {
  float: left;
  position: relative;
  top: 31px;
  left: -7px;
  cursor: pointer;
}

.colorBlue {
  background: #808080;
}

.colorRed {
  background: #5bb1d4;
}
#bottom-right{
  margin-right: 15px;
  float: right;
  margin-top: 10px;
}
