<div class="col-sm-12 col-md-12 col-lg-12 ml15m">
  <div class="panel panel-info">
    <div class="panel-heading panel-heading-custom" id="pj-redistributed-campaigns-div">
      <h3 class="panel-title mt7">Redistributed Campaign Details</h3>
      <span class="pull-right mt25m">
        <div class="input-icon right" style="position: relative;width: 178px;">
          <input type="text" style="height:34px;" class="form-control" [(ngModel)]="sortOption.searchKey"
            [ngModelOptions]="{standalone: true}" placeholder="Search"
            (keypress)="searchKeyPress($event.keyCode)">
          <button class="glyphicon glyphicon-remove search-box-item-clear" *ngIf="sortOption.searchKey"
            (click)="sortOption.searchKey='';search()"></button>
          <button type="submit" class="search-box-item-click" (click)="search()">
            <i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
      </span>
    </div>
    <div class="panel-body">    
      <div class="scroll">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" *ngIf="isDetailedAnalytics">Team Member</th>
              <th scope="col" *ngIf="!isDetailedAnalytics">Company Name</th>
              <th scope="col">Campaign Name</th>
              <th scope="col">Campaign Type</th>
              <th scope="col">Schedule Type</th>
              <th scope="col">Launched On</th>
            </tr>
          </thead>
          <tbody>          
            <tr *ngFor="let item of pagination.pagedItems;let i  = index">
              <td *ngIf="isDetailedAnalytics"><app-user-info [isPartnerEntityInfo]="true" [userInfo]="item"></app-user-info></td>
              <td *ngIf="!isDetailedAnalytics"><a data-rel="fancybox-button" (click)="viewAnalytics(item.companyId)">{{item?.companyName}}</a></td>
              <td>{{item?.campaignName}}</td>
              <td>{{item?.campaignType}}</td>
              <td>{{item?.campaignScheduleType}}</td>
              <td>
                <app-timestamp [isOnlyDate]="false" [dateAndTime]="item?.launchDateInUTC">
                </app-timestamp>
              </td>              
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="pagination.totalRecords==0 && !httpRequestLoader.isLoading" class="alert alert-info">
        <strong>No Data Found.</strong>
      </div>
      <!--Pagination-->
      <div *ngIf="pagination.pagedItems.length !== 0" class="pg8" [hidden]="httpRequestLoader.isLoading">
        <app-pagination [pagination]="pagination" [isDropdown]="'false'" (notifyParent)="setPage($event)"
          (notifyParentDropDown)="getRedistributedCampaignDetails($event)">
        </app-pagination>
      </div>
    </div>
  </div>
</div>
