<!-- BEGIN DASHBOARD STATS -->
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<app-box-loader [countLoader]=3 *ngIf="loading"></app-box-loader>

<div class="row" *ngIf="!loading">
    <div class="col-sm-4 col-xs-6"
      [ngClass]="{'col-lg-3 col-md-3':
            (authenticationService.isVendorPartner() || authenticationService.isOrgAdminPartner()  ||  authenticationService.isPartnerTeamMember|| authenticationService.isOnlyPartner() || authenticationService.isOrgAdmin()),
            'col-lg-4 col-md-4':!(authenticationService.isVendorPartner() || authenticationService.isOrgAdminPartner() || authenticationService.isPartnerTeamMember)}">
      <a class="dashboard-stat dashboard-stat-lighter green-soft" (click)="goToManageCampaigns()">
        <div class="visual">
          <i class="fa fa-bullhorn"></i>
        </div>
        <div class="details">
          <div class="number">{{dashboardReport.totalCreatedCampaigns}}</div>
          <div class="desc">Campaigns</div>
        </div>
        <span class="morePadding">
          <a class="more"> Detailed view <i class="m-icon-swapright m-icon-white"></i></a>
        </span>
      </a>
    </div>
    <!-- contactt tab for partner only -->

    <div *ngIf="authenticationService.isOnlyPartner() || authenticationService.isPartnerTeamMember"
     class="col-sm-4 col-xs-6" [ngClass]="{'col-lg-3 col-md-3':(authenticationService.isVendorPartner() || authenticationService.isOrgAdminPartner() || authenticationService.isOnlyPartner() || authenticationService.isPartnerTeamMember)}">
			<a class="dashboard-stat dashboard-stat-lighter purple-soft" (click)="navigateToManageContacts()" [class.disabled]="  !authenticationService.user.hasCompany ? true : null || dashboardReport.totalContacts == 0">
				<div class="visual">
					<i class="fa fa-users"></i>
				</div>
				<div class="details">
          <div class="number">{{dashboardReport.totalContacts}}</div>
					<div class="desc" >Contacts</div>
        </div>
        <span  class="morePadding">
          <a class="more"> Detailed view <i class="m-icon-swapright m-icon-white"></i></a>
        </span>
			</a>
    </div>
    <!-- contact tab ended -->
    <div *ngIf="(!authenticationService.isOnlyPartner() && !authenticationService.isPartnerTeamMember) && authenticationService.vanityURLEnabled" class="col-sm-4 col-xs-6" [ngClass]="{'col-lg-3 col-md-3 ':(authenticationService.isVendorPartner() || authenticationService.isOrgAdminPartner() ||
                     authenticationService.isOnlyPartner() || authenticationService.isPartnerTeamMember ||  authenticationService.isOrgAdmin()),
                      'col-lg-4 col-md-4':!(authenticationService.isVendorPartner() || authenticationService.isOrgAdminPartner() || authenticationService.isPartnerTeamMember)}" >
			<a class="dashboard-stat dashboard-stat-lighter red-soft" (click)="navigateToPartner()" >
				<div class="visual">
					<i class="fa fa-handshake-o"></i>
				</div>
				<div class="details">
					<div class="number">
					   <span *ngIf="!this.authenticationService.isOnlyPartner() && !authenticationService.isPartnerTeamMember; else partner">
               <span *ngIf="dashboardReport.totalCompanyPartnersCount; else emptyValues">{{dashboardReport.totalCompanyPartnersCount}} </span>
               <ng-template #emptyValues>0</ng-template>
             </span>
					   <ng-template #partner>
               <span *ngIf="dashboardReport.vendorsCount; else emptyValue">{{dashboardReport.vendorsCount}} </span>
               <ng-template #emptyValue>0</ng-template>
             </ng-template>
					</div>
					<div class="desc">
						<span *ngIf="authenticationService.isOnlyPartner() || authenticationService.isPartnerTeamMember; else orgadmin">Vendors</span>
						<ng-template #orgadmin><span>Partner Analytics</span></ng-template>
					</div>
        </div>
        <span  class="morePadding">
          <a class="more"> Detailed view <i class="m-icon-swapright m-icon-white"></i></a>
        </span>
			</a>
    </div>
    <div *ngIf="!authenticationService.isOnlyPartner() && !authenticationService.isPartnerTeamMember"
      class="col-sm-4 col-xs-6" [ngClass]="{'col-lg-3 col-md-3 ':(authenticationService.isVendorPartner() || authenticationService.isOrgAdminPartner() || authenticationService.isOnlyPartner() || authenticationService.isPartnerTeamMember || authenticationService.isOrgAdmin()),
          'col-lg-4 col-md-4':!(authenticationService.isVendorPartner() || authenticationService.isPartnerTeamMember || authenticationService.isOrgAdminPartner())}">
			<a class="dashboard-stat dashboard-stat-lighter yellow-gold" (click)="goToManageVideos()">
				<div class="visual">        
          <img src="assets/images/white15.png" class="img-dash">
				</div>
				<div class="details">
					<div class="number">
            <span *ngIf="dashboardReport.totalUploadedvideos; else uploadVideos">{{dashboardReport.totalUploadedvideos}}</span>
						<ng-template #uploadVideos>0</ng-template>
          </div>
					<div class="desc" >
						<span *ngIf="!this.authenticationService.isOnlyPartner() && !authenticationService.isPartnerTeamMember;else orgVideo">Uploaded Videos</span>
						<ng-template #orgVideo>Videos</ng-template>
					</div>
        </div>
        <span  class="morePadding">
          <a class="more"> Detailed view <i class="m-icon-swapright m-icon-white"></i></a>
        </span>
			</a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6"
     *ngIf="(authenticationService.isVendorPartner() || authenticationService.isOrgAdminPartner() || authenticationService.isOrgAdmin()) && (!authenticationService.isPartnerTeamMember) && !authenticationService.vanityURLEnabled">
      <a class="dashboard-stat dashboard-stat-lighter purple-soft" (click)="navigateToVendor()" >
        <div class="visual">
          <i class="fa fa-smile-o"></i>
        </div>
        <div class="details">
          <div class="number">
              <span *ngIf="dashboardReport.vendorsCount; else vendorsEmpty">{{dashboardReport.vendorsCount}} </span>
              <ng-template #vendorsEmpty>0</ng-template>
          </div>
          <div class="desc">Vendors</div>
        </div>
        <span id="permhref" class="morePadding">
          <a class="more"> Detailed view <i class="m-icon-swapright m-icon-white"></i></a>
        </span>
      </a>
    </div>


<!--     For Vendor and partner Team member vendors tile -->
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6"
     *ngIf="(authenticationService.superiorRole == 'Vendor & Partner' || authenticationService.superiorRole == 'OrgAdmin & Partner') && !authenticationService.vanityURLEnabled">
      <a class="dashboard-stat dashboard-stat-lighter red-soft" (click)="navigateToVendor()" >
        <div class="visual">
          <i class="fa fa-smile-o"></i>
        </div>
        <div class="details">
          <div class="number">
              <span *ngIf="dashboardReport.vendorsCount; else vendorsEmpty">{{dashboardReport.vendorsCount}} </span>
              <ng-template #vendorsEmpty>0</ng-template>
          </div>
          <div class="desc">Vendors</div>
        </div>
        <span id="permhref" class="morePadding">
          <a class="more"> Detailed view <i class="m-icon-swapright m-icon-white"></i></a>
        </span>
      </a>
    </div>



    <div *ngIf="authenticationService.superiorRole != 'Vendor' && !authenticationService.isPartnerTeamMember && (authenticationService.loggedInUserRole=='Team Member'|| authenticationService.isOrgAdminPartner() || authenticationService.isVendorPartner() || authenticationService.isOrgAdmin())"
     class="col-sm-4 col-xs-6" [ngClass]="{'col-lg-3 col-md-3 ':(authenticationService.isVendorPartner() || authenticationService.superiorRole == 'OrgAdmin & Partner' || authenticationService.superiorRole == 'Vendor & Partner' || authenticationService.isOrgAdminPartner() || authenticationService.isOrgAdmin()),
     'col-lg-4 col-md-4': (this.authenticationService.loggedInUserRole=='Team Member')}">
			<a class="dashboard-stat dashboard-stat-lighter purple-soft" (click)="navigateToManageContacts()" [class.disabled]="  !authenticationService.user.hasCompany ? true : null">
				<div class="visual">
					<i class="fa fa-users"></i>
				</div>
				<div class="details">
          <div class="number">{{dashboardReport.totalContacts}}</div>
					<div class="desc" >Contacts</div>
        </div>
        <span  class="morePadding">
          <a class="more"> Detailed view <i class="m-icon-swapright m-icon-white"></i></a>
        </span>
			</a>
    </div>

    <div *ngIf="this.authenticationService.loggedInUserRole!='Team Member'" class="col-sm-4 col-xs-6" [ngClass]="{'col-lg-3 col-md-3':
      (authenticationService.isVendorPartner() || authenticationService.isOrgAdminPartner() ||  authenticationService.isOnlyPartner() || authenticationService.isOrgAdmin()),
      'col-lg-4 col-md-4':!(authenticationService.isVendorPartner() || authenticationService.isOrgAdminPartner())}" >
			<a class="dashboard-stat dashboard-stat-lighter blue-sharp" (click)="goToSocialAccounts()">
				<div class="visual">
					<i class="fa fa-share"></i>
				</div>
				<div class="details">
					<div class="number">{{dashboardReport.totalSocialAccounts}}</div>
					<div class="desc">Social Accounts</div>
        </div>
        <span  class="morePadding">
          <a class="more"> Detailed view <i class="m-icon-swapright m-icon-white"></i></a>
        </span>
			</a>
		</div>
    <div class="col-sm-4 col-xs-6" *ngIf="!authenticationService.isOnlyPartner() && !authenticationService.isPartnerTeamMember"
    [ngClass]="{'col-lg-3 col-md-3':(authenticationService.isOrgAdmin() || authenticationService.superiorRole == 'OrgAdmin & Partner' ||
    authenticationService.superiorRole == 'Vendor & Partner' || authenticationService.isVendorPartner() || authenticationService.isOrgAdminPartner() ||
      authenticationService.isOnlyPartner()),
     'col-lg-4 col-md-4':authenticationService.superiorRole != 'Vendor' && !(authenticationService.isVendorPartner() || authenticationService.isOrgAdminPartner()),
    'col-lg-6 col-md-6': authenticationService.superiorRole == 'Vendor'}">
			<a class="dashboard-stat dashboard-stat-lighter blue-soft" (click)="goManageTemplates()" >
				<div class="visual">
            <i class="fa fa-envelope"></i>
				</div>
				<div class="details">
					<div class="number">{{dashboardReport.toalEmailTemplates}}</div>
					<div class="desc">Templates</div>
        </div>
        <span id="permhref" class="morePadding">
          <a class="more"> Detailed view <i class="m-icon-swapright m-icon-white"></i></a>
        </span>
			</a>
    </div>
    <div *ngIf="!authenticationService.isOrgAdmin() && this.authenticationService.loggedInUserRole!='Team Member'" >
    <div class="col-sm-4 col-xs-6" *ngIf="!authenticationService.isOnlyPartner() && !authenticationService.isVendorPartner() && !authenticationService.isOrgAdminPartner()" [ngClass]="{'col-lg-3 col-md-3 ':(authenticationService.isVendorPartner() || authenticationService.isOrgAdminPartner()), 'col-lg-4 col-md-4':!(authenticationService.isVendorPartner() || authenticationService.isOrgAdminPartner())}">
			<a class="dashboard-stat dashboard-stat-lighter purple-soft" (click)="navigateToManageContacts()" [class.disabled]="  !authenticationService.user.hasCompany ? true : null">
				<div class="visual">
					<i class="fa fa-users"></i>
				</div>
				<div class="details">
          <div class="number" *ngIf="!this.authenticationService.isVendor() && !authenticationService.isAddedByVendor && !authenticationService.isSuperAdmin()">{{dashboardReport.totalContacts}}</div>
          <div class="number" *ngIf="(this.authenticationService.isVendor() && !authenticationService.isAddedByVendor) || authenticationService.isSuperAdmin()">{{dashboardReport.totalTeamMembers}}</div>
          <div class="number" *ngIf="authenticationService.isAddedByVendor">          
            <span *ngIf="dashboardReport.totalTeamMembers; else count">{{dashboardReport.totalTeamMembers}}</span>
            <ng-template #count>0</ng-template>
          </div>
					<div class="desc" *ngIf="!this.authenticationService.isVendor() && !authenticationService.isAddedByVendor && !authenticationService.isSuperAdmin()">Contacts</div>
					<div class="desc" *ngIf="(this.authenticationService.isVendor() && !authenticationService.isAddedByVendor) || authenticationService.isSuperAdmin()">Team Members</div>
          <div class="desc" *ngIf="authenticationService.isAddedByVendor">Team Members</div>
          <!-- Total Partners -->
        </div>
        <span  class="morePadding">
          <a class="more"> Detailed view <i class="m-icon-swapright m-icon-white"></i></a>
        </span>
			</a>
    </div>
 </div>
 <div *ngIf="this.authenticationService.loggedInUserRole=='Team Member'" class="col-sm-4 col-xs-6"
  [ngClass]="{'col-lg-3 col-md-3':(authenticationService.isVendorPartner() || authenticationService.superiorRole == 'OrgAdmin & Partner' ||
   authenticationService.superiorRole == 'Vendor & Partner' || authenticationService.isOrgAdminPartner() ||  authenticationService.isOnlyPartner() ||authenticationService.isPartnerTeamMember || authenticationService.isOrgAdmin()),
  'col-lg-4 col-md-4':authenticationService.superiorRole != 'Vendor' && !(authenticationService.isVendorPartner() || authenticationService.isOrgAdminPartner()),
  'col-lg-6 col-md-6': authenticationService.superiorRole == 'Vendor'}">
  <a class="dashboard-stat dashboard-stat-lighter blue-sharp" (click)="goToSocialAccounts()">
    <div class="visual">
      <i class="fa fa-share"></i>
    </div>
    <div class="details">
      <div class="number">{{dashboardReport.totalSocialAccounts}}</div>
      <div class="desc">Social Accounts</div>
    </div>
    <span  class="morePadding">
      <a class="more"> Detailed view <i class="m-icon-swapright m-icon-white"></i></a>
    </span>
  </a>
</div>
  <!-- working this -->
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" *ngIf="(authenticationService.isVendorPartner() || authenticationService.isOrgAdminPartner() || authenticationService.isOrgAdmin()) && !authenticationService.isPartnerTeamMember  && this.authenticationService.loggedInUserRole!='Team Member'">
        <a class="dashboard-stat dashboard-stat-lighter blue-soft" (click)="goTeamMembers()">
          <div class="visual">
              <i class="fa fa-users"></i>
          </div>
          <div class="details">
            <div class="number">
                <span *ngIf="dashboardReport.totalTeamMembers; else teams">{{dashboardReport.totalTeamMembers}}</span>
                <ng-template #teams>0</ng-template>
            </div>
            <div class="desc">Team Members</div>
          </div>
          <span id="permhref" class="morePadding">
            <a class="more"> Detailed view <i class="m-icon-swapright m-icon-white"></i></a>
          </span>
        </a>
      </div>      
	</div>
	<!-- END DASHBOARD STATS -->