.btn-reply{
    margin: 7px 0;
    background-color: #1c7d74;
    color: white;
}
a.disabled {
	pointer-events: none;
	cursor: not-allowed;
}

/* action.css*/
.hiddenStepInfo {
	display: none;
}

.activeStepInfo {
	display: block !important;
}

.underline {
	text-decoration: underline;
}

.step {
	/*margin-top: 27px;*/
	
}

.progress {
	position: relative;
	height: 25px;
}

.progress>.progress-type {
	position: absolute;
	left: 0px;
	font-weight: 800;
	padding: 3px 30px 2px 10px;
	color: rgb(255, 255, 255);
	background-color: rgba(25, 25, 25, 0.2);
}

.progress>.progress-completed {
	position: absolute;
	right: 0px;
	font-weight: 800;
	padding: 3px 10px 2px;
}

.step {
	text-align: center;
}

.col-md-2>p {
	padding: 5px;
}

.step .col-md-2 {
	background-color: #fff;
	border: 1px solid #C0C0C0;
	border-right: none;
	/* width: 20% */
}

/* .step .col-md-2:last-child {
    border: 1px solid #C0C0C0;
}

.step .col-md-2:first-child {
    border-radius: 5px 0 0 5px;
}

.step .col-md-2:last-child {
    border-radius: 0 5px 5px 0;
} */
.step .col-md-2:hover {
	color: #B38867;
	/* color:rgba(255, 165, 0, 0.65);  */
	cursor: pointer;
}

.step .col-md-2-success {
	/* color:#00a6e8;  */
	/* color:rgba(255, 165, 0, 0.65);  */
	border: 1px solid #00a6e8;
	border-right: none;
}

.step .activestep {
	color: rgba(255, 165, 0, 0.65);
	vertical-align: central;
	border: 1px solid #f8c300;
}

.step .successstep {
	/*  color:#00a6e8;  */
	color: #00a6e8;
	vertical-align: central;
}

.step .col-md-2 .col-md-2-success .activestep {
	color: rgba(255, 165, 0, 0.65);
	vertical-align: central;
	border: 1px solid #f8c300;
}

.step #disableTab {
	pointer-events: none;
	cursor: not-allowed;
	background-color: #ECECEC;
	/* width: 20% */
}

.step .col-md-2-disable {
	pointer-events: none;
	cursor: not-allowed;
	background-color: #ECECEC;
}

.step .fa {
	padding-top: 22px;
	font-size: 40px;
}

/* publish.css*/
.btn-squared-default {
	width: 165px !important;
	height: 125px !important;
	font-size: 15px;
	padding-top: 20px
}

.btn-squared-default:hover {
	border: 3px solid #eee;
	font-weight: 600;
}

.btn-squared-default-plain {
	width: 100px !important;
	height: 100px !important;
	font-size: 10px;
}

.btn-squared-default-plain:hover {
	border: 0px solid white;
}

/*	--------------------------------------------------
	:: Table Filter
	-------------------------------------------------- */
.panel {
	border: 1px solid #ddd;
	background-color: #fcfcfc;
}

.panel .btn-group {
	margin: 15px 0 30px;
}

.panel .btn-group .btn {
	transition: background-color .3s ease;
}

.table-filter {
	background-color: #fff;
	border-bottom: 1px solid #eee;
}

.table-filter tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
}

.table-filter tbody tr td {
	padding: 10px;
	vertical-align: middle;
	border-top-color: #eee;
}

.table-filter tbody tr.selected td {
	background-color: #eee;
}

.table-filter>td {
	font-family: "Open Sans", sans-serif;
}

.not-active {
	pointer-events: none;
	cursor: default;
}
/* .table-filter tr td:first-child {
	width: 38px;
}
.table-filter tr td:nth-child(2) {
	width: 35px;
} */
.table-filter tbody tr.active td {
	background-color: #00a6e8 !important;
	color: white;
}

#myTable {
	width: 100%;
	text-align: left;
	background-color: lemonchiffon;
	border-collapse: collapse;
}

#myTable th {
	background-color: goldenrod;
	color: white;
}

#myTable td, #myTable th {
	padding: 10px;
	border: 1px solid goldenrod;
}

.campaign-arrow {
	width: 32px;
	background-color: #fdfdfd;
}

.campaign-arrow-error {
	width: 32px;
	background-color: #999;
	pointer-events: none;
	cursor: not-allowed;
}

.table tr.contact-list-selected td {
	background-color: #00a6e8 !important;
	color: white;
}

.ui-switch-custom-div {
	width: 7%;
	padding: 7px 0;
}

.mix-filter {
	margin: 5px;
}

.mix-filter li {
	font-size: 12px;
	text-transform: uppercase;
}

.box {
	padding: 10px;
}

.portlet.light.block.active {
	/* padding: 10px; 
	background-color:#123456 !important; */
	background-color: #eee;
}

.portlet.light {
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}

.text-center {
	text-align: center;
}

.portlet>.portlet-title>.caption {
	float: none;
	display: inherit;
}

.portlet.light .portlet-body {
	padding: 1em;
}

.portlet.light.block:hover {
	-webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, .15);
	box-shadow: 0 5px 20px rgba(0, 0, 0, .15);
	-webkit-transform: translateY(-.5rem);
	-ms-transform: translateY(-.5rem);
	transform: translateY(-.5rem);
	cursor: pointer;
	cursor: hand;
}

.portlet.light.block.active {
	
}

.fa-4x {
	font-size: 4em;
}

.profile-img-container {
	height: auto;
	width: 100%;
	position: relative;
}

.email-template-container:not (:hover ) .email-template-i-container {
	display: none;
}

.email-template-i-container {
	position: absolute;
	top: 8em;
	left: 0px;
	display: block;
	width: 100%;
	z-index: 500;
	text-align: center;
}

.email-template-i-container i {
	display: block;
	line-height: inherit;
}

.campaign-email-template-selected {
	visibility: visible;
	border: 1px solid rgba(17, 17, 17, 0.38);
	background: rgba(23, 23, 23, 0.12);
	opacity: 1;
}

.emailtemplate-selected {
	background-color: #6dcff6;
}

.has-success .form-control {
	border-color: #0ad40e;
}

.has-error .form-control {
	border-color: #a94442;
}

.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.flex {
	display: flex;
}

@media ( min-width : 1200px) {
	h4 {
		font-size: 16px;
	}
}

video {
	width: 100%;
	max-width: 100%;
	height: auto;
	padding: 1em 0;
}

.border-0 {
	border-radius: 0;
}

.border-none {
	border: none;
}

.fa-2x {
	font-size: 2em !important;
}

.h4-text {
	margin: 20px 20px 0 10px;
}

.caption>h3 {
	text-transform: uppercase;
	text-align: left;
	padding-left: 1em;
	font-weight: 500;
}

.label-radio {
	background: #aaa;
	color: #fff;
	border-radius: 0;
	padding: 1em;
	cursor: pointer;
	min-width: 100%;
}

.label-radio:hover {
	label: hover{
    background:#ccc;
}

}
.customDisableCss {
	cursor: not-allowed !important;
	opacity: 0.5;
}

a.disabled {
	pointer-events: none;
	cursor: not-allowed;
}

/* @author Manas Ranjan Sahoo */
.inline-block {
	display: inline-block
}

.fa-facebook-color {
	color: #3b5998
}

.fa-twitter-color {
	color: #55acee
}

.fa-social {
	margin: 10px 10px 10px 0;
	padding: 0 !important;
	font-size: 16px !important;
}

.checked {
	border: 1px solid #FF9800
}

.unchecked {
	opacity: .5;
	border: 1px solid #FFF
}

.ellipsis {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float: left !important
}

.profile-image {
	z-index: 1;
	width: auto;
	height: 48px
}

.social-image {
	width: 20px;
	height: auto
}

label {
	cursor: pointer;
	margin: 0
}

label:before {
	color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 5px;
	left: 5px;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 28px;
	transition-duration: .4s;
	transform: scale(0)
}

label img {
	transition-duration: .2s;
	transform-origin: 50% 50%
}

.social-media:checked+label {
	border-color: #ddd
}

.fileContainer {
	overflow: hidden;
	position: relative;
	float: left;
	padding: .5em
}

.fileContainer [type=file] {
	display: block;
	font-size: 999px;
	filter: alpha(opacity = 0);
	min-height: 100%;
	min-width: 100%;
	opacity: 0;
	position: absolute;
	right: 0;
	text-align: right;
	top: 0;
	cursor: pointer
}

.img-wrap .close, .text-center {
	text-align: center
}

.img-wrap {
	position: relative;
	display: inline-block;
	border: 1px solid;
	font-size: 0;
	margin: 5px
}

.img-wrap .close {
	position: absolute;
	top: 2px;
	right: 2px;
	z-index: 100;
	background-color: #FFF;
	padding: 5px 2px 2px;
	color: #000;
	font-weight: 700;
	cursor: pointer;
	opacity: .2;
	font-size: 22px;
	line-height: 10px;
	border-radius: 50%
}

.form-group label {
	font-weight: 700
}

.square-box {
	border-radius: 0 !important;
	webkit-border-radius: 0 !important
}

.padding-10px {
	padding: 10px
}

.padding-30px {
	padding: 30px
}

.margin-bottom-10px {
	margin-bottom: 10px
}

.margin-right-10px {
	margin-right: 10px
}

.padding-right-10px {
	padding-right: 10px
}

.status-message-textarea {
	min-height: 100%;
	max-height: 100%;
	min-width: 100%;
	max-width: 100%;
	resize: none;
	padding: 15px
}

.social-box {
	padding: 10px;
	border: 1px solid rgba(69, 182, 175, .55);
	max-height: 125px
}

.sparkline-chart {
	margin: 0
}

.text-right {
	text-align: right
}

.flatpickr-time {
	transition: none !important
}

.tweet:hover {
	background: #FFF
}

.swal2-image {
	width: 50%;
	height: auto
}

.demo {
	padding-top: 60px;
	padding-bottom: 110px
}

.btn-demo {
	margin: 15px;
	padding: 10px 15px;
	border-radius: 0;
	font-size: 16px;
	background-color: #FFF
}

.btn-demo:focus {
	outline: 0
}

.demo-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 15px;
	background-color: #212121;
	text-align: center
}

.demo-footer>a {
	text-decoration: none;
	font-weight: 700;
	font-size: 16px;
	color: #fff
}

.btn-social {
	position: relative;
	padding-left: 44px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #fff;
	border-color: rgba(0, 0, 0, .2);
	border-radius: 0;
	width: 100%;
	margin: .4em
}

.btn-facebook {
	background-color: #3b5998
}

.btn-twitter {
	background-color: #1da1f2
}

.btn-google {
	background-color: #d95535
}

.btn-linkedin {
	background-color: #0077B5
}

.btn-facebook.active, .btn-facebook:active, .btn-facebook:focus,
	.btn-facebook:hover {
	background-color: #30487b
}

.btn-twitter.active, .btn-twitter:active, .btn-twitter:focus,
	.btn-twitter:hover {
	background-color: #259be4
}

.btn-google.active, .btn-google:active, .btn-google:focus, .btn-google:hover
	{
	background-color: #d54724
}

.btn-linkedin.active, .btn-linkedin:active, .btn-linkedin:focus,
	.btn-linkedin:hover {
	background-color: #17709e
}

.btn-social :first-child {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 32px;
	line-height: 34px;
	font-size: 1.6em;
	text-align: center;
	border-right: 1px solid rgba(0, 0, 0, .2)
}

.inline-flex {
	display: inline-flex;
}

.dashboard-stat2, .portlet {
	border-radius: 0 !important;
}

.border-right {
	border-right: 1px solid #dadada;
}

.square-button {
	border-radius: 0 !important;
	padding: 1px 30px;
	min-width: 150px;
}
#email-rule-body{
	background-color: #fff
}

.form-group label {
	font-weight: 700;
	color: rgb(111, 111, 111);
	float: left;
	margin-bottom: 0.4em;
}
.form-horizontal .form-group{margin-right: 0.5em;}