<div class="tab-pane">
  <ngx-loading [show]="ngxLoading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <app-response-message [customResponse]="assetApprovalCustomResponse"
    *ngIf="assetApprovalCustomResponse.isVisible"></app-response-message>
  <form action="#" novalidate="" class="ng-untouched ng-pristine ng-valid"
    *ngIf="!httpRequestLoader.isLoading && !httpRequestLoader.isServerError">
    <table class="table table-light" style="border:0px!important;background-color:transparent!important">
      <tbody class="remove_table_bg display-grid">
        <fieldset class="fild-custome-borders-none">
          <legend class="leg-custome-borders-bot" translate>Turn Asset Approval/Rejection option ON or OFF</legend>
        </fieldset>
        <tr class="col-md-12 col-lg-12">
          <div class="flex row">
            <div class="col-md-9 col-lg-9">
              <h5 class="f-w-600" id="text-color-my-profile" translate> {{properties.ASSETS_APPROVAL_STATUS_CONFIGURATION_HELPTEXT_1}}</h5>
              <h5 *ngIf="!isAssetApprovalEnabledForCompany" id="text-color-my-profile">
                <input type="checkbox" [disabled]="isAssetApprovalEnabledForCompany" (change)="updateCheckBox($event)"
                  [ngModelOptions]="{standalone: true}" class="pointer checkBox_shadow" [(ngModel)]="isChecked"
                  value="">&nbsp; {{properties.ASSETS_APPROVAL_STATUS_CONFIGURATION_HELPTEXT_2}}
              </h5>
            </div>
            <div class="col-md-3 col-lg-3 text-right" style="padding-top:10px">
              <section>
                <switch class="switchbtns" [(status)]="isAssetApprovalEnabledForCompany"
                  [onText]="callActionSwitch.onTextValue" [offText]="callActionSwitch.offTextValue"
                  [onColor]="callActionSwitch.onGreenColorSwitch" [offColor]="callActionSwitch.offDefaultColor"
                  [size]="callActionSwitch.size" (statusChange)="onToggleChange($event)">
                </switch>
              </section>
            </div>
          </div>
        </tr>
      </tbody>
    </table>
    <div class="col-xs-12" style="float:left; padding:0;margin-bottom: 5px;">
      <button type="submit" class="button bgcolor-unset" [disabled]="disableSaveChangesButton" (click)="save()"
        translate><span class="btn Btn-Green transition txt_pd-top3">Save Changes
        </span>
      </button>
    </div>
  </form>
</div>