.single {
    padding: 10px 15px;
    margin-top: 10px;
}

.single h3.side-title {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 20px;
    color: #333;
    text-transform: uppercase;
}

.single h3.side-title:after {
    content: '';
    width: 60px;
    height: 1px;
    background: #15c1df;
    display: block;
    margin-top: 6px;
}

.single ul {
    margin-bottom: 0;
}

.single li a {
    color: #666;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid #f0f0f0;
    line-height: 40px;
    display: block;
    text-decoration: none;
}

.single li a:hover {
    color: #15c1df;
}

.single li:last-child a {
    border-bottom: 0;
}

#leftbar {
    height: 576px!important;
    background-color: #ffffff!important;
}

.yellow-crusta.btn {
    color: #FFFFFF;
    background-color: #357ebd!important;
}

.container {
    margin-top: 10px;
}

.panel.panel-pink {
    border-radius: 8px;
    box-shadow: 0px 0px 10px #888;
    border-color: #EF5160;
}

.panel.panel-pink .panel-heading {
    border-radius: 0px;
    color: #FFF;
    background-color: #EF5160;
}

.panel.panel-pink .panel-body {
    background-color: #F2F2F2;
    color: #4D4D4D;
}

.panel.panel-blue {
    border-radius: 0px;
    box-shadow: 0px 0px 10px #888;
    border-color: #266590;
}

.panel.panel-blue .panel-heading {
    border-radius: 0px;
    color: #FFF;
    background-color: #266590;
}

.panel.panel-blue .panel-body {
    background-color: #F2F2F2;
    color: #4D4D4D;
}

.panel.panel-yellow {
    border-radius: 10px!important;
    box-shadow: 0px 0px 10px #888;
    border-color: #EFA13D;
}

.panel.panel-yellow .panel-heading {
    border-radius: 0px;
    color: #FFF;
    background-color: #EFA13D;
}

.panel.panel-yellow .panel-body {
    background-color: #F2F2F2;
    color: #4D4D4D;
}

.stylish-panel {
    padding: 20px 0;
    text-align: center;
}

.stylish-panel>div>div {
    border: 1px solid transparent;
    border-radius: 8px;
}

.stylish-panel>div:hover>div {
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    background: rgba(200, 200, 200, 0.1);
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.card {
    background-position: bottom;
    background-size: cover !important;
    color: white;
    font-size: 0.875rem;
    height: 265px;
    padding-top: 1rem;
    text-align: center;
    border-radius: 10px!important;
}

.card:hover {
    cursor: pointer;
    opacity: 0.8
}

.text-white {
    display: block;
    text-align: center;
    position: absolute;
    bottom: 35px;
    left: 20px;
    right: 20px;
    opacity: 1;
    font-size: 16px;
    font-weight: 600;
}

.text-dark {
    display: block;
    text-align: center;
    position: absolute;
    bottom: 27px;
    left: 20px;
    right: 20px;
    opacity: 1;
    font-size: 16px;
}

.text-dark-1 {
    display: block;
    text-align: center;
    position: absolute;
    bottom: 27px;
    left: 20px;
    right: 20px;
    opacity: 1;
    font-size: 16px;
    color: black!important;
}


/* Styles for wrapping the search box */

.main {
    width: 50%;
    margin: 50px auto;
}


/* Bootstrap 3 text input with search icon */

.has-search>span.glyphicon {
    color: #ccc;
    top: 21px;
    font-size: 19px;
    position: absolute;
    cursor: pointer;
}

.glyphicon-search {
    left: 15px
}

.glyphicon-remove {
    right: 15px;
}

.has-search .form-control {
    padding-right: 12px;
    padding-left: 34px;
}

.form-control {
    border-radius: 4px!important;
}

.form-control:focus[type='text'] {
    background: #fff;
    border-color: #2bb24c;
    box-shadow: 0 0 0 0 rgba(34, 36, 38, 0.35) inset;
}

 ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 18px!important;
}

.box {
    padding: 10px;
    border: 2px dotted rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;
    position: relative;
}

.btn-default {
    color: #333;
    background-color: #ccc;
    border-color: #abaaaa;
    padding: 5px!important;
    font-size: 12px;
}

.single[_ngcontent-c5] {
    padding: 9px 10px!important;
    margin-top: 10px;
}

.description {
    font-size: 18px!important;
    font-weight: 400;
    padding-bottom: 15px;
    color: #757575;
}

.flip-card {
    background-color: transparent;
    width: 200px;
    height: 253px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #2980b9;
    color: white;
    border-radius: 5px;
    transform: rotateY(180deg);
}

.list-card {
    border-top: 1px solid rgba(0, 0, 0, 0.05)!important;
    box-shadow: none;
    color: #757575;
    cursor: pointer;
    font-size: 14px;
    line-height: 37px;
    padding: 0;
}

.list-card:hover {
    color: #333333;
    font-weight: 500;
}

.heading {
    color: #333333;
    font-family: sans-serif;
    font-size: 2.125rem;
    font-weight: bold;
    letter-spacing: -.04em;
    line-height: 1.25em;
    margin: 2rem 0;
    text-align: left;
    text-transform: none;
}

.list-img {
    border-radius: 0.25rem;
    display: block;
    height: 50px;
    margin-right: 1.5rem;
    width: 50px;
}

.list-view-card {
    border: 1px solid #d0cdcd;
    border-radius: 5px;
    padding: 40px;
}

#heading-1 {
    color: #333333;
    font-family: sans-serif;
    font-size: 2.125rem;
    font-weight: bold;
    letter-spacing: -.04em;
    line-height: 1.25em;
    margin-bottom: 1rem;
    margin-top: 3rem;
    text-align: left;
    text-transform: none;
}

.list-img2 {
    border-radius: 0.2rem;
    height: 78px;
    margin-right: 20px;
    width: 130px;
    border: 1px solid #c2bfbf;
}

.EntryEngagement {
    color: #9e9e9e;
    margin-right: 0.5rem;
}

.summary {
    font-family: sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0.25rem;
    max-height: 54px;
    overflow: hidden;
    word-break: break-word;
    color: #9e9e9e;
}

.w50 {
    width: 50%;
    float: left
}

.portlet.light .portlet-body {
    padding-left: 5px !important;
}

.page-bar {
    border-radius: 5px !important;
}

.head-h{
    font-size: 16px!important;
    padding-bottom: 10px;
    font-weight: 500;
    border-bottom: 1px solid #cecbcb;
}

.pb-m{
    margin-left: 5px !important;
}
.rss-border{
    border-color: #fff;
}

.sideMarginZero {margin:0px;padding: 0px;}
  