.nav-tabs {
  display: inline-flex;
  width: 100%;
  overflow-x: auto;
  border:none;
  -ms-overflow-style: none; /*// IE 10+*/
  overflow: -moz-scrollbars-none;/*// Firefox*/
  background: #dddddd69;
  }
  .nav-tabs>li.active>a,
  .nav-tabs>li.active>a:focus,
  .nav-tabs>li.active>a:hover {
      border-width: 0;
  }
  .nav-tabs>li>a {
      border: none;
      color: #666;
      text-align: center;
  }
  .nav-tabs>li.active>a,
  .nav-tabs>li>a:hover {
      border: none;
      color: #333;
      background: #ddd;
  }
  .nav-tabs>li.active>a::after,
  .nav-tabs>li:hover>a::after {
      transform: scale(1);
  }
  .tab-pane {
      padding:5px 0;
  }
  .nav-tabs::-webkit-scrollbar {
      display: none; /*Safari and Chrome*/
  }
  li#tabWidthCu {
      width: 50%;
  } 
  img.domainImage {
      width: 200px;
      margin: 0 auto;
      display: block;
  }
  .align-middle {
      vertical-align: middle;
      text-align: center;
  }
  .paddingSides {
      padding: 30px 20px !important;
  }
  
  .connectWidthdomain {display: block;}
  img.godadyLogo {
      float: right;
      width: 155px;
  }
  span.connectWidthdomain i {
      padding-left: 15px;
  }
  .displayContents{display: contents;}
  .paddingTop{padding-top: 20px !important;}
  .MlSpace {margin-left: 7px !important;}
  
  i.fa.fa-circle.IconColorCu {
      color: #29a108 !important;
  }
  
   
    .progressbar {
      content: "";
    }   
    .progressbar li {
      list-style: none;
      display: inline-block;
      width: 49%;
      position: relative;
      text-align: center;
      cursor: pointer;
    }
    .progressbar li:before {
       content: "";
      /* content: counter(step); */
      /* counter-increment: step; */
      width: 20px;
      height: 20px;
      line-height : 30px;
      border: 1px solid #ddd;
      border-radius: 100%;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      background-color: #ddd;
      position: relative;
      z-index: 3;
    }
    .progressbar li:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 6%;
      background-color: #ddd;
      top: 9px;
      left: -50%;
      z-index : 1;
      animation: lineH 4s 0s infinite linear;
    }
    .progressbar li:first-child:after {
      content: none;
    }
    .progressbar li.active {
      color: #337ab7;
    }
    .progressbar li.active:before {
      border-color: #337ab7;
      background: #337ab7;
    } 
    .progressbar li.active + li:after {
      background-color: #337ab7;
    }
    ul.progressbar {
      padding-inline-start: 0px;
  }
  
  
  .progressbarVerification {
      content: "";
    }   
    .progressbarVerification li {
      list-style: none;
      display: inline-block;
      width: 49%;
      position: relative;
      text-align: center;
      cursor: pointer;
    }
    .progressbarVerification li:before {
       content: "";
      /* content: counter(step); */
      /* counter-increment: step; */
      width: 20px;
    height: 20px;
      line-height : 19px;
      border: 1px solid #337ab7;
      border-radius: 100%;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      background-color: #337ab7;
      position: relative;
      z-index: 3;
      font-size: 10px;
    }
    .progressbarVerification li:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 6%;
      background-color: #ddd;
      top: 9px;
      left: -50%;
      z-index : 1;
    }
    .progressbarVerification li:first-child:after {
      content: none;
    }
    .progressbarVerification li.activeVerification {
      color: #337ab7;
    }
    .progressbarVerification li.activeVerification:before {
      border-color: #337ab7;
      background: #337ab7;
      content: ' \f00c';
      font-family: 'FontAwesome';
      color: #fff;
    } 
    .progressbarVerification li.activeVerification + li:after {
      background-color: #337ab7;
    }
  
    .conectColor{
      background-color: orange;
      border: 1px solid orange;
      border-radius: 5px;
      /* padding:5px 10px; */
      padding: 2px 6px;
      color:white;
      cursor: pointer;
    }
   .verticalMiddle{
    vertical-align: middle;
   }
  .marginBottom{ margin-bottom: 25px;}
  span.connectedLive {
    background-color: green;
    border: 1px solid green;
    border-radius: 5px;
    /* padding: 5px 10px; */
    padding: 2px 6px;
    color: white;
}
.star {
  color: red !important;
  font-weight: 600;
}
span.UnlinkLabel {
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
}
.unlink-button{
  border-radius: 5px;
  font-weight: 600;
  border: 1px solid inherit;
}
i.faGareIconCu {
  font-size: 17px !important;
  position: relative;
  bottom: -3px;
}
.dropdown-menu.dropdownMenuCu {
  box-shadow: none;
  border: none;
  margin-top: 9px;
  margin-left: -44px;
}

.dropdown > .dropdown-menu:before {  position: absolute;
  left: 44px !important;}
.dropdown > .dropdown-menu:after {  position: absolute;
    left: 45px !important;}


.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  border: none;
}
i.faDecfontSize {
  font-size: 12px !important;
  position: relative;
  bottom: 1px;
}
.danger {background-color: #f44336;cursor: pointer;} /* Red */
.blue {background-color: #2196F3;cursor: pointer;} /* Blue */
.orange-btn{background: #F77D24;color: white;}

@keyframes lineH{
    0%{
      width: 0%;
    }
    100%{
      width: 100%;
      opacity: 0.5;
    }
  }



  /* reponsive */
  @media only screen and (min-width: 300px) and (max-width: 767px) { 
      .paddingSides {padding: 15px 15px !important;}
      .displayContents{display: grid;}
      img.godadyLogo {float: left;}
      .mobileFloatRight  {float: left !important;}
      .MlSpace {margin-left: 0px !important;}
      .mobileBottomPa {margin-bottom: 10px;}
  }

@media only screen and (min-width: 1037px) and (max-width: 1177px) { 
  button.responsiveBtnCU {
    padding: 6px 10px;
    font-size: 9px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1037px) { 
  button.responsiveBtnCU {
    padding: 6px 7px;
    font-size: 7px;
  }
}
.copyCardBg {
  background: #dddddd54 !important;
  padding: 10px 20px;
  border-radius: 5px !important;
}
.selectRecord{
  background-color: #a7e392;
  padding: 4px 8px;
  border-radius: 3px;
  color:#000000;
}
.missMatchRecord{
  background-color: #fff2cc;
  padding: 4px 8px;
  border-radius: 3px;
  color: #000000;
}
.multipleREcord {
  background-color: #f4cccc;
  padding: 4px 8px;
  border-radius: 3px;
  color:#000000;
}

.twodivdiff {padding: 15px 0px !important;}
.popupReportTextbg {background-color: #eeeeee;
  width: 100%;
  padding: 5px 10px;
  border-radius: 2px;
  position: relative;
  display: block;}
  .redirect {
    background-color: #2196F3;
  }
  .check{
    background-color: #1f897f;
  }
  .mp-ch-padding{
    padding: 0px 15px 15px 15px;
  }
  .mt-7px {
   margin-top: -7px;
  }
  .d-f-pb7px {
    display: flex;
    padding-bottom: 7px;
  }
  .pt7px {
   padding-top: 7px;
  }
  .br3px-p7px12px{
  border-radius: 3px;padding: 7px 12px;
  }
  .m120-auto {
  margin: 120px auto;
  }
  .p20-15-0-15 {
  padding: 20px 15px 0px 15px;
  }
  .deleterror {
    padding: 10px;
    margin-top: 31px;
  }

  .alert-su {
    padding:6px 12px;
  }