.text-input__loading {
  height: 214px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  width: 100%;
}
.text-input__loading--line {
  height: 10px;
  margin: 7px;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  position: relative;
}
.text-input__loading div:nth-child(1) {
  width: 150px;
}
.text-input__loading div:nth-child(5) {
  width: 150px;
}
.text-input__loading div:nth-child(9) {
  width: 150px;
}
.text-input__loading div:nth-child(2) {
  width: 250px;
}
.text-input__loading div:nth-child(6) {
  width: 250px;
}
.text-input__loading div:nth-child(10) {
  width: 250px;
}
.text-input__loading div:nth-child(3) {
  width: 50px;
}
.text-input__loading div:nth-child(7) {
  width: 50px;
}
.text-input__loading div:nth-child(4) {
  width: 100px;
}
.text-input__loading div:nth-child(8) {
  width: 100px;
}
@keyframes pulse {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }
  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }
  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    padding: 5px;
	width: 15%;
}
tr{
	border-bottom: 1px solid #e5e5e5;
}
.action-icon {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	float: left;
}
.rect-box {
	width: 130px;
	height: 75px;
}
.thick{
	height: 10px;
}
.thin{
	height: 6px;
}
td:nth-child(1){
	width: 10%;
}
td:nth-child(2){
	width: 20%;
}
td:nth-child(last){
	text-align: right;
}
.w25{width: 25%}
.w50{width: 50%}
.w75{width: 75%}
.w100{width: 100%}
