.tg-filter{
    margin-bottom: 0px;
}
.mrfpximp{
    margin-right: 0px !important;
    margin-top: 2px !important;
}
.mix-filter{
	margin: 0px 0 -4px 0;
}
.mt3px{
    margin-top: 3px;
}
.mw-50px{
    min-width: 50px !important;
}
.mw-100px{
    min-width: 100px  !important;
}
.left-align{
    text-align: left;
}
.pl-5px{
    padding-left: 5px;
}
.filter-box-selected{
   background-color: #0276ff;
   color: white;
}
i.fa.fa-check-circle-o.check-icons {
    color: #fff;
}
.mix-filter li {
 padding: 6px 8px;
 margin-bottom: 10px;
}
/* a.close-circle.ref-mar.mrfpximp{ 
    margin-right: 6px !important;
    margin-top: 6px !important;} */