.required {
	color: red;
	display:inline-flex !important; 
	
}

#responsive {
	max-width: 1378px;
}

.portlet-body {
	overflow-x: auto;
}

.close-circle {
	margin-left: 5px;
}

#th-width{
	width: 25%;
}
#expanded-table{
	background-color: #dddddd24;
}

#search-margin{
	margin-right: 10px;
}

#icon-right{
	position: relative;right: -11px;
}

#search-text{
	height:34px;
}
#child-table{
	background: #c1c1c11c
}
.portlet > .portlet-title{
	border-bottom: none;
}
.portlet.light .portlet-body{
	padding-top: 0px !important;
}