<!-- <div id="overlay-modal" class="video-js overlay is360video" [class.overlaySet]="overLaySet==false" style="height: 318px; width: 100% !important;color:white !important; background-color:rgba(29, 25, 25, 0.72);">
  <form #f="ngForm" novalidate>
    <div class="col-xs-12 overlay-main" [ngClass]="{'bottomCss':fullScreenMode === true}">
      <h2 class="upper-text-heading upperText">{{selectedVideo.upperText}}</h2>
      <div class="flex" *ngIf="callAction.isFistNameChecked==true">
        <input type="text" name="firstName" style="margin-right: 0;" [(ngModel)]="callAction.firstName" (ngModelChange)="checkingCallToActionValues()"
         class="form-control text-box m21" placeholder="First Name">
        <input type="text" name="lastName" [(ngModel)]="callAction.lastName" (ngModelChange)="checkingCallToActionValues()" class="form-control text-box m21"
         placeholder="Last Name">
      </div>
      <div class="flex m02">
        <div class="w-8">
          <input type="text" name="email_id" [(ngModel)]="callAction.email_id" (ngModelChange)="checkingCallToActionValues()" class="form-control text-box"
           placeholder="Email Address" pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})+$" #email_id="ngModel">
        </div>
        <div class="w-4">
          <button type="button" id="playorsubmit" class="btn play-button text-box" [disabled]="callAction.isOverlay==true" (click)="saveCallToActionUserForm()">{{callAction.videoOverlaySubmit}}</button>
        </div>
      </div>
      <h4 class="upper-text-heading lowerText">{{selectedVideo.lowerText}}</h4>
    </div>
  </form>
  <div>
    <div *ngIf="callAction.videoOverlaySubmit=='SUBMIT'" id="repeatPlay" style="cursor: pointer">
      <i class="fa fa-repeat" aria-hidden="true"></i>
    </div>
    <div *ngIf="callAction.isSkipChecked==true" id="skipOverlay" style="cursor: pointer">
      <i class="fa fa-forward" aria-hidden="true"></i>
      <b style="font-size: 13px; color:white;">skip</b>
    </div>
  </div>
</div> -->