.bottomCss {
    bottom: -183px;
}
.upperText {
    font-size: 17px;
    color: white;
    word-break: break-all;
    line-height: 1.3em;
    font-weight: 600;
    text-align: center;
    position: relative;
    top: -13px;
}

.lowerText {
    color: white;
    word-break: break-all;
    font-size: 15px;
    line-height: 1.0em;
    position: relative;
    text-align: center;
    top: 9px;
}