    #example_video_11 { width:auto; }
    #overlay-modal{width:auto;}
    /deep/ .video-js .vjs-big-play-button{ top: 127px;left: 264px; }
   
    .notFoundCss{
        text-align: center;
        color: #00a6e8;
        position: relative;
        top: 15px;
        left: 4px;
    }