<div class="page-content" [class.ml0]="authenticationService.isSuperAdmin()">
	<div *ngIf="isScheduledCampaignLaunched" id="scheduleCompleted" class="alert alert-info alert-dismissable fade in">
		<a (click)="refService.hideDiv('scheduleCompleted')" class="close" aria-label="close">x</a>
		<strong>Editing This Scheduled Campaign Is Not Allowed As Campaign Already Launched</strong>
	</div>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li *ngIf="!authenticationService.isSuperAdmin()">
				<i class="fa fa-home"></i>
				<a [routerLink]="refService.homeRouter">Home</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li *ngIf="authenticationService.isSuperAdmin()"><i class="fa fa-home"></i><a [routerLink]="['/home/dashboard/admin-report']">Admin Report</a><i class="fa fa-angle-right"></i></li>
			<li>
				<a>Manage Campaigns</a>
			</li>
		</ul>
	</div>
	<div style="position: relative; top:-10px;">
		<app-response-message [customResponse]="customResponse" *ngIf="customResponse.isVisible"></app-response-message>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="tabbable tabbable-custom tabbable-noborder">
				<div class="tab-content" style="min-height: 677px;">
					<div class="page-bar m10">
						<ul class="mix-filter col-xs-6 col-sm-12 col-md-6 p0 m0">
							<li class="hidden-xs" style="background: white; color: #616161;cursor: default;font-size: 14px;">Campaign Type:</li>
							<li class="filter" (click)="filterCampaigns('NONE',0)" [class.campaign-type-selected]="0 == selectedCampaignTypeIndex">All</li>
							<li class="filter" (click)="filterCampaigns('REGULAR',1)" [class.campaign-type-selected]="1 == selectedCampaignTypeIndex">Email</li>
							<li class="filter" (click)="filterCampaigns('VIDEO',2)" [class.campaign-type-selected]="2 == selectedCampaignTypeIndex">Video</li>
							<li class="filter" (click)="filterCampaigns('SOCIAL',3)" [class.campaign-type-selected]="3 == selectedCampaignTypeIndex">Social</li>
							<li class="filter" *ngIf="!refService.isXamplify()" (click)="filterCampaigns('EVENT',4)" [class.campaign-type-selected]="4 == selectedCampaignTypeIndex">Event</li>
							<li class="filter" style="display: none;">Own Template</li>
						</ul>
						<div class="page-toolbar col-xs-6 col-sm-12 col-md-6">
							<div class="btn-group pull-right">
								<ng-container class='m10'>
									<button class="btn btn-xs hidden-xs" [disabled]="isListView" (click)="isListView = true">
										<i class="fa fa-th-list p10" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="List View"></i>
									</button>
									<button class="btn btn-xs hidden-xs" [disabled]="!isListView" (click)="isListView = false">
										<i class="fa fa-th-large p10" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Grid View"></i>
									</button>
								</ng-container>
								<div class="inputs" align="right" style="float: right">
									<div style="float: left;">
										<select class="form-control" [(ngModel)]="selectedSortedOption" (ngModelChange)="getSortedResult($event)" style="position: relative;right: -3px;">
											<option *ngFor="let sortOption of sortByDropDown" [ngValue]="sortOption">{{sortOption.name}}</option>
										</select>
									</div>
									<div class="portlet-input input-inline input-small">
										<div class="input-icon right" style="position: relative;right: -11px;">
											<!-- <i class="icon-magnifier" (click)="searchCampaigns()" style="cursor: pointer;"></i>-->
											<input type="text" class="form-control" [(ngModel)]="searchKey" [ngModelOptions]="{standalone: true}" placeholder="search..." (keypress)="eventHandler($event.keyCode)">
                      <button class="glyphicon glyphicon-remove search-box-item-clear" *ngIf="searchKey" (click)="searchKey=''"></button>
                      <button type="submit" class="search-box-item-click" (click)="searchCampaigns()"><i class="fa fa-search"></i></button>
                    </div>
									</div>
								</div>
							</div>
						</div>
					</div>

						<app-grid-loader *ngIf="httpRequestLoader.isLoading && !isListView"></app-grid-loader>
						<app-list-loader *ngIf="httpRequestLoader.isLoading && isListView"></app-list-loader>
					<section class='m10' *ngIf="totalRecords > 0 && !httpRequestLoader.isLoading && !httpRequestLoader.isServerError">
						<div class="table-responsive">
							<table class='table tgrid table-hover table-sm hidden-xs' *ngIf="isListView">
								<thead>
									<tr>
                      <th colspan="2" style="width: 30%">Campaign</th>
                      <th class="center" style="width: 28%">Status</th>
                      <th class="center" style="width: 15%">Created Date</th>
                      <th class="center" style="width: 25%">Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor='let campaign of pagination.pagedItems; let i=index'>
										<td style="width: 10%;">
											<ng-container *ngIf="campaign.campaignType.indexOf('VIDEO') > -1">
												<img [ngClass]="{'active': campaign.launched, 'inactive': !campaign.launched}" src="assets/images/video-email.png" alt="Video Campaign">
											</ng-container>
											<ng-container *ngIf="campaign.campaignType.indexOf('REGULAR') > -1">
												<img [ngClass]="{'active': campaign.launched, 'inactive': !campaign.launched}" src="assets/images/regular-email.png" alt="Regular Campaign">
											</ng-container>
											<ng-container *ngIf="campaign.campaignType.indexOf('SOCIAL') > -1">
												<img [ngClass]="{'active': campaign.launched, 'inactive': !campaign.launched}" src="assets/images/social-campaign.png" alt="Social Campaign">
											</ng-container>
											<ng-container *ngIf="campaign.campaignType.indexOf('EVENT') > -1 && !refService.isXamplify()">
												<img [ngClass]="{'active': campaign.launched, 'inactive': !campaign.launched}" src="assets/images/event-campaign.png" alt="Event Campaign">
											</ng-container>
                    					</td>
                     <td>
											<h4 class="ellipsis campaign-title" title="{{campaign.campaignName}}">{{campaign.campaignName | slice:0:36}}
													<span *ngIf="campaign.campaignName?.length>36">...</span>
											</h4>
											<h5 [title]="campaign.createdBy">By <b>{{campaign.createdBy | slice:0:35 }}<span *ngIf="campaign.createdBy?.length>35">...</span></b></h5>
											<h5 [title]="campaign.companyName">From <b>{{campaign.companyName | slice:0:20 }}<span *ngIf="campaign.companyName?.length>20">...</span></b></h5>
											<h5 *ngIf="campaign.nurtureCampaign" [title]="campaign.vendorOrganizationName">Originated By <b>{{campaign.vendorOrganizationName | slice:0:20 }}<span *ngIf="campaign.vendorOrganizationName?.length>20">...</span></b></h5>
										</td>
										<td class="center">
											<span align="right">
												<b *ngIf="campaign.launched">Launched On</b>
                        <ng-container *ngIf="!campaign.launched && campaign.scheduleType!=='SCHEDULE' && campaign.scheduleType!=='SAVE'">
                          <b *ngIf="!campaign.launched && campaign.launchedOn?.length > 0">Scheduled For</b>
                          <b *ngIf="!campaign.launched && campaign.launchedOn?.length==0">Saved On</b>
                          </ng-container>
                          <ng-container *ngIf="!campaign.launched && campaign.scheduleType">
                          <b *ngIf="!campaign.launched && campaign.scheduleType==='SCHEDULE'">Scheduled For</b>
                          <b *ngIf="!campaign.launched && campaign.scheduleType==='SAVE'">Saved On</b>
                          </ng-container>
											</span>
											<span align="right" title="Upload Date">
												<!-- <b *ngIf="campaign.launched || !campaign.launched && campaign.launchedOn?.length > 0">{{campaign.launchedOn}}</b> -->
												<b *ngIf="campaign.scheduleType=='NOW' || campaign.scheduleType=='SCHEDULE'">
                        <app-timestamp *ngIf="!refService.isSafariBrowser()" [isOnlyDate]="true" [dateAndTime]="campaign.launchedOn"> </app-timestamp>
                        <span *ngIf="refService.isSafariBrowser()">{{campaign.launchedOn}}</span>
												</b>
												<b *ngIf="campaign.scheduleType=='SAVE'">
												<app-timestamp *ngIf="!refService.isSafariBrowser()" [isOnlyDate]="true" [dateAndTime]="campaign.startTime"> </app-timestamp>
                        <span *ngIf="refService.isSafariBrowser()">{{campaign.startTime}}</span>
                      </b>
											</span>
										</td>
										<td class="center">
										<app-timestamp [isOnlyDate]="true" [dateAndTime]="campaign.createdDate"> </app-timestamp>
										</td>
										<td class="center">
											<div class="actions-block">
												<ng-container *ngIf="!campaign.launched">
													<a *ngIf="hasAllAccess || (campaign.launched==false&&hasCampaignRole && loggedInUserId==campaign.userId)

												|| (!campaign.launched&&isOnlyPartner)  || authenticationService.module.isVendor" (click)="editCampaign(campaign)"
													 data-toggle="tooltip" data-placement="top" title="Edit Campaign" class='mr5'>
														<i class="fa fa-pencil-square-o"></i>
													</a>
												</ng-container>
												<ng-container *ngIf="campaign.launched">
												<a *ngIf="(hasAllAccess || (hasStatsRole || hasCampaignRole ) ||
														 (loggedInUserId==campaign.userId) || authenticationService.module.isVendor) && campaign.redistributedCount>0"
                         								 (click)="goToRedistributedCampaigns(campaign)" data-toggle="tooltip" data-placement="top" title="Show Redistributed Campaigns">
														<span style="position: relative;top: 3px;"><b>{{campaign.redistributedCount}}</b></span>
													</a>
													<a *ngIf="  hasAllAccess || (hasStatsRole || hasCampaignRole) || (loggedInUserId==campaign.userId) || authenticationService.module.isVendor"
													 data-rel="fancybox-button" (click)="campaginRouter(campaign)" data-toggle="tooltip" data-placement="top" title="{{actionsDescription.campaign_report}}"
													 class='mr5'>
														<i class="fa fa-line-chart"></i>
													</a>
													<a *ngIf=" (campaign.campaignType !== 'SOCIAL') && ( hasAllAccess || (hasStatsRole || hasCampaignRole) || isOnlyPartner || authenticationService.module.isVendor) && !campaign.nurtureCampaign"
													 data-rel="fancybox-button" data-toggle="tooltip" data-placement="top" title="Copy campaign" class='mr5' (click)="openSaveAsModal(campaign)">
														<i class="fa fa-files-o"></i>
													</a>
													 <a *ngIf=" (hasAllAccess ||  (hasCampaignRole && loggedInUserId==campaign.userId) || isOnlyPartner || authenticationService.module.isVendor) && campaign.channelCampaign"
						                       		 (click)="goToPreviewPartners(campaign)"
						                       		 data-toggle="tooltip" data-placement="top" title="{{actionsDescription.campaign_preview_partner}}" data-rel="fancybox-button">
						                         		<i class="fa fa-handshake-o" id="partner-icon"></i>
						                       		</a>
												</ng-container>
												<a (click)="showCampaignPreview(campaign)" data-toggle="tooltip" data-placement="top" title="Preview">
													<i class="fa fa-eye mr5"></i>
                      						  </a>
						                        <a *ngIf=" hasAllAccess ||  (hasCampaignRole && loggedInUserId==campaign.userId) || isOnlyPartner || authenticationService.module.isVendor"
						                       		 (click)="confirmDeleteCampaign(campaign.campaignId, i, campaign.campaignName)" data-toggle="tooltip" data-placement="top" title="{{actionsDescription.campaign_delete}}" data-rel="fancybox-button">
						                         <i class="fa fa-trash"></i>
						                       </a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>

							<table class='table tgrid table-sm visible-xs' *ngIf="isListView">
								<thead>
									<tr>
										<th colspan="1">Campaign</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor='let campaign of pagination.pagedItems; let i=index'>
										<td class="hidden-xs" style="width: 10%;">
											<ng-container *ngIf="campaign.campaignType.indexOf('VIDEO') > -1">
												<img [ngClass]="{'active': campaign.launched, 'inactive': !campaign.launched}" src="assets/images/video-email.png" alt="Video Campaign">
											</ng-container>
											<ng-container *ngIf="campaign.campaignType.indexOf('REGULAR') > -1">
												<img [ngClass]="{'active': campaign.launched, 'inactive': !campaign.launched}" src="assets/images/regular-email.png" alt="Regular Campaign">
											</ng-container>
											<ng-container *ngIf="campaign.campaignType.indexOf('SOCIAL') > -1">
												<img [ngClass]="{'active': campaign.launched, 'inactive': !campaign.launched}" src="assets/images/social-campaign.png" alt="Social Campaign">
                      </ng-container>
                      <ng-container *ngIf="campaign.campaignType.indexOf('EVENT') > -1 && !refService.isXamplify()">
                          <img [ngClass]="{'active': campaign.launched, 'inactive': !campaign.launched}" src="assets/images/event-campaign.png" alt="Event Campaign">
                      </ng-container>
										</td>
										<td>
											<h4 class="campaign-title" title="{{campaign.campaignName}}">{{campaign.campaignName | slice:0:25}}
													<span *ngIf="campaign.campaignName?.length>25">...</span>
											</h4>
											<h5 [title]="campaign.createdBy">By <b>{{campaign.createdBy | slice:0:20}}<span *ngIf="campaign.createdBy?.length>20">...</span></b></h5>
											<h5 [title]="campaign.companyName">From <b>{{campaign.companyName | slice:0:20}}<span *ngIf="campaign.companyName?.length>20">...</span></b></h5>
											<h5>
												<span *ngIf="campaign.launched">Launched On </span>
                        <ng-container *ngIf="!campaign.launched && campaign.scheduleType!=='SCHEDULE' && campaign.scheduleType!=='SAVE'">
                          <b *ngIf="!campaign.launched && campaign.launchedOn?.length > 0">Scheduled For</b>
                          <b *ngIf="!campaign.launched && campaign.launchedOn?.length==0">Saved On</b>
                          </ng-container>
                          <ng-container *ngIf="!campaign.launched && campaign.scheduleType">
                          <b *ngIf="!campaign.launched && campaign.scheduleType==='SCHEDULE'">Scheduled For</b>
                          <b *ngIf="!campaign.launched && campaign.scheduleType==='SAVE'">Saved On</b>
                          </ng-container>
												<span *ngIf="campaign.scheduleType=='NOW' || campaign.scheduleType=='SCHEDULE'">{{campaign.launchedOn}}</span>
												<span *ngIf="campaign.scheduleType=='SAVE'">{{campaign.startTime}}</span>
											</h5>
										</td>
										<td>
                      <div class="pull-right">
                      <div class="dropdown">
                        <i class="fa fa-ellipsis-v dropdown-toggle" data-toggle="dropdown"></i>
                        <ul class="dropdown-menu pull-right">
                          <ng-container *ngIf="!campaign.launched">
                              <li>
                                <a *ngIf="hasAllAccess || (campaign.launched==false&&hasCampaignRole && loggedInUserId==campaign.userId)
                                  || (!campaign.launched&&isOnlyPartner)  || authenticationService.module.isVendor" (click)="editCampaign(campaign)"
                                  data-toggle="tooltip" data-placement="top" title="Edit Campaign" class='mr5'>
                                  <i class="fa fa-pencil-square-o"></i> Edit Campaign
                                </a>
                              </li>
                          </ng-container>
                          <ng-container *ngIf="campaign.launched">
                            <li>
                              <a *ngIf="  hasAllAccess || (hasStatsRole || hasCampaignRole) || (loggedInUserId==campaign.userId) || authenticationService.module.isVendor"
                                data-rel="fancybox-button" (click)="campaginRouter(campaign)" title="Campaign Based Reports"
                                class='mr5'>
                                <i class="fa fa-line-chart"></i> Campaign Analytics
                              </a>
                            </li>
                            <li>
                              <a *ngIf=" (campaign.campaignType !== 'SOCIAL') && ( hasAllAccess || (hasStatsRole || hasCampaignRole) || isOnlyPartner || authenticationService.module.isVendor) && !campaign.nurtureCampaign"
                                data-rel="fancybox-button" title="Copy campaign" class='mr5' (click)="openSaveAsModal(campaign)">
                                <i class="fa fa-files-o"></i> Copy campaign
                              </a>
                            </li>
                          </ng-container>
                          <li>
                            <a *ngIf=" hasAllAccess ||  (hasCampaignRole && loggedInUserId==campaign.userId) || isOnlyPartner || authenticationService.module.isVendor"
                              (click)="confirmDeleteCampaign(campaign.campaignId, i, campaign.campaignName)" title="Delete Campaign" data-rel="fancybox-button">
                              <i class="fa fa-trash"></i> Delete Campaign
                            </a>
                          </li>
                        </ul>
                      </div>
                      </div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</section>
					<div *ngIf="totalRecords <= 0 && isListView" class="alert alert-info">
						<strong>No campaigns found</strong>
					</div>
					<div class="tab-pane active" *ngIf="!isListView">
						<div class="margin-top-10">
							<div class="row mix-grid p10">
								<app-error-pages *ngIf="httpRequestLoader.isServerError"></app-error-pages>
								<ng-container *ngIf="totalRecords > 0 && !httpRequestLoader.isLoading && !httpRequestLoader.isServerError">
									<div *ngFor="let campaign of pagination.pagedItems; let i= index" class="col-xs-12 col-sm-4 col-lg-3">
										<div class="grid-box">
											<img src="https://cdn2.iconfinder.com/data/icons/facebook-ads-1/204/1-48.png">
											<h4 class="ellipsis" title="{{campaign.campaignName}}">{{campaign.campaignName | slice:0:22}}
												<span *ngIf="campaign.campaignName?.length>22">...</span>
											</h4>
											<h6 [title]="campaign.createdBy">By <b>{{campaign.createdBy | slice:0:15}}<span *ngIf="campaign.createdBy?.length>15">...</span></b></h6>
											<h6 [title]="campaign.companyName">From <b>{{campaign.companyName | slice:0:15}}<span *ngIf="campaign.companyName?.length>15">...</span></b></h6>
											<h6>
											<span>
												<span *ngIf="campaign.launched">Launched On</span>
											  <ng-container *ngIf="!campaign.launched && campaign.scheduleType!=='SCHEDULE' && campaign.scheduleType!=='SAVE'">
                          <b *ngIf="!campaign.launched && campaign.launchedOn?.length > 0">Scheduled For</b>
                          <b *ngIf="!campaign.launched && campaign.launchedOn?.length==0">Saved On</b>
                          </ng-container>
                          <ng-container *ngIf="!campaign.launched && campaign.scheduleType">
                          <b *ngIf="!campaign.launched && campaign.scheduleType==='SCHEDULE'">Scheduled For</b>
                          <b *ngIf="!campaign.launched && campaign.scheduleType==='SAVE'">Saved On</b>
                          </ng-container>
											</span>
											<span title="Upload date"><b>
												<span *ngIf="campaign.scheduleType=='NOW' || campaign.scheduleType=='SCHEDULE'">
                        <app-timestamp *ngIf="!refService.isSafariBrowser()" [isOnlyDate]="true" [dateAndTime]="campaign.launchedOn"> </app-timestamp>
                        <span *ngIf="refService.isSafariBrowser()">{{campaign.launchedOn}}</span>
                      </span>
												<span *ngIf="campaign.scheduleType=='SAVE'">
												<app-timestamp *ngIf="!refService.isSafariBrowser()" [isOnlyDate]="true" [dateAndTime]="campaign.startTime"> </app-timestamp>
                        <span *ngIf="refService.isSafariBrowser()" >{{campaign.startTime}}</span>
                      </span>
                      </b>
											</span>
											</h6>
											<div class="bookmark-ribbon">
												<span style="margin: 0px -7px; font-size: 17px; color: white;">
													<i *ngIf="campaign.campaignType.indexOf('VIDEO') > -1" class="fa fa-video-camera" aria-hidden="true"></i>
													<i *ngIf="campaign.campaignType.indexOf('REGULAR') > -1" class="fa fa-envelope" aria-hidden="true"></i>
                          <i *ngIf="campaign.campaignType.indexOf('SOCIAL') > -1" class="fa fa-globe" aria-hidden="true"></i>
                          <i *ngIf="campaign.campaignType.indexOf('EVENT') > -1 && !refService.isXamplify()" class="fa fa-calendar" aria-hidden="true"></i>
												</span>
											</div>
											<div class="ribbon" [class.active]="!campaign.launched && campaign.launchedOn?.length==0">
												<span *ngIf="campaign.launched">Launched</span>
                        <ng-container *ngIf="!campaign.launched && campaign.scheduleType!=='SCHEDULE' && campaign.scheduleType!=='SAVE'">
                          <span *ngIf="!campaign.launched && campaign.launchedOn?.length > 0">Scheduled</span>
                          <span *ngIf="!campaign.launched && campaign.launchedOn?.length==0">Saved</span>
                          </ng-container>
                          <ng-container *ngIf="!campaign.launched && campaign.scheduleType">
                          <span *ngIf="!campaign.launched && campaign.scheduleType==='SCHEDULE'">Scheduled</span>
                          <span *ngIf="!campaign.launched && campaign.scheduleType==='SAVE'">Saved</span>
                          </ng-container>
											</div>
											<div class="bar" >
												<ng-container *ngIf="!campaign.launched">
													<a *ngIf="hasAllAccess || (campaign.launched==false && hasCampaignRole && loggedInUserId==campaign.userId)
														|| (!campaign.launched&&isOnlyPartner) || authenticationService.module.isVendor" (click)="editCampaign(campaign)" title="Edit Campaign">
														<i class="fa fa-pencil-square-o"></i>
													</a>
												</ng-container>
												<ng-container *ngIf="campaign.launched">

												<a *ngIf="(hasAllAccess || (hasStatsRole || hasCampaignRole ) ||
														 (loggedInUserId==campaign.userId) || authenticationService.module.isVendor) && campaign.redistributedCount>0"
                         								 (click)="goToRedistributedCampaigns(campaign)" data-toggle="tooltip" data-placement="top" title="Show Redistributed Campaigns">
														<i style="color: white">{{campaign.redistributedCount}}</i>
													</a>

													<a *ngIf="  hasAllAccess || (hasStatsRole || hasCampaignRole ) || (loggedInUserId==campaign.userId) || authenticationService.module.isVendor"
                         								 (click)="campaginRouter(campaign)" data-toggle="tooltip" data-placement="top" title="{{actionsDescription.campaign_report}}">
														<i class="fa fa-line-chart"></i>
													</a>
													<a *ngIf=" (campaign.campaignType !== 'SOCIAL') && ( hasAllAccess || (hasStatsRole || hasCampaignRole) || isOnlyPartner || authenticationService.module.isVendor) && !campaign.nurtureCampaign"
													 data-rel="fancybox-button"  data-toggle="tooltip" data-placement="top" title="Copy campaign" class='mr5' (click)="openSaveAsModal(campaign)">
														<i class="fa fa-files-o"></i>
													</a>
													 <a *ngIf=" (hasAllAccess ||  (hasCampaignRole && loggedInUserId==campaign.userId) || isOnlyPartner || authenticationService.module.isVendor) && campaign.channelCampaign"
						                       		 (click)="goToPreviewPartners(campaign)"
						                       		 data-toggle="tooltip" data-placement="top" title="{{actionsDescription.campaign_preview_partner}}" data-rel="fancybox-button">
						                         		<i class="fa fa-handshake-o" id="partner-icon"></i>
						                       		</a>
													<!-- <a *ngIf="isOnlyPartner" data-rel="fancybox-button" (click)="openSaveAsModal(campaign.campaignId, campaign.campaignName)" title="Save As">
														<i class="fa fa-files-o"></i>
													</a> -->
                        </ng-container>
                          <a (click)="showCampaignPreview(campaign)" data-toggle="tooltip" data-placement="top" title="Preview">
														<i class="fa fa-eye mr5"></i>
												  </a>
													<a *ngIf=" hasAllAccess ||  (hasCampaignRole && loggedInUserId==campaign.userId) || isOnlyPartner || authenticationService.module.isVendor"
														(click)="confirmDeleteCampaign(campaign.campaignId, i, campaign.campaignName)" data-toggle="tooltip" data-placement="top" title="{{actionsDescription.campaign_delete}}">
														<i class="fa fa-trash"></i>
													</a>
											</div>
										</div>
									</div>
								</ng-container>
							</div>
						</div>
						<!-- End of 24 -->
						<div *ngIf="totalRecords <= 0 && !isListView" class="alert alert-info">
							<strong>No campaigns found</strong>
						</div>
					</div>
					<div *ngIf="totalRecords > 0 && !httpRequestLoader.isLoading && !httpRequestLoader.isServerError" style="background:white">
						<div *ngIf="pagination.pagedItems.length !== 0">
							<app-pagination [pagination]="pagination" [type]="'campaign'" [isDropdown]="true" (notifyParent)="setPage($event)" (notifyParentDropDown)="listCampaign($event)"></app-pagination>
							<select class="form-control" style="float: right; width: auto;" [(ngModel)]="itemsSize" (ngModelChange)="getNumberOfItemsPerPage($event)">
								<option *ngFor="let itemPerPage of numberOfItemsPerPage" [ngValue]="itemPerPage">{{itemPerPage.name}}</option>
							</select>
						</div>
					</div>
				</div>
				<!-- End Of tab Content -->

			</div>
		</div>
	</div>
	<!-- <div *ngIf="totalRecords <= 0"  class="alert alert-info"><strong>No Campaigns Found</strong></div> -->
  <app-scroll-top></app-scroll-top>
</div>


<!-- Save As Modal -->
<div class="modal right fade" id="saveAsModal" tabindex="-1" role="dialog" aria-labelledby="saveAsModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-copy" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title f-w-600" id="saveAsModalLabel">Copy Campaign</h4>
				<button type="button" class="close-circle" data-dismiss="modal" style=" position: relative;top: -24px;">
					<i class="fa fa-times"></i>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="campaignName">Campaign Name</label>
					<input class="form-control" type="text" id="campaignName" [(ngModel)]="saveAsCampaignName">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" (click)="saveAsCampaign()">Save changes</button>
			</div>
		</div>
	</div>
</div>


<div id="campaignFilterModal" class="modal right fade" role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-copy">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close-circle" data-dismiss="modal" aria-hidden="true">
					<i class="fa fa-times"></i>
				</button>
				<h4 class="modal-title">Filter</h4>
			</div>
			<div class="modal-body" style="padding: 28px;">
				<div class="row">
					<div class="col-sm-12">
						<input class="form-control" type="text">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn green">Submit</button>
				<button type="button" class="btn green" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>
