.center {
  text-align: center;
}
/* publish.css*/
a.disabled {
  pointer-events: none;
  cursor: not-allowed;
}
a:hover {
  text-decoration: none;
}
.campaign-type-selected {
  background-color: #0095da;
  color: white;
}
img.active {
  height: 50px;
}
img.inactive {
  height: 50px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  border: 1px solid #ccc;
}
td h5 {
  margin: 5px 0;
}
.campaign-title {
  margin: 5px 0;
  font-weight: 600;
  color: #666;
  font-size: 14px;
}
.fa-ellipsis-v:hover {
  background-color: #f1f1f1;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
}
.fa-ellipsis-v {
  padding: 10px 15px;
}
.dropdown-menu {
  min-width: auto;
  box-shadow: 1px 1px rgba(102, 102, 102, 0.1);
}
.dropdown {
  margin-right: 1em;
}
#partner-icon {
  margin: 4px;
  margin-left: 2px;
}
@media only screen and(min-width: 992px) {
  .col-md-8 {
    width: 65.666667%;
  }
}
@media only screen and (max-width: 768px) {
  .modal-copy {
    width: 100% !important;
  }
}
@media only screen and (min-width: 768px) {
  .modal-copy {
    width: 45% !important;
  }
}
.gearDropdownMenu {
  font-size: 18px;
  top: 9px;
  /* color: #00a6e8; */
  cursor: pointer;
}
.caretDropdownMenu {
  top: 4px;
  position: relative;
  color: #00a6e8;
}
.mobile-css {
  position: absolute !important;
  top: -129px !important;
}
.circled-number.disabled {
  cursor: not-allowed;
}
.cancel-ribbon {
  background-color: red;
}
.ribbon div {
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: red;
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: -21px;
}
.ribbon div::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid red !important;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid red !important;
}
.ribbon div::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid red !important;
  border-bottom: 3px solid transparent;
  border-top: 3px solid red !important;
}
#notification-list {
  background-color: #ed1c24;
  color: white;
  margin-bottom: 36px;
  margin-left: -23px;
  margin-top: -2px;
}
.bottomTableCss {
  margin-bottom: 300px !important;
}
.imageClass {
  background: #f2f4f9;
  border: solid 1px #008fd5;
  border-radius: 5px;
  height: 60px !important;
}
.btn-xs {
  padding: 0px 0px !important;
}
.disablednew {
  pointer-events: none;
  opacity: 0.7;
  color: gray;
  border-color: gray;
}
.bar a {
  margin: 10px 2px;
}
.re-distributed-high-level {
  width: 120px;
  cursor: default;
  border-color: #00a6e8;
  border-radius: 3px;
  overflow: auto;
  color: #00a6e8;
  margin-bottom: 15px;
}
.banner-top {
  margin-top: 5px;
}
.custom-font-weight {
  font-weight: 600 !important;
  /* white-space: pre-wrap; */
}
.custom-font-size {
  font-size: 16px !important;
}
/* table tr:nth-child(odd) td {
  background: rgb(240 240 240);
}
table tr:nth-child(even) td {
  background: rgb(250 250 250);
} */
.campaign-search-rr {
  position: relative;
  right: -11px;
}
@media screen and (max-width: 600px) {
  .mWid {
    display: block !important;
  }
  .mSlide {
    overflow-x: auto;
  }
}
.breadcrumb-right-btn {
  padding: 9px;
}
.mix-filter li {
  padding: 6px 5px;
}
/********tharak *********/
@media (min-width: 768px) {
  .pr5 {
    padding-left: 5px;
  }
}
.form-control {
  padding: 5px 12px;
}
.view-banner {
  color: white !important;
}

.ribbon span::before {
  border-left: 3px solid #5ab1eb;
  border-top: 3px solid #5ab1eb;
}

.ribbon span::after {
  border-right: 3px solid #5ab1eb;
  border-top: 3px solid #5ab1eb;
}
/* 21-06-2023 */
.setting-icon-cu {
  /* border: 1px solid #5bb2f5;
  color: #5bb2f5; */
  width: 28px;
  height: 28px;
  border-radius: 50%;
  text-align: center;
  line-height: 26px;
  vertical-align: middle;
  margin-right: 7px;
}
span.dropdown-font-cu {
  margin-left: 2px;
  border-top: 3px dashed;
  border-top: 4px solid\9;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  top: 0px;
}
span.gearicon-font-cu {
  font-size: 15px;
  top: 3px;
  left: 0px;
  box-shadow: none !important;
}
.mix-filter li:hover {
  background: #6dcff6;
}

/* 06-07-2023 */
.active-campaigns-all-btns-oneinline span {
  white-space: break-spaces;
  line-height: 2.5;
}

@media (min-width: 767px) and (max-width: 1268px) {
  .scroll-top-margin {
    margin-top: 26px;
  }
}

.prt3px {
  position: relative;
  top: -3px;
}
.active-campaign-color {
  background-color: #5cb85c;
}
.loading{
  width: 48px;
  height: 48px;
}
.view-more-css{
  background-color: #d9edf700 !important;
  border-color: #bce8f100 !important;
  color: #31708f !important;
  padding: 5px 14px;
  cursor:default;
  width: 99%!important;
}
.down-arrow {
  width: 21px!important;
  height: 21px!important;
  line-height: unset !important;
  font-weight: 600;
  margin-left: 2px;
}
.fs-13{
  font-size: 13px;
}