<div class="page-content">
	  <div *ngIf="campaignSuccessMessage?.length > 0" id="lanchSuccess" class="alert alert-success alert-dismissable fade in">
	 	<strong>{{campaignSuccessMessage}}</strong>
	 </div>
	 
	  <div *ngIf="isCampaignDeleted" id="deleteSuccess" class="alert alert-success alert-dismissable fade in">
	 	<strong>Campaign Deleted Successfully</strong>
	 </div>
	 
	   <div *ngIf="isScheduledCampaignLaunched" id="scheduleCompleted" class="alert alert-info alert-dismissable fade in">
	 	<strong>Editing This Scheduled Campaign Is Not Allowed As Campaign Already Launched</strong>
	 </div>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li>
				<i class="fa fa-home"></i> 
				<a	[routerLink]="['../../dashboard']">Home</a> 
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a>Manage Campaings</a>
			</li>
		</ul>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="tabbable tabbable-custom tabbable-noborder">
				<div class="tab-content">
				<div class="page-bar">
								<ul class="page-breadcrumb">
									<li><i style="font-size: 16px;">List of Campaigns</i></li>

								</ul>
								<div class="page-toolbar">
									<div class="btn-group pull-right">
										<div class="inputs" align="right" style="float: right">
											<div style="float: left; margin-right: 10px">
												<select class="form-control"
									    [(ngModel)]="selectedSortedOption" 
									    (ngModelChange)="getSortedResult($event)">
									  <option *ngFor="let sortOption of sortByDropDown" [ngValue]="sortOption">
									    {{sortOption.name}}
									  </option>
							</select>
											</div>
											<div class="portlet-input input-inline input-small">
												<div class="input-icon right">
													<i class="icon-magnifier"  (click)="searchCampaigns()" style="cursor: pointer;"></i>
									<input type="text" 
									 class="form-control input-circle"  [(ngModel)]="searchKey" [ngModelOptions]="{standalone: true}"  placeholder="search...">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
					<div class="tab-pane active">
						<div class="margin-top-10" >
							<div class="row mix-grid" style="margin-top: 10px">
							<app-loader *ngIf="httpRequestLoader.isLoading"></app-loader>
							<app-error-pages *ngIf="httpRequestLoader.isServerError"></app-error-pages>
							<ng-container *ngIf="totalRecords > 0 && !httpRequestLoader.isLoading && !httpRequestLoader.isServerError">
								<div *ngFor="let campaign of pagination.pagedItems">
												<div class="col-md-3 col-sm-4 mix category_1 mix_all"  style="display: block; opacity: 1; margin-top: -11px;">
										    <div id="container">
										    	<h3 *ngIf="campaign.launched" class="launched">Launched<span class="launched-arrow"></span></h3> 
										    	<h3 *ngIf="!campaign.launched && campaign.launchedOn?.length > 0" class="saved">Scheduled<span class="saved-arrow"></span></h3> 
										    	<h3 *ngIf="!campaign.launched && campaign.launchedOn?.length==0" class="saved">Saved<span class="saved-arrow"></span></h3> 
										    </div>
											<div class="mix-inner">
												<img *ngIf="!campaign.regularEmail && campaign.launched " class="img-responsive" src="assets/images/video-email.png" style="height: 168px;" alt="No Image Found">
												<img *ngIf="!campaign.regularEmail && !campaign.launched " class="img-responsive" src="assets/images/video-email.png" style="height: 168px;-webkit-filter: grayscale(100%);filter: grayscale(100%);" alt="No Image Found">
												<img *ngIf="campaign.regularEmail && campaign.launched" class="img-responsive" src="assets/images/regular-email.png" style="height: 168px;" alt="No Image Found">
												<img *ngIf="campaign.regularEmail && !campaign.launched" class="img-responsive" src="assets/images/regular-email.png" style="height: 168px;-webkit-filter: grayscale(100%);filter: grayscale(100%);" alt="No Image Found">
												<div class="mix-details" style="z-index: 700;padding: 7px;">
													<h4>{{campaign.campaignName}}</h4>
													<div style="top: 2%; position: relative; margin-left: 5px;">
													</div>
													<div style="top: 30%; position: relative;">
														<a *ngIf="campaign.launched==false" class="mix-preview4 fancybox-button" (click)="editCampaign(campaign.campaignId)" title="Edit Campaign" data-rel="fancybox-button"> 
															<i class="fa fa-pencil-square-o"></i>
														</a> 
														<a class="mix-preview6 fancybox-button" (click)="confirmDeleteCampaign(campaign.campaignId)" title="Delete Campaign"data-rel="fancybox-button"> 
															<i class="fa fa-trash"></i>
														</a>
													</div>
													<span align="right" style="bottom: 13px; float: right; position: absolute; right: 10px;">
														<b  *ngIf="campaign.launched">Launched On</b>
														<b *ngIf="!campaign.launched && campaign.launchedOn?.length > 0">Scheduled For</b>
														<b *ngIf="!campaign.launched && campaign.launchedOn?.length==0">Saved</b>
													</span>
												    <span align="right" title="upladed date" style="bottom: -2px; float: right; position: absolute; right: 4px;" >
												    	<b *ngIf="campaign.launched || !campaign.launched && campaign.launchedOn?.length > 0">{{campaign.launchedOn}}</b>
												    	<!-- <b *ngIf="!campaign.launched && campaign.launchedOn?.length==0" >{{campaign.endTime}}</b> -->
												    </span>
												</div>
											</div>
											<div>
										 </div>
										</div>
								</div>
							</ng-container>	
							</div>
						</div><!-- End of 24 -->
					</div>
				</div><!-- End Of tab Content -->
				<div *ngIf="totalRecords > 0 && !httpRequestLoader.isLoading && !httpRequestLoader.isServerError">   
					<ul *ngIf="pagination.pager.pages && pagination.pager.pages.length" class="pagination">
	                        <li [ngClass]="{disabled:pagination.pager.currentPage === 1}">
	                           <a (click)="setPage(1)" [class.disabled]="pagination.pager.currentPage === 1">First</a>
	                        </li>
	                        <li [ngClass]="{disabled:pagination.pager.currentPage === 1}">
	                            <a (click)="setPage(pagination.pager.currentPage - 1)" [class.disabled]="pagination.pager.currentPage === 1">Previous</a>
	                         </li>
	                         <li *ngFor="let page of pagination.pager.pages" [ngClass]="{active:pagination.pager.currentPage === page}">
	                            <a (click)="setPage(page)">{{page}}</a>
	                         </li>
	                         <li [ngClass]="{disabled:pagination.pager.currentPage === pagination.pager.totalPages}">
	                             <a (click)="setPage(pagination.pager.currentPage + 1)" [class.disabled]="pagination.pager.currentPage === pagination.pager.totalPages">Next</a>
	                         </li>
	                          <li [ngClass]="{disabled:pagination.pager.currentPage === pagination.pager.totalPages}">
	                             <a (click)="setPage(pagination.pager.totalPages)" [class.disabled]="pagination.pager.currentPage === pagination.pager.totalPages">Last</a>
	                         </li>
	                       </ul>
						<!-- <div class="col-xs-1" style="float: right;margin-top: 10px;">
							<select class="btn btn-primary"
									    [(ngModel)]="itemsSize" 
									    (ngModelChange)="getNumberOfItemsPerPage($event)">
									  <option *ngFor="let itemPerPage of numberOfItemsPerPage" [ngValue]="itemPerPage">
									    {{itemPerPage.name}}
									  </option>
							</select>
						</div> -->
				</div>
			</div>
		</div>
	</div>
	 <div *ngIf="totalRecords <= 0"  class="alert alert-info"><strong>No Campaigns Found</strong></div>
</div>
