
<div class="page-content">
 <div *ngIf="campaigns?.length <=0"  class="alert alert-danger"><strong>No Campaigns Found</strong></div>
	<div class="row mix-grid" style="margin-top: 10px" *ngIf="campaigns?.length > 0">
		<div *ngFor="let campaign of campaigns">
			<div class="col-md-3 col-sm-4 mix category_1 mix_all"	style="display: block; opacity: 1;" id="campaignListDiv_{{campaign.campaignId}}">
				<div class="mix-inner">
					<img class="img-responsive"
						src="../../assets/admin/pages/media/works/img1.jpg" alt="">
					<div class="mix-details-fill">
						<h4>{{campaign.campaignName}}</h4>
						<div style="top: 7%; position: relative;">
							<a *ngIf="campaign.launched==false" class="mix-preview4 fancybox-button" (click)="editCampaign(campaign.campaignId)" title="Edit Campaign" data-rel="fancybox-button"> 
								<i class="fa fa-pencil-square-o"></i>
							</a> 
							<a class="mix-preview6 fancybox-button" (click)="confirmDeleteCampaign(campaign.campaignId)" title="Delete Campaign"data-rel="fancybox-button"> 
								<i class="fa fa-trash"></i>
							</a>
						</div>
						<span *ngIf="campaign.launched==false" align="right" style="bottom: 10px; float: right; position: absolute; right: 10px;">
							<img alt="" src="../assets/images/draft.png">
						</span>
						<span *ngIf="campaign.launched==true" align="right" style="bottom: 10px; float: right; position: absolute; right: 10px;">
							<img alt="" src="../assets/images/launched.png">
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END PAGE CONTENT-->