.activity_card {
    border: 1px solid #ddd;
    padding: 10px 15px 10px 15px;
    border-radius: 7px;
    background-color: #fff;
}
.activity-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .activity-title {
    font-weight: 400;
  }
  .activity-date {
    color: #666;
    font-size: 12px;
  }
  .activity-body {
    display: flex;
    align-items: baseline;
    margin-top: 8px;
    color: #555;
  } 
  .activity-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 4px 0px;
  }
  .activity-footer a {
    color: #578ebe;
    text-transform: capitalize;
    font-weight: 600;
  }
  .icon {
    font-size: 13px;
    padding-right: 5px;
  }
  .alert {
    padding: 15px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .fa-lock{
    font-size: 12px;
    margin-right: 2px;
  }
  .ml_20{
    margin-left: 20px;
  }
  .delete-bg-color {
    background-color: #fa3131;
  }
  .fa-trash-o {
    font-size: 12px;
    margin-right: 2px;
  }
  .fa-edit {
    font-size: 12px;
    margin-right: 2px;
  }
  .task_delete{
    font-size: 10px;
    border-radius: 4px;
    padding: 2px 5px;
    background-color: #f20000;
    border: 1px solid #ea2370;
    color: #ffff;
  }
  .task_delete:hover {
    background-color: #d52828;
  }
  .task_edit{
    font-size: 10px;
    color: #578ebe;
    background-color: #d9e5ff;
    border: 1px solid #8abeff;
    border-radius: 4px;
    padding: 2px 5px;
  }
  .task_edit:hover{
    background-color: #c6d5f6;
  }
  .activity-updated-status-btn-v2 {
    padding: 2px 6px !important;
    font-size: 10px !important;
    color: #576064;
    border: 1px solid #576064;
    font-weight: 800;
    background: transparent!important;
  }