
.portlet.light .portlet-body {
    padding-top: 0px!important;
}

.text {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

h4 {
    font-weight: 500!important;
    font-size: 15px!important;
}

h5 {
    font-size: 14px!important;
    font-weight: 400!important;
}

.img1 {
    background: #ebf1ff;
    text-align: center;
    height: 233px;
    border-radius: 5px;
}

.img-responsive,
.thumbnail a>img,
.thumbnail>img {
    padding-top: 65px;
    display: block;
    max-width: 112px;
    height: auto;
}

.para1 {
    padding: 10px 95px 20px 99px;
    font-size: 16px;
    text-align: justify;
}

.para2 {
    padding: 7px 91px 20px 99px;
    font-size: 16px;
    text-align: justify;
}


.hover-effect:hover {
    border: 1px solid #4eafd6;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.pointer {
    cursor: pointer;
}

.design-name{
	color: #008fd5;
    font-size: 12px;
    font-weight: 600;
}

@media only screen and (max-width:600px){
    .mDisableColor{
        color: #888!important;
    }
}
.portlet > .portlet-title > .caption{
    line-height: 30px;
}
.mt{
margin-top: 9px !important;
}
.padding{
    padding: 10px 30px 22px !important;
}