<div class="page-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home" aria-hidden="true"></i>
                <a translate [routerLink]="referenceService?.homeRouter">Home</a> <i class="fa fa-angle-right"
                    aria-hidden="true"></i>
            </li>
            <li><a translate>Create Design</a></li>
        </ul>
        <app-user-guide-help-button [searchForGuides]="searchWithModuleName"></app-user-guide-help-button>
    </div>
    <!-- End of page-bar -->
    <div class="row">
        <div class="col-md-12">
            <ngx-loading [show]="isLoading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
            <app-response-message class="pg8" [customResponse]="customResponse" *ngIf="customResponse.isVisible">
            </app-response-message>
            <!-- BEGIN INLINE NOTIFICATIONS PORTLET-->
            <div class="portlet padding">
                <div class="portlet-title">
                    <div class="caption" translate style="font-size:20px !important;">
                        Create a Design
                    </div>
                    <div>
                        <button class="button_blue bgcolor-unset" id="right" (click)="openCreateFolderPopup()"
                            translate><span class="btn btn-primary transition txt_pd-top3">Create a
                                Folder</span></button>
                    </div>
                </div>
                <div class="portlet-body neg_mrg_top5">
                    <div class="row">
                        <app-modal-popup-loader *ngIf="isLoading"></app-modal-popup-loader>
                        <ng-container *ngIf="!isLoading">
                            <div *ngIf="emailTemplate" class="col-md-4">
                                <div class="portlet light hover-effect pointer card-radius">
                                    <div class="portlet-body">
                                        <div class="img1 card-template">
                                            <img alt="Templates" style="margin: 0 auto;"
                                                class="pricing-head-img img-responsive	img-templates"
                                                src="assets/admin/pages/media/works/Grid_View_Icons/Templates.png">
                                        </div>
                                        <div class="text text-border">
                                            <h4 class="header-text-css" translate>Templates
                                            </h4>
                                            <p class="header-description-css" translate>
                                                Ideal for utilization in email marketing, video campaigns, and event
                                                promotions.
                                            </p>
                                        </div>
                                        <div class="text mMobileDisable text-border">
                                            <h5>
                                                <a class="mDisableColor"
                                                    [routerLink]="['../../emailtemplates/select']"><i
                                                        class="glyphicon glyphicon-edit" aria-hidden="true"></i>&nbsp;
                                                    <span class="design-name mDisableColor" translate>Design
                                                        Templates</span></a>
                                            </h5>
                                        </div>
                                        <div class="text" style="border: none !important">
                                            <h5 class="designpage-dark-cu">

                                                <a style="padding-left: 10px;"
                                                    [routerLink]="['../../emailtemplates/manage']"><i class="fa fa-list"
                                                        aria-hidden="true">&nbsp;</i>&nbsp;
                                                    <span class="design-name" translate>Manage Templates</span></a>

                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="form" class="col-md-4">
                                <div class="portlet light hover-effect pointer card-radius">
                                    <div class="portlet-body">
                                        <div class="img1 card-template">
                                            <img alt="Forms" style="margin: 0 auto;"
                                                class="pricing-head-img img-responsive	img-templates"
                                                src="assets/admin/pages/media/works/Grid_View_Icons/Forms.png">
                                        </div>
                                        <div class="text text-border">
                                            <h4 class="header-text-css" translate>Forms</h4>
                                            <p class="header-description-css" translate>
                                                Gather information such as contact details, newsletters, customer
                                                feedback effectively.
                                            </p>
                                        </div>
                                        <div class="text mMobileDisable text-border">
                                            <h5>
                                                <a class="mDisableColor" [routerLink]="['../../forms/select']"><i
                                                        class="glyphicon glyphicon-edit"></i>&nbsp;
                                                    <span class="design-name mDisableColor" translate>Design
                                                        Forms</span></a>

                                            </h5>
                                        </div>
                                        <div class="text" style="border: none !important">
                                            <h5 class="designpage-dark-cu">

                                                <a style="padding-left: 10px;" [routerLink]="['../../forms/manage']"><i
                                                        class="fa fa-list"></i>&nbsp;
                                                    <span class="design-name" translate>Manage Forms</span></a>

                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="landingPage || partnerLandingPage" class="col-md-4">
                                <div class="portlet light hover-effect pointer card-radius">
                                    <div class="portlet-body">
                                        <div class="img1 card-template">
                                            <img alt="Pages" style="margin: 0 auto;"
                                                class="pricing-head-img img-responsive	img-templates"
                                                src="assets/admin/pages/media/works/Grid_View_Icons/Pages.png">
                                        </div>
                                        <div class="text text-border">
                                            <h4 class="header-text-css" translate>Pages
                                            </h4>
                                            <p class="header-description-css" translate>
                                                Transform web visitors into potential leads and enhance the success rate
                                                of conversions.
                                            </p>
                                        </div>
                                        <div class="text mMobileDisable text-border" *ngIf="landingPage">
                                            <h5>

                                                <a class="mDisableColor" [routerLink]="['../../pages/select']"><i
                                                        class="glyphicon glyphicon-edit"></i>&nbsp;
                                                    <span class="design-name mDisableColor" translate>Design
                                                        Pages</span></a>

                                            </h5>
                                        </div>
                                        <div class="text" style="border: none !important">
                                            <h5 class="designpage-dark-cu">

                                                <a *ngIf="landingPage" style="padding-left: 10px;"
                                                    [routerLink]="['../../pages/manage']"><i
                                                        class="fa fa-list"></i>&nbsp;
                                                    <span class="design-name" translate>Manage Pages</span></a>

                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-add-folder-modal-popup #addFolderModalPopupComponent
    (notifyChild)="showSuccessMessage($event)"></app-add-folder-modal-popup>