/**************************PricingTagble***************/
.pricing-head > h4 {
  background-color: #ffffff !important;
}
.pricing {
  position: relative;
  margin-bottom: 15px;
  border: 1px solid #008fd5 !important;
  border-radius: 3px !important;
}
.pricing {
  position: relative;
  margin-bottom: 15px;
  border: 3px solid #eee;
  border-radius: 3px !important;
}
.pricing-active {
  border: 3px solid #4eafd6;
  margin-top: -10px;
  box-shadow: 7px 7px rgba(54, 215, 172, 0.2);
}
.pricing:hover {
  border: 3px solid #4eafd6;
}
.pricing:hover h4 {
  color: #4eafd6;
}
.pricing-head {
  text-align: center;
}
.pricing-head h3,
.pricing-head h4 {
  margin: 0;
  line-height: normal;
}
.pricing-head h3 span,
.pricing-head h4 span {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  font-style: italic;
}
.pricing-head h3 {
  font-weight: 300;
  color: #fafafa;
  padding: 12px 0;
  font-size: 20px;
  background: #1fb4ef;
  border-bottom: solid 1px #8dd7f5;
}
.pricing-head h4 {
  color: #bac39f;
  padding: 5px 0;
  font-size: 54px;
  font-weight: 300;
  background: #fbfef2;
  border-bottom: solid 1px #f5f9e7;
}
.pricing-head h4 i {
  top: -8px;
  font-size: 28px;
  font-style: normal;
  position: relative;
}
.pricing-head h4 span {
  top: -10px;
  font-size: 14px;
  font-style: normal;
  position: relative;
}
/*Pricing Footer*/
.pricing-footer {
  color: #777;
  font-size: 11px;
  line-height: 17px;
  text-align: center;
}
/*Priceing Active*/
.pricing:hover {
  z-index: 9;
}
.no-space-pricing .pricing:hover {
  transition: box-shadow 0.2s ease-in-out;
}
.no-space-pricing .price-active .pricing-head h4,
.no-space-pricing .pricing:hover .pricing-head h4 {
  color: #36d7ac;
  padding: 15px 0;
  font-size: 80px;
  transition: color 0.5s ease-in-out;
}
.pricing-head > h4 {
  background-color: #60b4f9;
}
.pricing-head-img {
  margin: 0 auto;
}
#notification {
  position: absolute;
  top: -35px;
  right: -14px;
  padding: 5px 10px;
  border-radius: 50%;
  background: #ffffff;
  color: #468bca;
  border-color: #fff;
  border: 1px solid #cacaca;
  font-weight: 600;
  min-height: 33px;
  min-width: 33px;
}
#notification-text {
  padding-top: 4px;
  font-size: 14px;
}
#image-style {
  background-color: #f2f4f9 !important;
  border-bottom: solid 1px #71bade;
  border-radius: 3px 3px 0px 0px;
}
