<div class="page-content">
  <div class="page-bar">
    <ul class="page-breadcrumb">
      <li><i class="fa fa-home"></i> <a routerLink="/home/dashboard/default">Home</a><i class="fa fa-angle-right"></i></li>
      <li><i class="fa fa-rss"></i>RSS</li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="page-bar page-bar-shadow">
        <div class="portlet light">
          <div class="portlet-body">
            <div class="row">
              <app-left-nav [refreshTime]="rssService.refreshTime"></app-left-nav>
              <div class="col-sm-10">
                <div class="col-md-10 col-xs-offset-1">
                  <h4 class="description">Discover the best sources for any topic</h4>
                  <div class="form-group has-feedback has-search">
                    <span class="glyphicon glyphicon-search"></span>
                    <span class="glyphicon glyphicon-remove" (click)="clearSearch()" *ngIf="searchValue"></span>
                    <input type="text" value="{{searchValue}}" class="form-control" placeholder="Search by Topic , Website or RSS Link" style="padding: 26px;padding-left: 49px">
                  </div>
                  <p *ngIf="!loading && searchResponse?.statusCode !== 8105">We couldn't find any results matching this search.</p>
                  <app-rss-loader *ngIf="loading"></app-rss-loader>
                  <div *ngIf="searchResponse?.statusCode === 8105">
                    <div *ngFor="let item of searchResponse.data">
                      <div class="panel panel-default">
                        <div class="panel-body">
                          <div class="col-xs-2">
                            <img src="{{item.imageUrl}}" (error)="rssService.errorHandlerImage($event)" style="margin: 2rem; width: 60px">
                          </div>
                          <div class="col-xs-10">
      <div class="clearfix">
        <div class="w50">
          <h1 class="heading">{{item.title}}</h1>
        </div>
        <div class="w50">
          <section class="pull-right">
            <div class="btn-group pull-right">
                <button type="button" class="btn dropdown-toggle" [ngClass]="{'btn-primary': item.addedToCollection, 'btn-secondary': !item.addedToCollection}"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span *ngIf="!item.addedToCollection">Follow</span>
                  <span *ngIf="item.addedToCollection">Following</span>
                </button>
                <ul class="dropdown-menu pull-right">
                  <li *ngFor="let category of item.categories"><a><i class="fa fa-rss" aria-hidden="true"></i> {{category.title}} <button class="btn-xs pull-right" (click)="followSource(category.title, item.id)">Add</button></a></li>
                  <li *ngFor="let collection of item.collections"><a><i class="fa fa-rss" aria-hidden="true"></i> {{collection.title}} <button class="btn-xs pull-right" (click)="removeSourceFromCollection(item.companySourceId, collection.id)">Remove</button></a></li>
                  <li role="separator" class="divider m0"></li>
                  <li><a><i class="fa fa-plus" aria-hidden="true"></i> New Collection</a></li>
                </ul>
            </div>
          </section>
        </div>
      </div>
                            <p>{{item.description}}</p>
                            <ul>
                              <li *ngFor="let feed of item.feeds">{{feed.title}}}</li>
                            </ul>
                          </div>                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
