.has-search > span.glyphicon {
  color: #ccc;
  top: 15px !important;
  font-size: 19px;
  position: absolute;
  cursor: pointer;
}

.description {
  font-size: 16px !important;
  font-weight: 400;
  padding-bottom: 4px !important;
  color: #757575;
}

.pb-m {
  margin-left: 5px !important;
}

.bs-example-popover {
  position: absolute;
  right: 300px;
  top: 30px;
  margin: 10px;
}
.bs-example-popover .popover {
  display: block;
  min-width: 300px;
}
.popover.bottom > .arrow {
  top: -11px;
  left: 90%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
}
