<div class="page-content">
        <app-edit-contacts *ngIf="showEdit" [showEdit]="showEdit"
        [selectedContactListId]="selectedContactListId" 
        [contactListId]="selectedContactListId" [contactListName]="selectedContactListName"
        [isDefaultPartnerList]="isDefaultPartnerList" [isSynchronizationList]="isSynchronizationList"
        [isTeamMemberPartnerList]="isTeamMemberPartnerList" [companyName]="selectedCompanyName" [manageCompanies]="isManageCompanies"></app-edit-contacts>
</div>