<div class="page-content">
    <div class="page-bar square-box margin-bottom-10px">
        <ul class="page-breadcrumb">
            <li><i class="fa fa-home"></i> <a [routerLink]="['../../../dashboard']">Home</a> <i class="fa fa-angle-right"></i></li>
            <li><a [routerLink]="['../../facebook-accounts']">Facebook Accounts</a> <i class="fa fa-angle-right"></i></li>
            <li>Posts</li>
        </ul>
    </div>



    <div class="col-xs-12 col-sm-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">Customer Support</span>
                    <span class="caption-helper">45 pending</span>
                </div>
                <div class="inputs">
                    <div class="portlet-input input-inline input-small ">
                        <div class="input-icon right">
                            <i class="icon-magnifier"></i>
                            <input type="text" class="form-control form-control-solid" placeholder="search...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="slimScrollDiv">
                    <div class="scroller">
                        <div class="general-item-list">
                            <div class="item" *ngFor="let post of posts">
                                <div class="item-head">
                                    <div class="item-details">
                                        <img class="item-pic" src="../../assets/admin/layout3/img/avatar2.jpg">
                                        <a href="" class="item-name primary-link">{{post.from.name}}</a>
                                        <span class="item-label">4 hrs ago</span>
                                    </div>
                                </div>
                                <div class="item-body">
                                    <span [innerHTML]="post.message"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>