video{min-width:100%;max-width:100%}
.portlet.light .portlet-body{padding:10px}
.portlet>.portlet-title{margin-bottom:0}
.flex{display:flex}
.img-post{height:350px}
.fb-post-box .portlet-title img{width:48px;height:48px;float:left;margin-right:15px}
.fb-post-box .portlet-title h4.fb-profile-desc{font-weight:500;margin-top:0;color:#666;font-size:14px}
.fb-post-box .portlet-title h5.fb-profile-name{font-weight:600;margin-top:0;color:#666;font-size:14px}
.fb-post-box .portlet-title h5.date{font-weight:500;margin-top:0;color:#666;font-size:12px}
.portlet.light{padding:10px!important}
h4{word-break: break-all}