<div class="page-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home" aria-hidden="true"></i>
                <a [routerLink]="referenceService.homeRouter">Home</a>
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <a [routerLink]="['/home/tracks/manage']">Manage Tracks</a>
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <a>Analytics</a>
            </li>
        </ul>
    </div>
    <app-tracks-play-book-analytics [type]="type"></app-tracks-play-book-analytics>
</div>