#myVideo{  background-color: #5fdbf5; }
.zoomin img {  height: 80px; width: 80px;-webkit-transition: all 2s ease;
                -moz-transition: all 2s ease; -ms-transition: all 2s ease; transition: all 2s ease; }
.zoomin img:hover { width: 87px;height: 87px;  } 
 .closeModal { 
      background-color:white;color:red ;float:right;
       font-size:21px;font-weight:700;line-height:1;opacity:1;
       }
         