<div class="page-content">
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a [routerLink]="refService.homeRouter">Home</a> <i
				class="fa fa-angle-right"></i></li>
			<!-- <li><a [routerLink]="['../../emailtemplates/manageTemplates']">Email
					Templates</a> <i class="fa fa-angle-right"></i></li> -->
			<li><a>Create Email Templates</a></li>
		</ul>
	</div>
	<!-- END PAGE HEADER-->
	<!-- BEGIN PAGE CONTENT-->
	<div class="row">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title m0">
					<div class="row">
						<div class="colxs-12 col-sm-11">
						<div>
							<ul class="mix-filter">
								<li class="filter" (click)="showAllTemplates(0)" [class.emailtemplate-selected]="0 == selectedTemplateTypeIndex">All</li>
								<!-- <li class="filter" (click)="showBasicTemplates(1)" [class.emailtemplate-selected]="1 == selectedTemplateTypeIndex">Basic</li> -->
								<li class="filter" (click)="showRichTemplates(2)" [class.emailtemplate-selected]="2 == selectedTemplateTypeIndex">Basic</li>
								<!-- <li class="filter" (click)="showBasicVideoTemplates(3)" [class.emailtemplate-selected]="3 == selectedTemplateTypeIndex">Basic Video</li> -->
								<li class="filter" (click)="showRichVideoTemplates(4)" [class.emailtemplate-selected]="4 == selectedTemplateTypeIndex">Video</li>
								<li class="filter" (click)="showRegularCoBrandingTemplates(6)" [class.emailtemplate-selected]="6 == selectedTemplateTypeIndex">Email Co-Branding</li>
								<li class="filter" (click)="showVideoCoBrandingTemplates(7)" [class.emailtemplate-selected]="7 == selectedTemplateTypeIndex">Video Co-Branding</li>
								<li class="filter" (click)="showCampaignDefaultTemplates(8)" [class.emailtemplate-selected]="8 == selectedTemplateTypeIndex">Default</li>
								<li class="filter" (click)="showUploadTemplates(5)" [class.emailtemplate-selected]="5 == selectedTemplateTypeIndex">Upload Custom</li>
								<li class="filter" style="display: none;">Own Template</li>
							</ul>
						</div>
						</div>
						<div class="colxs-12 col-sm-1">
							<div class="inputs regular_emails" align="right" style="float: right">
								<div class="portlet-input input-inline input-small">
									<div class="input-icon right" style="width: 200px;margin-left: -55px;">
                    <!-- <i class="icon-magnifier"></i> -->
                     <input type="text" class="form-control"
                      [(ngModel)]="templateFilter.name" placeholder="Search for a template">
                      <button class="glyphicon glyphicon-remove search-box-item-clear" *ngIf="templateFilter.name" (click)="templateFilter.name=''"></button>
                      <button type="submit" class="search-box-item-click" ><i class="fa fa-search"></i></button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="portlet-body">
					<div class="row">
					<app-grid-loader *ngIf="httpRequestLoader.isLoading"></app-grid-loader>
					<app-grid-loader *ngIf="httpRequestLoader.isLoading"></app-grid-loader>
					<app-error-pages *ngIf="httpRequestLoader.isServerError"></app-error-pages>
						<div class="col-md-3 col-sm-4 col-xs-12" *ngFor="let beeRegularTemplate of filteredEmailTemplates | filterBy: templateFilter;let i=index">
							<div class="grid-box">
								<img class="img-responsive center-block" *ngIf="!beeRegularTemplate.campaignDefault" src="{{beeRegularTemplate.body}}" alt="{{beeRegularTemplate.name}}">
								<img class="img-responsive center-block" *ngIf="beeRegularTemplate.campaignDefault" src="{{beeRegularTemplate.subject}}" alt="{{beeRegularTemplate.name}}">
								<h4 title="{{beeRegularTemplate.name}}">{{beeRegularTemplate.name|slice:0:23}} <span *ngIf="beeRegularTemplate.name?.length>23">....</span></h4>
							<div class="bar">
								<a (click)="showTemplateById(beeRegularTemplate.id,i)" *ngIf="!beeRegularTemplate.campaignDefault"><i class="fa fa-plus-circle"></i></a>
								<a (click)="showPreview(beeRegularTemplate)" *ngIf="beeRegularTemplate.campaignDefault"><i class="fa fa-eye"></i></a>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END PAGE CONTENT-->
		</div>
  </div>
  <app-scroll-top></app-scroll-top>
</div>
	<div class="modal" id="show_email_template_preivew">
					<div class="modal-dialog modal-lg" style="width: 75%;">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close-circle" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
								<h4 class="modal-title" id="email-template-title"	style="text-align: center;"></h4>
							</div>
							<div class="modal-body">
								<div id="htmlContent"></div>
							</div>
							<div class="modal-footer">
								<a href="javascript:void(0)" data-dismiss="modal"
									class="btn btn-default" style="float: right">Close</a>
							</div>
						</div>
          </div>

				</div>

	<!-- END CONTENT -->
