.mix-filter {
  margin: 5px;
}
.mix-filter li {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 5px 12px;
}
.box {
  padding: 10px;
}

.text-center {
  text-align: center;
}
.portlet > .portlet-title > .caption {
  float: none;
  display: inherit;
}
.portlet.light .portlet-body {
  padding: 1em;
}
.portlet.light.block:hover {
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-0.5rem);
  -ms-transform: translateY(-0.5rem);
  transform: translateY(-0.5rem);
  cursor: pointer;
  cursor: hand;
}
.fa-4x {
  font-size: 4em;
}
.profile-img-container {
  height: auto;
  width: 100%;
  position: relative;
}
.email-template-container:hover img {
  opacity: 0.4;
}
.email-template-container:not(:hover) .email-template-i-container {
  display: none;
}
.email-template-i-container {
  position: absolute;
  top: 8em;
  left: 0px;
  display: block;
  height: 100%;
  width: 100%;
  z-index: 500;
  text-align: center;
}
.email-template-i-container i {
  display: block;
  line-height: inherit;
}
h1 {
  background: #e3e3e3;
  background: -moz-linear-gradient(top, #e3e3e3, #c8c8c8);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#e3e3e3),
    to(#c8c8c8)
  );
  padding: 10px 20px;
  margin-left: -20px;
  margin-top: 0;
  position: relative;
  width: 70%;
  -moz-box-shadow: 1px 1px 3px #292929;
  -webkit-box-shadow: 1px 1px 3px #292929;
  box-shadow: 1px 1px 3px #292929;
  color: #454545;
}
.arrow {
  width: 0;
  height: 0;
  line-height: 0;
  border-left: 20px solid transparent;
  border-top: 10px solid #c8c8c8;
  top: 104%;
  left: 0;
  position: absolute;
}
.emailtemplate-selected {
  background-color: #6dcff6;
}
.mix-filter li:hover {
  background: #6dcff6;
}
.grid-box img {
  margin: 0 auto;
  height: 390px !important;
  width: 100% !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.grid-box {
  background: #f1f5f9;
  padding-bottom: 0px;
}
.bar {
  height: 40px;
}
.bar a {
  margin: 5px 5px;
}

@media screen and (max-width: 600px) {
  .modal-template {
    width: 100% !important;
    right: 0;
  }
}
@media screen and (min-width: 601px) {
  .modal-template {
    width: 75% !important;
    right: 0;
  }
}

[type="checkbox"] {
  vertical-align: sub;
  width: 16px;
  height: 16px;
}
.select-all-filter {
  text-transform: uppercase;
  font-size: 14px;
  padding: 7px;
  background-color: #6dcff6;
}
.search-box-item-click {
  top: 6px !important;
}
