.mix-filter {
  margin: 5px;
}
.mix-filter li {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 5px 12px;
}
.portlet > .portlet-title > .caption {
  float: none;
  display: inherit;
}
.portlet.light .portlet-body {
  padding: 1em;
}
.portlet.light.block:hover {
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-0.5rem);
  -ms-transform: translateY(-0.5rem);
  transform: translateY(-0.5rem);
  cursor: pointer;
  cursor: hand;
}
.emailtemplate-selected {
  background-color: #6dcff6;
}
.mix-filter li:hover {
  background: #6dcff6;
}
.grid-box img {
  margin: 0 auto;
  height: 390px !important;
  width: 100% !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.grid-box {
  background: #f1f5f9;
  padding-bottom: 0px;
}
.bar {
  height: 40px;
}
.bar a {
  margin: 5px 5px;
}
@media screen and (max-width: 600px) {
  .modal-template {
    width: 100% !important;
    right: 0;
  }
}
@media screen and (min-width: 601px) {
  .modal-template {
    width: 75% !important;
    right: 0;
  }
}
[type="checkbox"] {
  vertical-align: sub;
  width: 16px;
  height: 16px;
}
.select-all-filter {
  text-transform: uppercase;
  font-size: 14px;
  padding: 7px;
  background-color: #6dcff6;
}
.search-box-item-click {
  top: 6px !important;
}
