/* You can add global styles to this file, and also import other style files */
h1 {
	color: #369;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 250%;
}

h2, h3 {
	color: #444;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
}

body {
	margin: 2em;
}

body, input[text], button {
	color: #888;
	font-family: Cambria, Georgia;
}

a {
	cursor: pointer;
	cursor: hand;
}

button {
	font-family: Arial;
	background-color: #eee;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	cursor: hand;
}

button:hover {
	background-color: #cfd8dc;
}

button:disabled {
	background-color: #eee;
	color: #aaa;
	cursor: auto;
}

nav a {
	padding: 5px 10px;
	text-decoration: none;
	margin-top: 10px;
	display: inline-block;
	background-color: #eee;
	border-radius: 4px;
}

nav a:visited, a:link {
	color: #607D8B;
}

nav a:hover {
	color: #039be5;
	background-color: #CFD8DC;
}

nav a.active {
	color: #039be5;
}

.items {
	margin: 0 0 2em 0;
	list-style-type: none;
	padding: 0;
	width: 24em;
}

.items li {
	cursor: pointer;
	position: relative;
	left: 0;
	background-color: #EEE;
	margin: .5em;
	padding: .3em 0;
	height: 1.6em;
	border-radius: 4px;
}

.items li:hover {
	color: #607D8B;
	background-color: #DDD;
	left: .1em;
}

.items li.selected:hover {
	background-color: #BBD8DC;
	color: white;
}

.items .text {
	position: relative;
	top: -3px;
}

.items {
	margin: 0 0 2em 0;
	list-style-type: none;
	padding: 0;
	width: 24em;
}

.items li {
	cursor: pointer;
	position: relative;
	left: 0;
	background-color: #EEE;
	margin: .5em;
	padding: .3em 0;
	height: 1.6em;
	border-radius: 4px;
}

.items li:hover {
	color: #607D8B;
	background-color: #DDD;
	left: .1em;
}

.items li.selected {
	background-color: #CFD8DC;
	color: white;
}

.items li.selected:hover {
	background-color: #BBD8DC;
}

.items .text {
	position: relative;
	top: -3px;
}

.items .badge {
	display: inline-block;
	font-size: small;
	color: white;
	padding: 0.8em 0.7em 0 0.7em;
	background-color: #607D8B;
	line-height: 1em;
	position: relative;
	left: -1px;
	top: -4px;
	height: 1.8em;
	margin-right: .8em;
	border-radius: 4px 0 0 4px;
}

* {
	font-family: Arial, Helvetica, sans-serif;
}

.percentage-circle>.percentage-value {
	margin: -3em 0 0 0;
	font-weight: 600;
	color: #00b3b3;
}

.percentage-circle>.percentage-text {
	margin: 0;
	color: #00b3b3;
}

.fa-facebook-color {
	color: #3b5998;
}

.fa-twitter-color {
	color: #55acee;
}

.fa-google-color {
	color: #dd4b39;
}

.btn-facebook {
	background-color: #3b5998
}

.btn-twitter {
	background-color: #1da1f2
}

.btn-google {
	background-color: #d95535
}

.btn-linkedin {
	background-color: #0077B5
}

.btn-facebook.active, 
.btn-facebook:active, 
.btn-facebook:focus,
.btn-facebook:hover {
	background-color: #30487b
}

.btn-twitter.active, 
.btn-twitter:active, 
.btn-twitter:focus,
.btn-twitter:hover {
	background-color: #259be4
}

.btn-google.active, 
.btn-google:active, 
.btn-google:focus, 
.btn-google:hover {
	background-color: #d54724
}

.btn-linkedin.active,
.btn-linkedin:active, 
.btn-linkedin:focus,
.btn-linkedin:hover {
	background-color: #17709e
}

/* social profile name */
.spn {
	font-weight: 600;
	font-size: 14px;
	color: #777777;
}

.m0 {
	margin: 0 !important;
}

.p0 {
	padding: 0 !important;
}

.portlet.light, 
.dashboard-stat2 {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) !important;
}

.ellipsis {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float: left !important;
}

/* full calendar */
.fc-event {
    border: 1px solid rgba(58, 135, 173, 0);
    background-color: rgba(58, 135, 173, 0.7);
}

/* table */
.table thead > tr > th {
    color: rgba(132, 132, 132, 0.7);
}

.rounded-0, 
.fc-event,
.alert,
.btn,
.portlet.light,
.form-control,
button {
	border-radius: 0 !important;
	webkit-border-radius: 0 !important;
}