<div class="page-content">
    <div *ngIf="showAsset || showTracksPlayBook" class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home" aria-hidden="true"></i>
                <a [routerLink]="referenceService.homeRouter">Home</a>
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <a [routerLink]="referenceService?.selectModuleRouter" translate>Select Module</a>
                <i *ngIf="isCreatedUser" class="fa fa-angle-right" aria-hidden="true"></i>
                <a *ngIf="isCreatedUser" (click)="goToManagePlayBooks()">Manage Play Books</a>
                <i *ngIf="!isCreatedUser" class="fa fa-angle-right" aria-hidden="true"></i>
                <a *ngIf="!isCreatedUser" (click)="goToManageSharedPlayBooks()">Shared Play Books</a>
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <a>View Play Book</a>
            </li>
        </ul>
    </div>
    <app-preview-tracks-play-book [type]="type" [showTracksPlayBook]="showTracksPlayBook" [showAsset]="showAsset" [isCreatedUser]="isCreatedUser" (notifyShowTracksPlayBook)="changeShowTracksPlayBook($event)" (notifyShowAsset)="changeShowAsset($event)" (notifyCreatedUser)="changeIsCreatedUser($event)"></app-preview-tracks-play-book>
</div>