.no-float {
  float: none !important;
}
@media screen and (max-width: 600px) {
  .mSort {
    margin: 5px 0px !important;
  }
  .mAlert {
    text-align: center;
  }
}
.sort-published-partners {
  float: right;
  padding: 4px;
}
