@media (min-width: 200px) and (max-width: 767px)  { 
	.ml15m {
		padding-right: 5px !important;
	}
}
.mdfBoxHeight{height:319px;}

/* table header bgcolor */
.panel-bgMain > .panel-bg{
    background-color: #d9edf7b0;
    border-bottom: 1px solid #ddd;
}
.panel-bgMain {
	border-color: #ddd;
}
/* table header bgcolor end */
.panel-heading {
    padding: 11px 15px !important;
}

