#box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #101010;
    background-color:#f3565d;
    height:103px;
}

.register_deal{
	margin-top: 10px !important;
    margin-left: 15px !important;
}

/* .modal-title{
    margin: 7px;
} */
/* .modal-header {
    padding: 10px;
} */