<div class="col-xs-12 p5" style="min-height: 300px">
  <div class="portlet light">
    <div class="portlet-title">
    <div class="col-xs-12 col-sm-12 col-lg-12 p0">
       <div class="col-xs-12 col-sm-6 col-lg-6 p0">
      <div class="caption" style="font-size:15px; padding-bottom: 0px!important;margin-top: 15px">
        <span class="caption-subject font-red-sunglo uppercase">{{pageHeader | translate}}</span>
      </div>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-lg-6 p0">
    	<!-- <span><a (click)="syncLeadsWithSalesforce()" class="pull-right" style="margin: 9px 14px;padding-top: 3px;padding-left: 5px;">
				Sync Leads with Salesforce</a></span> -->
	  
	  
      <div class="inputs" align="right" style="display: inline-flex;float: right;margin-bottom: 10px">
						<div style="float: left;">
							<button class="btn btn-primary register_deal" data-toggle="tooltip" 
								data-placement="top" title="Synchronize with Salesforce"
								(click)="syncLeadsWithSalesforce()" *ngIf="!isPartner && syncSalesForce"
								style="margin-right: 4px; margin-top: 0px !important;" translate>
								<i class="fa fa-refresh"></i> Salesforce
							</button>
						</div>
						<div style="float: left;">
							<select class="form-control"
								[(ngModel)]="sortOption.leadsSortOption"
								(ngModelChange)="sortLeads($event)"
								style="position: relative; right: -3px;">
								<option *ngFor="let option of sortOption.leadsSortDropDown"
									[ngValue]="option">{{option.name}}</option>
							</select>
						</div>

						<div class="portlet-input input-inline" style="margin-right: 10px;">
          <div class="input-icon right" style="position: relative;right: -11px;">
            <input type="text" style="height:34px;" class="form-control" [(ngModel)]="sortOption.searchKey" [ngModelOptions]="{standalone: true}"
              placeholder="Search " (keypress)="searchLeadsKeyPress($event.keyCode)">
            <button class="glyphicon glyphicon-remove search-box-item-clear" *ngIf="sortOption.searchKey" (click)="sortOption.searchKey=''"></button>
            <button type="submit" class="search-box-item-click" (click)="searchLeads()">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
      </div>
      </div>
    </div>
    <app-response-message [customResponse]="customResponse" *ngIf="customResponse.isVisible"></app-response-message>

    <div class="row" id="box" *ngIf="httpRequestLoader.isServerError" translate>
      Please contact admin for 'Leads'
    </div>
    <app-list-loader *ngIf="httpRequestLoader.isLoading && !httpRequestLoader.isServerError"></app-list-loader>
    <div class="portlet-body table-responsive" style="overflow: hidden;" *ngIf="!httpRequestLoader.isLoading && !httpRequestLoader.isServerError ">
      <div class="table-responsive">
      <table class="table tgrid">
        <thead>
          <tr>
            <th class="center-aligned" translate>Lead</th>
            <th class="center-aligned" *ngIf="pageText != 'TOTAL LEADS'" translate>Deal Title</th>
            <th class="center" translate>Campaign Name</th>
            <th class="center"  translate>Added By</th>
            <th class="center" *ngIf ="!isPartner && pageText != 'TOTAL LEADS'" translate>Status</th>
            <th class="center" style="width: 18%" translate>Actions</th>
            <!--  <th class="center">Details</th> -->
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of pagination.pagedItems;let i=index">
            <tr>
              <td>
                <app-user-info [userInfo]="item" [isCompanyInfo]="true"></app-user-info>
              </td>

              <td class="re-distributed-count" title="{{item.dealTitle}}" *ngIf="pageText != 'TOTAL LEADS'">{{item.dealTitle | slice:0:20}}
                <span *ngIf="item.dealTitle?.length>20">...</span>
              </td>
              <td class="re-distributed-count" title="{{item.campaignName}}">{{item.campaignName | slice:0:20}}
                <span *ngIf="item.campaignName?.length>20">...</span>
              </td>
            
              <ng-container *ngIf="!ownCampaignLeadAndDeal">
                <td *ngIf="filter.length == 0">
                  <h5 class='ellipsis m_t_view' data-toggle="tooltip" data-placement="bottom" title="{{partner.firstName}} {{partner.lastName}}" style="margin: 7px 0 2px 0;font-weight: 400;">{{partner.firstName | slice:0:20}}
                    <span *ngIf="partner.firstName?.length>20">...</span>
                    &nbsp;{{partner.lastName | slice:0:15}}
                    <span *ngIf="partner.lastName?.length>15">...</span>
                  </h5>
                  <h6 class='m0' style="font-weight: 400;">
                    <a title="{{partner.emailId}}">{{partner.emailId | slice:0:30}}</a>
                    <span *ngIf="partner.emailId?.length>30">...</span>
                  </h6>
                  <h5 style="font-weight: 600; color: #676767;">
                    <app-timestamp [isOnlyDate]="false" [dateAndTime]="item.createdTime">
                    </app-timestamp>
                  </h5>
                </td>
                <td *ngIf="filter.length > 0 && item.partner != null">
                  <h5 class='ellipsis m_t_view' data-toggle="tooltip" data-placement="bottom" title="{{item.partner.firstName}} {{item.partner.lastName}}" style="margin: 7px 0 2px 0;font-weight: 400;">{{item.partner.firstName | slice:0:20}}
                    <span *ngIf="item.partner.firstName?.length>20">...</span>
                    &nbsp;{{item.partner.lastName | slice:0:15}}
                    <span *ngIf="item.partner.lastName?.length>15">...</span>
                  </h5>
                  <h6 class='m0' style="font-weight: 400;">
                    <a title="{{item.partner.emailId}}">{{item.partner.emailId | slice:0:30}}</a>
                    <span *ngIf="item.partner.emailId?.length>30">...</span>
                  </h6>
                  <h5 style="font-weight: 600; color: #676767;">
                   
                    <app-timestamp [isOnlyDate]="false" [dateAndTime]="item.dealCreatedTime">
                    </app-timestamp>
                  </h5>
                </td>
              </ng-container>
              <ng-container *ngIf="ownCampaignLeadAndDeal">
                <td>
                  <h5 class='ellipsis m_t_view' data-toggle="tooltip" data-placement="bottom"  style="margin: 7px 0 2px 0;font-weight: 400;">{{item.leadCreatorFirstName | slice:0:20}}
                    <span *ngIf="item.leadCreatorFirstName?.length>20">...</span>
                    &nbsp;{{item.leadCreatorLastName | slice:0:15}}
                    <span *ngIf="item.leadCreatorLastName?.length>15">...</span>
                  </h5>
                  <h6 class='m0' style="font-weight: 400;">
                    <a title="{{item.leadCreatorEmailId}}">{{item.leadCreatorEmailId | slice:0:30}}</a>
                    <span *ngIf="item.leadCreatorEmailId?.length>30">...</span>
                  </h6>
                  <h5 style="font-weight: 600; color: #676767;">
                    <app-timestamp [isOnlyDate]="false" [dateAndTime]="item.createdTime">
                    </app-timestamp>
                  </h5>
                </td>
              </ng-container>
              

              <td *ngIf ="!isPartner && pageText != 'TOTAL LEADS'">
                <!-- <div *ngIf="item.dealStatus == 'APPROVED' || item.dealStatus == 'OPENED' || item.dealStatus == 'REJECTED'" >
                  <switch [status]=" item.dealStatus == 'APPROVED' " [onText]="'REJECT'" [offText]="'ACCEPT'"
                  [onColor]="callActionSwitch.onRedColorSwitch" [offColor]="callActionSwitch.onGreenColorSwitch" [size]="callActionSwitch.size"
                  (statusChange)="setDealStatus(item.dealId,$event)"></switch>
                  </div> -->
                <select class="form-control" [(ngModel)]="item.dealStatus" (ngModelChange)="setDealStatus(item.dealId,$event)" style="width: 135px"
                *ngIf ="!isPartner && (item.dealStatus != null || item.dealStatus != undefined)">
                  <option *ngFor="let option of leadStatusArray" [ngValue]="option">{{option}}</option>
                </select>
              </td>
              <td>

                <a *ngIf="!isDealSection" data-rel="fancybox-button" (click)="showLeadRegistrationForm(item,$event)" 
                data-toggle="tooltip" data-placement="bottom"
                title="View Lead" style="margin-top: 10px" id="lead">
                  <span class="circled-number" style="height: 40px;width:40px" >
                  <i class="fa fa-tags mr5" aria-hidden="true" style="font-size:18px;margin-top: 13px; margin-left: 6px;"></i>
                </span>
              </a>
              <a *ngIf=" isDealSection" data-rel="fancybox-button" (click)="showDealRegistrationForm(item,$event)"
              data-toggle="tooltip" data-placement="bottom"
               title="View Deal"
                style="margin-top: 10px" id="deal">
                    <span class="circled-number" style="height: 40px;width:40px">
                    <i class="fa fa-tags mr5"  aria-hidden="true" style="font-size:18px"></i>
                    <span  class="badge badge-default" style="margin-bottom: 32px; margin-left: -20px;background-color: #ed1c24 !important;" >
                      <span *ngIf="!item.propCommentCount">0</span><span *ngIf="item.propCommentCount">{{item.propCommentCount}}</span></span>
                  </span>
                </a>
                <a *ngIf="true" data-rel="fancybox-button" (click)="dealRouter(item,$event)"
                data-toggle="tooltip" data-placement="bottom"
                title="Lead Based Reports" style="margin-top: 10px">
                  <span class="circled-number"  style="height: 40px;width:40px">
                    <i class="fa fa-line-chart" aria-hidden="true" style="font-size:18px;margin-top: 13px; margin-left: 6px;"></i>
                  </span>
                </a>

                
                <a *ngIf="true" data-rel="fancybox-button" (click)="showComments(item)"
                data-toggle="tooltip" data-placement="bottom"
                 title="Comments/History" style="margin-top: 10px">
                   
                    <span class="circled-number" style="height: 40px;width:40px">
                    <i class="fa fa-comments" aria-hidden="true" style="font-size:18px"> </i><span class="badge badge-default"  style="margin-bottom: 32px; margin-left: -13px;background-color: #ed1c24 !important;">{{item.newCommentCount}}</span>
                   </span>
                     
                
                </a>
                <a *ngIf="isPartner || ownCampaignLeadAndDeal" data-rel="fancybox-button" (click)="showDealRegistrationForm(item,$event)" [attr.title]="item.deal ? 'Update Deal':'Register Deal'" style="margin-top: 10px">
                   
                  <button class="btn btn-primary register_deal" *ngIf="item.deal" translate>Update Deal</button>
                  <button class="btn btn-primary register_deal" *ngIf="!item.deal" translate>Register Deal</button> 
                   
              
              </a>
              </td>
              <!-- <td>
                    	<a (click)="showComments(item.dealId)">Click Here</a>
                    </td> -->
           
            </tr>
          </ng-container>
        </tbody>
      </table>
      </div>
      <ng-container>
        <div  *ngIf="pagination.pagedItems.length == 0" class="alert alert-info">
          <strong translate>No campaigns found</strong>
        </div>
      </ng-container>
      <div *ngIf="sortOption.totalRecords > 0 && !httpRequestLoader.isLoading && !httpRequestLoader.isServerError" style="background:white">
        <div *ngIf="pagination.pagedItems.length !== 0" style="padding: 0 13px;">
          <app-pagination [pagination]="pagination" [type]="'deal-leads'" [isDropdown]="true" (notifyParent)="navigatePages($event)"
            (notifyParentDropDown)="listCampaignPartners($event)"></app-pagination>
          <select class="form-control" style="float: right; width: auto;margin-top: -37px;" [(ngModel)]="sortOption.itemsSize" (ngModelChange)="changeSize($event)">
            <option *ngFor="let itemPerPage of sortOption.numberOfItemsPerPage" [ngValue]="itemPerPage">{{itemPerPage.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

   <div *ngIf="isCommentSection">
                <app-manage-comments [lead]="commentForLead"  (isCommentSection)="addCommentModalClose($event)"></app-manage-comments>
  </div>
<!-- <div *ngIf="isDealAnalytics">
  <app-deal-analytics [dealId]="selectedDealId"></app-deal-analytics>

</div> -->

