<div class="col-xs-12 p5" >
  <div class="portlet light">
    <div class="portlet-title">
      <div class="caption" >
        <span class="caption-subject font-red-sunglo uppercase">{{filter}} Leads</span>
      </div>
     
      <div class="inputs" align="right" style="float: right">
        <div style="float: left;">
          <select class="form-control" [(ngModel)]="sortOption.leadsSortOption" (ngModelChange)="sortLeads($event)" style="position: relative;right: -3px;">
            <option *ngFor="let option of sortOption.leadsSortDropDown" [ngValue]="option">{{option.name}}</option>
          </select>
        </div>
        <div class="portlet-input input-inline input-medium" style="margin-right: 10px;">
          <div class="input-icon right" style="position: relative;right: -11px;">
            <input type="text" style="height:34px;" class="form-control" [(ngModel)]="sortOption.searchKey" [ngModelOptions]="{standalone: true}"
              placeholder="Search for a Lead/Title/Campaign" (keypress)="searchLeadsKeyPress($event.keyCode)">
            <button class="glyphicon glyphicon-remove search-box-item-clear" *ngIf="sortOption.searchKey" (click)="sortOption.searchKey=''"></button>
            <button type="submit" class="search-box-item-click" (click)="searchLeads()"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="box" *ngIf="httpRequestLoader.isServerError">
      Please contact admin for "Leads"
    </div>
    <app-list-loader *ngIf="httpRequestLoader.isLoading && !httpRequestLoader.isServerError"></app-list-loader>
    <div class="portlet-body table-responsive" style="overflow: hidden;" *ngIf="!httpRequestLoader.isLoading && !httpRequestLoader.isServerError ">
      <table class="table tgrid">
        <thead>
          <tr>
            <th class="center-aligned">Lead</th>
            <th class="center-aligned">Deal Title</th>
            <th class="center">Campaign Name</th>
            <th class="center">Added By (Partner)</th>
            <th class="center">Status</th>
            <th class="center">Actions</th>
            <!--  <th class="center">Details</th> -->
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of pagination.pagedItems;let i=index">
            <tr>
              <td>
                <app-user-info [userInfo]="item" [isPartnerEntityInfo]="true"></app-user-info>
              </td>

              <td class="re-distributed-count" title="{{item.dealTitle}}">{{item.dealTitle | slice:0:20}}
                <span *ngIf="item.dealTitle?.length>20">...</span>
              </td>
              <td class="re-distributed-count" title="{{item.campaignName}}">{{item.campaignName | slice:0:20}}
                <span *ngIf="item.campaignName?.length>20">...</span>
              </td>
              <td  *ngIf="filter.length == 0">
                <h5 class='ellipsis' title="{{partner.firstName}} {{partner.lastName}}" style="margin: 7px 0 2px 0;font-weight: 400;">{{partner.firstName
                  | slice:0:20}}
                  <span *ngIf="partner.firstName?.length>20">...</span>
                  &nbsp;{{partner.lastName | slice:0:15}}
                  <span *ngIf="partner.lastName?.length>15">...</span>
                </h5>
                <h6 class='m0' style="font-weight: 400;">
                  <a title="{{partner.emailId}}">{{partner.emailId | slice:0:30}}</a>
                  <span *ngIf="partner.emailId?.length>30">...</span>
                </h6>
                <h5 style="font-weight: 600; color: #676767;">
                  <app-timestamp [isOnlyDate]="false" [dateAndTime]="item.createdTime">
                  </app-timestamp>
                </h5>
              </td>
              <td  *ngIf="filter.length > 0">
                  <h5 class='ellipsis' title="{{item.firstName}} {{item.lastName}}" style="margin: 7px 0 2px 0;font-weight: 400;">{{item.firstName
                    | slice:0:20}}
                    <span *ngIf="item.firstName?.length>20">...</span>
                    &nbsp;{{item.lastName | slice:0:15}}
                    <span *ngIf="item.lastName?.length>15">...</span>
                  </h5>
                  <h6 class='m0' style="font-weight: 400;">
                    <a title="{{item.emailId}}">{{item.emailId | slice:0:30}}</a>
                    <span *ngIf="item.emailId?.length>30">...</span>
                  </h6>
                  <h5 style="font-weight: 600; color: #676767;">
                    <app-timestamp [isOnlyDate]="false" [dateAndTime]="item.createdTime">
                    </app-timestamp>
                  </h5>
                </td>

                <td>
                  <div *ngIf="item.dealStatus == 'APPROVED' || item.dealStatus == 'OPENED' || item.dealStatus == 'REJECTED'" >
                  <switch [status]=" item.dealStatus == 'APPROVED' " [onText]="'REJECT'" [offText]="'ACCEPT'"
                  [onColor]="callActionSwitch.onRedColorSwitch" [offColor]="callActionSwitch.onGreenColorSwitch" [size]="callActionSwitch.size"
                  (statusChange)="setDealStatus(item.dealId,$event)"></switch>
								</div>
                </td>
                <td>
                  <a *ngIf="true"
                                data-rel="fancybox-button" (click)="dealRouter(item,$event)" title="Deal Based Reports">
                                <span class="circled-number"><i class="fa fa-line-chart"></i></span>
                              </a>
                </td>
              <!-- <td>
                    	<a (click)="showComments(item.dealId)">Click Here</a>
                    </td> -->
            </tr>
          </ng-container>
        </tbody>
      </table>
   
      <div *ngIf="sortOption.totalRecords > 0 && !httpRequestLoader.isLoading && !httpRequestLoader.isServerError" style="background:white">
        <div *ngIf="pagination.pagedItems.length !== 0" style="padding: 0 13px;">
          <app-pagination [pagination]="pagination" [type]="'deal-partners'" [isDropdown]="true" (notifyParent)="navigatePages($event)"
            (notifyParentDropDown)="listCampaignPartners($event)"></app-pagination>
          <select class="form-control" style="float: right; width: auto;" [(ngModel)]="sortOption.itemsSize" (ngModelChange)="changeSize($event)">
            <option *ngFor="let itemPerPage of sortOption.numberOfItemsPerPage" [ngValue]="itemPerPage">{{itemPerPage.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div *ngIf="isDealAnalytics">
  <app-deal-analytics [dealId]="selectedDealId"></app-deal-analytics>

</div> -->


