@media screen and (min-width: 601px) {
  .modal-css {
    width: 50% !important;
    right: 0 !important;
  }
  .salesforce {
    margin-top: -44px;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .modal-css {
    width: 100% !important;
    right: 0 !important;
  }
  .cloud-css {
    left: 65px !important;
  }
  #SgearIcon{left: 65px !important;}
  #GgearIcon{left: 65px !important;}
  #ZgearIcon{left: 65px !important;}
  .salesforce {
    margin-top: -25px;
    text-align: center;
  }
}

@media only screen and (max-width: 992px) and (min-width: 601px) {
  .cloud-css {
    left: 130px !important;
  }
}

@media screen and (max-width: 768px) {
  .cloud-items {
    position: relative;
    font-size: 19px;
    top: -82px !important;
    left: 93px;
  }
}

.cloud-items {
  position: relative;
  font-size: 19px;
  top: -82px;
  left: 100px;
}

.white-space-transform {
  white-space: nowrap;
}

.danger {
  color: red;
}

#download-partners-csv {
  margin-top: 2px;
  float: right;
}

.cct {
  display: block;
  margin-top: 0px !important;
  text-align: center;
  font-size: 24px;
  margin: 0 auto 10px;
}

@media screen and (max-width: 600px) {
  .mSweetalertWid {
    left: 30px !important;
  }
  .mLegalWid {
    width: 178%;
  }
}

.mlm8 {
  margin-left: -3px;
}
.portlet.light > .portlet-title > .caption {
  padding: 5px 0 !important;
}

.sbi-click-child {
  right: 16px !important;
}
.sbi-clear-child {
  right: 50px !important;
}
.portlet > .portlet-title {
  margin-bottom: 0px;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.table {
  margin-bottom: 13px;
}
h5 {
  font-weight: 600;
}
.height {
  min-height: 45px;
}
.portlet.light > .portlet-title > .caption {
  padding: 8px 0px !important;
}
.border {
  padding-left: 50px;
  margin-left: 55px;
}

/* May 19 sudha*/
.modal-header {
  padding: 10px !important;
}
.custom-width-modal-popup {
  width: 69% !important;
}
/* 20-06-2023 */
button.hidden-xs {
  border-radius: 4px;
}
.main-btn {
  background-color: #26a69a;
  color: white;
}
.GraY-Btn {
  background-color: #5a6268;
  border-color: #5a6268;
  color: #ffffff;
}

/* 21-06-23 */
textarea.textareaNumber {
  background-color: black;
    color: '#fff'    
}

.processing-loader-style{
  position: relative; 
  top: -3px; 
  left: -5px; 
  width: 25px; 
  height: 27px;
}

.alert-rd{
  margin-top: 0;
  color: inherit !important;
}

/* 09-08-2023 */
.SidePaddings {
  padding: 10px 10px;
}
#clipBoardValidationMessage h5 {
  line-height: 1.5 !important;
}
.SideParddings1 {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 15px;
}
.SideParddings2 {
  padding: 0px;
}
.SideParddings3 {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 10px;
}
i.IconTopMargin {
  margin-top: 10px !important;
}
i.fa.fa-file-excel-o.cct.IconTopMargin {
  margin-top: 10px !important;
}


@media only screen and (min-width: 1200px) and (max-width: 1260px) {
  .SidePaddings span{font-size: 10px !important;}
}
@media only screen and (min-width: 1079px) and (max-width: 1150px) {
  .scroll-top-abj {padding-top: 15px;}
}
/* gericon */
@media only screen and (min-width: 800px) and (max-width: 969px) {
  #SgearIcon{left: 106px !important;}
  #GgearIcon{left: 106px !important;}
  #ZgearIcon{left: 106px !important;}
} 

 @media only screen and (min-width: 969px) and (max-width: 992px) {
  #SgearIcon{left: 125px !important;}
  #GgearIcon{left: 125px !important;}
  #ZgearIcon{left: 125px !important;}
} 
@media only screen and (min-width: 992px) and (max-width: 1032px) {
  #SgearIcon{left: 75px !important;}
  #GgearIcon{left: 75px !important;}
  #ZgearIcon{left: 75px !important;}
}
@media only screen and (min-width: 1032px) and (max-width: 1072px) {.cloud-items{left: 78px !important;}}
@media only screen and (min-width: 1072px) and (max-width: 1125px) {.cloud-items{left: 81px !important;}}
@media only screen and (min-width: 1125px) and (max-width: 1170px) {.cloud-items{left: 85px !important;}}
@media only screen and (min-width: 1170px) and (max-width: 1199px) {.cloud-items{left: 88px !important;}}
@media only screen and (min-width: 1500px) and (max-width: 1550px) {.cloud-items{left: 74px !important;}}
@media only screen and (min-width: 1550px) and (max-width: 1600px) {.cloud-items{left: 76px !important;}}
@media only screen and (min-width: 1600px) and (max-width: 1650px) {.cloud-items{left: 78px !important;}}
@media only screen and (min-width: 1650px) and (max-width: 1700px) {.cloud-items{left: 80px !important;}}
@media only screen and (min-width: 1700px) and (max-width: 1750px) {.cloud-items{left: 82px !important;}}
@media only screen and (min-width: 1750px) and (max-width: 1880px) {.cloud-items{left: 84px !important;}}
@media only screen and (min-width: 1780px) and (max-width: 1830px) {.cloud-items{left: 86px !important;}}
@media only screen and (min-width: 1830px) and (max-width: 1882px) {.cloud-items{left: 87px !important;}}
@media only screen and (min-width: 1883px) and (max-width: 1920px) {.cloud-items{left: 90px !important;}}



