<style>
.textCss {
	background-color: rgba(0, 0, 0, 0.12);
	bottom: -2px;
	height: 1px;
	left: 13;
	margin: 0;
	padding: 0;
	width: 91%;
}

a.disabled {
	pointer-events: none;
	cursor: not-allowed;
}

.imageblurNormal {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-o-filter: blur(0px);
	-ms-filter: blur(0px);
	filter: blur(0px);
}

.imageblur {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: 0.9;
}

.textWhite {
	color: white;
}

img:hover {
	-webkit-filter: grayscale(0%);
	/* background-image: url('assets/images/crm/dynamics.png'); */
	background-color: #4dff4d;
	filter: grayscale(0%);
	opacity: 2;
}
</style>

<div class="page-content">
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a [routerLink]="['/']">Home</a>
				<i class="fa fa-angle-right"></i></li>
			<li><a>Manage Partners</a></li>
		</ul>
		<div align="right" style="margin-top: 2px;">
			 <a (click)="downloadEmptyCsv()">
				<button type="button" class="btn green" download
					style="color: #ffffff;">
					Download Parter CSV Template<i class="fa fa-cloud-download" aria-hidden="true"
						style="margin-left: 5px"></i>
				</button>
			</a>
		</div>
	</div>
	<div class="portlet light">
		<div class="portlet-body">
			<form #f="ngForm">
									<div class="row">
							<div class="col-xs-6 col-sm-12 col-md-12 col-lg-6">
								<div class="portlet light add-options">
								<div class="portlet-title"> How would you like to add your Partners?</div>
								<div class="portlet-body">
									<div class="row">		
									<div class="col-xs-12 col-sm-4 col-md-4">
										<button class="btn-primary btn-block" id="addContacts"
											(click)="addPartnerModalOpen()"
							 					[disabled]="selectedAddPartnerOption != 1 && selectedAddPartnerOption != 5">
											<i class="fa fa-user-plus"></i>
											<span>One at a Time</span>
										</button>
									</div>
									<div class="col-xs-12 col-sm-4 col-md-4">
										<button class="btn-success btn-block" id="copyFromClipBoard"
											(click)="copyFromClipboard()"
											[disabled]="selectedAddPartnerOption != 5">
											<i class="fa fa-users"></i>
											<span>Copy List Form ClipBoard</span>
										</button>
									</div>
									<div class="col-xs-12 col-sm-4 col-md-4">
										<div class="btn-info fileinput-button btn-block" id="uploadCSV" style="min-height:85px"
											[class.disabled]="selectedAddPartnerOption != 5">
											<i style="display:block; margin-top: 22px !important; text-align: center; font-size:24px; margin:0 auto 10px" class="fa fa-file-excel-o"></i>
											<span style="display:block; font-size:12px; text-align:center">Upload a	CSV</span>
									<input type="file" ng2FileSelect [uploader]="uploader" title=" "
									(change)="fileChange(input)" accept=".csv" #input
									[disabled]="selectedAddPartnerOption != 5" />
										</div>
									</div>
								

								<!-- The global file processing state -->
								<span class="fileupload-process"> </span>
								
								<div class="clearfix"></div>	
								</div>	
								</div>
								</div>
							</div>
							<div class="col-xs-6 col-sm-12 col-md-12 col-lg-6">
									<div class="portlet light cloud-services">
									<div class="portlet-title">Import Partners from the cloud:</div>
									<div class="portlet-body">
									<div class="row">
									
											<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
									<a *ngIf="sfImageNormal" id="salesforceContact_buttonNormal"
										style="background-color: white" (click)="salesforceContacts()"
							[class.disabled]="selectedAddPartnerOption != 5 || selectedAddPartnerOption == 7">
										<img
										[ngClass]="{imageblurNormal:googleImageNormal==true ,imageblur :sfImageBlur==true}"
										src="assets/images/crm/sf.png" class="salesForceImageClass"
										title="Click here to access contacts from your Salesforce account"
										height="86" width="90">
									</a> <a *ngIf="sfImageBlur" id="salesforceContact_button"
										style="background-color: white" (click)="salesforceContacts()"
							[class.disabled]="selectedAddPartnerOption != 5 || selectedAddPartnerOption == 7">
										<img
										[ngClass]="{imageblurNormal:googleImageNormal==true ,imageblur :sfImageBlur==true}"
										src="assets/images/crm/sf.png" class="salesForceImageClass"
										title="Click here to access contacts from your Salesforce account"
										height="86" width="90"
										onmouseover="this.src='assets/images/crm/connecting.png';"
										onmouseout="this.src='assets/images/crm/sf.png';">
									</a>
									<div id="salesforceGear" style="position: relative"	id="salesforceGear" *ngIf="sfImageNormal">
										<a [class.disabled]="selectedAddPartnerOption != 5"
										(click)="settingSocialNetworkOpenModal('salesforce')"> <i id="SgearIcon" class="fa fa-cog" aria-hidden="true"
											style="position: relative; font-size: 19px; top: -82px; left: 78px;"></i>
										</a>
									</div>
									<div style="position: relative" *ngIf="!sfImageNormal">
										<a [class.disabled]="selectedAddPartnerOption != 5"
										(click)="salesforceContacts()"> <i class="fa fa-plug" aria-hidden="true"
											style="position: relative; color: grey; font-size: 19px; top: -82px; left: 78px;"></i>
										</a>
									</div>
								</div>
								<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
									<a *ngIf="googleImageBlur" id="googleContact_button"
										style="background-color: white" (click)="googleContacts()"
							[class.disabled]="selectedAddPartnerOption != 5 || selectedAddPartnerOption == 3">
										<img
										[ngClass]="{imageblurNormal:googleImageNormal==true ,imageblur :googleImageBlur==true}"
										src="assets/images/crm/google.png" class="googleImageClass"
										title="Click here to access contacts from your Google contacts"
										height="86" width="90"
										onmouseover="this.src='assets/images/crm/connecting.png';"
										onmouseout="this.src='assets/images/crm/google.png';">
									</a> <a id="googleContact_buttonNormal" *ngIf="googleImageNormal"
										style="background-color: white" (click)="googleContacts()"
							[class.disabled]="selectedAddPartnerOption != 5 || selectedAddPartnerOption == 3">
										<img
										[ngClass]="{imageblurNormal:googleImageNormal==true ,imageblur :googleImageBlur==true}"
										src="assets/images/crm/google.png" class="googleImageClass"
										title="Click here to access contacts from your Google contacts"
										height="86" width="90">
									</a>
									<div id="GoogleGear" style="position: relative"
										*ngIf="googleImageNormal">
										<a [class.disabled]="selectedAddPartnerOption != 5"
										(click)="settingSocialNetworkOpenModal('google')"> <i id="GgearIcon" class="fa fa-cog" aria-hidden="true"
											style="position: relative; font-size: 19px; top: -82px; left: 78px;"></i>
										</a>
									</div>
									<div style="position: relative" *ngIf="!googleImageNormal">
										<a [class.disabled]="selectedAddPartnerOption != 5"
										(click)="googleContacts()"> <i class="fa fa-plug" aria-hidden="true"
											style="position: relative; color: grey; font-size: 19px; top: -82px; left: 78px;"></i>
										</a>
									</div>
								</div>
								<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
									<a *ngIf="zohoImageBlur" id="zohoContact_button"
										style="background-color: white"
										(click)="checkingZohoContactsAuthentication()"
							[class.disabled]="selectedAddPartnerOption != 5 || selectedAddPartnerOption == 6">
										<img
										[ngClass]="{imageblurNormal:googleImageNormal==true ,imageblur :zohoImageBlur==true}"
										src="assets/images/crm/Zoho.png" class="zohoImageClass"
										title="Click here to access contacts from your Zoho account"
										height="86" width="90"
										onmouseover="this.src='assets/images/crm/connecting.png';"
										onmouseout="this.src='assets/images/crm/Zoho.png';">
									</a> <a *ngIf="zohoImageNormal" id="zohoContact_buttonNormal"
										style="background-color: white"
										(click)="checkingZohoContactsAuthentication()"
							[class.disabled]="selectedAddPartnerOption != 5 || selectedAddPartnerOption == 6">
										<img
										[ngClass]="{imageblurNormal:googleImageNormal==true ,imageblur :zohoImageBlur==true}"
										src="assets/images/crm/Zoho.png" class="zohoImageClass"
										title="Click here to access contacts from your Zoho account"
										height="86" width="90">
									</a>
									<div id="zohoGear" style="position: relative" *ngIf="zohoImageNormal">
										<a [class.disabled]="selectedAddPartnerOption != 5"
										(click)="settingSocialNetworkOpenModal('zoho')"> <i id="ZgearIcon" class="fa fa-cog" aria-hidden="true"
											style="position: relative; font-size: 19px; top: -82px; left: 78px;"></i>
										</a>
									</div>
									<div style="position: relative" *ngIf="!zohoImageNormal">
										<a [class.disabled]="selectedAddPartnerOption != 5"
										(click)="checkingZohoContactsAuthentication()"> <i class="fa fa-plug" aria-hidden="true"
											style="position: relative; color: grey; font-size: 19px; top: -82px; left: 78px;"></i>
										</a>
									</div>
								</div>
								<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
									<a id="microsoftContact_button" style="background-color: white">
										<img src="assets/images/crm/dynamics.png"
										class="imageClass imageblur mdImageClass"
										title="Click here to access contacts from your Microsoft CRM account"
										height="86" width="90" style="margin-bottom: 18px"
										onmouseover="this.src='assets/images/crm/connecting.png';"
										onmouseout="this.src='assets/images/crm/dynamics.png';">
									</a>
								</div>
										
									</div>
									<div class="clearfix"></div>
									
									</div>
									</div>
								</div>
						</div>
			</form>
		</div>
		<div class="btn-group pull-right" style="padding-bottom:10px">
			<button class="btn dropdown-toggle" id="save&delete_button" style="background-color: #26a69a; color: white;"
				data-toggle="dropdown">
				Actions <i class="fa fa-angle-down"></i>
			</button>
			<ul class="dropdown-menu pull-right">
				<li><a id="save_button" (click)="saveContacts()">Save </a></li>
				<li><a id="save_button" (click)="cancelPartners()">Cancel </a></li>
				<li><a id="saveAs_button"
					*ngIf="selectedAddPartnerOption == 5" (click)="editContactComponent.saveAs(); editContactComponent.addPartnerSave = true">Save
						As </a></li>
				 <li><a id="exportToExcel"
					*ngIf="selectedAddPartnerOption == 5 && pagination.pagedItems?.length != 0 " (click)="downloadPartnerList()">Export
						To Excel</a></li>
			</ul>
		</div>
	<div class="col-xs-12" style="padding: 0 0 10px 0">	
		<app-response-message [customResponse]="customResponse" *ngIf="customResponse.isVisible"></app-response-message>
	</div>
		<div *ngIf="deleteErrorMessage" id="campaignError"
			class="col-xs-12 alert alert-danger alert-dismissable">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>Danger!</strong>{{Campaign}}
		</div>
		<div *ngIf="zohoAuthStorageError" class="col-xs-12 alert alert-danger">
			<span>{{zohoAuthStorageError}}</span>
		</div>
		<div *ngIf="fileTypeError" id="csvFileTypeError"
			class="alert alert-danger alert-dismissable" style="width: 50%">
			<b>File type not allowed please select the .csv file only..</b>
		</div>
		<div *ngIf="dublicateEmailId" class="col-md-6"
			class="col-md-9 alert alert alert-danger alert-dismissable"
			style="width: 100%">
			<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<h4 class="m0">
				Duplicate EmailId Exist Please Remove..<u>{{duplicateEmailIds}}</u>
			</h4>
		</div>

		<div class="row" id="Gfile_preview">
			<div class="col-md-12">
				<!-- BEGIN EXAMPLE TABLE PORTLET-->
				<div class="portlet box blue">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-edit"></i>File Preview
						</div>
					</div>
					<div class="portlet-body">

						<table class="table table-striped table-hover table-bordered"
							id="google-contacts-table">
							<thead>
								<tr>
									<td align="center"><input type="checkbox" name="all"
										[(ngModel)]="isHeaderCheckBoxChecked"
										(change)="checkAll($event)" class=""
										id="checkAllExistingContacts" /></td>
									<th>EMAIL</th>
									<th>FIRST NAME</th>
									<th>LAST NAME</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let user of pagedItems;let i = index"
									class='row_{{i}}'>
									<td align="center"><input type="checkbox"
										[checked]="selectedContactListIds.indexOf(user.id)>-1"
										class="chk"
										[class.contact-list-selected]="selectedContactListIds.indexOf(user.id)>-1"
										lang="{{user.name}}" name="campaignContact[]"
										value="{{user.id}}" id="{{user.id}}"
										(click)="highlightRow(user.id,user.emailId,user.firstName,user.lastName,$event)" />
									</td>
									<td>{{user.emailId}}</td>
									<td>{{user.firstName}}</td>
									<td>{{user.lastName}}</td>
								</tr>
							</tbody>
						</table>

						<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
							<li [ngClass]="{disabled:pager.currentPage === 1}"><a
								(click)="setSocialPage(1)">First</a></li>
							<li [ngClass]="{disabled:pager.currentPage === 1}"><a
								(click)="setSocialPage(pager.currentPage - 1)">Previous</a></li>
							<li *ngFor="let page of pager.pages"
								[ngClass]="{active:pager.currentPage === page}"><a
								(click)="setSocialPage(page)">{{page}}</a></li>
							<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
								<a (click)="setSocialPage(pager.currentPage + 1)">Next</a>
							</li>
							<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
								<a (click)="setSocialPage(pager.totalPages)">Last</a>
							</li>
						</ul>

					</div>
				</div>
				<!-- END EXAMPLE TABLE PORTLET-->
			</div>
		</div>

		<div class="row" *ngIf="clipBoard" style="margin-bottom: 15px;">
			<div class="col-sm-12">
				<h3 style="margin-left: 30px;">Copy from text -- paste below</h3>
				<div class="col-xs-12 col-sm-7">
					<div class="col-xs-6" style="margin-bottom: 10px">
						<select class="opts form-control">
							<option selected value="DEFAULT">Delimeter Type</option>
							<option value="CommaSeperated">Comma Seperated</option>
							<option value="TabSeperated">Tab Seperated</option>
						</select>
					</div>
					<div class="col-xs-6" style="margin-bottom: 10px">
						<button class="btn btn-default" type="button"
							style="background-color: #26a69a; color: white"
							(click)="clipboardShowPreview()">SHOW PREVIEW</button>
					</div>
					<div class="col-xs-12">
						<textarea id="copyFromclipTextArea" class="textareaNumber"
							[(ngModel)]="clipboardTextareaText"
							placeholder="firstName,lastName,company,jobtitle,email,address,city,country,mobileNumber,notes       firstName,lastName,company,jobtitle,email,address,city,country,mobileNumber,notes       firstName,lastName,company,jobtitle,email,address,city,country,mobileNumber,notes"
							[ngModelOptions]="{standalone: true}"
							style="height: 150px; font-size: 12px; line-height: 1.4; min-width: 100%; max-width: 100%; width: 100%;"
							required="required">
									</textarea>
					</div>
				</div>
				<div class="col-xs-12 col-sm-5" style="margin-top: 30px;">
					<span id="clipBoardValidationMessage"></span>
				</div>
			</div>
		</div>
		<div class="clearfix">
			<div class="col-xs-12" style="width: 103%; left: -18px;"
				*ngIf="(selectedAddPartnerOption == 2 || selectedAddPartnerOption == 4)">
				<!-- BEGIN EXAMPLE TABLE PORTLET-->
				<div *ngIf="newPartnerUser?.length == 0 && selectedAddPartnerOption == 2"
									class="alert alert-info alert-dismissable">No Partners
									Found..</div>
				<div class="portlet box blue" *ngIf="newPartnerUser?.length != 0">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-edit" style="font-size: 19px;"></i>Partners Preview
						</div>
					</div>
					<div class="portlet-body">
						<div class="btn-group pull-right"
							style="margin-bottom: 10px; left: -16px;">
							<div class="inputs" align="right" style="float: right"></div>
						</div>
						<div class="clearfix">
							<div class="col-xs-12" style="padding: 10px 0;">
								<div class="table-responsive">
									<table class='table tgrid'>
										<thead *ngIf="newPartnerUser?.length != 0">
											<tr>
												<th style="width: 25%; text-align: center;">NAME</th>
												<th>CONTACT</th>
												<th>JOB TITLE</th>
												<th class='text-center'>ADDRESS</th>
												<th class='text-center'>MORE</th>
											</tr>
										</thead>
										<tbody>
										<ng-container
												*ngFor="let newContact of newPartnerUser; let i = index">
											<tr class='row_{{i}}'>
												<td>
												<app-user-info  [userInfo]="newContact"> </app-user-info>
												</td>
												<td>
													<h5>
														<span *ngIf="newContact?.mobileNumber; else NA"
															>{{newContact.mobileNumber}}</span>
													</h5>
												</td>
												<td>
													<h5 class='mb0'>{{newContact.jobTitle}}</h5>
													<h6 class='mt0'>{{newContact.contactCompany}}</h6>
												</td>
												<td>
													<h5 *ngIf="newContact?.address" class='mb0'>{{newContact.address}}</h5>
													<h5 *ngIf="newContact?.city && newContact.country"
														class='mt0'>{{newContact.city}},&nbsp;{{newContact.country}}</h5>
												</td>
												<td align="center">
													<button id='more_less_button_{{i}}'
														(click)="newContact.isShowDetails = ! newContact.isShowDetails">
														<span *ngIf="!newContact.isShowDetails">More</span> <span
															*ngIf="newContact.isShowDetails">Less</span>
													</button>
												</td>
												<ng-template #NA><span>N/A</span></ng-template>
											</tr>
											<tr
												[ngClass]="{'hidden': !newContact.isShowDetails, 'show-more': newContact.isShowDetails}"
												>
												<td colspan="8">
													<table cellpadding="5" cellspacing="0"
														style="padding-left: 50px; margin-left: 55px;">
														<tbody>
															<tr>
																<td class='bold pt10 pb10 bold'>Notes:</td>
																<td class='pt10 pb10'>{{newContact.description}}</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											</ng-container>

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- END EXAMPLE TABLE PORTLET-->
			</div>
		</div>	
		
		<div class="clearfix">
			<div class="col-xs-12" style="width: 103%; left: -18px;"
				*ngIf="selectedAddPartnerOption == 5">
				<!-- BEGIN EXAMPLE TABLE PORTLET-->
				<div class="portlet box blue">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-edit" style="font-size: 19px;"></i>List of Partners
						</div>
						<div class="inputs" align="right" style="float: right; padding: 4px">
													<div style="float: left; margin: 0 10px;">
														<select class="form-control" [(ngModel)]="sortOption"
															(ngModelChange)="sortByOption($event)">
															<ng-container
																*ngFor="let sort of sortOptions; let i = index">
															<option [ngValue]="sort">{{sort.name}}</option>
															</ng-container>
														</select>
													</div> 
													<div class="portlet-input input-inline input-small">
														<div class="input-icon right" style="width:106%">
															<i class="icon-magnifier"
																style="cursor: pointer; font-size: 18px;"
																(click)="search()"> </i> <input type="text"
																[(ngModel)]="searchKey"
																[ngModelOptions]="{standalone: true}" 
																class="form-control" placeholder="Search for a List">
														</div>
													</div>
												</div>
					</div>
					<div class="portlet-body">
						<div class="btn-group pull-right"
							style="margin-bottom: 10px; left: -16px;">
							<div class="inputs" align="right" style="float: right"></div>
						</div>
						<div class="clearfix">
							<div class="col-xs-12" style="padding: 10px 0;">
							<div class="alert alert-info flex" *ngIf="isLoadingList"> 
									<div class="loader" style="position: relative; top: -3px; left: -5px; width: 25px; height: 27px;"></div>
									<h4>Please wait while we process your request</h4>
								</div>
								<div *ngIf="pagination.pagedItems?.length == 0 && newPartnerUser?.length == 0 && !isLoadingList"
									class="alert alert-info alert-dismissable">No Partners
									Found..</div>
								<div class="table-responsive">
									<table class='table tgrid'>
										<thead *ngIf="pagination.pagedItems?.length != 0">
											<tr>
											<th class='text-center'><input type="checkbox"
																[name]="all" [(ngModel)]="editContactComponent.isHeaderCheckBoxChecked"
																(change)="editContactComponent.checkAll($event)"
																[id]="checkAllExistingContacts"/></th>
												<th style="width: 25%; text-align: center;">NAME</th>
												<th>CONTACT</th>
												<th>JOB TITLE</th>
												<th class='text-center'>ADDRESS</th>
												<th class='text-center'>MORE</th>
												<th class='text-center'>ACTIONS</th>
											</tr>
										</thead>
										<tbody>
											<ng-container
												*ngFor="let contact of pagination.pagedItems;let i = index">
											<tr class='row_{{i}}'>
											<td class="text-center" *ngIf="isAdd || !isCampaignDraftContactList "><input
																type="checkbox"
																[checked]="editContactComponent.selectedContactListIds.indexOf(contact.id)>-1"
																class="chk"
																[class.contact-list-selected]="editContactComponent.selectedContactListIds.indexOf(contact.id)>-1"
																lang="{{contact.name}}" name="campaignContact[]"
																value="{{contact.id}}" id="{{contact.id}}"
																(click)="editContactComponent.highlightRow(contact.id,$event)" /></td>
												<td>
													<app-user-info  [userInfo]="contact"> </app-user-info>
												</td>
												<td>
													<h5>
														<span *ngIf="contact?.mobileNumber; else NA">{{contact.mobileNumber}}</span>
													</h5>
												</td>
												<td>
													<h5 class='mb0'>{{contact.jobTitle}}</h5>
													<h6 class='mt0'>{{contact.contactCompany}}</h6>
												</td>
												<td align="center">
													<h5 *ngIf="contact?.address" class='mb0'>{{contact.address}}</h5>
													<h5 *ngIf="contact?.city && contact.country" class='mt0'>{{contact.city}},&nbsp;{{contact.country}}</h5>
												</td>
												<td align="center">
													<button id='more_less_button_{{i}}'
														(click)="contact.isShowDetails = ! contact.isShowDetails">
														<span *ngIf="!contact.isShowDetails">More</span> <span
															*ngIf="contact.isShowDetails">Less</span>
													</button>
												</td>
												<td align="center">
												<div class="actions-block">
												<a *ngIf="contact.signedUp" title="Resend the Email" (click)="sendMail(contact.id)"> 
													<i class="fa fa-envelope"></i>
												</a>
												<a title="Edit Partner" (click)="editUserDetails(contact)"> 
													<i class="fa fa-pencil-square-o" ></i>
												</a> 
												<a title="Delete partner" (click)="deleteUserShowAlert(contact.id)"> 
													<i class="fa fa-trash-o" ></i>
												</a>
												</div>
												</td>
												<ng-template #NA>N/A</ng-template>
											</tr>
											<tr
												[ngClass]="{'hidden': !contact.isShowDetails, 'show-more': contact.isShowDetails}">
												<td colspan="6">
													<table cellpadding="5" cellspacing="0"
														style="padding-left: 50px; margin-left: 55px;">
														<tbody>
															<tr>
																<td class='pt10 pb10 bold'>Notes:</td>
																<td class='pt10 pb10'>{{contact.description}}</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											</ng-container>

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- END EXAMPLE TABLE PORTLET-->
				<app-pagination [pagination]="pagination" [type]="'contacts'" (notifyParent)="setPage($event)"
				(notifyParentDropDown)="onChangeAllPartnerUsers($event)"></app-pagination>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div id="addPartnerModal" class="modal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" data-keyboard="false"
		data-backdrop="static">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" *ngIf="!updatePartnerUser" class="close"
						data-dismiss="modal" (click)="addPartnerModalClose()">&times;</button>
					<button type="button" *ngIf="updatePartnerUser" class="close"
						data-dismiss="modal" (click)="updatePartnerModalClose()">&times;</button>
					<h4 class="modal-title">Add Partner</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" autocomplete="off">
						<div class="form-inline">
							<label class="control-label col-sm-2" for="name"
								style="color: blue"><i class="glyphicon glyphicon-user"
								style="right: 11px" aria-hidden="true"></i></label>
							<div class="form-group col-sm-5">
								<input type="name" style="border: none" class="form-control"
									id="firstName" [(ngModel)]="addPartnerUser.firstName"
									[ngModelOptions]="{standalone: true}"
									placeholder="First Name" maxlength="250">
								<div class="textCss"></div>
							</div>
							<div class="form-group col-sm-5">
								<input type="name" style="border: none" class="form-control"
									id="lastName" [(ngModel)]="addPartnerUser.lastName"
									[ngModelOptions]="{standalone: true}"
									placeholder="Last Name" maxlength="250">
								<div class="textCss"></div>
							</div>
						</div>
						<div class="form-inline">
							<label class="control-label col-sm-2" for="company"
								style="color: #00bcd4;"><i
								class="fa fa-building-o" style="right: 11px !important"
								aria-hidden="true"><span
									style="color: red;"> *</span></i></label>
							<div class="form-group col-sm-5">
								<input type="company" style="border: none" class="form-control"
									id="company" [(ngModel)]="addPartnerUser.contactCompany"
									[ngModelOptions]="{standalone: true}"
									placeholder="Company" maxlength="250">
								<div class="textCss"></div>
							</div>
							<div class="form-group col-sm-5">
								<input type="title" style="border: none" class="form-control"
									id="title" [(ngModel)]="addPartnerUser.jobTitle"
									[ngModelOptions]="{standalone: true}"
									placeholder="Job Title" maxlength="250">
								<div class="textCss"></div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="email"
								style="color: #8512b7; left: 12px"><i
								class="fa fa-envelope-o" aria-hidden="true"><span
									style="color: red;"> *</span></i></label>
							<div class="col-sm-10">
								<input type="email" style="border: none" class="form-control"
									id="email1"
									(blur)="checkingEmailPattern(addPartnerUser.emailId)"
									(input)="validateEmail(addPartnerUser.emailId)"
									[(ngModel)]="addPartnerUser.emailId"
									[ngModelOptions]="{standalone: true}"
									placeholder="Email *" autocomplete="off" maxlength="250">
								<div class="textCss"></div>
								<div style="color: red" *ngIf="!validEmailPatternSuccess">Invalid
									EmailId</div>
								<div style="color: red" *ngIf="isEmailExist">Given Partner already exist</div>
							</div>
						</div>
						<div class="form-group">
							<div class="form-inline">
								<label class="control-label col-sm-2" for="address"
									style="color: #53affe;"><i
									class="glyphicon glyphicon-home" aria-hidden="true"></i></label>
								<div class="form-group col-sm-4">
									<input type="address" style="border: none" class="form-control"
										id="address" [(ngModel)]="addPartnerUser.address"
										[ngModelOptions]="{standalone: true}"
										placeholder="Address" maxlength="250">
									<div class="textCss"></div>
								</div>
								<div class="form-group col-sm-3">
									<input type="city" style="border: none" class="form-control"
										id="city" [(ngModel)]="addPartnerUser.city"
										[ngModelOptions]="{standalone: true}" placeholder="City/Town"
										maxlength="44">
									<div class="textCss"></div>
								</div>
								<div class="form-group col-sm-3">
									<select class="form-control" style="border: none; width: 120%"
										class="form-control" [(ngModel)]="addPartnerUser.country"
										[ngModelOptions]="{standalone: true}" placeholder="Country">
										<option *ngFor="let country of countryNames.countries"
											[value]="country">{{country}}</option>
									</select>
									<div class="textCss"></div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="phone"
								style="color: green"><i class="fa fa-phone"
								aria-hidden="true"></i></label>
							<div class="col-sm-10">
								<input type="text"
									onkeypress="return event.charCode >= 48 && event.charCode <= 57"
									style="border: none" class="form-control" id="phone"
									[(ngModel)]="addPartnerUser.mobileNumber"
									[ngModelOptions]="{standalone: true}"
									placeholder="Mobile Number" maxlength="10"
									autocomplete="off">
								<div class="textCss"></div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="note"
								style="color: #c3c308"><i
								class="glyphicon glyphicon-list" aria-hidden="true"></i></label>
							<div class="col-sm-10">
								<textarea name="note" style="border: none" class="form-control"
									id="note" [(ngModel)]="addPartnerUser.description"
									[ngModelOptions]="{standalone: true}" placeholder="Notes">
		      </textarea>
								<div class="textCss"></div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer" *ngIf="!updatePartnerUser">
					<span style="float: left;">Note: * indicates required</span>
					<button type="submit" class="btn green"
						[disabled]="!checkingForEmail || isEmailExist" (click)="addRow()">Save</button>
				</div>
				<div class="modal-footer" *ngIf="updatePartnerUser">
					<button type="submit" class="btn green"
						[disabled]="!checkingForEmail || isEmailExist" (click)="updatePartnerListUser()">Update</button>
				</div>
			</div>

		</div>
	</div>

	<div id="zohoId">
		<div class="modal" id="zohoShowLoginPopup" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" data-keyboard="false"
			data-backdrop="static">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
					<button type="button" class="close"  (click)="hideZohoModal()"
						data-dismiss="modal">&times;</button>
						<!-- <a class="close-circle" data-dismiss="modal" (click)="hideZohoModal()"><i class="fa fa-times"></i></a> -->
						<div>
							<img src="assets/images/zoho.png" alt="Picture of a happy monkey"
								style="height: 65px" width="90px" />
							<h4 class="modal-title" id="myModalLabel" align="center">
								<b>Sign in</b>
							</h4>
						</div>
					</div>
					<div class="modal-body">
						<form class="form-horizontal">
							<div *ngIf="zohoCredentialError" class="alert alert-danger">
								<span>{{zohoCredentialError}}</span>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3" for="email">Email:</label>
								<div class="col-sm-8">
									<input type="email" style="width: 75%" class="form-control"
										id="email" placeholder="email" [(ngModel)]="userName"
										[ngModelOptions]="{standalone: true}">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3" for="pwd">Password:</label>
								<div class="col-sm-8">
									<input type="password" style="width: 75%" class="form-control"
										id="pwd" placeholder="password" [(ngModel)]="password"
										[ngModelOptions]="{standalone: true}">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3" for="pwd">Import
									From:</label>
								<div class="col-sm-8">
									<select class="opts form-control" style="width: 75%">
										<option selected value="DEFAULT">Select</option>
										<option value="contact">Contacts</option>
										<option value="lead">Leads</option>
									</select>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							(click)="hideZohoModal()">Close</button>
						<button type="button" class="btn btn-primary"
							(click)="zohoContacts()">Authorize</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal" id="zohoShowAuthorisedPopup" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" data-keyboard="false"
		data-backdrop="static">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<div>
					<a class="close-circle" data-dismiss="modal" (click)="hideZohoAuthorisedPopup()"><i class="fa fa-times"></i></a>
					<div>
						<img src="assets/images/zoho.png" alt="Picture of a happy monkey"
							style="height: 65px" width="90px" />
						<h4 class="modal-title" id="myModalLabel" align="center"
							style="margin-top: -20px;">Retrieve Zoho Contacts</h4>
					</div>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="control-label col-sm-3" for="pwd">Import
								From:</label>
							<div class="col-sm-8">
								<select class="opts form-control" style="width: 75%">
									<option selected value="DEFAULT">Select</option>
									<option value="contact">Contacts</option>
									<option value="lead">Leads</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"
						(click)="hideZohoAuthorisedPopup()">Close</button>
					<button type="button" class="btn btn-primary"
						(click)="authorisedZohoContacts()">Authorize</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="salesforceModal" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" data-keyboard="false"
		data-backdrop="static">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header" style="border-bottom: none;">
					<a class="close-circle" data-dismiss="modal"><i class="fa fa-times"></i></a>
					<div class="col-sm-3" style="margin-top: 10px">
						<img src="assets/images/Salesforce-01.png"
							alt="Picture of a happy monkey" style="height: 65px"
							width="100px" />
					</div>
					<div class="col-sm-12"
						style="margin-left: 136px; margin-top: -44px">
						<h4 class="modal-title" id="myModalLabel">import from
							salesforce:</h4>
					</div>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="control-label col-sm-3" for="email">Select
								Option:</label>
							<div class="col-sm-8">
								<select class="opts form-control" id="salesforce-dropdown-1"
									(change)="onChangeSalesforceDropdown($event)">
									<option selected value="DEFAULT">Select</option>
									<option value="contact">Contacts</option>
									<option value="lead">Leads</option>
									<option value="contact_listviews">Contacts_listViews</option>
									<option value="lead_listviews">Leads_listViews</option>
								</select>
							</div>
						</div>
						<div class="form-group"
							*ngIf="salesforceListViewsData?.length > 0">
							<label class="control-label col-sm-3" for="salesforce-dropdown-2">Select
								Option:</label>
							<div class="col-sm-8">
								<select class="form-control" id="salesforce-dropdown-2"
									(change)="onChange($event.target.value)">
									<option selected value="DEFAULT">Select</option>
									<option *ngFor="let item of salesforceListViewsData"
										value='{{item.listViewId}}'>{{item.listViewName}}</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" id="salesforce_save_button"
						class="btn btn-primary" (click)="checkingPopupValues()">Submit</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal" id="settingSocialNetwork" tabindex="-1"
		role="dialog" aria-labelledby="settingSocialNetworkModalLabel"
		data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<a class="close-circle" data-dismiss="modal"><i class="fa fa-times"></i></a>
					<div>
						<h4 class="modal-title" id="settingSocialNetworkModalLabel">{{settingSocialNetwork}}
							Account Settings</h4>
					</div>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<div class="form-group">
							<h4 style="margin-left: 20px;">
								<span class="glyphicon glyphicon-triangle-right"></span>After
								Unlinking, your {{settingSocialNetwork}} account will be removed
								from our platform.
							</h4>
							<h4 style="margin-left: 20px;">
								<span class="glyphicon glyphicon-triangle-right"></span>Would
								you like to delete associated contact lists: <input
									type="checkbox" [(ngModel)]="isUnLinkSocialNetwork"
									[ngModelOptions]="{standalone: true}">
							</h4>
							<button type="button" class="btn btn-primary"
								style="margin-left: 38%; margin-top: 2%"
								(click)="unlinkSocailAccount()">UnLink Account</button>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
