.alert-danger {
  background: #fff;
  border: none;
  color: #ff0600;
  padding: 10px;
}

.fa-question-circle {
  color: #4ba79a;
  position: absolute;
  top: 15px;
  right: 5px;
  font-size: 22px;
  cursor: pointer;
}

nav a:visited,
a:link {
  color: #c6e8e6 !important;
}
