/deep/ .default tag:not(.tag--editing) {
        color:#fff !important ;
        background: blue !important;  
        }
 /deep/ .video-js .vjs-progress-holder .vjs-load-progress {
    position: absolute;
    display: block;
    height: 2.3em; }         
.customCss{
   margin-right: 13px;margin-left: -11px;
        } 

.closeModal {
    background-color:white;
    color:red ;
    float:right;
    font-size:21px;
    font-weight:700;
    line-height:1;
    opacity:1;
    }

.videoSizeCss { 
    position: relative;
    height: 24px;
    padding: 0px 2px;
    }
.example_video_11{
	width:100% !important;
}    
.iconSize{
    font-size: x-large;
    color: white;
    position: relative;
}
.modal { 
    position: fixed; 
    top: 3%; 
    right: 3%; 
    left: 3%; 
    width: auto; 
    margin: 0; 
}
.modal-body { 
    height: 60%; 
}
  .modal-body { 
    max-height: 350px; 
    padding: 15px; 
    overflow-y: auto; 
    -webkit-overflow-scrolling: touch; 
 }