.upload-asset-div {
  width: auto;
  border-radius: 0;
  border: dotted 3px lightgray;
  min-height: 186px;
  background-color: #eee;
  box-shadow: none !important;
  padding: 19px;
  position: relative;
  cursor: pointer;
  margin-bottom: 0;
}
/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}
.mb-padding {
  padding-top: 10px;
}
.text-css {
  position: absolute;
  left: 57px;
  top: 13px;
}
.message-content {
  border: dotted 2px lightgray;
  min-height: 60px;
  padding: 4px 0px;
  border-radius: 6px;
}
.top10px {
  margin-top: 10px;
}
.profile-pic {
  margin-top: -5px;
  position: absolute;
  right: -5px;
  top: 0px;
  border: none;
}
@media screen and (max-width: 600px) {
  .mDesc {
    width: 150%;
  }
}
.inline {
  display: inline-flex;
}
.tags-table tr:nth-child(odd) {
  background-color: #f2f2f2;
}
.asset-thumbnail-div-sm {
  display: block;
  height: 180px;
  background: linear-gradient(45deg, #cdcdcd, transparent);
  padding: 1px;
  margin: 0 auto;
  border: 2px dotted #d3d3d3;
  position: relative;
  cursor: pointer;
  text-align: center;
  color: #fff;
  border-radius: 5px;
}
.asset-img-grid-sm {
  top: 31px;
  height: 110px !important;
  max-width: 100%;
  position: relative;
}
.scroller-lg {
  height: 172px;
  padding: 5px;
  overflow: auto;
}
.bottom-padding {
  padding-bottom: 10px;
}
.desc {
  border: none;
}
@media screen and (max-width: 600px) {
  .mScroll {
    overflow-x: auto;
  }
  .mThumbwidth {
    width: fit-content;
  }
  .mWidth {
    width: 250%;
  }
}
@media only screen and (max-width: 600px) {
  #my-video {
    height: 160px;
    width: 287px;
  }
}
@media only screen and (min-width: 768px) {
  #my-video {
    height: 160px;
    width: 217px;
  }
}
@media only screen and (min-width: 992px) {
  #my-video {
    height: 160px;
    width: 290px;
  }
}
.custom {
  background-color: #008fd5;
  color: #fff;
  border: 1px solid #3575b5;
}
#myVideo {
  background-color: #5fdbf5;
  width: 100%;
  height: 350px;
}
.customDisableCss {
  cursor: not-allowed !important;
  opacity: 0.6;
  pointer-events: none;
}
.loaderSymbol {
  height: 63px;
  color: black;
  border-color: #000000;
  background: #dff0d8;
}
@media only screen and (max-width: 600px) {
  .loaderSymbol {
    height: 130px;
    color: black;
    border-color: #000000;
    background: #dff0d8;
  }
}
.loader-image-tag {
  width: 64px;
  top: -16px;
  left: -18px;
  position: relative;
}
.cf-padding-dam {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 0px;
}

.video {
  background-color: white;
  cursor: default;
}
.btn-primary-light {
  background-color: #cdcdcd;
}
.btn-primary-light:hover {
  background-color: #c0c0c0;
}

.text-wrap-tag {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
