.upload-asset-div {
  width: auto;
  border-radius: 0;
  border: dotted 3px lightgray;
  min-height: 230px;
  background-color: #eee;
  box-shadow: none !important;
  padding: 19px;
  position: relative;
  cursor: pointer;
  margin-bottom: 0;
}
/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}
.mb-padding {
  padding-top: 10px;
}
.text-css {
  position: absolute;
  left: 57px;
  top: 13px;
}
.message-content {
  border: dotted 2px lightgray;
  min-height: 60px;
  padding: 4px 0px;
  border-radius: 6px;
}
.top10px {
  margin-top: 10px;
}
.profile-pic {
  margin-top: -5px;
  position: absolute;
  right: -5px;
  top: 0px;
  border: none;
}
@media screen and (max-width: 600px) {
  .mDesc {
    width: 100%;
  }
}
.inline {
  display: inline-flex;
}
.tags-table tr:nth-child(odd) {
  background-color: #f2f2f2;
}
.asset-thumbnail-div-sm {
  display: block;
  height: 178px;
  background: linear-gradient(45deg, #cdcdcd, transparent);
  padding: 1px;
  margin: 0 auto;
  border: 2px dotted #d3d3d3;
  position: relative;
  cursor: pointer;
  text-align: center;
  color: #fff;
  border-radius: 8px;
  width: auto;
}
.asset-img-grid-sm {
  top: -1px;
  height: 172px !important;
  max-width: 100%;
  position: relative;
  max-width: 100%;
  border-radius: 8px;
}
.scroller-lg {
  height: 172px;
  padding: 5px;
  overflow: auto;
}
.bottom-padding {
  padding-bottom: 10px;
}
.desc {
  border: none;
}
@media screen and (max-width: 600px) {
  .mScroll {
    overflow-x: auto;
  }
  .mThumbwidth {
    width: fit-content;
  }
  .mWidth {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  #my-video {
    height: 160px;
    width: 287px;
  }
}
@media only screen and (min-width: 768px) {
  #my-video {
    height: 160px;
    width: 217px;
  }
}
@media only screen and (min-width: 992px) {
  #my-video {
    height: 160px;
    width: 290px;
  }
}
.custom {
  background-color: #008fd5;
  color: #fff;
  border: 1px solid #3575b5;
}
#myVideo {
  background-color: #5fdbf5;
  width: 100%;
  height: 350px;
}
.customDisableCss {
  cursor: not-allowed !important;
  opacity: 0.6;
  pointer-events: none;
}
.loaderSymbol {
  height: 63px;
  color: black;
  border-color: #000000;
  background: #dff0d8;
}
@media only screen and (max-width: 600px) {
  .loaderSymbol {
    height: 130px;
    color: black;
    border-color: #000000;
    background: #dff0d8;
  }
  .mDesc.overflowtable-control {
    width: 100%;
  }
}
.loader-image-tag {
  width: 64px;
  top: -16px;
  left: -18px;
  position: relative;
}
.cf-padding-dam {
  padding-top: 4px;
}

.video {
  background-color: white;
  cursor: default;
}
.btn-primary-light {
  background-color: #cdcdcd;
}
.btn-primary-light:hover {
  background-color: #c0c0c0;
}

.text-wrap-tag {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.toggle-info-white-label {
  font-size: 20px !important;
  margin: 9px 0px 0 15px !important;
}
/* 31-07-2023 */
@media (min-width: 1024px) and (max-width: 1199px) {
  .col-sm-offset-2 {
    margin-left: 0%;
  }
  .decfsize {
    font-size: 10px;
    padding-bottom: 5px;
  }
}
.add-btn{
border-radius: 4px;
}
@media only screen and (max-width: 1199px) {
  .mb-height_auto {
      height: auto !important;
    }
}

.choose-signature-text {
  color: #007bff;
  cursor: pointer;
}

.choose-signature-text:hover {
  color: #0056b3;
}
.signature-align{
  display:flex;
  align-items:center;
  margin-left: 42px;
  flex-wrap: wrap;
}
.vendor-signature-align{
  margin-left: 45px;
}
.vendor-signaure-label{
  margin-left: 25px;
}
.add_tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  background-color: #f1f5f9;
  border: 1px solid #ddd;
  padding: 6px;
  border-radius: 8px;
  margin: 0px 0px 6px 0px;
  max-height: 140px;
  overflow-y: auto;
  border-radius: 8px;
  align-items: center;
}

.add_tag-container::-webkit-scrollbar{
width:7px;
height: 7px;
}
.add_tag {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  padding: 4px 11px;
  border-radius: 18px;
  font-size: 13px;
  font-weight: 500;
  transition: all 0.3s ease;
  cursor: pointer;
}
.add_tag:hover {
background-color:#007bff !important;
color: #fff;
  transform: scale(1.05);
}

/* Close Button */
.close-btn {
  margin-left: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.3s ease;
}
.close-btn:hover {
  color: #ff3b3b;
  transform: rotate(180deg);
}
.add_more-btn{
color: #63abff;
font-size: 13px;
font-weight: 500;
transition: all 0.3sease;
cursor: pointer;
float: right;
}
.add_more-btn:hover{
text-decoration: underline!important;
}
.iconFontSize{
  font-size: 18px;
  margin: 0px 7px;
}
.grid-container {
  display: flex;
  flex-wrap: wrap;
}
.grid-item {
  flex: 0 0 auto;
  width: auto;
}
.justify-end{
  justify-content: end;
}
.align-baseline{
  align-items: baseline;
  margin-bottom: 16px;
}